﻿<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu" id="mainMenu">
            <li class="treeview" title="Configuration">
                <a href="#">
                    <i class="fa fa-cog fa-spin  fa-fw"></i>
                    <span>Configuration</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <ul class="navigation">
                        <li>
                            <a id="menu-server-edit" href="~/Admin/Config/System/Edit">System</a>
                        </li>
                        <li>
                            <a id="menu-config-language-list" href="~/Admin/Config/Language/List">Languages</a>
                            <ul>
                                <li>
                                    <a id="menu-config-language" href="~/Admin/Config/Language/Add">Language</a>
                                </li>
                                <li>
                                    <a id="menu-config-language" href="~/Admin/Config/Language/Edit">Language</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a id="menu-config-strings-list" href="~/Admin/Config/Localization">Localization</a>
                        </li>
                        <li>
                            <a id="menu-config-country-list" href="~/Admin/Config/Country/List">Countries</a>
                            <ul>
                                <li>
                                    <a id="menu-config-country" href="~/Admin/Config/Country/Add">Country</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a id="menu-group-activity-0" href="~/Admin/Config/Classification/List">Classification</a>
                            <ul>
                                <li>
                                    <a id="menu-group-activity-0-edit" href="~/Admin/Config/Classification/Edit">Edit Classification</a>
                                </li>
                                <li>
                                    <a id="menu-group-activity-0-add" href="~/Admin/Config/Classification/Add">New Classification</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a id="menu-currencies" href="~/Admin/Config/Currency/List">Currencies</a>
                            <ul>
                                <li>
                                    <a href="~/Admin/Config/Currency/Add">Currency</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a id="menu-exchange-rates" href="~/Admin/Config/ExchangeRate/List">Exchange Rates</a>
                            <ul>
                                <li>
                                    <a id="menu-exchange-rate" href="~/Admin/Config/ExchangeRate/Add">Add Exchange Rate</a>
                                </li>
                                <li>
                                    <a id="menu-exchange-rates-auto-update" href="~/Admin/Config/ExchangeRate/Update/Settings">Exchange Rate Auto Update</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a id="menu-fast-message-list" href="~/Admin/Config/FastMessage/List">Fast Messages</a>
                            <ul>
                                <li>
                                    <a href="~/Admin/Config/FastMessage/Add">Add/Edit Fast Message</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a id="menu-player-level-list" href="~/Admin/Config/PlayerLevel/List">Player Level List</a>
                            <ul>
                                <li>
                                    <a href="~/Admin/Config/PlayerLevel/Edit">Edit Player Level</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </ul>
            </li>
            <li class="treeview" title="Servers">
                <a href="#">
                    <i class="fa fa-server" aria-hidden="true"></i>
                    <span>Servers</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <ul class="navigation">
                        <li>
                            <a id="menu-server-list" href="~/Admin/Server/List">Game Server List</a>
                            <ul>
                                <li>
                                    <a id="menu-server-info" href="~/Admin/Server/Add">Server Info</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a id="menu-server-chat" href="~/Admin/Server/Chat">Lobby Chat</a>
                        </li>
                        <li>
                            <a id="menu-maintenance-mode" href="~/Admin/Server/MaintenanceMode">Maintenance Mode</a>
                        </li>
                    </ul>
                </ul>
            </li>
            <li class="treeview" title="Skins">
                <a href="#">
                    <i class="fa fa-cog"></i>
                    <span>Skins</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <ul class="navigation">
                        <li>
                            <a id="menu-skin-list" href="~/Admin/Skin/List">Manage</a>
                            <ul>
                                <li>
                                    <a id="menu-add-skin" href="~/Admin/Skin/Add">Add skin</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a id="menu-skins-money-report" href="~/Admin/Skin/MoneyReport">Skin's Money Report</a>
                        </li>
                    </ul>
                </ul>
            </li>
            <li class="treeview" title="Affiliate Management">
                <a href="#">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <span>Affiliate Management</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <ul class="navigation">
                        <li>
                            <a id="menu-affiliate-settings" href="~/Admin/Affiliate/Settings">Affiliate Settings</a>
                        </li>
                        <li>
                            <a id="menu-affiliate-add" href="~/Admin/Affiliate/Add">Add Affiliate</a>
                        </li>
                        <li>
                            <a id="menu-affiliate-list" href="~/Admin/Affiliate/List">Affiliate List</a>
                            <ul>
                                <li>
                                    <a id="menu-affiliate-edit" href="~/Admin/Affiliate/Edit">Edit Affiliate</a>
                                </li>
                                <li>
                                    <a id="menu-affiliate-info" href="~/Admin/Affiliate/Info">Info Affiliate</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a id="menu-affiliate-make-affiliate" href="~/Admin/Affiliate/Make">Make Affiliate</a>
                        </li>
                    </ul>
                </ul>
            </li>
            <li class="treeview" title="Users">
                <a href="#">
                    <i class="fa fa-user"></i>
                    <span>Users</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <ul class="navigation">
                        <li>
                            <a id="menu-user-dashboard" href="~/Admin/DashBoard/User">Dashboard</a>
                        </li>
                        <li>
                            <a id="menu-add-player-level" href="~/Admin/Config/PlayerLevel/Add">Add Player Level</a>
                        </li>
                        <li>
                            <a id="menu-user-add" href="~/Admin/User/Add">Add User</a>
                        </li>
                        <li>
                            <a id="menu-player-device-list" href="~/Admin/User/List/PlayerDevice">Device List</a>
                        </li>
                        <li>
                            <a id="menu-player-games-info" href="~/Admin/User/Info/PlayerGame">Game List Generalized</a>
                        </li>
                        <li>
                            <a id="menu-player-games-summary" href="~/Admin/User/Summary/PlayerGame">Game Summary Report</a>
                        </li>
                        <li>
                            <a id="menu-na-avatars" href="~/Admin/User/NotApprovedAvatar">Not Approved Avatars</a>
                        </li>
                        <li>
                            <a id="menu-user-participation" href="~/Admin/User/List/Participation">Participation</a>
                        </li>
                        <li>
                            <a id="menu-player-groups" href="~/Admin/User/List/GroupPlayer">Player Groups</a>
                            <ul>
                                <li>
                                    <a id="menu-player-group-add" href="~/Admin/User/Add/GroupPlayer">Add Player Group</a>
                                </li>
                                <li>
                                    <a id="menu-player-group-edit" href="~/Admin/User/Edit/GroupPlayer">Edit Player Group</a>
                                </li>
                                <li>
                                    <a id="menu-player-group-view" href="~/Admin/User/View/GroupPlayer">View Player Group</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a id="menu-predefined-avatars" href="~/Admin/User/PredefinedAvatar">Predefined Avatars</a>
                        </li>
                        <li>
                            <a id="menu-user-registered-report" href="~/Admin/User/Registered">Registered Users</a>
                        </li>
                        <li>
                            <a id="menu-user-list" href="~/Admin/User/List">User List</a>
                            <ul>
                                <li>
                                    <a id="menu-user-edit" href="~/Admin/User/Edit">Edit User</a>
                                </li>
                                <li>
                                    <a id="menu-player-clubs" href="~/Admin/User/PlayerClubList">Player Clubs</a>
                                </li>
                                <li>
                                    <a id="menu-player-games" href="/webadmin/listing/player-games">Player Games</a>
                                </li>
                                <li>
                                    <a id="menu-player-info" href="/webadmin/user/info">Player Info</a>
                                    <ul>
                                        <li>
                                            <a id="menu-player-balance-history" href="/webadmin/finance/player-balance-history">Balance History</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a id="menu-player-sessions" href="~/Admin/User/PlayerSessionList">Player Sessions</a>
                                </li>
                                <li>
                                    <a id="menu-player-tournaments" href="~/Admin/User/PlayerTournamentList">Player Tournaments</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a id="menu-reportgen-view-1" title="Shows users' roles" href="/webadmin/reportgen/index/viewing/id/1">User Roles</a>
                        </li>
                    </ul>
                </ul>
            </li>
            <li class="treeview" title="Backoffice Users">
                <a href="#">
                    <i class="fa fa-cog fa-spin  fa-fw"></i>
                    <span>Backoffice Users</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <ul class="navigation">
                        <li>
                            <a id="menu-backoffice-user_add-role" href="~/Admin/Backoffice/User/Role/Add">Add Custom Role</a>
                        </li>
                        <li>
                            <a id="menu-backoffice-user_role-list" href="~/Admin/Backoffice/User/Role/List">Custom Role List</a>
                        </li>
                        <li>
                            <a id="menu-backoffice-user_add-user" href="~/Admin/Backoffice/User/Role/Assign">Assign User</a>
                        </li>
                        <li>
                            <a id="menu-backoffice-user_user-list" href="~/Admin/Backoffice/User/List">User List</a>
                        </li>
                        <li>
                            <a id="menu-backoffice-user_permission" href="~/Admin/Backoffice/User/Role/Permission/Add">Add Permission</a>
                        </li>
                        <li>
                            <a id="menu-backoffice-user_permissions" href="~/Admin/Backoffice/User/Role/Permission/List">Permission List</a>
                        </li>
                    </ul>
                </ul>
            </li>
            <li class="treeview" title="Real Time Monitoring">
                <a href="#">
                    <i class="fa fa-television" aria-hidden="true"></i>
                    <span>Real Time Monitoring</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <ul class="navigation">
                        <li>
                            <a id="menu-all-tables-chat" href="~/Admin/monitoring/AllTablesChat/List">All Tables Chat</a>
                        </li>
                        <li>
                            <a id="menu-realtimemonitoring-index" href="~/Admin/Monitoring/OnlinePlayer/List">Online Players List</a>
                        </li>
                        <li>
                            <a id="menu-players-locations" href="~/Admin/Monitoring/OnlinePlayer/Location">Players Locations</a>
                        </li>
                    </ul>
                </ul>
            </li>
            <li class="treeview" title="Affiliate Money Reports">
                <a href="#">
                    <i class="fa fa-money" aria-hidden="true"></i>
                    <span>Affiliate Money Reports</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <ul class="navigation">
                        <li>
                            <a id="menu-affiliate-profit" href="~/Admin/Affiliate/List/Profit">Affiliate Profit</a>
                        </li>
                        <li>
                            <a id="menu-player-insurance-report" href="~/Admin/Affiliate/List/PlayerInsurance">Player's Insurance</a>
                        </li>
                        <li>
                            <a id="menu-aff-money-player-rake" href="~/Admin/Affiliate/List/Player">Player's Report</a>
                        </li>
                    </ul>
                </ul>
            </li>
            <li class="treeview" title="Tables">
                <a href="#">
                    <i class="fa fa-table" aria-hidden="true"></i>
                    <span>Tables</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <ul class="navigation">
                        <li>
                            <a id="menu-tables-dashboard" href="~/Admin/Table/Dashboard">Dashboard</a>
                        </li>
                        <li>
                            <a id="menu-table-list" href="~/Admin/Table/Active">Active Tables</a>
                            <ul>
                                <li>
                                    <a id="menu-table-chats" href="~/Admin/Table/Chats">Table Chats</a>
                                </li>
                                <li>
                                    <a id="menu-table-info" href="~/Admin/Table/Info">Table Info</a>
                                </li>
                                <li>
                                    <a id="menu-table-view" href="/webadmin/table/view">View table</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a id="menu-table-add" href="~/Admin/Table/Add">Add Table</a>
                        </li>
                        <li>
                            <a id="menu-game-list" href="~/Admin/Table/Game/List">Game History</a>
                            <ul>
                                <li>
                                    <a id="menu-game-info" href="/webadmin/game/view">Game Info</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a id="menu-table-rent-report" href="~/Admin/Table/List/Rent">Rent Report</a>
                        </li>
                        <li>
                            <a id="menu-table-listing" href="~/Admin/Table/List">Table List</a>
                        </li>
                    </ul>
                </ul>
            </li>
            <li class="treeview" title="Tournaments">
                <a href="#">
                    <i class="fa fa-trophy" aria-hidden="true"></i>
                    <span>Tournaments</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <ul class="navigation">
                        <li>
                            <a id="menu-tournaments-dashboard" href="~/Admin/Tournaments/Dashboard">Dashboard</a>
                        </li>
                        <li>
                            <a id="menu-tournament-list" href="~/Admin/Tournaments/Active">Active Tournaments</a>
                            <ul>
                                <li>
                                    <a id="menu-tournament-delete" href="/webadmin/tournament/delete">Delete Tournament</a>
                                </li>
                                <li>
                                    <a id="menu-tournament-edit" href="/webadmin/tournament/edit">Edit Tournament</a>
                                </li>
                                <li>
                                    <a id="menu-tournament-info" href="~/Admin/Tournaments/Info">Tournament Info</a>
                                </li>
                                <li>
                                    <a id="menu-tournament-players" href="/webadmin/tournament/players">Tournament Players</a>
                                </li>
                                <li>
                                    <a id="menu-tournament-tables" href="/webadmin/table/list-by-tournament">Tournament Tables</a>
                                </li>
                                <li>
                                    <a id="menu-tournament-games" href="/webadmin/listing/tournament-games">Tournament games</a>
                                </li>
                                <li>
                                    <a id="menu-tournament-view" href="/webadmin/tournament/view">View Tournament</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a id="menu-tournament-tickets-edit" href="~/Admin/Tournaments/TicketTemplate/Add">Add Ticket Template</a>
                        </li>
                        <li>
                            <a id="menu-tournament-add" href="~/Admin/Tournaments/Add">Add Tournament</a>
                        </li>
                        <li>
                            <a id="menu-tournament-hidden-templates-index" href="~/Admin/Tournaments/TicketTemplates/Hidden">Hidden Ticket Template List</a>
                        </li>
                        <li>
                            <a id="menu-spin-tournament-listing" href="~/Admin/Tournaments/SpinList">Spin Statistics</a>
                        </li>
                        <li>
                            <a id="menu-tournament-tickets-index" href="~/Admin/Tournaments/Tickets">Ticket List</a>
                        </li>
                        <li>
                            <a id="menu-tournament-listing" href="~/Admin/Tournaments/List">Tournament List</a>
                        </li>
                        <li>
                            <a id="menu-tournament-table-listing" href="~/Admin/Tournaments/List/Table">Tournament Table List</a>
                        </li>
                        <li>
                            <a id="menu-tournaments-statistic" href="~/Admin/Tournaments/Statistic">Tournaments Statistic</a>
                        </li>
                    </ul>
                </ul>
            </li>
            <li class="treeview" title="Jackpot">
                <a href="#">
                    <i class="fa fa-tree" aria-hidden="true"></i>
                    <span>Jackpot</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <ul class="navigation">
                        <li>
                            <a id="menu-jackpot-edit" href="~/Admin/Jackpot/Add">Adjustment</a>
                        </li>
                        <li>
                            <a id="menu-jackpot-list" href="~/Admin/Jackpot/Awards/History">JackPot Awards</a>
                        </li>
                    </ul>
                </ul>
            </li>
            <li class="treeview" title="Transactions">
                <a href="#">
                    <i class="fa fa-exchange" aria-hidden="true"></i>
                    <span>Transactions</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <ul class="navigation">
                        <li>
                            <a id="menu-transactions-dashboard" href="~/Admin/Transactions/Dashboard">Dashboard</a>
                        </li>
                        <li>
                            <a id="menu-user-transaction" href="~/Admin/Transactions/Create">Create Transaction</a>
                        </li>
                        <li>
                            <a id="menu-transactions-list-cash-out-pending" href="~/Admin/Transactions/Cashout/Pending/List">Pending Cashout Transactions</a>
                        </li>
                        <li>
                            <a id="menu-transactions-list-pending" href="~/Admin/Transactions/Pending/List">Pending Transactions</a>
                        </li>
                        <li>
                            <a id="menu-transactions-list-processed" href="~/Admin/Transactions/Processed">Processed Transactions</a>
                            <ul>
                                <li>
                                    <a id="menu-transaction-info" href="~/Admin/Transactions/Info"></a>
                                    <ul>
                                        <li>
                                            <a href="/webadmin/transaction/log"></a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a id="menu-system-transaction-list" href="~/Admin/Transactions/System">System Transaction List</a>
                        </li>
                        <li>
                            <a id="menu-transaction-list" href="~/Admin/Transactions/Player">Transaction List</a>
                        </li>
                    </ul>
                </ul>
            </li>
            <li class="treeview" title="Financial Reports">
                <a href="#">
                    <i class="fa fa-list-alt" aria-hidden="true"></i>
                    <span>Financial Reports</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <ul class="navigation">
                        <li>
                            <a id="menu-finance-ad-hoc-report" href="~/Admin/Financial/Report/AdHoc">Ad Hoc Report</a>
                        </li>
                        <li>
                            <a id="menu-money-jackpot-report" href="~/Admin/Financial/Report/Jackpot">Jackpot</a>
                        </li>
                        <li>
                            <a id="menu-money-money-in-system" href="~/Admin/Financial/Report/MoneyInSystem">Money In The System</a>
                        </li>
                        <li>
                            <a id="menu-players-insurance-report" href="~/Admin/Financial/Report/Player/Insurance">Player's Insurance</a>
                        </li>
                        <li>
                            <a id="menu-money-player-money" href="~/Admin/Financial/Report/Player/Money">Player's Money</a>
                        </li>
                        <li>
                            <a id="menu-money-player-rake" href="~/Admin/Financial/Report/Player/Rake">Player's Rake</a>
                        </li>
                        <li>
                            <a id="menu-money-rake-report" href="~/Admin/Financial/Report/Rake">Rake</a>
                        </li>
                        <li>
                            <a id="menu-money-table-rake" href="~/Admin/Financial/Report/Table/Rake">Table's Rake</a>
                        </li>
                    </ul>
                </ul>
            </li>
            <li class="treeview" title="Report Generation">
                <a href="#">
                    <i class="fa fa-outdent" aria-hidden="true"></i>
                    <span>Report Generation</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <ul class="navigation">
                        <li>
                            <a id="menu-reportgen-add" href="~/Admin/ReportGen/Add">Add Report</a>
                        </li>
                        <li>
                            <a id="menu-reportgen-list" href="~/Admin/ReportGen/List">Report List</a>
                            <ul>
                                <li>
                                    <a id="menu-reportgen-edit" href="/webadmin/reportgen/index/edit">Edit Report</a>
                                </li>
                                <li>
                                    <a id="menu-reportgen-view" href="/webadmin/ReportGen/View">View Report</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </ul>
            </li>
            <li class="treeview" title="Actions Log">
                <a href="#">
                    <i class="fa fa-cog fa-spin  fa-fw"></i>
                    <span>Actions Log</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <ul class="navigation">
                        <li>
                            <a id="menu-actions-log-all-changes" href="~/Admin/ActionLog/List">All Changes</a>
                        </li>
                    </ul>
                </ul>
            </li>
            <li class="treeview" title="Anti-Fraud">
                <a href="#">
                    <i class="fa fa-user-secret" aria-hidden="true"></i>
                    <span>Anti-Fraud</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <ul class="navigation">
                        <li>
                            <a id="menu-bot-list" href="~/Admin/AntiFraud/Bot">Bots</a>
                        </li>
                        <li>
                            <a id="menu-game-pairs-list" href="~/Admin/AntiFraud/FraudGamePairs">Chip Dumping</a>
                        </li>
                        <li>
                            <a id="menu-team-game-list" href="~/Admin/AntiFraud/List/CollusionGames">Collusion Games</a>
                        </li>
                        <li>
                            <a id="menu-tournament-players-list" href="~/Admin/AntiFraud/CollusionTournamentsGames">Collusion Tournaments Games</a>
                        </li>
                        <li>
                            <a id="menu-fraud-player-game-search" href="~/Admin/AntiFraud/GameSearch">Game Search</a>
                        </li>
                        <li>
                            <a id="menu-ip-list" href="~/Admin/AntiFraud/List/FraudIP">IP List</a>
                        </li>
                        <li>
                            <a id="menu-players-new-list" href="~/Admin/AntiFraud/Players/New">New Players</a>
                        </li>
                        <li>
                            <a id="menu-team-block-list" href="~/Admin/AntiFraud/List/TeamBlock">Team Block List</a>
                        </li>
                        <li>
                            <a id="menu-tournament-players-roi" href="~/Admin/AntiFraud/TournamentsChipDumping">Tournaments Chip Dumping</a>
                        </li>
                    </ul>
                </ul>
            </li>
            <li class="treeview" title="Banner Management">
                <a href="#">
                    <i class="fa fa-bullhorn" aria-hidden="true"></i>
                    <span>Banner Management</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <ul class="navigation">
                        <li>
                            <a id="menu-banner-add" href="~/Admin/Banner/Add">Add Banner</a>
                            <ul>
                                <li>
                                    <a id="menu-banner-edit" href="~/Admin/Banner/Edit">Edit Banner</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a id="menu-banner-place-add" href="~/Admin/Banner/Place/Add">Add Banner Place</a>
                            <ul>
                                <li>
                                    <a id="menu-banner-place-edit" href="~/Admin/Banner/Place/Edit">Edit Banner Place</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a id="menu-banner-list" href="~/Admin/Banner/List">Banner List</a>
                        </li>
                        <li>
                            <a id="menu-banner-place-list" href="~/Admin/Banner/Place/List">Banner Place List</a>
                        </li>
                    </ul>
                </ul>
            </li>
            <li class="treeview" title="Casino Games">
                <a href="#">
                    <i class="fa fa-cog fa-spin  fa-fw"></i>
                    <span>Casino Games</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <ul class="navigation">
                        <li>
                            <a id="menu-casino-settings" href="~/Admin/Casino/Place/Settings">Settings</a>
                        </li>
                        <li>
                            <a id="menu-casino-provider" href="~/Admin/Casino/List/Provider">Provider List</a>
                        </li>
                        <li>
                            <a id="menu-casino-categories" href="~/Admin/Casino/List/Categories">Category List</a>
                        </li>
                        <li>
                            <a id="menu-casino-games" href="~/Admin/Casino/List/Games">Games List</a>
                        </li>
                    </ul>
                </ul>
            </li>
            <li class="treeview" title="Clubs Management">
                <a href="#">
                    <i class="fa fa-cog fa-spin  fa-fw"></i>
                    <span>Clubs Management</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <ul class="navigation">
                        <li>
                            <a id="menu-club-add" href="~/Admin/Club/Add">Add Club</a>
                        </li>
                        <li>
                            <a id="menu-club-list" href="~/Admin/Club/List">Club List</a>
                            <ul>
                                <li>
                                    <a id="menu-club-edit" href="~/Admin/Club/Edit">Edit Club</a>
                                    <ul>
                                        <li>
                                            <a id="menu-club-members" href="/webadmin/club/members">Club Members List</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a id="menu-union-list" href="~/Admin/Club/List/Union">Union List</a>
                            <ul>
                                <li>
                                    <a id="menu-union-view" href="/webadmin/union/view">View Union</a>
                                    <ul>
                                        <li>
                                            <a id="menu-union-data" href="/webadmin/union/data">Union Data</a>
                                        </li>
                                        <li>
                                            <a id="menu-union-members" href="/webadmin/union/members">Union Members List</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </ul>
            </li>
            <li class="treeview" title="Deposit Bonus">
                <a href="#">
                    <i class="fa fa-gift" aria-hidden="true"></i>
                    <span>Deposit Bonus</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <ul class="navigation">
                        <li>
                            <a id="menu-bonus-list" href="~/Admin/Bonus/List">Bonus List</a>
                            <ul>
                                <li>
                                    <a id="menu-bonus-info" href="~/Admin/Bonus/Info">Bonus Info</a>
                                </li>
                                <li>
                                    <a id="menu-bonus-receivings" href="/webadmin/bonus/receiving/list-by-bonus">Receivings List</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a id="menu-bonus-config" href="~/Admin/Bonus/Config">Configuration</a>
                        </li>
                    </ul>
                </ul>
            </li>
            <li class="treeview" title="Google Analytics">
                <a href="#">
                    <i class="fa fa-cog fa-spin  fa-fw"></i>
                    <span>Google Analytics</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <ul class="navigation">
                        <li>
                            <a id="menu-ganalyticsDevicesReports" href="~/Admin/ganalytics/DevicesReports">Devices Reports</a>
                        </li>
                        <li>
                            <a id="menu-ganalyticsUsersReports" href="~/Admin/ganalytics">Users Reports</a>
                        </li>
                    </ul>
                </ul>
            </li>
            <li class="treeview" title="In-App Purchases">
                <a href="#">
                    <i class="fa fa-cog fa-spin  fa-fw"></i>
                    <span>In-App Purchases</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <ul class="navigation">
                        <li>
                            <a id="menu-in-app-purchases-settings" href="~/Admin/purchases/Settings">Settings</a>
                        </li>
                        <li>
                            <a id="menu-in-app-purchases-product-add" href="~/Admin/purchases/Product/Add">Add Product</a>
                        </li>
                        <li>
                            <a id="menu-in-app-purchase-add" href="~/Admin/purchases/Add">Add Purchase</a>
                        </li>
                        <li>
                            <a id="menu-in-app-purchases-product-list" href="~/Admin/purchases/Product/List">Product List</a>
                            <ul>
                                <li>
                                    <a id="menu-in-app-purchases-product-edit" href="/webadmin/in-app-purchases/product/edit">Edit Product</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a id="menu-in-app-purchases-list" href="~/Admin/purchases/List">Purchases List</a>
                            <ul>
                                <li>
                                    <a id="menu-in-app-purchase-errors" href="/webadmin/in-app-purchases/purchase/errors">Purchase Errors</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </ul>
            </li>
            <li class="treeview" title="Notification Management">
                <a href="#">
                    <i class="fa fa-cog fa-spin  fa-fw"></i>
                    <span>Notification Management</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <ul class="navigation">
                        <li>
                            <a id="menu-homing-pigeon-layout-edit" href="~/Admin/EmailTemplate/Add">Add Email Template</a>
                        </li>
                        <li>
                            <a id="menu-homing-pigeon-notification-add" href="~/Admin/Notification/Add">Add Notification</a>
                        </li>
                        <li>
                            <a id="menu-homing-pigeon-layout-list" href="~/Admin/EmailTemplate/List">Email Template List</a>
                            <ul>
                                <li>
                                    <a id="menu-homing-pigeon-layout-edit" href="/webadmin/homing-pigeon/layout/edit">Edit Email Template</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a id="menu-homing-pigeon-notification-list" href="~/Admin/Notification/List">Notification List</a>
                            <ul>
                                <li>
                                    <a id="menu-homing-pigeon-notification-edit" href="/webadmin/homing-pigeon/notification/edit">Edit Notification</a>
                                </li>
                                <li>
                                    <a id="menu-homing-pigeon-message-list" href="/webadmin/homing-pigeon/message/list">Message List</a>
                                    <ul>
                                        <li>
                                            <a id="menu-homing-pigeon-message-view" href="/webadmin/homing-pigeon/message/view">Message</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </ul>
            </li>
            <li class="treeview" title="Payment Systems">
                <a href="#">
                    <i class="fa fa-credit-card" aria-hidden="true"></i>
                    <span>Payment Systems</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <ul class="navigation">
                        <li>
                            <a id="menu-limit-limit-settings" href="~/Admin/Payment/Settings">Money Limits</a>
                        </li>
                        <li>
                            <a id="menu-limit-default-limits" href="~/Admin/Payment/DefaultLimitValues">Default User Limits</a>
                        </li>
                        <li>
                            <a id="menu-limit-settings" href="~/Admin/Payment/Settings">Settings</a>
                        </li>
                        <li>
                            <a id="menu-limit-payment-limits" href="~/Admin/Payment/LimitsList">User Limits</a>
                            <ul>
                                <li>
                                    <a id="menu-limit-limits-for-user" href="/webadmin/user/payment-limits">Limits For User</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a id="menu-payments-settings-bitcoin" href="~/Admin/Payment/Bitcoin">Bitcoin</a>
                            <ul>
                                <li>
                                    <a href="/webadmin/payments-settings/bitcoin/stash">Cold Storage</a>
                                </li>
                                <li>
                                    <a id="menu-bitcoin-extra" href="#">Extra</a>
                                    <ul>
                                        <li>
                                            <a id="menu-payments-settings-bitcoin-pl-address" href="/webadmin/payments-settings/bitcoin/player-address-list">Player Bitcoin Address List</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a id="menu-payments-settings-ep-direct" href="~/Admin/Payment/EasyPayDirect">Easy Pay Direct</a>
                        </li>
                        <li>
                            <a id="menu-payments-settings-ecore-pay" href="~/Admin/Payment/EcorePay">EcorePay Electronic</a>
                        </li>
                        <li>
                            <a id="menu-payments-settings-fast-pay" href="~/Admin/Payment/FastPay">FastPay</a>
                        </li>
                        <li>
                            <a id="menu-payments-settings-litecoin" href="~/Admin/Payment/LiteCoin">Litecoin</a>
                            <ul>
                                <li>
                                    <a href="/webadmin/payments-settings/litecoin/stash">Cold Storage</a>
                                </li>
                                <li>
                                    <a id="menu-litecoin-extra" href="#">Extra</a>
                                    <ul>
                                        <li>
                                            <a id="menu-payments-settings-litecoin-pl-address" href="/webadmin/payments-settings/litecoin/player-address-list">Player Litecoin Address List</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </ul>
            </li>
            <li class="treeview" title="Prohibited Users">
                <a href="#">
                    <i class="fa fa-cog fa-spin  fa-fw"></i>
                    <span>Prohibited Users</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <ul class="navigation">
                        <li>
                            <a id="menu-prohibited-users-device-add" href="~/Admin/Prohibited/Device/Add">Add Prohibited Device</a>
                        </li>
                        <li>
                            <a id="menu-prohibited-users-ip-add" href="~/Admin/Prohibited/IP/Add">Add Prohibited IP</a>
                        </li>
                        <li>
                            <a id="menu-prohibited-users-devices" href="~/Admin/Prohibited/Device/List">Prohibited Device List</a>
                            <ul>
                                <li>
                                    <a id="menu-prohibited-users-device-edit" href="/webadmin/prohibited-users/device/edit">Edit Prohibited Device</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a id="menu-prohibited-users-ips" href="~/Admin/Prohibited/IP/List">Prohibited IP List</a>
                            <ul>
                                <li>
                                    <a id="menu-prohibited-users-ip-edit" href="/webadmin/prohibited-users/ip/edit">Edit Prohibited IP</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </ul>
            </li>
            <li class="treeview" title="Promotions Management">
                <a href="#">
                    <i class="fa fa-cog fa-spin  fa-fw"></i>
                    <span>Promotions Management</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <ul class="navigation">
                        <li>
                            <a id="menu-promo-add" href="~/Admin/Promotions/Add">Add Campaign</a>
                        </li>
                        <li>
                            <a id="menu-promo-list" href="~/Admin/Promotions/List">Campaign List</a>
                            <ul>
                                <li>
                                    <a href="/webadmin/promotions-management/campaigns/view">Campaign</a>
                                    <ul>
                                        <li>
                                            <a href="/webadmin/promotions-management/campaigns/members">Campaign Members</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="/webadmin/promotions-management/campaigns/info">Campaign Info</a>
                                    <ul>
                                        <li>
                                            <a href="/webadmin/promotions-management/tasks/access-control-info">Task Access Settings</a>
                                        </li>
                                        <li>
                                            <a href="/webadmin/promotions-management/tasks/info">Task Info</a>
                                            <ul>
                                                <li>
                                                    <a href="/webadmin/promotions-management/rewards/info">Reward Info</a>
                                                    <ul>
                                                        <li>
                                                            <a href="/webadmin/promotions-management/delivery-rules/info">Delivery Rule Info</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="/webadmin/promotions-management/campaigns/edit">Edit Campaign</a>
                                    <ul>
                                        <li>
                                            <a href="/webadmin/promotions-management/tasks/add">Add Task</a>
                                        </li>
                                        <li>
                                            <a href="/webadmin/promotions-management/tasks/edit">Edit Task</a>
                                            <ul>
                                                <li>
                                                    <a href="/webadmin/promotions-management/rewards/add">Add Reward</a>
                                                </li>
                                                <li>
                                                    <a href="/webadmin/promotions-management/rewards/edit">Edit Reward</a>
                                                    <ul>
                                                        <li>
                                                            <a href="/webadmin/promotions-management/delivery-rules/add">Add Delivery Rule</a>
                                                        </li>
                                                        <li>
                                                            <a href="/webadmin/promotions-management/delivery-rules/edit">Edit Delivery Rule</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="/webadmin/promotions-management/tasks/access-control">Task Access Settings</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </ul>
            </li>
            <li class="treeview" title="Rakeback">
                <a href="#">
                    <i class="fa fa-cog fa-spin  fa-fw"></i>
                    <span>Rakeback</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <ul class="navigation">
                        <li>
                            <a id="menu-rakeback-config" href="~/Admin/Rakeback/Config">Config</a>
                        </li>
                        <li>
                            <a id="menu-rakeback-info" href="~/Admin/Rakeback/List">Rakeback Info</a>
                            <ul>
                                <li>
                                    <a id="menu-custom_player_rate" href="/webadmin/players-level-rakeback/index/custom-player-rate">Custom Player Rakeback Percent</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </ul>
            </li>
            <li class="treeview" title="Redeem Codes">
                <a href="#">
                    <i class="fa fa-cog fa-spin  fa-fw"></i>
                    <span>Redeem Codes</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <ul class="navigation">
                        <li>
                            <a id="menu-redeemcode-add" href="~/Admin/Redeem/Code/Add">Add Code</a>
                        </li>
                        <li>
                            <a id="menu-redeemcode-list" href="~/Admin/Redeem/Code/List">Codes List</a>
                            <ul>
                                <li>
                                    <a id="menu-redeemcode-edit" href="/webadmin/redeem-code/redeem-code/edit">Edit Code</a>
                                </li>
                                <li>
                                    <a id="menu-redeemcode-info" href="/webadmin/redeem-code/redeem-code/info">Redeem Code Info</a>
                                </li>
                                <li>
                                    <a id="menu-redeemcode-used-list" href="/webadmin/redeem-code/redeem-code/player-list">Used Redeem Code List</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a id="menu-redeemcode-generate" href="~/Admin/Redeem/Code/Generate">Generate Code</a>
                        </li>
                    </ul>
                </ul>
            </li>
            <li class="treeview" title="Reports">
                <a href="#">
                    <i class="fa fa-list-ul" aria-hidden="true"></i>
                    <span>Reports</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <ul class="navigation">
                        <li>
                            <a id="menu-export-index" href="~/Admin/Report/List/Export">Report List</a>
                        </li>
                    </ul>
                </ul>
            </li>
        </ul>
        <script>
            (function ($) {
                var container = $('#mainMenu'),
                    isHome = false,
                    menuCurrentUrl = window.location.pathname, urlParts, a;

                container.find('li.active').removeClass('active');
                if (!isHome) {
                    urlParts = menuCurrentUrl.split('/');
                    while (urlParts.length > 1) {
                        a = container.find('a[href="' + urlParts.join('/') + '"]');
                        if (a.length > 0) {
                            a.parent().parents('li').addClass('active');
                            a.parent().addClass('active');
                            break;
                        }
                        urlParts.pop();
                    }
                }
            })(jQuery);
        </script>
    </section>
</aside>
