﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
</head>
<body>     
    @RenderSection("scripts", required: false)
</body>
</html>
