﻿.dashboard-block {
    position: relative;
    padding: 20px 0 0 0;
    transition: .3s;
    min-height: 132px;
    /*border: 1px solid #cfcfe7;*/
    margin: 1px;
}

    .dashboard-block.edited:hover {
        background-color: #aeaec6;
        box-shadow: 0 0 8px #aeaec6;
    }

.block-loader-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    background-color: rgba(71, 59, 136, 0.4);
    color: #fff;
}

.menu-add-widget {
    min-width: 480px !important;
}

    .menu-add-widget li {
        display: inline-block;
        min-width: 230px;
    }
