﻿/* 
    Document   : common
    Created on : 15.09.2010, 13:17:08
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
body {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #666666;
    font-weight: normal;
}

h1, #content > h3 {
    margin-top: 10px;
    border-bottom: 1px solid #666666;
    padding: 0 0 4px 0;
}

#content > h3 {
    font-size: 24px;
}

fieldset, .fieldset {
    border: 1px solid #cccccc;
    border-radius: 8px;
}

.paginator-controls {
    margin: 4px 0;
}

.dialog {
    overflow: auto;
    width: 955px;
    height: 360px;
    font-family: Tahoma;
    font-size: 12px;
}

    .dialog.dijitDialog .dijitDialogPaneContent {
        padding: 0;
    }

.dialog-content table {
    margin-top: 0px;
}

.dialog-content {
    overflow: auto;
    font-family: Tahoma;
    font-size: 12px;
}

.dialog-frame {
    width: 100%;
    border: 0px;
    height: 330px;
}

.dialog-content a, .dialog-content a:visited, .dialog-content a:active, .dialog-content li {
    color: #006699;
    font-weight: bold;
}

#selectUserDialog {
    width: 1000px;
}

.pointer {
    cursor: pointer;
}

.notbold {
    font-weight: normal;
}

/*
	Content
*/
div#content {
    padding: 10px 30px 0 30px;
}

.dijitTextBoxDisabled input {
    color: #8e8e8e !important;
}

.dijitDialog dd {
    margin: 0;
}

.dijitEditor {
    border: 1px solid #d3d3d3;
}

.dijitEditorIconVariables {
    background: url("../img/content/variables.gif") -1px 0 no-repeat !important;
}
/* 
	AccordionContainer
*/
.center_content .dijitAccordionText {
    font-family: Tahoma;
    font-size: 12px;
    margin-left: 22px;
}

.center_content .dijitAccordionTitle {
    background: url("../img/content/group_row.png") repeat-x !important;
    height: 26px !important;
    padding: 0px 0px 0px 0px !important;
    color: black !important;
}

.center_content .dijitAccordionArrow {
    background: url("../img/content/arrow_up_min.png") no-repeat !important;
    height: 26px !important;
    width: 25px !important;
    margin-top: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
}

.center_content .dijitAccordionTitleSelected .dijitAccordionArrow {
    background: url("../img/content/arrow_down_min.png") no-repeat !important;
    margin-top: 0px !important;
}

/*
 	Multiselect AccordionContainer
 */
.center_content .dijitTitlePaneTextNode {
    color: black !important;
    font-family: Tahoma;
    font-size: 12px;
}

.center_content .dijitTitlePaneTitle {
    /*background: url("../img/content/group_row.png") repeat-x !important;*/
    background: #e4e4e4; /* Old browsers */
    background: -moz-linear-gradient(top, #e4e4e4 0%, #d5d5d5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4e4e4), color-stop(100%,#d5d5d5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e4e4e4 0%,#d5d5d5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e4e4e4 0%,#d5d5d5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e4e4e4 0%,#d5d5d5 100%); /* IE10+ */
    background: linear-gradient(to bottom, #e4e4e4 0%,#d5d5d5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e4e4', endColorstr='#d5d5d5',GradientType=0 ); /* IE6-9 */
    height: 26px !important;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #97969B;
    padding: 0px 0px 0px 0px !important;
}

.center_content .dijitTitlePane .dijitClosed .dijitArrowNode {
    background: url("../img/content/arrow_up_min.png") no-repeat !important;
    height: 26px !important;
    width: 25px !important;
    margin-top: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
}

.center_content .dijitTitlePane .dijitOpen .dijitArrowNode {
    background: url("../img/content/arrow_down_min.png") no-repeat !important;
    margin-top: 0px !important;
    height: 26px !important;
    width: 25px !important;
}

/*
	Paginator control
*/
.paginator-link {
    display: inline-table;
    margin-right: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
}

    .paginator-link a, .paginator-link a:visited, .paginator-link a:active, .paginator-link span, .limit-controls .limit-link {
        color: #666666;
        padding: 4px 8px;
        border: 1px solid #CCCCCC;
        background: #f2f2f2;
        text-decoration: none;
    }

        .paginator-link a:hover, .paginator-link .current, .limit-controls div.limit-link {
            color: #ffffff;
            background: #a8a8a8;
            font-weight: bold;
        }

    .paginator-link .disabled {
        border: 1px solid #d1d1d1;
        color: #8E8E8E;
    }

.rowCount {
    padding: 5px 0 5px 0;
}

.limit-controls {
    margin-top: 7px;
}

#perpage, .limit-link {
    display: inline-table;
}
/*
	Dashboard
*/

.dashboard-info {
    display: flex;
    margin: 15px 0;
    justify-content: space-between;
}

.info-item {
    display: flex;
    width: 22.5%;
    height: 100px;
}

.info-item__img-wrapper {
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
}

    .info-item__img-wrapper.-purple {
        background-color: #8d68c5;
    }

    .info-item__img-wrapper.-blue {
        background-color: #6879c5;
    }

    .info-item__img-wrapper.-dark-blue {
        background-color: #3c8dbc;
    }

    .info-item__img-wrapper.-light-blue {
        background-color: #3cb4bc;
    }

.info-item__inner {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
}

.info-item__heading {
    text-align: center;
    font-size: 20px;
    margin: 20px 0 0 !important;
}

.info-item__value {
    color: #000000;
    text-align: center;
    font-size: 24px;
    margin: 0 0 20px;
}

.dashboard-money-info {
    border-bottom: 1px solid #c8ccd1;
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
    margin: 0 0 15px;
}

    .dashboard-money-info > div {
        border-right: 1px solid #c8ccd1;
    }

        .dashboard-money-info > div:last-of-type {
            border-right: none;
        }

.money-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    width: 25%;
}

.money-info-heading {
    font-size: 18px;
    color: #3c8dbc;
}

.money-info-value {
    color: #000000;
    font-size: 24px;
    margin-top: 15px;
}

.dashboard-update-time {
    position: relative;
    top: -46px;
    float: right;
    margin-bottom: -23px;
}

.dashboard-info td {
    padding: 3px;
}

.dashboard-info__item {
    min-width: 125px;
    font-size: 12px;
    border: 1px solid #afbcbe;
    padding: 8px 0;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-align: center;
}

.dashboard-info__label {
    height: 80px;
    font-weight: 900;
}

.dashboard-info__value {
    font-size: 21px;
    font-weight: 100;
}

.periodLink.active {
    color: #666666;
    text-decoration: none;
}

.customPeriodForm {
    visibility: hidden;
    display: inline-block;
    position: relative;
    top: -20px;
    left: 20px;
    padding: 4px;
    background: #FFFFFF;
    border: 1px solid #8f8f8f;
    -webkit-box-shadow: 2px 2px 20px 0px rgba(50, 50, 50, 0.83);
    -moz-box-shadow: 2px 2px 20px 0px rgba(50, 50, 50, 0.83);
    box-shadow: 2px 2px 20px 0px rgba(50, 50, 50, 0.83);
}

.dashboard-info,
.dashboard-money-info {
    flex-wrap: wrap;
}

@media (min-width: 640px) and (max-width: 1024px) {
    .info-item,
    .money-info {
        width: 45%;
        margin-bottom: 15px;
    }

    .dashboard-money-info > div:nth-of-type(2) {
        border-right: none;
    }
}

@media (max-width: 639px) {
    .info-item,
    .money-info {
        width: 100%;
        margin-bottom: 15px;
    }

    .dashboard-money-info > div {
        border-right: none;
        border-bottom: 1px solid #c8ccd1;
    }

        .dashboard-money-info > div:last-of-type {
            border-bottom: none;
        }
}
/*
 	Viewing
*/
.viewing-table {
    margin-top: 13px;
    background: #e6f0f9;
    border: 1px solid #b8c6d2;
    border-collapse: collapse;
}

    .viewing-table > tbody > tr > td, .viewing-table > tbody > tr > th {
        vertical-align: top;
        border-bottom: 1px solid #ccd9e5;
        padding: 4px;
    }

    .viewing-table > tbody > tr:last-child > th, .viewing-table > tbody > tr:last-child > td {
        border: none;
    }

    .viewing-table > tbody > tr > th {
        text-align: left;
        padding-left: 9px;
        color: #444444;
        font-weight: 900;
    }

    .viewing-table > tbody > tr > td {
        padding-right: 9px;
        color: #6c6c6c;
        font-weight: 100;
    }

.inner-table {
    border-collapse: collapse;
}

    .inner-table td, .inner-table th {
        border: 1px solid #ccd9e5;
    }
/*
	Profile
*/
.profile-head {
    border-bottom: 1px solid #d7d7d7;
    font-size: 18px;
    color: #b2b2b2;
    padding-bottom: 16px;
}

.profile-head__nick {
    color: #a1a1a1;
}

.profile-head__id {
    color: #b0beca;
}

.profile-head__email {
    background: url("../img/content/profile__email.png") no-repeat 0 2px;
    padding-left: 22px;
    color: #666666;
    font-size: 12px;
}

.options-float {
    float: left;
    list-style-type: none;
    background: #e6f0f9;
    margin-left: 20px;
    border: 1px solid #b8c6d2;
    padding: 8px 16px;
}

    .options-float li {
        margin: 5px 0;
    }

        .options-float li a {
            padding-left: 20px;
            height: 16px;
            display: inline-block;
        }
/*
	Buttons
*/
.clone, .edit, .transactions, .players, .view, .games, .tournaments, .sessions, .clubs, .del, .test, .eye, .copy, .to_menu, .expire, .ok, .chart_bar, .undo, .list, .edit-clear, .pause, .stop, .stop-wo-prizes, .stop-with-prizes, .start, .game-replay {
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 5px;
}

.clone {
    background: url("../img/content/but_clone.png") no-repeat;
}

.edit {
    background: url("../img/content/but_edit.png") no-repeat;
}

.game-replay {
    background: url("../img/content/but-play.png") no-repeat;
}

.undo {
    background: url("../img/content/edit-undo.png") no-repeat;
}

.transactions {
    background: url("../img/transactions.png") no-repeat;
}

.players {
    background: url("../img/player.png") no-repeat;
}

.view {
    background: url("../img/view.png") no-repeat;
}

.eye {
    background: url("../img/content/but_view.png") no-repeat;
}

.games {
    background: url("../img/games.png") no-repeat;
}

.tournaments {
    background: url("../img/tournaments.png") no-repeat;
}

.sessions {
    background: url("../img/sessions.png") no-repeat;
}

.clubs {
    background: url("../img/clubs.png") no-repeat 1px 2px;
}

.del {
    background: url("../img/content/but_del.png") no-repeat;
}

.ok {
    background: url("../img/content/but_ok.png") no-repeat;
}

.chart_bar {
    background: url("../img/chart_bar.png") no-repeat;
}

.copy {
    background: url("../img/content/but_copy.png");
}

.to_menu {
    background: url("../img/content/but_add_to_tree.png");
}

.test {
    background: url("../img/content/test.png") no-repeat;
}

.expire {
    background: url("../img/content/expire.png") no-repeat;
    background-size: 16px;
}

.list {
    background: url("../img/content/format-list-unordered.png") no-repeat;
    background-size: 16px;
}

.edit-clear {
    background: url("../img/content/edit-clear.png") no-repeat;
    background-size: 16px;
}

.pause {
    background: url("../img/content/pause.png") no-repeat;
    background-size: 16px;
}

.stop, .stop-wo-prizes, .stop-with-prizes {
    background: url("../img/content/stop.png") no-repeat;
    background-size: 16px;
}

.start {
    background: url("../img/content/start.png") no-repeat;
    background-size: 16px;
}


th > input#butFilter, th > button#butFilter, th > input#submit {
    background: url("../img/content/but_ok.png") no-repeat;
    border-width: 0px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    text-indent: -9999px;
    display: inline-table;
}

th > input#butReset, th > button#butReset, a > button#butReset {
    background: url("../img/content/but_cancel.png") no-repeat;
    border-width: 0px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    text-indent: -9999px;
    display: inline-table;
}

/*
	Listing table
*/
table.listing-table {
    margin-top: 10px;
    border: 1px solid #929292;
    border-collapse: collapse;
}

    table.listing-table .navigator__no-data td {
        padding: 5px;
        background: #e3e3e3;
        color: #666666;
        text-align: left;
    }

    table.listing-table th, table.listing-table td {
        /*padding: 0px 5px 0px 5px;*/
        border: 1px solid #929292;
        padding: 4px 18px !important;
        font-size: 14px !important;
    }

    table.listing-table td {
        border-bottom: 1px solid #c4c4c4;
        color: #666666;
    }

    table.listing-table tr:last-child td {
        border-bottom: 1px solid #929292;
    }

    table.listing-table .listHead tr {
        height: 29px;
        color: #666666;
        background: #ffffff; /* Old browsers */
        background: -moz-linear-gradient(top, #ffffff 0%, #ededed 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #ffffff 0%,#ededed 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #ffffff 0%,#ededed 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #ffffff 0%,#ededed 100%); /* IE10+ */
        background: linear-gradient(to bottom, #ffffff 0%,#ededed 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
    }

    table.listing-table .listFilter tr {
        height: 28px;
        color: #666666;
        background: #e4e4e4; /* Old browsers */
        background: -moz-linear-gradient(top, #e4e4e4 0%, #f5f5f5 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4e4e4), color-stop(100%,#f5f5f5)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #e4e4e4 0%,#f5f5f5 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #e4e4e4 0%,#f5f5f5 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #e4e4e4 0%,#f5f5f5 100%); /* IE10+ */
        background: linear-gradient(to bottom, #e4e4e4 0%,#f5f5f5 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e4e4', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
    }

    table.listing-table .listFilter input, table.listing-table .listFilter select {
        background: #d1d1d1; /* Old browsers */
        background: -moz-linear-gradient(top, #d1d1d1 0%, #ffffff 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d1d1d1), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #d1d1d1 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #d1d1d1 0%,#ffffff 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #d1d1d1 0%,#ffffff 100%); /* IE10+ */
        background: linear-gradient(to bottom, #d1d1d1 0%,#ffffff 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d1d1', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
        border: 1px solid #929292;
        padding: 5px 5px;
        margin: 2px -2px;
    }

tr.odd {
    background-color: #e3e3e3;
}

tr.even {
    background-color: #f6f6f6;
}

table.listing-table tr:hover, table.listing-table tr.hover {
    background-color: #c8c8c8;
}

table.listing-table th a.headerLink {
    text-decoration: underline;
    cursor: pointer;
}

table.listing-table th a, table.listing-table th a:visited, table.listing-table th a:active {
    color: #666666;
}

table.filter-element {
    margin-top: 0px !important;
    height: 28px !important;
    border-spacing: 0px;
    border: 0px;
}

    table.filter-element tr, table.filter-element td, table.filter-element th {
        border: 0px;
        border-collapse: collapse;
        border-spacing: 0px;
    }

.main {
    /*margin-top: 12px;*/
}

table {
}

/*
	Layout errors and messages
*/
div#layout-messages, div#layout-errors {
    padding: 5px 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

div#layout-messages {
    background-color: #006699;
    color: white;
}

div#layout-errors {
    background-color: #990000;
    color: white;
}

/*
	Forms
*/
form dt {
    margin-top: 10px;
}

form dd {
    margin: 0;
}

fieldset {
    display: inline-block;
}

.form-element {
    margin-top: 10px;
}

span.dijitButton {
    margin-top: 10px;
}

.form-element label {
    display: block;
}

.form-element p.description {
    margin: 0px;
}

div.form-block {
    padding: 5px 10px;
}

ul.errors {
    margin: 0px 0px 0px 20px;
    padding: 0px;
}

    ul.errors li, .activationError {
        color: #f00;
    }

div.container {
    overflow: hidden;
}

div.box_legacy {
    margin-right: 10px;
    float: left;
}

.narrow .dijitTextBox {
    width: 50px;
}

.hidden {
    display: none;
}

.float-left {
    float: left;
}

.clear-both {
    clear: both;
}

.graph {
    margin: 5px 0;
    text-align: center;
}

#throberContainer {
    text-align: center;
}

#userPreviewBar {
    height: 24px;
    font-weight: bold;
    margin: 20px 0 20px 0;
    padding: 5px;
    background: url("../img/content/user_preview_bar.png") repeat-x;
}

/*
	Datepicker
*/

/* the div that holds the date picker calendar */
.dpDiv {
}

    .dpDiv table {
        margin-top: 0px;
    }

/* the table (within the div) that holds the date picker calendar */
.dpTable {
    font-size: 12px;
    text-align: center;
    color: #505050;
    background-color: #FCFCFC;
    border: 1px solid black;
}

/* a table row that holds date numbers (either blank or 1-31) */
.dpTR {
}


/* the top table row that holds the month, year, and forward/backward buttons */
.dpTitleTR {
}


/* the second table row, that holds the names of days of the week (Mo, Tu, We, etc.) */
.dpDayTR {
}


/* the bottom table row, that has the "This Month" and "Close" buttons */
.dpTodayButtonTR {
}


/* a table cell that holds a date number (either blank or 1-31) */
.dpTD {
    border: 1px solid #FCFCFC;
}

/* a table cell that holds a highlighted day (usually either today's date or the current date field value) */
.dpDayHighlightTD {
    background-color: #CCCCCC;
    border: 1px solid #AAAAAA;
}

/* the date number table cell that the mouse pointer is currently over (you can use contrasting colors to make it apparent which cell is being hovered over) */
.dpTDHover {
    background-color: #C0C0C0;
    border: 1px solid #888888;
    cursor: pointer;
    color: red;
}

/* the table cell that holds the name of the month and the year */
.dpTitleTD {
}

/* a table cell that holds one of the forward/backward buttons */
.dpButtonTD {
}

/* the table cell that holds the "This Month" or "Close" button at the bottom */
.dpTodayButtonTD {
}

/* a table cell that holds the names of days of the week (Mo, Tu, We, etc.) */
.dpDayTD {
    background-color: #CCCCCC;
    border: 1px solid #AAAAAA;
    color: white;
}

/* additional style information for the text that indicates the month and year */
.dpTitleText {
    font-size: 12px;
    color: gray;
    font-weight: bold;
}

/* additional style information for the cell that holds a highlighted day (usually either today's date or the current date field value) */
.dpDayHighlight {
    color: 4060ff;
    font-weight: bold;
}

/* the forward/backward buttons at the top */
.dpButton {
    font-size: 10px;
    color: gray;
    border: 1px;
    cursor: pointer;
    background: #d8e8ff;
    font-weight: bold;
    padding: 0px;
}

/* the "This Month" and "Close" buttons at the bottom */
.dpTodayButton {
    font-size: 10px;
    color: gray;
    border: 1px;
    cursor: pointer;
    background: #d8e8ff;
    font-weight: bold;
}

.dpHoursInput, .dpMinutesInput {
    width: 20px;
}

#notApprovedAvatar, #approvedAvatar {
    display: block;
    margin: 0 auto;
}

.options__change_password {
    background: url("../img/lock.png") no-repeat;
}

.options__player-transactions {
    background: url("../img/transactions.png") no-repeat;
}

.options__player-games {
    background: url("../img/games.png") no-repeat;
}

.options__player-tournaments {
    background: url("../img/tournaments.png") no-repeat;
}

.options__player-sessions {
    background: url("../img/sessions.png") no-repeat;
}

.options__player-clubs {
    background: url("../img/clubs.png") no-repeat;
}

.options__view-games {
    background: url("../img/games.png") no-repeat;
}

.options__view-devices {
    background: url("../img/devices.png") no-repeat;
}

.options__user-edit {
    background: url("../img/content/but_edit.png") no-repeat;
}

.options__view-tables {
    background: url("../img/tournaments.png") no-repeat;
}

.options__view-chat {
    background: url("../img/chat.png") no-repeat;
}

.options__view-history {
    background: url("../img/history.png") no-repeat;
}

.options__player-change-password {
    background: url("../img/password.png") no-repeat;
}

tr.player-trusted-level-1 { /* trusted*/
    background-color: chartreuse;
}

    tr.player-trusted-level-1.even { /* trusted*/
        background-color: lime;
    }

tr.player-trusted-level-2 { /* suspicious */
    background-color: gold;
}

    tr.player-trusted-level-2.even { /* suspicious */
        background-color: yellow;
    }

tr.player-trusted-level-3 { /* cheater */
    background-color: tomato;
}

    tr.player-trusted-level-3.even { /* cheater */
        background-color: lightcoral;
    }

.row_state {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-bottom: -4px;
}

    .row_state.error {
        background: url("../img/dialog-error.png") no-repeat;
    }

    .row_state.in_progress {
        background: url("../img/user-away.png") no-repeat;
    }

tr.state_error td:first-child {
    background-color: #CA0B01;
}

.openPeriod {
    white-space: nowrap;
}

    .openPeriod img {
        padding-right: 4px;
    }

li.list-group-item {
    overflow: hidden;
}

.dataTables_scrollBody {
    height: auto !important;
    margin-bottom: 10px !important;
}
