﻿.dashboard {
    position: relative;
}

.dropdown-menu-l {
    right: 0 !important;
}

.dropdown-menu {
    /*max-width: 200px;*/
    box-shadow: 0 0 8px rgba(0,0,0,.2) !important;
}

.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px;
        border-radius: 0 6px 6px 6px;
    }

    .dropdown-submenu:hover > .dropdown-menu {
        display: block;
    }

    .dropdown-submenu > a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #ccc;
        margin-top: 5px;
        margin-right: -10px;
    }

    .dropdown-submenu:hover > a:after {
        border-left-color: #fff;
    }

    .dropdown-submenu.pull-left {
        float: none;
    }

        .dropdown-submenu.pull-left > .dropdown-menu {
            left: -100%;
            margin-left: 10px;
            -webkit-border-radius: 6px 0 6px 6px;
            -moz-border-radius: 6px 0 6px 6px;
            border-radius: 6px 0 6px 6px;
        }

.dashboard-block .settings {
    position: absolute;
    left: 15px;
    top: -15px;
    display: none;
    box-shadow: 0 0 8px rgba(0,0,0,.5);
    -webkit-border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
}

.dashboard-block:hover .settings {
    display: block;
}

.mb-2 {
    margin-bottom: 10px !important;
}

#btn_add_block {
    margin: 20px 0 20px 0;
}

.text-dark {
    color: #1d1d1d !important;
}

.text-light {
    color: #fff !important;
}

.button-container {
    position: absolute;
    top: -40px;
    right: 0;
}

    .button-container button {
        margin-right: 10px;
    }

.dashboard-options .modal-header {
    position: relative;
}

    .dashboard-options .modal-header .alert {
        position: absolute;
        left: 0;
        top: 0;
        width: 96%;
        margin: 10px;
        z-index: 100;
    }

.dashboard-options-section {
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #ccc;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    position: relative;
}

.dashboard-options button {
    outline: none !important;
}

.dashboard-options-section > label {
    position: absolute;
    top: -16px;
    left: 20px;
    background-color: #fff;
    padding: 4px 8px;
    font-weight: 600;
}

.tippy-tooltip.max-theme {
    font-size: 1em;
}

.loader-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(100,100,100,.5);
}

.position-relative {
    position: relative;
}

.vertical-center {
    min-height: 100%;
    display: flex;
    align-items: center;
}

.m-auto {
    margin: auto;
}

.m-0 {
    margin: 0 !important;
}

.widget-isset {
    color: #00a000 !important;
}
