﻿.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: .8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80)
}

.gu-hide {
    display: none !important
}

.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important
}

.gu-transit {
    opacity: .2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20)
}
@media screen and (max-width: 600px) {
    .dataTables_scrollHead {
        overflow: auto !important;
    }

    table.DTFC_Cloned.listing-table {
        display: none;
        visibility: hidden;
    }

    .dataTables_scrollBody .listing-table {
        width: 100% !important;
    }

    .dataTables_scrollHead .listing-table {
        z-index: 9;
        position: relative;
    }

    .dataTables_scrollBody .listing-table thead {
        border: none;
        clip: rect( 0 0 0 0 );
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .dataTables_scrollBody .listing-table tr {
        display: block;
        height: auto !important;
    }

        .dataTables_scrollBody .listing-table tr:not(:last-child) {
            padding-bottom: 10px;
            border-bottom: 1px solid #ccc;
        }

    .dataTables_scrollBody .listing-table td {
        display: block;
        text-align: right;
        border: none !important;
        min-height: 15px;
        white-space: normal !important;
    }

        .dataTables_scrollBody .listing-table td::before {
            content: attr(data-label);
            float: left;
            font-weight: bold;
            text-transform: uppercase;
        }

    .dataTables_scrollBody .listing-table tbody tr .dropdown.text-center {
        text-align: left !important;
    }

    .col-md-12 .form-group .filter {
        display: block;
    }

    .col-md-12 .btn {
        margin: 3px;
    }
}