﻿@CHARSET "UTF-8";

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: Tahoma;
    font-size: 12px;
}

a, a:visited, a:active {
    color: #6699cc;
    font-weight: bold;
}

body > .wrapper {
    overflow: hidden;
}

#login {
    margin-left: 43%;
    margin-right: 42%;
}

#viewport {
    width: 100%;
    height: 100%;
}

.header {
    background: #cecece; /* Old browsers */
    background: -moz-linear-gradient(top, #cecece 0%, #aeaeae 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cecece), color-stop(100%,#aeaeae)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #cecece 0%,#aeaeae 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #cecece 0%,#aeaeae 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #cecece 0%,#aeaeae 100%); /* IE10+ */
    background: linear-gradient(to bottom, #cecece 0%,#aeaeae 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#aeaeae',GradientType=0 ); /* IE6-9 */
    color: #666666;
    border-bottom: 1px solid #787777;
    height: 55px;
    overflow: hidden;
}

    .header a, .header a:visited, .header a:active {
        color: #666666;
    }

#header_right {
    font-size: 13px;
    margin-top: 18px;
    margin-right: 20px;
    text-align: right;
}

#header_left {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;
    /*background: url("../../img/layout/caption.png") no-repeat;*/
    height: 38px;
    width: 309px;
    font-size: 21px;
    padding-left: 22px;
    padding-top: 12px;
    font-weight: 500;
}

#home {
    text-align: left;
    padding: 23px 0 17px 50px;
    margin-left: 12px;
    background: url("../../img/layout/home_ico.png") left center no-repeat;
}

.dijitContentPane.main {
}

.menu ul {
    margin-top: 1px;
    margin-left: -5px;
    list-style-type: none;
}

.menu li {
    margin-left: 0px;
    color: #666666;
    margin: 11px 0;
}

.menu {
    background-color: #e6e9ee !important;
    width: 230px;
    border: solid #adb3be;
    border-width: 0 1px 0 0;
}

    .menu .dijitAccordionContainer {
    }

    .nihilo .dijitAccordionTitle,
    .menu .dijitTitlePaneTitle {
        border: none;
    }

.nihilo .dijitAccordionContainer {
    border: none;
}

.nihilo .dijitAccordionContainer-dijitContentPane {
    /*background:ffffff;*/
}

.menu .dijitAccordionText,
.menu .dijitTitlePaneTextNode,
.home__link__text {
    font-family: Tahoma;
    font-size: 12px;
    margin-left: 10px;
    line-height: 22px;
    color: #666666;
    font-weight: normal;
}

.menu li.activeItem a {
    font-weight: bold;
    text-decoration: none;
    color: #666666;
}

.menu .dijitAccordionTitle,
.menu .dijitTitlePaneTitle,
.home__link {
    background: #e6e9ee;
    height: 25px !important;
    padding: 0px 0px 0px 0px !important;
    color: black !important;
}

    .menu .dijitAccordionTitleSelected .dijitAccordionText,
    .menu .dijitOpen .dijitTitlePaneTextNode,
    .home__link.active .home__link__text {
        color: #ffffff;
        font-weight: bold;
    }

ul.navigation > li > ul {
    display: none;
}

.menu .dijitAccordionTitleSelected,
.menu .dijitOpen,
.home__link.active {
    background: #83acd8; /* Old browsers */
    background: -moz-linear-gradient(top, #83acd8 0%, #4d83c1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#83acd8), color-stop(100%,#4d83c1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #83acd8 0%,#4d83c1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #83acd8 0%,#4d83c1 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #83acd8 0%,#4d83c1 100%); /* IE10+ */
    background: linear-gradient(to bottom, #83acd8 0%,#4d83c1 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#83acd8', endColorstr='#4d83c1',GradientType=0 ); /* IE6-9 */
    border: solid #6a9dd4;
    border-width: 1px 0 1px 0
}

.menu .dijitTitlePaneContentOuter {
    border: none;
}

.menu .dijitAccordionArrow,
.menu .dijitTitlePane .dijitClosed .dijitArrowNode {
    background: url("../../img/layout/nav_arrows.png") no-repeat !important;
    height: 7px !important;
    width: 6px !important;
    margin: 2px 0 0 16px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
}

.menu .dijitAccordionTitleSelected .dijitAccordionArrow,
.menu .dijitTitlePane .dijitOpen .dijitArrowNode {
    background: url("../../img/layout/nav_arrows.png") -7px 0 no-repeat !important;
    height: 7px !important;
    width: 6px !important;
    margin: 3px 1px 0 16px !important;
}

.menu .dijitTitlePaneContentInner {
    padding: 1px;
}

.home-wrapper {
    margin-top: 28px;
}

.home__link {
    display: block;
    text-decoration: none;
}

.home__link__text {
    background: url("../../img/layout/home.png") 2px 5px no-repeat;
    padding-left: 21px;
}

.active .home__link__text {
    background: url("../../img/layout/home_active.png") 2px 5px no-repeat;
}

.footer {
    background: #cecece; /* Old browsers */
    background: -moz-linear-gradient(top, #cecece 0%, #aeaeae 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cecece), color-stop(100%,#aeaeae)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #cecece 0%,#aeaeae 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #cecece 0%,#aeaeae 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #cecece 0%,#aeaeae 100%); /* IE10+ */
    background: linear-gradient(to bottom, #cecece 0%,#aeaeae 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#aeaeae',GradientType=0 ); /* IE6-9 */
    color: #666666;
    border-top: 1px solid #787777;
    height: 28px;
}

#footer_center {
    text-align: center;
    font-size: 11px;
    padding-top: 5px;
}

div.rebuy-number {
    padding: 10px;
    padding-top: 3px;
    margin-top: 0;
}

.nihilo .dijitButtonNode {
    border: 1px solid #999999;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #fefefe;
    background: -moz-linear-gradient(top, #fefefe 0%, #e6e6e6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#e6e6e6));
    background: -webkit-linear-gradient(top, #fefefe 0%,#e6e6e6 100%);
    background: -o-linear-gradient(top, #fefefe 0%,#e6e6e6 100%);
    background: -ms-linear-gradient(top, #fefefe 0%,#e6e6e6 100%);
    background: linear-gradient(to bottom, #fefefe 0%,#e6e6e6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e6e6e6',GradientType=0 );
    -webkit-box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.32);
    -moz-box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.32);
    box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.32);
}

.nihilo .dijitButtonContents {
    padding: 2px 12px;
    color: #666666;
}

.btn {
    display: inline-block;
    *display: inline;
    padding: 2px 10px;
    margin-bottom: 0;
    *margin-left: .3em;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    *background-color: #e6e6e6;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #cccccc;
    *border: 0;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    *zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

    .btn:hover,
    .btn:focus,
    .btn:active,
    .btn.active,
    .btn.disabled,
    .btn[disabled] {
        color: #333333;
        background-color: #e6e6e6;
        *background-color: #d9d9d9;
    }

    .btn:active,
    .btn.active {
        background-color: #cccccc \9;
    }

    .btn:first-child {
        *margin-left: 0;
    }

    .btn:hover,
    .btn:focus {
        color: #333333;
        text-decoration: none;
        background-position: 0 -15px;
        -webkit-transition: background-position 0.1s linear;
        -moz-transition: background-position 0.1s linear;
        -o-transition: background-position 0.1s linear;
        transition: background-position 0.1s linear;
    }

    .btn:focus {
        outline: thin dotted #333;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }

    .btn.active,
    .btn:active {
        background-image: none;
        outline: 0;
        -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
        box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    }

    .btn.disabled,
    .btn[disabled] {
        cursor: default;
        background-image: none;
        opacity: 0.65;
        filter: alpha(opacity=65);
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

.btn-large {
    padding: 11px 19px;
    font-size: 17.5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

    .btn-large [class^="icon-"],
    .btn-large [class*=" icon-"] {
        margin-top: 4px;
    }

.btn-small {
    padding: 2px 10px;
    font-size: 11.9px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

    .btn-small [class^="icon-"],
    .btn-small [class*=" icon-"] {
        margin-top: 0;
    }

.btn-mini [class^="icon-"],
.btn-mini [class*=" icon-"] {
    margin-top: -1px;
}

.btn-mini {
    padding: 0 6px;
    font-size: 10.5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.btn-block {
    display: block;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

    .btn-block + .btn-block {
        margin-top: 5px;
    }

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
    width: 100%;
}

.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
    color: rgba(255, 255, 255, 0.75);
}

.btn-primary {
    color: #ffffff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #006dcc;
    *background-color: #0044cc;
    background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
    background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
    background-image: -o-linear-gradient(top, #0088cc, #0044cc);
    background-image: linear-gradient(to bottom, #0088cc, #0044cc);
    background-repeat: repeat-x;
    border-color: #0044cc #0044cc #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active,
    .btn-primary.active,
    .btn-primary.disabled,
    .btn-primary[disabled] {
        color: #ffffff;
        background-color: #0044cc;
        *background-color: #003bb3;
    }

    .btn-primary:active,
    .btn-primary.active {
        background-color: #003399 \9;
    }

.btn-warning {
    color: #ffffff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #faa732;
    *background-color: #f89406;
    background-image: -moz-linear-gradient(top, #fbb450, #f89406);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
    background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
    background-image: -o-linear-gradient(top, #fbb450, #f89406);
    background-image: linear-gradient(to bottom, #fbb450, #f89406);
    background-repeat: repeat-x;
    border-color: #f89406 #f89406 #ad6704;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

    .btn-warning:hover,
    .btn-warning:focus,
    .btn-warning:active,
    .btn-warning.active,
    .btn-warning.disabled,
    .btn-warning[disabled] {
        color: #ffffff;
        background-color: #f89406;
        *background-color: #df8505;
    }

    .btn-warning:active,
    .btn-warning.active {
        background-color: #c67605 \9;
    }

.btn-danger {
    color: #ffffff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #da4f49;
    *background-color: #bd362f;
    background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
    background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
    background-repeat: repeat-x;
    border-color: #bd362f #bd362f #802420;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

    .btn-danger:hover,
    .btn-danger:focus,
    .btn-danger:active,
    .btn-danger.active,
    .btn-danger.disabled,
    .btn-danger[disabled] {
        color: #ffffff;
        background-color: #bd362f;
        *background-color: #a9302a;
    }

    .btn-danger:active,
    .btn-danger.active {
        background-color: #942a25 \9;
    }

.btn-success {
    color: #ffffff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #5bb75b;
    *background-color: #51a351;
    background-image: -moz-linear-gradient(top, #62c462, #51a351);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
    background-image: -webkit-linear-gradient(top, #62c462, #51a351);
    background-image: -o-linear-gradient(top, #62c462, #51a351);
    background-image: linear-gradient(to bottom, #62c462, #51a351);
    background-repeat: repeat-x;
    border-color: #51a351 #51a351 #387038;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

    .btn-success:hover,
    .btn-success:focus,
    .btn-success:active,
    .btn-success.active,
    .btn-success.disabled,
    .btn-success[disabled] {
        color: #ffffff;
        background-color: #51a351;
        *background-color: #499249;
    }

    .btn-success:active,
    .btn-success.active {
        background-color: #408140 \9;
    }

.btn-info {
    color: #ffffff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #49afcd;
    *background-color: #2f96b4;
    background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
    background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
    background-repeat: repeat-x;
    border-color: #2f96b4 #2f96b4 #1f6377;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

    .btn-info:hover,
    .btn-info:focus,
    .btn-info:active,
    .btn-info.active,
    .btn-info.disabled,
    .btn-info[disabled] {
        color: #ffffff;
        background-color: #2f96b4;
        *background-color: #2a85a0;
    }

    .btn-info:active,
    .btn-info.active {
        background-color: #24748c \9;
    }

.btn-inverse {
    color: #ffffff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #363636;
    *background-color: #222222;
    background-image: -moz-linear-gradient(top, #444444, #222222);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
    background-image: -webkit-linear-gradient(top, #444444, #222222);
    background-image: -o-linear-gradient(top, #444444, #222222);
    background-image: linear-gradient(to bottom, #444444, #222222);
    background-repeat: repeat-x;
    border-color: #222222 #222222 #000000;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

    .btn-inverse:hover,
    .btn-inverse:focus,
    .btn-inverse:active,
    .btn-inverse.active,
    .btn-inverse.disabled,
    .btn-inverse[disabled] {
        color: #ffffff;
        background-color: #222222;
        *background-color: #151515;
    }

    .btn-inverse:active,
    .btn-inverse.active {
        background-color: #080808 \9;
    }

button.btn,
input[type="submit"].btn {
    *padding-top: 3px;
    *padding-bottom: 3px;
}

    button.btn::-moz-focus-inner,
    input[type="submit"].btn::-moz-focus-inner {
        padding: 0;
        border: 0;
    }

    button.btn.btn-large,
    input[type="submit"].btn.btn-large {
        *padding-top: 7px;
        *padding-bottom: 7px;
    }

    button.btn.btn-small,
    input[type="submit"].btn.btn-small {
        *padding-top: 3px;
        *padding-bottom: 3px;
    }

    button.btn.btn-mini,
    input[type="submit"].btn.btn-mini {
        *padding-top: 1px;
        *padding-bottom: 1px;
    }

a.btn {
    text-decoration: none;
    color: #333333;
}

.btn .icon {
    margin-bottom: -2px;
    margin-right: 4px;
}

.btn-group > .btn {
    position: relative;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

    .btn-group > .btn + .btn {
        margin-left: -1px;
    }

.btn-group > .btn,
.btn-group > .dropdown-menu,
.btn-group > .popover {
    font-size: 14px;
}

.btn-group > .btn-mini {
    font-size: 10.5px;
}

.btn-group > .btn-small {
    font-size: 11.9px;
}

.btn-group > .btn-large {
    font-size: 17.5px;
}

.btn-group > .btn:first-child {
    margin-left: 0;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-topleft: 4px;
}

.btn-group > .btn:last-child,
.btn-group > .dropdown-toggle {
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
}

.btn-group > .btn.large:first-child {
    margin-left: 0;
    -webkit-border-bottom-left-radius: 6px;
    border-bottom-left-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    border-top-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-topleft: 6px;
}

.btn-group > .btn.large:last-child,
.btn-group > .large.dropdown-toggle {
    -webkit-border-top-right-radius: 6px;
    border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    border-bottom-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomright: 6px;
}

.btn-group > .btn:hover,
.btn-group > .btn:focus,
.btn-group > .btn:active,
.btn-group > .btn.active {
    z-index: 2;
}

.btn-group .dropdown-toggle:active,
.btn-group.open .dropdown-toggle {
    outline: 0;
}

.btn-group > .btn + .dropdown-toggle {
    *padding-top: 5px;
    padding-right: 8px;
    *padding-bottom: 5px;
    padding-left: 8px;
    -webkit-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn-group > .btn-mini + .dropdown-toggle {
    *padding-top: 2px;
    padding-right: 5px;
    *padding-bottom: 2px;
    padding-left: 5px;
}

.btn-group > .btn-small + .dropdown-toggle {
    *padding-top: 5px;
    *padding-bottom: 4px;
}

.btn-group > .btn-large + .dropdown-toggle {
    *padding-top: 7px;
    padding-right: 12px;
    *padding-bottom: 7px;
    padding-left: 12px;
}

.btn-group.open .dropdown-toggle {
    background-image: none;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn-group.open .btn.dropdown-toggle {
    background-color: #e6e6e6;
}

.btn-group.open .btn-primary.dropdown-toggle {
    background-color: #0044cc;
}

.btn-group.open .btn-warning.dropdown-toggle {
    background-color: #f89406;
}

.btn-group.open .btn-danger.dropdown-toggle {
    background-color: #bd362f;
}

.btn-group.open .btn-success.dropdown-toggle {
    background-color: #51a351;
}

.btn-group.open .btn-info.dropdown-toggle {
    background-color: #2f96b4;
}

.btn-group.open .btn-inverse.dropdown-toggle {
    background-color: #222222;
}

a.btn:active, a.btn:visited {
    color: #666666;
}

.btn .icon {
    margin-bottom: -3px;
    margin-right: 6px;
}

.dashboard-info {
    width: 100%;
}

.nihilo .dojoxListInput .dijitDialogCloseIcon {
    background: url("../../js/dijit/themes/nihilo/images/spriteRoundedIconsSmall.png") -60px 0;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    top: inherit;
}

.nihilo .dojoxListInput .dijitInline .dijitLeft {
    float: left;
}

.listInputDictionary {
    position: absolute;
    z-index: 100;
}

li.treeview > ul > li > ul {
    display: none;
}

.skin-blue a, a:visited, a:active {
    color: #6699cc;
    font-weight: 400 !important;
}
