﻿a {
    font-weight: normal;
}

li.treeview > ul > li > ul {
    display: none;
}

.section-title {
    margin: 0 0 5px 0;
}

.modal {
    text-align: center;
}

    .modal .row_error {
        box-shadow: inset 0 0 10px red;
    }

    .modal .text-error {
        color: red;
    }

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.dataTables_scrollBody > .dataTable {
    margin-left: 0px;
}

.table-inner.no-footer {
    border-bottom: 0 !important;
}

.table-add-cols {
    display: flex;
}

    .table-add-cols > [class*="col-"] > .panel {
        height: 100%;
    }

@media screen and (max-width:425px) {
    .table-add-cols {
        display: block;
        float: none;
    }
}

#selectUserDialog {
    width: 100%;
    z-index: 1049;
}

th > input#butFilter, th > button#butFilter, th > input#submit {
    text-indent: -9999vw !important;
}

th > input#butReset, th > button#butReset, a > button#butReset {
    text-indent: -9999vw !important;
}

.list-group-item > a[class*="options__"] {
    padding-left: 20px;
}

.profile-head {
    border-bottom: none !important;
}

.palette-color-picker-bubble .swatch {
    width: 8%;
    padding-top: 6.6%;
    margin: .5% 1%;
}

.palette-color-picker-bubble {
    width: 300px;
    z-index: 999999;
}

.checkbox label, .radio label {
    padding-left: 0;
}

    .checkbox label div, .radio label div {
        margin-right: 3px;
    }

.modal-dialog .modal-body {
    overflow: auto;
}

.modal-dialog .select2-container {
    display: block;
}

form fieldset {
    display: block;
    border: 1px solid #ccc;
    border-radius: 0;
    padding: 10px;
}

    form fieldset legend {
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        border-bottom: none;
        margin-left: 1em;
        margin-bottom: 0;
    }

.group-of-two-inputs.-with-column-separator .field-column + .field-column .form-group:before {
    content: '/';
    position: absolute;
    left: -2px;
    top: 31px;
}

.group-of-two-inputs .field-column + .field-column .form-control {
    margin-top: 25px;
}
