﻿.avatar-preset-item {
    margin: 2px;
    display: inline-block;
    width: 100px;
    height: 134px;
    text-align: center;
    border: 1px solid #bfbfbf;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    float: left;
    overflow: hidden;
}

    .avatar-preset-item-image-wrp, .avatar-preset-item > img {
        width: 100px;
        height: 100px;
        border-bottom: 1px solid #bfbfbf;
    }

.avatar-preset-item-actions {
    padding: 4px 0;
    background: #e8e8e8;
}
