﻿/* FORM */

.purple-skin .form-control:focus {
    border-color: #5E4DB3;
}

.purple-skin .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #473B88;
    border-color: #473B88;
}

    .purple-skin .select2-container--default .select2-selection--multiple .select2-selection__choice:hover {
        background-color: #69619F;
        border-color: #473B88;
    }

.purple-skin .select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #473B88;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #85458D;
    ;
}

.purple-skin .select2-container--default .select2-results__option[aria-selected=true],
.purple-skin .select2-container--default .select2-results__option[aria-selected=true]:hover {
    color: #ffffff;
}

.purple-skin .fa-question-circle:hover {
    color: #AAA5CE;
}

.purple-skin table.listing-table .listFilter input,
.purple-skin table.listing-table .listFilter select {
    background-color: white;
    background-image: none;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
    margin: 2px -2px;
    padding: 1px;
    font-size: 14px;
    min-width: 100px;
}

/* BUTTONS */

.purple-skin .btn-primary {
    background-color: #69619F;
    border-color: #69619F;
}

    .purple-skin .btn-primary:hover {
        background-color: #69619F;
        border-color: #473B88;
    }

    .purple-skin .btn-primary:focus,
    .purple-skin .btn-primary.active,
    .purple-skin .btn-primary:active {
        background-color: #473B88;
        border-color: #473B88;
    }

.purple-skin .ok {
    background: url("../../../../img/content/but_ok.svg") no-repeat;
    border-width: 0px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    text-indent: -9999px;
    display: inline-table;
}

.purple-skin .del {
    background: url("../../../../img/content/but_cancel.svg") no-repeat;
    border-width: 0px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    text-indent: -9999px;
    display: inline-table;
}

.purple-skin th > input#butFilter,
.purple-skin th > button#butFilter,
.purple-skin th > input#submit {
    background: url('../img/but_ok.svg') no-repeat;
}

.purple-skin th > input#butReset,
.purple-skin th > button#butReset,
.purple-skin a > button#butReset {
    background: url('../img/but_cancel.svg') no-repeat;
}

.btn-container > .purple-skin-btn-lte-theme {
    height: 34px;
    border-radius: 3px;
    border: 1px solid #a09ece;
    background-color: #eceff4;
    color: #5754b8;
    font-size: 14px;
    font-weight: 400;
}

.purple-btn-add {
    position: relative;
}

.btn-container > .purple-btn-add:before {
    content: '';
    position: absolute;
    left: 8px;
    top: 50%;
    width: 12px;
    height: 2px;
    background-color: #5754b8;
}

.btn-container > .purple-btn-add:after {
    content: '';
    position: absolute;
    left: 13px;
    top: 50%;
    width: 2px;
    height: 12px;
    background-color: #5754b8;
    margin-top: -5px;
}

.btn-container > .purple-skin-btn-lte-theme:hover {
    border-radius: 3px;
    border: 1px solid #a09ece;
    background-color: #d1d0e3;
    color: #5754b8;
    font-size: 14px;
    font-weight: 400;
}

.btn-container > .purple-skin-btn-lte-theme:active {
    border-radius: 3px;
    border: 1px solid #a09ece;
    background-color: #a09ece;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
}

.btn-container > .purple-btn-add:active:before {
    background-color: #ffffff;
}

.btn-container > .purple-btn-add:active:after {
    background-color: #ffffff;
}

.btn-container > .purple-skin-btn-lte-theme:disabled {
    border-radius: 3px;
    border: 1px solid #d7d7d7;
    background-color: #eceff4;
    color: #44444f;
    font-size: 14px;
    font-weight: 400;
}

    .btn-container > .purple-skin-btn-lte-theme:disabled:before {
        background-color: #cacdd2;
    }

    .btn-container > .purple-skin-btn-lte-theme:disabled:after {
        background-color: #cacdd2;
    }

.btn-container > .purple-skin-btn-lte-theme:visited {
    color: #5754b8;
}

.btn-container > .purple-skin-btn-lte-theme:active:visited {
    color: #ffffff;
}

.purple-skin-btn-plus {
    width: 12px;
    height: 12px;
    display: inline-block;
}
/* PANELS */

.purple-skin .box.box-primary {
    border-top-width: 0;
}

.purple-skin .panel-primary {
    border-color: #473B88;
}

    .purple-skin .panel-primary > .panel-heading {
        background-color: #473B88;
        border-color: #473B88;
    }

.purple-skin .panel > .box-header {
    border-color: #473B88;
    background-color: #473B88;
}

    .purple-skin .panel > .box-header:hover {
        border-color: #69619F;
        background-color: #69619F;
    }

    .purple-skin .panel > .box-header .box-title > a {
        color: #ffffff;
        background-color: transparent;
    }

        .purple-skin .panel > .box-header .box-title > a:hover {
            color: #ffffff;
            background-color: transparent;
        }

.purple-skin .panel > .box-header {
    border-color: #473B88;
}

/* LINKS */

.purple-skin a {
    color: #7E74BD;
}

    .purple-skin a:hover {
        color: #AAA5CE;
    }

    .purple-skin a:visited,
    .purple-skin a:active,
    .purple-skin a:focus {
        color: #85458D;
    }

/* RADIO */

.purple-skin .icheckbox_line-blue,
.purple-skin .iradio_line-blue {
    background: #69619F;
}

    .purple-skin .icheckbox_line-blue:hover,
    .purple-skin .iradio_line-blue:hover {
        background: #A19ACB;
    }

    .purple-skin .icheckbox_line-blue:focus,
    .purple-skin .iradio_line-blue:active {
        background: #473B88;
    }

/* TABLES */

.purple-skin .dataTables_info {
    display: none;
}

.purple-skin .dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 0;
}

.purple-skin .DTFC_LeftBodyLiner table {
    border-right: 1px solid rgb(198, 198, 198) !important;
}

.purple-skin .custom-dropdown {
    border-radius: 15px;
    padding: 3px;
    line-height: 1;
}

    .purple-skin .custom-dropdown img {
        width: 14px;
        height: 14px;
    }

.purple-skin table.listing-table {
    border: none;
    border-collapse: collapse;
    width: 100%;
}

    .purple-skin table.listing-table .even,
    .purple-skin .dataTables_scrollFoot table.listing-table tr {
        background-color: #F1F1F1;
    }

    .purple-skin table.listing-table .listHead tr {
        background: #ffffff;
    }

    .purple-skin table.listing-table th:hover {
        background-color: #D1CEE2;
    }

    .purple-skin table.listing-table th.sorting_asc {
        background-color: #A19ACB;
    }

    .purple-skin table.listing-table th a.headerLink {
        color: #464550;
        text-decoration: none;
    }

    .purple-skin table.listing-table th.sorting_asc a.headerLink {
        color: #ffffff;
    }

    .purple-skin table.listing-table th,
    .purple-skin table.listing-table td {
        border-color: #C6C6C6;
        border-width: 0px 1px 1px 1px;
    }

.purple-skin .DTFC_LeftHeadWrapper table.listing-table tr th,
.purple-skin .DTFC_LeftBodyLiner table.listing-table tr td {
    border-width: 0px 1px 1px 0;
}

.purple-skin table.listing-table td a {
    color: #9C96CE;
    text-decoration: underline;
}

.purple-skin .dataTables_scrollBody table.listing-table td a:hover {
    color: #ffffff;
}

.purple-skin .dataTables_scrollBody table.listing-table td a:focus,
.purple-skin .dataTables_scrollBody table.listing-table td a:active {
    color: #85458D;
}

.purple-skin .dataTables_scrollBody table.listing-table tr:hover,
.purple-skin .DTFC_LeftBodyLiner table.listing-table tr:hover {
    background-color: #D1CEE2;
}

.purple-skin table.listing-table th:first-of-type,
.purple-skin table.listing-table td:first-of-type {
    border-width: 0px 1px 1px 0px;
    text-align: center;
}

.purple-skin table.listing-table th:last-of-type,
.purple-skin table.listing-table td:last-of-type {
    border-width: 0px 0px 1px 1px;
}

.purple-skin .limit-controls .limit-link,
.purple-skin .paginator-link > a {
    background-color: #ffffff;
    border-color: transparent;
    color: #524990;
}

.purple-skin .paginator-link .disabled {
    border-color: transparent;
    background-color: transparent;
    color: #c6c4d7;
}

.purple-skin .paginator-link.paginator-link_border > a {
    color: #666666;
    background-color: #ffffff;
    border-color: #666666;
}

.purple-skin .limit-controls .limit-link:hover,
.purple-skin .paginator-link > a:hover {
    font-weight: 400;
    background-color: #A19ACB;
    color: #666666;
}

.purple-skin .limit-controls .limit-link:focus,
.purple-skin .limit-controls .limit-link:active,
.purple-skin .paginator-link > a:focus,
.purple-skin .paginator-link > a:active {
    color: #ffffff;
    background-color: #A19ACB;
}

.purple-skin .limit-controls div.limit-link,
.purple-skin .paginator-link > .current {
    color: #ffffff;
    background-color: #473B88;
}


.purple-skin th > div #butFilter {
    background: url("../../../../img/content/but_ok.svg") no-repeat;
    border-width: 0px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    text-indent: -9999px;
    display: inline-table;
}

.purple-skin th > div #butReset {
    background: url("../../../../img/content/but_cancel.svg") no-repeat;
    border-width: 0px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    text-indent: -9999px;
    display: inline-table;
}

.purple-skin .table-dropdown {
    border: 1px solid #838389;
}

    .purple-skin .table-dropdown .purple-icon {
        margin: 0 10px 0 0;
        background-position: center;
    }

    .purple-skin .table-dropdown > a {
        color: #575760;
        font-size: 14px;
        font-weight: 400;
        text-decoration: none;
        background-color: #ffffff;
        display: block;
        padding: 0 10px;
    }

.table-dropdown::before {
    border-bottom: 7px solid #838389;
    border-left: 7px solid rgba(0, 0, 0, 0);
    border-right: 7px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    left: 19px;
    position: absolute;
    top: -7px;
}

.table-dropdown::after {
    border-bottom: 7px solid #FFFFFF;
    border-left: 7px solid rgba(0, 0, 0, 0);
    border-right: 7px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    left: 19px;
    position: absolute;
    top: -6px;
}

.purple-skin .table-dropdown > a:visited {
    color: #575760;
}

.purple-skin .table-dropdown > a:hover {
    background-color: #D1CCE0;
}

.purple-skin .DTFC_LeftBodyLiner {
    overflow-x: hidden;
}

.purple-skin table.dataTable tbody th,
.purple-skin table.dataTable tbody td {
    padding: 4px 18px !important;
    font-size: 14px !important;
}

.purple-skin .btn-transparent {
    background-color: transparent !important;
}

.purple-skin .custom-dropdown-menu {
    position: absolute;
    display: none;
    top: 45px;
    left: 0px;
    width: 150px;
    max-height: 300px;
    z-index: 99999;
    padding-left: 5px;
    background: #fff;
    overflow: auto;
    border: 1px solid #C5C5C5;
}

#columnControlsBtn > img {
    vertical-align: bottom;
}

/* Jquery DataPicker */

.purple-skin .ui-state-default,
.purple-skin .ui-widget-content .ui-state-default {
    background-color: transparent;
    border-color: transparent;
    color: #68686E;
}

.purple-skin .ui-widget-content .ui-state-hover {
    background-color: #69619F;
    border-color: transparent;
    color: #ffffff;
}

.purple-skin .ui-widget-header {
    background-color: transparent;
    border-color: transparent;
}

.purple-skin .ui-datepicker-prev.ui-datepicker-prev-hover,
.purple-skin .ui-datepicker-next.ui-datepicker-next-hover {
    background-color: transparent;
}

/* TABS */

.purple-skin .nav-tabs-custom > .nav-tabs > li.active {
    border-top-color: #473B88;
}

/* DataTAbles */

.purple-skin table.dataTable thead th,
.purple-skin table.dataTable tfoot th {
    font-weight: 400;
}

    .purple-skin table.dataTable thead th:first-of-type {
        text-align: center;
    }

.purple-skin .DTFC_LeftHeadWrapper .listFilter th {
    min-width: 38px;
}

/* PURPLE ICONS */

.purple-icon {
    width: 14px;
    height: 14px;
    background-color: transparent;
    background-repeat: no-repeat;
    display: inline-block;
}

.purple-icon-edit {
    background-image: url('../../../../img/icons/edit.png');
}

.purple-icon-clock {
    background-image: url("../../../../img/icons/clock.svg");
}

.purple-icon-hearts {
    background-image: url("../../../../img/icons/hearts.svg");
}

.purple-icon-menu {
    background-image: url("../../../../img/icons/menu.png");
}

.purple-icon-transaction {
    background-image: url("../../../../img/icons/transaction.svg");
}

.purple-icon-winner {
    background-image: url("../../../../img/icons/winner.svg");
}

.purple-icon-time {
    background-image: url("../../../../img/icons/clock_h.png");
}

.purple-icon-winner_purplue {
    background-image: url("../../../../img/icons/winner_purplue.svg");
}

.purple-icon-transaction_purplue {
    background-image: url("../../../../img/icons/transaction_purplue.svg");
}

.purple-icon-hearts_purplue {
    background-image: url("../../../../img/icons/hearts_purplue.svg");
}

.purple-icon-edit_purplue {
    background-image: url("../../../../img/icons/edit_purplue.svg");
}

.purple-icon-clock_purplue {
    background-image: url("../../../../img/icons/clock_purplue.svg");
}

/* HEADINGS */

#welcome > h1,
#welcome > h2,
#welcome > h3,
#welcome > h4,
#welcome > h5,
#welcome > h6,
#content > h1,
#content > h2,
#content > h3,
#content > h4,
#content > h5,
#content > h6 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 10px;
}

/* TABLES */

.dataTables_wrapper {
    margin: 0px 0px 0px;
}

.skin-purple .listHead input,
.skin-purple .listHead select {
    width: 100%;
}

.skin-purple .listFilter th {
    padding: 3px 18px;
}

/* PANELS */

.panel {
    margin-bottom: 10px;
}

/* LOGIN */

.login-wrapp {
    min-height: 100vh;
    background-color: #aaa9dc;
    background-image: url("../../../../img/pict.png");
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    margin: -15px;
}

.login-logo, .register-logo {
    font-size: 26px;
    margin-bottom: 15px;
}

.login-box-body {
    position: relative;
    padding-top: 135px;
}
