﻿/* LAYOUT */

.purple-skin .main-header .navbar {
    background-color: #473B88;
}

.purple-skin .content h3 {
    margin-top: 0;
}

.purple-skin .main-header .logo {
    color: #ffffff;
    background-color: #69619F;
}

    .purple-skin .main-header .logo:hover {
        background-color: #69619F;
        text-decoration: underline;
    }

.purple-skin .sidebar a {
    color: #ffffff;
}

.purple-skin .main-header .navbar .nav > li > a {
    color: #ffffff;
    background-color: #69619F;
}


.purple-skin .sidebar-menu li > a > .pull-right-container {
    transform: rotate(180deg);
}

.purple-skin .sidebar-menu li.active > a > .pull-right-container {
    transform: none;
}

.purple-skin .sidebar-menu > li > .treeview-menu {
    background: #69619F;
}

.purple-skin .main-header .sidebar-toggle {
    color: #ffffff;
    background-color: #473B88;
}

.purple-skin .main-header .navbar .sidebar-toggle:hover,
.purple-skin .main-header .navbar .sidebar-toggle:focus,
.purple-skin .main-header .navbar .sidebar-toggle:active {
    background-color: #524990;
}

.purple-skin .main-header .navbar .nav > li > a:hover,
.purple-skin .main-header .navbar .nav > li > a:active,
.purple-skin .main-header .navbar .nav > li > a:focus,
.purple-skin .main-header .navbar .nav .open > a,
.purple-skin .main-header .navbar .nav .open > a:hover,
.purple-skin .main-header .navbar .nav .open > a:focus,
.purple-skin .main-header .navbar .nav > .active > a {
    color: #ffffff;
    text-decoration: underline;
    background-color: #524990;
}

.purple-skin .main-sidebar {
    background-color: #473B88;
}

.purple-skin .sidebar-menu > li:hover > a {
    background-color: #524990;
    border-left-color: #6C478E;
}

.purple-skin .sidebar-menu > li.active > a {
    background: #524990;
    border-left-color: #85458D;
}

.purple-skin .sidebar-menu li > a {
    color: #ffffff;
}

.purple-skin .treeview-menu > li.active > a,
.purple-skin .treeview-menu > li > a:hover {
    color: #9E94BD;
}

/* NAV icon-S */

.navigation-icon {
    display: inline-block;
    margin: 0 5px 2px 0;
    vertical-align: bottom;
}

.navigation-icon {
    width: 14px;
    height: 14px;
    background: url('../../../../img/aside-navigation/configuration.png');
}

.treeview > a:hover .navigation-icon {
    width: 14px;
    height: 14px;
    background: url('../../../../img/aside-navigation/configuration_h.png');
}

.treeview > a:hover .navigation-icon-export-manage {
    width: 14px;
    height: 14px;
    background: url('../../../../img/aside-navigation/reports_h.png');
}

.treeview > a:hover .navigation-icon-server {
    width: 14px;
    height: 14px;
    background: url('../../../../img/aside-navigation/servers_h.png');
}

.treeview > a:hover .navigation-icon-table {
    width: 14px;
    height: 14px;
    background: url('../../../../img/aside-navigation/tables_h.png');
}

.treeview > a:hover .navigation-icon-tournament {
    width: 14px;
    height: 14px;
    background: url('../../../../img/aside-navigation/tournaments_h.png');
}

.treeview > a:hover .navigation-icon-transactions {
    width: 14px;
    height: 14px;
    background: url('../../../../img/aside-navigation/transactions_h.png');
}

.treeview > a:hover .navigation-icon-user {
    width: 14px;
    height: 14px;
    background: url('../../../../img/aside-navigation/users_h.png');
}

.treeview > a:hover .navigation-icon-affiliate {
    width: 14px;
    height: 14px;
    background: url('../../../../img/aside-navigation/affiliate_management_h.png');
}

.treeview > a:hover .navigation-icon-affiliate-money {
    width: 14px;
    height: 14px;
    background: url('../../../../img/aside-navigation/affiliate_money_reports_h.png');
}

.treeview > a:hover .navigation-icon-banner-place {
    width: 14px;
    height: 14px;
    background: url('../../../../img/aside-navigation/banner_management_h.png');
}

.treeview > a:hover .navigation-icon-bots {
    width: 14px;
    height: 14px;
    background: url('../../../../img/aside-navigation/bots_h.png');
}

.treeview > a:hover .navigation-icon-config {
    width: 14px;
    height: 14px;
    background: url('../../../../img/aside-navigation/configuration_h.png');
}

.treeview > a:hover .navigation-icon-avatars-on-dav {
    width: 14px;
    height: 14px;
    background: url('../../../../img/aside-navigation/dav_avatar_manage_h.png');
}

.treeview > a:hover .navigation-icon-bonus {
    width: 14px;
    height: 14px;
    background: url('../../../../img/aside-navigation/deposit_bonus_h.png');
}

.treeview > a:hover .navigation-icon-money {
    width: 14px;
    height: 14px;
    background: url('../../../../img/aside-navigation/affiliate_money_reports_h.png');
}

.treeview > a:hover .navigation-icon-fraud-info {
    width: 14px;
    height: 14px;
    background: url('../../../../img/aside-navigation/fraud_h.png');
}

.treeview > a:hover .navigation-icon-jackpot {
    width: 14px;
    height: 14px;
    background: url('../../../../img/aside-navigation/jackpot_h.png');
}

.treeview a:hover.navigation-icon-multicurrencies {
    width: 14px;
    height: 14px;
    background: url('../../../../img/aside-navigation/multi_currency_h.png');
}

.treeview > a:hover .navigation-icon-notification {
    width: 14px;
    height: 14px;
    background: url('../../../../img/aside-navigation/notifications_h.png');
}

.treeview > a:hover .navigation-icon-limit {
    width: 14px;
    height: 14px;
    background: url('../../../../img/aside-navigation/payment_system_h.png');
}

.treeview > a:hover .navigation-icon-prohibitedip {
    width: 14px;
    height: 14px;
    background: url('../../../../img/aside-navigation/prohibited_ip_h.png');
}

.treeview > a:hover .navigation-icon-rakeback {
    width: 14px;
    height: 14px;
    background: url('../../../../img/aside-navigation/rakeback_h.png');
}

.treeview > a:hover .navigation-icon-realtimemonitoring {
    width: 14px;
    height: 14px;
    background: url('../../../../img/aside-navigation/real_time_monitoring_h.png');
}

.treeview > a:hover .navigation-icon-reportgen-list {
    width: 14px;
    height: 14px;
    background: url('../../../../img/aside-navigation/report_generations_h.png');
}

.treeview > a:hover .navigation-icon-multicurrencies {
    width: 14px;
    height: 14px;
    background: url('../../../../img/aside-navigation/multi_currency_h.png');
}

.navigation-icon.navigation-icon-transactions {
    width: 14px;
    height: 14px;
    background: url('../../../../img/aside-navigation/transactions.png');
}

.navigation-icon.navigation-icon-user {
    width: 14px;
    height: 14px;
    background: url('../../../../img/aside-navigation/users.png');
}

.navigation-icon.navigation-icon-affiliate {
    width: 14px;
    height: 14px;
    background: url('../../../../img/aside-navigation/affiliate_management.png');
}

.navigation-icon.navigation-icon-affiliate-money {
    width: 14px;
    height: 14px;
    background: url('../../../../img/aside-navigation/affiliate_money_reports.png');
}

.navigation-icon.navigation-icon-banner-place {
    width: 14px;
    height: 14px;
    background: url('../../../../img/aside-navigation/banner_management.png');
}

.navigation-icon.navigation-icon-bots {
    width: 14px;
    height: 14px;
    background: url('../../../../img/aside-navigation/bots.png');
}

.navigation-icon.navigation-icon-config {
    width: 14px;
    height: 14px;
    background: url('../../../../img/aside-navigation/configuration.png');
}

.navigation-icon.navigation-icon-avatars-on-dav {
    width: 14px;
    height: 14px;
    background: url('../../../../img/aside-navigation/dav_avatar_manage.png');
}

.navigation-icon.navigation-icon-bonus {
    width: 14px;
    height: 14px;
    background: url('../../../../img/aside-navigation/deposit_bonus.png');
}

.navigation-icon.navigation-icon-money {
    width: 14px;
    height: 14px;
    background: url('../../../../img/aside-navigation/affiliate_money_reports.png');
}

.navigation-icon.navigation-icon-fraud-info {
    width: 14px;
    height: 14px;
    background: url('../../../../img/aside-navigation/fraud.png');
}

.navigation-icon.navigation-icon-jackpot {
    width: 14px;
    height: 14px;
    background: url('../../../../img/aside-navigation/jackpot.png');
}

.navigation-icon.navigation-icon-multicurrencies {
    width: 14px;
    height: 14px;
    background: url('../../../../img/aside-navigation/multi_currency.png');
}

.navigation-icon.navigation-icon.navigation-icon-notification {
    width: 14px;
    height: 14px;
    background: url('../../../../img/aside-navigation/notifications.png');
}

.navigation-icon.navigation-icon-limit {
    width: 14px;
    height: 14px;
    background: url('../../../../img/aside-navigation/payment_system.png');
}

.navigation-icon.navigation-icon-prohibitedip {
    width: 14px;
    height: 14px;
    background: url('../../../../img/aside-navigation/prohibited_ip.png');
}

.navigation-icon.navigation-icon-rakeback {
    width: 14px;
    height: 14px;
    background: url('../../../../img/aside-navigation/rakeback.png');
}

.navigation-icon.navigation-icon-realtimemonitoring {
    width: 14px;
    height: 14px;
    background: url('../../../../img/aside-navigation/real_time_monitoring.png');
}

.navigation-icon.navigation-icon-reportgen-list {
    width: 14px;
    height: 14px;
    background: url('../../../../img/aside-navigation/report_generations.png');
}

.navigation-icon.navigation-icon-export-manage {
    width: 14px;
    height: 14px;
    background: url('../../../../img/aside-navigation/reports.png');
}

.navigation-icon.navigation-icon-server {
    width: 14px;
    height: 14px;
    background: url('../../../../img/aside-navigation/servers.png');
}

.navigation-icon.navigation-icon-table {
    width: 14px;
    height: 14px;
    background: url('../../../../img/aside-navigation/tables.png');
}

.navigation-icon.navigation-icon-tournament {
    width: 14px;
    height: 14px;
    background: url('../../../../img/aside-navigation/tournaments.png');
}
