﻿.dijitBorderContainerNoGutter .dijitSplitterH {
    height: 6px;
}

.dijitBorderContainerNoGutter .dijitSplitterV {
    width: 12px;
}

.dijitBorderContainerNoGutter .dijitSplitterH .dojoxToggleSplitterIcon {
    background-image: url('icons/splitterToggleH.png');
    background-repeat: no-repeat;
    width: 142px;
    height: 6px;
    top: 0;
    left: 45%;
    cursor: pointer;
    background-size: 400% 100%;
}

.dijitBorderContainerNoGutter .dijitSplitterV .dojoxToggleSplitterIcon {
    background-image: url('icons/splitterToggleV.png');
    background-repeat: no-repeat;
    vertical-align: middle;
    width: 12px;
    height: 71px;
    left: 0;
    top: 45%;
    cursor: pointer;
    background-size: 400% 100%;
}

.dojoxToggleSplitterTop .dojoxToggleSplitterIconOpen,
.dojoxToggleSplitterBottom .dojoxToggleSplitterIconClosed {
    background-position: 0 -24px !important;
}

.dojoxToggleSplitterBottom .dojoxToggleSplitterIconOpen,
.dojoxToggleSplitterTop .dojoxToggleSplitterIconClosed {
    background-position: 0 0 !important;
}

.dojoxToggleSplitterLeft .dojoxToggleSplitterIconOpen,
.dojoxToggleSplitterRight .dojoxToggleSplitterIconClosed {
    background-position: -24px 0 !important;
}

.dojoxToggleSplitterRight .dojoxToggleSplitterIconOpen,
.dojoxToggleSplitterLeft .dojoxToggleSplitterIconClosed {
    background-position: 0 0 !important;
}

.dojoxToggleSplitterTop .dojoxToggleSplitterIconOpenHover,
.dojoxToggleSplitterBottom .dojoxToggleSplitterIconClosedHover {
    background-position: 0 -36px !important;
}

.dojoxToggleSplitterBottom .dojoxToggleSplitterIconOpenHover,
.dojoxToggleSplitterTop .dojoxToggleSplitterIconClosedHover {
    background-position: 0 -12px !important;
}

.dojoxToggleSplitterLeft .dojoxToggleSplitterIconOpenHover,
.dojoxToggleSplitterRight .dojoxToggleSplitterIconClosedHover {
    background-position: -36px 0 !important;
}

.dojoxToggleSplitterRight .dojoxToggleSplitterIconOpenHover,
.dojoxToggleSplitterLeft .dojoxToggleSplitterIconClosedHover {
    background-position: -12px 0 !important;
}

.dojoxToggleSplitterTop .dojoxToggleSplitterA11y,
.dojoxToggleSplitterBottom .dojoxToggleSplitterA11y {
    display: none;
    font-size: 6px;
    text-align: center;
}

.dojoxToggleSplitterRight .dojoxToggleSplitterA11y,
.dojoxToggleSplitterLeft .dojoxToggleSplitterA11y {
    display: none;
    font-size: 8px;
    position: relative;
    top: 48%;
}

.dijit_a11y .dojoxToggleSplitterA11y {
    display: block;
}
