﻿.preview-popup {
    left: calc(100% - 500px);
    right: 20px;
    bottom: 20px;
    background: none;
}

    .preview-popup .modal-dialog {
        width: calc(100% - 3px);
        margin: 0;
    }

    .preview-popup.fade .modal-dialog {
        transform: translate(25%, 0);
    }

    .preview-popup.fade.in .modal-dialog {
        transform: translate(0, 0);
    }

    .preview-popup .modal-body {
        height: calc(100vh - 80px);
        overflow-y: scroll;
    }

@media screen and (max-width: 768px) {
    .preview-popup {
        left: 0;
        right: 0;
        bottom: 0;
    }

        .preview-popup .modal-body {
            height: calc(100vh - 60px);
        }
}

.preview-popup .btn {
    margin-bottom: 10px;
}
