﻿.widget {
    user-select: none;
}

/* For table widget */
.widget-table tbody td {
    padding: 6px !important;
}


/* For text widget */
.widget-text .badge-widget-text {
    position: absolute;
    top: 5px;
    right: 32px;
    opacity: .5;
}

.widget-text .inner .data-wrapper {
    font-size: 1em;
}

.widget-text .small-data-text {
    font-size: .8em !important;
}

/* For chart widget */

.widget-chart hr {
    margin: 4px 0 4px 0 !important;
}

.widget .widget-text-settings {
    color: white;
    position: absolute;
    right: 10px;
    top: 4px;
}

.widget.edited {
    cursor: move;
}

.widget .small-box {
    border-radius: 6px;
    box-shadow: 0 0 4px rgba(0,0,0,.2);
}

.widget .widget-text-settings > button {
    z-index: 51;
}

.widget .widget-settings > ul {
    left: auto;
    box-shadow: 0 0 8px rgba(0,0,0,.2);
}

    .widget .widget-settings > ul ul {
        left: -100%;
        box-shadow: 0 0 8px rgba(0,0,0,.2);
        cursor: default;
    }

.menu-right, .menu-right ul {
    left: 90% !important;
}

.widget-settings .widget-text-settings-button,
.widget-settings .widget-text-settings-button:hover,
.widget-settings .widget-text-settings-button:focus,
.widget-settings .widget-text-settings-button:active {
    color: white;
    background: none !important;
    border: none;
    padding: 0;
}

.widget .view-update-link {
    position: absolute;
    top: 0;
    right: 20px;
    white-space: nowrap;
}

.widget .small-box-footer {
    color: #fff !important;
}

.color-item {
    display: inline-block !important;
    width: 30px;
    height: 30px;
    margin: 2px;
    transition: .3s;
    border-radius: 3px;
}

    .color-item:hover {
        opacity: .7;
    }

.color-list {
    max-width: 200px;
}

.text-dark {
    color: #1d1d1d !important;
}

.badge-widget {
    color: #373737 !important;
    box-shadow: 0 0 4px rgba(0,0,0,.2);
    font-weight: normal !important;
    background: #fff !important;
}
