﻿
@{
    ViewBag.Title = "AddBannerPlace";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h3>Add Banner Place <a href="http://docs.evenbetgaming.com/articles/Administration_Panel/Add Banner Place.html" target="_blank"><sup><i class="fa fa-question-circle"></i></sup></a></h3>

<div id="response"></div>
<div dojoType="dijit.form.Form" id="bannerPlaceCreationForm" jsId="bannerPlaceCreationForm"
     encType="multipart/form-data" method="post" class="center_content">

    <input type="hidden" name="entityId" value="0"
           id="entityId" dojoType="dijit.form.TextBox" />
    <ul class="errors" id="entityIdErrors">
    </ul>
    <div id="form-element-code" class="form-element">
        <label for="code" class="required">Code</label>
        <input id="code"
               type="text"
               name="code"
               value=""
               dojoType="dijit.form.ValidationTextBox"
               trim="true"
               required="true" maxlength="100" />
        <ul class="errors" id="codeErrors">
        </ul>
    </div> <br />

    <div id="form-element-name" class="form-element">
        <label for="name" class="required">Name</label>
        <input id="name"
               type="text"
               name="name"
               value=""
               dojoType="dijit.form.ValidationTextBox"
               trim="true"
               required="true" maxlength="100" />
        <ul class="errors" id="nameErrors">
        </ul>
    </div> <br />

    <div id="form-element-description" class="form-element">
        <label for="description">Description</label>
        <input id="description"
               type="text"
               name="description"
               value=""
               dojoType="dijit.form.ValidationTextBox"
               trim="true"
               maxlength="255" />
        <ul class="errors" id="descriptionErrors">
        </ul>
    </div> <br />

    <div id="form-element-width" class="form-element">
        <label for="width" class="required">Width</label>

        <input id="width"
               type="text"
               name="width"
               value="600"
               smallDelta="1"
               dojoType="dijit.form.NumberSpinner"
               max="99999999999999" required="true" constraints="{
            min: 0,
             max: 99999999999999,             places: 0
         }" />
        <ul class="errors" id="widthErrors">
        </ul>
    </div> <br />

    <div id="form-element-height" class="form-element">
        <label for="height" class="required">Height</label>

        <input id="height"
               type="text"
               name="height"
               value="200"
               smallDelta="1"
               dojoType="dijit.form.NumberSpinner"
               max="99999999999999" required="true" constraints="{
            min: 0,
             max: 99999999999999,             places: 0
         }" />
        <ul class="errors" id="heightErrors">
        </ul>
    </div> <br />
    <div id="form-element-rotateOrder" class="form-element">
        <fieldset>
            <legend class="optional">Rotate Order</legend>
            <label for="rotateOrder-Queue">
                <input type="radio"
                       name="rotateOrder"
                       id="rotateOrder-Queue"
                       value="0"
                       checked="checked"
                       checked="checked" />
                Queue
            </label>
            <label for="rotateOrder-Random">
                <input type="radio"
                       name="rotateOrder"
                       id="rotateOrder-Random"
                       value="1" />
                Random
            </label>
            <label for="rotateOrder-Priority Random">
                <input type="radio"
                       name="rotateOrder"
                       id="rotateOrder-Priority Random"
                       value="2" />
                Priority Random
            </label>
            <ul class="errors" id="rotateOrderErrors">
            </ul>
        </fieldset>
    </div> <br />


    <div id="form-element-rotateMode" class="form-element">
        <label for="rotateMode">Rotate Mode</label>
        <select id="rotateMode"
                name="rotateMode"
                dojoType="dijit.form.Select"
                maxHeight="300"
                style="max-height:300px;">
            <option value="0" selected=true />
            Time
            </option>
        </select>
        <ul class="errors" id="rotateModeErrors">
        </ul>
    </div> <br />
    <div id='rotate-period-container'>

        <div id="form-element-rotatePeriod" class="form-element">
            <label for="rotatePeriod" class="required">A frequency of changing images (in seconds)</label>

            <input id="rotatePeriod"
                   type="text"
                   name="rotatePeriod"
                   value="60"
                   smallDelta="1"
                   dojoType="dijit.form.NumberSpinner"
                   max="99999999999999" required="true" constraints="{
            min: 0,
             max: 99999999999999,             places: 0
         }" />
            <ul class="errors" id="rotatePeriodErrors">
            </ul>
        </div> <br />
    </div>


    <div id="form-element-speedAnimation" class="form-element">
        <label for="speedAnimation" class="required">Animation Speed</label>
        <input id="speedAnimation"
               type="text"
               name="speedAnimation"
               value="0.3"
               dojoType="dijit.form.ValidationTextBox"
               trim="true"
               required="true" max="99999999999999" />
        <ul class="errors" id="speedAnimationErrors">
        </ul>
    </div><br />

    <div id="form-element-renderCount" class="form-element">
        <label for="renderCount" class="required">Render Count</label>

        <input id="renderCount"
               type="text"
               name="renderCount"
               value="1"
               smallDelta="1"
               dojoType="dijit.form.NumberSpinner"
               max="99999999999999" required="true" constraints="{
            min: 0,
             max: 99999999999999,             places: 0
         }" />
        <ul class="errors" id="renderCountErrors">
        </ul>
    </div><br />

    <div id="form-element-slideBy" class="form-element">
        <label for="slideBy" class="required">Slide By</label>

        <input id="slideBy"
               type="text"
               name="slideBy"
               value="1"
               smallDelta="1"
               dojoType="dijit.form.NumberSpinner"
               max="99999999999999" required="true" constraints="{
            min: 0,
             max: 99999999999999,             places: 0
         }" />
        <ul class="errors" id="slideByErrors">
        </ul>
    </div><br />

    <div id="form-element-autoplay" class="form-element">
        <input type="hidden" name="autoplay" value="0">
        <label for="autoplay">
            <input id="autoplay"
                   name="autoplay"
                   type="checkbox"
                   dojoType="dijit.form.CheckBox"
                   value="1"
                   checked=false checked=""
                   options="Array"
                   type="checkbox">
            Autoplay
        </label>
        <ul class="errors" id="autoplayErrors">
        </ul>
    </div><br />

    <div id="form-element-autoplayRandomRepeat" class="form-element">
        <input type="hidden" name="autoplayRandomRepeat" value="0">
        <label for="autoplayRandomRepeat">
            <input id="autoplayRandomRepeat"
                   name="autoplayRandomRepeat"
                   type="checkbox"
                   dojoType="dijit.form.CheckBox"
                   value="1"
                   checked=false checked=""
                   options="Array"
                   type="checkbox">
            Autoplay Random Repeat
        </label>
        <ul class="errors" id="autoplayRandomRepeatErrors">
        </ul>
    </div><br />

    <div id="form-element-lazyload" class="form-element">
        <input type="hidden" name="lazyload" value="0">
        <label for="lazyload">
            <input id="lazyload"
                   name="lazyload"
                   type="checkbox"
                   dojoType="dijit.form.CheckBox"
                   value="1"
                   checked=false checked=""
                   options="Array"
                   type="checkbox">
            Lazy Load
        </label>
        <ul class="errors" id="lazyloadErrors">
        </ul>
    </div><br />

    <div id="form-element-fullHeight" class="form-element">
        <input type="hidden" name="fullHeight" value="0">
        <label for="fullHeight">
            <input id="fullHeight"
                   name="fullHeight"
                   type="checkbox"
                   dojoType="dijit.form.CheckBox"
                   value="1"
                   checked=false checked=""
                   options="Array"
                   type="checkbox">
            Full Height
        </label>
        <ul class="errors" id="fullHeightErrors">
        </ul>
    </div><br />

    <div id="form-element-controls" class="form-element">
        <input type="hidden" name="controls" value="0">
        <label for="controls">
            <input id="controls"
                   name="controls"
                   type="checkbox"
                   dojoType="dijit.form.CheckBox"
                   value="1"
                   checked=false checked=""
                   options="Array"
                   type="checkbox">
            Controls
        </label>
        <ul class="errors" id="controlsErrors">
        </ul>
    </div><br />

    <div id="form-element-controlsText" class="form-element">
        <label for="controlsText" class="required">Controls Text</label>
        <input id="controlsText"
               type="text"
               name="controlsText"
               value=""
               dojoType="dijit.form.ValidationTextBox"
               trim="true"
               required="true" />
        <ul class="errors" id="controlsTextErrors">
        </ul>                <div class='description'>Comma-separated values (eg. <,>)</div>
    </div><br />

    <div id="form-element-nav" class="form-element">
        <input type="hidden" name="nav" value="0">
        <label for="nav">
            <input id="nav"
                   name="nav"
                   type="checkbox"
                   dojoType="dijit.form.CheckBox"
                   value="1"
                   checked=false checked=""
                   options="Array"
                   type="checkbox">
            Navigation Buttons
        </label>
        <ul class="errors" id="navErrors">
        </ul>
    </div><br />

    <div id="form-element-rewind" class="form-element">
        <input type="hidden" name="rewind" value="0">
        <label for="rewind">
            <input id="rewind"
                   name="rewind"
                   type="checkbox"
                   dojoType="dijit.form.CheckBox"
                   value="1"
                   checked=false checked=""
                   options="Array"
                   type="checkbox">
            Rewind
        </label>
        <ul class="errors" id="rewindErrors">
        </ul>
    </div><br />

    <div id="form-element-mouseDrag" class="form-element">
        <input type="hidden" name="mouseDrag" value="0">
        <label for="mouseDrag">
            <input id="mouseDrag"
                   name="mouseDrag"
                   type="checkbox"
                   dojoType="dijit.form.CheckBox"
                   value="1"
                   checked=false checked=""
                   options="Array"
                   type="checkbox">
            Mouse Drag
        </label>
        <ul class="errors" id="mouseDragErrors">
        </ul>
    </div><br />

    <div id="form-element-touchDrag" class="form-element">
        <input type="hidden" name="touchDrag" value="0">
        <label for="touchDrag">
            <input id="touchDrag"
                   name="touchDrag"
                   type="checkbox"
                   dojoType="dijit.form.CheckBox"
                   value="1"
                   checked=false checked=""
                   options="Array"
                   type="checkbox">
            Touch Drag
        </label>
        <ul class="errors" id="touchDragErrors">
        </ul>
    </div><br />

    <div id="form-element-autoplayHoverPause" class="form-element">
        <input type="hidden" name="autoplayHoverPause" value="0">
        <label for="autoplayHoverPause">
            <input id="autoplayHoverPause"
                   name="autoplayHoverPause"
                   type="checkbox"
                   dojoType="dijit.form.CheckBox"
                   value="1"
                   checked=false checked=""
                   options="Array"
                   type="checkbox">
            Pause Autoplay on Hover
        </label>
        <ul class="errors" id="autoplayHoverPauseErrors">
        </ul>
    </div><br />

    <dt id="bannerImage-label"><label for="bannerImage" class="optional">Upload default banner image</label></dt>
    <dd id="bannerImage-element">
        <input type="hidden" name="MAX_FILE_SIZE" value="2097152" id="MAX_FILE_SIZE" />
        <input type="file" name="bannerImage" id="bannerImage" />
    </dd>


    <button id=submit dojoType="dijit.form.Button" type="submit" name="submit" value="">
        Add
    </button>

    <button id=cancelButton dojoType="dijit.form.Button" type="button"
            name="cancelButton" value="">
        Cancel
    </button>
    <script>
        formCancelButton.init('banner/banner-place/list', 'cancelButton');
    </script>
</div>