﻿
@{
    ViewBag.Title = "AddEmailTemplate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h3>Add Email Template</h3>
<div class="box box-solid">
    <form enctype="application/x-www-form-urlencoded" action="" method="post" dojoType="dijit.form.Form">
        <div class="nav-tabs-custom" id="tabs_608">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#tabs_608___main__" data-toggle="tab" aria-expanded="true">
                        Main
                    </a>
                </li>
                <li>
                    <a href="#tabs_608_tpl" data-toggle="tab" aria-expanded="false">
                        Content
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tabs_608___main__">
                    <div class="form-group" id="form-element-name">
                        <label for="name" class="required">Name</label>

                        <input type="text" name="name" id="name" value="" class="form-control" />
                    </div>
                </div>
                <div class="tab-pane" id="tabs_608_tpl">

                    <div class="nav-tabs-custom" id="tpl">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#tpl_0" data-toggle="tab" aria-expanded="true">
                                    Default
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tpl_0">

                                <div class="nav-tabs-custom" id="tabs_48">
                                    <ul class="nav nav-tabs">
                                        <li class="active">
                                            <a href="#tabs_48_en" data-toggle="tab" aria-expanded="true">
                                                English (Default)
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#tabs_48_zh" data-toggle="tab" aria-expanded="false">
                                                Chinese
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#tabs_48_cs" data-toggle="tab" aria-expanded="false">
                                                Czech
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#tabs_48_ka" data-toggle="tab" aria-expanded="false">
                                                Georgian
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#tabs_48_de" data-toggle="tab" aria-expanded="false">
                                                German
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#tabs_48_it" data-toggle="tab" aria-expanded="false">
                                                Italian
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#tabs_48_ms" data-toggle="tab" aria-expanded="false">
                                                Malay
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#tabs_48_pt" data-toggle="tab" aria-expanded="false">
                                                Portuguese
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#tabs_48_ru" data-toggle="tab" aria-expanded="false">
                                                Russian
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#tabs_48_es" data-toggle="tab" aria-expanded="false">
                                                Spanish
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#tabs_48_th" data-toggle="tab" aria-expanded="false">
                                                Thai
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tabs_48_en">
                                            <div class="box-body">
                                                <div class="form-group" id="form-element-templateText">
                                                    <label for="tpl-0-en-templateText" class="optional">Message Text <i class="fa fa-question-circle" role="button" data-toggle="modal" data-target=".template-vars-_layout_"></i></label>

<textarea name="tpl[0][en][templateText]" id="tpl-0-en-templateText" rows="4" class="form-control" cols="80"></textarea>
                                                </div>
                                                <div class="form-group" id="form-element-templateHtml">
                                                    <label for="tpl-0-en-templateHtml" class="optional">Message HTML <i class="fa fa-question-circle" role="button" data-toggle="modal" data-target=".template-vars-_layout_"></i></label>

<textarea name="tpl[0][en][templateHtml]" id="tpl-0-en-templateHtml" rows="4" class="form-control" cols="80"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tabs_48_zh">
                                            <div class="box-body">
                                                <div class="form-group" id="form-element-templateText">
                                                    <label for="tpl-0-zh-templateText" class="optional">Message Text <i class="fa fa-question-circle" role="button" data-toggle="modal" data-target=".template-vars-_layout_"></i></label>

<textarea name="tpl[0][zh][templateText]" id="tpl-0-zh-templateText" rows="4" class="form-control" cols="80"></textarea>
                                                </div>
                                                <div class="form-group" id="form-element-templateHtml">
                                                    <label for="tpl-0-zh-templateHtml" class="optional">Message HTML <i class="fa fa-question-circle" role="button" data-toggle="modal" data-target=".template-vars-_layout_"></i></label>

<textarea name="tpl[0][zh][templateHtml]" id="tpl-0-zh-templateHtml" rows="4" class="form-control" cols="80"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tabs_48_cs">
                                            <div class="box-body">
                                                <div class="form-group" id="form-element-templateText">
                                                    <label for="tpl-0-cs-templateText" class="optional">Message Text <i class="fa fa-question-circle" role="button" data-toggle="modal" data-target=".template-vars-_layout_"></i></label>

<textarea name="tpl[0][cs][templateText]" id="tpl-0-cs-templateText" rows="4" class="form-control" cols="80"></textarea>
                                                </div>
                                                <div class="form-group" id="form-element-templateHtml">
                                                    <label for="tpl-0-cs-templateHtml" class="optional">Message HTML <i class="fa fa-question-circle" role="button" data-toggle="modal" data-target=".template-vars-_layout_"></i></label>

<textarea name="tpl[0][cs][templateHtml]" id="tpl-0-cs-templateHtml" rows="4" class="form-control" cols="80"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tabs_48_ka">
                                            <div class="box-body">
                                                <div class="form-group" id="form-element-templateText">
                                                    <label for="tpl-0-ka-templateText" class="optional">Message Text <i class="fa fa-question-circle" role="button" data-toggle="modal" data-target=".template-vars-_layout_"></i></label>

<textarea name="tpl[0][ka][templateText]" id="tpl-0-ka-templateText" rows="4" class="form-control" cols="80"></textarea>
                                                </div>
                                                <div class="form-group" id="form-element-templateHtml">
                                                    <label for="tpl-0-ka-templateHtml" class="optional">Message HTML <i class="fa fa-question-circle" role="button" data-toggle="modal" data-target=".template-vars-_layout_"></i></label>

<textarea name="tpl[0][ka][templateHtml]" id="tpl-0-ka-templateHtml" rows="4" class="form-control" cols="80"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tabs_48_de">
                                            <div class="box-body">
                                                <div class="form-group" id="form-element-templateText">
                                                    <label for="tpl-0-de-templateText" class="optional">Message Text <i class="fa fa-question-circle" role="button" data-toggle="modal" data-target=".template-vars-_layout_"></i></label>

<textarea name="tpl[0][de][templateText]" id="tpl-0-de-templateText" rows="4" class="form-control" cols="80"></textarea>
                                                </div>
                                                <div class="form-group" id="form-element-templateHtml">
                                                    <label for="tpl-0-de-templateHtml" class="optional">Message HTML <i class="fa fa-question-circle" role="button" data-toggle="modal" data-target=".template-vars-_layout_"></i></label>

<textarea name="tpl[0][de][templateHtml]" id="tpl-0-de-templateHtml" rows="4" class="form-control" cols="80"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tabs_48_it">
                                            <div class="box-body">
                                                <div class="form-group" id="form-element-templateText">
                                                    <label for="tpl-0-it-templateText" class="optional">Message Text <i class="fa fa-question-circle" role="button" data-toggle="modal" data-target=".template-vars-_layout_"></i></label>

<textarea name="tpl[0][it][templateText]" id="tpl-0-it-templateText" rows="4" class="form-control" cols="80"></textarea>
                                                </div>
                                                <div class="form-group" id="form-element-templateHtml">
                                                    <label for="tpl-0-it-templateHtml" class="optional">Message HTML <i class="fa fa-question-circle" role="button" data-toggle="modal" data-target=".template-vars-_layout_"></i></label>

<textarea name="tpl[0][it][templateHtml]" id="tpl-0-it-templateHtml" rows="4" class="form-control" cols="80"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tabs_48_ms">
                                            <div class="box-body">
                                                <div class="form-group" id="form-element-templateText">
                                                    <label for="tpl-0-ms-templateText" class="optional">Message Text <i class="fa fa-question-circle" role="button" data-toggle="modal" data-target=".template-vars-_layout_"></i></label>

<textarea name="tpl[0][ms][templateText]" id="tpl-0-ms-templateText" rows="4" class="form-control" cols="80"></textarea>
                                                </div>
                                                <div class="form-group" id="form-element-templateHtml">
                                                    <label for="tpl-0-ms-templateHtml" class="optional">Message HTML <i class="fa fa-question-circle" role="button" data-toggle="modal" data-target=".template-vars-_layout_"></i></label>

<textarea name="tpl[0][ms][templateHtml]" id="tpl-0-ms-templateHtml" rows="4" class="form-control" cols="80"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tabs_48_pt">
                                            <div class="box-body">
                                                <div class="form-group" id="form-element-templateText">
                                                    <label for="tpl-0-pt-templateText" class="optional">Message Text <i class="fa fa-question-circle" role="button" data-toggle="modal" data-target=".template-vars-_layout_"></i></label>

<textarea name="tpl[0][pt][templateText]" id="tpl-0-pt-templateText" rows="4" class="form-control" cols="80"></textarea>
                                                </div>
                                                <div class="form-group" id="form-element-templateHtml">
                                                    <label for="tpl-0-pt-templateHtml" class="optional">Message HTML <i class="fa fa-question-circle" role="button" data-toggle="modal" data-target=".template-vars-_layout_"></i></label>

<textarea name="tpl[0][pt][templateHtml]" id="tpl-0-pt-templateHtml" rows="4" class="form-control" cols="80"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tabs_48_ru">
                                            <div class="box-body">
                                                <div class="form-group" id="form-element-templateText">
                                                    <label for="tpl-0-ru-templateText" class="optional">Message Text <i class="fa fa-question-circle" role="button" data-toggle="modal" data-target=".template-vars-_layout_"></i></label>

<textarea name="tpl[0][ru][templateText]" id="tpl-0-ru-templateText" rows="4" class="form-control" cols="80"></textarea>
                                                </div>
                                                <div class="form-group" id="form-element-templateHtml">
                                                    <label for="tpl-0-ru-templateHtml" class="optional">Message HTML <i class="fa fa-question-circle" role="button" data-toggle="modal" data-target=".template-vars-_layout_"></i></label>

<textarea name="tpl[0][ru][templateHtml]" id="tpl-0-ru-templateHtml" rows="4" class="form-control" cols="80"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tabs_48_es">
                                            <div class="box-body">
                                                <div class="form-group" id="form-element-templateText">
                                                    <label for="tpl-0-es-templateText" class="optional">Message Text <i class="fa fa-question-circle" role="button" data-toggle="modal" data-target=".template-vars-_layout_"></i></label>

<textarea name="tpl[0][es][templateText]" id="tpl-0-es-templateText" rows="4" class="form-control" cols="80"></textarea>
                                                </div>
                                                <div class="form-group" id="form-element-templateHtml">
                                                    <label for="tpl-0-es-templateHtml" class="optional">Message HTML <i class="fa fa-question-circle" role="button" data-toggle="modal" data-target=".template-vars-_layout_"></i></label>

<textarea name="tpl[0][es][templateHtml]" id="tpl-0-es-templateHtml" rows="4" class="form-control" cols="80"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tabs_48_th">
                                            <div class="box-body">
                                                <div class="form-group" id="form-element-templateText">
                                                    <label for="tpl-0-th-templateText" class="optional">Message Text <i class="fa fa-question-circle" role="button" data-toggle="modal" data-target=".template-vars-_layout_"></i></label>

<textarea name="tpl[0][th][templateText]" id="tpl-0-th-templateText" rows="4" class="form-control" cols="80"></textarea>
                                                </div>
                                                <div class="form-group" id="form-element-templateHtml">
                                                    <label for="tpl-0-th-templateHtml" class="optional">Message HTML <i class="fa fa-question-circle" role="button" data-toggle="modal" data-target=".template-vars-_layout_"></i></label>

<textarea name="tpl[0][th][templateHtml]" id="tpl-0-th-templateHtml" rows="4" class="form-control" cols="80"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="submit" name="send" id="send" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>

<div class="modal fade template-vars-_layout_" tabindex="-1"
     role="dialog"
     aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Template Variables</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <tr>
                        <th>{{ recipient }}</th>
                        <th>Recipient. Player who receives this message</th>
                    </tr>
                    <tr>
                        <td>{{ recipient.id }}</td>
                        <td>ID<div class="text-muted well well-sm" style="margin-bottom: 0"><span class="label label-default">Example:</span>&nbsp;&nbsp; 100</div></td>
                    </tr>
                    <tr>
                        <td>{{ recipient.nick }}</td>
                        <td>Nickname<div class="text-muted well well-sm" style="margin-bottom: 0"><span class="label label-default">Example:</span>&nbsp;&nbsp; example</div></td>
                    </tr>
                    <tr>
                        <td>{{ recipient.firstName }}</td>
                        <td>First name<div class="text-muted well well-sm" style="margin-bottom: 0"><span class="label label-default">Example:</span>&nbsp;&nbsp; John</div></td>
                    </tr>
                    <tr>
                        <td>{{ recipient.familyName }}</td>
                        <td>Last (family) name<div class="text-muted well well-sm" style="margin-bottom: 0"><span class="label label-default">Example:</span>&nbsp;&nbsp; Dou</div></td>
                    </tr>
                    <tr>
                        <td>{{ recipient.middleName }}</td>
                        <td>middle name</td>
                    </tr>
                    <tr>
                        <td>{{ recipient.country }}</td>
                        <td>Country code<div class="text-muted well well-sm" style="margin-bottom: 0"><span class="label label-default">Example:</span>&nbsp;&nbsp; US, GB, RU</div></td>
                    </tr>
                    <tr>
                        <td>{{ recipient.state }}</td>
                        <td>State/province</td>
                    </tr>
                    <tr>
                        <td>{{ recipient.zipCode }}</td>
                        <td>Postal code</td>
                    </tr>
                    <tr>
                        <td>{{ recipient.city }}</td>
                        <td>City</td>
                    </tr>
                    <tr>
                        <td>{{ recipient.phoneNumber }}</td>
                        <td>Phone number</td>
                    </tr>
                    <tr>
                        <td>{{ recipient.email }}</td>
                        <td>E-mail</td>
                    </tr>
                    <tr>
                        <td>{{ recipient.address }}</td>
                        <td>Address</td>
                    </tr>
                    <tr>
                        <td>{{ recipient.gender }}</td>
                        <td>Gender code<div class="text-muted well well-sm" style="margin-bottom: 0"><span class="label label-default">Example:</span>&nbsp;&nbsp; 77 - male, 70 - female, 32 - unknown</div></td>
                    </tr>
                    <tr>
                        <td>{{ recipient.bonusCode }}</td>
                        <td>Bonus code</td>
                    </tr>
                    <tr>
                        <td>{{ recipient.referredBy }}</td>
                        <td>Identificator of other player who invited the player to poker system</td>
                    </tr>
                    <tr>
                        <td>{{ recipient.tag }}</td>
                        <td>Player tag</td>
                    </tr>
                    <tr>
                        <td>{{ recipient.pre }}</td>
                        <td>Prefix<div class="text-muted well well-sm" style="margin-bottom: 0"><span class="label label-default">Example:</span>&nbsp;&nbsp; Mr, Ms, Mrs, Dr and etc</div></td>
                    </tr>
                    <tr>
                        <td>{{ recipient.dob }}</td>
                        <td>Date of birth</td>
                    </tr>
                    <tr>
                        <td>{{ recipient.playerLevel }}</td>
                        <td>Player level</td>
                    </tr>
                    <tr>
                        <td>{{ recipient.needApprove }}</td>
                        <td>Account confirmed or not</td>
                    </tr>
                    <tr>
                        <td>{{ recipient.blocked }}</td>
                        <td>Player blocked or not</td>
                    </tr>
                    <tr>
                        <td>{{ recipient.affiliate }}</td>
                        <td>It returns whether a player has an affiliate</td>
                    </tr>
                    <tr>
                        <td>{{ recipient.pro }}</td>
                        <td>Is a pro-player</td>
                    </tr>
                    <tr>
                        <td>{{ recipient.proColor }}</td>
                        <td>if a player is a pro-player, then it returns specific color of a player<div class="text-muted well well-sm" style="margin-bottom: 0"><span class="label label-default">Example:</span>&nbsp;&nbsp; integer value with heximal template: 0xBBGGRR</div></td>
                    </tr>
                    <tr>
                        <td>{{ recipient.active }}</td>
                        <td>Player is active or not</td>
                    </tr>
                    <tr>
                        <td>{{ recipient.activationCode }}</td>
                        <td>Activation code</td>
                    </tr>
                    <tr>
                        <td>{{ recipient.skinKey }}</td>
                        <td>Skin ID</td>
                    </tr>
                    <tr>
                        <th>{{ room }}</th>
                        <th>Room info</th>
                    </tr>
                    <tr>
                        <td>{{ room.name }}</td>
                        <td>Room name</td>
                    </tr>
                    <tr>
                        <th>{{ support }}</th>
                        <th>Support</th>
                    </tr>
                    <tr>
                        <td>{{ support.email }}</td>
                        <td>E-mail</td>
                    </tr>
                    <tr>
                        <td>{{ support.label }}</td>
                        <td>Label<div class="text-muted well well-sm" style="margin-bottom: 0"><span class="label label-default">Example:</span>&nbsp;&nbsp; Support link: &lt;a href=&quot;mailto:{{ support.email }}&quot;&gt;{{ support.label }}&lt;/a&gt;</div></td>
                    </tr>
                    <tr>
                        <th></th>
                        <th>Examples</th>
                    </tr>
                    <tr>
                        <td>{{ balance(recipient.id, 'USD') }}</td>
                        <td>Balance<div class="text-muted well well-sm" style="margin-bottom: 0"><span class="label label-default">Example:</span>&nbsp;&nbsp; To display as money use 'money' filter: {{ balance(recipient.id, 'USD')|money('USD') }}</div></td>
                    </tr>
                    <tr>
                        <td>{{ 'H'|gameType }}</td>
                        <td>Convert Game Type Code To Text</td>
                    </tr>
                    <tr>
                        <td>{{ last_login(recipient.id) }}</td>
                        <td>Last LogIn<div class="text-muted well well-sm" style="margin-bottom: 0"><span class="label label-default">Example:</span>&nbsp;&nbsp; {{ last_login(recipient.id).format(constant('DateTime::ISO8601')) }}, {{ last_login(recipient.id).format('Y-m-d H:i:s') }}</div></td>
                    </tr>
                    <tr>
                        <td>{{ skin(recipient.skinKey) }}</td>
                        <td>Skin<div class="text-muted well well-sm" style="margin-bottom: 0"><span class="label label-default">Example:</span>&nbsp;&nbsp; {{ skin(recipient.skinKey).getName() }}, {{ skin(recipient.skinKey).getKey() }}</div></td>
                    </tr>
                    <tr>
                        <td>{{ affiliate(recipient) }}</td>
                        <td>Player Affiliate<div class="text-muted well well-sm" style="margin-bottom: 0"><span class="label label-default">Example:</span>&nbsp;&nbsp; {{ affiliate(recipient).nick() }}</div></td>
                    </tr>
                    <tr>
                        <th>{% block content %}{% endblock %}</th>
                        <th>Content placeholder</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>