﻿
@{
    ViewBag.Title = "AddProhibitedDevice";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h3>Add Prohibited Device</h3>
<div class="box box-primary">
    <form enctype="application/x-www-form-urlencoded" action="" method="post" dojoType="dijit.form.Form">
        <div class="box-body">
            <div class="form-group" id="form-element-uniqueId">
                <label for="uniqueId" class="optional">Device ID</label>

                <select name="uniqueId" id="uniqueId" class="form-control select2">
                </select>
            </div>
            <div class="form-group" id="form-element-macAddress">
                <label for="macAddress" class="optional">Mac Address</label>

                <select name="macAddress" id="macAddress" class="form-control select2">
                </select>
            </div>
            <div class="form-group" id="form-element-registrationDisabled">
                <div class="checkbox">
                    <label>
                        <input type="hidden" name="registrationDisabled" value="0" /><input type="checkbox" name="registrationDisabled" id="registrationDisabled" value="1" />Disable creation of new accounts from this device
                    </label>
                </div>
            </div>
            <div class="form-group" id="form-element-loginDisabled">
                <div class="checkbox">
                    <label>
                        <input type="hidden" name="loginDisabled" value="0" /><input type="checkbox" name="loginDisabled" id="loginDisabled" value="1" />Disable login from this device
                    </label>
                </div>
            </div>
            <div class="form-group" id="form-element-comment">
                <label for="comment" class="optional">Comment</label>

                <input type="text" name="comment" id="comment" value="" class="form-control" />
            </div>

            <input type="submit" name="send" id="send" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>