﻿
@{
    ViewBag.Title = "AddProhibitedIP";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h3>Add Prohibited IP</h3>
<div class="box box-primary">
    <form enctype="application/x-www-form-urlencoded" action="" method="post" dojoType="dijit.form.Form">
        <div class="box-body">
            <div class="form-group" id="form-element-ipFrom">
                <label for="ipFrom" class="required">From IP</label>

                <input type="text" name="ipFrom" id="ipFrom" value="" class="form-control" />
            </div>
            <div class="form-group" id="form-element-ipTo">
                <label for="ipTo" class="required">To IP</label>

                <input type="text" name="ipTo" id="ipTo" value="" class="form-control" />
            </div>
            <div class="form-group" id="form-element-registrationDisabled">
                <div class="checkbox">
                    <label>
                        <input type="hidden" name="registrationDisabled" value="0" /><input type="checkbox" name="registrationDisabled" id="registrationDisabled" value="1" />Restrict creation of new accounts from this IP
                    </label>
                </div>
            </div>
            <div class="form-group" id="form-element-loginDisabled">
                <div class="checkbox">
                    <label>
                        <input type="hidden" name="loginDisabled" value="0" /><input type="checkbox" name="loginDisabled" id="loginDisabled" value="1" />Restrict login from this IP
                    </label>
                </div>
            </div>
            <div class="form-group" id="form-element-comment">
                <label for="comment" class="optional">Comment</label>

                <input type="text" name="comment" id="comment" value="" class="form-control" />
            </div>

            <input type="submit" name="send" id="send" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>