﻿
@{
    ViewBag.Title = "AddPromotion";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h3>Add Promotion</h3>
<div class="box box-primary">
    <div class="box-header with-border">
        Promotion<div class="box-tools pull-right">
            <span class="btn btn-sm" onclick="alert('Please save promotion before managing tasks')">
                <i class="fa fa-cogs"></i>
                Manage Tasks
            </span>
        </div>
    </div>
    <form enctype="application/x-www-form-urlencoded" action="" method="post" dojoType="dijit.form.Form">
        <div class="box-body">
            <div class="form-group" id="form-element-name">
                <label for="name" class="required">Name</label>

                <input type="text" name="name" id="name" value="" class="form-control" />
            </div>
            <div class="form-group" id="form-element-description">
                <label for="description" class="optional">Description</label>

                <input type="text" name="description" id="description" value="" class="form-control" />
            </div>
            <div class="form-group" id="form-element-collection_to_include_ids">
                <label for="collection_to_include_ids" class="optional">Players That Can Join This Campaign (All If Not Selected)</label>

                <select name="collection_to_include_ids[]" id="collection_to_include_ids" multiple="multiple" class="form-control select2">
                </select>
            </div>
            <div class="form-group" id="form-element-collection_to_exclude_ids">
                <label for="collection_to_exclude_ids" class="optional">Players That Can't Join This Campaign</label>

                <select name="collection_to_exclude_ids[]" id="collection_to_exclude_ids" multiple="multiple" class="form-control select2">
                </select>
            </div>
            <div class="form-group" id="form-element-number_of_reentries">
                <label for="number_of_reentries" class="optional">Number Of Re-entries</label>

                <input type="text" name="number_of_reentries" id="number_of_reentries" value="" filter="StringTrim" class="form-control" />
            </div>
            <div class="form-group" id="form-element-reentry_interval">
                <label for="reentry_interval" class="optional">Re-entry Interval (DD:HH:MM:SS)</label>

                <input type="text" name="reentry_interval" id="reentry_interval" value="00:00:00:00" filter="StringTrim" class="form-control" />
            </div>
            <div class="form-group" id="form-element-membership_need_confirmation">
                <div class="checkbox">
                    <label>
                        <input type="hidden" name="membership_need_confirmation" value="0" /><input type="checkbox" name="membership_need_confirmation" id="membership_need_confirmation" value="1" />Player Must Confirm Participation
                    </label>
                </div>
            </div>
            <div class="form-group" id="form-element-price">
                <label for="price" class="optional">Participation Fee</label>

                <input type="text" name="price" id="price" value="0" filter="StringTrim" class="form-control" />
            </div>
            <div class="form-group" id="form-element-price_money_type">
                <label for="price_money_type" class="optional">Participation Fee Money Type</label>

                <select name="price_money_type" id="price_money_type" class="form-control select2">
                    <option value="82">Real Money</option>
                    <option value="80">Play Money</option>
                    <option value="65">cash game points</option>
                </select>
            </div>
            <div class="form-group" id="form-element-registration_period">
                <label for="registration_period" class="optional">Registration Period (DD:HH:MM:SS)</label>

                <input type="text" name="registration_period" id="registration_period" value="00:00:00:00" filter="StringTrim" class="form-control" />
            </div>
            <div class="form-group" id="form-element-schedule_manual">
                <div class="checkbox">
                    <label>
                        <input type="hidden" name="schedule_manual" value="0" /><input type="checkbox" name="schedule_manual" id="schedule_manual" value="1" />Not Scheduled
                    </label>
                </div>
            </div>
            <div class="form-group" id="form-element-schedule_start_stamp">
                <label for="schedule_start_stamp" class="optional">Starts At</label>

                <input type="text" name="schedule_start_stamp" id="schedule_start_stamp" value="" format="YYYY-MM-DD HH:mm" class="form-control" />
            </div>
            <div class="form-group" id="form-element-schedule_end_stamp">
                <label for="schedule_end_stamp" class="optional">Stops At</label>

                <input type="text" name="schedule_end_stamp" id="schedule_end_stamp" value="" format="YYYY-MM-DD HH:mm" class="form-control" />
            </div>
            <div class="form-group" id="form-element-schedule_period">
                <label for="schedule_period" class="optional">Duration (DD:HH:MM)</label>

                <input type="text" name="schedule_period" id="schedule_period" value="00:00:00" filter="StringTrim" class="form-control" />
            </div>
            <div class="form-group" id="form-element-schedule_interval">
                <label for="schedule_interval" class="optional">Interval Between Iterations (DD:HH:MM)</label>

                <input type="text" name="schedule_interval" id="schedule_interval" value="00:00:00" class="form-control" />
            </div>

            <input type="submit" name="save" id="save" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>