﻿
@{
    ViewBag.Title = "AddRedeemCode";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h3>Add Redeem Code</h3>
<div id="response"></div>
<div class="row">
    <div class="col-lg-12">
        <div class="box box-primary">
            <form action="" enctype="application/x-www-form-urlencoded" method="post">
                <div class="box-body">

                    <input type="hidden" name="entityId" value="0"
                           id="entityId" dojoType="dijit.form.TextBox" />
                    <ul class="errors" id="entityIdErrors">
                    </ul>

                    <div id="form-element-name" class="form-element">
                        <label for="name">Name</label>
                        <input id="name"
                               type="text"
                               name="name"
                               value=""
                               dojoType="dijit.form.ValidationTextBox"
                               trim="true"
                               maxlength="4095" />
                        <ul class="errors" id="nameErrors">
                        </ul>
                    </div>

                    <div id="form-element-description" class="form-element">
                        <label for="description">Description</label>
                        <textarea id="description"
                                  name="description"
                                  dojoType="dijit.form.Textarea"
                                  trim="true"></textarea>
                        <ul class="errors" id="descriptionErrors">
                        </ul>
                    </div>

                    <div id="form-element-code" class="form-element">
                        <label for="code" class="required">Code</label>
                        <input id="code"
                               type="text"
                               name="code"
                               value=""
                               dojoType="dijit.form.ValidationTextBox"
                               trim="true"
                               required="true" maxlength="32" />
                        <ul class="errors" id="codeErrors">
                        </ul>
                    </div>

                    <div id="form-element-isSignUpBonus" class="form-element">
                        <input type="hidden" name="isSignUpBonus" value="0">
                        <label for="isSignUpBonus">
                            <input id="isSignUpBonus"
                                   name="isSignUpBonus"
                                   type="checkbox"
                                   dojoType="dijit.form.CheckBox"
                                   value="1"
                                   checked=false checked=""
                                   options="Array"
                                   type="checkbox"
                                   formName="redeemcodeForm">
                            Sign Up Bonus
                        </label>
                        <ul class="errors" id="isSignUpBonusErrors">
                        </ul>
                    </div>

                    <div id="form-element-isLimited" class="form-element">
                        <input type="hidden" name="isLimited" value="0">
                        <label for="isLimited">
                            <input id="isLimited"
                                   name="isLimited"
                                   type="checkbox"
                                   dojoType="dijit.form.CheckBox"
                                   value="1"
                                   checked=false checked=""
                                   options="Array"
                                   type="checkbox"
                                   formName="redeemcodeForm">
                            Limited code
                        </label>
                        <ul class="errors" id="isLimitedErrors">
                        </ul>
                    </div>

                    <div id="form-element-limit" class="form-element">
                        <label for="limit">Redeem Code Used Count Limit</label>
                        <input id="limit"
                               type="text"
                               name="limit"
                               value="10"
                               dojoType="dijit.form.ValidationTextBox"
                               trim="true"
                               min="1" max="10000" />
                        <ul class="errors" id="limitErrors">
                        </ul>
                    </div>

                    <div id="form-element-canBeReused" class="form-element">
                        <input type="hidden" name="canBeReused" value="0">
                        <label for="canBeReused">
                            <input id="canBeReused"
                                   name="canBeReused"
                                   type="checkbox"
                                   dojoType="dijit.form.CheckBox"
                                   value="1"
                                   checked=false checked=""
                                   options="Array"
                                   type="checkbox"
                                   formName="redeemcodeForm">
                            Can Be Reused by Player
                        </label>
                        <ul class="errors" id="canBeReusedErrors">
                        </ul>
                    </div>

                    <input type="hidden" name="reusedCount" value="1"
                           id="reusedCount" dojoType="dijit.form.TextBox" />
                    <ul class="errors" id="reusedCountErrors">
                    </ul>

                    <div id="form-element-bonusChips" class="form-element">
                        <label for="bonusChips" class="required">Bonus</label>
                        <input id="bonusChips"
                               type="text"
                               name="bonusChips"
                               value="10"
                               dojoType="dijit.form.ValidationTextBox"
                               trim="true"
                               required="true" max="99999999999999" />
                        <ul class="errors" id="bonusChipsErrors">
                        </ul>
                    </div>

                    <div id="form-element-moneyType" class="form-element">
                        <label for="moneyType">Money type</label>
                        <select id="moneyType"
                                name="moneyType"
                                dojoType="dijit.form.Select"
                                maxHeight="300"
                                style="max-height:300px;">
                            <option value="82" />
                            Real Money
                            </option>
                            <option value="80" />
                            Play Money
                            </option>
                            <option value="65" />
                            cash game points
                            </option>
                        </select>
                        <ul class="errors" id="moneyTypeErrors">
                        </ul>
                    </div>

                    <div id="form-element-isIndefiniteExpiration" class="form-element">
                        <input type="hidden" name="isIndefiniteExpiration" value="0">
                        <label for="isIndefiniteExpiration">
                            <input id="isIndefiniteExpiration"
                                   name="isIndefiniteExpiration"
                                   type="checkbox"
                                   dojoType="dijit.form.CheckBox"
                                   value="1"
                                   checked=false checked=""
                                   options="Array"
                                   type="checkbox"
                                   formName="redeemcodeForm">
                            Expiration: Indefinite
                        </label>
                        <ul class="errors" id="isIndefiniteExpirationErrors">
                        </ul>
                    </div>

                    <div id="form-element-expirationDate" class="form-element">
                        <label for="expirationDate">Expiration Date</label>
                        <input id="expirationDate"
                               type="text"
                               name="expirationDate"
                               value="2020-02-28"
                               dojoType="dijit.form.DateTextBox" />
                        <ul class="errors" id="expirationDateErrors">
                        </ul>
                    </div>

                    <div id="form-element-expirationTime" class="form-element">
                        <label for="expirationTime">Expiration Time</label>
                        <input id="expirationTime"
                               type="text"
                               name="expirationTime"
                               value="05:00:00"
                               dojoType="dijit.form.ValidationTextBox"
                               trim="true" />
                        <ul class="errors" id="expirationTimeErrors">
                        </ul>
                    </div>

                    <button id=cancelButton dojoType="dijit.form.Button" type="button"
                            name="cancelButton" value="">
                        Cancel
                    </button>
                </div>
                <div class="box-footer">

                    <button id=submit dojoType="dijit.form.Button" type="submit" name="submit" value="">
                        Add
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    formCancelButton.init('redeem-code/redeem-code/list', 'cancelButton');
</script>