﻿
@{
    ViewBag.Title = "AddTicketTemplate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <div class="col-xs-12">

        <h3>Add Ticket Template <a href="http://docs.evenbetgaming.com/articles/Administration_Panel/Add%20Ticket%20Template.html" target="_blank"><sup><i class="fa fa-question-circle"></i></sup></a></h3>

        <div class="box box-primary">
            <form enctype="multipart/form-data" method="post" action="" dojoType="dijit.form.Form">
                <div class="box-body">
                    <div class="form-group" id="form-element-name">
                        <label for="name" class="required">Name</label>

                        <input type="text" name="name" id="name" value="" class="form-control" />
                    </div>
                    <div class="form-group" id="form-element-ticketTTLInHours">
                        <label for="ticketTTLInHours" class="optional">Lifetime, hours</label>

                        <input type="text" name="ticketTTLInHours" id="ticketTTLInHours" value="0" class="form-control" />
                    </div>
                    <div class="form-group" id="form-element-amount">
                        <label for="amount" class="optional">Value</label>

                        <input type="text" name="amount" id="amount" value="0" class="form-control" />
                    </div>
                    <div class="form-group" id="form-element-moneyType">
                        <label for="moneyType" class="required">Money Type</label>

                        <select name="moneyType" id="moneyType" class="form-control select2">
                            <option value="82">Real Money</option>
                            <option value="80" selected="selected">Play Money</option>
                            <option value="65">cash game points</option>
                        </select>
                    </div>
                    <div class="form-group" id="form-element-expirationDate">
                        <label for="expirationDate" class="optional">Expiration Date</label>

                        <input type="text" name="expirationDate" id="expirationDate" value="" class="form-control" />
                    </div>
                    <div class="form-group" id="form-element-expirationDate_time">
                        <label for="expirationDate_time" class="optional">Expiration Time</label>
                        <div class="input-group bootstrap-timepicker">
                            <input type="text" name="expirationDate_time" id="expirationDate_time" value="" class="form-control timepicker" />
                        </div>
                    </div>
                    <div class="form-group" id="form-element-activities">
                        <label for="activities" class="required">Activities</label>

                        <select name="activities[]" id="activities" multiple="multiple" class="form-control select2">
                            <option value="0">0</option>
                            <option value="0.10 + 0.01 chips ticket">0.10 + 0.01 chips ticket</option>
                            <option value="0.10 chips ticket">0.10 chips ticket</option>
                            <option value="0.11 chips ticket">0.11 chips ticket</option>
                            <option value="0.20 + 0.02 chips ticket">0.20 + 0.02 chips ticket</option>
                            <option value="0.25 chips ticket">0.25 chips ticket</option>
                            <option value="0.30 + 0.03 chips ticket">0.30 + 0.03 chips ticket</option>
                            <option value="0.33 chips ticket">0.33 chips ticket</option>
                            <option value="0.40 + 0.04 chips ticket">0.40 + 0.04 chips ticket</option>
                            <option value="0.50 + 0.05 chips ticket">0.50 + 0.05 chips ticket</option>
                            <option value="0.55 chips Ticket">0.55 chips Ticket</option>
                            <option value="0.60 + 0.06 chips ticket">0.60 + 0.06 chips ticket</option>
                            <option value="0.77 chips ticket">0.77 chips ticket</option>
                            <option value="1.00 + 0.10 chips ticket">1.00 + 0.10 chips ticket</option>
                            <option value="1.10 chips ticket">1.10 chips ticket</option>
                            <option value="10.00 + 1.00 chips ticket">10.00 + 1.00 chips ticket</option>
                            <option value="100.00 + 9.00 chips ticket">100.00 + 9.00 chips ticket</option>
                            <option value="11 chips ticket">11 chips ticket</option>
                            <option value="15.00 + 1.50 chips ticket">15.00 + 1.50 chips ticket</option>
                            <option value="2.00 + 0.20 chips ticket">2.00 + 0.20 chips ticket</option>
                            <option value="2.20 chips ticket">2.20 chips ticket</option>
                            <option value="2.20 chips ticket by TeamGrinders">2.20 chips ticket by TeamGrinders</option>
                            <option value="20.00 + 2.00 chips ticket">20.00 + 2.00 chips ticket</option>
                            <option value="200.00 + 15.00 chips ticket">200.00 + 15.00 chips ticket</option>
                            <option value="22 chips ticket">22 chips ticket</option>
                            <option value="3.00 + 0.30 chips ticket">3.00 + 0.30 chips ticket</option>
                            <option value="3.30 chips ticket">3.30 chips ticket</option>
                            <option value="30.00 + 3.00 chips ticket">30.00 + 3.00 chips ticket</option>
                            <option value="4.00 + 0.40 chips ticket">4.00 + 0.40 chips ticket</option>
                            <option value="5.00 + 0.50 chips ticket">5.00 + 0.50 chips ticket</option>
                            <option value="5.50 chips ticket">5.50 chips ticket</option>
                            <option value="50.00 + 5.00 chips ticket">50.00 + 5.00 chips ticket</option>
                            <option value="6.00 + 0.60 chips ticket">6.00 + 0.60 chips ticket</option>
                            <option value="CGP Promotion Ticket">CGP Promotion Ticket</option>
                            <option value="chefcatradio: 0.50 + 0.05 raffle ticket">chefcatradio: 0.50 + 0.05 raffle ticket</option>
                            <option value="chefcatradio: 0.50 + 0.05 ticket">chefcatradio: 0.50 + 0.05 ticket</option>
                            <option value="chefcatradio: 1.00 + 0.10 raffle ticket">chefcatradio: 1.00 + 0.10 raffle ticket</option>
                            <option value="chefcatradio: 1.00 + 0.10 ticket">chefcatradio: 1.00 + 0.10 ticket</option>
                            <option value="chefcatradio: 2.00 + 0.20 raffle ticket">chefcatradio: 2.00 + 0.20 raffle ticket</option>
                            <option value="chefcatradio: 2.00 + 0.20 ticket">chefcatradio: 2.00 + 0.20 ticket</option>
                            <option value="chefcatradio: 5.00 + 0.50 raffle ticket">chefcatradio: 5.00 + 0.50 raffle ticket</option>
                            <option value="chefcatradio: 5.00 + 0.50 ticket">chefcatradio: 5.00 + 0.50 ticket</option>
                            <option value="chefcatradio: Friday Deepstack Fight">chefcatradio: Friday Deepstack Fight</option>
                            <option value="chefcatradio: Sunday Game R/A">chefcatradio: Sunday Game R/A</option>
                            <option value="chefcatradio: The Mid-Week R/A">chefcatradio: The Mid-Week R/A</option>
                            <option value="chefcatradio: Tuesday Frenzy R/A">chefcatradio: Tuesday Frenzy R/A</option>
                            <option value="Compensation Ticket">Compensation Ticket</option>
                            <option value="New Player Ticket - OT+CCAT">New Player Ticket - OT+CCAT</option>
                            <option value="RFR 3.30 Ticket">RFR 3.30 Ticket</option>
                            <option value="Satellite Flopornothing">Satellite Flopornothing</option>
                            <option value="Sheep Highway [Step] [Freeroll]">Sheep Highway [Step] [Freeroll]</option>
                            <option value="TCTS 2k19 Event #13">TCTS 2k19 Event #13</option>
                            <option value="TCTS2k19Event#9">TCTS2k19Event#9</option>
                            <option value="TG Diebyriver KO Ticket">TG Diebyriver KO Ticket</option>
                            <option value="TG NLTonyD ME Ticket">TG NLTonyD ME Ticket</option>
                            <option value="The 100 chips depositor freebuy">The 100 chips depositor freebuy</option>
                            <option value="The 200 chips Freeroll">The 200 chips Freeroll</option>
                            <option value="The Camarasaurus Freeroll">The Camarasaurus Freeroll</option>
                            <option value="The Depositor Freeroll Ticket">The Depositor Freeroll Ticket</option>
                            <option value="The Grand Opening 0.50 + 0.05 Ticket">The Grand Opening 0.50 + 0.05 Ticket</option>
                            <option value="The Grand Opening 1.00 + 0.10 Ticket">The Grand Opening 1.00 + 0.10 Ticket</option>
                            <option value="The Grand Opening 10.00 + 1.00 Ticket">The Grand Opening 10.00 + 1.00 Ticket</option>
                            <option value="The Grand Opening 2.00 + 0.20 Ticket">The Grand Opening 2.00 + 0.20 Ticket</option>
                            <option value="The Grand Opening 3.00 + 0.30 Ticket">The Grand Opening 3.00 + 0.30 Ticket</option>
                            <option value="The Grand Opening 5.00 + 0.50 Ticket">The Grand Opening 5.00 + 0.50 Ticket</option>
                            <option value="The Grand Opening Freeroll Ticket">The Grand Opening Freeroll Ticket</option>
                            <option value="The Grind's 3.30 Ticket">The Grind's 3.30 Ticket</option>
                            <option value="The Grind's 6.60 ME Ticket">The Grind's 6.60 ME Ticket</option>
                            <option value="The Halloween Tournament Series 2k19 0.55 Chips Ticket">The Halloween Tournament Series 2k19 0.55 Chips Ticket</option>
                            <option value="The Halloween Tournament Series 2k19 1.10 Chips Ticket">The Halloween Tournament Series 2k19 1.10 Chips Ticket</option>
                            <option value="The Halloween Tournament Series 2k19 11 Chips Ticket">The Halloween Tournament Series 2k19 11 Chips Ticket</option>
                            <option value="The Halloween Tournament Series 2k19 2.20 Chips Ticket">The Halloween Tournament Series 2k19 2.20 Chips Ticket</option>
                            <option value="The Halloween Tournament Series 2k19 3.30 Chips Ticket">The Halloween Tournament Series 2k19 3.30 Chips Ticket</option>
                            <option value="The Halloween Tournament Series 2k19 5.50 Chips Ticket">The Halloween Tournament Series 2k19 5.50 Chips Ticket</option>
                            <option value="The Halloween Tournament Series 2k19 7.70 Chips Ticket">The Halloween Tournament Series 2k19 7.70 Chips Ticket</option>
                            <option value="The Herrerasaurus Freeroll Ticket">The Herrerasaurus Freeroll Ticket</option>
                            <option value="THTS sat. Ticket I">THTS sat. Ticket I</option>
                            <option value="twitch.tv/flopnothing 2.20 ticket">twitch.tv/flopnothing 2.20 ticket</option>
                            <option value="twitch.tv/surfman101 2.20 Ticket">twitch.tv/surfman101 2.20 Ticket</option>
                        </select>
                    </div>
                    <p>
                        <label for="icon" class="optional">Icon</label>

                        <input type="hidden" name="MAX_FILE_SIZE" value="2097152" id="MAX_FILE_SIZE" />
                        <input type="file" name="icon" id="icon" class="form-control" />
                    </p>
                    <div class="form-group" id="form-element-isConvertible">
                        <div class="checkbox">
                            <label>
                                <input type="hidden" name="isConvertible" value="0" /><input type="checkbox" name="isConvertible" id="isConvertible" value="1" />Can Be Exchanged
                            </label>
                        </div>
                    </div>
                    <div class="form-group" id="form-element-hidden">
                        <div class="checkbox">
                            <label>
                                <input type="hidden" name="hidden" value="0" /><input type="checkbox" name="hidden" id="hidden" value="1" />Hidden
                            </label>
                        </div>
                    </div>
                    <div class="form-group" id="form-element-autoreg">
                        <div class="checkbox">
                            <label>
                                <input type="hidden" name="autoreg" value="0" /><input type="checkbox" name="autoreg" id="autoreg" value="1" />Autoregistration
                            </label>
                        </div>
                    </div>
                    <div class="form-group" id="form-element-isRakeFree">
                        <div class="checkbox">
                            <label>
                                <input type="hidden" name="isRakeFree" value="0" /><input type="checkbox" name="isRakeFree" id="isRakeFree" value="1" />Rake Free
                            </label>
                        </div>
                    </div>
                    <div class="form-group" id="form-element-isValidForReentry">
                        <div class="checkbox">
                            <label>
                                <input type="hidden" name="isValidForReentry" value="0" /><input type="checkbox" name="isValidForReentry" id="isValidForReentry" value="1" />Ticket can be used to re-enter the tournament
                            </label>
                        </div>
                    </div>
                    <div class="form-group" id="form-element-isUnregisterPossible">
                        <div class="checkbox">
                            <label>
                                <input type="hidden" name="isUnregisterPossible" value="0" /><input type="checkbox" name="isUnregisterPossible" id="isUnregisterPossible" value="1" checked="checked" />Unregistration from the tournament allowed
                            </label>
                        </div>
                    </div>

                    <input type="submit" name="submit" id="submit" value="Add" class="btn btn-primary" />
                </div>
            </form>
        </div>

    </div>
</div>
