﻿
@{
    ViewBag.Title = "AdHocReport";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h3>Ad Hoc Report <a href="http://docs.evenbetgaming.com/articles/Administration_Panel/Ad Hoc Report.html" target="_blank"><sup><i class="fa fa-question-circle"></i></sup></a></h3>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="row">
                <div class="col-md-12" style="margin-bottom: 15px; margin-top: 15px">
                    <div class="form-group" style="margin: 10px;">

                        From: <input type="text" name="Date[from]" id="Date[from]" value="" skipSelect="1" external="1" class="filter" readonly="readonly" onclick='displayDatePicker("Date[from]", false, "ymd", "-");' /> To: <input type="text" name="Date[to]" id="Date[to]" value="" skipSelect="1" external="1" class="filter" readonly="readonly" onclick='displayDatePicker("Date[to]", false, "ymd", "-");' />
                    </div>

                    <div class="form-group" style="margin: 10px;">
                        <a href="#" class="btn btn-default" onclick="listing.filter(); return false;">Apply Filter</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="box-body">
                <div id="dynamicContent">
                    <div class="custom-dropdown-menu" id="columnsControls">
                    </div>

                    <table id='Poker_TableNavigator_Finance_AdHocReport' class="listing-table" data-dt-not-fixed-cols="true">
                        <thead class="listHead">
                            <tr>
                                <th data-meta-key='f_player_id'
                                    data-dt-width="40" data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_player_id"
                                           orderType="">
                                            Player
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_money_type'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_money_type"
                                           orderType="">
                                            Money Type
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_deposits'
                                    data-meta-visibility="true">
                                    <nobr>
                                        Deposits
                                    </nobr>
                                </th>
                                <th data-meta-key='f_withdrawals'
                                    data-meta-visibility="true">
                                    <nobr>
                                        Withdrawals
                                    </nobr>
                                </th>
                                <th data-meta-key='wins'
                                    data-meta-visibility="true">
                                    <nobr>
                                        Wins
                                    </nobr>
                                </th>
                                <th data-meta-key='loss'
                                    data-meta-visibility="true">
                                    <nobr>
                                        Loss
                                    </nobr>
                                </th>
                            </tr>
                            <tr class="listFilter">
                                <th>
                                    <input type="text" name="f_player_id" id="f_player_id" value="" filter="1" sql="p.f_id" sql_nick="p.f_nick" data_dt_width="40" orderable="1" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <select name="f_money_type" id="f_money_type" sql="c.f_money_type" filter="1" orderable="1" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="82">Real Money</option>
                                        <option value="80">Play Money</option>
                                        <option value="65">cash game points</option>
                                    </select>
                                </th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>

                            </tr>
                        </thead>


                        <tr class="odd ">
                            <td><a href="/webadmin/user/info/id/100">admin</a></td>
                            <td>Real Money</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td><a href="/webadmin/user/info/id/300">FOLLOFF</a></td>
                            <td>Real Money</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td><a href="/webadmin/user/info/id/19633">GOPMOG88</a></td>
                            <td>Real Money</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>2.86</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td><a href="/webadmin/user/info/id/19682">MNXEUHRR</a></td>
                            <td>Real Money</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>29.51</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td><a href="/webadmin/user/info/id/19709">01YJJ6VV</a></td>
                            <td>Real Money</td>
                            <td>20.00</td>
                            <td>21.84</td>
                            <td>0.00</td>
                            <td>8.23</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td><a href="/webadmin/user/info/id/25649">S6DGOC88</a></td>
                            <td>Real Money</td>
                            <td>175.10</td>
                            <td>121.40</td>
                            <td>8.21</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td><a href="/webadmin/user/info/id/30762">YSFQRIRR</a></td>
                            <td>Real Money</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>17.37</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td><a href="/webadmin/user/info/id/91549">Q6PWCSXX</a></td>
                            <td>Real Money</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>43.75</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td><a href="/webadmin/user/info/id/132725">YMN3CZBB</a></td>
                            <td>Real Money</td>
                            <td>110.59</td>
                            <td>110.59</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td><a href="/webadmin/user/info/id/133032">UB8NQS22</a></td>
                            <td>Real Money</td>
                            <td>1200.00</td>
                            <td>381.05</td>
                            <td>0.00</td>
                            <td>818.95</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td><a href="/webadmin/user/info/id/143952">F9Z8WHZZ</a></td>
                            <td>Real Money</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td><a href="/webadmin/user/info/id/156446">66PJOJII</a></td>
                            <td>Real Money</td>
                            <td>2.00</td>
                            <td>4.09</td>
                            <td>2.09</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td><a href="/webadmin/user/info/id/191198">PTBIODHH</a></td>
                            <td>Real Money</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td><a href="/webadmin/user/info/id/191215">0EF2ATT</a></td>
                            <td>Real Money</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td><a href="/webadmin/user/info/id/191946">M0Z8N3BB</a></td>
                            <td>Real Money</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td><a href="/webadmin/user/info/id/192339">CGUU60UU</a></td>
                            <td>Real Money</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td><a href="/webadmin/user/info/id/197341">8G0L62CC</a></td>
                            <td>Real Money</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td><a href="/webadmin/user/info/id/197361">6ER66FSS</a></td>
                            <td>Real Money</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td><a href="/webadmin/user/info/id/209437">HHGPUSNN</a></td>
                            <td>Real Money</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td><a href="/webadmin/user/info/id/209981">9HUHMYNN</a></td>
                            <td>Real Money</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td><a href="/webadmin/user/info/id/267983">Z1YJ2PKK</a></td>
                            <td>Real Money</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td><a href="/webadmin/user/info/id/268001">XBG5KVFF</a></td>
                            <td>Real Money</td>
                            <td>0.00</td>
                            <td>25.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td><a href="/webadmin/user/info/id/268102">GOH3LSHH</a></td>
                            <td>Real Money</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td><a href="/webadmin/user/info/id/279628">F87A4NNN</a></td>
                            <td>Real Money</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td><a href="/webadmin/user/info/id/279637">SPWHPSOO</a></td>
                            <td>Real Money</td>
                            <td>0.07</td>
                            <td>0.14</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td><a href="/webadmin/user/info/id/306981">P11XT0OO</a></td>
                            <td>Real Money</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td><a href="/webadmin/user/info/id/306991">R2RCTW00</a></td>
                            <td>Real Money</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td><a href="/webadmin/user/info/id/307101">3I4KRP88</a></td>
                            <td>Real Money</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td><a href="/webadmin/user/info/id/313101">XDUH03MM</a></td>
                            <td>Real Money</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td><a href="/webadmin/user/info/id/313126">Y4UE1DQQ</a></td>
                            <td>Real Money</td>
                            <td>0.00</td>
                            <td>0.88</td>
                            <td>0.00</td>
                            <td>0.12</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td><a href="/webadmin/user/info/id/313138">JT2Y5R44</a></td>
                            <td>Real Money</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td><a href="/webadmin/user/info/id/316838">67XCBY33</a></td>
                            <td>Real Money</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td><a href="/webadmin/user/info/id/319977">VF82ZUKK</a></td>
                            <td>Real Money</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td><a href="/webadmin/user/info/id/320005">Y9TCSVJJ</a></td>
                            <td>Real Money</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td><a href="/webadmin/user/info/id/334526">Y3X1MDWW</a></td>
                            <td>Real Money</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td><a href="/webadmin/user/info/id/334551">ZEZSIPVV</a></td>
                            <td>Real Money</td>
                            <td>0.00</td>
                            <td>25.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td><a href="/webadmin/user/info/id/335897">W96NFIBB</a></td>
                            <td>Real Money</td>
                            <td>0.00</td>
                            <td>0.91</td>
                            <td>0.00</td>
                            <td>0.09</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td><a href="/webadmin/user/info/id/336056">VV0CC888</a></td>
                            <td>Real Money</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td><a href="/webadmin/user/info/id/336062">75NW6Y22</a></td>
                            <td>Real Money</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td><a href="/webadmin/user/info/id/336071">JDJNQP00</a></td>
                            <td>Real Money</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td><a href="/webadmin/user/info/id/336400">V8PDGMTT</a></td>
                            <td>Real Money</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td><a href="/webadmin/user/info/id/336409">BQN3QE66</a></td>
                            <td>Real Money</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td><a href="/webadmin/user/info/id/363754">2SHTTT66</a></td>
                            <td>Real Money</td>
                            <td>39.24</td>
                            <td>39.24</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td><a href="/webadmin/user/info/id/374391">0B418BEE</a></td>
                            <td>Real Money</td>
                            <td>10.30</td>
                            <td>10.30</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td><a href="/webadmin/user/info/id/393002">OP46LCQQ</a></td>
                            <td>Real Money</td>
                            <td>27.57</td>
                            <td>27.57</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td><a href="/webadmin/user/info/id/393306">F3V638LL</a></td>
                            <td>Real Money</td>
                            <td>36.84</td>
                            <td>36.84</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td><a href="/webadmin/user/info/id/407708">86TKAXRR</a></td>
                            <td>Real Money</td>
                            <td>1100.10</td>
                            <td>1100.10</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td><a href="/webadmin/user/info/id/409612">DXPG8500</a></td>
                            <td>Real Money</td>
                            <td>36.00</td>
                            <td>36.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td><a href="/webadmin/user/info/id/413014">HSVIEYQQ</a></td>
                            <td>Real Money</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td><a href="/webadmin/user/info/id/430914">Y9EB1SII</a></td>
                            <td>Real Money</td>
                            <td>45.12</td>
                            <td>45.12</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->


                    </table>
                    <div class='rowCount'>
                        <div class="row">
                            <div class="col-md-3">
                                Rows: 13412&ensp;|&ensp;
                                <div class="limit-controls" style="display: inline-block;">
                                    <div id="perpage">Per page:</div>
                                    <select class="limit-links">
                                        <option data-href="/webadmin/finance/ad-hoc-report/limit/10">10</option>
                                        <option data-href="/webadmin/finance/ad-hoc-report/limit/25">25</option>
                                        <option selected data-href="/webadmin/finance/ad-hoc-report/limit/50">50</option>
                                        <option data-href="/webadmin/finance/ad-hoc-report/limit/100">100</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-7" style="display: flex; justify-content: center">
                                <div class="paginator-controls" id="blockPaginatorControls">
                                    <!-- First page link -->
                                    <div class="paginator-link">
                                        <span class="disabled">First</span>
                                    </div>
                                    <!-- Previous page link -->
                                    <div class="paginator-link">
                                        <span class="disabled">&lt; Previous</span>
                                    </div>
                                    <!-- Numbered page links -->
                                    <div class="paginator-link paginator-link_border">
                                        <span class="current">1</span>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/finance/ad-hoc-report/page/2">2</a>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/finance/ad-hoc-report/page/3">3</a>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/finance/ad-hoc-report/page/4">4</a>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/finance/ad-hoc-report/page/5">5</a>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/finance/ad-hoc-report/page/6">6</a>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/finance/ad-hoc-report/page/7">7</a>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/finance/ad-hoc-report/page/8">8</a>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/finance/ad-hoc-report/page/9">9</a>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/finance/ad-hoc-report/page/10">10</a>
                                    </div>

                                    <!-- Next page link -->
                                    <div class="paginator-link">
                                        <a href="/webadmin/finance/ad-hoc-report/page/2">Next &gt;</a>
                                    </div>
                                    <!-- Last page link -->
                                    <div class="paginator-link">
                                        <a href="/webadmin/finance/ad-hoc-report/page/269">Last</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="pull-right">
                                    <a href="/webadmin/finance/ad-hoc-report/_output/xlsx"><img src="img/icons/xls.svg" alt="Excel"></a>
                                    <a href="/webadmin/finance/ad-hoc-report/_output/csv"><img src="img/icons/csv.svg" alt="CSV"></a>
                                    <a href="/webadmin/finance/ad-hoc-report/_output/ods"><img src="img/icons/odt.svg" alt="OpenDocument" /></a>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>