﻿
@{
    ViewBag.Title = "Affiliate Make";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h3>Make Affiliate</h3>
<div class="box box-solid">
    <div enctype="application/x-www-form-urlencoded" action="" dojoType="dijit.form.Form">
        <div class="nav-tabs-custom" id="tabs_919">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#tabs_919___main__" data-toggle="tab" aria-expanded="true">
                        Main
                    </a>
                </li>
                <li>
                    <a href="#tabs_919_rules" data-toggle="tab" aria-expanded="false">
                        Access Control
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tabs_919___main__">
                    <div class="form-group" id="form-element-playerName">
                        <label for="playerName" class="optional">Player</label>

                        <input type="text" name="playerName" id="playerName" value="" readOnly="1" class="form-control" />
                    </div>
                    <dt id="playerId-label">&#160;</dt>
                    <dd id="playerId-element">
                        <input type="hidden" name="playerId" value="" id="playerId" />
                    </dd>

                    <button name="playerSelectButton" id="playerSelectButton" type="button" class="btn btn-default">Select</button>
                    <div class="form-group" id="form-element-parentName">
                        <label for="parentName" class="optional">Parent</label>

                        <input type="text" name="parentName" id="parentName" value="" readOnly="1" class="form-control" />
                    </div>
                    <dt id="parentId-label">&#160;</dt>
                    <dd id="parentId-element">
                        <input type="hidden" name="parentId" value="" id="parentId" />
                    </dd>

                    <button name="affiliateSelectButton" id="affiliateSelectButton" type="button" class="btn btn-default">Select</button>

                    <button name="affiliateClearButton" id="affiliateClearButton" type="button" class="btn btn-default">Clear parent</button>
                    <div class="form-group" id="form-element-bonusCode">
                        <label for="bonusCode" class="required">Bonus Code</label>

                        <input type="text" name="bonusCode" id="bonusCode" value="" class="form-control" />
                    </div>
                </div>
                <div class="tab-pane" id="tabs_919_rules">
                    <div class="box-body">
                        <div class="form-group" id="form-element-16_1">
                            <label for="rules-16_1" class="optional">Add Affiliate</label>

                            <select name="rules[16_1]" id="rules-16_1" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0">Not Allowed</option>
                                <option value="1" selected="selected">Allowed</option>
                            </select>
                        </div>
                        <div class="form-group" id="form-element-16_2">
                            <label for="rules-16_2" class="optional">Edit Affiliate</label>

                            <select name="rules[16_2]" id="rules-16_2" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0">Not Allowed</option>
                                <option value="1" selected="selected">Allowed</option>
                            </select>
                        </div>
                        <div class="form-group" id="form-element-6_1">
                            <label for="rules-6_1" class="optional">Add Player</label>

                            <select name="rules[6_1]" id="rules-6_1" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0">Not Allowed</option>
                                <option value="1" selected="selected">Allowed</option>
                            </select>
                        </div>
                        <div class="form-group" id="form-element-6_36">
                            <label for="rules-6_36" class="optional">Add Player For Affiliate (If Add Player Allowed)</label>

                            <select name="rules[6_36]" id="rules-6_36" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0" selected="selected">Not Allowed</option>
                                <option value="1">Allowed</option>
                            </select>
                        </div>
                        <div class="form-group" id="form-element-6_2">
                            <label for="rules-6_2" class="optional">Edit Player</label>

                            <select name="rules[6_2]" id="rules-6_2" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0">Not Allowed</option>
                                <option value="1" selected="selected">Allowed</option>
                            </select>
                        </div>
                        <div class="form-group" id="form-element-6_37">
                            <label for="rules-6_37" class="optional">Edit Player For Affiliate (If Edit Player Allowed)</label>

                            <select name="rules[6_37]" id="rules-6_37" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0" selected="selected">Not Allowed</option>
                                <option value="1">Allowed</option>
                            </select>
                        </div>
                        <div class="form-group" id="form-element-39_2">
                            <label for="rules-39_2" class="optional">Change Player Level</label>

                            <select name="rules[39_2]" id="rules-39_2" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0" selected="selected">Not Allowed</option>
                                <option value="1">Allowed</option>
                            </select>
                        </div>
                        <div class="form-group" id="form-element-49_2">
                            <label for="rules-49_2" class="optional">Change Player Password</label>

                            <select name="rules[49_2]" id="rules-49_2" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0">Not Allowed</option>
                                <option value="1" selected="selected">Allowed</option>
                            </select>
                        </div>
                        <div class="form-group" id="form-element-4_11">
                            <label for="rules-4_11" class="optional">Table List</label>

                            <select name="rules[4_11]" id="rules-4_11" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0" selected="selected">Not Allowed</option>
                                <option value="1">Allowed</option>
                            </select>
                        </div>
                        <div class="form-group" id="form-element-1_7">
                            <label for="rules-1_7" class="optional">Active Tables</label>

                            <select name="rules[1_7]" id="rules-1_7" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0" selected="selected">Not Allowed</option>
                                <option value="1">Allowed</option>
                            </select>
                        </div>
                        <div class="form-group" id="form-element-1_1">
                            <label for="rules-1_1" class="optional">Table Creation</label>

                            <select name="rules[1_1]" id="rules-1_1" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0" selected="selected">Not Allowed</option>
                                <option value="1">Allowed</option>
                            </select>
                        </div>
                        <div class="form-group" id="form-element-1_38">
                            <label for="rules-1_38" class="optional">Permanent Table Creation (If Table Creation Allowed)</label>

                            <select name="rules[1_38]" id="rules-1_38" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0" selected="selected">Not Allowed</option>
                                <option value="1">Allowed</option>
                            </select>
                        </div>
                        <div class="form-group" id="form-element-1_39">
                            <label for="rules-1_39" class="optional">Balance Table Creation (If Table Creation Allowed)</label>

                            <select name="rules[1_39]" id="rules-1_39" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0" selected="selected">Not Allowed</option>
                                <option value="1">Allowed</option>
                            </select>
                        </div>
                        <div class="form-group" id="form-element-1_40">
                            <label for="rules-1_40" class="optional">Private Table Creation (If Table Creation Allowed)</label>

                            <select name="rules[1_40]" id="rules-1_40" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0" selected="selected">Not Allowed</option>
                                <option value="1">Allowed</option>
                            </select>
                        </div>
                        <div class="form-group" id="form-element-1_41">
                            <label for="rules-1_41" class="optional">Public Table Creation (If Table Creation Allowed)</label>

                            <select name="rules[1_41]" id="rules-1_41" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0" selected="selected">Not Allowed</option>
                                <option value="1">Allowed</option>
                            </select>
                        </div>
                        <div class="form-group" id="form-element-1_2">
                            <label for="rules-1_2" class="optional">Table Edit</label>

                            <select name="rules[1_2]" id="rules-1_2" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0" selected="selected">Not Allowed</option>
                                <option value="1">Allowed</option>
                            </select>
                        </div>
                        <div class="form-group" id="form-element-4_6">
                            <label for="rules-4_6" class="optional">Tournament List</label>

                            <select name="rules[4_6]" id="rules-4_6" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0" selected="selected">Not Allowed</option>
                                <option value="1">Allowed</option>
                            </select>
                        </div>
                        <div class="form-group" id="form-element-2_7">
                            <label for="rules-2_7" class="optional">Active Tournaments</label>

                            <select name="rules[2_7]" id="rules-2_7" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0" selected="selected">Not Allowed</option>
                                <option value="1">Allowed</option>
                            </select>
                        </div>
                        <div class="form-group" id="form-element-2_12d2_13d2_14d4_15">
                            <label for="rules-2_12d2_13d2_14d4_15" class="optional">Tournament View</label>

                            <select name="rules[2_12d2_13d2_14d4_15]" id="rules-2_12d2_13d2_14d4_15" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0" selected="selected">Not Allowed</option>
                                <option value="1">Allowed</option>
                            </select>
                        </div>
                        <div class="form-group" id="form-element-2_1">
                            <label for="rules-2_1" class="optional">Tournament Creation</label>

                            <select name="rules[2_1]" id="rules-2_1" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0" selected="selected">Not Allowed</option>
                                <option value="1">Allowed</option>
                            </select>
                        </div>
                        <div class="form-group" id="form-element-2_2">
                            <label for="rules-2_2" class="optional">Tournament Edit</label>

                            <select name="rules[2_2]" id="rules-2_2" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0" selected="selected">Not Allowed</option>
                                <option value="1">Allowed</option>
                            </select>
                        </div>
                        <div class="form-group" id="form-element-2_16">
                            <label for="rules-2_16" class="optional">Tournament Delete</label>

                            <select name="rules[2_16]" id="rules-2_16" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0" selected="selected">Not Allowed</option>
                                <option value="1">Allowed</option>
                            </select>
                        </div>
                        <div class="form-group" id="form-element-3_5">
                            <label for="rules-3_5" class="optional">Affiliate Profit</label>

                            <select name="rules[3_5]" id="rules-3_5" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0">Not Allowed</option>
                                <option value="1" selected="selected">Allowed</option>
                            </select>
                        </div>
                        <div class="form-group" id="form-element-3_17">
                            <label for="rules-3_17" class="optional">Player Tournaments</label>

                            <select name="rules[3_17]" id="rules-3_17" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0">Not Allowed</option>
                                <option value="1" selected="selected">Allowed</option>
                            </select>
                        </div>
                        <div class="form-group" id="form-element-3_22">
                            <label for="rules-3_22" class="optional">Player of Sub Affiliate Tournaments</label>

                            <select name="rules[3_22]" id="rules-3_22" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0">Not Allowed</option>
                                <option value="1" selected="selected">Allowed</option>
                            </select>
                        </div>
                        <div class="form-group" id="form-element-3_18">
                            <label for="rules-3_18" class="optional">Player Transactions</label>

                            <select name="rules[3_18]" id="rules-3_18" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0">Not Allowed</option>
                                <option value="1" selected="selected">Allowed</option>
                            </select>
                        </div>
                        <div class="form-group" id="form-element-3_23">
                            <label for="rules-3_23" class="optional">Player of Sub Affiliate Transactions</label>

                            <select name="rules[3_23]" id="rules-3_23" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0">Not Allowed</option>
                                <option value="1" selected="selected">Allowed</option>
                            </select>
                        </div>
                        <div class="form-group" id="form-element-3_19">
                            <label for="rules-3_19" class="optional">Player Games</label>

                            <select name="rules[3_19]" id="rules-3_19" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0">Not Allowed</option>
                                <option value="1" selected="selected">Allowed</option>
                            </select>
                        </div>
                        <div class="form-group" id="form-element-3_24">
                            <label for="rules-3_24" class="optional">Player of Sub Affiliate Games</label>

                            <select name="rules[3_24]" id="rules-3_24" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0">Not Allowed</option>
                                <option value="1" selected="selected">Allowed</option>
                            </select>
                        </div>
                        <div class="form-group" id="form-element-3_20">
                            <label for="rules-3_20" class="optional">Player Sessions</label>

                            <select name="rules[3_20]" id="rules-3_20" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0">Not Allowed</option>
                                <option value="1" selected="selected">Allowed</option>
                            </select>
                        </div>
                        <div class="form-group" id="form-element-3_25">
                            <label for="rules-3_25" class="optional">Player of Sub Affiliate Sessions</label>

                            <select name="rules[3_25]" id="rules-3_25" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0">Not Allowed</option>
                                <option value="1" selected="selected">Allowed</option>
                            </select>
                        </div>
                        <div class="form-group" id="form-element-3_21">
                            <label for="rules-3_21" class="optional">Player's Rakeback</label>

                            <select name="rules[3_21]" id="rules-3_21" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0">Not Allowed</option>
                                <option value="1" selected="selected">Allowed</option>
                            </select>
                        </div>
                        <div class="form-group" id="form-element-3_26">
                            <label for="rules-3_26" class="optional">Player's of Sub Affiliate Rakeback (Will be included to the Player's Rake Back Report)</label>

                            <select name="rules[3_26]" id="rules-3_26" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0">Not Allowed</option>
                                <option value="1" selected="selected">Allowed</option>
                            </select>
                        </div>
                        <div class="form-group" id="form-element-3_29">
                            <label for="rules-3_29" class="optional">Player's Report</label>

                            <select name="rules[3_29]" id="rules-3_29" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0">Not Allowed</option>
                                <option value="1" selected="selected">Allowed</option>
                            </select>
                        </div>
                        <div class="form-group" id="form-element-3_30">
                            <label for="rules-3_30" class="optional">Player's of Sub Affiliate Report (Will be included to the Player's Report)</label>

                            <select name="rules[3_30]" id="rules-3_30" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0">Not Allowed</option>
                                <option value="1" selected="selected">Allowed</option>
                            </select>
                        </div>
                        <div class="form-group" id="form-element-5_31">
                            <label for="rules-5_31" class="optional">Player Transaction List</label>

                            <select name="rules[5_31]" id="rules-5_31" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0">Not Allowed</option>
                                <option value="1" selected="selected">Allowed</option>
                            </select>
                        </div>
                        <div class="form-group" id="form-element-5_32">
                            <label for="rules-5_32" class="optional">Player of Sub Affiliate Transaction List (Will be included to the Player Transaction List Report)</label>

                            <select name="rules[5_32]" id="rules-5_32" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0">Not Allowed</option>
                                <option value="1" selected="selected">Allowed</option>
                            </select>
                        </div>
                        <div class="form-group" id="form-element-5_33">
                            <label for="rules-5_33" class="optional">Transfer Money From/To Player</label>

                            <select name="rules[5_33]" id="rules-5_33" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0" selected="selected">Not Allowed</option>
                                <option value="1">Allowed</option>
                            </select>
                        </div>
                        <div class="form-group" id="form-element-5_34">
                            <label for="rules-5_34" class="optional">Transfer Money From/To Player of Sub Affiliate (If Transfer Money From/To Player allowed)</label>

                            <select name="rules[5_34]" id="rules-5_34" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0">Not Allowed</option>
                                <option value="1" selected="selected">Allowed</option>
                            </select>
                        </div>
                        <div class="form-group" id="form-element-5_35">
                            <label for="rules-5_35" class="optional">Transfer Money From/To Affiliate</label>

                            <select name="rules[5_35]" id="rules-5_35" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0">Not Allowed</option>
                                <option value="1" selected="selected">Allowed</option>
                            </select>
                        </div>
                        <div class="form-group" id="form-element-7_1d7_2d7_7">
                            <label for="rules-7_1d7_2d7_7" class="optional">Bonus Code Creation</label>

                            <select name="rules[7_1d7_2d7_7]" id="rules-7_1d7_2d7_7" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0" selected="selected">Not Allowed</option>
                                <option value="1">Allowed</option>
                            </select>
                        </div>
                        <div class="form-group" id="form-element-7_42d11_7d11_46d12_47d8_43d8_7d8_44d8_1d8_2d13_48d9_43d9_7d9_44d9_1d9_2d10_7d10_1d10_2d10_16">
                            <label for="rules-7_42d11_7d11_46d12_47d8_43d8_7d8_44d8_1d8_2d13_48d9_43d9_7d9_44d9_1d9_2d10_7d10_1d10_2d10_16" class="optional">Bonus Program Creation</label>

                            <select name="rules[7_42d11_7d11_46d12_47d8_43d8_7d8_44d8_1d8_2d13_48d9_43d9_7d9_44d9_1d9_2d10_7d10_1d10_2d10_16]" id="rules-7_42d11_7d11_46d12_47d8_43d8_7d8_44d8_1d8_2d13_48d9_43d9_7d9_44d9_1d9_2d10_7d10_1d10_2d10_16" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0" selected="selected">Not Allowed</option>
                                <option value="1">Allowed</option>
                            </select>
                        </div>
                        <div class="form-group" id="form-element-17_7d17_1d17_2d18_44">
                            <label for="rules-17_7d17_1d17_2d18_44" class="optional">Banner Management</label>

                            <select name="rules[17_7d17_1d17_2d18_44]" id="rules-17_7d17_1d17_2d18_44" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0" selected="selected">Not Allowed</option>
                                <option value="1">Allowed</option>
                            </select>
                        </div>
                        <div class="form-group" id="form-element-3_63">
                            <label for="rules-3_63" class="optional">Player’s Insurance</label>

                            <select name="rules[3_63]" id="rules-3_63" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0">Not Allowed</option>
                                <option value="1" selected="selected">Allowed</option>
                            </select>
                        </div>
                        <div class="form-group" id="form-element-3_64">
                            <label for="rules-3_64" class="optional">Sub Affiliate Player’s Insurance</label>

                            <select name="rules[3_64]" id="rules-3_64" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0">Not Allowed</option>
                                <option value="1" selected="selected">Allowed</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <input type="submit" name="submit" id="submit" value="Make" class="btn btn-primary" />
        </div>
    </div>
</div>

<div id="selectPossibleAffiliateDialog" title="Please, select parent affiliate"
     class="modal" tabindex="-1" role="dialog"
     data-url="/webadmin/affiliate/affiliate/possible-list">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div id="dynamicContent_modal"></div>
            </div>
        </div>
    </div>
    <div style="clear: both"></div>
</div>
<div id="selectUserDialog" title="Please, select parent affiliate"
     class="modal" tabindex="-1" role="dialog"
     data-url="/webadmin/affiliate/affiliate/select">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div id="dynamicContent_modal_second"></div>
            </div>
        </div>
    </div>
    <div style="clear: both"></div>
</div>


<script>
    function PossibleAffiliatesDialog() {
        this.possibleAffiliatesDialog = $('#selectPossibleAffiliateDialog');
    }
    PossibleAffiliatesDialog.prototype.show = function () {
        this.possibleAffiliatesDialog.modal('show');
    };
    PossibleAffiliatesDialog.prototype.hide = function () {
        this.possibleAffiliatesDialog.modal('hide');
    };
    var affiliatesDialog;
    onUserSelected = function (user) {
        $('#playerId').val(user.f_id);
        $('#playerName').val(user.f_name + ' ' + user.f_family_name + '(' + user.f_nick + ')');
        $('#bonusCode').val(user.f_bonus_code);
        affiliatesDialog.hide();
    };
    document.addEventListener('DOMContentLoaded', function () {
        affiliatesDialog = new PossibleAffiliatesDialog();
        $("#playerSelectButton").click(function () {
            affiliatesDialog.show();
        });
        $("#playerName").click(function () {
            affiliatesDialog.show();
        });

        //----WORKING WITH PARENT affiliate AND USER SELECTION MODAL----------------------
        modals.init('selectUserDialog', listing.setup);
        modals.init('selectPossibleAffiliateDialog', listing.setup);
        //-------------------------------------------------------------
    });
</script>

