﻿
@{
    ViewBag.Title = "AffiliateProfit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Affiliate Profit</h3>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="row">
                <div class="col-md-12" style="margin-bottom: 15px; margin-top: 15px">
                    <div class="form-group" style="margin: 10px;">

                        From: <input type="text" name="Date[from]" id="Date[from]" value="" skipSelect="1" external="1" class="filter" readonly="readonly" onclick='displayDatePicker("Date[from]", false, "ymd", "-");' /> To: <input type="text" name="Date[to]" id="Date[to]" value="" skipSelect="1" external="1" class="filter" readonly="readonly" onclick='displayDatePicker("Date[to]", false, "ymd", "-");' />
                    </div>

                    <div class="form-group" style="margin: 10px;">
                        <a href="#" class="btn btn-default" onclick="listing.filter(); return false;">Apply Filter</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="box-body">
                <div id="dynamicContent">

                    <div class="custom-dropdown-menu" id="columnsControls">
                    </div>

                    <table id='affilaites_profit' class="listing-table" data-dt-not-fixed-cols="true">
                        <thead class="listHead">
                            <tr>
                                <th data-meta-skip-manage='true'>
                                    <div>
                                        <button type="button" class="btn btn-primary custom-dropdown" id="columnControlsBtn">
                                            <img src="~/Assest/img/menu.svg" />
                                        </button>
                                    </div>
                                </th>
                                <th data-meta-key='affiliate_id'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="affiliate_id"
                                           orderType="">
                                            Affiliate
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_money_type'
                                    data-meta-visibility="true">
                                    <nobr>
                                        Money Type
                                    </nobr>
                                </th>
                                <th data-meta-key='f_name'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_name"
                                           orderType="">
                                            First Name
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_family_name'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_family_name"
                                           orderType="">
                                            Second Name
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='insurance_rate'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="insurance_rate"
                                           orderType="">
                                            Insurance Rate, %
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='my_insurance'
                                    data-meta-visibility="true">
                                    <nobr>
                                        Aff. Plrs. Insurance
                                    </nobr>
                                </th>
                                <th data-meta-key='sub_insurance'
                                    data-meta-visibility="true">
                                    <nobr>
                                        Sub-Aff. Plrs. Insurance
                                    </nobr>
                                </th>
                                <th data-meta-key='my_rate'
                                    data-meta-visibility="true">
                                    <nobr>
                                        Rate, %
                                    </nobr>
                                </th>
                                <th data-meta-key='my_rakeback'
                                    data-meta-visibility="true">
                                    <nobr>
                                        Aff. Plrs. Rakeback
                                    </nobr>
                                </th>
                                <th data-meta-key='sub_aff_rakeback'
                                    data-meta-visibility="true">
                                    <nobr>
                                        Sub-Aff. Plrs. Rakeback
                                    </nobr>
                                </th>
                                <th data-meta-key='my_rake'
                                    data-meta-visibility="true">
                                    <nobr>
                                        Aff. Plrs. Rake
                                    </nobr>
                                </th>
                                <th data-meta-key='sub_aff_rake'
                                    data-meta-visibility="true">
                                    <nobr>
                                        Sub-Aff. Plrs. Rake
                                    </nobr>
                                </th>
                                <th data-meta-key='my_trnt'
                                    data-meta-visibility="true">
                                    <nobr>
                                        Aff. Plrs. Tournament Fee
                                    </nobr>
                                </th>
                                <th data-meta-key='sub_aff_trnt'
                                    data-meta-visibility="true">
                                    <nobr>
                                        Sub-Aff. Plrs. Tournament Fee
                                    </nobr>
                                </th>
                                <th data-meta-key='my_players_profit'
                                    data-meta-visibility="true">
                                    <nobr>
                                        Aff. Plrs. Profit
                                    </nobr>
                                </th>
                                <th data-meta-key='sub_aff_profit'
                                    data-meta-visibility="true">
                                    <nobr>
                                        Sub-Aff. Plrs. Profit
                                    </nobr>
                                </th>
                                <th data-meta-key='profit'
                                    data-meta-visibility="true">
                                    <nobr>
                                        Profit
                                    </nobr>
                                </th>
                            </tr>
                            <tr class="listFilter">
                                <th>

                                    <button name="butFilter" id="butFilter" type="button">Apply Filter</button>

                                    <button name="butReset" id="butReset" type="button">Reset Filter</button>
                                </th>
                                <th>
                                    <input type="text" name="affiliate_id" id="affiliate_id" value="" filter="1" orderable="1" sql="a.f_id" sql_nick="p.f_nick" nonHtml="" enable_tree="1" class="filter" />
                                </th>
                                <th>
                                    <select name="f_money_type" id="f_money_type" orderable="" filter="1" sql="f_money_type" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="82">Real Money</option>
                                        <option value="80">Play Money</option>
                                        <option value="65">cash game points</option>
                                    </select>
                                </th>
                                <th>
                                    <input type="text" name="f_name" id="f_name" value="" filter="1" orderable="1" sql="p.f_name" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <input type="text" name="f_family_name" id="f_family_name" value="" filter="1" orerable="1" sql="p.f_family_name" orderable="1" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <input type="text" name="insurance_rate" id="insurance_rate" value="" filter="1" orderable="1" sql="a.f_id" nonHtml="" class="filter" />
                                </th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>

                            </tr>
                        </thead>


                        <tr class="odd ">
                            <td></td>
                            <td><a href="/webadmin/affiliate/affiliate/info/id/132725">YMN3CZBB</a>  <a href='/webadmin/affiliate/affiliate/profit/aff/132725'><i class='fa fa-level-down'></i></a></td>
                            <td>Real Money</td>
                            <td>Phil</td>
                            <td>Ivey</td>
                            <td>0</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td></td>
                            <td><a href="/webadmin/affiliate/affiliate/info/id/2192963">77VY5GG</a>  <a href='/webadmin/affiliate/affiliate/profit/aff/2192963'><i class='fa fa-level-down'></i></a></td>
                            <td>Real Money</td>
                            <td>Phil</td>
                            <td>Ivey</td>
                            <td>0</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>50</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td></td>
                            <td><a href="/webadmin/affiliate/affiliate/info/id/2193023">NEV3E400</a>  <a href='/webadmin/affiliate/affiliate/profit/aff/2193023'><i class='fa fa-level-down'></i></a></td>
                            <td>Real Money</td>
                            <td>Phil</td>
                            <td>Ivey</td>
                            <td>0</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td></td>
                            <td><a href="/webadmin/affiliate/affiliate/info/id/2193119">FO43LI33</a>  <a href='/webadmin/affiliate/affiliate/profit/aff/2193119'><i class='fa fa-level-down'></i></a></td>
                            <td>Real Money</td>
                            <td>Phil</td>
                            <td>Ivey</td>
                            <td>0</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>10</td>
                            <td>546.21</td>
                            <td>0.00</td>
                            <td>716.66</td>
                            <td>0.00</td>
                            <td>381.70</td>
                            <td>0.00</td>
                            <td>55.21</td>
                            <td>0.00</td>
                            <td>55.21</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td></td>
                            <td><a href="/webadmin/affiliate/affiliate/info/id/2199183">789CYA44</a>  <a href='/webadmin/affiliate/affiliate/profit/aff/2199183'><i class='fa fa-level-down'></i></a></td>
                            <td>Real Money</td>
                            <td>Phil</td>
                            <td>Ivey</td>
                            <td>0</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>20</td>
                            <td>325.74</td>
                            <td>0.00</td>
                            <td>1081.71</td>
                            <td>0.00</td>
                            <td>193.97</td>
                            <td>0.00</td>
                            <td>189.98</td>
                            <td>0.00</td>
                            <td>189.98</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td></td>
                            <td><a href="/webadmin/affiliate/affiliate/info/id/2199198">E30TSH</a>  <a href='/webadmin/affiliate/affiliate/profit/aff/2199198'><i class='fa fa-level-down'></i></a></td>
                            <td>Real Money</td>
                            <td>Phil</td>
                            <td>Ivey</td>
                            <td>0</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>30</td>
                            <td>551.82</td>
                            <td>0.00</td>
                            <td>1293.77</td>
                            <td>0.00</td>
                            <td>38.75</td>
                            <td>0.00</td>
                            <td>234.20</td>
                            <td>0.00</td>
                            <td>234.20</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td></td>
                            <td><a href="/webadmin/affiliate/affiliate/info/id/2199213">HL54T8UU</a>  <a href='/webadmin/affiliate/affiliate/profit/aff/2199213'><i class='fa fa-level-down'></i></a></td>
                            <td>Real Money</td>
                            <td>Phil</td>
                            <td>Ivey</td>
                            <td>0</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>40</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td></td>
                            <td><a href="/webadmin/affiliate/affiliate/info/id/2199224">CZ409PZZ</a>  <a href='/webadmin/affiliate/affiliate/profit/aff/2199224'><i class='fa fa-level-down'></i></a></td>
                            <td>Real Money</td>
                            <td>Phil</td>
                            <td>Ivey</td>
                            <td>0</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>50</td>
                            <td>10.58</td>
                            <td>0.00</td>
                            <td>865.38</td>
                            <td>0.00</td>
                            <td>361.32</td>
                            <td>0.00</td>
                            <td>608.05</td>
                            <td>0.00</td>
                            <td>608.05</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td></td>
                            <td><a href="/webadmin/affiliate/affiliate/info/id/2215220">KUDQZ6HH</a>  <a href='/webadmin/affiliate/affiliate/profit/aff/2215220'><i class='fa fa-level-down'></i></a></td>
                            <td>Real Money</td>
                            <td>Phil</td>
                            <td>Ivey</td>
                            <td>0</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>20</td>
                            <td>0.00</td>
                            <td>681.34</td>
                            <td>0.00</td>
                            <td>2170.90</td>
                            <td>0.00</td>
                            <td>1281.50</td>
                            <td>0.00</td>
                            <td>138.55</td>
                            <td>138.55</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td></td>
                            <td><a href="/webadmin/affiliate/affiliate/info/id/2434050">2TCAJOPP</a>  <a href='/webadmin/affiliate/affiliate/profit/aff/2434050'><i class='fa fa-level-down'></i></a></td>
                            <td>Real Money</td>
                            <td>Phil</td>
                            <td>Ivey</td>
                            <td>0</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>30</td>
                            <td>10.32</td>
                            <td>0.00</td>
                            <td>51.64</td>
                            <td>0.00</td>
                            <td>2.54</td>
                            <td>0.00</td>
                            <td>13.15</td>
                            <td>0.00</td>
                            <td>13.15</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td></td>
                            <td><a href="/webadmin/affiliate/affiliate/info/id/3869385">CGW7UFTT</a>  <a href='/webadmin/affiliate/affiliate/profit/aff/3869385'><i class='fa fa-level-down'></i></a></td>
                            <td>Real Money</td>
                            <td>Phil</td>
                            <td>Ivey</td>
                            <td>0</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>50</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>66.91</td>
                            <td>0.00</td>
                            <td>0.80</td>
                            <td>0.00</td>
                            <td>33.85</td>
                            <td>0.00</td>
                            <td>33.85</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td></td>
                            <td><a href="/webadmin/affiliate/affiliate/info/id/3910883">HYKLYREE</a>  <a href='/webadmin/affiliate/affiliate/profit/aff/3910883'><i class='fa fa-level-down'></i></a></td>
                            <td>Real Money</td>
                            <td>Phil</td>
                            <td>Ivey</td>
                            <td>0</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>20</td>
                            <td>0.07</td>
                            <td>0.00</td>
                            <td>151.03</td>
                            <td>0.00</td>
                            <td>127.66</td>
                            <td>0.30</td>
                            <td>55.72</td>
                            <td>0.01</td>
                            <td>55.73</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td></td>
                            <td><a href="/webadmin/affiliate/affiliate/info/id/3958780">040RPRMM</a>  <a href='/webadmin/affiliate/affiliate/profit/aff/3958780'><i class='fa fa-level-down'></i></a></td>
                            <td>Real Money</td>
                            <td>Phil</td>
                            <td>Ivey</td>
                            <td>0</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>20</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td></td>
                            <td><a href="/webadmin/affiliate/affiliate/info/id/4245677">KR7CKEWW</a>  <a href='/webadmin/affiliate/affiliate/profit/aff/4245677'><i class='fa fa-level-down'></i></a></td>
                            <td>Real Money</td>
                            <td>Phil</td>
                            <td>Ivey</td>
                            <td>0</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>20</td>
                            <td>0.00</td>
                            <td>0.07</td>
                            <td>0.00</td>
                            <td>0.26</td>
                            <td>0.00</td>
                            <td>33.80</td>
                            <td>0.00</td>
                            <td>1.69</td>
                            <td>1.69</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td></td>
                            <td><a href="/webadmin/affiliate/affiliate/info/id/4576445">ECTKJQLL</a>  <a href='/webadmin/affiliate/affiliate/profit/aff/4576445'><i class='fa fa-level-down'></i></a></td>
                            <td>Real Money</td>
                            <td>Phil</td>
                            <td>Ivey</td>
                            <td>0</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>20</td>
                            <td>6.78</td>
                            <td>0.00</td>
                            <td>25.28</td>
                            <td>0.00</td>
                            <td>11.24</td>
                            <td>0.00</td>
                            <td>5.94</td>
                            <td>0.00</td>
                            <td>5.94</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td></td>
                            <td><a href="/webadmin/affiliate/affiliate/info/id/5126926">KateAff</a>  <a href='/webadmin/affiliate/affiliate/profit/aff/5126926'><i class='fa fa-level-down'></i></a></td>
                            <td>Real Money</td>
                            <td></td>
                            <td></td>
                            <td>0</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>50</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>2.62</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>1.31</td>
                            <td>0.00</td>
                            <td>1.31</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->


                    </table>
                    <div class='rowCount'>
                        <div class="row">
                            <div class="col-md-3">
                                Rows: 16&ensp;|&ensp;
                                <div class="limit-controls" style="display: inline-block;">
                                    <div id="perpage">Per page:</div>
                                    <select class="limit-links">
                                        <option data-href="/webadmin/affiliate/affiliate/profit/limit/10">10</option>
                                        <option data-href="/webadmin/affiliate/affiliate/profit/limit/25">25</option>
                                        <option selected data-href="/webadmin/affiliate/affiliate/profit/limit/50">50</option>
                                        <option data-href="/webadmin/affiliate/affiliate/profit/limit/100">100</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-7" style="display: flex; justify-content: center">
                                <div class="paginator-controls" id="blockPaginatorControls">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="pull-right">
                                    <a href="/webadmin/affiliate/affiliate/profit/_output/xlsx"><img src="~/Assest/img/xls.svg" alt="Excel"></a>
                                    <a href="/webadmin/affiliate/affiliate/profit/_output/csv"><img src="~/Assest/img/csv.svg" alt="CSV"></a>
                                    <a href="/webadmin/affiliate/affiliate/profit/_output/ods"><img src="~/Assest/img/odt.svg" alt="OpenDocument" /></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
