﻿
@{
    ViewBag.Title = "Affiliate Settings";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h1>Settings</h1>

<div id=""  class="center_content">
    <div class="box box-solid">
        <form enctype="application/x-www-form-urlencoded" action="" method="post" dojoType="dijit.form.Form">
            <div class="nav-tabs-custom" id="tabs_102">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tabs_102_levels" data-toggle="tab" aria-expanded="true">
                            Levels
                        </a>
                    </li>
                    <li>
                        <a href="#tabs_102_userRegistration" data-toggle="tab" aria-expanded="false">
                            User Registration
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tabs_102_levels">

                        <div class="nav-tabs-custom" id="levels">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#levels_1" data-toggle="tab" aria-expanded="true">
                                        Level 1
                                    </a>
                                </li>
                                <li>
                                    <a href="#levels_2" data-toggle="tab" aria-expanded="false">
                                        Level 2
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="levels_1">

                                    <div class="nav-tabs-custom" id="1">
                                        <ul class="nav nav-tabs">
                                            <li class="active">
                                                <a href="#1_82" data-toggle="tab" aria-expanded="true">
                                                    Real Money
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#1_80" data-toggle="tab" aria-expanded="false">
                                                    Play Money
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#1_65" data-toggle="tab" aria-expanded="false">
                                                    cash game points
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#1_rate" data-toggle="tab" aria-expanded="false">
                                                    Rate
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="1_82">

                                                <div class="nav-tabs-custom" id="82">
                                                    <ul class="nav nav-tabs">
                                                        <li class="active">
                                                            <a href="#82_Insurance" data-toggle="tab" aria-expanded="true">
                                                                Insurance
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <div class="tab-content">
                                                        <div class="tab-pane active" id="82_Insurance">
                                                            <div class="box-body">
                                                                <div class="form-group" id="form-element-insuranceRate">
                                                                    <label for="1-82-Insurance-insuranceRate" class="optional">Insurance rate</label>

                                                                    <input type="text" name="1[82][Insurance][insuranceRate]" id="1-82-Insurance-insuranceRate" value="0" class="form-control" />
                                                                    <span class="help-block">Set is percent</span>
                                                                </div>
                                                                <div class="form-group" id="form-element-insuranceThreshold">
                                                                    <label for="1-82-Insurance-insuranceThreshold" class="optional">Insurance distribution threshold</label>

                                                                    <input type="text" name="1[82][Insurance][insuranceThreshold]" id="1-82-Insurance-insuranceThreshold" value="0" class="form-control" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="1_80">

                                                <div class="nav-tabs-custom" id="80">
                                                    <ul class="nav nav-tabs">
                                                        <li class="active">
                                                            <a href="#80_Insurance" data-toggle="tab" aria-expanded="true">
                                                                Insurance
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <div class="tab-content">
                                                        <div class="tab-pane active" id="80_Insurance">
                                                            <div class="box-body">
                                                                <div class="form-group" id="form-element-insuranceRate">
                                                                    <label for="1-80-Insurance-insuranceRate" class="optional">Insurance rate</label>

                                                                    <input type="text" name="1[80][Insurance][insuranceRate]" id="1-80-Insurance-insuranceRate" value="0" class="form-control" />
                                                                    <span class="help-block">Set is percent</span>
                                                                </div>
                                                                <div class="form-group" id="form-element-insuranceThreshold">
                                                                    <label for="1-80-Insurance-insuranceThreshold" class="optional">Insurance distribution threshold</label>

                                                                    <input type="text" name="1[80][Insurance][insuranceThreshold]" id="1-80-Insurance-insuranceThreshold" value="0" class="form-control" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="1_65">

                                                <div class="nav-tabs-custom" id="65">
                                                    <ul class="nav nav-tabs">
                                                        <li class="active">
                                                            <a href="#65_Insurance" data-toggle="tab" aria-expanded="true">
                                                                Insurance
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <div class="tab-content">
                                                        <div class="tab-pane active" id="65_Insurance">
                                                            <div class="box-body">
                                                                <div class="form-group" id="form-element-insuranceRate">
                                                                    <label for="1-65-Insurance-insuranceRate" class="optional">Insurance rate</label>

                                                                    <input type="text" name="1[65][Insurance][insuranceRate]" id="1-65-Insurance-insuranceRate" value="0" class="form-control" />
                                                                    <span class="help-block">Set is percent</span>
                                                                </div>
                                                                <div class="form-group" id="form-element-insuranceThreshold">
                                                                    <label for="1-65-Insurance-insuranceThreshold" class="optional">Insurance distribution threshold</label>

                                                                    <input type="text" name="1[65][Insurance][insuranceThreshold]" id="1-65-Insurance-insuranceThreshold" value="0" class="form-control" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="1_rate">
                                                <div class="box-body">
                                                    <div class="form-group" id="form-element-predefinedRate">
                                                        <label for="1-rate-predefinedRate" class="optional">Predefined Rate, %</label>

                                                        <input type="text" name="1[rate][predefinedRate]" id="1-rate-predefinedRate" value="" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="levels_2">

                                    <div class="nav-tabs-custom" id="2">
                                        <ul class="nav nav-tabs">
                                            <li class="active">
                                                <a href="#2_82" data-toggle="tab" aria-expanded="true">
                                                    Real Money
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#2_80" data-toggle="tab" aria-expanded="false">
                                                    Play Money
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#2_65" data-toggle="tab" aria-expanded="false">
                                                    cash game points
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#2_rate" data-toggle="tab" aria-expanded="false">
                                                    Rate
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="2_82">

                                                <div class="nav-tabs-custom" id="82">
                                                    <ul class="nav nav-tabs">
                                                        <li class="active">
                                                            <a href="#82_Insurance" data-toggle="tab" aria-expanded="true">
                                                                Insurance
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <div class="tab-content">
                                                        <div class="tab-pane active" id="82_Insurance">
                                                            <div class="box-body">
                                                                <div class="form-group" id="form-element-insuranceRate">
                                                                    <label for="2-82-Insurance-insuranceRate" class="optional">Insurance rate</label>

                                                                    <input type="text" name="2[82][Insurance][insuranceRate]" id="2-82-Insurance-insuranceRate" value="0" class="form-control" />
                                                                    <span class="help-block">Set is percent</span>
                                                                </div>
                                                                <div class="form-group" id="form-element-insuranceThreshold">
                                                                    <label for="2-82-Insurance-insuranceThreshold" class="optional">Insurance distribution threshold</label>

                                                                    <input type="text" name="2[82][Insurance][insuranceThreshold]" id="2-82-Insurance-insuranceThreshold" value="0" class="form-control" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="2_80">

                                                <div class="nav-tabs-custom" id="80">
                                                    <ul class="nav nav-tabs">
                                                        <li class="active">
                                                            <a href="#80_Insurance" data-toggle="tab" aria-expanded="true">
                                                                Insurance
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <div class="tab-content">
                                                        <div class="tab-pane active" id="80_Insurance">
                                                            <div class="box-body">
                                                                <div class="form-group" id="form-element-insuranceRate">
                                                                    <label for="2-80-Insurance-insuranceRate" class="optional">Insurance rate</label>

                                                                    <input type="text" name="2[80][Insurance][insuranceRate]" id="2-80-Insurance-insuranceRate" value="0" class="form-control" />
                                                                    <span class="help-block">Set is percent</span>
                                                                </div>
                                                                <div class="form-group" id="form-element-insuranceThreshold">
                                                                    <label for="2-80-Insurance-insuranceThreshold" class="optional">Insurance distribution threshold</label>

                                                                    <input type="text" name="2[80][Insurance][insuranceThreshold]" id="2-80-Insurance-insuranceThreshold" value="0" class="form-control" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="2_65">

                                                <div class="nav-tabs-custom" id="65">
                                                    <ul class="nav nav-tabs">
                                                        <li class="active">
                                                            <a href="#65_Insurance" data-toggle="tab" aria-expanded="true">
                                                                Insurance
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <div class="tab-content">
                                                        <div class="tab-pane active" id="65_Insurance">
                                                            <div class="box-body">
                                                                <div class="form-group" id="form-element-insuranceRate">
                                                                    <label for="2-65-Insurance-insuranceRate" class="optional">Insurance rate</label>

                                                                    <input type="text" name="2[65][Insurance][insuranceRate]" id="2-65-Insurance-insuranceRate" value="0" class="form-control" />
                                                                    <span class="help-block">Set is percent</span>
                                                                </div>
                                                                <div class="form-group" id="form-element-insuranceThreshold">
                                                                    <label for="2-65-Insurance-insuranceThreshold" class="optional">Insurance distribution threshold</label>

                                                                    <input type="text" name="2[65][Insurance][insuranceThreshold]" id="2-65-Insurance-insuranceThreshold" value="0" class="form-control" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="2_rate">
                                                <div class="box-body">
                                                    <div class="form-group" id="form-element-predefinedRate">
                                                        <label for="2-rate-predefinedRate" class="optional">Predefined Rate, %</label>

                                                        <input type="text" name="2[rate][predefinedRate]" id="2-rate-predefinedRate" value="" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tabs_102_userRegistration">
                        <div class="box-body">
                            <div class="form-group" id="form-element-bonusCodeRequired">
                                <div class="checkbox">
                                    <label>
                                        <input type="hidden" name="bonusCodeRequired" value="0" /><input type="checkbox" name="bonusCodeRequired" id="bonusCodeRequired" value="1" />Bonus code required
                                    </label>
                                </div>
                            </div>
                            <div class="form-group" id="form-element-onlyValidBonusCode">
                                <div class="checkbox">
                                    <label>
                                        <input type="hidden" name="onlyValidBonusCode" value="0" /><input type="checkbox" name="onlyValidBonusCode" id="onlyValidBonusCode" value="1" />Only valid bonus code
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="submit" name="submit" id="submit" value="save" class="btn btn-primary" />
            </div>
        </form>
    </div>

</div>

