﻿
@{
    ViewBag.Title = "Add Affiliate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h3>Add Affiliate <a href="http://docs.evenbetgaming.com/articles/Affiliate_program/Add%20Affiliate.html" target="_blank"><sup><i class="fa fa-question-circle"></i></sup></a></h3>

<style type="text/css">
    #rulesPane dt, #rulesPane dd {
        display: inline-block;
    }

    #rulesPane dt {
        width: 60%;
    }

    .rDelim {
        width: 100%;
        height: 1px;
        background: #d5d5d5;
    }
</style>


<div class="callout callout-info" style="display: none">
    <p id="response"></p>
</div>

<form id="userForm" jsId="userForm"
      encType="multipart/form-data" method="post" class="center_content">
    <dt id="entityId-label">&#160;</dt>
    <dd id="entityId-element">
        <input type="hidden" name="entityId" value="0" id="entityId" />
    </dd>

    <div class="panel box box-primary">
        <div class="box-header with-border">
            <h4 class="box-title">
                <a data-toggle="collapse" href="#collapseAccount" class="btn btn-box-tool"><i class="fa fa-minus"></i></a>
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseAccount">Account</a>
                <a href="http://docs.evenbetgaming.com/articles/Affiliate_program/Add%20Affiliate.html#account" target="_blank"><sup><i class="fa fa-question-circle"></i></sup></a>
            </h4>
        </div>
        <div id="collapseAccount" class="panel-collapse collapse in">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group" id="form-element-nick">
                            <label for="nick" class="required">Login</label>

                            <input type="text" name="nick" id="nick" value="" maxlength="12" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-password">
                            <label for="password" class="required">Password</label>

                            <input type="password" name="password" id="password" value="" autocomplete="new-password" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-passwordConfirm">
                            <label for="passwordConfirm" class="required">Password Confirmation</label>

                            <input type="password" name="passwordConfirm" id="passwordConfirm" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-mail">
                            <label for="mail" class="required">Email Address</label>

                            <input type="text" name="mail" id="mail" value="" maxlength="255" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-playerLevel">
                            <label for="playerLevel" class="optional">User Level</label>

                            <select name="playerLevel" id="playerLevel" class="form-control select2">
                                <option value="0" selected="selected">Player</option>
                                <option value="11">Level [05]</option>
                                <option value="1">Level [10]</option>
                                <option value="12">Level [15]</option>
                                <option value="2">Level [20]</option>
                                <option value="13">Level [25]</option>
                                <option value="3">Level [30]</option>
                                <option value="14">Level [35]</option>
                                <option value="4">Level [40]</option>
                                <option value="5">Level [50]</option>
                                <option value="6">Level [60]</option>
                                <option value="7">Level [70]</option>
                                <option value="8">Level [80]</option>
                                <option value="9">Standard II</option>
                                <option value="10">Standard</option>
                            </select>
                        </div>
                        <dt id="skinId-label">&#160;</dt>
                        <dd id="skinId-element">
                            <input type="hidden" name="skinId" value="0" id="skinId" />
                        </dd>

                    </div>
                    <div class="col-md-7">
                        <div class="row">


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel box box-primary">
        <div class="box-header with-border">
            <h4 class="box-title">
                <a data-toggle="collapse" href="#collapseAffiliate" class="btn btn-box-tool"><i class="fa fa-minus"></i></a>
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseAffiliate">Affiliate</a>
                <a href="http://docs.evenbetgaming.com/articles/Affiliate_program/Add%20Affiliate.html#affiliate" target="_blank"><sup><i class="fa fa-question-circle"></i></sup></a>
            </h4>
        </div>
        <div id="collapseAffiliate" class="panel-collapse collapse in">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-5 col-xs-12">
                        <div style="display: none;">
                            <div class="form-group" id="form-element-parentId">
                                <label for="parentId" class="optional">ParentId of affiliate</label>

                                <input type="text" name="parentId" id="parentId" value="" readOnly="1" hidden="1" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group" id="form-element-parentName">
                            <label for="parentName" class="optional">Parent of affiliate</label>

                            <input type="text" name="parentName" id="parentName" value="" readOnly="1" class="form-control" />
                        </div>

                        <button name="affiliateSelectButton" id="affiliateSelectButton" type="button" class="btn btn-default">Select</button>
                        <button name="affiliateClearButton" id="affiliateClearButton" type="button" class="btn btn-default">Clear parent</button>

                        <div class="form-group" id="form-element-rate">
                            <label for="rate" class="optional">Rate</label>

                            <input type="text" name="rate" id="rate" value="0" class="form-control" />
                            <span class="help-block">Set in percent</span>
                        </div>
                        <fieldset style="margin-bottom: 10px;">
                            <legend style="font-size: 1.1em;">
                                Configuration by money types
                            </legend>

                            <div class="nav-tabs-custom" id="byMoneyTypes">
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a href="#byMoneyTypes_82" data-toggle="tab" aria-expanded="true">
                                            Real Money
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#byMoneyTypes_80" data-toggle="tab" aria-expanded="false">
                                            Play Money
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#byMoneyTypes_65" data-toggle="tab" aria-expanded="false">
                                            cash game points
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="byMoneyTypes_82">

                                        <div class="nav-tabs-custom" id="82">
                                            <ul class="nav nav-tabs">
                                                <li class="active">
                                                    <a href="#82_Insurance" data-toggle="tab" aria-expanded="true">
                                                        Insurance
                                                    </a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="82_Insurance">
                                                    <div class="box-body">
                                                        <div class="form-group" id="form-element-insuranceRate">
                                                            <label for="byMoneyTypes-82-Insurance-insuranceRate" class="optional">Insurance rate</label>

                                                            <input type="text" name="byMoneyTypes[82][Insurance][insuranceRate]" id="byMoneyTypes-82-Insurance-insuranceRate" value="0" class="form-control" />
                                                            <span class="help-block">Set is percent</span>
                                                        </div>
                                                        <div class="form-group" id="form-element-insuranceThreshold">
                                                            <label for="byMoneyTypes-82-Insurance-insuranceThreshold" class="optional">Insurance distribution threshold</label>

                                                            <input type="text" name="byMoneyTypes[82][Insurance][insuranceThreshold]" id="byMoneyTypes-82-Insurance-insuranceThreshold" value="0" class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="byMoneyTypes_80">

                                        <div class="nav-tabs-custom" id="80">
                                            <ul class="nav nav-tabs">
                                                <li class="active">
                                                    <a href="#80_Insurance" data-toggle="tab" aria-expanded="true">
                                                        Insurance
                                                    </a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="80_Insurance">
                                                    <div class="box-body">
                                                        <div class="form-group" id="form-element-insuranceRate">
                                                            <label for="byMoneyTypes-80-Insurance-insuranceRate" class="optional">Insurance rate</label>

                                                            <input type="text" name="byMoneyTypes[80][Insurance][insuranceRate]" id="byMoneyTypes-80-Insurance-insuranceRate" value="0" class="form-control" />
                                                            <span class="help-block">Set is percent</span>
                                                        </div>
                                                        <div class="form-group" id="form-element-insuranceThreshold">
                                                            <label for="byMoneyTypes-80-Insurance-insuranceThreshold" class="optional">Insurance distribution threshold</label>

                                                            <input type="text" name="byMoneyTypes[80][Insurance][insuranceThreshold]" id="byMoneyTypes-80-Insurance-insuranceThreshold" value="0" class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="byMoneyTypes_65">

                                        <div class="nav-tabs-custom" id="65">
                                            <ul class="nav nav-tabs">
                                                <li class="active">
                                                    <a href="#65_Insurance" data-toggle="tab" aria-expanded="true">
                                                        Insurance
                                                    </a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="65_Insurance">
                                                    <div class="box-body">
                                                        <div class="form-group" id="form-element-insuranceRate">
                                                            <label for="byMoneyTypes-65-Insurance-insuranceRate" class="optional">Insurance rate</label>

                                                            <input type="text" name="byMoneyTypes[65][Insurance][insuranceRate]" id="byMoneyTypes-65-Insurance-insuranceRate" value="0" class="form-control" />
                                                            <span class="help-block">Set is percent</span>
                                                        </div>
                                                        <div class="form-group" id="form-element-insuranceThreshold">
                                                            <label for="byMoneyTypes-65-Insurance-insuranceThreshold" class="optional">Insurance distribution threshold</label>

                                                            <input type="text" name="byMoneyTypes[65][Insurance][insuranceThreshold]" id="byMoneyTypes-65-Insurance-insuranceThreshold" value="0" class="form-control" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div class="form-group" id="form-element-slotRate">
                            <label for="slotRate" class="optional">Slot Rate</label>

                            <input type="text" name="slotRate" id="slotRate" value="0" hidden="1" class="form-control" />
                            <span class="help-block">Set in percent</span>
                        </div>
                        <div class="form-group" id="form-element-url">
                            <label for="url" class="optional">URL</label>

                            <input type="text" name="url" id="url" value="" maxlength="255" class="form-control" />
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel box box-primary">
        <div class="box-header with-border">
            <h4 class="box-title">
                <a data-toggle="collapse" href="#collapsePersonalInfoMain" class="btn btn-box-tool"><i class="fa fa-minus"></i></a>
                <a data-toggle="collapse" data-parent="#accordion" href="#collapsePersonalInfoMain">Main</a>
                <a href="http://docs.evenbetgaming.com/articles/Affiliate_program/Add%20Affiliate.html#main" target="_blank"><sup><i class="fa fa-question-circle"></i></sup></a>
            </h4>
        </div>
        <div id="collapsePersonalInfoMain" class="panel-collapse collapse in">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-5 col-xs-12">
                        <div class="form-group" id="form-element-name">
                            <label for="name" class="optional">First Name</label>

                            <input type="text" name="name" id="name" value="" maxlength="255" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-familyName">
                            <label for="familyName" class="optional">Last Name</label>

                            <input type="text" name="familyName" id="familyName" value="" maxlength="255" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-middleName">
                            <label for="middleName" class="optional">Middle Name</label>

                            <input type="text" name="middleName" id="middleName" value="" maxlength="255" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-pre">
                            <label for="pre" class="optional">Pre</label>

                            <input type="text" name="pre" id="pre" value="" maxlength="255" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-dob">
                            <label for="dob" class="optional">Date of Birth</label>

                            <input type="text" name="dob" id="dob" value="" max="2020-02-27 09:54:46" min="1920-02-27 00:00:00" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-xs-12">
                        <div class="panel panel-primary">
                            <div class="panel-body">
                                <div class="form-group" id="form-element-gender">
                                    <div id="gender-label"><label class="optional">Gender</label></div>
                                    <div class="radio">
                                        <label><input type="radio" name="gender" id="gender-77" value="77" />Male</label><br /><label><input type="radio" name="gender" id="gender-70" value="70" />Female</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 col-xs-12">
                        <div class="form-group" id="form-element-phoneNumber">
                            <label for="phoneNumber" class="optional">Phone Number</label>

                            <input type="text" name="phoneNumber" id="phoneNumber" value="" maxlength="20" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel box box-primary">
        <div class="box-header with-border">
            <h4 class="box-title">
                <a data-toggle="collapse" href="#collapseMailingAddress" class="btn btn-box-tool"><i class="fa fa-minus"></i></a>
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseMailingAddress">Mailing Address</a>
                <a href="http://docs.evenbetgaming.com/articles/Affiliate_program/Add%20Affiliate.html#mailing-address" target="_blank"><sup><i class="fa fa-question-circle"></i></sup></a>
            </h4>
        </div>
        <div id="collapseMailingAddress" class="panel-collapse collapse in">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-5 col-xs-12">

                        <div class="form-group" id="form-element-city">
                            <label for="city" class="optional">City</label>

                            <input type="text" name="city" id="city" value="" maxlength="127" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-state">
                            <label for="state" class="optional">State</label>

                            <input type="text" name="state" id="state" value="" maxlength="255" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-address">
                            <label for="address" class="optional">Street Address</label>

                            <input type="text" name="address" id="address" value="" maxlength="255" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-zip">
                            <label for="zip" class="optional">Zip/Post Code</label>

                            <input type="text" name="zip" id="zip" value="" maxlength="255" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel box box-primary">
        <div class="box-header with-border">
            <h4 class="box-title">
                <a data-toggle="collapse" href="#collapsePartnerInfo" class="btn btn-box-tool"><i class="fa fa-minus"></i></a>
                <a data-toggle="collapse" data-parent="#accordion" href="#collapsePartnerInfo">Partnership</a>
                <a href="http://docs.evenbetgaming.com/articles/Affiliate_program/Add%20Affiliate.html#partnership" target="_blank"><sup><i class="fa fa-question-circle"></i></sup></a>
            </h4>
        </div>
        <div id="collapsePartnerInfo" class="panel-collapse collapse in">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-5 col-xs-12">
                        <div class="form-group" id="form-element-bonusCode">
                            <label for="bonusCode" class="required">Bonus Code</label>

                            <input type="text" name="bonusCode" id="bonusCode" value="" maxlength="30" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-referredBy">
                            <label for="referredBy" class="optional">Referred By</label>

                            <input type="text" name="referredBy" id="referredBy" value="" maxlength="100" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-externalSystem">
                            <label for="externalSystem" class="optional">External System</label>

                            <select name="externalSystem" id="externalSystem" class="form-control select2">
                                <option value="default" selected="selected">default</option>
                                <option value="facebook">facebook</option>
                                <option value="google">google</option>
                            </select>
                        </div>
                        <div class="form-group" id="form-element-externalId">
                            <label for="externalId" class="optional">External ID</label>

                            <input type="text" name="externalId" id="externalId" value="" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel box box-primary">
        <div class="box-header with-border">
            <h4 class="box-title">
                <a data-toggle="collapse" href="#collapseAccessControl" class="btn btn-box-tool">
                    <i class="fa fa-minus"></i>
                </a>
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseAccessControl">Access Control</a>
                <a href="http://docs.evenbetgaming.com/articles/Affiliate_program/Add%20Affiliate.html#access-control" target="_blank"><sup><i class="fa fa-question-circle"></i></sup></a>
            </h4>
        </div>
        <div id="collapseAccessControl" class="panel-collapse collapse in">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group" id="form-element-16_1">
                            <label for="rules-16_1" class="optional">Add Affiliate</label>

                            <select name="rules[16_1]" id="rules-16_1" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0">Not Allowed</option>
                                <option value="1" selected="selected">Allowed</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group" id="form-element-16_2">
                            <label for="rules-16_2" class="optional">Edit Affiliate</label>

                            <select name="rules[16_2]" id="rules-16_2" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0">Not Allowed</option>
                                <option value="1" selected="selected">Allowed</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group" id="form-element-6_1">
                            <label for="rules-6_1" class="optional">Add Player</label>

                            <select name="rules[6_1]" id="rules-6_1" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0">Not Allowed</option>
                                <option value="1" selected="selected">Allowed</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group" id="form-element-6_36">
                            <label for="rules-6_36" class="optional">Add Player For Affiliate (If Add Player Allowed)</label>

                            <select name="rules[6_36]" id="rules-6_36" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0" selected="selected">Not Allowed</option>
                                <option value="1">Allowed</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group" id="form-element-6_2">
                            <label for="rules-6_2" class="optional">Edit Player</label>

                            <select name="rules[6_2]" id="rules-6_2" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0">Not Allowed</option>
                                <option value="1" selected="selected">Allowed</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group" id="form-element-6_37">
                            <label for="rules-6_37" class="optional">Edit Player For Affiliate (If Edit Player Allowed)</label>

                            <select name="rules[6_37]" id="rules-6_37" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0" selected="selected">Not Allowed</option>
                                <option value="1">Allowed</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group" id="form-element-39_2">
                            <label for="rules-39_2" class="optional">Change Player Level</label>

                            <select name="rules[39_2]" id="rules-39_2" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0" selected="selected">Not Allowed</option>
                                <option value="1">Allowed</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group" id="form-element-49_2">
                            <label for="rules-49_2" class="optional">Change Player Password</label>

                            <select name="rules[49_2]" id="rules-49_2" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0">Not Allowed</option>
                                <option value="1" selected="selected">Allowed</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group" id="form-element-4_11">
                            <label for="rules-4_11" class="optional">Table List</label>

                            <select name="rules[4_11]" id="rules-4_11" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0" selected="selected">Not Allowed</option>
                                <option value="1">Allowed</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group" id="form-element-1_7">
                            <label for="rules-1_7" class="optional">Active Tables</label>

                            <select name="rules[1_7]" id="rules-1_7" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0" selected="selected">Not Allowed</option>
                                <option value="1">Allowed</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group" id="form-element-1_1">
                            <label for="rules-1_1" class="optional">Table Creation</label>

                            <select name="rules[1_1]" id="rules-1_1" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0" selected="selected">Not Allowed</option>
                                <option value="1">Allowed</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group" id="form-element-1_38">
                            <label for="rules-1_38" class="optional">Permanent Table Creation (If Table Creation Allowed)</label>

                            <select name="rules[1_38]" id="rules-1_38" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0" selected="selected">Not Allowed</option>
                                <option value="1">Allowed</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group" id="form-element-1_39">
                            <label for="rules-1_39" class="optional">Balance Table Creation (If Table Creation Allowed)</label>

                            <select name="rules[1_39]" id="rules-1_39" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0" selected="selected">Not Allowed</option>
                                <option value="1">Allowed</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group" id="form-element-1_40">
                            <label for="rules-1_40" class="optional">Private Table Creation (If Table Creation Allowed)</label>

                            <select name="rules[1_40]" id="rules-1_40" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0" selected="selected">Not Allowed</option>
                                <option value="1">Allowed</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group" id="form-element-1_41">
                            <label for="rules-1_41" class="optional">Public Table Creation (If Table Creation Allowed)</label>

                            <select name="rules[1_41]" id="rules-1_41" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0" selected="selected">Not Allowed</option>
                                <option value="1">Allowed</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group" id="form-element-1_2">
                            <label for="rules-1_2" class="optional">Table Edit</label>

                            <select name="rules[1_2]" id="rules-1_2" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0" selected="selected">Not Allowed</option>
                                <option value="1">Allowed</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group" id="form-element-4_6">
                            <label for="rules-4_6" class="optional">Tournament List</label>

                            <select name="rules[4_6]" id="rules-4_6" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0" selected="selected">Not Allowed</option>
                                <option value="1">Allowed</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group" id="form-element-2_7">
                            <label for="rules-2_7" class="optional">Active Tournaments</label>

                            <select name="rules[2_7]" id="rules-2_7" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0" selected="selected">Not Allowed</option>
                                <option value="1">Allowed</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group" id="form-element-2_12d2_13d2_14d4_15">
                            <label for="rules-2_12d2_13d2_14d4_15" class="optional">Tournament View</label>

                            <select name="rules[2_12d2_13d2_14d4_15]" id="rules-2_12d2_13d2_14d4_15" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0" selected="selected">Not Allowed</option>
                                <option value="1">Allowed</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group" id="form-element-2_1">
                            <label for="rules-2_1" class="optional">Tournament Creation</label>

                            <select name="rules[2_1]" id="rules-2_1" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0" selected="selected">Not Allowed</option>
                                <option value="1">Allowed</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group" id="form-element-2_2">
                            <label for="rules-2_2" class="optional">Tournament Edit</label>

                            <select name="rules[2_2]" id="rules-2_2" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0" selected="selected">Not Allowed</option>
                                <option value="1">Allowed</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group" id="form-element-2_16">
                            <label for="rules-2_16" class="optional">Tournament Delete</label>

                            <select name="rules[2_16]" id="rules-2_16" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0" selected="selected">Not Allowed</option>
                                <option value="1">Allowed</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group" id="form-element-3_5">
                            <label for="rules-3_5" class="optional">Affiliate Profit</label>

                            <select name="rules[3_5]" id="rules-3_5" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0">Not Allowed</option>
                                <option value="1" selected="selected">Allowed</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group" id="form-element-3_17">
                            <label for="rules-3_17" class="optional">Player Tournaments</label>

                            <select name="rules[3_17]" id="rules-3_17" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0">Not Allowed</option>
                                <option value="1" selected="selected">Allowed</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group" id="form-element-3_22">
                            <label for="rules-3_22" class="optional">Player of Sub Affiliate Tournaments</label>

                            <select name="rules[3_22]" id="rules-3_22" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0">Not Allowed</option>
                                <option value="1" selected="selected">Allowed</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group" id="form-element-3_18">
                            <label for="rules-3_18" class="optional">Player Transactions</label>

                            <select name="rules[3_18]" id="rules-3_18" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0">Not Allowed</option>
                                <option value="1" selected="selected">Allowed</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group" id="form-element-3_23">
                            <label for="rules-3_23" class="optional">Player of Sub Affiliate Transactions</label>

                            <select name="rules[3_23]" id="rules-3_23" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0">Not Allowed</option>
                                <option value="1" selected="selected">Allowed</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group" id="form-element-3_19">
                            <label for="rules-3_19" class="optional">Player Games</label>

                            <select name="rules[3_19]" id="rules-3_19" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0">Not Allowed</option>
                                <option value="1" selected="selected">Allowed</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group" id="form-element-3_24">
                            <label for="rules-3_24" class="optional">Player of Sub Affiliate Games</label>

                            <select name="rules[3_24]" id="rules-3_24" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0">Not Allowed</option>
                                <option value="1" selected="selected">Allowed</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group" id="form-element-3_20">
                            <label for="rules-3_20" class="optional">Player Sessions</label>

                            <select name="rules[3_20]" id="rules-3_20" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0">Not Allowed</option>
                                <option value="1" selected="selected">Allowed</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group" id="form-element-3_25">
                            <label for="rules-3_25" class="optional">Player of Sub Affiliate Sessions</label>

                            <select name="rules[3_25]" id="rules-3_25" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0">Not Allowed</option>
                                <option value="1" selected="selected">Allowed</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group" id="form-element-3_21">
                            <label for="rules-3_21" class="optional">Player's Rakeback</label>

                            <select name="rules[3_21]" id="rules-3_21" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0">Not Allowed</option>
                                <option value="1" selected="selected">Allowed</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group" id="form-element-3_26">
                            <label for="rules-3_26" class="optional">Player's of Sub Affiliate Rakeback (Will be included to the Player's Rake Back Report)</label>

                            <select name="rules[3_26]" id="rules-3_26" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0">Not Allowed</option>
                                <option value="1" selected="selected">Allowed</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group" id="form-element-3_29">
                            <label for="rules-3_29" class="optional">Player's Report</label>

                            <select name="rules[3_29]" id="rules-3_29" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0">Not Allowed</option>
                                <option value="1" selected="selected">Allowed</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group" id="form-element-3_30">
                            <label for="rules-3_30" class="optional">Player's of Sub Affiliate Report (Will be included to the Player's Report)</label>

                            <select name="rules[3_30]" id="rules-3_30" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0">Not Allowed</option>
                                <option value="1" selected="selected">Allowed</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group" id="form-element-5_31">
                            <label for="rules-5_31" class="optional">Player Transaction List</label>

                            <select name="rules[5_31]" id="rules-5_31" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0">Not Allowed</option>
                                <option value="1" selected="selected">Allowed</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group" id="form-element-5_32">
                            <label for="rules-5_32" class="optional">Player of Sub Affiliate Transaction List (Will be included to the Player Transaction List Report)</label>

                            <select name="rules[5_32]" id="rules-5_32" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0">Not Allowed</option>
                                <option value="1" selected="selected">Allowed</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group" id="form-element-5_33">
                            <label for="rules-5_33" class="optional">Transfer Money From/To Player</label>

                            <select name="rules[5_33]" id="rules-5_33" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0" selected="selected">Not Allowed</option>
                                <option value="1">Allowed</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group" id="form-element-5_34">
                            <label for="rules-5_34" class="optional">Transfer Money From/To Player of Sub Affiliate (If Transfer Money From/To Player allowed)</label>

                            <select name="rules[5_34]" id="rules-5_34" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0">Not Allowed</option>
                                <option value="1" selected="selected">Allowed</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group" id="form-element-5_35">
                            <label for="rules-5_35" class="optional">Transfer Money From/To Affiliate</label>

                            <select name="rules[5_35]" id="rules-5_35" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0">Not Allowed</option>
                                <option value="1" selected="selected">Allowed</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group" id="form-element-7_1d7_2d7_7">
                            <label for="rules-7_1d7_2d7_7" class="optional">Bonus Code Creation</label>

                            <select name="rules[7_1d7_2d7_7]" id="rules-7_1d7_2d7_7" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0" selected="selected">Not Allowed</option>
                                <option value="1">Allowed</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group" id="form-element-7_42d11_7d11_46d12_47d8_43d8_7d8_44d8_1d8_2d13_48d9_43d9_7d9_44d9_1d9_2d10_7d10_1d10_2d10_16">
                            <label for="rules-7_42d11_7d11_46d12_47d8_43d8_7d8_44d8_1d8_2d13_48d9_43d9_7d9_44d9_1d9_2d10_7d10_1d10_2d10_16" class="optional">Bonus Program Creation</label>

                            <select name="rules[7_42d11_7d11_46d12_47d8_43d8_7d8_44d8_1d8_2d13_48d9_43d9_7d9_44d9_1d9_2d10_7d10_1d10_2d10_16]" id="rules-7_42d11_7d11_46d12_47d8_43d8_7d8_44d8_1d8_2d13_48d9_43d9_7d9_44d9_1d9_2d10_7d10_1d10_2d10_16" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0" selected="selected">Not Allowed</option>
                                <option value="1">Allowed</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group" id="form-element-17_7d17_1d17_2d18_44">
                            <label for="rules-17_7d17_1d17_2d18_44" class="optional">Banner Management</label>

                            <select name="rules[17_7d17_1d17_2d18_44]" id="rules-17_7d17_1d17_2d18_44" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0" selected="selected">Not Allowed</option>
                                <option value="1">Allowed</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group" id="form-element-3_63">
                            <label for="rules-3_63" class="optional">Player’s Insurance</label>

                            <select name="rules[3_63]" id="rules-3_63" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0">Not Allowed</option>
                                <option value="1" selected="selected">Allowed</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group" id="form-element-3_64">
                            <label for="rules-3_64" class="optional">Sub Affiliate Player’s Insurance</label>

                            <select name="rules[3_64]" id="rules-3_64" dojoType="dijit.form.Select" class="form-control select2">
                                <option value="0">Not Allowed</option>
                                <option value="1" selected="selected">Allowed</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <input type="submit" name="submit" id="submit" value="Add" class="btn btn-primary" />

    <button name="cancelButton" id="cancelButton" type="button" class="btn btn-default">Cancel</button>
    <script>
        formCancelButton.init('affiliate/affiliate/list', 'cancelButton');
    </script>
</form>
<div id="selectUserDialog" title="Please, select parent affiliate"
     class="modal" tabindex="-1" role="dialog"
     data-url="/webadmin/affiliate/affiliate/select">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div id="dynamicContent_modal"></div>
            </div>
        </div>
    </div>
    <div style="clear: both"></div>
</div>

<script>

    //----WORKING WITH PARENT affiliate SELECTION MODAL----------------------
    modals.init('selectUserDialog', listing.setup);
    //-------------------------------------------------------------

</script>
<script>
    //--------------------------
    configService.rateChangingAllowed = true;

    (function ($) {
        $(function () {
            configService.init(["insuranceRate", "insuranceThreshold", "predefinedRate"]);
        });
    })(jQuery);

    //---------------------------
</script>

