﻿
@{
    ViewBag.Title = "Affiliate Info";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Affiliate Info</h3>


<div class="row">
    <div class="col-xs-12" style="margin-bottom: 15px;">

        <a class="btn btn-primary" href="/webadmin/affiliate/listing/player-transactions/id/132725"><i class="purple-icon  purple-icon-transaction"></i> View Transactions</a>
        <a class="btn btn-primary" href="/webadmin/affiliate/listing/player-tables/id/132725"><i class="purple-icon  purple-icon-hearts"></i> View Games</a>
        <a class="btn btn-primary" href="/webadmin/affiliate/listing/player-tournaments/id/132725"><i class="purple-icon  purple-icon-winner"></i> View Tournaments</a>
        <a class="btn btn-primary" href="/webadmin/affiliate/listing/player-sessions/id/132725"><i class="purple-icon  purple-icon-clock"></i> View Sessions</a>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="box box-default">
            <div class="box-body" style="overflow-x: auto;">
                <table class="table table-bordered table-condensed table-striped">
                    <tr><th colspan="2">User info</th></tr>
                    <tr>
                        <th>ID</th>
                        <td>
                            132725
                        </td>
                    </tr>
                    <tr>
                        <th>Nickname</th>
                        <td>
                            YMN3CZBB
                        </td>
                    </tr>
                    <tr>
                        <th>Display Name</th>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>
                            YMN3CZBB@example.com
                        </td>
                    </tr>
                    <tr>
                        <th>User Level</th>
                        <td>
                            Player
                        </td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>
                            Phil
                        </td>
                    </tr>
                    <tr>
                        <th>Family name</th>
                        <td>
                            Ivey
                        </td>
                    </tr>
                    <tr>
                        <th>Middle name</th>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <th>Pre</th>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <th>Date of Birth</th>
                        <td>
                            -
                        </td>
                    </tr>
                    <tr>
                        <th>Gender</th>
                        <td>
                            M
                        </td>
                    </tr>
                    <tr>
                        <th>Phone</th>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <th>Phone Verified</th>
                        <td>
                            No
                        </td>
                    </tr>
                    <tr>
                        <th>2FA</th>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <th>Country</th>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <th>City</th>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <th>State</th>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <th>ZIP</th>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <th>Bonus code</th>
                        <td>
                            sasadfsda
                        </td>
                    </tr>
                    <tr>
                        <th>Referred by</th>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <th>Tag</th>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <th>Tag2</th>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <th>Pro player</th>
                        <td>
                            No
                        </td>
                    </tr>
                    <tr>
                        <th>Avatar</th>
                        <td>
                            0
                        </td>
                    </tr>
                    <tr>
                        <th>Registered</th>
                        <td>
                            2018/07/28 08:54:24
                        </td>
                    </tr>
                    <tr>
                        <th>Active</th>
                        <td>
                            Yes
                        </td>
                    </tr>
                    <tr>
                        <th>Activation code</th>
                        <td>
                            927B473E8EB8D5B0E89FBACB68556A93
                        </td>
                    </tr>
                    <tr>
                        <th>Blocked</th>
                        <td>
                            No
                        </td>
                    </tr>
                    <tr>
                        <th>Verified</th>
                        <td>
                            Yes
                        </td>
                    </tr>
                    <tr>
                        <th>Notification Language</th>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <th>Send Info Notification</th>
                        <td>
                            No
                        </td>
                    </tr>
                    <tr>
                        <th>Send System Notification</th>
                        <td>
                            No
                        </td>
                    </tr>
                    <tr>
                        <th>Balance</th>
                        <td>
                            <table class="table table-bordered table-striped table-condensed table-inner" id="Balance">
                                <thead>
                                    <tr>
                                        <th>Money type</th>
                                        <th>Balance</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <td>
                                            Real Money
                                        </td>
                                        <td>
                                            0.00
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Play Money
                                        </td>
                                        <td>
                                            0.00
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            cash game points
                                        </td>
                                        <td>
                                            0.00
                                        </td>
                                    </tr>

                                </tbody>
                            </table>


                        </td>
                    </tr>
                    <tr>
                        <th>Preferred Currency</th>
                        <td>
                            Real Money
                        </td>
                    </tr>
                    <tr>
                        <th>Internal deposit balance</th>
                        <td>
                            0.00
                        </td>
                    </tr>
                    <tr>
                        <th>Notes</th>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <th>Passport Number</th>
                        <td>
                            L6Z32NJ0F
                        </td>
                    </tr>
                    <tr><th colspan="2">Affiliate info</th></tr>
                    <tr>
                        <th>Parent affiliate</th>
                        <td>-</td>
                    </tr>
                    <tr>
                        <th>Affiliate Level</th>
                        <td>1</td>
                    </tr>
                    <tr>
                        <th>Rate</th>
                        <td>0%</td>
                    </tr>
                    <tr>
                        <th>URL</th>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

