﻿
@{
    ViewBag.Title = "Affiliate List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Affiliate List <a href="Admin/Affiliate/List" target="_blank"><sup><i class="fa fa-question-circle"></i></sup></a></h3>
<div class="box">
    <div class="box-body">
        <table class="listing-table" id="affiliate-list">
            <thead class="listHead">
                <tr>
                    <th>Actions</th>
                    <th>Nick</th>
                    <th>First Name</th>
                    <th>Second Name</th>
                    <th>Registration Date</th>
                    <th>Active</th>
                    <th>Level</th>
                    <th>Rate</th>
                    <th>Balance</th>
                    <th>Insurance Rate</th>
                    <th>Insurance Distribution Threshold</th>
                    <th>Players</th>
                    <th>Bonus code</th>
                    <th>Count of affiliates</th>
                </tr>
                <tr class="listFilter">
                    <th>
                        <button name="butFilter" id="butFilter" type="button">Apply Filter</button>
                        <button name="butReset" id="butReset" type="button">Reset Filter</button>
                    </th>
                    <th>
                        <input type="text" name="nick" id="nick" value="" size="15" maxlength="100" class="filter" />
                    </th>
                    <th>
                        <input type="text" name="name" id="name" value="" size="15" maxlength="100" class="filter" />
                    </th>
                    <th>
                        <input type="text" name="familyName" id="familyName" value="" size="15" maxlength="100" class="filter" />
                    </th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>

                </tr>
            </thead>
            <tbody id="dynamicContent">

                <tr parent="affiliate-" id="affiliate-132725">

                    <td class="text-center">
                        <div class="dropdown">
                            <button class="btn btn-transparent no-border no-padding dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-bars"></i>
                            </button>
                            <div class="dropdown-menu table-dropdown">
                                <a class="dropdown-item" href="/webadmin/affiliate/affiliate/edit/id/132725">
                                    <div class="edit" id="edit-132725" title="Edit affiliate"></div>Edit affiliate
                                </a>
                                <a class="dropdown-item" href="/webadmin/affiliate/affiliate/info/id/132725">
                                    <div class="view" id="view-132725" title="View affiliate"></div>View affiliate
                                </a>
                                <a class="dropdown-item" href="/webadmin/affiliate/affiliate/players/affiliateId/132725">
                                    <div class="players" id="players-132725" title="View players"></div>View players
                                </a>
                                <a class="dropdown-item" href="javascript:affiliateStatus.remove(132725);">
                                    <div class="del" id="delete-132725" title="Delete affiliate"></div>Delete affiliate
                                </a>
                            </div>
                        </div>
                    </td>

                    <td><a href='#' class="openChildren" unpinned affiliateId="132725"><img src="img/content/collapsed.png" border="0" /></a> YMN3CZBB</td>
                    <td>Phil</td>
                    <td>Ivey</td>
                    <td><div style="width: 200px">2018/07/28 08:54:24</div></td>
                    <td>Yes</td>
                    <td>1</td>
                    <td>0%</td>
                    <td>0.00</td>
                    <td>0%</td>
                    <td>0</td>
                    <td>0</td>
                    <td>sasadfsda</td>
                    <td>0</td>
                </tr>
                <tr parent="affiliate-" id="affiliate-2192963">

                    <td class="text-center">
                        <div class="dropdown">
                            <button class="btn btn-transparent no-border no-padding dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-bars"></i>
                            </button>
                            <div class="dropdown-menu table-dropdown">
                                <a class="dropdown-item" href="/webadmin/affiliate/affiliate/edit/id/2192963">
                                    <div class="edit" id="edit-2192963" title="Edit affiliate"></div>Edit affiliate
                                </a>
                                <a class="dropdown-item" href="/webadmin/affiliate/affiliate/info/id/2192963">
                                    <div class="view" id="view-2192963" title="View affiliate"></div>View affiliate
                                </a>
                                <a class="dropdown-item" href="/webadmin/affiliate/affiliate/players/affiliateId/2192963">
                                    <div class="players" id="players-2192963" title="View players"></div>View players
                                </a>
                                <a class="dropdown-item" href="javascript:affiliateStatus.remove(2192963);">
                                    <div class="del" id="delete-2192963" title="Delete affiliate"></div>Delete affiliate
                                </a>
                            </div>
                        </div>
                    </td>

                    <td><a href='#' class="openChildren" unpinned affiliateId="2192963"><img src="img/content/collapsed.png" border="0" /></a> 77VY5GG</td>
                    <td>Phil</td>
                    <td>Ivey</td>
                    <td><div style="width: 200px">2019/07/13 20:48:52</div></td>
                    <td>Yes</td>
                    <td>1</td>
                    <td>50%</td>
                    <td>58.05</td>
                    <td>0%</td>
                    <td>0</td>
                    <td>0</td>
                    <td>onetime2019</td>
                    <td>0</td>
                </tr>
                <tr parent="affiliate-" id="affiliate-2193023">

                    <td class="text-center">
                        <div class="dropdown">
                            <button class="btn btn-transparent no-border no-padding dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-bars"></i>
                            </button>
                            <div class="dropdown-menu table-dropdown">
                                <a class="dropdown-item" href="/webadmin/affiliate/affiliate/edit/id/2193023">
                                    <div class="edit" id="edit-2193023" title="Edit affiliate"></div>Edit affiliate
                                </a>
                                <a class="dropdown-item" href="/webadmin/affiliate/affiliate/info/id/2193023">
                                    <div class="view" id="view-2193023" title="View affiliate"></div>View affiliate
                                </a>
                                <a class="dropdown-item" href="/webadmin/affiliate/affiliate/players/affiliateId/2193023">
                                    <div class="players" id="players-2193023" title="View players"></div>View players
                                </a>
                                <a class="dropdown-item" href="javascript:affiliateStatus.remove(2193023);">
                                    <div class="del" id="delete-2193023" title="Delete affiliate"></div>Delete affiliate
                                </a>
                            </div>
                        </div>
                    </td>

                    <td><a href='#' class="openChildren" unpinned affiliateId="2193023"><img src="img/content/collapsed.png" border="0" /></a> NEV3E400</td>
                    <td>Phil</td>
                    <td>Ivey</td>
                    <td><div style="width: 200px">2019/07/13 21:00:06</div></td>
                    <td>Yes</td>
                    <td>1</td>
                    <td>0%</td>
                    <td>0.00</td>
                    <td>0%</td>
                    <td>0</td>
                    <td>0</td>
                    <td>NoCode0</td>
                    <td>0</td>
                </tr>
                <tr parent="affiliate-" id="affiliate-2193119">

                    <td class="text-center">
                        <div class="dropdown">
                            <button class="btn btn-transparent no-border no-padding dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-bars"></i>
                            </button>
                            <div class="dropdown-menu table-dropdown">
                                <a class="dropdown-item" href="/webadmin/affiliate/affiliate/edit/id/2193119">
                                    <div class="edit" id="edit-2193119" title="Edit affiliate"></div>Edit affiliate
                                </a>
                                <a class="dropdown-item" href="/webadmin/affiliate/affiliate/info/id/2193119">
                                    <div class="view" id="view-2193119" title="View affiliate"></div>View affiliate
                                </a>
                                <a class="dropdown-item" href="/webadmin/affiliate/affiliate/players/affiliateId/2193119">
                                    <div class="players" id="players-2193119" title="View players"></div>View players
                                </a>
                                <a class="dropdown-item" href="javascript:affiliateStatus.remove(2193119);">
                                    <div class="del" id="delete-2193119" title="Delete affiliate"></div>Delete affiliate
                                </a>
                            </div>
                        </div>
                    </td>

                    <td><a href='#' class="openChildren" unpinned affiliateId="2193119"><img src="img/content/collapsed.png" border="0" /></a> FO43LI33</td>
                    <td>Phil</td>
                    <td>Ivey</td>
                    <td><div style="width: 200px">2019/07/13 21:20:12</div></td>
                    <td>Yes</td>
                    <td>1</td>
                    <td>10%</td>
                    <td>31.88</td>
                    <td>0%</td>
                    <td>0</td>
                    <td>7</td>
                    <td>NoCode10</td>
                    <td>0</td>
                </tr>
                <tr parent="affiliate-" id="affiliate-2199183">

                    <td class="text-center">
                        <div class="dropdown">
                            <button class="btn btn-transparent no-border no-padding dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-bars"></i>
                            </button>
                            <div class="dropdown-menu table-dropdown">
                                <a class="dropdown-item" href="/webadmin/affiliate/affiliate/edit/id/2199183">
                                    <div class="edit" id="edit-2199183" title="Edit affiliate"></div>Edit affiliate
                                </a>
                                <a class="dropdown-item" href="/webadmin/affiliate/affiliate/info/id/2199183">
                                    <div class="view" id="view-2199183" title="View affiliate"></div>View affiliate
                                </a>
                                <a class="dropdown-item" href="/webadmin/affiliate/affiliate/players/affiliateId/2199183">
                                    <div class="players" id="players-2199183" title="View players"></div>View players
                                </a>
                                <a class="dropdown-item" href="javascript:affiliateStatus.remove(2199183);">
                                    <div class="del" id="delete-2199183" title="Delete affiliate"></div>Delete affiliate
                                </a>
                            </div>
                        </div>
                    </td>

                    <td><a href='#' class="openChildren" unpinned affiliateId="2199183"><img src="img/content/collapsed.png" border="0" /></a> 789CYA44</td>
                    <td>Phil</td>
                    <td>Ivey</td>
                    <td><div style="width: 200px">2019/07/14 09:14:59</div></td>
                    <td>Yes</td>
                    <td>1</td>
                    <td>20%</td>
                    <td>171.15</td>
                    <td>0%</td>
                    <td>0</td>
                    <td>9</td>
                    <td>NoCode20</td>
                    <td>0</td>
                </tr>
                <tr parent="affiliate-" id="affiliate-2199198">

                    <td class="text-center">
                        <div class="dropdown">
                            <button class="btn btn-transparent no-border no-padding dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-bars"></i>
                            </button>
                            <div class="dropdown-menu table-dropdown">
                                <a class="dropdown-item" href="/webadmin/affiliate/affiliate/edit/id/2199198">
                                    <div class="edit" id="edit-2199198" title="Edit affiliate"></div>Edit affiliate
                                </a>
                                <a class="dropdown-item" href="/webadmin/affiliate/affiliate/info/id/2199198">
                                    <div class="view" id="view-2199198" title="View affiliate"></div>View affiliate
                                </a>
                                <a class="dropdown-item" href="/webadmin/affiliate/affiliate/players/affiliateId/2199198">
                                    <div class="players" id="players-2199198" title="View players"></div>View players
                                </a>
                                <a class="dropdown-item" href="javascript:affiliateStatus.remove(2199198);">
                                    <div class="del" id="delete-2199198" title="Delete affiliate"></div>Delete affiliate
                                </a>
                            </div>
                        </div>
                    </td>

                    <td><a href='#' class="openChildren" unpinned affiliateId="2199198"><img src="img/content/collapsed.png" border="0" /></a> E30TSH</td>
                    <td>Phil</td>
                    <td>Ivey</td>
                    <td><div style="width: 200px">2019/07/14 09:16:38</div></td>
                    <td>Yes</td>
                    <td>1</td>
                    <td>30%</td>
                    <td>53.70</td>
                    <td>0%</td>
                    <td>0</td>
                    <td>7</td>
                    <td>NoCode30</td>
                    <td>0</td>
                </tr>
                <tr parent="affiliate-" id="affiliate-2199213">

                    <td class="text-center">
                        <div class="dropdown">
                            <button class="btn btn-transparent no-border no-padding dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-bars"></i>
                            </button>
                            <div class="dropdown-menu table-dropdown">
                                <a class="dropdown-item" href="/webadmin/affiliate/affiliate/edit/id/2199213">
                                    <div class="edit" id="edit-2199213" title="Edit affiliate"></div>Edit affiliate
                                </a>
                                <a class="dropdown-item" href="/webadmin/affiliate/affiliate/info/id/2199213">
                                    <div class="view" id="view-2199213" title="View affiliate"></div>View affiliate
                                </a>
                                <a class="dropdown-item" href="/webadmin/affiliate/affiliate/players/affiliateId/2199213">
                                    <div class="players" id="players-2199213" title="View players"></div>View players
                                </a>
                                <a class="dropdown-item" href="javascript:affiliateStatus.remove(2199213);">
                                    <div class="del" id="delete-2199213" title="Delete affiliate"></div>Delete affiliate
                                </a>
                            </div>
                        </div>
                    </td>

                    <td><a href='#' class="openChildren" unpinned affiliateId="2199213"><img src="img/content/collapsed.png" border="0" /></a> HL54T8UU</td>
                    <td>Phil</td>
                    <td>Ivey</td>
                    <td><div style="width: 200px">2019/07/14 09:18:28</div></td>
                    <td>Yes</td>
                    <td>1</td>
                    <td>40%</td>
                    <td>0.00</td>
                    <td>0%</td>
                    <td>0</td>
                    <td>0</td>
                    <td>NoCode40</td>
                    <td>0</td>
                </tr>
                <tr parent="affiliate-" id="affiliate-2199224">

                    <td class="text-center">
                        <div class="dropdown">
                            <button class="btn btn-transparent no-border no-padding dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-bars"></i>
                            </button>
                            <div class="dropdown-menu table-dropdown">
                                <a class="dropdown-item" href="/webadmin/affiliate/affiliate/edit/id/2199224">
                                    <div class="edit" id="edit-2199224" title="Edit affiliate"></div>Edit affiliate
                                </a>
                                <a class="dropdown-item" href="/webadmin/affiliate/affiliate/info/id/2199224">
                                    <div class="view" id="view-2199224" title="View affiliate"></div>View affiliate
                                </a>
                                <a class="dropdown-item" href="/webadmin/affiliate/affiliate/players/affiliateId/2199224">
                                    <div class="players" id="players-2199224" title="View players"></div>View players
                                </a>
                                <a class="dropdown-item" href="javascript:affiliateStatus.remove(2199224);">
                                    <div class="del" id="delete-2199224" title="Delete affiliate"></div>Delete affiliate
                                </a>
                            </div>
                        </div>
                    </td>

                    <td><a href='#' class="openChildren" unpinned affiliateId="2199224"><img src="img/content/collapsed.png" border="0" /></a> CZ409PZZ</td>
                    <td>Phil</td>
                    <td>Ivey</td>
                    <td><div style="width: 200px">2019/07/14 09:19:37</div></td>
                    <td>Yes</td>
                    <td>1</td>
                    <td>50%</td>
                    <td>181.78</td>
                    <td>0%</td>
                    <td>0</td>
                    <td>124</td>
                    <td>NoCode50</td>
                    <td>0</td>
                </tr>
                <tr parent="affiliate-" id="affiliate-2215220">

                    <td class="text-center">
                        <div class="dropdown">
                            <button class="btn btn-transparent no-border no-padding dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-bars"></i>
                            </button>
                            <div class="dropdown-menu table-dropdown">
                                <a class="dropdown-item" href="/webadmin/affiliate/affiliate/edit/id/2215220">
                                    <div class="edit" id="edit-2215220" title="Edit affiliate"></div>Edit affiliate
                                </a>
                                <a class="dropdown-item" href="/webadmin/affiliate/affiliate/info/id/2215220">
                                    <div class="view" id="view-2215220" title="View affiliate"></div>View affiliate
                                </a>
                                <a class="dropdown-item" href="/webadmin/affiliate/affiliate/players/affiliateId/2215220">
                                    <div class="players" id="players-2215220" title="View players"></div>View players
                                </a>
                                <a class="dropdown-item" href="javascript:affiliateStatus.remove(2215220);">
                                    <div class="del" id="delete-2215220" title="Delete affiliate"></div>Delete affiliate
                                </a>
                            </div>
                        </div>
                    </td>

                    <td><a href='#' class="openChildren" unpinned affiliateId="2215220"><img src="img/content/collapsed.png" border="0" /></a> KUDQZ6HH</td>
                    <td>Phil</td>
                    <td>Ivey</td>
                    <td><div style="width: 200px">2019/07/16 17:04:22</div></td>
                    <td>Yes</td>
                    <td>1</td>
                    <td>20%</td>
                    <td>138.91</td>
                    <td>0%</td>
                    <td>0</td>
                    <td>0</td>
                    <td>NoCodeSub</td>
                    <td>5</td>
                </tr>
                <tr parent="affiliate-" id="affiliate-2434050">

                    <td class="text-center">
                        <div class="dropdown">
                            <button class="btn btn-transparent no-border no-padding dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-bars"></i>
                            </button>
                            <div class="dropdown-menu table-dropdown">
                                <a class="dropdown-item" href="/webadmin/affiliate/affiliate/edit/id/2434050">
                                    <div class="edit" id="edit-2434050" title="Edit affiliate"></div>Edit affiliate
                                </a>
                                <a class="dropdown-item" href="/webadmin/affiliate/affiliate/info/id/2434050">
                                    <div class="view" id="view-2434050" title="View affiliate"></div>View affiliate
                                </a>
                                <a class="dropdown-item" href="/webadmin/affiliate/affiliate/players/affiliateId/2434050">
                                    <div class="players" id="players-2434050" title="View players"></div>View players
                                </a>
                                <a class="dropdown-item" href="javascript:affiliateStatus.remove(2434050);">
                                    <div class="del" id="delete-2434050" title="Delete affiliate"></div>Delete affiliate
                                </a>
                            </div>
                        </div>
                    </td>

                    <td><a href='#' class="openChildren" unpinned affiliateId="2434050"><img src="img/content/collapsed.png" border="0" /></a> 2TCAJOPP</td>
                    <td>Phil</td>
                    <td>Ivey</td>
                    <td><div style="width: 200px">2019/08/09 12:19:29</div></td>
                    <td>Yes</td>
                    <td>1</td>
                    <td>30%</td>
                    <td>13.14</td>
                    <td>0%</td>
                    <td>0</td>
                    <td>5</td>
                    <td>crypto2019</td>
                    <td>0</td>
                </tr>
                <tr parent="affiliate-" id="affiliate-3869385">

                    <td class="text-center">
                        <div class="dropdown">
                            <button class="btn btn-transparent no-border no-padding dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-bars"></i>
                            </button>
                            <div class="dropdown-menu table-dropdown">
                                <a class="dropdown-item" href="/webadmin/affiliate/affiliate/edit/id/3869385">
                                    <div class="edit" id="edit-3869385" title="Edit affiliate"></div>Edit affiliate
                                </a>
                                <a class="dropdown-item" href="/webadmin/affiliate/affiliate/info/id/3869385">
                                    <div class="view" id="view-3869385" title="View affiliate"></div>View affiliate
                                </a>
                                <a class="dropdown-item" href="/webadmin/affiliate/affiliate/players/affiliateId/3869385">
                                    <div class="players" id="players-3869385" title="View players"></div>View players
                                </a>
                                <a class="dropdown-item" href="javascript:affiliateStatus.remove(3869385);">
                                    <div class="del" id="delete-3869385" title="Delete affiliate"></div>Delete affiliate
                                </a>
                            </div>
                        </div>
                    </td>

                    <td><a href='#' class="openChildren" unpinned affiliateId="3869385"><img src="img/content/collapsed.png" border="0" /></a> CGW7UFTT</td>
                    <td>Phil</td>
                    <td>Ivey</td>
                    <td><div style="width: 200px">2019/11/04 13:16:10</div></td>
                    <td>Yes</td>
                    <td>1</td>
                    <td>50%</td>
                    <td>33.85</td>
                    <td>0%</td>
                    <td>0</td>
                    <td>2</td>
                    <td>fatalgaming2019</td>
                    <td>0</td>
                </tr>
                <tr parent="affiliate-" id="affiliate-3910883">

                    <td class="text-center">
                        <div class="dropdown">
                            <button class="btn btn-transparent no-border no-padding dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-bars"></i>
                            </button>
                            <div class="dropdown-menu table-dropdown">
                                <a class="dropdown-item" href="/webadmin/affiliate/affiliate/edit/id/3910883">
                                    <div class="edit" id="edit-3910883" title="Edit affiliate"></div>Edit affiliate
                                </a>
                                <a class="dropdown-item" href="/webadmin/affiliate/affiliate/info/id/3910883">
                                    <div class="view" id="view-3910883" title="View affiliate"></div>View affiliate
                                </a>
                                <a class="dropdown-item" href="/webadmin/affiliate/affiliate/players/affiliateId/3910883">
                                    <div class="players" id="players-3910883" title="View players"></div>View players
                                </a>
                                <a class="dropdown-item" href="javascript:affiliateStatus.remove(3910883);">
                                    <div class="del" id="delete-3910883" title="Delete affiliate"></div>Delete affiliate
                                </a>
                            </div>
                        </div>
                    </td>

                    <td><a href='#' class="openChildren" unpinned affiliateId="3910883"><img src="img/content/collapsed.png" border="0" /></a> HYKLYREE</td>
                    <td>Phil</td>
                    <td>Ivey</td>
                    <td><div style="width: 200px">2019/11/08 14:04:17</div></td>
                    <td>Yes</td>
                    <td>1</td>
                    <td>20%</td>
                    <td>7.19</td>
                    <td>0%</td>
                    <td>0</td>
                    <td>7</td>
                    <td>TEAMGRINDERS</td>
                    <td>1</td>
                </tr>
                <tr parent="affiliate-" id="affiliate-3958780">

                    <td class="text-center">
                        <div class="dropdown">
                            <button class="btn btn-transparent no-border no-padding dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-bars"></i>
                            </button>
                            <div class="dropdown-menu table-dropdown">
                                <a class="dropdown-item" href="/webadmin/affiliate/affiliate/edit/id/3958780">
                                    <div class="edit" id="edit-3958780" title="Edit affiliate"></div>Edit affiliate
                                </a>
                                <a class="dropdown-item" href="/webadmin/affiliate/affiliate/info/id/3958780">
                                    <div class="view" id="view-3958780" title="View affiliate"></div>View affiliate
                                </a>
                                <a class="dropdown-item" href="/webadmin/affiliate/affiliate/players/affiliateId/3958780">
                                    <div class="players" id="players-3958780" title="View players"></div>View players
                                </a>
                                <a class="dropdown-item" href="javascript:affiliateStatus.remove(3958780);">
                                    <div class="del" id="delete-3958780" title="Delete affiliate"></div>Delete affiliate
                                </a>
                            </div>
                        </div>
                    </td>

                    <td><a href='#' class="openChildren" unpinned affiliateId="3958780"><img src="img/content/collapsed.png" border="0" /></a> 040RPRMM</td>
                    <td>Phil</td>
                    <td>Ivey</td>
                    <td><div style="width: 200px">2019/11/11 20:50:57</div></td>
                    <td>Yes</td>
                    <td>1</td>
                    <td>20%</td>
                    <td>0.00</td>
                    <td>0%</td>
                    <td>0</td>
                    <td>0</td>
                    <td>hector2019</td>
                    <td>0</td>
                </tr>
                <tr parent="affiliate-" id="affiliate-4245677">

                    <td class="text-center">
                        <div class="dropdown">
                            <button class="btn btn-transparent no-border no-padding dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-bars"></i>
                            </button>
                            <div class="dropdown-menu table-dropdown">
                                <a class="dropdown-item" href="/webadmin/affiliate/affiliate/edit/id/4245677">
                                    <div class="edit" id="edit-4245677" title="Edit affiliate"></div>Edit affiliate
                                </a>
                                <a class="dropdown-item" href="/webadmin/affiliate/affiliate/info/id/4245677">
                                    <div class="view" id="view-4245677" title="View affiliate"></div>View affiliate
                                </a>
                                <a class="dropdown-item" href="/webadmin/affiliate/affiliate/players/affiliateId/4245677">
                                    <div class="players" id="players-4245677" title="View players"></div>View players
                                </a>
                                <a class="dropdown-item" href="javascript:affiliateStatus.remove(4245677);">
                                    <div class="del" id="delete-4245677" title="Delete affiliate"></div>Delete affiliate
                                </a>
                            </div>
                        </div>
                    </td>

                    <td><a href='#' class="openChildren" unpinned affiliateId="4245677"><img src="img/content/collapsed.png" border="0" /></a> KR7CKEWW</td>
                    <td>Phil</td>
                    <td>Ivey</td>
                    <td><div style="width: 200px">2019/12/08 19:24:30</div></td>
                    <td>Yes</td>
                    <td>1</td>
                    <td>20%</td>
                    <td>2.56</td>
                    <td>0%</td>
                    <td>0</td>
                    <td>0</td>
                    <td>SharkzDenSUB</td>
                    <td>3</td>
                </tr>
                <tr parent="affiliate-" id="affiliate-4576445">

                    <td class="text-center">
                        <div class="dropdown">
                            <button class="btn btn-transparent no-border no-padding dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-bars"></i>
                            </button>
                            <div class="dropdown-menu table-dropdown">
                                <a class="dropdown-item" href="/webadmin/affiliate/affiliate/edit/id/4576445">
                                    <div class="edit" id="edit-4576445" title="Edit affiliate"></div>Edit affiliate
                                </a>
                                <a class="dropdown-item" href="/webadmin/affiliate/affiliate/info/id/4576445">
                                    <div class="view" id="view-4576445" title="View affiliate"></div>View affiliate
                                </a>
                                <a class="dropdown-item" href="/webadmin/affiliate/affiliate/players/affiliateId/4576445">
                                    <div class="players" id="players-4576445" title="View players"></div>View players
                                </a>
                                <a class="dropdown-item" href="javascript:affiliateStatus.remove(4576445);">
                                    <div class="del" id="delete-4576445" title="Delete affiliate"></div>Delete affiliate
                                </a>
                            </div>
                        </div>
                    </td>

                    <td><a href='#' class="openChildren" unpinned affiliateId="4576445"><img src="img/content/collapsed.png" border="0" /></a> ECTKJQLL</td>
                    <td>Phil</td>
                    <td>Ivey</td>
                    <td><div style="width: 200px">2020/02/22 10:34:15</div></td>
                    <td>Yes</td>
                    <td>1</td>
                    <td>20%</td>
                    <td>3.71</td>
                    <td>0%</td>
                    <td>0</td>
                    <td>2</td>
                    <td>binkhouse</td>
                    <td>0</td>
                </tr>
                <tr parent="affiliate-" id="affiliate-5126926">

                    <td class="text-center">
                        <div class="dropdown">
                            <button class="btn btn-transparent no-border no-padding dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-bars"></i>
                            </button>
                            <div class="dropdown-menu table-dropdown">
                                <a class="dropdown-item" href="/webadmin/affiliate/affiliate/edit/id/5126926">
                                    <div class="edit" id="edit-5126926" title="Edit affiliate"></div>Edit affiliate
                                </a>
                                <a class="dropdown-item" href="/webadmin/affiliate/affiliate/info/id/5126926">
                                    <div class="view" id="view-5126926" title="View affiliate"></div>View affiliate
                                </a>
                                <a class="dropdown-item" href="/webadmin/affiliate/affiliate/players/affiliateId/5126926">
                                    <div class="players" id="players-5126926" title="View players"></div>View players
                                </a>
                                <a class="dropdown-item" href="javascript:affiliateStatus.remove(5126926);">
                                    <div class="del" id="delete-5126926" title="Delete affiliate"></div>Delete affiliate
                                </a>
                            </div>
                        </div>
                    </td>

                    <td><a href='#' class="openChildren" unpinned affiliateId="5126926"><img src="img/content/collapsed.png" border="0" /></a> KateAff</td>
                    <td></td>
                    <td></td>
                    <td><div style="width: 200px">2020/02/26 13:39:07</div></td>
                    <td>No</td>
                    <td>1</td>
                    <td>50%</td>
                    <td>0.00</td>
                    <td>0%</td>
                    <td>0</td>
                    <td>3</td>
                    <td>test12</td>
                    <td>0</td>
                </tr>

            </tbody>

        </table>
    </div>
</div>

