﻿
@{
    ViewBag.Title = "All Tables ChatList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>All Tables Chat</h3>
<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            <label for="updateAllTablesChat">Updating</label>
            <select id="updateAllTablesChat" name="update" class="form-control">
                <option value="0" selected>Off</option>
                <option value="5">5 sec</option>
                <option value="15">15 sec</option>
                <option value="30">30 sec</option>
                <option value="60">1 min</option>
                <option value="180">3 min</option>
            </select>
        </div>
    </div>
</div>

<div class="box">
    <div class="box-body" id="allTablesChat" style="height: 70vh; overflow-y: scroll;">
        <div>
            [2020-02-01 06:12:39] - [The Big Freeze [Re-entry] / The Big Freeze [Re-entry] ] - <a href="/webadmin/user/info/id/2239228">5VJ052BB (2239228)</a>: gg
        </div>
        <div>
            [2020-02-01 06:12:36] - [The Big Freeze [Re-entry] / The Big Freeze [Re-entry] ] - <a href="/webadmin/user/info/id/4280933">HHQDBJJ (4280933)</a>: gg guys!
        </div>
        <div>
            [2020-02-01 06:11:18] - [The Big Freeze [Re-entry] / The Big Freeze [Re-entry] ] - <a href="/webadmin/user/info/id/4280933">HHQDBJJ (4280933)</a>: uh ooooo
        </div>
        <div>
            [2020-02-01 06:11:14] - [The Big Freeze [Re-entry] / The Big Freeze [Re-entry] ] - <a href="/webadmin/user/info/id/2530487">RL567X33 (2530487)</a>: fgg
        </div>
        <div>
            [2020-02-01 06:11:10] - [The Big Freeze [Re-entry] / The Big Freeze [Re-entry] ] - <a href="/webadmin/user/info/id/2239228">5VJ052BB (2239228)</a>: nh
        </div>
        <div>
            [2020-02-01 06:09:21] - [The Big Freeze [Re-entry] / The Big Freeze [Re-entry] ] - <a href="/webadmin/user/info/id/2530487">RL567X33 (2530487)</a>: maybe
        </div>
        <div>
            [2020-02-01 06:09:17] - [The Big Freeze [Re-entry] / The Big Freeze [Re-entry] ] - <a href="/webadmin/user/info/id/4280933">HHQDBJJ (4280933)</a>: tbls have turned
        </div>
        <div>
            [2020-02-01 06:08:40] - [The Big Freeze [Re-entry] / The Big Freeze [Re-entry] ] - <a href="/webadmin/user/info/id/2230562">7PK4WJ99 (2230562)</a>: bushy, we need to teach you how to stream
        </div>
        <div>
            [2020-02-01 06:08:08] - [The Big Freeze [Re-entry] / The Big Freeze [Re-entry] ] - <a href="/webadmin/user/info/id/2230562">7PK4WJ99 (2230562)</a>: LOL
        </div>
        <div>
            [2020-02-01 06:07:56] - [The Big Freeze [Re-entry] / The Big Freeze [Re-entry] ] - <a href="/webadmin/user/info/id/2239228">5VJ052BB (2239228)</a>: no but still his fault
        </div>
        <div>
            [2020-02-01 06:07:45] - [The Big Freeze [Re-entry] / The Big Freeze [Re-entry] ] - <a href="/webadmin/user/info/id/2230562">7PK4WJ99 (2230562)</a>: is he awake?
        </div>
        <div>
            [2020-02-01 06:07:28] - [The Big Freeze [Re-entry] / The Big Freeze [Re-entry] ] - <a href="/webadmin/user/info/id/2239228">5VJ052BB (2239228)</a>: or flops
        </div>
        <div>
            [2020-02-01 06:07:20] - [The Big Freeze [Re-entry] / The Big Freeze [Re-entry] ] - <a href="/webadmin/user/info/id/2230562">7PK4WJ99 (2230562)</a>: always
        </div>
        <div>
            [2020-02-01 06:06:53] - [The Big Freeze [Re-entry] / The Big Freeze [Re-entry] ] - <a href="/webadmin/user/info/id/4280933">HHQDBJJ (4280933)</a>: so if u lose AMBUSH, its surfs fault lol
        </div>
        <div>
            [2020-02-01 06:06:42] - [The Big Freeze [Re-entry] / The Big Freeze [Re-entry] ] - <a href="/webadmin/user/info/id/2239228">5VJ052BB (2239228)</a>: fixed now lol
        </div>
        <div>
            [2020-02-01 06:06:37] - [The Big Freeze [Re-entry] / The Big Freeze [Re-entry] ] - <a href="/webadmin/user/info/id/2230562">7PK4WJ99 (2230562)</a>: https://www.twitch.tv/surfman101
        </div>
        <div>
            [2020-02-01 06:06:32] - [The Big Freeze [Re-entry] / The Big Freeze [Re-entry] ] - <a href="/webadmin/user/info/id/2239228">5VJ052BB (2239228)</a>: no small emergancy
        </div>
        <div>
            [2020-02-01 06:06:29] - [The Big Freeze [Re-entry] / The Big Freeze [Re-entry] ] - <a href="/webadmin/user/info/id/2230562">7PK4WJ99 (2230562)</a>: I woke him up
        </div>
        <div>
            [2020-02-01 06:06:10] - [The Big Freeze [Re-entry] / The Big Freeze [Re-entry] ] - <a href="/webadmin/user/info/id/2530487">RL567X33 (2530487)</a>: u doze off?
        </div>
        <div>
            [2020-02-01 06:05:01] - [The Big Freeze [Re-entry] / The Big Freeze [Re-entry] ] - <a href="/webadmin/user/info/id/4280933">HHQDBJJ (4280933)</a>: talk bout a gimmie game!
        </div>
        <div>
            [2020-02-01 06:03:05] - [The Big Freeze [Re-entry] / The Big Freeze [Re-entry] ] - <a href="/webadmin/user/info/id/2530487">RL567X33 (2530487)</a>: gg
        </div>
        <div>
            [2020-02-01 06:02:39] - [The Big Freeze [Re-entry] / The Big Freeze [Re-entry] ] - <a href="/webadmin/user/info/id/4280933">HHQDBJJ (4280933)</a>: gg
        </div>
        <div>
            [2020-02-01 06:00:50] - [Andorra #1] - <a href="/webadmin/user/info/id/4280933">HHQDBJJ (4280933)</a>: ur fine
        </div>
        <div>
            [2020-02-01 06:00:42] - [Andorra #1] - <a href="/webadmin/user/info/id/4090957">ZZ949988 (4090957)</a>: sorry i broke up the game
        </div>
        <div>
            [2020-02-01 06:00:14] - [Andorra #1] - <a href="/webadmin/user/info/id/4280933">HHQDBJJ (4280933)</a>: woulda been horrible if a S hit
        </div>
        <div>
            [2020-02-01 05:59:46] - [Andorra #1] - <a href="/webadmin/user/info/id/4090957">ZZ949988 (4090957)</a>: jk
        </div>
        <div>
            [2020-02-01 05:59:40] - [Andorra #1] - <a href="/webadmin/user/info/id/4280933">HHQDBJJ (4280933)</a>: lol nah
        </div>
        <div>
            [2020-02-01 05:59:26] - [Andorra #1] - <a href="/webadmin/user/info/id/4090957">ZZ949988 (4090957)</a>: meatball you sound skeered
        </div>
        <div>
            [2020-02-01 05:59:11] - [Andorra #1] - <a href="/webadmin/user/info/id/4090957">ZZ949988 (4090957)</a>: ok\
        </div>
        <div>
            [2020-02-01 05:58:59] - [Andorra #1] - <a href="/webadmin/user/info/id/4280933">HHQDBJJ (4280933)</a>: not ne more
        </div>
        <div>
            [2020-02-01 05:58:53] - [Andorra #1] - <a href="/webadmin/user/info/id/2151677">5SFTHDLL (2151677)</a>: no
        </div>
        <div>
            [2020-02-01 05:58:44] - [Andorra #1] - <a href="/webadmin/user/info/id/4090957">ZZ949988 (4090957)</a>: this just heads up?
        </div>
        <div>
            [2020-02-01 05:58:17] - [Andorra #1] - <a href="/webadmin/user/info/id/4280933">HHQDBJJ (4280933)</a>: hey sweet
        </div>
        <div>
            [2020-02-01 05:47:57] - [The Sheep Highway [Step] [Freeroll] / The Sheep Highway [Step] [Freeroll] ] - <a href="/webadmin/user/info/id/2124422">LOGVD000 (2124422)</a>: gg
        </div>
        <div>
            [2020-02-01 05:47:18] - [The Sheep Highway [Step] [Freeroll] / The Sheep Highway [Step] [Freeroll] ] - <a href="/webadmin/user/info/id/2124422">LOGVD000 (2124422)</a>: nh
        </div>
        <div>
            [2020-02-01 05:46:33] - [The Sheep Highway [Step] [Freeroll] / The Sheep Highway [Step] [Freeroll] ] - <a href="/webadmin/user/info/id/4750432">2GGLQ999 (4750432)</a>: gl
        </div>
        <div>
            [2020-02-01 05:46:32] - [The Sheep Highway [Step] [Freeroll] / The Sheep Highway [Step] [Freeroll] ] - <a href="/webadmin/user/info/id/2124422">LOGVD000 (2124422)</a>: gg
        </div>
        <div>
            [2020-02-01 05:46:27] - [Andorra #1] - <a href="/webadmin/user/info/id/4280933">HHQDBJJ (4280933)</a>: :)
        </div>
        <div>
            [2020-02-01 05:46:02] - [The Sheep Highway [Step] [Freeroll] / The Sheep Highway [Step] [Freeroll] ] - <a href="/webadmin/user/info/id/2124422">LOGVD000 (2124422)</a>: rannells prize same
        </div>
        <div>
            [2020-02-01 05:45:09] - [The Sheep Highway [Step] [Freeroll] / The Sheep Highway [Step] [Freeroll] ] - <a href="/webadmin/user/info/id/2124422">LOGVD000 (2124422)</a>: nh
        </div>
        <div>
            [2020-02-01 05:44:34] - [The Big Freeze [Re-entry] / The Big Freeze [Re-entry] ] - <a href="/webadmin/user/info/id/4280933">HHQDBJJ (4280933)</a>: gg
        </div>
        <div>
            [2020-02-01 05:44:26] - [The Sheep Highway [Step] [Freeroll] / The Sheep Highway [Step] [Freeroll] ] - <a href="/webadmin/user/info/id/2124422">LOGVD000 (2124422)</a>: gg
        </div>
        <div>
            [2020-02-01 05:42:50] - [Andorra #1] - <a href="/webadmin/user/info/id/4280933">HHQDBJJ (4280933)</a>: nyte bro
        </div>
        <div>
            [2020-02-01 05:42:45] - [The Sheep Highway [Step] [Freeroll] / The Sheep Highway [Step] [Freeroll] ] - <a href="/webadmin/user/info/id/2124422">LOGVD000 (2124422)</a>: nh
        </div>
        <div>
            [2020-02-01 05:42:36] - [Andorra #1] - <a href="/webadmin/user/info/id/2125035">4B468KDD (2125035)</a>: off to bed,,,,gn and gl
        </div>
        <div>
            [2020-02-01 05:40:58] - [The Big Freeze [Re-entry] / The Big Freeze [Re-entry] ] - <a href="/webadmin/user/info/id/4280933">HHQDBJJ (4280933)</a>: :(
        </div>
        <div>
            [2020-02-01 05:40:26] - [The Sheep Highway [Step] [Freeroll] / The Sheep Highway [Step] [Freeroll] ] - <a href="/webadmin/user/info/id/2384411">BSL169CC (2384411)</a>: dick
        </div>
        <div>
            [2020-02-01 05:38:09] - [The Big Freeze [Re-entry] / The Big Freeze [Re-entry] ] - <a href="/webadmin/user/info/id/4280933">HHQDBJJ (4280933)</a>: gg
        </div>
        <div>
            [2020-02-01 05:36:56] - [The Sheep Highway [Step] [Freeroll] / The Sheep Highway [Step] [Freeroll] ] - <a href="/webadmin/user/info/id/2124422">LOGVD000 (2124422)</a>: 2 birds 1 rock
        </div>
        <div>
            [2020-02-01 05:36:45] - [The Sheep Highway [Step] [Freeroll] / The Sheep Highway [Step] [Freeroll] ] - <a href="/webadmin/user/info/id/2124422">LOGVD000 (2124422)</a>: nh
        </div>
        <div>
            [2020-02-01 05:35:13] - [The Sheep Highway [Step] [Freeroll] / The Sheep Highway [Step] [Freeroll] ] - <a href="/webadmin/user/info/id/4750432">2GGLQ999 (4750432)</a>: his jam saved ya fold 44
        </div>
        <div>
            [2020-02-01 05:35:11] - [The Big Freeze [Re-entry] / The Big Freeze [Re-entry] ] - <a href="/webadmin/user/info/id/4280933">HHQDBJJ (4280933)</a>: gg
        </div>
        <div>
            [2020-02-01 05:35:04] - [HAPPY BIRTHDAY CHEFCAT [R/A] [LIVE RADIO] / HAPPY BIRTHDAY CHEFCAT [R/A] [LIVE RADIO] ] - <a href="/webadmin/user/info/id/2271273">MHGIX800 (2271273)</a>: nh
        </div>
        <div>
            [2020-02-01 05:34:55] - [HAPPY BIRTHDAY CHEFCAT [R/A] [LIVE RADIO] / HAPPY BIRTHDAY CHEFCAT [R/A] [LIVE RADIO] ] - <a href="/webadmin/user/info/id/2296292">XRQMY3BB (2296292)</a>: gg
        </div>
        <div>
            [2020-02-01 05:34:54] - [The Sheep Highway [Step] [Freeroll] / The Sheep Highway [Step] [Freeroll] ] - <a href="/webadmin/user/info/id/2124422">LOGVD000 (2124422)</a>: nh
        </div>
        <div>
            [2020-02-01 05:31:49] - [HAPPY BIRTHDAY CHEFCAT [R/A] [LIVE RADIO] / HAPPY BIRTHDAY CHEFCAT [R/A] [LIVE RADIO] ] - <a href="/webadmin/user/info/id/2271273">MHGIX800 (2271273)</a>: lol nh
        </div>
        <div>
            [2020-02-01 05:31:49] - [HAPPY BIRTHDAY CHEFCAT [R/A] [LIVE RADIO] / HAPPY BIRTHDAY CHEFCAT [R/A] [LIVE RADIO] ] - <a href="/webadmin/user/info/id/2296292">XRQMY3BB (2296292)</a>: :)
        </div>
        <div>
            [2020-02-01 05:29:27] - [HAPPY BIRTHDAY CHEFCAT [R/A] [LIVE RADIO] / HAPPY BIRTHDAY CHEFCAT [R/A] [LIVE RADIO] ] - <a href="/webadmin/user/info/id/2271273">MHGIX800 (2271273)</a>: GG cb nh
        </div>
        <div>
            [2020-02-01 05:29:19] - [HAPPY BIRTHDAY CHEFCAT [R/A] [LIVE RADIO] / HAPPY BIRTHDAY CHEFCAT [R/A] [LIVE RADIO] ] - <a href="/webadmin/user/info/id/2296292">XRQMY3BB (2296292)</a>: gg
        </div>
        <div>
            [2020-02-01 05:28:55] - [HAPPY BIRTHDAY CHEFCAT [R/A] [LIVE RADIO] / HAPPY BIRTHDAY CHEFCAT [R/A] [LIVE RADIO] ] - <a href="/webadmin/user/info/id/2296292">XRQMY3BB (2296292)</a>: 6:28 M
        </div>
        <div>
            [2020-02-01 05:28:48] - [HAPPY BIRTHDAY CHEFCAT [R/A] [LIVE RADIO] / HAPPY BIRTHDAY CHEFCAT [R/A] [LIVE RADIO] ] - <a href="/webadmin/user/info/id/2296292">XRQMY3BB (2296292)</a>: lol
        </div>
        <div>
            [2020-02-01 05:28:38] - [HAPPY BIRTHDAY CHEFCAT [R/A] [LIVE RADIO] / HAPPY BIRTHDAY CHEFCAT [R/A] [LIVE RADIO] ] - <a href="/webadmin/user/info/id/2249037">7SPVBM11 (2249037)</a>: here too
        </div>
        <div>
            [2020-02-01 05:28:33] - [The Big Freeze [Re-entry] / The Big Freeze [Re-entry] ] - <a href="/webadmin/user/info/id/2248908">TGFDBZ77 (2248908)</a>: nh gg
        </div>
        <div>
            [2020-02-01 05:28:30] - [The Big Freeze [Re-entry] / The Big Freeze [Re-entry] ] - <a href="/webadmin/user/info/id/4280933">HHQDBJJ (4280933)</a>: gg
        </div>
        <div>
            [2020-02-01 05:28:26] - [HAPPY BIRTHDAY CHEFCAT [R/A] [LIVE RADIO] / HAPPY BIRTHDAY CHEFCAT [R/A] [LIVE RADIO] ] - <a href="/webadmin/user/info/id/2271273">MHGIX800 (2271273)</a>: me too 12:30 here
        </div>
        <div>
            [2020-02-01 05:28:25] - [HAPPY BIRTHDAY CHEFCAT [R/A] [LIVE RADIO] / HAPPY BIRTHDAY CHEFCAT [R/A] [LIVE RADIO] ] - <a href="/webadmin/user/info/id/4375622">09KJ1GBB (4375622)</a>: ty gl im tired
        </div>
        <div>
            [2020-02-01 05:28:08] - [HAPPY BIRTHDAY CHEFCAT [R/A] [LIVE RADIO] / HAPPY BIRTHDAY CHEFCAT [R/A] [LIVE RADIO] ] - <a href="/webadmin/user/info/id/4375622">09KJ1GBB (4375622)</a>: ty gl im tired lol
        </div>
        <div>
            [2020-02-01 05:28:02] - [HAPPY BIRTHDAY CHEFCAT [R/A] [LIVE RADIO] / HAPPY BIRTHDAY CHEFCAT [R/A] [LIVE RADIO] ] - <a href="/webadmin/user/info/id/2249037">7SPVBM11 (2249037)</a>: ty
        </div>
        <div>
            [2020-02-01 05:27:55] - [HAPPY BIRTHDAY CHEFCAT [R/A] [LIVE RADIO] / HAPPY BIRTHDAY CHEFCAT [R/A] [LIVE RADIO] ] - <a href="/webadmin/user/info/id/2271273">MHGIX800 (2271273)</a>: GG ezy nh Deb
        </div>
        <div>
            [2020-02-01 05:27:31] - [HAPPY BIRTHDAY CHEFCAT [R/A] [LIVE RADIO] / HAPPY BIRTHDAY CHEFCAT [R/A] [LIVE RADIO] ] - <a href="/webadmin/user/info/id/2271273">MHGIX800 (2271273)</a>: ty
        </div>
        <div>
            [2020-02-01 05:27:27] - [HAPPY BIRTHDAY CHEFCAT [R/A] [LIVE RADIO] / HAPPY BIRTHDAY CHEFCAT [R/A] [LIVE RADIO] ] - <a href="/webadmin/user/info/id/2249037">7SPVBM11 (2249037)</a>: gh
        </div>
        <div>
            [2020-02-01 05:26:58] - [HAPPY BIRTHDAY CHEFCAT [R/A] [LIVE RADIO] / HAPPY BIRTHDAY CHEFCAT [R/A] [LIVE RADIO] ] - <a href="/webadmin/user/info/id/2271273">MHGIX800 (2271273)</a>: nice
        </div>
        <div>
            [2020-02-01 05:26:38] - [HAPPY BIRTHDAY CHEFCAT [R/A] [LIVE RADIO] / HAPPY BIRTHDAY CHEFCAT [R/A] [LIVE RADIO] ] - <a href="/webadmin/user/info/id/2249037">7SPVBM11 (2249037)</a>: royal
        </div>
        <div>
            [2020-02-01 05:26:23] - [HAPPY BIRTHDAY CHEFCAT [R/A] [LIVE RADIO] / HAPPY BIRTHDAY CHEFCAT [R/A] [LIVE RADIO] ] - <a href="/webadmin/user/info/id/2249037">7SPVBM11 (2249037)</a>: ty
        </div>
        <div>
            [2020-02-01 05:26:22] - [HAPPY BIRTHDAY CHEFCAT [R/A] [LIVE RADIO] / HAPPY BIRTHDAY CHEFCAT [R/A] [LIVE RADIO] ] - <a href="/webadmin/user/info/id/2296292">XRQMY3BB (2296292)</a>: str8 flush....quads....what next?
        </div>
        <div>
            [2020-02-01 05:26:04] - [HAPPY BIRTHDAY CHEFCAT [R/A] [LIVE RADIO] / HAPPY BIRTHDAY CHEFCAT [R/A] [LIVE RADIO] ] - <a href="/webadmin/user/info/id/2296292">XRQMY3BB (2296292)</a>: vnh
        </div>
        <div>
            [2020-02-01 05:25:27] - [Andorra #1] - <a href="/webadmin/user/info/id/2151677">5SFTHDLL (2151677)</a>: n1
        </div>
        <div>
            [2020-02-01 05:25:10] - [The Sheep Highway [Step] [Freeroll] / The Sheep Highway [Step] [Freeroll] ] - <a href="/webadmin/user/info/id/4750432">2GGLQ999 (4750432)</a>: lol
        </div>
        <div>
            [2020-02-01 05:23:35] - [The Sheep Highway [Step] [Freeroll] / The Sheep Highway [Step] [Freeroll] ] - <a href="/webadmin/user/info/id/2124422">LOGVD000 (2124422)</a>: brb
        </div>
        <div>
            [2020-02-01 05:22:14] - [Andorra #1] - <a href="/webadmin/user/info/id/4280933">HHQDBJJ (4280933)</a>: ty u2
        </div>
        <div>
            [2020-02-01 05:22:05] - [Andorra #1] - <a href="/webadmin/user/info/id/2151677">5SFTHDLL (2151677)</a>: 33 nh
        </div>
        <div>
            [2020-02-01 05:21:01] - [The Sheep Highway [Step] [Freeroll] / The Sheep Highway [Step] [Freeroll] ] - <a href="/webadmin/user/info/id/4330727">I74D2ZEE (4330727)</a>: nh
        </div>
        <div>
            [2020-02-01 05:20:48] - [HAPPY BIRTHDAY CHEFCAT [R/A] [LIVE RADIO] / HAPPY BIRTHDAY CHEFCAT [R/A] [LIVE RADIO] ] - <a href="/webadmin/user/info/id/2296292">XRQMY3BB (2296292)</a>: lol
        </div>
        <div>
            [2020-02-01 05:20:43] - [HAPPY BIRTHDAY CHEFCAT [R/A] [LIVE RADIO] / HAPPY BIRTHDAY CHEFCAT [R/A] [LIVE RADIO] ] - <a href="/webadmin/user/info/id/2249037">7SPVBM11 (2249037)</a>: pls do
        </div>
        <div>
            [2020-02-01 05:20:41] - [HAPPY BIRTHDAY CHEFCAT [R/A] [LIVE RADIO] / HAPPY BIRTHDAY CHEFCAT [R/A] [LIVE RADIO] ] - <a href="/webadmin/user/info/id/2271273">MHGIX800 (2271273)</a>: go back to sleep will ya Chip? lol
        </div>
        <div>
            [2020-02-01 05:20:27] - [HAPPY BIRTHDAY CHEFCAT [R/A] [LIVE RADIO] / HAPPY BIRTHDAY CHEFCAT [R/A] [LIVE RADIO] ] - <a href="/webadmin/user/info/id/2296292">XRQMY3BB (2296292)</a>: now i can sleep another 20min
        </div>
        <div>
            [2020-02-01 05:18:46] - [HAPPY BIRTHDAY CHEFCAT [R/A] [LIVE RADIO] / HAPPY BIRTHDAY CHEFCAT [R/A] [LIVE RADIO] ] - <a href="/webadmin/user/info/id/4375622">09KJ1GBB (4375622)</a>: ty
        </div>
        <div>
            [2020-02-01 05:18:21] - [HAPPY BIRTHDAY CHEFCAT [R/A] [LIVE RADIO] / HAPPY BIRTHDAY CHEFCAT [R/A] [LIVE RADIO] ] - <a href="/webadmin/user/info/id/2271273">MHGIX800 (2271273)</a>: nh
        </div>
        <div>
            [2020-02-01 05:17:49] - [Andorra #1] - <a href="/webadmin/user/info/id/4280933">HHQDBJJ (4280933)</a>: k
        </div>
        <div>
            [2020-02-01 05:17:40] - [Andorra #1] - <a href="/webadmin/user/info/id/2151677">5SFTHDLL (2151677)</a>: I don't want to type it in a public chat
        </div>
        <div>
            [2020-02-01 05:17:25] - [The Sheep Highway [Step] [Freeroll] / The Sheep Highway [Step] [Freeroll] ] - <a href="/webadmin/user/info/id/4750432">2GGLQ999 (4750432)</a>: bink
        </div>
        <div>
            [2020-02-01 05:16:23] - [HAPPY BIRTHDAY CHEFCAT [R/A] [LIVE RADIO] / HAPPY BIRTHDAY CHEFCAT [R/A] [LIVE RADIO] ] - <a href="/webadmin/user/info/id/2296292">XRQMY3BB (2296292)</a>: back now with a boom
        </div>
        <div>
            [2020-02-01 05:16:00] - [Andorra #1] - <a href="/webadmin/user/info/id/4280933">HHQDBJJ (4280933)</a>: lol
        </div>
        <div>
            [2020-02-01 05:15:58] - [Andorra #1] - <a href="/webadmin/user/info/id/4280933">HHQDBJJ (4280933)</a>: no, saw last name and he dont look like a herman
        </div>
        <div>
            [2020-02-01 05:15:29] - [Andorra #1] - <a href="/webadmin/user/info/id/2151677">5SFTHDLL (2151677)</a>: You looked it up!!
        </div>
        <div>
            [2020-02-01 05:15:14] - [Andorra #1] - <a href="/webadmin/user/info/id/4280933">HHQDBJJ (4280933)</a>: ur on crack lol
        </div>
        <div>
            [2020-02-01 05:15:14] - [HAPPY BIRTHDAY CHEFCAT [R/A] [LIVE RADIO] / HAPPY BIRTHDAY CHEFCAT [R/A] [LIVE RADIO] ] - <a href="/webadmin/user/info/id/2296292">XRQMY3BB (2296292)</a>: what i missed?
        </div>
        <div>
            [2020-02-01 05:15:12] - [HAPPY BIRTHDAY CHEFCAT [R/A] [LIVE RADIO] / HAPPY BIRTHDAY CHEFCAT [R/A] [LIVE RADIO] ] - <a href="/webadmin/user/info/id/2271273">MHGIX800 (2271273)</a>: well it's ok with us if want to take another nap lol
        </div>
        <div>
            [2020-02-01 05:15:02] - [HAPPY BIRTHDAY CHEFCAT [R/A] [LIVE RADIO] / HAPPY BIRTHDAY CHEFCAT [R/A] [LIVE RADIO] ] - <a href="/webadmin/user/info/id/2230562">7PK4WJ99 (2230562)</a>: https://www.twitch.tv/surfman101
        </div>
        <div>
            [2020-02-01 05:14:30] - [Andorra #1] - <a href="/webadmin/user/info/id/2151677">5SFTHDLL (2151677)</a>: Herman K. Schwartzkauff
        </div>
    </div>
</div>

<script>
    chat.lastMessageTime = "2020-02-01 06:12:39";
</script>

