﻿
@{
    ViewBag.Title = "Assign BackOffice User";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Assign Backoffice User</h3>
<div class="box">
    <div class="box-body">
        <form id="userForm" encType="application/x-www-form-urlencoded" method="post">
            <div class="row">
                <div class="col-xs-12 col-md-5 col-lg-4">
                    <dt id="id-label">&#160;</dt>
                    <dd id="id-element">
                        <input type="hidden" name="id" value="" id="id" />
                    </dd>
                    <div class="form-group" id="form-element-name">
                        <label for="name" class="optional">User</label>

                        <input type="text" name="name" id="name" value="" readOnly="1" class="form-control" />
                    </div>
                    <button type="button" data-toggle="modal" data-target="#selectBackofficeUserDialog"
                            id='selectUserButton' class="btn btn-default">
                        Select User
                    </button>

                    <div class="form-group" id="form-element-roles">
                        <div class="checkbox">
                            <label><input type="checkbox" name="roles[]" id="roles-Administrators" value="Administrators" />Administrator</label><br /><label><input type="checkbox" name="roles[]" id="roles-Financier" value="Financier" />Financier</label><br /><label><input type="checkbox" name="roles[]" id="roles-Support" value="Support" />Support</label><br /><label><input type="checkbox" name="roles[]" id="roles-Support_Adm" value="Support_Adm" />Support Adm</label><br /><label><input type="checkbox" name="roles[]" id="roles-Content_Manager" value="Content_Manager" />Content Manager</label><br /><label><input type="checkbox" name="roles[]" id="roles-Maintenancer" value="Maintenancer" />Maintenancer</label><br /><label><input type="checkbox" name="roles[]" id="roles-DbRole1" value="DbRole1" />Tournament Manager</label>
                        </div>
                    </div>

                    <input type="submit" name="send" id="send" value="Save" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="selectBackofficeUserDialog" tabindex="-1" role="dialog"
     aria-labelledby="selectBackofficeUserLabel"
     data-url="/webadmin/user/select">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="selectBackofficeUserLabel">
                    Please, select user
                </h4>
            </div>
            <div class="modal-body">
                <div id="dynamicContent_modal"></div>
            </div>
        </div>
    </div>
</div>


<script>
    window.onUserSelected = function (user) {
        document.getElementById('id').value = user.f_id;
        document.getElementById('name').value = user.f_name + ' '
            + user.f_family_name + '(' + user.f_nick + ')';
        $('#selectBackofficeUserDialog').modal('hide');
    };

    modals.init('selectBackofficeUserDialog');
</script>

