﻿
@{
    ViewBag.Title = "BackOfficeUserRolePermissionAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h3>Set Role Permissions</h3>
<div class="box box-primary">
    <form enctype="application/x-www-form-urlencoded" method="post" action="" dojoType="dijit.form.Form">
        <div class="box-body">
            <div class="form-group" id="form-element-role">
                <label for="role" class="required">Role</label>

                <select name="role" id="role" class="form-control select2">
                    <option value="Administrators">Administrator</option>
                    <option value="Players">Players</option>
                    <option value="Financier">Financier</option>
                    <option value="Support">Support</option>
                    <option value="Support_Adm">Support Adm</option>
                    <option value="Content_Manager">Content Manager</option>
                    <option value="Maintenancer">Maintenancer</option>
                    <option value="DbRole1">Tournament Manager</option>
                </select>
            </div>
            <div class="form-group" id="form-element-resourceId">
                <label for="resourceId" class="required">Resource</label>

                <select name="resourceId" id="resourceId" class="form-control select2">
                    <option value="19">Auth</option>
                    <option value="20">System Settings</option>
                    <option value="21">Lobby Chat</option>
                    <option value="22">Maintenance Mode</option>
                    <option value="23">Users</option>
                    <option value="24">Avatars</option>
                    <option value="25">Backoffice Users</option>
                    <option value="26">Tables</option>
                    <option value="27">Tournaments</option>
                    <option value="28">Jackpot</option>
                    <option value="29">Transactions</option>
                    <option value="30">Financial Reports</option>
                    <option value="31">Actions Log</option>
                    <option value="32">Affilates</option>
                    <option value="33">Banners</option>
                    <option value="34">Notifications</option>
                    <option value="35">Payment Systems</option>
                    <option value="36">Prohibited Ip</option>
                    <option value="37">Custom Reports</option>
                    <option value="38">Dashboard</option>
                    <option value="40">Verification Docs</option>
                    <option value="41">User.E-mail</option>
                    <option value="42">User.Phone Number</option>
                    <option value="43">User.Country</option>
                    <option value="44">User.City</option>
                    <option value="45">User.State</option>
                    <option value="46">User.Address</option>
                    <option value="47">User.Zip</option>
                    <option value="48">Fraud</option>
                    <option value="50">Prohibited Users</option>
                    <option value="51">Union</option>
                    <option value="52">Casino</option>
                    <option value="55">In App</option>
                </select>
            </div>
            <div class="form-group" id="form-element-permissions">
                <label for="permissions" class="optional">Privilege</label>

                <select name="permissions[]" id="permissions" multiple="multiple" class="form-control select2">
                    <option value="49">Login</option>
                </select>
            </div>

            <input type="submit" name="send" id="send" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>


