﻿
@{
    ViewBag.Title = "BackOfficeUserRolePermissionList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Permissions</h3>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
        </div>
        <div class="box">
            <div class="box-body">
                <div id="dynamicContent">
                    <div class="custom-dropdown-menu" id="columnsControls">
                    </div>

                    <table id='boPermissions' class="listing-table" data-dt-not-fixed-cols="true">
                        <thead class="listHead">
                            <tr>
                                <th data-meta-skip-manage='true'>
                                    <div>
                                        <button type="button" class="btn btn-primary custom-dropdown" id="columnControlsBtn">
                                            <img src="img/icons/menu.svg" alt="+">
                                        </button>
                                    </div>
                                </th>
                                <th data-meta-key='resource_name'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="resource_name"
                                           orderType="">
                                            Resource
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='privilege_name'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="privilege_name"
                                           orderType="">
                                            Privilege
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_role'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_role"
                                           orderType="">
                                            Role
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_allowed'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_allowed"
                                           orderType="">
                                            Is Allowed
                                        </a>
                                    </nobr>
                                </th>
                            </tr>
                            <tr class="listFilter">
                                <th>

                                    <button name="butFilter" id="butFilter" type="button">Apply Filter</button>

                                    <button name="butReset" id="butReset" type="button">Reset Filter</button>
                                </th>
                                <th>
                                    <input type="text" name="resource_name" id="resource_name" value="" filter="1" sql="resource.f_label" orderable="1" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <input type="text" name="privilege_name" id="privilege_name" value="" filter="1" sql="privilege.f_label" orderable="1" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <input type="text" name="f_role" id="f_role" value="" filter="1" orderable="1" sql="f_role" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <select name="f_allowed" id="f_allowed" filter="1" orderable="1" sql="f_allowed" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="1">Yes</option>
                                        <option value="0">No</option>
                                    </select>
                                </th>

                            </tr>
                        </thead>


                        <tr class="odd ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/backoffice-user/role-permission/id/1711">
                                            <div class="edit" id="edit-1711"></div>Edit
                                        </a>

                                        <a href="/webadmin/backoffice-user/permission-delete/id/1711" onClick='return confirm("Deleting permission.\nAre you sure?");'>
                                            <div class="del" id="del-1711"></div>Delete
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>Auth</td>
                            <td>Login</td>
                            <td>Tournament Manager</td>
                            <td>Yes</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/backoffice-user/role-permission/id/1712">
                                            <div class="edit" id="edit-1712"></div>Edit
                                        </a>

                                        <a href="/webadmin/backoffice-user/permission-delete/id/1712" onClick='return confirm("Deleting permission.\nAre you sure?");'>
                                            <div class="del" id="del-1712"></div>Delete
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>Tournaments</td>
                            <td>View</td>
                            <td>Tournament Manager</td>
                            <td>Yes</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/backoffice-user/role-permission/id/1713">
                                            <div class="edit" id="edit-1713"></div>Edit
                                        </a>

                                        <a href="/webadmin/backoffice-user/permission-delete/id/1713" onClick='return confirm("Deleting permission.\nAre you sure?");'>
                                            <div class="del" id="del-1713"></div>Delete
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>Tournaments</td>
                            <td>Manage</td>
                            <td>Tournament Manager</td>
                            <td>Yes</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/backoffice-user/role-permission/id/1714">
                                            <div class="edit" id="edit-1714"></div>Edit
                                        </a>

                                        <a href="/webadmin/backoffice-user/permission-delete/id/1714" onClick='return confirm("Deleting permission.\nAre you sure?");'>
                                            <div class="del" id="del-1714"></div>Delete
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>Tournaments</td>
                            <td>Stop/Cancel Tournament</td>
                            <td>Tournament Manager</td>
                            <td>Yes</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/backoffice-user/role-permission/id/3613">
                                            <div class="edit" id="edit-3613"></div>Edit
                                        </a>

                                        <a href="/webadmin/backoffice-user/permission-delete/id/3613" onClick='return confirm("Deleting permission.\nAre you sure?");'>
                                            <div class="del" id="del-3613"></div>Delete
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>Union</td>
                            <td>Manage</td>
                            <td>Administrator</td>
                            <td>Yes</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/backoffice-user/role-permission/id/3614">
                                            <div class="edit" id="edit-3614"></div>Edit
                                        </a>

                                        <a href="/webadmin/backoffice-user/permission-delete/id/3614" onClick='return confirm("Deleting permission.\nAre you sure?");'>
                                            <div class="del" id="del-3614"></div>Delete
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>Union</td>
                            <td>Management</td>
                            <td>Administrator</td>
                            <td>Yes</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/backoffice-user/role-permission/id/3615">
                                            <div class="edit" id="edit-3615"></div>Edit
                                        </a>

                                        <a href="/webadmin/backoffice-user/permission-delete/id/3615" onClick='return confirm("Deleting permission.\nAre you sure?");'>
                                            <div class="del" id="del-3615"></div>Delete
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>Union</td>
                            <td>View</td>
                            <td>Administrator</td>
                            <td>Yes</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->


                    </table>
                    <div class='rowCount'>
                        <div class="row">
                            <div class="col-md-3">
                                Rows: 7&ensp;|&ensp;
                                <div class="limit-controls" style="display: inline-block;">
                                    <div id="perpage">Per page:</div>
                                    <select class="limit-links">
                                        <option data-href="/webadmin/backoffice-user/permission-list/limit/10">10</option>
                                        <option data-href="/webadmin/backoffice-user/permission-list/limit/25">25</option>
                                        <option selected data-href="/webadmin/backoffice-user/permission-list/limit/50">50</option>
                                        <option data-href="/webadmin/backoffice-user/permission-list/limit/100">100</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-7" style="display: flex; justify-content: center">
                                <div class="paginator-controls" id="blockPaginatorControls">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="pull-right">
                                    <a href="/webadmin/backoffice-user/permission-list/_output/xlsx"><img src="img/icons/xls.svg" alt="Excel"></a>
                                    <a href="/webadmin/backoffice-user/permission-list/_output/csv"><img src="img/icons/csv.svg" alt="CSV"></a>
                                    <a href="/webadmin/backoffice-user/permission-list/_output/ods"><img src="img/icons/odt.svg" alt="OpenDocument" /></a>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>

