﻿
@{
    ViewBag.Title = "BackOfficeUserList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Backoffice Users</h3>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
        </div>
        <div class="box">
            <div class="box-body">
                <div id="dynamicContent">
                    <div class="custom-dropdown-menu" id="columnsControls">
                    </div>

                    <table id='boUsers' class="listing-table" data-dt-not-fixed-cols="true">
                        <thead class="listHead">
                            <tr>
                                <th data-meta-skip-manage='true'>
                                    <div>
                                        <button type="button" class="btn btn-primary custom-dropdown" id="columnControlsBtn">                                          
                                            <img src="~/Assest/img/menu.svg" />
                                        </button>
                                    </div>
                                </th>
                                <th data-meta-key='f_user'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_user"
                                           orderType="">
                                            User
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_roles'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_roles"
                                           orderType="">
                                            Roles
                                        </a>
                                    </nobr>
                                </th>
                            </tr>
                            <tr class="listFilter">
                                <th>

                                    <button name="butFilter" id="butFilter" type="button">Apply Filter</button>

                                    <button name="butReset" id="butReset" type="button">Reset Filter</button>
                                </th>
                                <th>
                                    <input type="text" name="f_user" id="f_user" value="" filter="1" sql="p.f_id" sql_nick="p.f_nick" orderable="1" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <input type="text" name="f_roles" id="f_roles" value="" filter="1" sql="GROUP_CONCAT(pr.f_role SEPARATOR 0x1D)" sql_id="pr.f_role" sql_name="role.f_label" orderable="1" nonHtml="" class="filter" />
                                </th>

                            </tr>
                        </thead>


                        <tr class="odd ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/backoffice-user/user/id/100">
                                            <div class="edit" id="edit-100"></div>Edit
                                        </a>

                                        <a href="/webadmin/backoffice-user/user-delete/id/100" onClick='return confirm("Deleting user.\nAre you sure?");'>
                                            <div class="del" id="del-100"></div>Delete
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td><a href="/webadmin/user/info/id/100">admin</a></td>
                            <td>Administrator</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/backoffice-user/user/id/300">
                                            <div class="edit" id="edit-300"></div>Edit
                                        </a>

                                        <a href="/webadmin/backoffice-user/user-delete/id/300" onClick='return confirm("Deleting user.\nAre you sure?");'>
                                            <div class="del" id="del-300"></div>Delete
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td><a href="/webadmin/user/info/id/300">FOLLOFF</a></td>
                            <td>Administrator</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/backoffice-user/user/id/3486546">
                                            <div class="edit" id="edit-3486546"></div>Edit
                                        </a>

                                        <a href="/webadmin/backoffice-user/user-delete/id/3486546" onClick='return confirm("Deleting user.\nAre you sure?");'>
                                            <div class="del" id="del-3486546"></div>Delete
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td><a href="/webadmin/user/info/id/3486546">E5G0KM55</a></td>
                            <td>Maintenancer, Tournament Manager</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->


                    </table>
                    <div class='rowCount'>
                        <div class="row">
                            <div class="col-md-3">
                                Rows: 3&ensp;|&ensp;
                                <div class="limit-controls" style="display: inline-block;">
                                    <div id="perpage">Per page:</div>
                                    <select class="limit-links">
                                        <option data-href="/webadmin/backoffice-user/user-list/limit/10">10</option>
                                        <option data-href="/webadmin/backoffice-user/user-list/limit/25">25</option>
                                        <option selected data-href="/webadmin/backoffice-user/user-list/limit/50">50</option>
                                        <option data-href="/webadmin/backoffice-user/user-list/limit/100">100</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-7" style="display: flex; justify-content: center">
                                <div class="paginator-controls" id="blockPaginatorControls">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="pull-right">
                                    <a href="/webadmin/backoffice-user/user-list/_output/xlsx"><img src="img/icons/xls.svg" alt="Excel"></a>
                                    <a href="/webadmin/backoffice-user/user-list/_output/csv"><img src="img/icons/csv.svg" alt="CSV"></a>
                                    <a href="/webadmin/backoffice-user/user-list/_output/ods"><img src="img/icons/odt.svg" alt="OpenDocument" /></a>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>

