﻿
@{
    ViewBag.Title = "BannerAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Add Banner <a href="http://docs.evenbetgaming.com/articles/Administration_Panel/Add Banner.html" target="_blank"><sup><i class="fa fa-question-circle"></i></sup></a></h3>
<style>
    .dijitExpandingTextArea {
        resize: both;
    }
</style>

<div id="response"></div>
<div id="selectBannerPlaceDialog" dojoType="dijit.Dialog" title="Please, select Banner Place"
     class="dialog" style="display:none;">
    <iframe src="/webadmin/banner/banner-place/select"
            class="dialog-frame">
    </iframe>
</div>

<div dojoType="dijit.form.Form" id="bannerCreationForm" jsId="bannerCreationForm"
     encType="multipart/form-data" method="post" class="center_content">


    <input type="hidden" name="entityId" value="0"
           id="entityId" dojoType="dijit.form.TextBox" />
    <ul class="errors" id="entityIdErrors">
    </ul>


    <div id="form-element-name" class="form-element">
        <label for="name" class="required">Name</label>
        <input id="name"
               type="text"
               name="name"
               value=""
               dojoType="dijit.form.ValidationTextBox"
               trim="true"
               required="true" maxlength="19" />
        <ul class="errors" id="nameErrors">
        </ul>
    </div>

    <div id="form-element-priority" class="form-element">
        <label for="priority" class="required">Priority</label>

        <input id="priority"
               type="text"
               name="priority"
               value="10"
               smallDelta="1"
               dojoType="dijit.form.NumberSpinner"
               max="99999999999999" required="true" constraints="{
            min: 0,
             max: 99999999999999,             places: 0
         }" />
        <ul class="errors" id="priorityErrors">
        </ul>
    </div>

    <div id="form-element-active" class="form-element">
        <input type="hidden" name="active" value="0">
        <label for="active">
            <input id="active"
                   name="active"
                   type="checkbox"
                   dojoType="dijit.form.CheckBox"
                   value="1"
                   checked=false checked=""
                   options="Array"
                   type="checkbox">
            Active?
        </label>
        <ul class="errors" id="activeErrors">
        </ul>
    </div>


    <div id="form-element-bannerPlaceId" class="form-element"
         style="display:none;">
        <label for="bannerPlaceId">bannerPlaceId</label>
        <input id="bannerPlaceId"
               type="text"
               name="bannerPlaceId"
               value=""
               dojoType="dijit.form.ValidationTextBox"
               trim="true"
               readOnly="1" />
        <ul class="errors" id="bannerPlaceIdErrors">
        </ul>
    </div>

    <div id="form-element-bannerPlaceName" class="form-element">
        <label for="bannerPlaceName">Banner Place</label>
        <input id="bannerPlaceName"
               type="text"
               name="bannerPlaceName"
               value=""
               dojoType="dijit.form.ValidationTextBox"
               trim="true"
               readOnly="1" />
        <ul class="errors" id="bannerPlaceNameErrors">
        </ul>
    </div>

    <button id=bannerPlaceSelectButton dojoType="dijit.form.Button" type="button"
            name="bannerPlaceSelectButton" value="">
        Select Banner Place
    </button>


    <div id="form-element-isLink" class="form-element">
        <input type="hidden" name="isLink" value="0">
        <label for="isLink">
            <input id="isLink"
                   name="isLink"
                   type="checkbox"
                   dojoType="dijit.form.CheckBox"
                   value="1"
                   checked=false checked=""
                   options="Array"
                   type="checkbox">
            Use Link
        </label>
        <ul class="errors" id="isLinkErrors">
        </ul>
    </div>
    <div id='link-url-container'>

        <div id="form-element-linkUrl" class="form-element">
            <label for="linkUrl">Link Url</label>
            <input id="linkUrl"
                   type="text"
                   name="linkUrl"
                   value=""
                   dojoType="dijit.form.ValidationTextBox"
                   trim="true"
                   maxlength="255" />
            <ul class="errors" id="linkUrlErrors">
            </ul>
        </div>

        <div id="form-element-localizedLinkUrlzh" class="form-element">
            <label for="localizedLinkUrlzh">Link Url [Chinese]</label>
            <input id="localizedLinkUrlzh"
                   type="text"
                   name="localizedLinkUrlzh"
                   value=""
                   dojoType="dijit.form.ValidationTextBox"
                   trim="true"
                   maxlength="255" />
            <ul class="errors" id="localizedLinkUrlzhErrors">
            </ul>
        </div>

        <div id="form-element-localizedLinkUrlcs" class="form-element">
            <label for="localizedLinkUrlcs">Link Url [Czech]</label>
            <input id="localizedLinkUrlcs"
                   type="text"
                   name="localizedLinkUrlcs"
                   value=""
                   dojoType="dijit.form.ValidationTextBox"
                   trim="true"
                   maxlength="255" />
            <ul class="errors" id="localizedLinkUrlcsErrors">
            </ul>
        </div>

        <div id="form-element-localizedLinkUrlen" class="form-element">
            <label for="localizedLinkUrlen">Link Url [English]</label>
            <input id="localizedLinkUrlen"
                   type="text"
                   name="localizedLinkUrlen"
                   value=""
                   dojoType="dijit.form.ValidationTextBox"
                   trim="true"
                   maxlength="255" />
            <ul class="errors" id="localizedLinkUrlenErrors">
            </ul>
        </div>

        <div id="form-element-localizedLinkUrlka" class="form-element">
            <label for="localizedLinkUrlka">Link Url [Georgian]</label>
            <input id="localizedLinkUrlka"
                   type="text"
                   name="localizedLinkUrlka"
                   value=""
                   dojoType="dijit.form.ValidationTextBox"
                   trim="true"
                   maxlength="255" />
            <ul class="errors" id="localizedLinkUrlkaErrors">
            </ul>
        </div>

        <div id="form-element-localizedLinkUrlde" class="form-element">
            <label for="localizedLinkUrlde">Link Url [German]</label>
            <input id="localizedLinkUrlde"
                   type="text"
                   name="localizedLinkUrlde"
                   value=""
                   dojoType="dijit.form.ValidationTextBox"
                   trim="true"
                   maxlength="255" />
            <ul class="errors" id="localizedLinkUrldeErrors">
            </ul>
        </div>

        <div id="form-element-localizedLinkUrlit" class="form-element">
            <label for="localizedLinkUrlit">Link Url [Italian]</label>
            <input id="localizedLinkUrlit"
                   type="text"
                   name="localizedLinkUrlit"
                   value=""
                   dojoType="dijit.form.ValidationTextBox"
                   trim="true"
                   maxlength="255" />
            <ul class="errors" id="localizedLinkUrlitErrors">
            </ul>
        </div>

        <div id="form-element-localizedLinkUrlms" class="form-element">
            <label for="localizedLinkUrlms">Link Url [Malay]</label>
            <input id="localizedLinkUrlms"
                   type="text"
                   name="localizedLinkUrlms"
                   value=""
                   dojoType="dijit.form.ValidationTextBox"
                   trim="true"
                   maxlength="255" />
            <ul class="errors" id="localizedLinkUrlmsErrors">
            </ul>
        </div>

        <div id="form-element-localizedLinkUrlpt" class="form-element">
            <label for="localizedLinkUrlpt">Link Url [Portuguese]</label>
            <input id="localizedLinkUrlpt"
                   type="text"
                   name="localizedLinkUrlpt"
                   value=""
                   dojoType="dijit.form.ValidationTextBox"
                   trim="true"
                   maxlength="255" />
            <ul class="errors" id="localizedLinkUrlptErrors">
            </ul>
        </div>

        <div id="form-element-localizedLinkUrlru" class="form-element">
            <label for="localizedLinkUrlru">Link Url [Russian]</label>
            <input id="localizedLinkUrlru"
                   type="text"
                   name="localizedLinkUrlru"
                   value=""
                   dojoType="dijit.form.ValidationTextBox"
                   trim="true"
                   maxlength="255" />
            <ul class="errors" id="localizedLinkUrlruErrors">
            </ul>
        </div>

        <div id="form-element-localizedLinkUrles" class="form-element">
            <label for="localizedLinkUrles">Link Url [Spanish]</label>
            <input id="localizedLinkUrles"
                   type="text"
                   name="localizedLinkUrles"
                   value=""
                   dojoType="dijit.form.ValidationTextBox"
                   trim="true"
                   maxlength="255" />
            <ul class="errors" id="localizedLinkUrlesErrors">
            </ul>
        </div>

        <div id="form-element-localizedLinkUrlth" class="form-element">
            <label for="localizedLinkUrlth">Link Url [Thai]</label>
            <input id="localizedLinkUrlth"
                   type="text"
                   name="localizedLinkUrlth"
                   value=""
                   dojoType="dijit.form.ValidationTextBox"
                   trim="true"
                   maxlength="255" />
            <ul class="errors" id="localizedLinkUrlthErrors">
            </ul>
        </div>
    </div>


    <div id="form-element-useStamp" class="form-element">
        <input type="hidden" name="useStamp" value="0">
        <label for="useStamp">
            <input id="useStamp"
                   name="useStamp"
                   type="checkbox"
                   dojoType="dijit.form.CheckBox"
                   value="1"
                   checked=false checked=""
                   options="Array"
                   type="checkbox">
            Use Date Range
        </label>
        <ul class="errors" id="useStampErrors">
        </ul>
    </div>
    <div id='stamp-period-container'>

        <div id="form-element-startStamp" class="form-element">
            <label for="startStamp">From Stamp</label>
            <input id="startStamp"
                   type="text"
                   name="startStamp"
                   value=""
                   dojoType="dijit.form.DateTextBox" />
            <ul class="errors" id="startStampErrors">
            </ul>
        </div>

        <div id="form-element-endStamp" class="form-element">
            <label for="endStamp">To Stamp</label>
            <input id="endStamp"
                   type="text"
                   name="endStamp"
                   value=""
                   dojoType="dijit.form.DateTextBox" />
            <ul class="errors" id="endStampErrors">
            </ul>
        </div>
    </div>


    <div id="form-element-isText" class="form-element">
        <input type="hidden" name="isText" value="0">
        <label for="isText">
            <input id="isText"
                   name="isText"
                   type="checkbox"
                   dojoType="dijit.form.CheckBox"
                   value="1"
                   checked=false checked=""
                   options="Array"
                   type="checkbox">
            Use Text
        </label>
        <ul class="errors" id="isTextErrors">
        </ul>
    </div>
    <fieldset id="banner-text-container">
        <legend>Banner Text</legend>

        <div id="form-element-text" class="form-element">
            <label for="text">Text</label>
            <textarea id="text"
                      name="text"
                      dojoType="dijit.form.Textarea"
                      trim="true"
                      rows="30" cols="30"></textarea>
            <ul class="errors" id="textErrors">
            </ul>
        </div><br />
        <div dojoType="dijit.TitlePane" id="textTranslatePane" title="Text Translate">

            <div id="form-element-localizedNamezh" class="form-element">
                <label for="localizedNamezh">Name [Chinese]</label>
                <input id="localizedNamezh"
                       type="text"
                       name="localizedNamezh"
                       value=""
                       dojoType="dijit.form.ValidationTextBox"
                       trim="true"
                       maxlength="19" />
                <ul class="errors" id="localizedNamezhErrors">
                </ul>
            </div>

            <div id="form-element-localizedTextzh" class="form-element">
                <label for="localizedTextzh">Text [Chinese]</label>
                <textarea id="localizedTextzh"
                          name="localizedTextzh"
                          dojoType="dijit.form.Textarea"
                          trim="true"
                          rows="30" cols="30"></textarea>
                <ul class="errors" id="localizedTextzhErrors">
                </ul>
            </div>

            <div id="form-element-localizedNamecs" class="form-element">
                <label for="localizedNamecs">Name [Czech]</label>
                <input id="localizedNamecs"
                       type="text"
                       name="localizedNamecs"
                       value=""
                       dojoType="dijit.form.ValidationTextBox"
                       trim="true"
                       maxlength="19" />
                <ul class="errors" id="localizedNamecsErrors">
                </ul>
            </div>

            <div id="form-element-localizedTextcs" class="form-element">
                <label for="localizedTextcs">Text [Czech]</label>
                <textarea id="localizedTextcs"
                          name="localizedTextcs"
                          dojoType="dijit.form.Textarea"
                          trim="true"
                          rows="30" cols="30"></textarea>
                <ul class="errors" id="localizedTextcsErrors">
                </ul>
            </div>

            <div id="form-element-localizedNameen" class="form-element">
                <label for="localizedNameen">Name [English]</label>
                <input id="localizedNameen"
                       type="text"
                       name="localizedNameen"
                       value=""
                       dojoType="dijit.form.ValidationTextBox"
                       trim="true"
                       maxlength="19" />
                <ul class="errors" id="localizedNameenErrors">
                </ul>
            </div>

            <div id="form-element-localizedTexten" class="form-element">
                <label for="localizedTexten">Text [English]</label>
                <textarea id="localizedTexten"
                          name="localizedTexten"
                          dojoType="dijit.form.Textarea"
                          trim="true"
                          rows="30" cols="30"></textarea>
                <ul class="errors" id="localizedTextenErrors">
                </ul>
            </div>

            <div id="form-element-localizedNameka" class="form-element">
                <label for="localizedNameka">Name [Georgian]</label>
                <input id="localizedNameka"
                       type="text"
                       name="localizedNameka"
                       value=""
                       dojoType="dijit.form.ValidationTextBox"
                       trim="true"
                       maxlength="19" />
                <ul class="errors" id="localizedNamekaErrors">
                </ul>
            </div>

            <div id="form-element-localizedTextka" class="form-element">
                <label for="localizedTextka">Text [Georgian]</label>
                <textarea id="localizedTextka"
                          name="localizedTextka"
                          dojoType="dijit.form.Textarea"
                          trim="true"
                          rows="30" cols="30"></textarea>
                <ul class="errors" id="localizedTextkaErrors">
                </ul>
            </div>

            <div id="form-element-localizedNamede" class="form-element">
                <label for="localizedNamede">Name [German]</label>
                <input id="localizedNamede"
                       type="text"
                       name="localizedNamede"
                       value=""
                       dojoType="dijit.form.ValidationTextBox"
                       trim="true"
                       maxlength="19" />
                <ul class="errors" id="localizedNamedeErrors">
                </ul>
            </div>

            <div id="form-element-localizedTextde" class="form-element">
                <label for="localizedTextde">Text [German]</label>
                <textarea id="localizedTextde"
                          name="localizedTextde"
                          dojoType="dijit.form.Textarea"
                          trim="true"
                          rows="30" cols="30"></textarea>
                <ul class="errors" id="localizedTextdeErrors">
                </ul>
            </div>

            <div id="form-element-localizedNameit" class="form-element">
                <label for="localizedNameit">Name [Italian]</label>
                <input id="localizedNameit"
                       type="text"
                       name="localizedNameit"
                       value=""
                       dojoType="dijit.form.ValidationTextBox"
                       trim="true"
                       maxlength="19" />
                <ul class="errors" id="localizedNameitErrors">
                </ul>
            </div>

            <div id="form-element-localizedTextit" class="form-element">
                <label for="localizedTextit">Text [Italian]</label>
                <textarea id="localizedTextit"
                          name="localizedTextit"
                          dojoType="dijit.form.Textarea"
                          trim="true"
                          rows="30" cols="30"></textarea>
                <ul class="errors" id="localizedTextitErrors">
                </ul>
            </div>

            <div id="form-element-localizedNamems" class="form-element">
                <label for="localizedNamems">Name [Malay]</label>
                <input id="localizedNamems"
                       type="text"
                       name="localizedNamems"
                       value=""
                       dojoType="dijit.form.ValidationTextBox"
                       trim="true"
                       maxlength="19" />
                <ul class="errors" id="localizedNamemsErrors">
                </ul>
            </div>

            <div id="form-element-localizedTextms" class="form-element">
                <label for="localizedTextms">Text [Malay]</label>
                <textarea id="localizedTextms"
                          name="localizedTextms"
                          dojoType="dijit.form.Textarea"
                          trim="true"
                          rows="30" cols="30"></textarea>
                <ul class="errors" id="localizedTextmsErrors">
                </ul>
            </div>

            <div id="form-element-localizedNamept" class="form-element">
                <label for="localizedNamept">Name [Portuguese]</label>
                <input id="localizedNamept"
                       type="text"
                       name="localizedNamept"
                       value=""
                       dojoType="dijit.form.ValidationTextBox"
                       trim="true"
                       maxlength="19" />
                <ul class="errors" id="localizedNameptErrors">
                </ul>
            </div>

            <div id="form-element-localizedTextpt" class="form-element">
                <label for="localizedTextpt">Text [Portuguese]</label>
                <textarea id="localizedTextpt"
                          name="localizedTextpt"
                          dojoType="dijit.form.Textarea"
                          trim="true"
                          rows="30" cols="30"></textarea>
                <ul class="errors" id="localizedTextptErrors">
                </ul>
            </div>

            <div id="form-element-localizedNameru" class="form-element">
                <label for="localizedNameru">Name [Russian]</label>
                <input id="localizedNameru"
                       type="text"
                       name="localizedNameru"
                       value=""
                       dojoType="dijit.form.ValidationTextBox"
                       trim="true"
                       maxlength="19" />
                <ul class="errors" id="localizedNameruErrors">
                </ul>
            </div>

            <div id="form-element-localizedTextru" class="form-element">
                <label for="localizedTextru">Text [Russian]</label>
                <textarea id="localizedTextru"
                          name="localizedTextru"
                          dojoType="dijit.form.Textarea"
                          trim="true"
                          rows="30" cols="30"></textarea>
                <ul class="errors" id="localizedTextruErrors">
                </ul>
            </div>

            <div id="form-element-localizedNamees" class="form-element">
                <label for="localizedNamees">Name [Spanish]</label>
                <input id="localizedNamees"
                       type="text"
                       name="localizedNamees"
                       value=""
                       dojoType="dijit.form.ValidationTextBox"
                       trim="true"
                       maxlength="19" />
                <ul class="errors" id="localizedNameesErrors">
                </ul>
            </div>

            <div id="form-element-localizedTextes" class="form-element">
                <label for="localizedTextes">Text [Spanish]</label>
                <textarea id="localizedTextes"
                          name="localizedTextes"
                          dojoType="dijit.form.Textarea"
                          trim="true"
                          rows="30" cols="30"></textarea>
                <ul class="errors" id="localizedTextesErrors">
                </ul>
            </div>

            <div id="form-element-localizedNameth" class="form-element">
                <label for="localizedNameth">Name [Thai]</label>
                <input id="localizedNameth"
                       type="text"
                       name="localizedNameth"
                       value=""
                       dojoType="dijit.form.ValidationTextBox"
                       trim="true"
                       maxlength="19" />
                <ul class="errors" id="localizedNamethErrors">
                </ul>
            </div>

            <div id="form-element-localizedTextth" class="form-element">
                <label for="localizedTextth">Text [Thai]</label>
                <textarea id="localizedTextth"
                          name="localizedTextth"
                          dojoType="dijit.form.Textarea"
                          trim="true"
                          rows="30" cols="30"></textarea>
                <ul class="errors" id="localizedTextthErrors">
                </ul>
            </div>
        </div>
    </fieldset>
    <fieldset id="banner-image-container">
        <legend>Banner Image</legend>
        <dt id="bannerImage-label"><label for="bannerImage" class="optional">Upload banner image</label></dt>
        <dd id="bannerImage-element">
            <input type="hidden" name="MAX_FILE_SIZE" value="2097152" id="MAX_FILE_SIZE" />
            <input type="file" name="bannerImage" id="bannerImage" />
        </dd><br />


        <div dojoType="dijit.TitlePane" id="resourceTranslatePane" title="Banner Image Translate">
            <dt id="localizedBannerImagezh-label"><label for="localizedBannerImagezh" class="optional">Upload banner image [Chinese]</label></dt>
            <dd id="localizedBannerImagezh-element">
                <input type="file" name="localizedBannerImagezh" id="localizedBannerImagezh" />
            </dd>
            <dt id="localizedBannerImagecs-label"><label for="localizedBannerImagecs" class="optional">Upload banner image [Czech]</label></dt>
            <dd id="localizedBannerImagecs-element">
                <input type="file" name="localizedBannerImagecs" id="localizedBannerImagecs" />
            </dd>
            <dt id="localizedBannerImageen-label"><label for="localizedBannerImageen" class="optional">Upload banner image [English]</label></dt>
            <dd id="localizedBannerImageen-element">
                <input type="file" name="localizedBannerImageen" id="localizedBannerImageen" />
            </dd>
            <dt id="localizedBannerImageka-label"><label for="localizedBannerImageka" class="optional">Upload banner image [Georgian]</label></dt>
            <dd id="localizedBannerImageka-element">
                <input type="file" name="localizedBannerImageka" id="localizedBannerImageka" />
            </dd>
            <dt id="localizedBannerImagede-label"><label for="localizedBannerImagede" class="optional">Upload banner image [German]</label></dt>
            <dd id="localizedBannerImagede-element">
                <input type="file" name="localizedBannerImagede" id="localizedBannerImagede" />
            </dd>
            <dt id="localizedBannerImageit-label"><label for="localizedBannerImageit" class="optional">Upload banner image [Italian]</label></dt>
            <dd id="localizedBannerImageit-element">
                <input type="file" name="localizedBannerImageit" id="localizedBannerImageit" />
            </dd>
            <dt id="localizedBannerImagems-label"><label for="localizedBannerImagems" class="optional">Upload banner image [Malay]</label></dt>
            <dd id="localizedBannerImagems-element">
                <input type="file" name="localizedBannerImagems" id="localizedBannerImagems" />
            </dd>
            <dt id="localizedBannerImagept-label"><label for="localizedBannerImagept" class="optional">Upload banner image [Portuguese]</label></dt>
            <dd id="localizedBannerImagept-element">
                <input type="file" name="localizedBannerImagept" id="localizedBannerImagept" />
            </dd>
            <dt id="localizedBannerImageru-label"><label for="localizedBannerImageru" class="optional">Upload banner image [Russian]</label></dt>
            <dd id="localizedBannerImageru-element">
                <input type="file" name="localizedBannerImageru" id="localizedBannerImageru" />
            </dd>
            <dt id="localizedBannerImagees-label"><label for="localizedBannerImagees" class="optional">Upload banner image [Spanish]</label></dt>
            <dd id="localizedBannerImagees-element">
                <input type="file" name="localizedBannerImagees" id="localizedBannerImagees" />
            </dd>
            <dt id="localizedBannerImageth-label"><label for="localizedBannerImageth" class="optional">Upload banner image [Thai]</label></dt>
            <dd id="localizedBannerImageth-element">
                <input type="file" name="localizedBannerImageth" id="localizedBannerImageth" />
            </dd>
        </div>

    </fieldset>

    <br />

    <button id=submit dojoType="dijit.form.Button" type="submit" name="submit" value="">
        Add
    </button>

    <button id=cancelButton dojoType="dijit.form.Button" type="button"
            name="cancelButton" value="">
        Cancel
    </button>
    <script>
        formCancelButton.init('banner/banner/list', 'cancelButton');
    </script>
</div>