﻿
@{
    ViewBag.Title = "BannerList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h3>Banner List <a href="http://docs.evenbetgaming.com/articles/Administration_Panel/Banner List.html" target="_blank"><sup><i class="fa fa-question-circle"></i></sup></a></h3>
<br />
<div id="dynamicContent">
    <table id='banners' class="listing-table">
        <thead class="listHead">
            <tr>
                <th data-meta-skip-manage='true'>#</th>
                <th data-meta-key='f_id' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_id" orderType="DESC">
                            Id
                            <img src="img/arrow_up.png" />
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_name' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_name" orderType="">
                            Name
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_owner_id' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_owner_id" orderType="">
                            Owner
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_banner_place_id' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_banner_place_id" orderType="">
                            Place
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_priority' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_priority" orderType="">
                            Priority
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='(NOT f_use_stamp
                    OR f_use_stamp AND f_start_stamp <= UTC_TIMESTAMP() AND
                    (NOT f_end_stamp OR f_end_stamp >= UTC_TIMESTAMP()))' data-meta-visibility="true"><nobr>
                                    <a class="headerLink orderLink" orderBy="(NOT f_use_stamp
                    OR f_use_stamp AND f_start_stamp <= UTC_TIMESTAMP() AND
                    (NOT f_end_stamp OR f_end_stamp >= UTC_TIMESTAMP()))" orderType="">
                        Visibility
                                                                    </a>
                            </nobr></th>
                <th data-meta-key='f_active' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_active" orderType="">
                            Active
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='buttons' data-meta-visibility="true">
                    <nobr>
                        Actions
                    </nobr>
                </th>
            </tr>
        </thead>
        <thead class="listFilter">
            <tr>
                <th>&nbsp;</th>
                <th>
                    <input type="text" name="f_id" id="f_id" value="" filter="1" sql="banners.f_id" orderable="1" nonHtml="" style="width:50px;" class="filter" />
                </th>
                <th>
                    <input type="text" name="f_name" id="f_name" value="" filter="1" sql="banners.f_name" orderable="1" nonHtml="" class="filter" />
                </th>
                <th>
                    <input type="text" name="f_owner_id" id="f_owner_id" value="" filter="1" orderable="1" sql="f_owner_id" nonHtml="" class="filter" />
                </th>
                <th>
                    <input type="text" name="f_banner_place_id" id="f_banner_place_id" value="" filter="1" sql_name="place.f_name" orderable="1" sql="f_banner_place_id" nonHtml="" class="filter" />
                </th>
                <th>&nbsp;</th>
                <th>
                    <select name="NOTf_use_stampORf_use_stampANDf_start_stampUTC_TIMESTAMPANDNOTf_end_stampORf_end_stampUTC_TIMESTAMP" id="NOTf_use_stampORf_use_stampANDf_start_stampUTC_TIMESTAMPANDNOTf_end_stampORf_end_stampUTC_TIMESTAMP" filter="1" orderable="1" sql="(NOT f_use_stamp
                    OR f_use_stamp AND f_start_stamp &lt;= UTC_TIMESTAMP() AND
                    (NOT f_end_stamp OR f_end_stamp &gt;= UTC_TIMESTAMP()))" nonHtml="" class="filter">
                        <option value="">-</option>
                        <option value="1">Yes</option>
                        <option value="0">No</option>
                    </select>
                </th>
                <th>
                    <select name="f_active" id="f_active" filter="1" orderable="1" sql="f_active" nonHtml="" class="filter">
                        <option value="">-</option>
                        <option value="1">Yes</option>
                        <option value="0">No</option>
                    </select>
                </th>
                <th>

                    <button name="butFilter" id="butFilter" type="button">Apply Filter</button>

                    <button name="butReset" id="butReset" type="button">Reset Filter</button>
                </th>

            </tr>
        </thead>

    </table>
</div>