﻿
@{
    ViewBag.Title = "BannerPlaceList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Banner Place List <a href="http://docs.evenbetgaming.com/articles/Administration_Panel/Banner Place List.html" target="_blank"><sup><i class="fa fa-question-circle"></i></sup></a></h3>
<br />
<div id="dynamicContent">
    <table id='banner_places' class="listing-table">
        <thead class="listHead">
            <tr>
                <th data-meta-skip-manage='true'>#</th>
                <th data-meta-key='f_id' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_id" orderType="DESC">
                            Id
                            <img src="img/arrow_up.png" />
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_name' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_name" orderType="">
                            Name
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='(CONCAT(f_width, "x", f_height))' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="(CONCAT(f_width, " x", f_height))" orderType="">
                            Size
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='(COUNT(1))' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="(COUNT(1))" orderType="">
                            Banner Count
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='buttons' data-meta-visibility="true">
                    <nobr>
                        Actions
                    </nobr>
                </th>
            </tr>
        </thead>
        <thead class="listFilter">
            <tr>
                <th>&nbsp;</th>
                <th>
                    <input type="text" name="f_id" id="f_id" value="" filter="1" sql="bp.f_id" orderable="1" nonHtml="" style="width:50px;" class="filter" />
                </th>
                <th>
                    <input type="text" name="f_name" id="f_name" value="" filter="1" sql="bp.f_name" orderable="1" nonHtml="" class="filter" />
                </th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>

                    <button name="butFilter" id="butFilter" type="button">Apply Filter</button>

                    <button name="butReset" id="butReset" type="button">Reset Filter</button>
                </th>

            </tr>
        </thead>

        <tr class="odd">
            <td>1</td>
            <td>1</td>
            <td>desktoplobby</td>
            <td>378x78</td>
            <td>1</td>
            <td>
                <div class="dropdown text-center">
                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                            type="button" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-bars"></i>
                    </button>
                    <div class="dropdown-menu table-dropdown">
                        <a href="/webadmin/banner/banner-place/edit/id/1">
                            <div class="edit" id="edit-1" title="Edit banner place"></div>
                        </a>


                    </div>
                </div>
            </td>

        </tr>
    </table>
    <div class='rowCount'>
        Number of rows: 1
        &nbsp;|&nbsp;
        Export To:
        <a href="/webadmin/banner/banner-place/list/_output/xlsx">Excel</a> | <a href="/webadmin/banner/banner-place/list/_output/csv">CSV</a> | <a href="/webadmin/banner/banner-place/list/_output/ods">OpenDocument</a>
    </div>
    <div class="paginator-controls" id="blockPaginatorControls">
    </div>
    <div class="limit-controls" style="display: inline-block;">
        <div id="perpage">Per page:</div>
        <select class="limit-links">
            <option data-href="/webadmin/banner/banner-place/list/limit/10">10</option>
            <option data-href="/webadmin/banner/banner-place/list/limit/25">25</option>
            <option selected data-href="/webadmin/banner/banner-place/list/limit/50">50</option>
            <option data-href="/webadmin/banner/banner-place/list/limit/100">100</option>
        </select>
    </div>
</div>