﻿
@{
    ViewBag.Title = "BonusConfig";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h3>Bonus Settings <a href="http://docs.evenbetgaming.com/articles/Administration_Panel/Configuration %28Bonus settings%29.html" target="_blank"><sup><i class="fa fa-question-circle"></i></sup></a></h3>
<div class="row">
    <div class="col-lg-12">
        <div class="box box-primary">
            <form action="" enctype="application/x-www-form-urlencoded" method="post">
                <div class="box-body">

                    <div id="form-element-bonus_start_date" class="form-element">
                        <label for="bonus_start_date" class="required">Start Date</label>
                        <input id="bonus_start_date"
                               type="text"
                               name="bonus_start_date"
                               value="2018-09-17"
                               dojoType="dijit.form.DateTextBox"
                               required="true" />
                        <ul class="errors" id="bonus_start_dateErrors">
                        </ul>
                    </div>

                    <div id="form-element-bonus_max_amount" class="form-element">
                        <label for="bonus_max_amount" class="required">Maximum amount of bonus</label>
                        <input id="bonus_max_amount"
                               type="text"
                               name="bonus_max_amount"
                               value="10000"
                               dojoType="dijit.form.ValidationTextBox"
                               trim="true"
                               required="true" min="1" max="999999999999.99" />
                        <ul class="errors" id="bonus_max_amountErrors">
                        </ul>
                    </div>

                    <div id="form-element-bonus_max_count_of_deposits" class="form-element">
                        <label for="bonus_max_count_of_deposits" class="required">Maximum count of deposits</label>

                        <input id="bonus_max_count_of_deposits"
                               type="text"
                               name="bonus_max_count_of_deposits"
                               value="3"
                               smallDelta="10"
                               dojoType="dijit.form.NumberSpinner"
                               min="1" max="1000" required="true" constraints="{
            min: 1,
             max: 1000,             places: 0
         }" />
                        <ul class="errors" id="bonus_max_count_of_depositsErrors">
                        </ul>
                    </div>

                    <div id="form-element-bonus_amount_of_partial_receiving" class="form-element">
                        <label for="bonus_amount_of_partial_receiving" class="required">Amount of partial receiving</label>
                        <input id="bonus_amount_of_partial_receiving"
                               type="text"
                               name="bonus_amount_of_partial_receiving"
                               value="100"
                               dojoType="dijit.form.ValidationTextBox"
                               trim="true"
                               required="true" min="0.01" max="999999999999.99" />
                        <ul class="errors" id="bonus_amount_of_partial_receivingErrors">
                        </ul>
                    </div>

                    <div id="form-element-bonus_period_to_make_deposits" class="form-element">
                        <label for="bonus_period_to_make_deposits" class="required">Period to make deposits (in days)</label>

                        <input id="bonus_period_to_make_deposits"
                               type="text"
                               name="bonus_period_to_make_deposits"
                               value="90"
                               smallDelta="10"
                               dojoType="dijit.form.NumberSpinner"
                               min="1" max="99999999999" required="true" constraints="{
            min: 1,
             max: 99999999999,             places: 0
         }" />
                        <ul class="errors" id="bonus_period_to_make_depositsErrors">
                        </ul>
                    </div>

                    <div id="form-element-bonus_duration" class="form-element">
                        <label for="bonus_duration" class="required">Bonus duration (in days)</label>

                        <input id="bonus_duration"
                               type="text"
                               name="bonus_duration"
                               value="180"
                               smallDelta="10"
                               dojoType="dijit.form.NumberSpinner"
                               min="1" max="99999999999" required="true" constraints="{
            min: 1,
             max: 99999999999,             places: 0
         }" />
                        <ul class="errors" id="bonus_durationErrors">
                        </ul>
                    </div>

                    <div id="form-element-bonus_conversion_ratio" class="form-element">
                        <label for="bonus_conversion_ratio" class="required">Conversion ratio (points/cent)</label>
                        <input id="bonus_conversion_ratio"
                               type="text"
                               name="bonus_conversion_ratio"
                               value="40"
                               dojoType="dijit.form.ValidationTextBox"
                               trim="true"
                               required="true" max="999999999999.99" />
                        <ul class="errors" id="bonus_conversion_ratioErrors">
                        </ul>
                    </div>
                </div>
                <div class="box-footer">

                    <button id=submit dojoType="dijit.form.Button" type="submit" name="submit" value="">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>