﻿
@{
    ViewBag.Title = "BonusList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h3>Bonus List<a href="http://docs.evenbetgaming.com/articles/Administration_Panel/Bonus List.html" target="_blank"><sup><i class="fa fa-question-circle"></i></sup></a></h3>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
        </div>
        <div class="box">
            <div class="box-body">
                <div id="dynamicContent">
                    <div class="custom-dropdown-menu" id="columnsControls">
                    </div>

                    <table id='bonus_bonus' class="listing-table" data-dt-not-fixed-cols="true">
                        <thead class="listHead">
                            <tr>
                                <th data-meta-key='f_id'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_id"
                                           orderType="DESC">
                                            ID
                                            <img src="img/arrow_up.png" />
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_player_id'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_player_id"
                                           orderType="">
                                            User
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_status'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_status"
                                           orderType="">
                                            Status
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_start_date'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_start_date"
                                           orderType="">
                                            Start date
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_expiration_date'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_expiration_date"
                                           orderType="">
                                            Expiration date
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_total_amount'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_total_amount"
                                           orderType="">
                                            Total amount
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_received_amount'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_received_amount"
                                           orderType="">
                                            Received amount
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-skip-manage='true'>
                                    <div>
                                        <button type="button" class="btn btn-primary custom-dropdown" id="columnControlsBtn">
                                            <img src="img/icons/menu.svg" alt="+">
                                        </button>
                                    </div>
                                </th>
                            </tr>
                            <tr class="listFilter">
                                <th>
                                    <input type="text" name="f_id" id="f_id" value="" filter="1" sql="b.f_id" orderable="1" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <input type="text" name="f_player_id" id="f_player_id" value="" filter="1" sql_id="pl.f_id" sql_nick="pl.f_nick" orderable="1" sql="f_player_id" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <select name="f_status" id="f_status" filter="1" orderable="1" sql="f_status" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="0">Waiting</option>
                                        <option value="1">Active</option>
                                        <option value="2">Expired</option>
                                        <option value="3">Completed</option>
                                    </select>
                                </th>
                                <th>
                                    <input type="text" name="f_start_date" id="f_start_date" value="" filter="1" style="width: 120px" orderable="1" sql="f_start_date" nonHtml="" class="filter" readonly="readonly" onclick='displayDatePicker("f_start_date", false, "ymd", "-");' />
                                </th>
                                <th>
                                    <input type="text" name="f_expiration_date" id="f_expiration_date" value="" filter="1" style="width: 120px" orderable="1" sql="f_expiration_date" nonHtml="" class="filter" readonly="readonly" onclick='displayDatePicker("f_expiration_date", false, "ymd", "-");' />
                                </th>
                                <th>
                                    <input type="text" name="f_total_amount" id="f_total_amount" value="" filter="1" valueExt="82" orderable="1" sql="f_total_amount" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <input type="text" name="f_received_amount" id="f_received_amount" value="" filter="1" valueExt="82" orderable="1" sql="f_received_amount" nonHtml="" class="filter" />
                                </th>
                                <th>

                                    <button name="butFilter" id="butFilter" type="button">Apply Filter</button>

                                    <button name="butReset" id="butReset" type="button">Reset Filter</button>
                                </th>

                            </tr>
                        </thead>


                        <tr class="odd ">
                            <td>
                                <a href="/webadmin/bonus/bonus/info/id/1">
                                    1
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/19709">01YJJ6VV</a></td>
                            <td>Expired</td>
                            <td>2018/07/09 05:36:08</td>
                            <td>2018/11/06 05:36:08</td>
                            <td>20.00</td>
                            <td>0.00</td>
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/bonus/receiving/list-by-bonus/id/1">
                                            <div class="transactions" id="transactions-1"></div>View receivings
                                        </a>


                                    </div>
                                </div>
                            </td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <a href="/webadmin/bonus/bonus/info/id/2">
                                    2
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/25649">S6DGOC88</a></td>
                            <td>Expired</td>
                            <td>2018/09/04 05:57:10</td>
                            <td>2018/11/03 05:57:10</td>
                            <td>53.70</td>
                            <td>0.00</td>
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/bonus/receiving/list-by-bonus/id/2">
                                            <div class="transactions" id="transactions-2"></div>View receivings
                                        </a>


                                    </div>
                                </div>
                            </td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <a href="/webadmin/bonus/bonus/info/id/3">
                                    3
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/279637">SPWHPSOO</a></td>
                            <td>Expired</td>
                            <td>2018/09/04 06:00:44</td>
                            <td>2018/11/03 06:00:44</td>
                            <td>0.07</td>
                            <td>0.00</td>
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/bonus/receiving/list-by-bonus/id/3">
                                            <div class="transactions" id="transactions-3"></div>View receivings
                                        </a>


                                    </div>
                                </div>
                            </td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <a href="/webadmin/bonus/bonus/info/id/4">
                                    4
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/132725">YMN3CZBB</a></td>
                            <td>Expired</td>
                            <td>2018/09/04 07:30:06</td>
                            <td>2018/11/03 07:30:06</td>
                            <td>39.79</td>
                            <td>0.00</td>
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/bonus/receiving/list-by-bonus/id/4">
                                            <div class="transactions" id="transactions-4"></div>View receivings
                                        </a>


                                    </div>
                                </div>
                            </td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <a href="/webadmin/bonus/bonus/info/id/5">
                                    5
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/363754">2SHTTT66</a></td>
                            <td>Expired</td>
                            <td>2018/09/05 07:50:06</td>
                            <td>2019/03/04 07:50:06</td>
                            <td>39.24</td>
                            <td>0.00</td>
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/bonus/receiving/list-by-bonus/id/5">
                                            <div class="transactions" id="transactions-5"></div>View receivings
                                        </a>


                                    </div>
                                </div>
                            </td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <a href="/webadmin/bonus/bonus/info/id/6">
                                    6
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/25649">S6DGOC88</a></td>
                            <td>Expired</td>
                            <td>2018/09/07 03:21:26</td>
                            <td>2019/03/06 03:21:26</td>
                            <td>10.00</td>
                            <td>0.00</td>
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/bonus/receiving/list-by-bonus/id/6">
                                            <div class="transactions" id="transactions-6"></div>View receivings
                                        </a>


                                    </div>
                                </div>
                            </td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <a href="/webadmin/bonus/bonus/info/id/7">
                                    7
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/374391">0B418BEE</a></td>
                            <td>Expired</td>
                            <td>2018/09/07 05:54:14</td>
                            <td>2019/03/06 05:54:14</td>
                            <td>10.00</td>
                            <td>0.00</td>
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/bonus/receiving/list-by-bonus/id/7">
                                            <div class="transactions" id="transactions-7"></div>View receivings
                                        </a>


                                    </div>
                                </div>
                            </td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <a href="/webadmin/bonus/bonus/info/id/8">
                                    8
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/374391">0B418BEE</a></td>
                            <td>Expired</td>
                            <td>2018/09/10 00:47:21</td>
                            <td>2019/03/09 00:47:21</td>
                            <td>0.10</td>
                            <td>0.00</td>
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/bonus/receiving/list-by-bonus/id/8">
                                            <div class="transactions" id="transactions-8"></div>View receivings
                                        </a>


                                    </div>
                                </div>
                            </td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <a href="/webadmin/bonus/bonus/info/id/9">
                                    9
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/132725">YMN3CZBB</a></td>
                            <td>Expired</td>
                            <td>2018/09/10 05:30:04</td>
                            <td>2019/03/09 05:30:04</td>
                            <td>45.80</td>
                            <td>0.00</td>
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/bonus/receiving/list-by-bonus/id/9">
                                            <div class="transactions" id="transactions-9"></div>View receivings
                                        </a>


                                    </div>
                                </div>
                            </td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <a href="/webadmin/bonus/bonus/info/id/10">
                                    10
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/393002">OP46LCQQ</a></td>
                            <td>Expired</td>
                            <td>2018/09/10 15:20:04</td>
                            <td>2019/03/09 15:20:04</td>
                            <td>27.57</td>
                            <td>0.00</td>
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/bonus/receiving/list-by-bonus/id/10">
                                            <div class="transactions" id="transactions-10"></div>View receivings
                                        </a>


                                    </div>
                                </div>
                            </td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <a href="/webadmin/bonus/bonus/info/id/11">
                                    11
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/393306">F3V638LL</a></td>
                            <td>Expired</td>
                            <td>2018/09/10 16:50:03</td>
                            <td>2019/03/09 16:50:03</td>
                            <td>36.84</td>
                            <td>0.00</td>
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/bonus/receiving/list-by-bonus/id/11">
                                            <div class="transactions" id="transactions-11"></div>View receivings
                                        </a>


                                    </div>
                                </div>
                            </td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <a href="/webadmin/bonus/bonus/info/id/12">
                                    12
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/407708">86TKAXRR</a></td>
                            <td>Expired</td>
                            <td>2018/09/13 08:46:01</td>
                            <td>2019/03/12 08:46:01</td>
                            <td>1000.00</td>
                            <td>0.00</td>
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/bonus/receiving/list-by-bonus/id/12">
                                            <div class="transactions" id="transactions-12"></div>View receivings
                                        </a>


                                    </div>
                                </div>
                            </td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <a href="/webadmin/bonus/bonus/info/id/13">
                                    13
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/407708">86TKAXRR</a></td>
                            <td>Expired</td>
                            <td>2018/09/13 13:20:03</td>
                            <td>2019/03/12 13:20:03</td>
                            <td>0.10</td>
                            <td>0.00</td>
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/bonus/receiving/list-by-bonus/id/13">
                                            <div class="transactions" id="transactions-13"></div>View receivings
                                        </a>


                                    </div>
                                </div>
                            </td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <a href="/webadmin/bonus/bonus/info/id/14">
                                    14
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/409612">DXPG8500</a></td>
                            <td>Expired</td>
                            <td>2018/09/13 15:20:03</td>
                            <td>2019/03/12 15:20:03</td>
                            <td>36.00</td>
                            <td>0.00</td>
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/bonus/receiving/list-by-bonus/id/14">
                                            <div class="transactions" id="transactions-14"></div>View receivings
                                        </a>


                                    </div>
                                </div>
                            </td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <a href="/webadmin/bonus/bonus/info/id/15">
                                    15
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/430914">Y9EB1SII</a></td>
                            <td>Expired</td>
                            <td>2018/09/17 12:50:04</td>
                            <td>2019/03/16 12:50:04</td>
                            <td>45.12</td>
                            <td>0.00</td>
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/bonus/receiving/list-by-bonus/id/15">
                                            <div class="transactions" id="transactions-15"></div>View receivings
                                        </a>


                                    </div>
                                </div>
                            </td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <a href="/webadmin/bonus/bonus/info/id/16">
                                    16
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/407708">86TKAXRR</a></td>
                            <td>Expired</td>
                            <td>2018/09/18 07:44:31</td>
                            <td>2019/03/17 07:44:31</td>
                            <td>100.00</td>
                            <td>0.00</td>
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/bonus/receiving/list-by-bonus/id/16">
                                            <div class="transactions" id="transactions-16"></div>View receivings
                                        </a>


                                    </div>
                                </div>
                            </td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <a href="/webadmin/bonus/bonus/info/id/17">
                                    17
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/437284">TXVIYNOO</a></td>
                            <td>Expired</td>
                            <td>2018/09/18 14:30:03</td>
                            <td>2019/03/17 14:30:03</td>
                            <td>36.79</td>
                            <td>0.00</td>
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/bonus/receiving/list-by-bonus/id/17">
                                            <div class="transactions" id="transactions-17"></div>View receivings
                                        </a>


                                    </div>
                                </div>
                            </td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <a href="/webadmin/bonus/bonus/info/id/18">
                                    18
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/437806">17IGXNLL</a></td>
                            <td>Expired</td>
                            <td>2018/09/18 16:04:32</td>
                            <td>2019/03/17 16:04:32</td>
                            <td>2.00</td>
                            <td>0.00</td>
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/bonus/receiving/list-by-bonus/id/18">
                                            <div class="transactions" id="transactions-18"></div>View receivings
                                        </a>


                                    </div>
                                </div>
                            </td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <a href="/webadmin/bonus/bonus/info/id/19">
                                    19
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/156446">66PJOJII</a></td>
                            <td>Expired</td>
                            <td>2018/09/18 16:09:46</td>
                            <td>2019/03/17 16:09:46</td>
                            <td>2.00</td>
                            <td>0.00</td>
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/bonus/receiving/list-by-bonus/id/19">
                                            <div class="transactions" id="transactions-19"></div>View receivings
                                        </a>


                                    </div>
                                </div>
                            </td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <a href="/webadmin/bonus/bonus/info/id/20">
                                    20
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/437806">17IGXNLL</a></td>
                            <td>Expired</td>
                            <td>2018/09/18 16:12:13</td>
                            <td>2019/03/17 16:12:13</td>
                            <td>4.00</td>
                            <td>0.00</td>
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/bonus/receiving/list-by-bonus/id/20">
                                            <div class="transactions" id="transactions-20"></div>View receivings
                                        </a>


                                    </div>
                                </div>
                            </td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <a href="/webadmin/bonus/bonus/info/id/21">
                                    21
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/437284">TXVIYNOO</a></td>
                            <td>Expired</td>
                            <td>2018/09/19 10:35:42</td>
                            <td>2019/03/18 10:35:42</td>
                            <td>11.86</td>
                            <td>0.00</td>
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/bonus/receiving/list-by-bonus/id/21">
                                            <div class="transactions" id="transactions-21"></div>View receivings
                                        </a>


                                    </div>
                                </div>
                            </td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <a href="/webadmin/bonus/bonus/info/id/22">
                                    22
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/133032">UB8NQS22</a></td>
                            <td>Expired</td>
                            <td>2018/09/19 10:36:02</td>
                            <td>2019/03/18 10:36:02</td>
                            <td>20.00</td>
                            <td>0.00</td>
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/bonus/receiving/list-by-bonus/id/22">
                                            <div class="transactions" id="transactions-22"></div>View receivings
                                        </a>


                                    </div>
                                </div>
                            </td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <a href="/webadmin/bonus/bonus/info/id/23">
                                    23
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/133032">UB8NQS22</a></td>
                            <td>Expired</td>
                            <td>2018/09/19 10:36:10</td>
                            <td>2019/03/18 10:36:10</td>
                            <td>80.00</td>
                            <td>0.00</td>
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/bonus/receiving/list-by-bonus/id/23">
                                            <div class="transactions" id="transactions-23"></div>View receivings
                                        </a>


                                    </div>
                                </div>
                            </td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <a href="/webadmin/bonus/bonus/info/id/24">
                                    24
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/133032">UB8NQS22</a></td>
                            <td>Expired</td>
                            <td>2018/09/19 10:36:54</td>
                            <td>2019/03/18 10:36:54</td>
                            <td>900.00</td>
                            <td>0.00</td>
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/bonus/receiving/list-by-bonus/id/24">
                                            <div class="transactions" id="transactions-24"></div>View receivings
                                        </a>


                                    </div>
                                </div>
                            </td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <a href="/webadmin/bonus/bonus/info/id/25">
                                    25
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/437877">3B011088</a></td>
                            <td>Expired</td>
                            <td>2018/09/19 10:36:34</td>
                            <td>2019/03/18 10:36:34</td>
                            <td>100.00</td>
                            <td>0.00</td>
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/bonus/receiving/list-by-bonus/id/25">
                                            <div class="transactions" id="transactions-25"></div>View receivings
                                        </a>


                                    </div>
                                </div>
                            </td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <a href="/webadmin/bonus/bonus/info/id/26">
                                    26
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/437877">3B011088</a></td>
                            <td>Expired</td>
                            <td>2018/09/19 10:36:40</td>
                            <td>2019/03/18 10:36:40</td>
                            <td>900.00</td>
                            <td>0.00</td>
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/bonus/receiving/list-by-bonus/id/26">
                                            <div class="transactions" id="transactions-26"></div>View receivings
                                        </a>


                                    </div>
                                </div>
                            </td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <a href="/webadmin/bonus/bonus/info/id/27">
                                    27
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/437284">TXVIYNOO</a></td>
                            <td>Expired</td>
                            <td>2018/09/19 10:37:09</td>
                            <td>2019/03/18 10:37:09</td>
                            <td>980.00</td>
                            <td>0.00</td>
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/bonus/receiving/list-by-bonus/id/27">
                                            <div class="transactions" id="transactions-27"></div>View receivings
                                        </a>


                                    </div>
                                </div>
                            </td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <a href="/webadmin/bonus/bonus/info/id/28">
                                    28
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/437806">17IGXNLL</a></td>
                            <td>Expired</td>
                            <td>2018/09/19 10:42:03</td>
                            <td>2019/03/18 10:42:03</td>
                            <td>982.81</td>
                            <td>0.00</td>
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/bonus/receiving/list-by-bonus/id/28">
                                            <div class="transactions" id="transactions-28"></div>View receivings
                                        </a>


                                    </div>
                                </div>
                            </td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <a href="/webadmin/bonus/bonus/info/id/29">
                                    29
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/442729">G7WP7D88</a></td>
                            <td>Expired</td>
                            <td>2018/09/19 12:21:17</td>
                            <td>2019/03/18 12:21:17</td>
                            <td>1.00</td>
                            <td>0.00</td>
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/bonus/receiving/list-by-bonus/id/29">
                                            <div class="transactions" id="transactions-29"></div>View receivings
                                        </a>


                                    </div>
                                </div>
                            </td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <a href="/webadmin/bonus/bonus/info/id/30">
                                    30
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/442782">1F3DLWUU</a></td>
                            <td>Expired</td>
                            <td>2018/09/19 12:21:12</td>
                            <td>2019/03/18 12:21:12</td>
                            <td>1.00</td>
                            <td>0.00</td>
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/bonus/receiving/list-by-bonus/id/30">
                                            <div class="transactions" id="transactions-30"></div>View receivings
                                        </a>


                                    </div>
                                </div>
                            </td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <a href="/webadmin/bonus/bonus/info/id/31">
                                    31
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/442796">QIWB75ZZ</a></td>
                            <td>Expired</td>
                            <td>2018/09/19 12:21:06</td>
                            <td>2019/03/18 12:21:06</td>
                            <td>1.00</td>
                            <td>0.00</td>
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/bonus/receiving/list-by-bonus/id/31">
                                            <div class="transactions" id="transactions-31"></div>View receivings
                                        </a>


                                    </div>
                                </div>
                            </td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <a href="/webadmin/bonus/bonus/info/id/32">
                                    32
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/443002">AL9IIJYY</a></td>
                            <td>Expired</td>
                            <td>2018/09/19 13:03:12</td>
                            <td>2019/03/18 13:03:12</td>
                            <td>1.00</td>
                            <td>0.00</td>
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/bonus/receiving/list-by-bonus/id/32">
                                            <div class="transactions" id="transactions-32"></div>View receivings
                                        </a>


                                    </div>
                                </div>
                            </td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <a href="/webadmin/bonus/bonus/info/id/33">
                                    33
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/443031">468OVSS</a></td>
                            <td>Expired</td>
                            <td>2018/09/19 13:05:10</td>
                            <td>2019/03/18 13:05:10</td>
                            <td>1.00</td>
                            <td>0.00</td>
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/bonus/receiving/list-by-bonus/id/33">
                                            <div class="transactions" id="transactions-33"></div>View receivings
                                        </a>


                                    </div>
                                </div>
                            </td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <a href="/webadmin/bonus/bonus/info/id/34">
                                    34
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/443002">AL9IIJYY</a></td>
                            <td>Expired</td>
                            <td>2018/09/19 13:18:07</td>
                            <td>2019/03/18 13:18:07</td>
                            <td>1000.00</td>
                            <td>0.00</td>
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/bonus/receiving/list-by-bonus/id/34">
                                            <div class="transactions" id="transactions-34"></div>View receivings
                                        </a>


                                    </div>
                                </div>
                            </td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <a href="/webadmin/bonus/bonus/info/id/35">
                                    35
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/443031">468OVSS</a></td>
                            <td>Expired</td>
                            <td>2018/09/19 13:18:02</td>
                            <td>2019/03/18 13:18:02</td>
                            <td>1000.00</td>
                            <td>0.00</td>
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/bonus/receiving/list-by-bonus/id/35">
                                            <div class="transactions" id="transactions-35"></div>View receivings
                                        </a>


                                    </div>
                                </div>
                            </td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <a href="/webadmin/bonus/bonus/info/id/36">
                                    36
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/443069">L6P98MDD</a></td>
                            <td>Expired</td>
                            <td>2018/09/19 13:18:15</td>
                            <td>2019/03/18 13:18:15</td>
                            <td>1000.00</td>
                            <td>0.00</td>
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/bonus/receiving/list-by-bonus/id/36">
                                            <div class="transactions" id="transactions-36"></div>View receivings
                                        </a>


                                    </div>
                                </div>
                            </td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <a href="/webadmin/bonus/bonus/info/id/37">
                                    37
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/436103">GZOD444</a></td>
                            <td>Expired</td>
                            <td>2018/09/20 05:37:14</td>
                            <td>2019/03/19 05:37:14</td>
                            <td>25.00</td>
                            <td>0.00</td>
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/bonus/receiving/list-by-bonus/id/37">
                                            <div class="transactions" id="transactions-37"></div>View receivings
                                        </a>


                                    </div>
                                </div>
                            </td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <a href="/webadmin/bonus/bonus/info/id/38">
                                    38
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/442729">G7WP7D88</a></td>
                            <td>Expired</td>
                            <td>2018/09/27 08:28:04</td>
                            <td>2019/03/26 08:28:04</td>
                            <td>50.00</td>
                            <td>0.00</td>
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/bonus/receiving/list-by-bonus/id/38">
                                            <div class="transactions" id="transactions-38"></div>View receivings
                                        </a>


                                    </div>
                                </div>
                            </td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <a href="/webadmin/bonus/bonus/info/id/39">
                                    39
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/534288">NS4RN922</a></td>
                            <td>Expired</td>
                            <td>2018/10/05 06:34:04</td>
                            <td>2019/04/03 06:34:04</td>
                            <td>25.00</td>
                            <td>0.00</td>
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/bonus/receiving/list-by-bonus/id/39">
                                            <div class="transactions" id="transactions-39"></div>View receivings
                                        </a>


                                    </div>
                                </div>
                            </td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <a href="/webadmin/bonus/bonus/info/id/40">
                                    40
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/451912">W1POULPP</a></td>
                            <td>Expired</td>
                            <td>2018/10/05 06:40:05</td>
                            <td>2019/04/03 06:40:05</td>
                            <td>1.00</td>
                            <td>0.00</td>
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/bonus/receiving/list-by-bonus/id/40">
                                            <div class="transactions" id="transactions-40"></div>View receivings
                                        </a>


                                    </div>
                                </div>
                            </td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <a href="/webadmin/bonus/bonus/info/id/41">
                                    41
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/698987">K8PY3QFF</a></td>
                            <td>Expired</td>
                            <td>2018/10/30 11:30:05</td>
                            <td>2019/04/28 11:30:05</td>
                            <td>36.01</td>
                            <td>0.00</td>
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/bonus/receiving/list-by-bonus/id/41">
                                            <div class="transactions" id="transactions-41"></div>View receivings
                                        </a>


                                    </div>
                                </div>
                            </td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <a href="/webadmin/bonus/bonus/info/id/42">
                                    42
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/698987">K8PY3QFF</a></td>
                            <td>Expired</td>
                            <td>2018/11/05 14:40:04</td>
                            <td>2019/05/04 14:40:04</td>
                            <td>44.17</td>
                            <td>0.00</td>
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/bonus/receiving/list-by-bonus/id/42">
                                            <div class="transactions" id="transactions-42"></div>View receivings
                                        </a>


                                    </div>
                                </div>
                            </td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <a href="/webadmin/bonus/bonus/info/id/43">
                                    43
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/698987">K8PY3QFF</a></td>
                            <td>Expired</td>
                            <td>2018/11/05 16:14:28</td>
                            <td>2019/05/04 16:14:28</td>
                            <td>148.12</td>
                            <td>0.00</td>
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/bonus/receiving/list-by-bonus/id/43">
                                            <div class="transactions" id="transactions-43"></div>View receivings
                                        </a>


                                    </div>
                                </div>
                            </td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <a href="/webadmin/bonus/bonus/info/id/44">
                                    44
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/899883">MP0VL811</a></td>
                            <td>Expired</td>
                            <td>2018/12/04 11:00:06</td>
                            <td>2019/06/02 11:00:06</td>
                            <td>72.34</td>
                            <td>0.00</td>
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/bonus/receiving/list-by-bonus/id/44">
                                            <div class="transactions" id="transactions-44"></div>View receivings
                                        </a>


                                    </div>
                                </div>
                            </td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <a href="/webadmin/bonus/bonus/info/id/45">
                                    45
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/977259">RWRDE1XX</a></td>
                            <td>Completed</td>
                            <td>2018/12/18 12:00:06</td>
                            <td>2019/06/16 12:00:06</td>
                            <td>329.10</td>
                            <td>329.10</td>
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/bonus/receiving/list-by-bonus/id/45">
                                            <div class="transactions" id="transactions-45"></div>View receivings
                                        </a>


                                    </div>
                                </div>
                            </td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <a href="/webadmin/bonus/bonus/info/id/46">
                                    46
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/977259">RWRDE1XX</a></td>
                            <td>Completed</td>
                            <td>2018/12/19 10:10:05</td>
                            <td>2019/06/17 10:10:05</td>
                            <td>303.77</td>
                            <td>303.77</td>
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/bonus/receiving/list-by-bonus/id/46">
                                            <div class="transactions" id="transactions-46"></div>View receivings
                                        </a>


                                    </div>
                                </div>
                            </td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <a href="/webadmin/bonus/bonus/info/id/47">
                                    47
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/1039566">BE1B4OFF</a></td>
                            <td>Completed</td>
                            <td>2018/12/30 14:42:44</td>
                            <td>2019/06/28 14:42:44</td>
                            <td>1000.00</td>
                            <td>1000.00</td>
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/bonus/receiving/list-by-bonus/id/47">
                                            <div class="transactions" id="transactions-47"></div>View receivings
                                        </a>


                                    </div>
                                </div>
                            </td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <a href="/webadmin/bonus/bonus/info/id/48">
                                    48
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/977259">RWRDE1XX</a></td>
                            <td>Expired</td>
                            <td>2018/12/30 14:43:08</td>
                            <td>2019/06/28 14:43:08</td>
                            <td>1000.00</td>
                            <td>755.00</td>
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/bonus/receiving/list-by-bonus/id/48">
                                            <div class="transactions" id="transactions-48"></div>View receivings
                                        </a>


                                    </div>
                                </div>
                            </td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <a href="/webadmin/bonus/bonus/info/id/49">
                                    49
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/1047638">NMDMRY33</a></td>
                            <td>Expired</td>
                            <td>2018/12/30 23:29:36</td>
                            <td>2019/06/28 23:29:36</td>
                            <td>1000.00</td>
                            <td>630.00</td>
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/bonus/receiving/list-by-bonus/id/49">
                                            <div class="transactions" id="transactions-49"></div>View receivings
                                        </a>


                                    </div>
                                </div>
                            </td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <a href="/webadmin/bonus/bonus/info/id/50">
                                    50
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/1047638">NMDMRY33</a></td>
                            <td>Expired</td>
                            <td>2018/12/30 23:47:43</td>
                            <td>2019/06/28 23:47:43</td>
                            <td>5000.00</td>
                            <td>0.00</td>
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/bonus/receiving/list-by-bonus/id/50">
                                            <div class="transactions" id="transactions-50"></div>View receivings
                                        </a>


                                    </div>
                                </div>
                            </td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->


                    </table>
                    <div class='rowCount'>
                        <div class="row">
                            <div class="col-md-3">
                                Rows: 275&ensp;|&ensp;
                                <div class="limit-controls" style="display: inline-block;">
                                    <div id="perpage">Per page:</div>
                                    <select class="limit-links">
                                        <option data-href="/webadmin/bonus/bonus/list/limit/10">10</option>
                                        <option data-href="/webadmin/bonus/bonus/list/limit/25">25</option>
                                        <option selected data-href="/webadmin/bonus/bonus/list/limit/50">50</option>
                                        <option data-href="/webadmin/bonus/bonus/list/limit/100">100</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-7" style="display: flex; justify-content: center">
                                <div class="paginator-controls" id="blockPaginatorControls">
                                    <!-- First page link -->
                                    <div class="paginator-link">
                                        <span class="disabled">First</span>
                                    </div>
                                    <!-- Previous page link -->
                                    <div class="paginator-link">
                                        <span class="disabled">&lt; Previous</span>
                                    </div>
                                    <!-- Numbered page links -->
                                    <div class="paginator-link paginator-link_border">
                                        <span class="current">1</span>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/bonus/bonus/list/page/2">2</a>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/bonus/bonus/list/page/3">3</a>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/bonus/bonus/list/page/4">4</a>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/bonus/bonus/list/page/5">5</a>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/bonus/bonus/list/page/6">6</a>
                                    </div>

                                    <!-- Next page link -->
                                    <div class="paginator-link">
                                        <a href="/webadmin/bonus/bonus/list/page/2">Next &gt;</a>
                                    </div>
                                    <!-- Last page link -->
                                    <div class="paginator-link">
                                        <a href="/webadmin/bonus/bonus/list/page/6">Last</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="pull-right">
                                    <a href="/webadmin/bonus/bonus/list/_output/xlsx"><img src="img/icons/xls.svg" alt="Excel"></a>
                                    <a href="/webadmin/bonus/bonus/list/_output/csv"><img src="img/icons/csv.svg" alt="CSV"></a>
                                    <a href="/webadmin/bonus/bonus/list/_output/ods"><img src="img/icons/odt.svg" alt="OpenDocument" /></a>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>