﻿
@{
    ViewBag.Title = "Bot";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h3>Bots</h3>
<style>
    #form-element-moneyType {
        float: left;
        margin-right: 20px;
        margin-bottom: 10px;
    }

    #form-element-gameType {
        float: left;
    }

    input[name="dateRange[from]"] {
        margin-right: 10px;
    }

    #form-element-minSessionTime {
        float: left;
        width: 200px;
    }

    #form-element-minRestTime {
        width: 200px;
        float: left;
    }
</style>
<form action="fraud/index/bot" method="POST">

    From: <input type="text" name="dateRange[from]" id="dateRange[from]" value="2020-02-27" type="date" readonly="readonly" onclick='displayDatePicker("dateRange[from]", false, "ymd", "-");' /> To: <input type="text" name="dateRange[to]" id="dateRange[to]" value="2020-02-27" type="date" readonly="readonly" onclick='displayDatePicker("dateRange[to]", false, "ymd", "-");' /><br />

    <div id="form-element-moneyType" class="form-element">
        <label for="moneyType">Money Types</label>
        <select id="moneyType"
                name="moneyType"
                dojoType="dijit.form.Select"
                maxHeight="300"
                style="max-height:300px;">
            <option value="82" selected=true />
            Real Money
            </option>
            <option value="80" />
            Play Money
            </option>
            <option value="65" />
            cash game points
            </option>
        </select>
        <ul class="errors" id="moneyTypeErrors">
        </ul>
    </div>

    <div id="form-element-gameType" class="form-element">
        <label for="gameType">Game Types</label>
        <select id="gameType"
                name="gameType"
                dojoType="dijit.form.Select"
                maxHeight="300"
                style="max-height:300px;">
            <option value="72" selected=true />
            Hold&#039;em
            </option>
            <option value="54" />
            Short Deck Hold&#039;em
            </option>
            <option value="79" />
            Omaha
            </option>
            <option value="80" />
            Omaha H/L
            </option>
            <option value="83" />
            Stud
            </option>
            <option value="84" />
            Stud H/L
            </option>
            <option value="82" />
            Razz
            </option>
            <option value="68" />
            2-7 Triple Draw
            </option>
            <option value="66" />
            Badugi
            </option>
            <option value="69" />
            Badeucy
            </option>
            <option value="67" />
            Badacey
            </option>
            <option value="78" />
            Chinese
            </option>
            <option value="70" />
            Openface Chinese
            </option>
            <option value="73" />
            Chinese Pineapple
            </option>
            <option value="76" />
            Chinese 2-7 Pineapple
            </option>
            <option value="85" />
            Chinese Turbo
            </option>
            <option value="77" />
            Chinese OF Pineapple Progressive
            </option>
            <option value="88" />
            Omaha 5 card
            </option>
            <option value="71" />
            Omaha 5 card H/L
            </option>
            <option value="89" />
            Courchevel
            </option>
            <option value="74" />
            Pineapple Poker
            </option>
            <option value="35" />
            Mixed Games
            </option>
            <option value="75" />
            Turkish
            </option>
            <option value="81" />
            5 Card Draw 7-A
            </option>
            <option value="65" />
            Points Rummy
            </option>
            <option value="86" />
            Deals Rummy
            </option>
            <option value="87" />
            Pool Rummy
            </option>
            <option value="90" />
            Triton ShortDeck
            </option>
            <option value="91" />
            Omaha 6 card
            </option>
            <option value="93" />
            Omaha 6 card H/L
            </option>
        </select>
        <ul class="errors" id="gameTypeErrors">
        </ul>
    </div><br style="clear: both" />

    <div id="form-element-minSessionTime" class="form-element">
        <label for="minSessionTime">Min Session Hours</label>
        <input id="minSessionTime"
               type="text"
               name="minSessionTime"
               value="5"
               dojoType="dijit.form.ValidationTextBox"
               trim="true" />
        <ul class="errors" id="minSessionTimeErrors">
        </ul>
    </div>

    <div id="form-element-minRestTime" class="form-element">
        <label for="minRestTime">Min Rest Time (minutes)</label>
        <input id="minRestTime"
               type="text"
               name="minRestTime"
               value="30"
               dojoType="dijit.form.ValidationTextBox"
               trim="true" />
        <ul class="errors" id="minRestTimeErrors">
        </ul>
    </div><br style="clear: both" />

    <button id=submit dojoType="dijit.form.Button" type="submit" name="submit" value="">
        Request Report
    </button>
</form>
<div id="dynamicContent">


    <table class="listing-table">
        <thead class="listHead">
            <tr>
                <th>#</th>
                <th>Player</th>
                <th>Player Notes</th>
            </tr>
        </thead>
        <tr class="navigator__no-data">
            <td colspan="3">No data to display</td>
        </tr>
    </table>

</div>