﻿
@{
    ViewBag.Title = "CasinoGames";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Casino Games</h3>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
        </div>
        <div class="box">
            <div class="box-body">
                <div id="dynamicContent">
                    <div class="custom-dropdown-menu" id="columnsControls">
                    </div>

                    <table id='casino-games' class="listing-table" data-dt-not-fixed-cols="true">
                        <thead class="listHead">
                            <tr>
                                <th data-meta-skip-manage='true'>
                                    <div>
                                        <button type="button" class="btn btn-primary custom-dropdown" id="columnControlsBtn">
                                            <img src="img/icons/menu.svg" alt="+">
                                        </button>
                                    </div>
                                </th>
                                <th data-meta-key='f_order'
                                    data-meta-visibility="true">
                                    <nobr>
                                        Order
                                    </nobr>
                                </th>
                                <th data-meta-key='f_id'
                                    data-meta-visibility="true">
                                    <nobr>
                                        ID
                                    </nobr>
                                </th>
                                <th data-meta-key='f_provider'
                                    data-meta-visibility="true">
                                    <nobr>
                                        Provider
                                    </nobr>
                                </th>
                                <th data-meta-key='f_title'
                                    data-meta-visibility="true">
                                    <nobr>
                                        Title
                                    </nobr>
                                </th>
                                <th data-meta-key='f_is_test'
                                    data-meta-visibility="true">
                                    <nobr>
                                        Test Game
                                    </nobr>
                                </th>
                                <th data-meta-key='f_is_active'
                                    data-meta-visibility="true">
                                    <nobr>
                                        Active
                                    </nobr>
                                </th>
                                <th data-meta-key='f_is_mini_game'
                                    data-meta-visibility="true">
                                    <nobr>
                                        Mini-game
                                    </nobr>
                                </th>
                                <th data-meta-key='f_is_new'
                                    data-meta-visibility="true">
                                    <nobr>
                                        New
                                    </nobr>
                                </th>
                                <th data-meta-key='f_is_deleted'
                                    data-meta-visibility="true">
                                    <nobr>
                                        Deleted
                                    </nobr>
                                </th>
                                <th data-meta-key='f_device'
                                    data-meta-visibility="true">
                                    <nobr>
                                        Devices
                                    </nobr>
                                </th>
                                <th data-meta-key='f_category'
                                    data-meta-visibility="true">
                                    <nobr>
                                        Categories
                                    </nobr>
                                </th>
                            </tr>
                            <tr class="listFilter">
                                <th>

                                    <button name="butFilter" id="butFilter" type="button">Apply Filter</button>

                                    <button name="butReset" id="butReset" type="button">Reset Filter</button>
                                </th>
                                <th>&nbsp;</th>
                                <th>
                                    <input type="text" name="f_id" id="f_id" value="" filter="1" orderable="" sql="g.f_id" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <select name="f_provider" id="f_provider" class="filter">
                                        <option value="">-</option>
                                    </select>
                                </th>
                                <th>
                                    <input type="text" name="f_title" id="f_title" value="" filter="1" orderable="" sql="g.f_title" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <select name="f_is_test" id="f_is_test" filter="1" orderable="" sql="g.f_is_test" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="1">Yes</option>
                                        <option value="0" selected="selected">No</option>
                                    </select>
                                </th>
                                <th>
                                    <select name="f_is_active" id="f_is_active" filter="1" orderable="" sql="g.f_is_active" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="1">Yes</option>
                                        <option value="0">No</option>
                                    </select>
                                </th>
                                <th>
                                    <select name="f_is_mini_game" id="f_is_mini_game" filter="1" orderable="" sql="g.f_is_mini_game" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="1">Yes</option>
                                        <option value="0">No</option>
                                    </select>
                                </th>
                                <th>
                                    <select name="f_is_new" id="f_is_new" filter="1" orderable="" sql="g.f_is_new" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="1">Yes</option>
                                        <option value="0">No</option>
                                    </select>
                                </th>
                                <th>
                                    <select name="f_is_deleted" id="f_is_deleted" filter="1" orderable="" sql="g.f_is_deleted" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="1">Yes</option>
                                        <option value="0">No</option>
                                    </select>
                                </th>
                                <th>
                                    <select name="f_device" id="f_device" class="filter">
                                        <option value="">-</option>
                                        <option value="Desktop">Desktop</option>
                                        <option value="Mobile">Mobile</option>
                                    </select>
                                </th>
                                <th>
                                    <select name="f_category" id="f_category" class="filter">
                                        <option value="">-</option>
                                        <option value="Roulette">Roulette</option>
                                        <option value="Slots">Slots</option>
                                        <option value="Card">Card</option>
                                        <option value="Poker">Poker</option>
                                        <option value="Casual">Casual</option>
                                        <option value="Video Poker">Video Poker</option>
                                        <option value="Lottery">Lottery</option>
                                        <option value="Fantasy Sport">Fantasy Sport</option>
                                        <option value="Live Dealer">Live Dealer</option>
                                        <option value="BlackJack">BlackJack</option>
                                        <option value="Uncategorized">Uncategorized</option>
                                        <option value="Sports Betting">Sports Betting</option>
                                    </select>
                                </th>

                            </tr>
                        </thead>

                    </table>



                </div>
            </div>
        </div>
    </div>
</div>