﻿
@{
    ViewBag.Title = "CategoriesList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h3>
    Casino Games Categories
    <div class="btn-container pull-right">
        <a href="/webadmin/casino/categories/add"
           class="btn btn-default purple-skin-btn-lte-theme purple-btn-add">
            <span class="purple-skin-btn-plus"></span>
            Add Category
        </a>
    </div>
</h3>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
        </div>
        <div class="box">
            <div class="box-body">
                <div id="dynamicContent">
                    <div class="custom-dropdown-menu" id="columnsControls">
                    </div>

                    <table id='casino-categories' class="listing-table" data-dt-not-fixed-cols="true">
                        <thead class="listHead">
                            <tr>
                                <th data-meta-skip-manage='true'>
                                    <div>
                                        <button type="button" class="btn btn-primary custom-dropdown" id="columnControlsBtn">
                                            <img src="img/icons/menu.svg" alt="+">
                                        </button>
                                    </div>
                                </th>
                                <th data-meta-key='f_order'
                                    data-meta-visibility="true">
                                    <nobr>
                                        Order
                                    </nobr>
                                </th>
                                <th data-meta-key='f_id'
                                    data-meta-visibility="true">
                                    <nobr>
                                        ID
                                    </nobr>
                                </th>
                                <th data-meta-key='f_name'
                                    data-meta-visibility="true">
                                    <nobr>
                                        Name
                                    </nobr>
                                </th>
                                <th data-meta-key='f_games'
                                    data-meta-visibility="true">
                                    <nobr>
                                        Games
                                    </nobr>
                                </th>
                                <th data-meta-key='f_is_active'
                                    data-meta-visibility="true">
                                    <nobr>
                                        Active
                                    </nobr>
                                </th>
                                <th data-meta-key='f_is_system'
                                    data-meta-visibility="true">
                                    <nobr>
                                        System
                                    </nobr>
                                </th>
                            </tr>
                            <tr class="listFilter">
                                <th>

                                    <button name="butFilter" id="butFilter" type="button">Apply Filter</button>

                                    <button name="butReset" id="butReset" type="button">Reset Filter</button>
                                </th>
                                <th>&nbsp;</th>
                                <th>
                                    <input type="text" name="f_id" id="f_id" value="" filter="1" orderable="" sql="c.f_id" nonHtml="" style="width:50px;" class="filter" />
                                </th>
                                <th>
                                    <input type="text" name="f_name" id="f_name" value="" filter="1" orderable="" sql="c.f_name" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <input type="text" name="f_games" id="f_games" value="" filter="1" orderable="" sql="f_games" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <select name="f_is_active" id="f_is_active" filter="1" orderable="" sql="c.f_is_active" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="1">Yes</option>
                                        <option value="0">No</option>
                                    </select>
                                </th>
                                <th>
                                    <select name="f_is_system" id="f_is_system" filter="1" orderable="" sql="c.f_is_system" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="1">Yes</option>
                                        <option value="0">No</option>
                                    </select>
                                </th>

                            </tr>
                        </thead>


                        <tr class="odd ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/casino/categories/edit/id/1">
                                            <div class="edit" id="edit-1"></div>Edit category
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td><a href="/webadmin/casino/categories/bottom/id/1" title="Move to bottom" class="reorder" onclick="listing.ajaxLink(this);return false"><i class="fa fa-angle-double-down"></i></a><a href="/webadmin/casino/categories/down/id/1" title="Move down" class="reorder" onclick="listing.ajaxLink(this);return false"><i class="fa fa-angle-down"></i></a></td>
                            <td>1</td>
                            <td>Roulette</td>
                            <td>35</td>
                            <td>Yes</td>
                            <td>Yes</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/casino/categories/edit/id/2">
                                            <div class="edit" id="edit-2"></div>Edit category
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td><a href="/webadmin/casino/categories/bottom/id/2" title="Move to bottom" class="reorder" onclick="listing.ajaxLink(this);return false"><i class="fa fa-angle-double-down"></i></a><a href="/webadmin/casino/categories/down/id/2" title="Move down" class="reorder" onclick="listing.ajaxLink(this);return false"><i class="fa fa-angle-down"></i></a><a href="/webadmin/casino/categories/up/id/2" title="Move up" class="reorder" onclick="listing.ajaxLink(this);return false"><i class="fa fa-angle-up"></i></a><a href="/webadmin/casino/categories/top/id/2" title="Move to top" class="reorder" onclick="listing.ajaxLink(this);return false"><i class="fa fa-angle-double-up"></i></a></td>
                            <td>2</td>
                            <td>Slots</td>
                            <td>497</td>
                            <td>Yes</td>
                            <td>Yes</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/casino/categories/edit/id/3">
                                            <div class="edit" id="edit-3"></div>Edit category
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td><a href="/webadmin/casino/categories/bottom/id/3" title="Move to bottom" class="reorder" onclick="listing.ajaxLink(this);return false"><i class="fa fa-angle-double-down"></i></a><a href="/webadmin/casino/categories/down/id/3" title="Move down" class="reorder" onclick="listing.ajaxLink(this);return false"><i class="fa fa-angle-down"></i></a><a href="/webadmin/casino/categories/up/id/3" title="Move up" class="reorder" onclick="listing.ajaxLink(this);return false"><i class="fa fa-angle-up"></i></a><a href="/webadmin/casino/categories/top/id/3" title="Move to top" class="reorder" onclick="listing.ajaxLink(this);return false"><i class="fa fa-angle-double-up"></i></a></td>
                            <td>3</td>
                            <td>Card</td>
                            <td>71</td>
                            <td>Yes</td>
                            <td>Yes</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/casino/categories/edit/id/4">
                                            <div class="edit" id="edit-4"></div>Edit category
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td><a href="/webadmin/casino/categories/bottom/id/4" title="Move to bottom" class="reorder" onclick="listing.ajaxLink(this);return false"><i class="fa fa-angle-double-down"></i></a><a href="/webadmin/casino/categories/down/id/4" title="Move down" class="reorder" onclick="listing.ajaxLink(this);return false"><i class="fa fa-angle-down"></i></a><a href="/webadmin/casino/categories/up/id/4" title="Move up" class="reorder" onclick="listing.ajaxLink(this);return false"><i class="fa fa-angle-up"></i></a><a href="/webadmin/casino/categories/top/id/4" title="Move to top" class="reorder" onclick="listing.ajaxLink(this);return false"><i class="fa fa-angle-double-up"></i></a></td>
                            <td>4</td>
                            <td>Poker</td>
                            <td>25</td>
                            <td>Yes</td>
                            <td>Yes</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/casino/categories/edit/id/5">
                                            <div class="edit" id="edit-5"></div>Edit category
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td><a href="/webadmin/casino/categories/bottom/id/5" title="Move to bottom" class="reorder" onclick="listing.ajaxLink(this);return false"><i class="fa fa-angle-double-down"></i></a><a href="/webadmin/casino/categories/down/id/5" title="Move down" class="reorder" onclick="listing.ajaxLink(this);return false"><i class="fa fa-angle-down"></i></a><a href="/webadmin/casino/categories/up/id/5" title="Move up" class="reorder" onclick="listing.ajaxLink(this);return false"><i class="fa fa-angle-up"></i></a><a href="/webadmin/casino/categories/top/id/5" title="Move to top" class="reorder" onclick="listing.ajaxLink(this);return false"><i class="fa fa-angle-double-up"></i></a></td>
                            <td>5</td>
                            <td>Casual</td>
                            <td>14</td>
                            <td>Yes</td>
                            <td>Yes</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/casino/categories/edit/id/6">
                                            <div class="edit" id="edit-6"></div>Edit category
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td><a href="/webadmin/casino/categories/bottom/id/6" title="Move to bottom" class="reorder" onclick="listing.ajaxLink(this);return false"><i class="fa fa-angle-double-down"></i></a><a href="/webadmin/casino/categories/down/id/6" title="Move down" class="reorder" onclick="listing.ajaxLink(this);return false"><i class="fa fa-angle-down"></i></a><a href="/webadmin/casino/categories/up/id/6" title="Move up" class="reorder" onclick="listing.ajaxLink(this);return false"><i class="fa fa-angle-up"></i></a><a href="/webadmin/casino/categories/top/id/6" title="Move to top" class="reorder" onclick="listing.ajaxLink(this);return false"><i class="fa fa-angle-double-up"></i></a></td>
                            <td>6</td>
                            <td>Video Poker</td>
                            <td>7</td>
                            <td>Yes</td>
                            <td>Yes</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/casino/categories/edit/id/7">
                                            <div class="edit" id="edit-7"></div>Edit category
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td><a href="/webadmin/casino/categories/bottom/id/7" title="Move to bottom" class="reorder" onclick="listing.ajaxLink(this);return false"><i class="fa fa-angle-double-down"></i></a><a href="/webadmin/casino/categories/down/id/7" title="Move down" class="reorder" onclick="listing.ajaxLink(this);return false"><i class="fa fa-angle-down"></i></a><a href="/webadmin/casino/categories/up/id/7" title="Move up" class="reorder" onclick="listing.ajaxLink(this);return false"><i class="fa fa-angle-up"></i></a><a href="/webadmin/casino/categories/top/id/7" title="Move to top" class="reorder" onclick="listing.ajaxLink(this);return false"><i class="fa fa-angle-double-up"></i></a></td>
                            <td>7</td>
                            <td>Lottery</td>
                            <td>28</td>
                            <td>Yes</td>
                            <td>Yes</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/casino/categories/edit/id/8">
                                            <div class="edit" id="edit-8"></div>Edit category
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td><a href="/webadmin/casino/categories/bottom/id/8" title="Move to bottom" class="reorder" onclick="listing.ajaxLink(this);return false"><i class="fa fa-angle-double-down"></i></a><a href="/webadmin/casino/categories/down/id/8" title="Move down" class="reorder" onclick="listing.ajaxLink(this);return false"><i class="fa fa-angle-down"></i></a><a href="/webadmin/casino/categories/up/id/8" title="Move up" class="reorder" onclick="listing.ajaxLink(this);return false"><i class="fa fa-angle-up"></i></a><a href="/webadmin/casino/categories/top/id/8" title="Move to top" class="reorder" onclick="listing.ajaxLink(this);return false"><i class="fa fa-angle-double-up"></i></a></td>
                            <td>8</td>
                            <td>Fantasy Sport</td>
                            <td>16</td>
                            <td>Yes</td>
                            <td>Yes</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/casino/categories/edit/id/9">
                                            <div class="edit" id="edit-9"></div>Edit category
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td><a href="/webadmin/casino/categories/bottom/id/9" title="Move to bottom" class="reorder" onclick="listing.ajaxLink(this);return false"><i class="fa fa-angle-double-down"></i></a><a href="/webadmin/casino/categories/down/id/9" title="Move down" class="reorder" onclick="listing.ajaxLink(this);return false"><i class="fa fa-angle-down"></i></a><a href="/webadmin/casino/categories/up/id/9" title="Move up" class="reorder" onclick="listing.ajaxLink(this);return false"><i class="fa fa-angle-up"></i></a><a href="/webadmin/casino/categories/top/id/9" title="Move to top" class="reorder" onclick="listing.ajaxLink(this);return false"><i class="fa fa-angle-double-up"></i></a></td>
                            <td>9</td>
                            <td>Live Dealer</td>
                            <td>55</td>
                            <td>Yes</td>
                            <td>Yes</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/casino/categories/edit/id/10">
                                            <div class="edit" id="edit-10"></div>Edit category
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td><a href="/webadmin/casino/categories/bottom/id/10" title="Move to bottom" class="reorder" onclick="listing.ajaxLink(this);return false"><i class="fa fa-angle-double-down"></i></a><a href="/webadmin/casino/categories/down/id/10" title="Move down" class="reorder" onclick="listing.ajaxLink(this);return false"><i class="fa fa-angle-down"></i></a><a href="/webadmin/casino/categories/up/id/10" title="Move up" class="reorder" onclick="listing.ajaxLink(this);return false"><i class="fa fa-angle-up"></i></a><a href="/webadmin/casino/categories/top/id/10" title="Move to top" class="reorder" onclick="listing.ajaxLink(this);return false"><i class="fa fa-angle-double-up"></i></a></td>
                            <td>10</td>
                            <td>BlackJack</td>
                            <td>13</td>
                            <td>Yes</td>
                            <td>Yes</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/casino/categories/edit/id/11">
                                            <div class="edit" id="edit-11"></div>Edit category
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td><a href="/webadmin/casino/categories/bottom/id/11" title="Move to bottom" class="reorder" onclick="listing.ajaxLink(this);return false"><i class="fa fa-angle-double-down"></i></a><a href="/webadmin/casino/categories/down/id/11" title="Move down" class="reorder" onclick="listing.ajaxLink(this);return false"><i class="fa fa-angle-down"></i></a><a href="/webadmin/casino/categories/up/id/11" title="Move up" class="reorder" onclick="listing.ajaxLink(this);return false"><i class="fa fa-angle-up"></i></a><a href="/webadmin/casino/categories/top/id/11" title="Move to top" class="reorder" onclick="listing.ajaxLink(this);return false"><i class="fa fa-angle-double-up"></i></a></td>
                            <td>11</td>
                            <td>Uncategorized</td>
                            <td></td>
                            <td>No</td>
                            <td>Yes</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/casino/categories/edit/id/12">
                                            <div class="edit" id="edit-12"></div>Edit category
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td><span class="reorder"></span><span class="reorder"></span><a href="/webadmin/casino/categories/up/id/12" title="Move up" class="reorder" onclick="listing.ajaxLink(this);return false"><i class="fa fa-angle-up"></i></a><a href="/webadmin/casino/categories/top/id/12" title="Move to top" class="reorder" onclick="listing.ajaxLink(this);return false"><i class="fa fa-angle-double-up"></i></a></td>
                            <td>12</td>
                            <td>Sports Betting</td>
                            <td>2</td>
                            <td>Yes</td>
                            <td>Yes</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->


                    </table>
                    <div class='rowCount'>
                        <div class="row">
                            <div class="col-md-3">
                                Rows: 12&ensp;|&ensp;
                                <div class="limit-controls" style="display: inline-block;">
                                    <div id="perpage">Per page:</div>
                                    <select class="limit-links">
                                        <option data-href="/webadmin/casino/categories/list/limit/10">10</option>
                                        <option data-href="/webadmin/casino/categories/list/limit/25">25</option>
                                        <option selected data-href="/webadmin/casino/categories/list/limit/50">50</option>
                                        <option data-href="/webadmin/casino/categories/list/limit/100">100</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-7" style="display: flex; justify-content: center">
                                <div class="paginator-controls" id="blockPaginatorControls">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="pull-right">
                                    <a href="/webadmin/casino/categories/list/_output/xlsx"><img src="img/icons/xls.svg" alt="Excel"></a>
                                    <a href="/webadmin/casino/categories/list/_output/csv"><img src="img/icons/csv.svg" alt="CSV"></a>
                                    <a href="/webadmin/casino/categories/list/_output/ods"><img src="img/icons/odt.svg" alt="OpenDocument" /></a>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>