﻿
@{
    ViewBag.Title = "ChipDumping";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>

    input[name="Date[from]"] {
        margin-right: 10px;
        margin-bottom: 10px;
    }

    select[name="MoneyType"] {
        margin-bottom: 10px;
    }
</style>

<h3>Chip Dumping</h3></br>
<div id="dynamicContent">
    <div>
        From: <input type="text" name="Date[from]" id="Date[from]" value="2020-02-27" useLabel="1" skipSelect="1" sql="f_date" external="1" class="filter" readonly="readonly" onclick='displayDatePicker("Date[from]", false, "ymd", "-");' /> To: <input type="text" name="Date[to]" id="Date[to]" value="2020-02-27" useLabel="1" skipSelect="1" sql="f_date" external="1" class="filter" readonly="readonly" onclick='displayDatePicker("Date[to]", false, "ymd", "-");' />
    </div>
    <div>
        <label for="MoneyType" class="optional">Money Type:</label>

        <select name="MoneyType" id="MoneyType" useLabel="1" skipSelect="1" sql="f_money_type" external="1" class="filter">
            <option value="">-</option>
            <option value="82" selected="selected">Real Money</option>
            <option value="80">Play Money</option>
            <option value="65">cash game points</option>
        </select>
    </div>
    <div>
        <label for="MinLosedChips" class="optional">Min Lost Chips:</label>

        <input type="text" name="MinLosedChips" id="MinLosedChips" value="0" useLabel="1" skipSelect="1" sql="losed_chips" external="1" class="filter" />
    </div>
    <p>
        <a href="#" class="btn btn-small" onclick="listing.filter(); return false;">Request Report</a>
    </p>
    <table class="listing-table">
        <thead class="listHead">
            <tr>
                <th>#</th>
                <th>
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_player_id" orderType="">
                            Player
                        </a>
                    </nobr>
                </th>
                <th>
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_trusted_level" orderType="">
                            Trusted Level
                        </a>
                    </nobr>
                </th>
                <th>
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_notes" orderType="">
                            Player Notes
                        </a>
                    </nobr>
                </th>
                <th>
                    <nobr>
                        <a class="headerLink orderLink" orderBy="s_player_id" orderType="">
                            Opponent
                        </a>
                    </nobr>
                </th>
                <th>
                    <nobr>
                        <a class="headerLink orderLink" orderBy="losed_chips" orderType="ASC">
                            Lost Chips
                            <img src="img/arrow_down.png" />
                        </a>
                    </nobr>
                </th>
            </tr>
        </thead>
        <thead class="listFilter">
            <tr>
                <th>&nbsp;</th>
                <th>
                    <input type="text" name="f_player_id" id="f_player_id" value="" filter="1" sql="first_player.f_player_id" sql_nick="player.f_nick" orderable="1" nonHtml="" class="filter" />
                </th>
                <th>
                    <select name="f_trusted_level" id="f_trusted_level" filter="1" sql="IFNULL(f_trusted_level, 0)" orderable="1" nonHtml="" class="filter">
                        <option value="">-</option>
                        <option value="0">Unknown</option>
                        <option value="1">Trusted</option>
                        <option value="2">Suspicious</option>
                        <option value="3">Cheater</option>
                    </select>
                </th>
                <th>&nbsp;</th>
                <th>
                    <input type="text" name="s_player_id" id="s_player_id" value="" filter="1" sql="second_player.f_player_id" sql_nick="second_player_info.f_nick" orderable="1" nonHtml="" class="filter" />
                </th>
                <th>&nbsp;</th>

            </tr>
        </thead>

        <tr class="navigator__no-data">
            <td colspan="6">No data to display</td>
        </tr>
    </table>

</div>