﻿
@{
    ViewBag.Title = "Add Classification";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Add Classification</h3>
<div class="box box-primary">
    <div enctype="application/x-www-form-urlencoded"  dojoType="dijit.form.Form">
        <div class="box-body">
            <div class="form-group" id="form-element-name">
                <label for="name" class="required">Name</label>

                <input type="text" name="name" id="name" value="" class="form-control" />
            </div>
            <div class="form-group" id="form-element-canObserve">
                <div class="checkbox">
                    <label>
                        <input type="hidden" name="canObserve" value="0" /><input type="checkbox" name="canObserve" id="canObserve" value="1" />Can Observe
                    </label>
                </div>
            </div>
            <div class="form-group" id="form-element-canPlay">
                <div class="checkbox">
                    <label>
                        <input type="hidden" name="canPlay" value="0" /><input type="checkbox" name="canPlay" id="canPlay" value="1" />Can Play
                    </label>
                </div>
            </div>

            <input type="submit" name="send" id="send" value="Save" class="btn btn-primary" />
        </div>
    </div>
</div>

