﻿
@{
    ViewBag.Title = "Classification List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h3>
    Classification List
    <a href="~/Admin/Config/Classification/Add" class="btn btn-primary">
        <i class="fa fa-plus"></i>&nbsp;&nbsp;Add Classification
    </a>
</h3>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
        </div>
        <div class="box">
            <div class="box-body">
                <div id="dynamicContent">
                    <div class="custom-dropdown-menu" id="columnsControls">
                    </div>
                    <table id='group_activity_list0' class="listing-table" data-dt-not-fixed-cols="true">
                        <thead class="listHead">
                            <tr>
                                <th data-meta-skip-manage='true'>
                                    <div>
                                        <button type="button" class="btn btn-primary custom-dropdown" id="columnControlsBtn">
                                            <img src="~/Assest/img/menu.svg" />
                                        </button>
                                    </div>
                                </th>
                                <th data-meta-key='f_id'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_id"
                                           orderType="DESC">
                                            ID
                                            <img src="~/Assest/img/arrow_up.png" />
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_name'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_name"
                                           orderType="">
                                            Name
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_can_observe'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_can_observe"
                                           orderType="">
                                            Can Observe
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_can_play'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_can_play"
                                           orderType="">
                                            Can Play
                                        </a>
                                    </nobr>
                                </th>
                            </tr>
                            <tr class="listFilter">
                                <th>

                                    <button name="butFilter" id="butFilter" type="button">Apply Filter</button>

                                    <button name="butReset" id="butReset" type="button">Reset Filter</button>
                                </th>
                                <th>
                                    <input type="text" name="f_id" id="f_id" value="" filter="1" orderable="1" sql="f_id" nonHtml="" style="width:50px;" class="filter" />
                                </th>
                                <th>
                                    <input type="text" name="f_name" id="f_name" value="" filter="1" orderable="1" sql="f_name" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <select name="f_can_observe" id="f_can_observe" filter="1" orderable="1" sql="f_can_observe" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="1">Yes</option>
                                        <option value="0">No</option>
                                    </select>
                                </th>
                                <th>
                                    <select name="f_can_play" id="f_can_play" filter="1" orderable="1" sql="f_can_play" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="1">Yes</option>
                                        <option value="0">No</option>
                                    </select>
                                </th>

                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

