﻿
@{
    ViewBag.Title = "ClubAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h3>New Club</h3>
<div class="box box-primary">
    <form enctype="application/x-www-form-urlencoded" action="" method="post" dojoType="dijit.form.Form">
        <div class="box-body">
            <div class="form-group" id="form-element-name">
                <label for="name" class="required">Name</label>

                <input type="text" name="name" id="name" value="" class="form-control" />
            </div>
            <div class="form-group" id="form-element-owner_id">
                <label for="owner_id" class="required">Player</label>

                <select name="owner_id" id="owner_id" class="form-control select2">
                </select>
            </div>

            <input type="submit" name="send" id="send" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>