﻿
@{
    ViewBag.Title = "CollusionTournamentsGames";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>

    label[for="FromDate"] {
        float: left;
        margin-right: 10px;
        margin-top: 3px;
    }

    label[for="ToDate"] {
        float: left;
        margin-right: 10px;
        margin-top: 3px;
    }

    input[name="FromDate"] {
        margin-right: 10px;
        margin-bottom: 10px;
        float: left;
    }

    input[name="ToDate"] {
        margin-bottom: 10px;
    }

    input[name="MinTournamentCount"] {
        margin-bottom: 10px;
    }

    input[name="PrTourKrit"] {
        margin-bottom: 10px;
    }

    select[name="MoneyType"] {
        margin-bottom: 10px;
    }
</style>

<h3>Collusion Tournaments Games</h3>
        </br>
<div id="dynamicContent">
    <div>
        <label for="FromDate" class="required">From:</label>

        <input type="text" name="FromDate" id="FromDate" value="2020-02-27" external="1" class="filter" readonly="readonly" onclick='displayDatePicker("FromDate", false, "ymd", "-");' />
    </div>
    <div>
        <label for="ToDate" class="required">To:</label>

        <input type="text" name="ToDate" id="ToDate" value="2020-02-27" external="1" class="filter" readonly="readonly" onclick='displayDatePicker("ToDate", false, "ymd", "-");' />
    </div>
    <div>
        <label for="MoneyType" class="required">Money Type</label>

        <select name="MoneyType" id="MoneyType" external="1" class="filter">
            <option value="">-</option>
            <option value="82" selected="selected">Real Money</option>
            <option value="80">Play Money</option>
            <option value="65">cash game points</option>
        </select>
    </div>
    <div>
        <label for="MinTournamentCount" class="required">Min Tournament Count</label>

        <input type="text" name="MinTournamentCount" id="MinTournamentCount" value="5" external="1" class="filter" />
    </div>
    <div>
        <label for="PrTourKrit" class="required">Min Collusion Percent</label>

        <input type="text" name="PrTourKrit" id="PrTourKrit" value="70" external="1" class="filter" />
    </div>
    <p>
        <a href="#" class="btn btn-small" onclick="listing.filter(); return false;">Request Report</a>
    </p>
    <table class="listing-table">
        <thead class="listHead">
            <tr>
                <th>#</th>
                <th>
                    <nobr>
                        Actions
                    </nobr>
                </th>
                <th>
                    <nobr>
                        <a class="headerLink orderLink" orderBy="first_player_id" orderType="">
                            First Player
                        </a>
                    </nobr>
                </th>
                <th>
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_trusted_level" orderType="">
                            Player Trusted Level
                        </a>
                    </nobr>
                </th>
                <th>
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_notes" orderType="">
                            Player Notes
                        </a>
                    </nobr>
                </th>
                <th>
                    <nobr>
                        <a class="headerLink orderLink" orderBy="second_player_id" orderType="">
                            Second Player
                        </a>
                    </nobr>
                </th>
                <th>
                    <nobr>
                        <a class="headerLink orderLink" orderBy="collusion_percent" orderType="">
                            Collusion Percent
                        </a>
                    </nobr>
                </th>
                <th>
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_first_tournament_count" orderType="">
                            Tournament Count (First Player)
                        </a>
                    </nobr>
                </th>
                <th>
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_second_tournament_count" orderType="">
                            Tournament Count (Second Player)
                        </a>
                    </nobr>
                </th>
                <th>
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_tournament_game_count" orderType="">
                            Tournament With Player Count
                        </a>
                    </nobr>
                </th>
            </tr>
        </thead>
        <thead class="listFilter">
            <tr>
                <th>&nbsp;</th>
                <th>

                    <button name="butFilter" id="butFilter" type="button">Apply Filter</button>

                    <button name="butReset" id="butReset" type="button">Reset Filter</button>
                </th>
                <th>
                    <input type="text" name="first_player_id" id="first_player_id" value="" orderable="1" filter="1" sql="first_player_id" nonHtml="" class="filter" />
                </th>
                <th>
                    <select name="f_trusted_level" id="f_trusted_level" orderable="1" filter="1" sql="f_trusted_level" nonHtml="" class="filter">
                        <option value="">-</option>
                        <option value="0">Unknown</option>
                        <option value="1">Trusted</option>
                        <option value="2">Suspicious</option>
                        <option value="3">Cheater</option>
                    </select>
                </th>
                <th>&nbsp;</th>
                <th>
                    <input type="text" name="second_player_id" id="second_player_id" value="" orderable="1" filter="1" sql="second_player_id" nonHtml="" class="filter" />
                </th>
                <th>&nbsp;</th>
                <th>
                    <input type="text" name="f_first_tournament_count" id="f_first_tournament_count" value="" orderable="1" filter="1" sql="f_first_tournament_count" nonHtml="" class="filter" />
                </th>
                <th>
                    <input type="text" name="f_second_tournament_count" id="f_second_tournament_count" value="" orderable="1" filter="1" sql="f_second_tournament_count" nonHtml="" class="filter" />
                </th>
                <th>
                    <input type="text" name="f_tournament_game_count" id="f_tournament_game_count" value="" orderable="1" filter="1" sql="f_tournament_game_count" nonHtml="" class="filter" />
                </th>

            </tr>
        </thead>

        <tr class="navigator__no-data">
            <td colspan="10">No data to display</td>
        </tr>
    </table>

</div>