﻿@model DataLayer.CountryList
@{
    ViewBag.Title = "CountryList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-xs-9">
        <h3>Countries</h3>
    </div>
    <div class="col-xs-3 text-right btn-container">
        <a class="btn btn-default purple-skin-btn-lte-theme purple-btn-add" href="~/Admin/Config/Country/Add">
            <span class="purple-skin-btn-plus"></span>&nbsp;Add Country
        </a>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
        </div>
        <div class="box">
            <div class="box-body">
                <div id="dynamicContent">
                    <div class="custom-dropdown-menu" id="columnsControls">
                    </div>

                    <table id='country' class="listing-table" data-dt-not-fixed-cols="true">
                        <thead class="listHead">
                            <tr>
                                <th>
                                    <button type="button" class="btn btn-primary custom-dropdown" id="columnControlsBtn">
                                        <i class="fa fa-cog"></i>
                                    </button>
                                </th>
                                <th>
                                    ISO Code
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Registration Enabled
                                </th>
                                <th>
                                    Login Enabled
                                </th>
                                <th>
                                    Min Age to Play
                                </th>
                                <th>
                                    Dial Code
                                </th>
                                <th>
                                    Phone Format
                                </th>
                            </tr>
                            <tr class="listFilter">
                                <th>

                                    <button name="butFilter" id="butFilter" type="button">Apply Filter</button>

                                    <button name="butReset" id="butReset" type="button">Reset Filter</button>
                                </th>
                                <th>
                                    <input type="text" name="f_iso_code" id="f_iso_code" value="" filter="1" orderable="1" sql="f_iso_code" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <input type="text" name="f_name" id="f_name" value="" filter="1" orderable="1" sql="f_name" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <select name="f_registration_enabled" id="f_registration_enabled" filter="1" orderable="1" sql="f_registration_enabled" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="1">Yes</option>
                                        <option value="0">No</option>
                                    </select>
                                </th>
                                <th>
                                    <select name="f_login_enabled" id="f_login_enabled" filter="1" orderable="1" sql="f_login_enabled" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="1">Yes</option>
                                        <option value="0">No</option>
                                    </select>
                                </th>
                                <th>
                                    <input type="text" name="f_min_age_to_play" id="f_min_age_to_play" value="" filter="1" orderable="1" sql="f_min_age_to_play" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <input type="text" name="f_dial_code" id="f_dial_code" value="" filter="1" orderable="1" sql="f_dial_code" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <input type="text" name="f_phone_format" id="f_phone_format" value="" filter="1" orderable="1" sql="f_phone_format" nonHtml="" class="filter" />
                                </th>

                            </tr>
                        </thead>
                        @{ int i = 1;}
                        @foreach (var item in Model.List)
                        {
                            <tr class="@(i%2==0 ? "odd":"even")">
                                <td>
                                    <div class="dropdown text-center">
                                        <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                                type="button" data-toggle="dropdown" aria-expanded="false">
                                            <i class="fa fa-bars"></i>
                                        </button>
                                        <div class="dropdown-menu table-dropdown">
                                            <a href="~/Admin/Config/Country/Edit/@item.Id">
                                                <div class="edit" id="edit-1"></div>Edit
                                            </a>
                                            <a href="/webadmin/config/language-delete/id/1" onClick='return confirm("Deleting language.\nAre you sure?");'>
                                                <div class="del" id="del-1"></div>Delete
                                            </a>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    @item.IsoCode
                                </td>
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    @item.RegEnabled
                                </td>
                                <td>
                                    @item.LoginEnabled
                                </td>
                                <td>
                                    @item.MinAge
                                </td>
                                <td>
                                    @item.DialCode
                                </td>
                                <td>
                                    @item.PhoneFormat
                                </td>
                            </tr>
                            i++;
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
