﻿@model DataLayer.Country
@{
    ViewBag.Title = "Add Country";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Country</h3>
<div class="box box-primary">
    @using (Html.BeginForm("CountryAdd", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(model => model.Id)
        <div class="box-body">
            <div class="form-group" id="form-element-isoCode">
                <label for="isoCode" class="required">ISO Code</label>

                @Html.TextBoxFor(model => model.IsoCode, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IsoCode, "", new { @class = "text-danger" })
            </div>
            <div class="form-group" id="form-element-name">
                <label for="name" class="required">Name</label>

                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
            <div class="form-group" id="form-element-registrationEnabled">
                <div class="icheck-danger d-inline">
                    <input type="checkbox" name="RegEnabled" id="RegEnabled" @(Model.RegEnabled != null ? Html.Raw(" checked=\"checked\"") : null)>
                    <label for="RegEnabled">
                        Registration Enabled
                    </label>
                </div>               
            </div>
            <div class="form-group" id="form-element-loginEnabled">
                <div class="icheck-danger d-inline">
                    <input type="checkbox" name="LoginEnabled" id="LoginEnabled" @(Model.LoginEnabled != null ? Html.Raw(" checked=\"checked\"") : null)>
                    <label for="LoginEnabled">
                        Login Enabled
                    </label>
                </div>                
            </div>
            <div class="form-group" id="form-element-minAgeToPlay">
                <label for="minAgeToPlay" class="optional">Min Age to Play</label>

                @Html.TextBoxFor(model => model.MinAge, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MinAge, "", new { @class = "text-danger" })
            </div>
            <div class="form-group" id="form-element-dialCode">
                <label for="dialCode" class="required">Dial Code</label>

                @Html.TextBoxFor(model => model.DialCode, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DialCode, "", new { @class = "text-danger" })
            </div>
            <div class="form-group" id="form-element-phoneFormat">
                <label for="phoneFormat" class="required">Phone Format</label>

                @Html.TextBoxFor(model => model.PhoneFormat, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PhoneFormat, "", new { @class = "text-danger" })
            </div>

            <input type="submit" name="send" id="send" value="Save" class="btn btn-primary" />
        </div>
    }
</div>

