﻿
@{
    ViewBag.Title = "CreateTransaction";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Create Transaction</h3>

<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#form" data-toggle="tab">Form</a></li>
        <li><a href="#csv" data-toggle="tab">CSV</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="form">
            <div class="row">
                <div class="col-xs-12 col-md-5 col-lg-4">
                    <div class="box box-primary">
                        <form id="create-transaction-form" enctype="multipart/form-data" method="post" action="/webadmin/user/transaction" dojoType="dijit.form.Form">
                            <div class="box-body">
                                <div class="form-group" id="form-element-userId">
                                    <label for="userId" class="optional">User ID's</label>

                                    <input type="text" name="userId" id="userId" value="" class="form-control" />
                                    <span class="help-block">Separated by a comma</span>
                                </div>
                                <div class="form-group" id="form-element-userIdFile">
                                    <label for="userIdFile" class="optional">User ID's</label>

                                    <input type="hidden" name="MAX_FILE_SIZE" value="524288" id="MAX_FILE_SIZE" />
                                    <input type="file" name="userIdFile" id="userIdFile" class="form-control" />
                                </div>
                                <div class="form-group" id="form-element-moneyType">
                                    <label for="moneyType" class="required">Money Type</label>

                                    <select name="moneyType" id="moneyType" class="form-control select2">
                                        <option value="82">Real Money</option>
                                        <option value="80">Play Money</option>
                                        <option value="65">cash game points</option>
                                    </select>
                                </div>
                                <div class="form-group" id="form-element-transactionType">
                                    <label for="transactionType" class="required">Transaction Type</label>

                                    <select name="transactionType" id="transactionType" class="form-control select2">
                                        <option value="deposit">Deposit</option>
                                        <option value="withdrawal">Withdrawal</option>
                                        <option value="internalDeposit">Internal Deposit</option>
                                        <option value="returnInternalDeposit">Return Internal Deposit</option>
                                        <option value="bonus">Bonus</option>
                                        <option value="bonusRev">Bonus Rev.</option>
                                        <option value="testBonus">Test Bonus</option>
                                        <option value="testBonusRev">Test Bonus Rev.</option>
                                        <option value="systemAdjustments">System Adjustments</option>
                                        <option value="systemAdjustmentsRev">System Adjustments Rev.</option>
                                    </select>
                                </div>
                                <div class="form-group" id="form-element-amount">
                                    <label for="amount" class="required">Amount</label>

                                    <input type="text" name="amount" id="amount" value="0" class="form-control" />
                                </div>
                                <div class="form-group" id="form-element-notes">
                                    <label for="notes" class="optional">Notes</label>

<textarea name="notes" id="notes" rows="4" class="form-control" cols="80"></textarea>
                                </div>

                                <input type="submit" name="createTransactionSubmitButton" id="createTransactionSubmitButton" value="Ok" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <div class="tab-pane" id="csv">
            <div class="row">
                <div class="col-xs-12 col-md-5 col-lg-4">
                    <div class="box box-primary">
                        <form id="userTransactionsCsv" enctype="multipart/form-data" action="" method="post" dojoType="dijit.form.Form">
                            <div class="box-body">
                                <dt id="mode-label">&#160;</dt>
                                <dd id="mode-element">
                                    <input type="hidden" name="mode" value="csv" id="mode" />
                                </dd>
                                <div class="form-group" id="form-element-csvFile">
                                    <label for="csvFile" class="required">Csv file</label>

                                    <input type="file" name="csvFile" id="csvFile" class="form-control" />
                                </div>
                                <div class="form-group" id="form-element-playerIdColumn">
                                    <label for="playerIdColumn" class="required">Player ID Column Number</label>

                                    <input type="text" name="playerIdColumn" id="playerIdColumn" value="1" class="form-control" />
                                </div>
                                <div class="form-group" id="form-element-transactionValueColumn">
                                    <label for="transactionValueColumn" class="required">Transaction Value Column Number</label>

                                    <input type="text" name="transactionValueColumn" id="transactionValueColumn" value="2" class="form-control" />
                                </div>
                                <div class="form-group" id="form-element-moneyTypeColumn">
                                    <label for="moneyTypeColumn" class="required">Money Type Column Number</label>

                                    <input type="text" name="moneyTypeColumn" id="moneyTypeColumn" value="3" class="form-control" />
                                </div>
                                <div class="form-group" id="form-element-transactionTypeColumn">
                                    <label for="transactionTypeColumn" class="required">Transaction Type Column Number</label>

                                    <input type="text" name="transactionTypeColumn" id="transactionTypeColumn" value="4" class="form-control" />
                                    <span class="help-block">Allowed Types: deposit, withdrawal, internalDeposit, returnInternalDeposit, bonus, bonusRev, testBonus, testBonusRev, systemAdjustments, systemAdjustmentsRev</span>
                                </div>
                                <div class="form-group" id="form-element-notesColumn">
                                    <label for="notesColumn" class="optional">Notes Column Number</label>

                                    <input type="text" name="notesColumn" id="notesColumn" value="5" class="form-control" />
                                </div>
                                <div class="form-group" id="form-element-delimiter">
                                    <label for="delimiter" class="optional">Delimiter (one character only)</label>

                                    <input type="text" name="delimiter" id="delimiter" value="," class="form-control" />
                                </div>
                                <div class="form-group" id="form-element-enclosure">
                                    <label for="enclosure" class="optional">Enclosure (one character only)</label>

                                    <input type="text" name="enclosure" id="enclosure" value="&quot;" class="form-control" />
                                </div>

                                <input type="submit" name="send" id="send" value="Import" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
