﻿
@{
    ViewBag.Title = "Currency List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Currencies List</h3>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
        </div>
        <div class="box">
            <div class="box-body">
                <div id="dynamicContent">
                    <div class="custom-dropdown-menu" id="columnsControls">
                    </div>
                    <table id='currenciesList' class="listing-table" data-dt-not-fixed-cols="true">
                        <thead class="listHead">
                            <tr>
                                <th data-meta-skip-manage='true'>
                                    <div>
                                        <button type="button" class="btn btn-primary custom-dropdown" id="columnControlsBtn">
                                            <img src="~/Assest/img/menu.svg" />
                                        </button>
                                    </div>
                                </th>
                                <th data-meta-key='f_money_type'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_money_type"
                                           orderType="">
                                            Full Name
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_alias'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_alias"
                                           orderType="">
                                            Key
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_active_flag'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_active_flag"
                                           orderType="">
                                            Enabled
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_iso_code'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_iso_code"
                                           orderType="">
                                            ISO Code
                                        </a>
                                    </nobr>
                                </th>
                            </tr>
                            <tr class="listFilter">
                                <th>

                                    <button name="butFilter" id="butFilter" type="button">Apply Filter</button>

                                    <button name="butReset" id="butReset" type="button">Reset Filter</button>
                                </th>
                                <th>
                                    <select name="f_money_type" id="f_money_type" filter="1" orderable="1" sql="f_money_type" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="82">Real Money</option>
                                        <option value="80">Play Money</option>
                                        <option value="65">cash game points</option>
                                    </select>
                                </th>
                                <th>
                                    <input type="text" name="f_alias" id="f_alias" value="" filter="1" orderable="1" sql="f_alias" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <select name="f_active_flag" id="f_active_flag" filter="1" orderable="1" sql="f_active_flag" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="1">Yes</option>
                                        <option value="0">No</option>
                                    </select>
                                </th>
                                <th>
                                    <input type="text" name="f_iso_code" id="f_iso_code" value="" filter="1" orderable="1" sql="f_iso_code" nonHtml="" class="filter" />
                                </th>

                            </tr>
                        </thead>


                        <tr class="odd ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="~/Admin/Config/Currency/Add">
                                            <div class="edit" id="edit-82"></div>Edit
                                        </a>
                                    </div>
                                </div>
                            </td>
                            <td>Real Money</td>
                            <td>mt.money-01</td>
                            <td>Yes</td>
                            <td>USD</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/currencies/edit/mt/102">
                                            <div class="edit" id="edit-102"></div>Edit
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>f</td>
                            <td>mt.money-02</td>
                            <td>No</td>
                            <td>f</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/currencies/edit/mt/103">
                                            <div class="edit" id="edit-103"></div>Edit
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>g</td>
                            <td>mt.money-03</td>
                            <td>No</td>
                            <td>g</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/currencies/edit/mt/104">
                                            <div class="edit" id="edit-104"></div>Edit
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>h</td>
                            <td>mt.money-04</td>
                            <td>No</td>
                            <td>h</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/currencies/edit/mt/105">
                                            <div class="edit" id="edit-105"></div>Edit
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>i</td>
                            <td>mt.money-05</td>
                            <td>No</td>
                            <td>i</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/currencies/edit/mt/106">
                                            <div class="edit" id="edit-106"></div>Edit
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>j</td>
                            <td>mt.money-06</td>
                            <td>No</td>
                            <td>j</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/currencies/edit/mt/107">
                                            <div class="edit" id="edit-107"></div>Edit
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>k</td>
                            <td>mt.money-07</td>
                            <td>No</td>
                            <td>k</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/currencies/edit/mt/108">
                                            <div class="edit" id="edit-108"></div>Edit
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>l</td>
                            <td>mt.money-08</td>
                            <td>No</td>
                            <td>l</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/currencies/edit/mt/109">
                                            <div class="edit" id="edit-109"></div>Edit
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>m</td>
                            <td>mt.money-09</td>
                            <td>No</td>
                            <td>m</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/currencies/edit/mt/110">
                                            <div class="edit" id="edit-110"></div>Edit
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>n</td>
                            <td>mt.money-10</td>
                            <td>No</td>
                            <td>n</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/currencies/edit/mt/111">
                                            <div class="edit" id="edit-111"></div>Edit
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>o</td>
                            <td>mt.money-11</td>
                            <td>No</td>
                            <td>o</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/currencies/edit/mt/113">
                                            <div class="edit" id="edit-113"></div>Edit
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>q</td>
                            <td>mt.money-12</td>
                            <td>No</td>
                            <td>q</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/currencies/edit/mt/115">
                                            <div class="edit" id="edit-115"></div>Edit
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>s</td>
                            <td>mt.money-13</td>
                            <td>No</td>
                            <td>s</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/currencies/edit/mt/117">
                                            <div class="edit" id="edit-117"></div>Edit
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>u</td>
                            <td>mt.money-14</td>
                            <td>No</td>
                            <td>u</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/currencies/edit/mt/118">
                                            <div class="edit" id="edit-118"></div>Edit
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>v</td>
                            <td>mt.money-15</td>
                            <td>No</td>
                            <td>v</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/currencies/edit/mt/119">
                                            <div class="edit" id="edit-119"></div>Edit
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>w</td>
                            <td>mt.money-16</td>
                            <td>No</td>
                            <td>w</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/currencies/edit/mt/80">
                                            <div class="edit" id="edit-80"></div>Edit
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>Play Money</td>
                            <td>mt.money-17</td>
                            <td>Yes</td>
                            <td>PLAY</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/currencies/edit/mt/65">
                                            <div class="edit" id="edit-65"></div>Edit
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>cash game points</td>
                            <td>mt.money-18</td>
                            <td>Yes</td>
                            <td>CUSTOM1</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/currencies/edit/mt/66">
                                            <div class="edit" id="edit-66"></div>Edit
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>B</td>
                            <td>mt.money-19</td>
                            <td>No</td>
                            <td>CUSTOM2</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/currencies/edit/mt/67">
                                            <div class="edit" id="edit-67"></div>Edit
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>C</td>
                            <td>mt.money-20</td>
                            <td>No</td>
                            <td>CUSTOM3</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/currencies/edit/mt/68">
                                            <div class="edit" id="edit-68"></div>Edit
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>D</td>
                            <td>mt.money-21</td>
                            <td>No</td>
                            <td>CUSTOM4</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/currencies/edit/mt/69">
                                            <div class="edit" id="edit-69"></div>Edit
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>BTC</td>
                            <td>mt.money-22</td>
                            <td>Yes</td>
                            <td>BTC</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->


                    </table>
                    <div class='rowCount'>
                        <div class="row">
                            <div class="col-md-3">
                                Rows: 22&ensp;|&ensp;
                                <div class="limit-controls" style="display: inline-block;">
                                    <div id="perpage">Per page:</div>
                                    <select class="limit-links">
                                        <option data-href="/webadmin/currencies/index/limit/10">10</option>
                                        <option data-href="/webadmin/currencies/index/limit/25">25</option>
                                        <option selected data-href="/webadmin/currencies/index/limit/50">50</option>
                                        <option data-href="/webadmin/currencies/index/limit/100">100</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-7" style="display: flex; justify-content: center">
                                <div class="paginator-controls" id="blockPaginatorControls">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="pull-right">
                                    <a href="/webadmin/currencies/index/_output/xlsx"><img src="~/Assest/img/xls.svg" alt="Excel"></a>
                                    <a href="/webadmin/currencies/index/_output/csv"><img src="~/Assest/img/csv.svg" alt="CSV"></a>
                                    <a href="/webadmin/currencies/index/_output/ods"><img src="~/Assest/img/odt.svg" alt="OpenDocument" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

