﻿
@{
    ViewBag.Title = "Add Currency";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h1>Edit cash game points</h1>
<div class="box box-primary">
    <form enctype="application/x-www-form-urlencoded" action="" method="post" dojoType="dijit.form.Form">
        <!-- Modal -->
        <div class="modal fade preview-popup" id="modal-l18n-40" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" id="modal-l18n-40-close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Localization</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Text</th>
                                    <th>Skin</th>
                                    <th>Language</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>                </tbody>
                        </table>

                        <button type="button" id="modal-l18n-40-add" class="btn btn-primary">+</button>
                        <button type="button" id="modal-l18n-40-close2" class="btn btn-primary pull-right">Close</button>
                    </div>
                </div>
            </div>
        </div><!-- Modal -->
        <div class="modal fade preview-popup" id="modal-l18n-41" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" id="modal-l18n-41-close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Localization</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Text</th>
                                    <th>Skin</th>
                                    <th>Language</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>                </tbody>
                        </table>

                        <button type="button" id="modal-l18n-41-add" class="btn btn-primary">+</button>
                        <button type="button" id="modal-l18n-41-close2" class="btn btn-primary pull-right">Close</button>
                    </div>
                </div>
            </div>
        </div><!-- Modal -->
        <div class="modal fade preview-popup" id="modal-l18n-42" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" id="modal-l18n-42-close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Localization</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Text</th>
                                    <th>Skin</th>
                                    <th>Language</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>                </tbody>
                        </table>

                        <button type="button" id="modal-l18n-42-add" class="btn btn-primary">+</button>
                        <button type="button" id="modal-l18n-42-close2" class="btn btn-primary pull-right">Close</button>
                    </div>
                </div>
            </div>
        </div><!-- Modal -->
        <div class="modal fade preview-popup" id="modal-l18n-43" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" id="modal-l18n-43-close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Localization</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Text</th>
                                    <th>Skin</th>
                                    <th>Language</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>                </tbody>
                        </table>

                        <button type="button" id="modal-l18n-43-add" class="btn btn-primary">+</button>
                        <button type="button" id="modal-l18n-43-close2" class="btn btn-primary pull-right">Close</button>
                    </div>
                </div>
            </div>
        </div><!-- Modal -->
        <div class="modal fade preview-popup" id="modal-l18n-44" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" id="modal-l18n-44-close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Localization</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Text</th>
                                    <th>Skin</th>
                                    <th>Language</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>                </tbody>
                        </table>

                        <button type="button" id="modal-l18n-44-add" class="btn btn-primary">+</button>
                        <button type="button" id="modal-l18n-44-close2" class="btn btn-primary pull-right">Close</button>
                    </div>
                </div>
            </div>
        </div><!-- Modal -->
        <div class="modal fade preview-popup" id="modal-l18n-45" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" id="modal-l18n-45-close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Localization</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Text</th>
                                    <th>Skin</th>
                                    <th>Language</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>                </tbody>
                        </table>

                        <button type="button" id="modal-l18n-45-add" class="btn btn-primary">+</button>
                        <button type="button" id="modal-l18n-45-close2" class="btn btn-primary pull-right">Close</button>
                    </div>
                </div>
            </div>
        </div><!-- Modal -->
        <div class="modal fade preview-popup" id="modal-l18n-46" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" id="modal-l18n-46-close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Localization</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Text</th>
                                    <th>Skin</th>
                                    <th>Language</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>                </tbody>
                        </table>

                        <button type="button" id="modal-l18n-46-add" class="btn btn-primary">+</button>
                        <button type="button" id="modal-l18n-46-close2" class="btn btn-primary pull-right">Close</button>
                    </div>
                </div>
            </div>
        </div><!-- Modal -->
        <div class="modal fade preview-popup" id="modal-l18n-47" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" id="modal-l18n-47-close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Localization</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Text</th>
                                    <th>Skin</th>
                                    <th>Language</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>                </tbody>
                        </table>

                        <button type="button" id="modal-l18n-47-add" class="btn btn-primary">+</button>
                        <button type="button" id="modal-l18n-47-close2" class="btn btn-primary pull-right">Close</button>
                    </div>
                </div>
            </div>
        </div><!-- Modal -->
        <div class="modal fade preview-popup" id="modal-l18n-48" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" id="modal-l18n-48-close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Localization</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Text</th>
                                    <th>Skin</th>
                                    <th>Language</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>                </tbody>
                        </table>

                        <button type="button" id="modal-l18n-48-add" class="btn btn-primary">+</button>
                        <button type="button" id="modal-l18n-48-close2" class="btn btn-primary pull-right">Close</button>
                    </div>
                </div>
            </div>
        </div><!-- Modal -->
        <div class="modal fade preview-popup" id="modal-l18n-49" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" id="modal-l18n-49-close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Localization</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Text</th>
                                    <th>Skin</th>
                                    <th>Language</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>                </tbody>
                        </table>

                        <button type="button" id="modal-l18n-49-add" class="btn btn-primary">+</button>
                        <button type="button" id="modal-l18n-49-close2" class="btn btn-primary pull-right">Close</button>
                    </div>
                </div>
            </div>
        </div><!-- Modal -->
        <div class="modal fade preview-popup" id="modal-l18n-50" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" id="modal-l18n-50-close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Localization</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Text</th>
                                    <th>Skin</th>
                                    <th>Language</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>                </tbody>
                        </table>

                        <button type="button" id="modal-l18n-50-add" class="btn btn-primary">+</button>
                        <button type="button" id="modal-l18n-50-close2" class="btn btn-primary pull-right">Close</button>
                    </div>
                </div>
            </div>
        </div><!-- Modal -->
        <div class="modal fade preview-popup" id="modal-l18n-54" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" id="modal-l18n-54-close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Localization</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Text</th>
                                    <th>Skin</th>
                                    <th>Language</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>                </tbody>
                        </table>

                        <button type="button" id="modal-l18n-54-add" class="btn btn-primary">+</button>
                        <button type="button" id="modal-l18n-54-close2" class="btn btn-primary pull-right">Close</button>
                    </div>
                </div>
            </div>
        </div><!-- Modal -->
        <div class="modal fade preview-popup" id="modal-l18n-55" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" id="modal-l18n-55-close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Localization</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Text</th>
                                    <th>Skin</th>
                                    <th>Language</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>                </tbody>
                        </table>

                        <button type="button" id="modal-l18n-55-add" class="btn btn-primary">+</button>
                        <button type="button" id="modal-l18n-55-close2" class="btn btn-primary pull-right">Close</button>
                    </div>
                </div>
            </div>
        </div><!-- Modal -->
        <div class="modal fade preview-popup" id="modal-l18n-56" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" id="modal-l18n-56-close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Localization</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Text</th>
                                    <th>Skin</th>
                                    <th>Language</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>                </tbody>
                        </table>

                        <button type="button" id="modal-l18n-56-add" class="btn btn-primary">+</button>
                        <button type="button" id="modal-l18n-56-close2" class="btn btn-primary pull-right">Close</button>
                    </div>
                </div>
            </div>
        </div><!-- Modal -->
        <div class="modal fade preview-popup" id="modal-l18n-57" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" id="modal-l18n-57-close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Localization</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Text</th>
                                    <th>Skin</th>
                                    <th>Language</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>                </tbody>
                        </table>

                        <button type="button" id="modal-l18n-57-add" class="btn btn-primary">+</button>
                        <button type="button" id="modal-l18n-57-close2" class="btn btn-primary pull-right">Close</button>
                    </div>
                </div>
            </div>
        </div><!-- Modal -->
        <div class="modal fade preview-popup" id="modal-l18n-58" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" id="modal-l18n-58-close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Localization</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Text</th>
                                    <th>Skin</th>
                                    <th>Language</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>                </tbody>
                        </table>

                        <button type="button" id="modal-l18n-58-add" class="btn btn-primary">+</button>
                        <button type="button" id="modal-l18n-58-close2" class="btn btn-primary pull-right">Close</button>
                    </div>
                </div>
            </div>
        </div><!-- Modal -->
        <div class="modal fade preview-popup" id="modal-l18n-59" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" id="modal-l18n-59-close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Localization</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Text</th>
                                    <th>Skin</th>
                                    <th>Language</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>                </tbody>
                        </table>

                        <button type="button" id="modal-l18n-59-add" class="btn btn-primary">+</button>
                        <button type="button" id="modal-l18n-59-close2" class="btn btn-primary pull-right">Close</button>
                    </div>
                </div>
            </div>
        </div><!-- Modal -->
        <div class="modal fade preview-popup" id="modal-l18n-60" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" id="modal-l18n-60-close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Localization</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Text</th>
                                    <th>Skin</th>
                                    <th>Language</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>                </tbody>
                        </table>

                        <button type="button" id="modal-l18n-60-add" class="btn btn-primary">+</button>
                        <button type="button" id="modal-l18n-60-close2" class="btn btn-primary pull-right">Close</button>
                    </div>
                </div>
            </div>
        </div><!-- Modal -->
        <div class="modal fade preview-popup" id="modal-l18n-51" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" id="modal-l18n-51-close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Localization</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Text</th>
                                    <th>Skin</th>
                                    <th>Language</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>                </tbody>
                        </table>

                        <button type="button" id="modal-l18n-51-add" class="btn btn-primary">+</button>
                        <button type="button" id="modal-l18n-51-close2" class="btn btn-primary pull-right">Close</button>
                    </div>
                </div>
            </div>
        </div><div class="box-body">
            <div class="form-group" id="form-element-skin">
                <label for="skin" class="optional">Skin</label>

                <select name="skin" id="skin" class="form-control select2">
                    <option value="0">Base</option>
                </select>
                <span class="help-block">Select skin for set currency</span>
            </div>
            <hr></hr>
            <div class="form-group" id="form-element-activeFlag">
                <div class="checkbox">
                    <label>
                        <input type="hidden" name="activeFlag" value="0" /><input type="checkbox" name="activeFlag" id="activeFlag" value="1" checked="checked" objectType="46" data-l18n="46" />Enabled
                    </label>
                </div>
            </div>
            <div class="form-group" id="form-element-useAsDefault">
                <div class="checkbox">
                    <label>
                        <input type="hidden" name="useAsDefault" value="0" /><input type="checkbox" name="useAsDefault" id="useAsDefault" value="1" objectType="58" data-l18n="58" />Use as Default
                    </label>
                </div>
            </div>
            <div class="form-group" id="form-element-isoCode">
                <label for="isoCode" class="required">ISO Code</label>

                <input type="text" name="isoCode" id="isoCode" value="CUSTOM1" class="form-control" />
            </div>
            <div class="form-group" id="form-element-name">
                <label for="name" class="required">Name</label>

                <div class="input-group">
                    <input type="text" name="name" id="name" value="CGP" objectType="40" data-l18n="40" class="form-control" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary" data-l18n-ctl="40">Localize</button>
                    </span>
                </div>
            </div>
            <div class="form-group" id="form-element-fullName">
                <label for="fullName" class="required">Full Name</label>

                <div class="input-group">
                    <input type="text" name="fullName" id="fullName" value="cash game points" objectType="41" data-l18n="41" class="form-control" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary" data-l18n-ctl="41">Localize</button>
                    </span>
                </div>
            </div>
            <div class="form-group" id="form-element-format">
                <label for="format" class="required">Format</label>

                <div class="input-group">
                    <input type="text" name="format" id="format" value="%1" filter="StringTrim" objectType="42" data-l18n="42" class="form-control" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary" data-l18n-ctl="42">Localize</button>
                    </span>
                </div>
            </div>
            <div class="form-group" id="form-element-precision">
                <label for="precision" class="required">Stored Precision</label>

                <input type="text" name="precision" id="precision" value="4" class="form-control" />
            </div>
            <div class="form-group" id="form-element-precisionForShow">
                <label for="precisionForShow" class="required">Displayed Precision</label>

                <input type="text" name="precisionForShow" id="precisionForShow" value="2" class="form-control" />
            </div>
            <div class="form-group" id="form-element-decimalSeparator">
                <label for="decimalSeparator" class="required">Decimal Separator</label>

                <div class="input-group">
                    <input type="text" name="decimalSeparator" id="decimalSeparator" value="." objectType="43" data-l18n="43" class="form-control" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary" data-l18n-ctl="43">Localize</button>
                    </span>
                </div>
            </div>
            <div class="form-group" id="form-element-digitGroupSeparator">
                <label for="digitGroupSeparator" class="optional">Digit Group Separator</label>

                <div class="input-group">
                    <input type="text" name="digitGroupSeparator" id="digitGroupSeparator" value="" objectType="44" data-l18n="44" class="form-control" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary" data-l18n-ctl="44">Localize</button>
                    </span>
                </div>
            </div>
            <div class="form-group" id="form-element-digitGroupingType">
                <label for="digitGroupingType" class="required">Digit Grouping Type</label>

                <div class="input-group">
                    <select name="digitGroupingType" id="digitGroupingType" objectType="45" data-l18n="45" class="form-control select2">
                        <option value="_" selected="selected">None (123456789)</option>
                        <option value="A">Every 3 (123 456 789)</option>
                        <option value="B">Once 3 (123456 789)</option>
                        <option value="C">Once 3 Every 2 (12 34 56 789)</option>
                    </select>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary" data-l18n-ctl="45">Localize</button>
                    </span>
                </div>
            </div>
            <div class="form-group" id="form-element-roundingType">
                <label for="roundingType" class="optional">Rounding Type</label>

                <select name="roundingType" id="roundingType" class="form-control select2">
                    <option value="0" selected="selected">None</option>
                    <option value="1">Down</option>
                    <option value="2">Up</option>
                </select>
            </div>
            <div class="form-group" id="form-element-allowTableCreation">
                <div class="checkbox">
                    <label>
                        <input type="hidden" name="allowTableCreation" value="0" /><input type="checkbox" name="allowTableCreation" id="allowTableCreation" value="1" checked="checked" objectType="47" data-l18n="47" />Allowed For Cash Games
                    </label>
                </div>
            </div>
            <div class="form-group" id="form-element-useForRatePoint">
                <div class="checkbox">
                    <label>
                        <input type="hidden" name="useForRatePoint" value="0" /><input type="checkbox" name="useForRatePoint" id="useForRatePoint" value="1" checked="checked" objectType="56" data-l18n="56" />Use For Ratepoints
                    </label>
                </div>
            </div>
            <div class="form-group" id="form-element-allowTournamentCreation">
                <div class="checkbox">
                    <label>
                        <input type="hidden" name="allowTournamentCreation" value="0" /><input type="checkbox" name="allowTournamentCreation" id="allowTournamentCreation" value="1" checked="checked" objectType="48" data-l18n="48" />Allowed For Tournament's Buy-in/Entry-Fee
                    </label>
                </div>
            </div>
            <div class="form-group" id="form-element-allowDeposit">
                <div class="checkbox">
                    <label>
                        <input type="hidden" name="allowDeposit" value="0" /><input type="checkbox" name="allowDeposit" id="allowDeposit" value="1" objectType="49" data-l18n="49" />Allowed For Deposits
                    </label>
                </div>
            </div>
            <div class="form-group" id="form-element-allowP2P">
                <div class="checkbox">
                    <label>
                        <input type="hidden" name="allowP2P" value="0" /><input type="checkbox" name="allowP2P" id="allowP2P" value="1" objectType="50" data-l18n="50" />Allowed For P2P Transfers
                    </label>
                </div>
            </div>
            <div class="form-group" id="form-element-allowPlayerRejoinLimitation">
                <div class="checkbox">
                    <label>
                        <input type="hidden" name="allowPlayerRejoinLimitation" value="0" /><input type="checkbox" name="allowPlayerRejoinLimitation" id="allowPlayerRejoinLimitation" value="1" objectType="54" data-l18n="54" />Allowed For Rejoin Limits
                    </label>
                </div>
                <span class="help-block">After the server restart the change will be applied to all of the tables and instantly for the new ones.</span>
            </div>
            <div class="form-group" id="form-element-isSecondPrizeMoneyType">
                <div class="checkbox">
                    <label>
                        <input type="hidden" name="isSecondPrizeMoneyType" value="0" /><input type="checkbox" name="isSecondPrizeMoneyType" id="isSecondPrizeMoneyType" value="1" checked="checked" objectType="55" data-l18n="55" />Allowed For Tournament's Second Prize
                    </label>
                </div>
            </div>
            <div class="form-group" id="form-element-useForCasino">
                <div class="checkbox">
                    <label>
                        <input type="hidden" name="useForCasino" value="0" /><input type="checkbox" name="useForCasino" id="useForCasino" value="1" objectType="57" data-l18n="57" />Use For Casino Games
                    </label>
                </div>
            </div>
            <div class="form-group" id="form-element-useSystemLocale">
                <div class="checkbox">
                    <label>
                        <input type="hidden" name="useSystemLocale" value="0" /><input type="checkbox" name="useSystemLocale" id="useSystemLocale" value="1" />Use System Locale
                    </label>
                </div>
            </div>
            <div class="form-group" id="form-element-useForRake">
                <div class="checkbox">
                    <label>
                        <input type="hidden" name="useForRake" value="0" /><input type="checkbox" name="useForRake" id="useForRake" value="1" checked="checked" objectType="51" data-l18n="51" />Use For Rake
                    </label>
                </div>
            </div>
            <div class="form-group" id="form-element-isExternal">
                <div class="checkbox">
                    <label>
                        <input type="hidden" name="isExternal" value="0" /><input type="checkbox" name="isExternal" id="isExternal" value="1" objectType="60" data-l18n="60" />Is External
                    </label>
                </div>
            </div>
            <div class="form-group" id="form-element-onlyForExchange">
                <div class="checkbox">
                    <label>
                        <input type="hidden" name="onlyForExchange" value="0" /><input type="checkbox" name="onlyForExchange" id="onlyForExchange" value="1" objectType="59" data-l18n="59" />Only For Exchange
                    </label>
                </div>
            </div>
            <div class="form-group" id="form-element-forAffiliateProfit">
                <div class="checkbox">
                    <label>
                        <input type="hidden" name="forAffiliateProfit" value="0" /><input type="checkbox" name="forAffiliateProfit" id="forAffiliateProfit" value="1" />Use For Affiliate Profit
                    </label>
                </div>
            </div>

            <input type="submit" name="submit" id="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>

<div class="alert alert-success alert-dismissible" style="display: none;">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h4 style="margin: 0;"><i class="icon fa fa-check"></i>Changes successfully saved</h4>
</div>
<div class="alert alert-error alert-dismissible" style="display: none;">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h4 style="margin: 0;">
        <i class="icon fa fa-check"></i>
        <span></span>
    </h4>
</div>
