﻿
@{
    ViewBag.Title = "Custom Role Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Add Custom Role</h3>
<div class="box box-primary">
    <form enctype="application/x-www-form-urlencoded" method="post" action="" dojoType="dijit.form.Form">
        <div class="box-body">
            <div class="form-group" id="form-element-label">
                <label for="label" class="required">Name</label>

                <input type="text" name="label" id="label" value="" class="form-control" />
            </div>

            <input type="submit" name="send" id="send" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>


