﻿
@{
    ViewBag.Title = "CustomRoleList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Custom Roles</h3>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
        </div>
        <div class="box">
            <div class="box-body">
                <div id="dynamicContent">
                    <div class="custom-dropdown-menu" id="columnsControls">
                    </div>

                    <table id='borRoles' class="listing-table" data-dt-not-fixed-cols="true">
                        <thead class="listHead">
                            <tr>
                                <th data-meta-skip-manage='true'>
                                    <div>
                                        <button type="button" class="btn btn-primary custom-dropdown" id="columnControlsBtn">
                                            <img src="img/icons/menu.svg" alt="+">
                                        </button>
                                    </div>
                                </th>
                                <th data-meta-key='f_label'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_label"
                                           orderType="">
                                            Name
                                        </a>
                                    </nobr>
                                </th>
                            </tr>
                            <tr class="listFilter">
                                <th>

                                    <button name="butFilter" id="butFilter" type="button">Apply Filter</button>

                                    <button name="butReset" id="butReset" type="button">Reset Filter</button>
                                </th>
                                <th>
                                    <input type="text" name="f_label" id="f_label" value="" filter="1" orderable="1" sql="f_label" nonHtml="" class="filter" />
                                </th>

                            </tr>
                        </thead>


                        <tr class="odd ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/backoffice-user/role-view/id/1" onClick='return window.onOpenViewRoleDialog(event)'>
                                            <div class="view" id="view-1"></div>View
                                        </a>

                                        <a href="/webadmin/backoffice-user/role/id/1">
                                            <div class="edit" id="edit-1"></div>Edit
                                        </a>

                                        <a href="/webadmin/backoffice-user/role-delete/id/1" onClick='return confirm("Deleting role.\nAre you sure?");'>
                                            <div class="del" id="del-1"></div>Delete
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>Tournament Manager</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->


                    </table>
                    <div class='rowCount'>
                        <div class="row">
                            <div class="col-md-3">
                                Rows: 1&ensp;|&ensp;
                                <div class="limit-controls" style="display: inline-block;">
                                    <div id="perpage">Per page:</div>
                                    <select class="limit-links">
                                        <option data-href="/webadmin/backoffice-user/role-list/limit/10">10</option>
                                        <option data-href="/webadmin/backoffice-user/role-list/limit/25">25</option>
                                        <option selected data-href="/webadmin/backoffice-user/role-list/limit/50">50</option>
                                        <option data-href="/webadmin/backoffice-user/role-list/limit/100">100</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-7" style="display: flex; justify-content: center">
                                <div class="paginator-controls" id="blockPaginatorControls">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="pull-right">
                                    <a href="/webadmin/backoffice-user/role-list/_output/xlsx"><img src="img/icons/xls.svg" alt="Excel"></a>
                                    <a href="/webadmin/backoffice-user/role-list/_output/csv"><img src="img/icons/csv.svg" alt="CSV"></a>
                                    <a href="/webadmin/backoffice-user/role-list/_output/ods"><img src="img/icons/odt.svg" alt="OpenDocument" /></a>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="viewRoleDialog" tabindex="-1" role="dialog"
     aria-labelledby="viewRoleLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="viewRoleLabel">
                    View Role
                </h4>
            </div>
            <div class="modal-body">
                <div id="dynamicContent_modal"></div>
            </div>
        </div>
    </div>
</div>


<script>
    modals.init('viewRoleDialog');

    window.onOpenViewRoleDialog = function (event) {
        event.preventDefault();
        var url = event.target.parentNode.getAttribute('href');
        $('#viewRoleDialog').attr('data-url', url).modal('show');
        return false;
    };
</script>