﻿
@{
    ViewBag.Title = "DefaultLimitValues";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h3>Default Limit Values <a href="http://docs.evenbetgaming.com/articles/Administration_Panel/Default Limits.html" target="_blank"><sup><i class="fa fa-question-circle"></i></sup></a></h3>
<div class="box box-solid">
    <form enctype="application/x-www-form-urlencoded" action="" method="post" dojoType="dijit.form.Form">
        <div class="nav-tabs-custom" id="tabs_914">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#tabs_914_82" data-toggle="tab" aria-expanded="true">
                        Real Money
                    </a>
                </li>
                <li>
                    <a href="#tabs_914_80" data-toggle="tab" aria-expanded="false">
                        Play Money
                    </a>
                </li>
                <li>
                    <a href="#tabs_914_65" data-toggle="tab" aria-expanded="false">
                        cash game points
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tabs_914_82">
                    <div class="box-body">
                        <div class="form-group" id="form-element-skinBalanceEnabled">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="82[skinBalanceEnabled]" value="0" /><input type="checkbox" name="82[skinBalanceEnabled]" id="82-skinBalanceEnabled" value="1" />Skin Balance
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="form-element-decreaseInfoTransferLimitsRakeRatio">
                            <label for="82-decreaseInfoTransferLimitsRakeRatio" class="optional">Decrease Transfer Money Limit By Rake Ratio, Money/Rake</label>

                            <input type="text" name="82[decreaseInfoTransferLimitsRakeRatio]" id="82-decreaseInfoTransferLimitsRakeRatio" value="" filter="StringTrim" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-cashinDailyEnabled">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="82[cashinDailyEnabled]" value="0" /><input type="checkbox" name="82[cashinDailyEnabled]" id="82-cashinDailyEnabled" value="1" checked="checked" />CashIn Daily
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="form-element-cashinDayly">
                            <input type="text" name="82[cashinDayly]" id="82-cashinDayly" value="10000" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-cashinWeeklyEnabled">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="82[cashinWeeklyEnabled]" value="0" /><input type="checkbox" name="82[cashinWeeklyEnabled]" id="82-cashinWeeklyEnabled" value="1" checked="checked" />CashIn Weekly
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="form-element-cashinWeekly">
                            <input type="text" name="82[cashinWeekly]" id="82-cashinWeekly" value="50000" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-cashinMonthlyEnabled">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="82[cashinMonthlyEnabled]" value="0" /><input type="checkbox" name="82[cashinMonthlyEnabled]" id="82-cashinMonthlyEnabled" value="1" checked="checked" />CashIn Monthly
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="form-element-cashinMonthly">
                            <input type="text" name="82[cashinMonthly]" id="82-cashinMonthly" value="100000" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-cashoutDailyEnabled">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="82[cashoutDailyEnabled]" value="0" /><input type="checkbox" name="82[cashoutDailyEnabled]" id="82-cashoutDailyEnabled" value="1" checked="checked" />CashOut Daily
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="form-element-cashoutDayly">
                            <label for="82-cashoutDayly" class="optional">Unverified</label>

                            <input type="text" name="82[cashoutDayly]" id="82-cashoutDayly" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-cashoutDaylyVerified">
                            <label for="82-cashoutDaylyVerified" class="optional">Verified</label>

                            <input type="text" name="82[cashoutDaylyVerified]" id="82-cashoutDaylyVerified" value="10000" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-cashoutWeeklyEnabled">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="82[cashoutWeeklyEnabled]" value="0" /><input type="checkbox" name="82[cashoutWeeklyEnabled]" id="82-cashoutWeeklyEnabled" value="1" checked="checked" />CashOut Weekly
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="form-element-cashoutWeekly">
                            <label for="82-cashoutWeekly" class="optional">Unverified</label>

                            <input type="text" name="82[cashoutWeekly]" id="82-cashoutWeekly" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-cashoutWeeklyVerified">
                            <label for="82-cashoutWeeklyVerified" class="optional">Verified</label>

                            <input type="text" name="82[cashoutWeeklyVerified]" id="82-cashoutWeeklyVerified" value="50000" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-cashoutMonthlyEnabled">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="82[cashoutMonthlyEnabled]" value="0" /><input type="checkbox" name="82[cashoutMonthlyEnabled]" id="82-cashoutMonthlyEnabled" value="1" checked="checked" />CashOut Monthly
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="form-element-cashoutMonthly">
                            <label for="82-cashoutMonthly" class="optional">Unverified</label>

                            <input type="text" name="82[cashoutMonthly]" id="82-cashoutMonthly" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-cashoutMonthlyVerified">
                            <label for="82-cashoutMonthlyVerified" class="optional">Verified</label>

                            <input type="text" name="82[cashoutMonthlyVerified]" id="82-cashoutMonthlyVerified" value="100000" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-unverifiedWithdrawal">
                            <label for="82-unverifiedWithdrawal" class="optional">Unverified Player CashOut</label>

                            <input type="text" name="82[unverifiedWithdrawal]" id="82-unverifiedWithdrawal" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-unverifiedWithdrawalNum">
                            <label for="82-unverifiedWithdrawalNum" class="optional">Unverified Player CashOut Num.</label>

                            <input type="text" name="82[unverifiedWithdrawalNum]" id="82-unverifiedWithdrawalNum" value="" filter="Int" class="form-control" />
                            <span class="help-block">The number of requests that an unverified user can make</span>
                        </div>
                        <div class="form-group" id="form-element-cashoutAutoLastDepositInterval">
                            <label for="82-cashoutAutoLastDepositInterval" class="optional">The Last Deposit Interval To Auto Cashout Availability</label>

                            <input type="text" name="82[cashoutAutoLastDepositInterval]" id="82-cashoutAutoLastDepositInterval" value="" class="form-control" />
                            <span class="help-block">Format: DD:HH:MM:SS</span>
                        </div>
                        <div class="form-group" id="form-element-cashoutDailyAutoEnabled">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="82[cashoutDailyAutoEnabled]" value="0" /><input type="checkbox" name="82[cashoutDailyAutoEnabled]" id="82-cashoutDailyAutoEnabled" value="1" checked="checked" />CashOut Daily Auto
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="form-element-cashoutDaylyAuto">
                            <input type="text" name="82[cashoutDaylyAuto]" id="82-cashoutDaylyAuto" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-cashoutDaylyAutoNum">
                            <label for="82-cashoutDaylyAutoNum" class="optional">Max. Number Of Auto Cashouts Per Day</label>

                            <input type="text" name="82[cashoutDaylyAutoNum]" id="82-cashoutDaylyAutoNum" value="" class="form-control" />
                            <span class="help-block">Leave blank or '0' to disable</span>
                        </div>
                        <div class="form-group" id="form-element-cashoutDailyAutoForTodayOnly">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="82[cashoutDailyAutoForTodayOnly]" value="0" /><input type="checkbox" name="82[cashoutDailyAutoForTodayOnly]" id="82-cashoutDailyAutoForTodayOnly" value="1" />Auto Cashouts Allowed Only For Requests That Are Made Today
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="form-element-cashoutWeeklyAutoEnabled">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="82[cashoutWeeklyAutoEnabled]" value="0" /><input type="checkbox" name="82[cashoutWeeklyAutoEnabled]" id="82-cashoutWeeklyAutoEnabled" value="1" checked="checked" />CashOut Weekly Auto
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="form-element-cashoutWeeklyAuto">
                            <input type="text" name="82[cashoutWeeklyAuto]" id="82-cashoutWeeklyAuto" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-cashoutWeeklyAutoNum">
                            <label for="82-cashoutWeeklyAutoNum" class="optional">Max. Number Of Auto Cashouts Per Week</label>

                            <input type="text" name="82[cashoutWeeklyAutoNum]" id="82-cashoutWeeklyAutoNum" value="" class="form-control" />
                            <span class="help-block">Leave blank or '0' to disable</span>
                        </div>
                        <div class="form-group" id="form-element-cashoutMonthlyAutoEnabled">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="82[cashoutMonthlyAutoEnabled]" value="0" /><input type="checkbox" name="82[cashoutMonthlyAutoEnabled]" id="82-cashoutMonthlyAutoEnabled" value="1" checked="checked" />CashOut Monthly Auto
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="form-element-cashoutMonthlyAuto">
                            <input type="text" name="82[cashoutMonthlyAuto]" id="82-cashoutMonthlyAuto" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-cashoutMonthlyAutoNum">
                            <label for="82-cashoutMonthlyAutoNum" class="optional">Max. Number Of Auto Cashouts Per Month</label>

                            <input type="text" name="82[cashoutMonthlyAutoNum]" id="82-cashoutMonthlyAutoNum" value="" class="form-control" />
                            <span class="help-block">Leave blank or '0' to disable</span>
                        </div>
                        <div class="form-group" id="form-element-transferDailyAutoEnabled">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="82[transferDailyAutoEnabled]" value="0" /><input type="checkbox" name="82[transferDailyAutoEnabled]" id="82-transferDailyAutoEnabled" value="1" checked="checked" />Transfer Daily Auto
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="form-element-transferDaylyAuto">
                            <input type="text" name="82[transferDaylyAuto]" id="82-transferDaylyAuto" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-transferWeeklyAutoEnabled">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="82[transferWeeklyAutoEnabled]" value="0" /><input type="checkbox" name="82[transferWeeklyAutoEnabled]" id="82-transferWeeklyAutoEnabled" value="1" checked="checked" />Transfer Weekly Auto
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="form-element-transferWeeklyAuto">
                            <input type="text" name="82[transferWeeklyAuto]" id="82-transferWeeklyAuto" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-transferMonthlyAutoEnabled">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="82[transferMonthlyAutoEnabled]" value="0" /><input type="checkbox" name="82[transferMonthlyAutoEnabled]" id="82-transferMonthlyAutoEnabled" value="1" checked="checked" />Transfer Monthly Auto
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="form-element-transferMonthlyAuto">
                            <input type="text" name="82[transferMonthlyAuto]" id="82-transferMonthlyAuto" value="" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tabs_914_80">
                    <div class="box-body">
                        <div class="form-group" id="form-element-skinBalanceEnabled">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="80[skinBalanceEnabled]" value="0" /><input type="checkbox" name="80[skinBalanceEnabled]" id="80-skinBalanceEnabled" value="1" />Skin Balance
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="form-element-decreaseInfoTransferLimitsRakeRatio">
                            <label for="80-decreaseInfoTransferLimitsRakeRatio" class="optional">Decrease Transfer Money Limit By Rake Ratio, Money/Rake</label>

                            <input type="text" name="80[decreaseInfoTransferLimitsRakeRatio]" id="80-decreaseInfoTransferLimitsRakeRatio" value="" filter="StringTrim" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-cashinDailyEnabled">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="80[cashinDailyEnabled]" value="0" /><input type="checkbox" name="80[cashinDailyEnabled]" id="80-cashinDailyEnabled" value="1" checked="checked" />CashIn Daily
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="form-element-cashinDayly">
                            <input type="text" name="80[cashinDayly]" id="80-cashinDayly" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-cashinWeeklyEnabled">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="80[cashinWeeklyEnabled]" value="0" /><input type="checkbox" name="80[cashinWeeklyEnabled]" id="80-cashinWeeklyEnabled" value="1" checked="checked" />CashIn Weekly
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="form-element-cashinWeekly">
                            <input type="text" name="80[cashinWeekly]" id="80-cashinWeekly" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-cashinMonthlyEnabled">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="80[cashinMonthlyEnabled]" value="0" /><input type="checkbox" name="80[cashinMonthlyEnabled]" id="80-cashinMonthlyEnabled" value="1" checked="checked" />CashIn Monthly
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="form-element-cashinMonthly">
                            <input type="text" name="80[cashinMonthly]" id="80-cashinMonthly" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-cashoutDailyEnabled">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="80[cashoutDailyEnabled]" value="0" /><input type="checkbox" name="80[cashoutDailyEnabled]" id="80-cashoutDailyEnabled" value="1" checked="checked" />CashOut Daily
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="form-element-cashoutDayly">
                            <label for="80-cashoutDayly" class="optional">Unverified</label>

                            <input type="text" name="80[cashoutDayly]" id="80-cashoutDayly" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-cashoutDaylyVerified">
                            <label for="80-cashoutDaylyVerified" class="optional">Verified</label>

                            <input type="text" name="80[cashoutDaylyVerified]" id="80-cashoutDaylyVerified" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-cashoutWeeklyEnabled">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="80[cashoutWeeklyEnabled]" value="0" /><input type="checkbox" name="80[cashoutWeeklyEnabled]" id="80-cashoutWeeklyEnabled" value="1" checked="checked" />CashOut Weekly
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="form-element-cashoutWeekly">
                            <label for="80-cashoutWeekly" class="optional">Unverified</label>

                            <input type="text" name="80[cashoutWeekly]" id="80-cashoutWeekly" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-cashoutWeeklyVerified">
                            <label for="80-cashoutWeeklyVerified" class="optional">Verified</label>

                            <input type="text" name="80[cashoutWeeklyVerified]" id="80-cashoutWeeklyVerified" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-cashoutMonthlyEnabled">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="80[cashoutMonthlyEnabled]" value="0" /><input type="checkbox" name="80[cashoutMonthlyEnabled]" id="80-cashoutMonthlyEnabled" value="1" checked="checked" />CashOut Monthly
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="form-element-cashoutMonthly">
                            <label for="80-cashoutMonthly" class="optional">Unverified</label>

                            <input type="text" name="80[cashoutMonthly]" id="80-cashoutMonthly" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-cashoutMonthlyVerified">
                            <label for="80-cashoutMonthlyVerified" class="optional">Verified</label>

                            <input type="text" name="80[cashoutMonthlyVerified]" id="80-cashoutMonthlyVerified" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-unverifiedWithdrawal">
                            <label for="80-unverifiedWithdrawal" class="optional">Unverified Player CashOut</label>

                            <input type="text" name="80[unverifiedWithdrawal]" id="80-unverifiedWithdrawal" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-unverifiedWithdrawalNum">
                            <label for="80-unverifiedWithdrawalNum" class="optional">Unverified Player CashOut Num.</label>

                            <input type="text" name="80[unverifiedWithdrawalNum]" id="80-unverifiedWithdrawalNum" value="" filter="Int" class="form-control" />
                            <span class="help-block">The number of requests that an unverified user can make</span>
                        </div>
                        <div class="form-group" id="form-element-cashoutAutoLastDepositInterval">
                            <label for="80-cashoutAutoLastDepositInterval" class="optional">The Last Deposit Interval To Auto Cashout Availability</label>

                            <input type="text" name="80[cashoutAutoLastDepositInterval]" id="80-cashoutAutoLastDepositInterval" value="" class="form-control" />
                            <span class="help-block">Format: DD:HH:MM:SS</span>
                        </div>
                        <div class="form-group" id="form-element-cashoutDailyAutoEnabled">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="80[cashoutDailyAutoEnabled]" value="0" /><input type="checkbox" name="80[cashoutDailyAutoEnabled]" id="80-cashoutDailyAutoEnabled" value="1" checked="checked" />CashOut Daily Auto
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="form-element-cashoutDaylyAuto">
                            <input type="text" name="80[cashoutDaylyAuto]" id="80-cashoutDaylyAuto" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-cashoutDaylyAutoNum">
                            <label for="80-cashoutDaylyAutoNum" class="optional">Max. Number Of Auto Cashouts Per Day</label>

                            <input type="text" name="80[cashoutDaylyAutoNum]" id="80-cashoutDaylyAutoNum" value="" class="form-control" />
                            <span class="help-block">Leave blank or '0' to disable</span>
                        </div>
                        <div class="form-group" id="form-element-cashoutDailyAutoForTodayOnly">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="80[cashoutDailyAutoForTodayOnly]" value="0" /><input type="checkbox" name="80[cashoutDailyAutoForTodayOnly]" id="80-cashoutDailyAutoForTodayOnly" value="1" />Auto Cashouts Allowed Only For Requests That Are Made Today
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="form-element-cashoutWeeklyAutoEnabled">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="80[cashoutWeeklyAutoEnabled]" value="0" /><input type="checkbox" name="80[cashoutWeeklyAutoEnabled]" id="80-cashoutWeeklyAutoEnabled" value="1" checked="checked" />CashOut Weekly Auto
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="form-element-cashoutWeeklyAuto">
                            <input type="text" name="80[cashoutWeeklyAuto]" id="80-cashoutWeeklyAuto" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-cashoutWeeklyAutoNum">
                            <label for="80-cashoutWeeklyAutoNum" class="optional">Max. Number Of Auto Cashouts Per Week</label>

                            <input type="text" name="80[cashoutWeeklyAutoNum]" id="80-cashoutWeeklyAutoNum" value="" class="form-control" />
                            <span class="help-block">Leave blank or '0' to disable</span>
                        </div>
                        <div class="form-group" id="form-element-cashoutMonthlyAutoEnabled">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="80[cashoutMonthlyAutoEnabled]" value="0" /><input type="checkbox" name="80[cashoutMonthlyAutoEnabled]" id="80-cashoutMonthlyAutoEnabled" value="1" checked="checked" />CashOut Monthly Auto
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="form-element-cashoutMonthlyAuto">
                            <input type="text" name="80[cashoutMonthlyAuto]" id="80-cashoutMonthlyAuto" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-cashoutMonthlyAutoNum">
                            <label for="80-cashoutMonthlyAutoNum" class="optional">Max. Number Of Auto Cashouts Per Month</label>

                            <input type="text" name="80[cashoutMonthlyAutoNum]" id="80-cashoutMonthlyAutoNum" value="" class="form-control" />
                            <span class="help-block">Leave blank or '0' to disable</span>
                        </div>
                        <div class="form-group" id="form-element-transferDailyAutoEnabled">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="80[transferDailyAutoEnabled]" value="0" /><input type="checkbox" name="80[transferDailyAutoEnabled]" id="80-transferDailyAutoEnabled" value="1" checked="checked" />Transfer Daily Auto
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="form-element-transferDaylyAuto">
                            <input type="text" name="80[transferDaylyAuto]" id="80-transferDaylyAuto" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-transferWeeklyAutoEnabled">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="80[transferWeeklyAutoEnabled]" value="0" /><input type="checkbox" name="80[transferWeeklyAutoEnabled]" id="80-transferWeeklyAutoEnabled" value="1" checked="checked" />Transfer Weekly Auto
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="form-element-transferWeeklyAuto">
                            <input type="text" name="80[transferWeeklyAuto]" id="80-transferWeeklyAuto" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-transferMonthlyAutoEnabled">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="80[transferMonthlyAutoEnabled]" value="0" /><input type="checkbox" name="80[transferMonthlyAutoEnabled]" id="80-transferMonthlyAutoEnabled" value="1" checked="checked" />Transfer Monthly Auto
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="form-element-transferMonthlyAuto">
                            <input type="text" name="80[transferMonthlyAuto]" id="80-transferMonthlyAuto" value="" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tabs_914_65">
                    <div class="box-body">
                        <div class="form-group" id="form-element-skinBalanceEnabled">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="65[skinBalanceEnabled]" value="0" /><input type="checkbox" name="65[skinBalanceEnabled]" id="65-skinBalanceEnabled" value="1" />Skin Balance
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="form-element-decreaseInfoTransferLimitsRakeRatio">
                            <label for="65-decreaseInfoTransferLimitsRakeRatio" class="optional">Decrease Transfer Money Limit By Rake Ratio, Money/Rake</label>

                            <input type="text" name="65[decreaseInfoTransferLimitsRakeRatio]" id="65-decreaseInfoTransferLimitsRakeRatio" value="" filter="StringTrim" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-cashinDailyEnabled">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="65[cashinDailyEnabled]" value="0" /><input type="checkbox" name="65[cashinDailyEnabled]" id="65-cashinDailyEnabled" value="1" checked="checked" />CashIn Daily
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="form-element-cashinDayly">
                            <input type="text" name="65[cashinDayly]" id="65-cashinDayly" value="100" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-cashinWeeklyEnabled">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="65[cashinWeeklyEnabled]" value="0" /><input type="checkbox" name="65[cashinWeeklyEnabled]" id="65-cashinWeeklyEnabled" value="1" checked="checked" />CashIn Weekly
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="form-element-cashinWeekly">
                            <input type="text" name="65[cashinWeekly]" id="65-cashinWeekly" value="500" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-cashinMonthlyEnabled">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="65[cashinMonthlyEnabled]" value="0" /><input type="checkbox" name="65[cashinMonthlyEnabled]" id="65-cashinMonthlyEnabled" value="1" checked="checked" />CashIn Monthly
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="form-element-cashinMonthly">
                            <input type="text" name="65[cashinMonthly]" id="65-cashinMonthly" value="1000" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-cashoutDailyEnabled">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="65[cashoutDailyEnabled]" value="0" /><input type="checkbox" name="65[cashoutDailyEnabled]" id="65-cashoutDailyEnabled" value="1" checked="checked" />CashOut Daily
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="form-element-cashoutDayly">
                            <label for="65-cashoutDayly" class="optional">Unverified</label>

                            <input type="text" name="65[cashoutDayly]" id="65-cashoutDayly" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-cashoutDaylyVerified">
                            <label for="65-cashoutDaylyVerified" class="optional">Verified</label>

                            <input type="text" name="65[cashoutDaylyVerified]" id="65-cashoutDaylyVerified" value="100" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-cashoutWeeklyEnabled">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="65[cashoutWeeklyEnabled]" value="0" /><input type="checkbox" name="65[cashoutWeeklyEnabled]" id="65-cashoutWeeklyEnabled" value="1" checked="checked" />CashOut Weekly
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="form-element-cashoutWeekly">
                            <label for="65-cashoutWeekly" class="optional">Unverified</label>

                            <input type="text" name="65[cashoutWeekly]" id="65-cashoutWeekly" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-cashoutWeeklyVerified">
                            <label for="65-cashoutWeeklyVerified" class="optional">Verified</label>

                            <input type="text" name="65[cashoutWeeklyVerified]" id="65-cashoutWeeklyVerified" value="500" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-cashoutMonthlyEnabled">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="65[cashoutMonthlyEnabled]" value="0" /><input type="checkbox" name="65[cashoutMonthlyEnabled]" id="65-cashoutMonthlyEnabled" value="1" checked="checked" />CashOut Monthly
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="form-element-cashoutMonthly">
                            <label for="65-cashoutMonthly" class="optional">Unverified</label>

                            <input type="text" name="65[cashoutMonthly]" id="65-cashoutMonthly" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-cashoutMonthlyVerified">
                            <label for="65-cashoutMonthlyVerified" class="optional">Verified</label>

                            <input type="text" name="65[cashoutMonthlyVerified]" id="65-cashoutMonthlyVerified" value="1000" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-unverifiedWithdrawal">
                            <label for="65-unverifiedWithdrawal" class="optional">Unverified Player CashOut</label>

                            <input type="text" name="65[unverifiedWithdrawal]" id="65-unverifiedWithdrawal" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-unverifiedWithdrawalNum">
                            <label for="65-unverifiedWithdrawalNum" class="optional">Unverified Player CashOut Num.</label>

                            <input type="text" name="65[unverifiedWithdrawalNum]" id="65-unverifiedWithdrawalNum" value="" filter="Int" class="form-control" />
                            <span class="help-block">The number of requests that an unverified user can make</span>
                        </div>
                        <div class="form-group" id="form-element-cashoutAutoLastDepositInterval">
                            <label for="65-cashoutAutoLastDepositInterval" class="optional">The Last Deposit Interval To Auto Cashout Availability</label>

                            <input type="text" name="65[cashoutAutoLastDepositInterval]" id="65-cashoutAutoLastDepositInterval" value="" class="form-control" />
                            <span class="help-block">Format: DD:HH:MM:SS</span>
                        </div>
                        <div class="form-group" id="form-element-cashoutDailyAutoEnabled">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="65[cashoutDailyAutoEnabled]" value="0" /><input type="checkbox" name="65[cashoutDailyAutoEnabled]" id="65-cashoutDailyAutoEnabled" value="1" checked="checked" />CashOut Daily Auto
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="form-element-cashoutDaylyAuto">
                            <input type="text" name="65[cashoutDaylyAuto]" id="65-cashoutDaylyAuto" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-cashoutDaylyAutoNum">
                            <label for="65-cashoutDaylyAutoNum" class="optional">Max. Number Of Auto Cashouts Per Day</label>

                            <input type="text" name="65[cashoutDaylyAutoNum]" id="65-cashoutDaylyAutoNum" value="" class="form-control" />
                            <span class="help-block">Leave blank or '0' to disable</span>
                        </div>
                        <div class="form-group" id="form-element-cashoutDailyAutoForTodayOnly">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="65[cashoutDailyAutoForTodayOnly]" value="0" /><input type="checkbox" name="65[cashoutDailyAutoForTodayOnly]" id="65-cashoutDailyAutoForTodayOnly" value="1" />Auto Cashouts Allowed Only For Requests That Are Made Today
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="form-element-cashoutWeeklyAutoEnabled">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="65[cashoutWeeklyAutoEnabled]" value="0" /><input type="checkbox" name="65[cashoutWeeklyAutoEnabled]" id="65-cashoutWeeklyAutoEnabled" value="1" checked="checked" />CashOut Weekly Auto
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="form-element-cashoutWeeklyAuto">
                            <input type="text" name="65[cashoutWeeklyAuto]" id="65-cashoutWeeklyAuto" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-cashoutWeeklyAutoNum">
                            <label for="65-cashoutWeeklyAutoNum" class="optional">Max. Number Of Auto Cashouts Per Week</label>

                            <input type="text" name="65[cashoutWeeklyAutoNum]" id="65-cashoutWeeklyAutoNum" value="" class="form-control" />
                            <span class="help-block">Leave blank or '0' to disable</span>
                        </div>
                        <div class="form-group" id="form-element-cashoutMonthlyAutoEnabled">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="65[cashoutMonthlyAutoEnabled]" value="0" /><input type="checkbox" name="65[cashoutMonthlyAutoEnabled]" id="65-cashoutMonthlyAutoEnabled" value="1" checked="checked" />CashOut Monthly Auto
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="form-element-cashoutMonthlyAuto">
                            <input type="text" name="65[cashoutMonthlyAuto]" id="65-cashoutMonthlyAuto" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-cashoutMonthlyAutoNum">
                            <label for="65-cashoutMonthlyAutoNum" class="optional">Max. Number Of Auto Cashouts Per Month</label>

                            <input type="text" name="65[cashoutMonthlyAutoNum]" id="65-cashoutMonthlyAutoNum" value="" class="form-control" />
                            <span class="help-block">Leave blank or '0' to disable</span>
                        </div>
                        <div class="form-group" id="form-element-transferDailyAutoEnabled">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="65[transferDailyAutoEnabled]" value="0" /><input type="checkbox" name="65[transferDailyAutoEnabled]" id="65-transferDailyAutoEnabled" value="1" checked="checked" />Transfer Daily Auto
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="form-element-transferDaylyAuto">
                            <input type="text" name="65[transferDaylyAuto]" id="65-transferDaylyAuto" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-transferWeeklyAutoEnabled">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="65[transferWeeklyAutoEnabled]" value="0" /><input type="checkbox" name="65[transferWeeklyAutoEnabled]" id="65-transferWeeklyAutoEnabled" value="1" checked="checked" />Transfer Weekly Auto
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="form-element-transferWeeklyAuto">
                            <input type="text" name="65[transferWeeklyAuto]" id="65-transferWeeklyAuto" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-transferMonthlyAutoEnabled">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="65[transferMonthlyAutoEnabled]" value="0" /><input type="checkbox" name="65[transferMonthlyAutoEnabled]" id="65-transferMonthlyAutoEnabled" value="1" checked="checked" />Transfer Monthly Auto
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="form-element-transferMonthlyAuto">
                            <input type="text" name="65[transferMonthlyAuto]" id="65-transferMonthlyAuto" value="" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <input type="submit" name="send" id="send" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>