﻿
@{
    ViewBag.Title = "DevicesReports";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h3>Devices Reports</h3>
<div class="row">
    <div class="col-xs-12">
        <div class="box box-default">
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12 col-md-3">

                        <div class="form-group">
                            <label>Date range:</label>

                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right" id="daterangepicker" value="">

                            </div>
                            <!-- /.input group -->
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="text-center" id="chart-pieOS"></div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-center" id="chart-barNetwork"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="text-center" id="chart-tableResolution"></div>
                    </div>
                    <div class="col-md-4">
                        <div class="text-center" id="chart-tableInputType"></div>
                    </div>
                    <div class="col-md-4">
                        <div class="text-center" id="chart-tableDeviceBranding"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>