﻿
@{
    ViewBag.Title = "EasyPayDirectPayment";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h1>Easy Pay Direct Payment Settings</h1>
<div class="box box-solid">
    <form enctype="application/x-www-form-urlencoded" action="" method="post" dojoType="dijit.form.Form">
        <div class="nav-tabs-custom" id="tabs_968">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#tabs_968___main__" data-toggle="tab" aria-expanded="true">
                        Main
                    </a>
                </li>
                <li>
                    <a href="#tabs_968_groups" data-toggle="tab" aria-expanded="false">
                        Player Groups
                    </a>
                </li>
                <li>
                    <a href="#tabs_968_moneyTypes" data-toggle="tab" aria-expanded="false">
                        Currencies
                    </a>
                </li>
                <li>
                    <a href="#tabs_968_limits" data-toggle="tab" aria-expanded="false">
                        Limits
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tabs_968___main__">
                    <div class="form-group" id="form-element-is_enabled">
                        <div class="checkbox">
                            <label>
                                <input type="hidden" name="is_enabled" value="0" /><input type="checkbox" name="is_enabled" id="is_enabled" value="1" checked="checked" />Active
                            </label>
                        </div>
                    </div>
                    <div class="form-group" id="form-element-label">
                        <label for="label" class="optional">Label</label>

                        <input type="text" name="label" id="label" value="" class="form-control" />
                    </div>
                    <div class="form-group" id="form-element-label_cashout">
                        <label for="label_cashout" class="optional">Label Cashout</label>

                        <input type="text" name="label_cashout" id="label_cashout" value="" class="form-control" />
                    </div>
                    <div class="form-group" id="form-element-api_key">
                        <label for="api_key" class="required">Api Key</label>

                        <input type="text" name="api_key" id="api_key" value="" class="form-control" />
                    </div>
                </div>
                <div class="tab-pane" id="tabs_968_groups">
                    <div class="box-body">
                        <div class="form-group" id="form-element-payment_include">
                            <label for="groups-payment_include" class="optional">Players That Can Make Deposit Through This Payment Gateway (Everyone If Not Selected)</label>

                            <select name="groups[payment_include][]" id="groups-payment_include" multiple="multiple" class="form-control select2">
                            </select>
                        </div>
                        <div class="form-group" id="form-element-payment_exclude">
                            <label for="groups-payment_exclude" class="optional">Players That Can't Make Deposit Through This Payment Gateway</label>

                            <select name="groups[payment_exclude][]" id="groups-payment_exclude" multiple="multiple" class="form-control select2">
                            </select>
                        </div>
                        <div class="form-group" id="form-element-cashout_include">
                            <label for="groups-cashout_include" class="optional">Players That Can Make Withdraw Through This Payment Gateway  (Everyone If Not Selected)</label>

                            <select name="groups[cashout_include][]" id="groups-cashout_include" multiple="multiple" class="form-control select2">
                            </select>
                        </div>
                        <div class="form-group" id="form-element-cashout_exclude">
                            <label for="groups-cashout_exclude" class="optional">Players That Can't Make Withdraw Through This Payment Gateway</label>

                            <select name="groups[cashout_exclude][]" id="groups-cashout_exclude" multiple="multiple" class="form-control select2">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tabs_968_moneyTypes">

                    <div class="form-group" id="form-element-deposit">
                        <label for="moneyTypes-deposit" class="optional">To Deposit</label>

                        <select name="moneyTypes[deposit][]" id="moneyTypes-deposit" multiple="multiple" class="form-control select2">
                            <option value="82">Real Money</option>
                            <option value="80">Play Money</option>
                            <option value="65">cash game points</option>
                        </select>
                    </div>
                    <div class="form-group" id="form-element-withdrawal">
                        <label for="moneyTypes-withdrawal" class="optional">To Withdrawal</label>

                        <select name="moneyTypes[withdrawal][]" id="moneyTypes-withdrawal" multiple="multiple" class="form-control select2">
                            <option value="82">Real Money</option>
                            <option value="80">Play Money</option>
                            <option value="65">cash game points</option>
                        </select>
                    </div>
                </div>
                <div class="tab-pane" id="tabs_968_limits">

                    <div class="nav-tabs-custom" id="limits">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#limits_82" data-toggle="tab" aria-expanded="true">
                                    Real Money
                                </a>
                            </li>
                            <li>
                                <a href="#limits_80" data-toggle="tab" aria-expanded="false">
                                    Play Money
                                </a>
                            </li>
                            <li>
                                <a href="#limits_65" data-toggle="tab" aria-expanded="false">
                                    cash game points
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="limits_82">
                                <div class="box-body">
                                    <div class="form-group" id="form-element-minDeposit">
                                        <label for="limits-82-minDeposit" class="optional">Min Deposit</label>

                                        <input type="text" name="limits[82][minDeposit]" id="limits-82-minDeposit" value="" class="form-control" />
                                    </div>
                                    <div class="form-group" id="form-element-maxDeposit">
                                        <label for="limits-82-maxDeposit" class="optional">Max Deposit</label>

                                        <input type="text" name="limits[82][maxDeposit]" id="limits-82-maxDeposit" value="" class="form-control" />
                                    </div>
                                    <div class="form-group" id="form-element-minWithdrawal">
                                        <label for="limits-82-minWithdrawal" class="optional">Min Withdrawal</label>

                                        <input type="text" name="limits[82][minWithdrawal]" id="limits-82-minWithdrawal" value="" class="form-control" />
                                        <span class="help-block">Doesn’t include withdrawal fee taken for transactions processing</span>
                                    </div>
                                    <div class="form-group" id="form-element-maxWithdrawal">
                                        <label for="limits-82-maxWithdrawal" class="optional">Max Withdrawal</label>

                                        <input type="text" name="limits[82][maxWithdrawal]" id="limits-82-maxWithdrawal" value="" class="form-control" />
                                    </div>
                                    <div class="form-group" id="form-element-withdrawalFeeRate">
                                        <label for="limits-82-withdrawalFeeRate" class="optional">Withdrawal Fee, %</label>

                                        <input type="text" name="limits[82][withdrawalFeeRate]" id="limits-82-withdrawalFeeRate" value="" class="form-control" />
                                    </div>
                                    <div class="form-group" id="form-element-minWithdrawalFee">
                                        <label for="limits-82-minWithdrawalFee" class="optional">Min Withdrawal Fee Amount</label>

                                        <input type="text" name="limits[82][minWithdrawalFee]" id="limits-82-minWithdrawalFee" value="" class="form-control" />
                                    </div>
                                    <div class="form-group" id="form-element-deposit_userMustBeVerified">
                                        <div class="checkbox">
                                            <label>
                                                <input type="hidden" name="limits[82][deposit_userMustBeVerified]" value="0" /><input type="checkbox" name="limits[82][deposit_userMustBeVerified]" id="limits-82-deposit_userMustBeVerified" value="1" />The player must be verified to make deposits
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group" id="form-element-withdrawal_userMustBeVerified">
                                        <div class="checkbox">
                                            <label>
                                                <input type="hidden" name="limits[82][withdrawal_userMustBeVerified]" value="0" /><input type="checkbox" name="limits[82][withdrawal_userMustBeVerified]" id="limits-82-withdrawal_userMustBeVerified" value="1" checked="checked" />The player must be verified to make cashouts
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="limits_80">
                                <div class="box-body">
                                    <div class="form-group" id="form-element-minDeposit">
                                        <label for="limits-80-minDeposit" class="optional">Min Deposit</label>

                                        <input type="text" name="limits[80][minDeposit]" id="limits-80-minDeposit" value="" class="form-control" />
                                    </div>
                                    <div class="form-group" id="form-element-maxDeposit">
                                        <label for="limits-80-maxDeposit" class="optional">Max Deposit</label>

                                        <input type="text" name="limits[80][maxDeposit]" id="limits-80-maxDeposit" value="" class="form-control" />
                                    </div>
                                    <div class="form-group" id="form-element-minWithdrawal">
                                        <label for="limits-80-minWithdrawal" class="optional">Min Withdrawal</label>

                                        <input type="text" name="limits[80][minWithdrawal]" id="limits-80-minWithdrawal" value="" class="form-control" />
                                        <span class="help-block">Doesn’t include withdrawal fee taken for transactions processing</span>
                                    </div>
                                    <div class="form-group" id="form-element-maxWithdrawal">
                                        <label for="limits-80-maxWithdrawal" class="optional">Max Withdrawal</label>

                                        <input type="text" name="limits[80][maxWithdrawal]" id="limits-80-maxWithdrawal" value="" class="form-control" />
                                    </div>
                                    <div class="form-group" id="form-element-withdrawalFeeRate">
                                        <label for="limits-80-withdrawalFeeRate" class="optional">Withdrawal Fee, %</label>

                                        <input type="text" name="limits[80][withdrawalFeeRate]" id="limits-80-withdrawalFeeRate" value="" class="form-control" />
                                    </div>
                                    <div class="form-group" id="form-element-minWithdrawalFee">
                                        <label for="limits-80-minWithdrawalFee" class="optional">Min Withdrawal Fee Amount</label>

                                        <input type="text" name="limits[80][minWithdrawalFee]" id="limits-80-minWithdrawalFee" value="" class="form-control" />
                                    </div>
                                    <div class="form-group" id="form-element-deposit_userMustBeVerified">
                                        <div class="checkbox">
                                            <label>
                                                <input type="hidden" name="limits[80][deposit_userMustBeVerified]" value="0" /><input type="checkbox" name="limits[80][deposit_userMustBeVerified]" id="limits-80-deposit_userMustBeVerified" value="1" checked="checked" />The player must be verified to make deposits
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group" id="form-element-withdrawal_userMustBeVerified">
                                        <div class="checkbox">
                                            <label>
                                                <input type="hidden" name="limits[80][withdrawal_userMustBeVerified]" value="0" /><input type="checkbox" name="limits[80][withdrawal_userMustBeVerified]" id="limits-80-withdrawal_userMustBeVerified" value="1" checked="checked" />The player must be verified to make cashouts
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="limits_65">
                                <div class="box-body">
                                    <div class="form-group" id="form-element-minDeposit">
                                        <label for="limits-65-minDeposit" class="optional">Min Deposit</label>

                                        <input type="text" name="limits[65][minDeposit]" id="limits-65-minDeposit" value="" class="form-control" />
                                    </div>
                                    <div class="form-group" id="form-element-maxDeposit">
                                        <label for="limits-65-maxDeposit" class="optional">Max Deposit</label>

                                        <input type="text" name="limits[65][maxDeposit]" id="limits-65-maxDeposit" value="" class="form-control" />
                                    </div>
                                    <div class="form-group" id="form-element-minWithdrawal">
                                        <label for="limits-65-minWithdrawal" class="optional">Min Withdrawal</label>

                                        <input type="text" name="limits[65][minWithdrawal]" id="limits-65-minWithdrawal" value="" class="form-control" />
                                        <span class="help-block">Doesn’t include withdrawal fee taken for transactions processing</span>
                                    </div>
                                    <div class="form-group" id="form-element-maxWithdrawal">
                                        <label for="limits-65-maxWithdrawal" class="optional">Max Withdrawal</label>

                                        <input type="text" name="limits[65][maxWithdrawal]" id="limits-65-maxWithdrawal" value="" class="form-control" />
                                    </div>
                                    <div class="form-group" id="form-element-withdrawalFeeRate">
                                        <label for="limits-65-withdrawalFeeRate" class="optional">Withdrawal Fee, %</label>

                                        <input type="text" name="limits[65][withdrawalFeeRate]" id="limits-65-withdrawalFeeRate" value="" class="form-control" />
                                    </div>
                                    <div class="form-group" id="form-element-minWithdrawalFee">
                                        <label for="limits-65-minWithdrawalFee" class="optional">Min Withdrawal Fee Amount</label>

                                        <input type="text" name="limits[65][minWithdrawalFee]" id="limits-65-minWithdrawalFee" value="" class="form-control" />
                                    </div>
                                    <div class="form-group" id="form-element-deposit_userMustBeVerified">
                                        <div class="checkbox">
                                            <label>
                                                <input type="hidden" name="limits[65][deposit_userMustBeVerified]" value="0" /><input type="checkbox" name="limits[65][deposit_userMustBeVerified]" id="limits-65-deposit_userMustBeVerified" value="1" checked="checked" />The player must be verified to make deposits
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group" id="form-element-withdrawal_userMustBeVerified">
                                        <div class="checkbox">
                                            <label>
                                                <input type="hidden" name="limits[65][withdrawal_userMustBeVerified]" value="0" /><input type="checkbox" name="limits[65][withdrawal_userMustBeVerified]" id="limits-65-withdrawal_userMustBeVerified" value="1" checked="checked" />The player must be verified to make cashouts
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="submit" name="submit" id="submit" value="Send" class="btn btn-primary" />
        </div>
    </form>
</div>