﻿
@{
    ViewBag.Title = "EmailTemplateList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h3>
    Email Template List
    <a href="/webadmin/homing-pigeon/layout/add" class="btn btn-primary">
        <i class="fa fa-plus"></i>&nbsp;Add Email Template
    </a>
</h3>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
        </div>
        <div class="box">
            <div class="box-body">
                <div id="dynamicContent">
                    <div class="custom-dropdown-menu" id="columnsControls">
                    </div>

                    <table id='homing_pigeon_layouts' class="listing-table" data-dt-not-fixed-cols="true">
                        <thead class="listHead">
                            <tr>
                                <th data-meta-skip-manage='true'>
                                    <div>
                                        <button type="button" class="btn btn-primary custom-dropdown" id="columnControlsBtn">
                                            <img src="img/icons/menu.svg" alt="+">
                                        </button>
                                    </div>
                                </th>
                                <th data-meta-key='layout_id'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="layout_id"
                                           orderType="">
                                            ID
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='name'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="name"
                                           orderType="">
                                            Name
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='skin_id'
                                    data-meta-visibility="true">
                                    <nobr>
                                        Supported Skins
                                    </nobr>
                                </th>
                                <th data-meta-key='language'
                                    data-meta-visibility="true">
                                    <nobr>
                                        Supported Languages
                                    </nobr>
                                </th>
                                <th data-meta-key='is_system'
                                    data-meta-visibility="true">
                                    <nobr>
                                        System
                                    </nobr>
                                </th>
                            </tr>
                            <tr class="listFilter">
                                <th>

                                    <button name="butFilter" id="butFilter" type="button">Apply Filter</button>

                                    <button name="butReset" id="butReset" type="button">Reset Filter</button>
                                </th>
                                <th>
                                    <input type="text" name="layout_id" id="layout_id" value="" filter="1" orderable="1" sql="l.f_layout_id" nonHtml="" style="width:50px;" class="filter" />
                                </th>
                                <th>
                                    <input type="text" name="name" id="name" value="" filter="1" orderable="1" sql="l.f_name" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <select name="skin_id" id="skin_id" filter="1" orderable="" sql="GROUP_CONCAT(DISTINCT l.f_skin_id)" nonHtml="" class="filter">
                                        <option value="">-</option>
                                    </select>
                                </th>
                                <th>
                                    <select name="language" id="language" filter="1" orderable="" sql="GROUP_CONCAT(DISTINCT f_language)" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="ab">Abkhazian</option>
                                        <option value="aa">Afar</option>
                                        <option value="af">Afrikaans</option>
                                        <option value="ak">Akan</option>
                                        <option value="sq">Albanian</option>
                                        <option value="am">Amharic</option>
                                        <option value="ar">Arabic</option>
                                        <option value="an">Aragonese</option>
                                        <option value="hy">Armenian</option>
                                        <option value="as">Assamese</option>
                                        <option value="av">Avaric</option>
                                        <option value="ae">Avestan</option>
                                        <option value="ay">Aymara</option>
                                        <option value="az">Azerbaijani</option>
                                        <option value="bm">Bambara</option>
                                        <option value="ba">Bashkir</option>
                                        <option value="eu">Basque</option>
                                        <option value="be">Belarusian</option>
                                        <option value="bn">Bengali</option>
                                        <option value="bh">Bihari</option>
                                        <option value="bi">Bislama</option>
                                        <option value="nb">Bokmal</option>
                                        <option value="bs">Bosnian</option>
                                        <option value="br">Breton</option>
                                        <option value="bg">Bulgarian</option>
                                        <option value="my">Burmese</option>
                                        <option value="ca">Catalan</option>
                                        <option value="km">Central Khmer</option>
                                        <option value="ch">Chamorro</option>
                                        <option value="ce">Chechen</option>
                                        <option value="zh">Chinese</option>
                                        <option value="cu">Church Slavic</option>
                                        <option value="cv">Chuvash</option>
                                        <option value="kw">Cornish</option>
                                        <option value="co">Corsican</option>
                                        <option value="cr">Cree</option>
                                        <option value="hr">Croatian</option>
                                        <option value="cs">Czech</option>
                                        <option value="da">Danish</option>
                                        <option value="dv">Dhivehi</option>
                                        <option value="dz">Dzongkha</option>
                                        <option value="en">English</option>
                                        <option value="eo">Esperanto</option>
                                        <option value="et">Estonian</option>
                                        <option value="ee">Ewe</option>
                                        <option value="fo">Faroese</option>
                                        <option value="fj">Fijian</option>
                                        <option value="fi">Finnish</option>
                                        <option value="fr">French</option>
                                        <option value="ff">Fulah</option>
                                        <option value="gd">Gaelic</option>
                                        <option value="gl">Galician</option>
                                        <option value="lg">Ganda</option>
                                        <option value="ka">Georgian</option>
                                        <option value="de">German</option>
                                        <option value="el">Greek</option>
                                        <option value="gn">Guarani</option>
                                        <option value="gu">Gujarati</option>
                                        <option value="ht">Haitian</option>
                                        <option value="ha">Hausa</option>
                                        <option value="he">Hebrew</option>
                                        <option value="hz">Herero</option>
                                        <option value="hi">Hindi</option>
                                        <option value="ho">Hiri Motu</option>
                                        <option value="hu">Hungarian</option>
                                        <option value="is">Icelandic</option>
                                        <option value="io">Ido</option>
                                        <option value="ig">Igbo</option>
                                        <option value="id">Indonesian</option>
                                        <option value="ia">Interlingua</option>
                                        <option value="iu">Inuktitut</option>
                                        <option value="ik">Inupiaq</option>
                                        <option value="ga">Irish</option>
                                        <option value="it">Italian</option>
                                        <option value="ja">Japanese</option>
                                        <option value="jv">Javanese</option>
                                        <option value="kl">Kalaallisut</option>
                                        <option value="kn">Kannada</option>
                                        <option value="kr">Kanuri</option>
                                        <option value="ks">Kashmiri</option>
                                        <option value="kk">Kazakh</option>
                                        <option value="ki">Kikuyu</option>
                                        <option value="rw">Kinyarwanda</option>
                                        <option value="kv">Komi</option>
                                        <option value="kg">Kongo</option>
                                        <option value="ko">Korean</option>
                                        <option value="kj">Kuanyama</option>
                                        <option value="ku">Kurdish</option>
                                        <option value="ky">Kyrgyz</option>
                                        <option value="lo">Lao</option>
                                        <option value="la">Latin</option>
                                        <option value="lv">Latvian</option>
                                        <option value="li">Limburgan</option>
                                        <option value="ln">Lingala</option>
                                        <option value="lt">Lithuanian</option>
                                        <option value="lu">Luba-Katanga</option>
                                        <option value="lb">Luxembourgish</option>
                                        <option value="mk">Macedonian</option>
                                        <option value="mg">Malagasy</option>
                                        <option value="ms">Malay</option>
                                        <option value="ml">Malayalam</option>
                                        <option value="mt">Maltese</option>
                                        <option value="gv">Manx</option>
                                        <option value="mi">Maori</option>
                                        <option value="mr">Marathi</option>
                                        <option value="mh">Marshallese</option>
                                        <option value="mn">Mongolian</option>
                                        <option value="na">Nauru</option>
                                        <option value="nv">Navaho</option>
                                        <option value="nd">Ndebele</option>
                                        <option value="ng">Ndonga</option>
                                        <option value="ne">Nepali</option>
                                        <option value="no">Norwegian</option>
                                        <option value="ny">Nyanja</option>
                                        <option value="oc">Occitan</option>
                                        <option value="oj">Ojibwa</option>
                                        <option value="or">Oriya</option>
                                        <option value="om">Oromo</option>
                                        <option value="os">Ossetian</option>
                                        <option value="pi">Pali</option>
                                        <option value="pa">Panjabi</option>
                                        <option value="fa">Persian</option>
                                        <option value="pl">Polish</option>
                                        <option value="pt">Portuguese</option>
                                        <option value="ps">Pushto</option>
                                        <option value="qu">Quechua</option>
                                        <option value="ro">Romanian</option>
                                        <option value="rm">Romansh</option>
                                        <option value="rn">Rundi</option>
                                        <option value="ru">Russian</option>
                                        <option value="se">Sami</option>
                                        <option value="sm">Samoan</option>
                                        <option value="sg">Sango</option>
                                        <option value="sa">Sanskrit</option>
                                        <option value="sc">Sardinian</option>
                                        <option value="sr">Serbian</option>
                                        <option value="sn">Shona</option>
                                        <option value="sd">Sindhi</option>
                                        <option value="si">Sinhala</option>
                                        <option value="sk">Slovak</option>
                                        <option value="sl">Slovenian</option>
                                        <option value="so">Somali</option>
                                        <option value="st">Sotho</option>
                                        <option value="es">Spanish</option>
                                        <option value="su">Sundanese</option>
                                        <option value="sw">Swahili</option>
                                        <option value="ss">Swati</option>
                                        <option value="sv">Swedish</option>
                                        <option value="tl">Tagalog</option>
                                        <option value="ty">Tahitian</option>
                                        <option value="tg">Tajik</option>
                                        <option value="ta">Tamil</option>
                                        <option value="tt">Tatar</option>
                                        <option value="te">Telugu</option>
                                        <option value="th">Thai</option>
                                        <option value="bo">Tibetan</option>
                                        <option value="ti">Tigrinya</option>
                                        <option value="to">Tonga</option>
                                        <option value="ts">Tsonga</option>
                                        <option value="tn">Tswana</option>
                                        <option value="tr">Turkish</option>
                                        <option value="tk">Turkmen</option>
                                        <option value="tw">Twi</option>
                                        <option value="uk">Ukrainian</option>
                                        <option value="ur">Urdu</option>
                                        <option value="ug">Uyghur</option>
                                        <option value="uz">Uzbek</option>
                                        <option value="ve">Venda</option>
                                        <option value="vi">Vietnamese</option>
                                        <option value="vo">Volapuk</option>
                                        <option value="wa">Walloon</option>
                                        <option value="cy">Welsh</option>
                                        <option value="wo">Wolof</option>
                                        <option value="xh">Xhosa</option>
                                        <option value="yi">Yiddish</option>
                                        <option value="yo">Yoruba</option>
                                        <option value="za">Zhuang</option>
                                        <option value="zu">Zulu</option>
                                    </select>
                                </th>
                                <th>&nbsp;</th>

                            </tr>
                        </thead>


                        <tr class="odd ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/homing-pigeon/layout/edit/id/1">
                                            <div class="fa fa-pencil" id="fa-fa-pencil-1"></div>Edit
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>1</td>
                            <td>Default</td>
                            <td></td>
                            <td>English</td>
                            <td>Yes</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->


                    </table>
                    <div class='rowCount'>
                        <div class="row">
                            <div class="col-md-3">
                                Rows: 1&ensp;|&ensp;
                                <div class="limit-controls" style="display: inline-block;">
                                    <div id="perpage">Per page:</div>
                                    <select class="limit-links">
                                        <option data-href="/webadmin/homing-pigeon/layout/list/limit/10">10</option>
                                        <option data-href="/webadmin/homing-pigeon/layout/list/limit/25">25</option>
                                        <option selected data-href="/webadmin/homing-pigeon/layout/list/limit/50">50</option>
                                        <option data-href="/webadmin/homing-pigeon/layout/list/limit/100">100</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-7" style="display: flex; justify-content: center">
                                <div class="paginator-controls" id="blockPaginatorControls">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="pull-right">
                                    <a href="/webadmin/homing-pigeon/layout/list/_output/xlsx"><img src="img/icons/xls.svg" alt="Excel"></a>
                                    <a href="/webadmin/homing-pigeon/layout/list/_output/csv"><img src="img/icons/csv.svg" alt="CSV"></a>
                                    <a href="/webadmin/homing-pigeon/layout/list/_output/ods"><img src="img/icons/odt.svg" alt="OpenDocument" /></a>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>