﻿
@{
    ViewBag.Title = "Exchange Rate List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-xs-9">
        <h3>Currencies Exchange Rates</h3>
    </div>
    <div class="col-xs-3 text-right btn-container">
        <a href="~/Admin/Config/ExchangeRate/Add" class="btn purple-skin-btn-lte-theme purple-btn-add">
            <span class="purple-skin-btn-plus"></span>&nbsp;Add Exchange Rate
        </a>
        <a href="~/Admin/Config/ExchangeRate/Update/Settings" class="btn purple-skin-btn-lte-theme">
            <i class="fa fa-refresh "></i>&nbsp;Auto Update Settings
        </a>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
        </div>
        <div class="box">
            <div class="box-body">
                <div id="dynamicContent">
                    <div class="custom-dropdown-menu" id="columnsControls">
                    </div>
                    <table id='currExchangeRatesList' class="listing-table" data-dt-not-fixed-cols="true">
                        <thead class="listHead">
                            <tr>
                                <th data-meta-skip-manage='true'>
                                    <div>
                                        <button type="button" class="btn btn-primary custom-dropdown" id="columnControlsBtn">
                                            <img src="~/Assest/img/menu.svg" />
                                        </button>
                                    </div>
                                </th>
                                <th data-meta-key='f_from'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_from"
                                           orderType="">
                                            From
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_to'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_to"
                                           orderType="">
                                            To
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='exchange_rate'
                                    data-meta-visibility="true">
                                    <nobr>
                                        Exchange Rate
                                    </nobr>
                                </th>
                                <th data-meta-key='iso_from'
                                    data-meta-visibility="true">
                                    <nobr>
                                        From ISO Code
                                    </nobr>
                                </th>
                                <th data-meta-key='iso_to'
                                    data-meta-visibility="true">
                                    <nobr>
                                        To ISO Code
                                    </nobr>
                                </th>
                                <th data-meta-key='auto_update'
                                    data-meta-visibility="true">
                                    <nobr>
                                        Auto Update
                                    </nobr>
                                </th>
                            </tr>
                            <tr class="listFilter">
                                <th>

                                    <button name="butFilter" id="butFilter" type="button">Apply Filter</button>

                                    <button name="butReset" id="butReset" type="button">Reset Filter</button>
                                </th>
                                <th>
                                    <select name="f_from" id="f_from" filter="1" exchange="1" sql="c_from.f_money_type" orderable="1" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="82">Real Money</option>
                                        <option value="80">Play Money</option>
                                        <option value="65">cash game points</option>
                                        <option value="69">BTC</option>
                                    </select>
                                </th>
                                <th>
                                    <select name="f_to" id="f_to" filter="1" exchange="1" sql="c_to.f_money_type" orderable="1" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="82">Real Money</option>
                                        <option value="80">Play Money</option>
                                        <option value="65">cash game points</option>
                                        <option value="69">BTC</option>
                                    </select>
                                </th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>

                            </tr>
                        </thead>


                        <tr class="odd ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/currencies/exchange-rate/id/3527180">
                                            <div class="fa fa-pencil" id="fa-fa-pencil-3527180"></div>Edit
                                        </a>

                                        <a href="/webadmin/currencies/delete-exchange-rate/id/3527180" onClick='return confirm(' Are You sure?')'>
                                            <div class="fa fa-close" id="fa-fa-close-3527180"></div>Delete
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>BTC</td>
                            <td>Real Money</td>
                            <td>10,000</td>
                            <td>BTC</td>
                            <td>USD</td>
                            <td>No</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/currencies/exchange-rate/id/3527181">
                                            <div class="fa fa-pencil" id="fa-fa-pencil-3527181"></div>Edit
                                        </a>

                                        <a href="/webadmin/currencies/delete-exchange-rate/id/3527181" onClick='return confirm(' Are You sure?')'>
                                            <div class="fa fa-close" id="fa-fa-close-3527181"></div>Delete
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>Real Money</td>
                            <td>BTC</td>
                            <td>0.0001</td>
                            <td>USD</td>
                            <td>BTC</td>
                            <td>No</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->


                    </table>
                    <div class='rowCount'>
                        <div class="row">
                            <div class="col-md-3">
                                Rows: 2&ensp;|&ensp;
                                <div class="limit-controls" style="display: inline-block;">
                                    <div id="perpage">Per page:</div>
                                    <select class="limit-links">
                                        <option data-href="/webadmin/currencies/exchange-rates/limit/10">10</option>
                                        <option data-href="/webadmin/currencies/exchange-rates/limit/25">25</option>
                                        <option selected data-href="/webadmin/currencies/exchange-rates/limit/50">50</option>
                                        <option data-href="/webadmin/currencies/exchange-rates/limit/100">100</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-7" style="display: flex; justify-content: center">
                                <div class="paginator-controls" id="blockPaginatorControls">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="pull-right">
                                    <a href="/webadmin/currencies/exchange-rates/_output/xlsx"><img src="~/Assest/img/xls.svg" alt="Excel"></a>
                                    <a href="/webadmin/currencies/exchange-rates/_output/csv"><img src="~/Assest/img/csv.svg" alt="CSV"></a>
                                    <a href="/webadmin/currencies/exchange-rates/_output/ods"><img src="~/Assest/img/odt.svg" alt="OpenDocument" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

