﻿
@{
    ViewBag.Title = "Add ExchangeRate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Exchange Rate</h1>
<div class="box box-primary">
    <div enctype="application/x-www-form-urlencoded" dojoType="dijit.form.Form">
        <div class="box-body">
            <div class="form-group" id="form-element-currencyFromId">
                <label for="currencyFromId" class="required">Money From</label>

                <select name="currencyFromId" id="currencyFromId" class="form-control select2">
                    <option value="1">Real Money</option>
                    <option value="17">Play Money</option>
                    <option value="18">cash game points</option>
                    <option value="22">BTC</option>
                </select>
            </div>
            <div class="form-group" id="form-element-currencyToId">
                <label for="currencyToId" class="required">Money To</label>

                <select name="currencyToId" id="currencyToId" class="form-control select2">
                    <option value="1">Real Money</option>
                    <option value="17">Play Money</option>
                    <option value="18">cash game points</option>
                    <option value="22">BTC</option>
                </select>
            </div>
            <div class="form-group" id="form-element-exchangeRate">
                <label for="exchangeRate" class="required">Exchange Rate</label>

                <input type="text" name="exchangeRate" id="exchangeRate" value="" class="form-control" />
            </div>
            <div class="form-group" id="form-element-autoUpdate">
                <div class="checkbox">
                    <label>
                        <input type="hidden" name="autoUpdate" value="0" /><input type="checkbox" name="autoUpdate" id="autoUpdate" value="1" />Auto Update
                    </label>
                </div>
            </div>

            <input type="submit" name="submit" id="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
</div>

