﻿
@{
    ViewBag.Title = "Exchange Rate Settings";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script type="text/javascript" src="https://crlcu.github.io/multiselect/dist/js/multiselect.min.js"></script>

<h1>Auto Update Settings</h1>
<h4>Exchange rate auto update</h4>
<div class="box box-solid">
    <div enctype="application/x-www-form-urlencoded"  dojoType="dijit.form.Form">
        <div class="nav-tabs-custom" id="tabs_71">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#tabs_71_updaterchain" data-toggle="tab" aria-expanded="true">
                        Main
                    </a>
                </li>
                <li>
                    <a href="#tabs_71_fixerio" data-toggle="tab" aria-expanded="false">
                        Fixer.Io
                    </a>
                </li>
                <li>
                    <a href="#tabs_71_tomanx" data-toggle="tab" aria-expanded="false">
                        Tomanx
                    </a>
                </li>
                <li>
                    <a href="#tabs_71_currencyconverterapi" data-toggle="tab" aria-expanded="false">
                        currencyconverterapi.com
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tabs_71_updaterchain">
                    <div class="box-body">
                        <div class="form-group" id="form-element-chain">
                            <div class="row">
                                <div class="col-sm-5">
                                    <select name="[]" id="updaterchain-chain" multiple="multiple" class="form-control" size="7">
                                        <option value="fixer-io">Fixer.Io</option>
                                        <option value="tomanx">Tomanx</option>
                                        <option value="currency-converter-api">currencyconverterapi.com</option>
                                    </select>
                                </div>

                                <div class="col-sm-2">
                                    <button type="button" id="updaterchain-chain_rightAll" class="btn btn-block"><i class="glyphicon glyphicon-forward"></i></button>
                                    <button type="button" id="updaterchain-chain_rightSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-right"></i></button>
                                    <button type="button" id="updaterchain-chain_leftSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-left"></i></button>
                                    <button type="button" id="updaterchain-chain_leftAll" class="btn btn-block"><i class="glyphicon glyphicon-backward"></i></button>
                                </div>

                                <div class="col-sm-5">
                                    <select name="updaterchain[chain][]" id="updaterchain-chain_to" multiple="multiple" class="form-control" size="7">
                                    </select>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <button type="button" id="updaterchain-chain_move_up" class="btn btn-block"><i class="glyphicon glyphicon-arrow-up"></i></button>
                                        </div>
                                        <div class="col-sm-6">
                                            <button type="button" id="updaterchain-chain_move_down" class="btn btn-block col-sm-6"><i class="glyphicon glyphicon-arrow-down"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tabs_71_fixerio">
                    <div class="box-body">
                        <div class="form-group" id="form-element-accessKey">
                            <label for="fixerio-accessKey" class="required">Access Key</label>

                            <input type="text" name="fixerio[accessKey]" id="fixerio-accessKey" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-freeAccess">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="fixerio[freeAccess]" value="0" /><input type="checkbox" name="fixerio[freeAccess]" id="fixerio-freeAccess" value="1" />Free Access
                                </label>
                            </div>
                            <span class="help-block">Use a free plan to receive exchange rates</span>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tabs_71_tomanx">
                    <div class="box-body">
                        <div class="form-group" id="form-element-correction">
                            <label for="tomanx-correction" class="optional">Correction</label>

                            <input type="text" name="tomanx[correction]" id="tomanx-correction" value="" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tabs_71_currencyconverterapi">
                    <div class="box-body">
                        <div class="form-group" id="form-element-accessKey">
                            <label for="currencyconverterapi-accessKey" class="required">Access Key</label>

                            <input type="text" name="currencyconverterapi[accessKey]" id="currencyconverterapi-accessKey" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-freeAccess">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="currencyconverterapi[freeAccess]" value="0" /><input type="checkbox" name="currencyconverterapi[freeAccess]" id="currencyconverterapi-freeAccess" value="1" />Free Access
                                </label>
                            </div>
                            <span class="help-block">Use a free plan to receive exchange rates</span>
                        </div>
                    </div>
                </div>
            </div>
            <input type="submit" name="send" id="send" value="Save" class="btn btn-primary" />
        </div>
    </div>
</div>

