﻿
@{
    ViewBag.Title = "ExportReportList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h3>Report List</h3>
<div>
    <div class="box-body">
        <div id="dynamicContent">
            <table class="listing-table">
                <thead class="listHead">
                    <tr>
                        <th>#</th>
                        <th id="listingCol-f_id">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_id"
                                   orderType="ASC">
                                    Id
                                    <img src="img/arrow_down.png" />
                                </a>
                            </nobr>
                        </th>
                        <th id="listingCol-f_title">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_title"
                                   orderType="">
                                    Label
                                </a>
                            </nobr>
                        </th>
                        <th id="listingCol-f_type">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_type"
                                   orderType="">
                                    Format
                                </a>
                            </nobr>
                        </th>
                        <th id="listingCol-f_date">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_date"
                                   orderType="">
                                    Date
                                </a>
                            </nobr>
                        </th>
                        <th id="listingCol-f_status">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_status"
                                   orderType="">
                                    Status
                                </a>
                            </nobr>
                        </th>
                        <th id="listingCol-f_progress">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_progress"
                                   orderType="">
                                    Progress
                                </a>
                            </nobr>
                        </th>
                        <th id="listingCol-f_processing_period">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_processing_period"
                                   orderType="">
                                    Period
                                </a>
                            </nobr>
                        </th>
                        <th id="listingCol-f_owner_id">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_owner_id"
                                   orderType="">
                                    Owner
                                </a>
                            </nobr>
                        </th>
                        <th id="listingCol-options"></th>
                    </tr>
                </thead>
                <thead class="listFilter">
                    <tr>
                        <th>&nbsp;</th>
                        <th>
                            <input type="text" name="f_id" id="f_id" value="" filter="1" sql="e.f_id" orderable="1" nonHtml="" style="width:50px;" class="filter" />
                        </th>
                        <th>
                            <input type="text" name="f_title" id="f_title" value="" filter="1" sql="e.f_title" orderable="1" nonHtml="" class="filter" />
                        </th>
                        <th>
                            <input type="text" name="f_type" id="f_type" value="" filter="1" sql="e.f_type" orderable="1" nonHtml="" class="filter" />
                        </th>
                        <th>
                            <input type="text" name="f_date" id="f_date" value="" filter="1" sql="e.f_date" orderable="1" nonHtml="" class="filter" readonly="readonly" onclick='displayDatePicker("f_date", false, "ymd", "-");' />
                        </th>
                        <th>
                            <input type="text" name="f_status" id="f_status" value="" filter="1" sql="e.f_status" orderable="1" nonHtml="" class="filter" />
                        </th>
                        <th>
                            <input type="text" name="f_progress" id="f_progress" value="" filter="1" sql="e.f_progress" orderable="1" nonHtml="" class="filter" />
                        </th>
                        <th>
                            <input type="text" name="f_processing_period" id="f_processing_period" value="" filter="1" sql="e.f_processing_period" orderable="1" nonHtml="" class="filter" />
                        </th>
                        <th>
                            <input type="text" name="f_owner_id" id="f_owner_id" value="" filter="1" sql="p.f_id" sql_nick="p.f_nick" orderable="1" nonHtml="" class="filter" />
                        </th>

                        <th></th>
                    </tr>
                </thead>

                <tr class="odd">
                    <td>1</td>
                    <td>103</td>
                    <td>Currencies Exchange Rates</td>
                    <td>xlsx</td>
                    <td>2020/02/27 09:44:57</td>
                    <td>completed</td>
                    <td>1.00</td>
                    <td>once</td>
                    <td><a href="/webadmin/user/info/id/100">admin</a></td>

                    <td>
                        <a href="export/index/get/id/103" title="Download"><img src="modules/export/img/content/but_download.png" alt="Download" /></a>
                        <a href="export/index/action/name/refresh/id/103" title="Update" class="_xhr"><img src="modules/export/img/content/but_refresh.png" alt="Update" /></a>
                        <a href="export/index/delete/id/103"><img src="img/content/but_del.png" alt="Remove" /></a>
                    </td>
                </tr>
                <tr class="even">
                    <td>2</td>
                    <td>102</td>
                    <td>Player List</td>
                    <td>xlsx</td>
                    <td>2020/02/01 06:21:31</td>
                    <td>completed</td>
                    <td>1.00</td>
                    <td>once</td>
                    <td><a href="/webadmin/user/info/id/2199198">E30TSH</a></td>

                    <td>
                        <a href="export/index/get/id/102" title="Download"><img src="modules/export/img/content/but_download.png" alt="Download" /></a>
                        <a href="export/index/action/name/refresh/id/102" title="Update" class="_xhr"><img src="modules/export/img/content/but_refresh.png" alt="Update" /></a>
                        <a href="export/index/delete/id/102"><img src="img/content/but_del.png" alt="Remove" /></a>
                    </td>
                </tr>
                <tr class="odd">
                    <td>3</td>
                    <td>97</td>
                    <td>Custom Report: CGP earned cumulative</td>
                    <td>xlsx</td>
                    <td>2020/01/30 19:43:02</td>
                    <td>completed</td>
                    <td>1.00</td>
                    <td>once</td>
                    <td><a href="/webadmin/user/info/id/100">admin</a></td>

                    <td>
                        <a href="export/index/get/id/97" title="Download"><img src="modules/export/img/content/but_download.png" alt="Download" /></a>
                        <a href="export/index/action/name/refresh/id/97" title="Update" class="_xhr"><img src="modules/export/img/content/but_refresh.png" alt="Update" /></a>
                        <a href="export/index/delete/id/97"><img src="img/content/but_del.png" alt="Remove" /></a>
                    </td>
                </tr>
                <tr class="even">
                    <td>4</td>
                    <td>96</td>
                    <td>Custom Report: CGP earned cumulative</td>
                    <td>xlsx</td>
                    <td>2020/01/30 19:42:39</td>
                    <td>completed</td>
                    <td>1.00</td>
                    <td>once</td>
                    <td><a href="/webadmin/user/info/id/100">admin</a></td>

                    <td>
                        <a href="export/index/get/id/96" title="Download"><img src="modules/export/img/content/but_download.png" alt="Download" /></a>
                        <a href="export/index/action/name/refresh/id/96" title="Update" class="_xhr"><img src="modules/export/img/content/but_refresh.png" alt="Update" /></a>
                        <a href="export/index/delete/id/96"><img src="img/content/but_del.png" alt="Remove" /></a>
                    </td>
                </tr>
                <tr class="odd">
                    <td>5</td>
                    <td>94</td>
                    <td>Transaction List</td>
                    <td>xlsx</td>
                    <td>2020/01/15 18:11:14</td>
                    <td>completed</td>
                    <td>1.00</td>
                    <td>once</td>
                    <td><a href="/webadmin/user/info/id/2434050">2TCAJOPP</a></td>

                    <td>
                        <a href="export/index/get/id/94" title="Download"><img src="modules/export/img/content/but_download.png" alt="Download" /></a>
                        <a href="export/index/action/name/refresh/id/94" title="Update" class="_xhr"><img src="modules/export/img/content/but_refresh.png" alt="Update" /></a>
                        <a href="export/index/delete/id/94"><img src="img/content/but_del.png" alt="Remove" /></a>
                    </td>
                </tr>
                <tr class="even">
                    <td>6</td>
                    <td>91</td>
                    <td>Custom Report: CGP earned cumulative</td>
                    <td>xlsx</td>
                    <td>2020/01/06 02:01:42</td>
                    <td>completed</td>
                    <td>1.00</td>
                    <td>once</td>
                    <td><a href="/webadmin/user/info/id/100">admin</a></td>

                    <td>
                        <a href="export/index/get/id/91" title="Download"><img src="modules/export/img/content/but_download.png" alt="Download" /></a>
                        <a href="export/index/action/name/refresh/id/91" title="Update" class="_xhr"><img src="modules/export/img/content/but_refresh.png" alt="Update" /></a>
                        <a href="export/index/delete/id/91"><img src="img/content/but_del.png" alt="Remove" /></a>
                    </td>
                </tr>
                <tr class="odd">
                    <td>7</td>
                    <td>90</td>
                    <td>Custom Report: CGP earned cumulative</td>
                    <td>xlsx</td>
                    <td>2020/01/06 00:05:35</td>
                    <td>completed</td>
                    <td>1.00</td>
                    <td>once</td>
                    <td><a href="/webadmin/user/info/id/100">admin</a></td>

                    <td>
                        <a href="export/index/get/id/90" title="Download"><img src="modules/export/img/content/but_download.png" alt="Download" /></a>
                        <a href="export/index/action/name/refresh/id/90" title="Update" class="_xhr"><img src="modules/export/img/content/but_refresh.png" alt="Update" /></a>
                        <a href="export/index/delete/id/90"><img src="img/content/but_del.png" alt="Remove" /></a>
                    </td>
                </tr>
                <tr class="even">
                    <td>8</td>
                    <td>89</td>
                    <td>Transaction List</td>
                    <td>xlsx</td>
                    <td>2020/01/05 20:56:52</td>
                    <td>completed</td>
                    <td>1.00</td>
                    <td>once</td>
                    <td><a href="/webadmin/user/info/id/100">admin</a></td>

                    <td>
                        <a href="export/index/get/id/89" title="Download"><img src="modules/export/img/content/but_download.png" alt="Download" /></a>
                        <a href="export/index/action/name/refresh/id/89" title="Update" class="_xhr"><img src="modules/export/img/content/but_refresh.png" alt="Update" /></a>
                        <a href="export/index/delete/id/89"><img src="img/content/but_del.png" alt="Remove" /></a>
                    </td>
                </tr>
                <tr class="odd">
                    <td>9</td>
                    <td>88</td>
                    <td>Transaction List</td>
                    <td>xlsx</td>
                    <td>2020/01/05 20:55:23</td>
                    <td>completed</td>
                    <td>1.00</td>
                    <td>once</td>
                    <td><a href="/webadmin/user/info/id/100">admin</a></td>

                    <td>
                        <a href="export/index/get/id/88" title="Download"><img src="modules/export/img/content/but_download.png" alt="Download" /></a>
                        <a href="export/index/action/name/refresh/id/88" title="Update" class="_xhr"><img src="modules/export/img/content/but_refresh.png" alt="Update" /></a>
                        <a href="export/index/delete/id/88"><img src="img/content/but_del.png" alt="Remove" /></a>
                    </td>
                </tr>
                <tr class="even">
                    <td>10</td>
                    <td>87</td>
                    <td>Processed transactions</td>
                    <td>xlsx</td>
                    <td>2020/01/02 19:23:57</td>
                    <td>completed</td>
                    <td>1.00</td>
                    <td>once</td>
                    <td><a href="/webadmin/user/info/id/100">admin</a></td>

                    <td>
                        <a href="export/index/get/id/87" title="Download"><img src="modules/export/img/content/but_download.png" alt="Download" /></a>
                        <a href="export/index/action/name/refresh/id/87" title="Update" class="_xhr"><img src="modules/export/img/content/but_refresh.png" alt="Update" /></a>
                        <a href="export/index/delete/id/87"><img src="img/content/but_del.png" alt="Remove" /></a>
                    </td>
                </tr>
                <tr class="odd">
                    <td>11</td>
                    <td>86</td>
                    <td>Report List</td>
                    <td>xlsx</td>
                    <td>2020/01/02 18:37:44</td>
                    <td>completed</td>
                    <td>1.00</td>
                    <td>once</td>
                    <td><a href="/webadmin/user/info/id/100">admin</a></td>

                    <td>
                        <a href="export/index/get/id/86" title="Download"><img src="modules/export/img/content/but_download.png" alt="Download" /></a>
                        <a href="export/index/action/name/refresh/id/86" title="Update" class="_xhr"><img src="modules/export/img/content/but_refresh.png" alt="Update" /></a>
                        <a href="export/index/delete/id/86"><img src="img/content/but_del.png" alt="Remove" /></a>
                    </td>
                </tr>
                <tr class="even">
                    <td>12</td>
                    <td>85</td>
                    <td>Transaction List</td>
                    <td>xlsx</td>
                    <td>2020/01/02 18:37:38</td>
                    <td>completed</td>
                    <td>1.00</td>
                    <td>once</td>
                    <td><a href="/webadmin/user/info/id/100">admin</a></td>

                    <td>
                        <a href="export/index/get/id/85" title="Download"><img src="modules/export/img/content/but_download.png" alt="Download" /></a>
                        <a href="export/index/action/name/refresh/id/85" title="Update" class="_xhr"><img src="modules/export/img/content/but_refresh.png" alt="Update" /></a>
                        <a href="export/index/delete/id/85"><img src="img/content/but_del.png" alt="Remove" /></a>
                    </td>
                </tr>
                <tr class="odd">
                    <td>13</td>
                    <td>84</td>
                    <td>Transaction List</td>
                    <td>xlsx</td>
                    <td>2020/01/02 18:37:16</td>
                    <td>completed</td>
                    <td>1.00</td>
                    <td>once</td>
                    <td><a href="/webadmin/user/info/id/100">admin</a></td>

                    <td>
                        <a href="export/index/get/id/84" title="Download"><img src="modules/export/img/content/but_download.png" alt="Download" /></a>
                        <a href="export/index/action/name/refresh/id/84" title="Update" class="_xhr"><img src="modules/export/img/content/but_refresh.png" alt="Update" /></a>
                        <a href="export/index/delete/id/84"><img src="img/content/but_del.png" alt="Remove" /></a>
                    </td>
                </tr>
                <tr class="even">
                    <td>14</td>
                    <td>83</td>
                    <td>Custom Report: CGP earned cumulative</td>
                    <td>xlsx</td>
                    <td>2019/12/31 01:05:04</td>
                    <td>completed</td>
                    <td>1.00</td>
                    <td>once</td>
                    <td><a href="/webadmin/user/info/id/100">admin</a></td>

                    <td>
                        <a href="export/index/get/id/83" title="Download"><img src="modules/export/img/content/but_download.png" alt="Download" /></a>
                        <a href="export/index/action/name/refresh/id/83" title="Update" class="_xhr"><img src="modules/export/img/content/but_refresh.png" alt="Update" /></a>
                        <a href="export/index/delete/id/83"><img src="img/content/but_del.png" alt="Remove" /></a>
                    </td>
                </tr>
                <tr class="odd">
                    <td>15</td>
                    <td>82</td>
                    <td>Custom Report: CGP earned cumulative</td>
                    <td>xlsx</td>
                    <td>2019/12/28 19:32:23</td>
                    <td>completed</td>
                    <td>1.00</td>
                    <td>once</td>
                    <td><a href="/webadmin/user/info/id/100">admin</a></td>

                    <td>
                        <a href="export/index/get/id/82" title="Download"><img src="modules/export/img/content/but_download.png" alt="Download" /></a>
                        <a href="export/index/action/name/refresh/id/82" title="Update" class="_xhr"><img src="modules/export/img/content/but_refresh.png" alt="Update" /></a>
                        <a href="export/index/delete/id/82"><img src="img/content/but_del.png" alt="Remove" /></a>
                    </td>
                </tr>
                <tr class="even">
                    <td>16</td>
                    <td>81</td>
                    <td>Custom Report: CGP earned cumulative</td>
                    <td>xlsx</td>
                    <td>2019/12/24 13:33:31</td>
                    <td>completed</td>
                    <td>1.00</td>
                    <td>once</td>
                    <td><a href="/webadmin/user/info/id/100">admin</a></td>

                    <td>
                        <a href="export/index/get/id/81" title="Download"><img src="modules/export/img/content/but_download.png" alt="Download" /></a>
                        <a href="export/index/action/name/refresh/id/81" title="Update" class="_xhr"><img src="modules/export/img/content/but_refresh.png" alt="Update" /></a>
                        <a href="export/index/delete/id/81"><img src="img/content/but_del.png" alt="Remove" /></a>
                    </td>
                </tr>
                <tr class="odd">
                    <td>17</td>
                    <td>80</td>
                    <td>Custom Report: CGP earned cumulative</td>
                    <td>xlsx</td>
                    <td>2019/12/23 15:44:53</td>
                    <td>completed</td>
                    <td>1.00</td>
                    <td>once</td>
                    <td><a href="/webadmin/user/info/id/100">admin</a></td>

                    <td>
                        <a href="export/index/get/id/80" title="Download"><img src="modules/export/img/content/but_download.png" alt="Download" /></a>
                        <a href="export/index/action/name/refresh/id/80" title="Update" class="_xhr"><img src="modules/export/img/content/but_refresh.png" alt="Update" /></a>
                        <a href="export/index/delete/id/80"><img src="img/content/but_del.png" alt="Remove" /></a>
                    </td>
                </tr>
                <tr class="even">
                    <td>18</td>
                    <td>79</td>
                    <td>Custom Report: CGP earned cumulative</td>
                    <td>xlsx</td>
                    <td>2019/12/21 10:25:15</td>
                    <td>completed</td>
                    <td>1.00</td>
                    <td>once</td>
                    <td><a href="/webadmin/user/info/id/100">admin</a></td>

                    <td>
                        <a href="export/index/get/id/79" title="Download"><img src="modules/export/img/content/but_download.png" alt="Download" /></a>
                        <a href="export/index/action/name/refresh/id/79" title="Update" class="_xhr"><img src="modules/export/img/content/but_refresh.png" alt="Update" /></a>
                        <a href="export/index/delete/id/79"><img src="img/content/but_del.png" alt="Remove" /></a>
                    </td>
                </tr>
                <tr class="odd">
                    <td>19</td>
                    <td>78</td>
                    <td>Custom Report: CGP earned cumulative</td>
                    <td>xlsx</td>
                    <td>2019/12/20 00:56:43</td>
                    <td>completed</td>
                    <td>1.00</td>
                    <td>once</td>
                    <td><a href="/webadmin/user/info/id/100">admin</a></td>

                    <td>
                        <a href="export/index/get/id/78" title="Download"><img src="modules/export/img/content/but_download.png" alt="Download" /></a>
                        <a href="export/index/action/name/refresh/id/78" title="Update" class="_xhr"><img src="modules/export/img/content/but_refresh.png" alt="Update" /></a>
                        <a href="export/index/delete/id/78"><img src="img/content/but_del.png" alt="Remove" /></a>
                    </td>
                </tr>
                <tr class="even">
                    <td>20</td>
                    <td>77</td>
                    <td>User List</td>
                    <td>xlsx</td>
                    <td>2019/12/18 17:21:07</td>
                    <td>completed</td>
                    <td>1.00</td>
                    <td>once</td>
                    <td><a href="/webadmin/user/info/id/100">admin</a></td>

                    <td>
                        <a href="export/index/get/id/77" title="Download"><img src="modules/export/img/content/but_download.png" alt="Download" /></a>
                        <a href="export/index/action/name/refresh/id/77" title="Update" class="_xhr"><img src="modules/export/img/content/but_refresh.png" alt="Update" /></a>
                        <a href="export/index/delete/id/77"><img src="img/content/but_del.png" alt="Remove" /></a>
                    </td>
                </tr>
                <tr class="odd">
                    <td>21</td>
                    <td>76</td>
                    <td>Custom Report: CGP earned cumulative</td>
                    <td>xlsx</td>
                    <td>2019/12/18 16:43:41</td>
                    <td>completed</td>
                    <td>1.00</td>
                    <td>once</td>
                    <td><a href="/webadmin/user/info/id/100">admin</a></td>

                    <td>
                        <a href="export/index/get/id/76" title="Download"><img src="modules/export/img/content/but_download.png" alt="Download" /></a>
                        <a href="export/index/action/name/refresh/id/76" title="Update" class="_xhr"><img src="modules/export/img/content/but_refresh.png" alt="Update" /></a>
                        <a href="export/index/delete/id/76"><img src="img/content/but_del.png" alt="Remove" /></a>
                    </td>
                </tr>
                <tr class="even">
                    <td>22</td>
                    <td>75</td>
                    <td>Custom Report: CGP earned cumulative</td>
                    <td>xlsx</td>
                    <td>2019/12/16 02:11:40</td>
                    <td>completed</td>
                    <td>1.00</td>
                    <td>once</td>
                    <td><a href="/webadmin/user/info/id/100">admin</a></td>

                    <td>
                        <a href="export/index/get/id/75" title="Download"><img src="modules/export/img/content/but_download.png" alt="Download" /></a>
                        <a href="export/index/action/name/refresh/id/75" title="Update" class="_xhr"><img src="modules/export/img/content/but_refresh.png" alt="Update" /></a>
                        <a href="export/index/delete/id/75"><img src="img/content/but_del.png" alt="Remove" /></a>
                    </td>
                </tr>
                <tr class="odd">
                    <td>23</td>
                    <td>74</td>
                    <td>Custom Report: CGP earned cumulative</td>
                    <td>xlsx</td>
                    <td>2019/12/15 07:43:07</td>
                    <td>completed</td>
                    <td>1.00</td>
                    <td>once</td>
                    <td><a href="/webadmin/user/info/id/100">admin</a></td>

                    <td>
                        <a href="export/index/get/id/74" title="Download"><img src="modules/export/img/content/but_download.png" alt="Download" /></a>
                        <a href="export/index/action/name/refresh/id/74" title="Update" class="_xhr"><img src="modules/export/img/content/but_refresh.png" alt="Update" /></a>
                        <a href="export/index/delete/id/74"><img src="img/content/but_del.png" alt="Remove" /></a>
                    </td>
                </tr>
                <tr class="even">
                    <td>24</td>
                    <td>73</td>
                    <td>Report List</td>
                    <td>xlsx</td>
                    <td>2019/12/15 05:11:40</td>
                    <td>completed</td>
                    <td>1.00</td>
                    <td>once</td>
                    <td><a href="/webadmin/user/info/id/4221145">QVRG2PXX</a></td>

                    <td>
                        <a href="export/index/get/id/73" title="Download"><img src="modules/export/img/content/but_download.png" alt="Download" /></a>
                        <a href="export/index/action/name/refresh/id/73" title="Update" class="_xhr"><img src="modules/export/img/content/but_refresh.png" alt="Update" /></a>
                        <a href="export/index/delete/id/73"><img src="img/content/but_del.png" alt="Remove" /></a>
                    </td>
                </tr>
                <tr class="odd">
                    <td>25</td>
                    <td>72</td>
                    <td>Report List</td>
                    <td>ods</td>
                    <td>2019/12/15 05:11:34</td>
                    <td>completed</td>
                    <td>1.00</td>
                    <td>once</td>
                    <td><a href="/webadmin/user/info/id/4221145">QVRG2PXX</a></td>

                    <td>
                        <a href="export/index/get/id/72" title="Download"><img src="modules/export/img/content/but_download.png" alt="Download" /></a>
                        <a href="export/index/action/name/refresh/id/72" title="Update" class="_xhr"><img src="modules/export/img/content/but_refresh.png" alt="Update" /></a>
                        <a href="export/index/delete/id/72"><img src="img/content/but_del.png" alt="Remove" /></a>
                    </td>
                </tr>
                <tr class="even">
                    <td>26</td>
                    <td>71</td>
                    <td>My Profit</td>
                    <td>csv</td>
                    <td>-</td>
                    <td>stop</td>
                    <td>0.00</td>
                    <td>once</td>
                    <td><a href="/webadmin/user/info/id/4221145">QVRG2PXX</a></td>

                    <td>
                        <a href="export/index/action/name/run/id/71" title="Run" class="_xhr">
                            <img src="modules/export/img/content/but_play.png" alt="Run" />
                        </a>
                        <a href="export/index/action/name/delete/id/71" title="Run" class="_xhr">
                            <img src="modules/export/img/content/but_del.png" alt="Run" />
                        </a>
                    </td>
                </tr>
                <tr class="odd">
                    <td>27</td>
                    <td>70</td>
                    <td>Custom Report: CGP earned cumulative</td>
                    <td>xlsx</td>
                    <td>2019/12/14 11:41:43</td>
                    <td>completed</td>
                    <td>1.00</td>
                    <td>once</td>
                    <td><a href="/webadmin/user/info/id/100">admin</a></td>

                    <td>
                        <a href="export/index/get/id/70" title="Download"><img src="modules/export/img/content/but_download.png" alt="Download" /></a>
                        <a href="export/index/action/name/refresh/id/70" title="Update" class="_xhr"><img src="modules/export/img/content/but_refresh.png" alt="Update" /></a>
                        <a href="export/index/delete/id/70"><img src="img/content/but_del.png" alt="Remove" /></a>
                    </td>
                </tr>
                <tr class="even">
                    <td>28</td>
                    <td>69</td>
                    <td>Custom Report: CGP earned cumulative</td>
                    <td>xlsx</td>
                    <td>2019/12/13 21:32:59</td>
                    <td>completed</td>
                    <td>1.00</td>
                    <td>once</td>
                    <td><a href="/webadmin/user/info/id/100">admin</a></td>

                    <td>
                        <a href="export/index/get/id/69" title="Download"><img src="modules/export/img/content/but_download.png" alt="Download" /></a>
                        <a href="export/index/action/name/refresh/id/69" title="Update" class="_xhr"><img src="modules/export/img/content/but_refresh.png" alt="Update" /></a>
                        <a href="export/index/delete/id/69"><img src="img/content/but_del.png" alt="Remove" /></a>
                    </td>
                </tr>
                <tr class="odd">
                    <td>29</td>
                    <td>68</td>
                    <td>Custom Report: CGP earned cumulative</td>
                    <td>ods</td>
                    <td>2019/12/13 19:02:52</td>
                    <td>completed</td>
                    <td>1.00</td>
                    <td>once</td>
                    <td><a href="/webadmin/user/info/id/100">admin</a></td>

                    <td>
                        <a href="export/index/get/id/68" title="Download"><img src="modules/export/img/content/but_download.png" alt="Download" /></a>
                        <a href="export/index/action/name/refresh/id/68" title="Update" class="_xhr"><img src="modules/export/img/content/but_refresh.png" alt="Update" /></a>
                        <a href="export/index/delete/id/68"><img src="img/content/but_del.png" alt="Remove" /></a>
                    </td>
                </tr>
                <tr class="even">
                    <td>30</td>
                    <td>67</td>
                    <td>Custom Report: CGP earned cumulative</td>
                    <td>xlsx</td>
                    <td>2019/12/13 18:50:05</td>
                    <td>completed</td>
                    <td>1.00</td>
                    <td>once</td>
                    <td><a href="/webadmin/user/info/id/100">admin</a></td>

                    <td>
                        <a href="export/index/get/id/67" title="Download"><img src="modules/export/img/content/but_download.png" alt="Download" /></a>
                        <a href="export/index/action/name/refresh/id/67" title="Update" class="_xhr"><img src="modules/export/img/content/but_refresh.png" alt="Update" /></a>
                        <a href="export/index/delete/id/67"><img src="img/content/but_del.png" alt="Remove" /></a>
                    </td>
                </tr>
                <tr class="odd">
                    <td>31</td>
                    <td>66</td>
                    <td>Custom Report: CGP earned cumulative</td>
                    <td>xlsx</td>
                    <td>2019/12/13 18:46:50</td>
                    <td>completed</td>
                    <td>1.00</td>
                    <td>once</td>
                    <td><a href="/webadmin/user/info/id/100">admin</a></td>

                    <td>
                        <a href="export/index/get/id/66" title="Download"><img src="modules/export/img/content/but_download.png" alt="Download" /></a>
                        <a href="export/index/action/name/refresh/id/66" title="Update" class="_xhr"><img src="modules/export/img/content/but_refresh.png" alt="Update" /></a>
                        <a href="export/index/delete/id/66"><img src="img/content/but_del.png" alt="Remove" /></a>
                    </td>
                </tr>
                <tr class="even">
                    <td>32</td>
                    <td>65</td>
                    <td>Custom Report: CGP earned cumulative</td>
                    <td>csv</td>
                    <td>2019/12/13 18:42:56</td>
                    <td>completed</td>
                    <td>1.00</td>
                    <td>once</td>
                    <td><a href="/webadmin/user/info/id/100">admin</a></td>

                    <td>
                        <a href="export/index/get/id/65" title="Download"><img src="modules/export/img/content/but_download.png" alt="Download" /></a>
                        <a href="export/index/action/name/refresh/id/65" title="Update" class="_xhr"><img src="modules/export/img/content/but_refresh.png" alt="Update" /></a>
                        <a href="export/index/delete/id/65"><img src="img/content/but_del.png" alt="Remove" /></a>
                    </td>
                </tr>
                <tr class="odd">
                    <td>33</td>
                    <td>64</td>
                    <td>Custom Report: CGP earned cumulative</td>
                    <td>xlsx</td>
                    <td>2019/12/10 21:54:06</td>
                    <td>completed</td>
                    <td>1.00</td>
                    <td>once</td>
                    <td><a href="/webadmin/user/info/id/100">admin</a></td>

                    <td>
                        <a href="export/index/get/id/64" title="Download"><img src="modules/export/img/content/but_download.png" alt="Download" /></a>
                        <a href="export/index/action/name/refresh/id/64" title="Update" class="_xhr"><img src="modules/export/img/content/but_refresh.png" alt="Update" /></a>
                        <a href="export/index/delete/id/64"><img src="img/content/but_del.png" alt="Remove" /></a>
                    </td>
                </tr>
                <tr class="even">
                    <td>34</td>
                    <td>63</td>
                    <td>Custom Report: CGP earned cumulative</td>
                    <td>csv</td>
                    <td>2019/12/10 21:53:34</td>
                    <td>completed</td>
                    <td>1.00</td>
                    <td>once</td>
                    <td><a href="/webadmin/user/info/id/100">admin</a></td>

                    <td>
                        <a href="export/index/get/id/63" title="Download"><img src="modules/export/img/content/but_download.png" alt="Download" /></a>
                        <a href="export/index/action/name/refresh/id/63" title="Update" class="_xhr"><img src="modules/export/img/content/but_refresh.png" alt="Update" /></a>
                        <a href="export/index/delete/id/63"><img src="img/content/but_del.png" alt="Remove" /></a>
                    </td>
                </tr>
                <tr class="odd">
                    <td>35</td>
                    <td>62</td>
                    <td>User List</td>
                    <td>xlsx</td>
                    <td>2019/12/10 20:17:38</td>
                    <td>completed</td>
                    <td>1.00</td>
                    <td>once</td>
                    <td><a href="/webadmin/user/info/id/100">admin</a></td>

                    <td>
                        <a href="export/index/get/id/62" title="Download"><img src="modules/export/img/content/but_download.png" alt="Download" /></a>
                        <a href="export/index/action/name/refresh/id/62" title="Update" class="_xhr"><img src="modules/export/img/content/but_refresh.png" alt="Update" /></a>
                        <a href="export/index/delete/id/62"><img src="img/content/but_del.png" alt="Remove" /></a>
                    </td>
                </tr>
                <tr class="even">
                    <td>36</td>
                    <td>59</td>
                    <td>User List</td>
                    <td>xlsx</td>
                    <td>2019/11/09 14:03:05</td>
                    <td>completed</td>
                    <td>1.00</td>
                    <td>once</td>
                    <td><a href="/webadmin/user/info/id/100">admin</a></td>

                    <td>
                        <a href="export/index/get/id/59" title="Download"><img src="modules/export/img/content/but_download.png" alt="Download" /></a>
                        <a href="export/index/action/name/refresh/id/59" title="Update" class="_xhr"><img src="modules/export/img/content/but_refresh.png" alt="Update" /></a>
                        <a href="export/index/delete/id/59"><img src="img/content/but_del.png" alt="Remove" /></a>
                    </td>
                </tr>
                <tr class="odd">
                    <td>37</td>
                    <td>51</td>
                    <td>User List</td>
                    <td>xlsx</td>
                    <td>2019/10/13 20:43:41</td>
                    <td>completed</td>
                    <td>1.00</td>
                    <td>once</td>
                    <td><a href="/webadmin/user/info/id/100">admin</a></td>

                    <td>
                        <a href="export/index/get/id/51" title="Download"><img src="modules/export/img/content/but_download.png" alt="Download" /></a>
                        <a href="export/index/action/name/refresh/id/51" title="Update" class="_xhr"><img src="modules/export/img/content/but_refresh.png" alt="Update" /></a>
                        <a href="export/index/delete/id/51"><img src="img/content/but_del.png" alt="Remove" /></a>
                    </td>
                </tr>
                <tr class="even">
                    <td>38</td>
                    <td>50</td>
                    <td>Player's Money</td>
                    <td>xlsx</td>
                    <td>2019/09/16 21:28:52</td>
                    <td>completed</td>
                    <td>1.00</td>
                    <td>once</td>
                    <td><a href="/webadmin/user/info/id/100">admin</a></td>

                    <td>
                        <a href="export/index/get/id/50" title="Download"><img src="modules/export/img/content/but_download.png" alt="Download" /></a>
                        <a href="export/index/action/name/refresh/id/50" title="Update" class="_xhr"><img src="modules/export/img/content/but_refresh.png" alt="Update" /></a>
                        <a href="export/index/delete/id/50"><img src="img/content/but_del.png" alt="Remove" /></a>
                    </td>
                </tr>
                <tr class="odd">
                    <td>39</td>
                    <td>49</td>
                    <td>Table's Rake</td>
                    <td>xlsx</td>
                    <td>2019/09/14 10:25:46</td>
                    <td>completed</td>
                    <td>1.00</td>
                    <td>once</td>
                    <td><a href="/webadmin/user/info/id/100">admin</a></td>

                    <td>
                        <a href="export/index/get/id/49" title="Download"><img src="modules/export/img/content/but_download.png" alt="Download" /></a>
                        <a href="export/index/action/name/refresh/id/49" title="Update" class="_xhr"><img src="modules/export/img/content/but_refresh.png" alt="Update" /></a>
                        <a href="export/index/delete/id/49"><img src="img/content/but_del.png" alt="Remove" /></a>
                    </td>
                </tr>
                <tr class="even">
                    <td>40</td>
                    <td>48</td>
                    <td>Table's Rake</td>
                    <td>xlsx</td>
                    <td>2019/09/14 10:21:11</td>
                    <td>completed</td>
                    <td>1.00</td>
                    <td>once</td>
                    <td><a href="/webadmin/user/info/id/100">admin</a></td>

                    <td>
                        <a href="export/index/get/id/48" title="Download"><img src="modules/export/img/content/but_download.png" alt="Download" /></a>
                        <a href="export/index/action/name/refresh/id/48" title="Update" class="_xhr"><img src="modules/export/img/content/but_refresh.png" alt="Update" /></a>
                        <a href="export/index/delete/id/48"><img src="img/content/but_del.png" alt="Remove" /></a>
                    </td>
                </tr>
                <tr class="odd">
                    <td>41</td>
                    <td>47</td>
                    <td>Table's Rake</td>
                    <td>xlsx</td>
                    <td>2019/09/14 10:13:08</td>
                    <td>completed</td>
                    <td>1.00</td>
                    <td>once</td>
                    <td><a href="/webadmin/user/info/id/100">admin</a></td>

                    <td>
                        <a href="export/index/get/id/47" title="Download"><img src="modules/export/img/content/but_download.png" alt="Download" /></a>
                        <a href="export/index/action/name/refresh/id/47" title="Update" class="_xhr"><img src="modules/export/img/content/but_refresh.png" alt="Update" /></a>
                        <a href="export/index/delete/id/47"><img src="img/content/but_del.png" alt="Remove" /></a>
                    </td>
                </tr>
                <tr class="even">
                    <td>42</td>
                    <td>46</td>
                    <td>User List</td>
                    <td>xlsx</td>
                    <td>2019/09/01 13:15:35</td>
                    <td>completed</td>
                    <td>1.00</td>
                    <td>once</td>
                    <td><a href="/webadmin/user/info/id/100">admin</a></td>

                    <td>
                        <a href="export/index/get/id/46" title="Download"><img src="modules/export/img/content/but_download.png" alt="Download" /></a>
                        <a href="export/index/action/name/refresh/id/46" title="Update" class="_xhr"><img src="modules/export/img/content/but_refresh.png" alt="Update" /></a>
                        <a href="export/index/delete/id/46"><img src="img/content/but_del.png" alt="Remove" /></a>
                    </td>
                </tr>
                <tr class="odd">
                    <td>43</td>
                    <td>45</td>
                    <td>Player's Money</td>
                    <td>xlsx</td>
                    <td>2019/09/01 11:20:44</td>
                    <td>completed</td>
                    <td>1.00</td>
                    <td>once</td>
                    <td><a href="/webadmin/user/info/id/100">admin</a></td>

                    <td>
                        <a href="export/index/get/id/45" title="Download"><img src="modules/export/img/content/but_download.png" alt="Download" /></a>
                        <a href="export/index/action/name/refresh/id/45" title="Update" class="_xhr"><img src="modules/export/img/content/but_refresh.png" alt="Update" /></a>
                        <a href="export/index/delete/id/45"><img src="img/content/but_del.png" alt="Remove" /></a>
                    </td>
                </tr>
                <tr class="even">
                    <td>44</td>
                    <td>44</td>
                    <td>Custom Report: CGP earned cumulative</td>
                    <td>xlsx</td>
                    <td>2019/08/30 08:57:44</td>
                    <td>completed</td>
                    <td>1.00</td>
                    <td>once</td>
                    <td><a href="/webadmin/user/info/id/100">admin</a></td>

                    <td>
                        <a href="export/index/get/id/44" title="Download"><img src="modules/export/img/content/but_download.png" alt="Download" /></a>
                        <a href="export/index/action/name/refresh/id/44" title="Update" class="_xhr"><img src="modules/export/img/content/but_refresh.png" alt="Update" /></a>
                        <a href="export/index/delete/id/44"><img src="img/content/but_del.png" alt="Remove" /></a>
                    </td>
                </tr>
                <tr class="odd">
                    <td>45</td>
                    <td>42</td>
                    <td>Transaction List</td>
                    <td>xlsx</td>
                    <td>2019/08/30 08:09:32</td>
                    <td>completed</td>
                    <td>1.00</td>
                    <td>once</td>
                    <td><a href="/webadmin/user/info/id/100">admin</a></td>

                    <td>
                        <a href="export/index/get/id/42" title="Download"><img src="modules/export/img/content/but_download.png" alt="Download" /></a>
                        <a href="export/index/action/name/refresh/id/42" title="Update" class="_xhr"><img src="modules/export/img/content/but_refresh.png" alt="Update" /></a>
                        <a href="export/index/delete/id/42"><img src="img/content/but_del.png" alt="Remove" /></a>
                    </td>
                </tr>
                <tr class="even">
                    <td>46</td>
                    <td>41</td>
                    <td>Player's Rake</td>
                    <td>csv</td>
                    <td>2019/08/30 02:51:35</td>
                    <td>completed</td>
                    <td>1.00</td>
                    <td>once</td>
                    <td><a href="/webadmin/user/info/id/100">admin</a></td>

                    <td>
                        <a href="export/index/get/id/41" title="Download"><img src="modules/export/img/content/but_download.png" alt="Download" /></a>
                        <a href="export/index/action/name/refresh/id/41" title="Update" class="_xhr"><img src="modules/export/img/content/but_refresh.png" alt="Update" /></a>
                        <a href="export/index/delete/id/41"><img src="img/content/but_del.png" alt="Remove" /></a>
                    </td>
                </tr>
                <tr class="odd">
                    <td>47</td>
                    <td>40</td>
                    <td>Transaction List</td>
                    <td>xlsx</td>
                    <td>2019/08/29 17:49:22</td>
                    <td>completed</td>
                    <td>1.00</td>
                    <td>once</td>
                    <td><a href="/webadmin/user/info/id/100">admin</a></td>

                    <td>
                        <a href="export/index/get/id/40" title="Download"><img src="modules/export/img/content/but_download.png" alt="Download" /></a>
                        <a href="export/index/action/name/refresh/id/40" title="Update" class="_xhr"><img src="modules/export/img/content/but_refresh.png" alt="Update" /></a>
                        <a href="export/index/delete/id/40"><img src="img/content/but_del.png" alt="Remove" /></a>
                    </td>
                </tr>
                <tr class="even">
                    <td>48</td>
                    <td>39</td>
                    <td>User List</td>
                    <td>xlsx</td>
                    <td>2019/08/29 17:44:23</td>
                    <td>completed</td>
                    <td>1.00</td>
                    <td>once</td>
                    <td><a href="/webadmin/user/info/id/100">admin</a></td>

                    <td>
                        <a href="export/index/get/id/39" title="Download"><img src="modules/export/img/content/but_download.png" alt="Download" /></a>
                        <a href="export/index/action/name/refresh/id/39" title="Update" class="_xhr"><img src="modules/export/img/content/but_refresh.png" alt="Update" /></a>
                        <a href="export/index/delete/id/39"><img src="img/content/but_del.png" alt="Remove" /></a>
                    </td>
                </tr>
                <tr class="odd">
                    <td>49</td>
                    <td>38</td>
                    <td>Player's Rake</td>
                    <td>xlsx</td>
                    <td>2019/08/29 17:28:58</td>
                    <td>completed</td>
                    <td>1.00</td>
                    <td>once</td>
                    <td><a href="/webadmin/user/info/id/100">admin</a></td>

                    <td>
                        <a href="export/index/get/id/38" title="Download"><img src="modules/export/img/content/but_download.png" alt="Download" /></a>
                        <a href="export/index/action/name/refresh/id/38" title="Update" class="_xhr"><img src="modules/export/img/content/but_refresh.png" alt="Update" /></a>
                        <a href="export/index/delete/id/38"><img src="img/content/but_del.png" alt="Remove" /></a>
                    </td>
                </tr>
                <tr class="even">
                    <td>50</td>
                    <td>37</td>
                    <td>Report list</td>
                    <td>csv</td>
                    <td>-</td>
                    <td>stop</td>
                    <td>0.00</td>
                    <td>once</td>
                    <td><a href="/webadmin/user/info/id/100">admin</a></td>

                    <td>
                        <a href="export/index/action/name/run/id/37" title="Run" class="_xhr">
                            <img src="modules/export/img/content/but_play.png" alt="Run" />
                        </a>
                        <a href="export/index/action/name/delete/id/37" title="Run" class="_xhr">
                            <img src="modules/export/img/content/but_del.png" alt="Run" />
                        </a>
                    </td>
                </tr>
            </table>
            <div class='rowCount'>
                <div class="row">
                    <div class="col-md-3">
                        Rows: 50&ensp;|&ensp;
                        <div class="limit-controls" style="display: inline-block;">
                            <div id="perpage">Per page:</div>
                            <select class="limit-links">
                                <option data-href="/webadmin/export/index/index/limit/10">10</option>
                                <option data-href="/webadmin/export/index/index/limit/25">25</option>
                                <option selected data-href="/webadmin/export/index/index/limit/50">50</option>
                                <option data-href="/webadmin/export/index/index/limit/100">100</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6" style="display: flex; justify-content: center">
                        <div class="paginator-controls" id="blockPaginatorControls">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="pull-right">
                            <a href="/webadmin/export/index/index/_output/xlsx"><img src="img/icons/xls.svg" alt="Excel"></a>
                            <a href="/webadmin/export/index/index/_output/csv"><img src="img/icons/csv.svg" alt="CSV"></a>
                            <a href="/webadmin/export/index/index/_output/ods"><img src="img/icons/odt.svg" alt="OpenDocument" /></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<style>
    [role="presentation"] {
        outline: none;
        box-shadow: none;
        border: none;
    }
</style>
<script>
    var _xhrTimeout = null;

    var periods = { "once": "Once", "hourly": "Hourly", "daily": "Daily", "weekly": "Weekly", "monthly": "Monthly", "yearly": "Yearly" };

    function listingRowInitActions(row, callback) {
        require(["dojo/query", "dojo/on"], function (query, on) {
            on(query(row.tds['options']).children("._xhr"), "click", function (e) {
                row.tds['options'].innerHTML = "wait...";
                row.waitResponse = true;
                var self = this;
                e.preventDefault();
                dojo.xhrGet({
                    url: self.href,
                    handleAs: "json",
                    load: function (data) {
                        row.waitResponse = false;
                        row.update(data);
                        if (data.message) {
                            alert(data.message);
                        }
                        if (callback)
                            callback();
                    }
                });
            })
        });
    }

    var tdDecorators = {
        "f_progress": function (val) {
            val = parseFloat(val);
            val = isNaN(val) ? 0 : (val > 1 ? 1 : val);
            return Math.round(val * 100) + "%";
        },
        "options": function (val, row) {
            var download = '<a href="export/index/get/id/' + row.getId() + '" title="Download">' +
                '<img src="modules/export/img/content/but_download.png" alt="Download"/></a>';
            var refresh = '<a href="export/index/action/name/refresh/id/' + row.getId() + '" class="_xhr" title="Update">' +
                '<img src="modules/export/img/content/but_refresh.png" alt="Update"/></a>';
            var stop = '<a href="export/index/action/name/stop/id/' + row.getId() + '" class="_xhr" title="Stop">' +
                '<img src="modules/export/img/content/but_stop.png" alt="Stop"/></a>';
            var run = '<a href="export/index/action/name/run/id/' + row.getId() + '" class="_xhr" title="Run">' +
                '<img src="modules/export/img/content/but_play.png" alt="Run"/></a>';
            var del = '<a href="export/index/delete/id/' + row.getId() + '" title="Remove">' +
                '<img src="img/content/but_del.png" alt="Remove"/></a>';
            var period = '<a href="export/index/set-period/id/' + row.getId() + '" title="Change period" class="js-period" ' +
                'data-period="' + row.getProcessingPeriod() + '">' +
                '<img src="modules/export/img/content/but_period.png" alt="Change period"/></a>';
            switch (row.getValue('f_status')) {
                case "process":
                    return stop;
                case "completed":
                    return download + refresh + period + del;
                case "stop":
                case "":
                    return run + del;
                case "pending":
                default:
                    return "";
            }
        }
    };

    var periodDialog;

    function ListingRow(row, map, primary, decorators) {
        this.row = row;
        this._map = map;
        this.tds = {};
        this._primaryKey = primary || 'f_id';
        this.decorators = decorators;
        this.waitResponse = false;
        var self = this;

        require(
            ["dojo/query", "dojo/NodeList-traverse"],
            function (query, nodeList) {
                var tdList = query(self.row).children("td");

                for (var i = 0; i < tdList.length; ++i) {
                    if (self._map[i] == self._primaryKey) {
                        self.id = parseInt(tdList[i].innerHTML);
                    }

                    self.tds[self._map[i]] = tdList[i];
                }
            }
        );

        if (decorators) {
            this.update();
        }
    }

    ListingRow.prototype.getId = function () {
        return this.id;
    };
    ListingRow.prototype.update = function (data, callback) {
        if (this.waitResponse)
            return;
        for (var i in this.tds) {
            if (data && data[i]) {
                if (this.decorators[i]) {
                    this.tds[i].innerHTML = this.decorators[i](data[i], this);
                } else {
                    this.tds[i].innerHTML = data[i];
                }
            } else if (this.decorators[i]) {
                this.tds[i].innerHTML = this.decorators[i](this.tds[i].innerHTML, this);
            }
        }
        listingRowInitActions(this, callback);
    };
    ListingRow.prototype.getValue = function (key) {
        return this.tds[key].innerHTML;
    };
    ListingRow.prototype.getProcessingPeriod = function () {
        return this.tds["f_processing_period"].innerHTML;
    };

    function ListingRows(table, primary, decorators) {
        this.primary = primary || "f_id";
        this.table = table;
        this.columns = [];
        this.rows = {};
        this._dojo = {};
        var self = this;

        require(["dojo/query", "dojo/NodeList-traverse"], function (query, nodeList) {
            self._dojo.query = query;
            self._dojo.nodeList = nodeList;
            var thList = query(self.table).children("thead.listHead").children("tr").children("th");
            for (var i = 0; i < thList.length; ++i) {
                if (thList[i].id) {
                    var _n = thList[i].id.split("listingCol-")[1];
                    if (_n !== undefined) {
                        self.columns.push(_n);
                        continue;
                    }
                }
                self.columns.push(i);
            }
            var trList = query(self.table).children("tbody").children("tr");
            for (i = 0; i < trList.length; ++i) {
                if (trList[i].querySelectorAll('td').length !== self.columns.length)
                    continue;
                var row = new ListingRow(trList[i], self.columns, self.primary, decorators);
                self.rows[row.getId()] = row;
            }
        });
    }

    ListingRows.prototype.update = function (data, callback) {
        for (var i in data) {
            if (data.hasOwnProperty(i) && this.rows[i]) {
                this.rows[i].update(data[i], callback);
            }
        }
    };

    require(
        [
            "dojo/on",
            "dojo/query",
            "dijit/TooltipDialog",
            "dijit/popup"
        ],
        function (on, query, dialog, popup) {
            if (typeof periodDialog === 'undefined') {
                periodDialog = dialog({
                    id: "period-dialog"
                });
            }

            on(document, "listingSetup", function () {
                var rows = new ListingRows(
                    query(".listing-table")[0],
                    null,
                    tdDecorators
                );

                (function (rows) {
                    function _request() {
                        var qIds = [];
                        for (var i in rows.rows) {
                            if (rows.rows[i].getValue('f_status') === 'completed')
                                continue;
                            qIds.push("ids[" + qIds.length + "]=" + rows.rows[i].getId());
                        }
                        if (qIds.length > 0) {
                            dojo.xhrGet({
                                url: "export/index/info?" + qIds.join("&"),
                                handleAs: "json",
                                load: _onSuccessRequest
                            });
                        }
                    }

                    function _onSuccessRequest(data) {
                        rows.update(data, _request);
                        if (null === _xhrTimeout) {

                            _xhrTimeout = setTimeout(function () {
                                _request();
                                _xhrTimeout = null;
                            }, 3000);
                        }
                    }

                    _request();

                    for (var i in rows.rows) {
                        listingRowInitActions(rows.rows[i], _request);
                    }

                    function _setupPeriodTooltips(ev) {
                        ev.preventDefault();

                        let
                            $el = $(ev.target).closest("a"),
                            period = $el.data("period"),
                            content = '<div>Report is being created ' + period +
                                '</div><br /><div>Change period</div>' +
                                '<form action="' + $el.attr("href") + '" method="post"><select class="js-period-select" name="period">';

                        for (let i in periods) {
                            if (periods.hasOwnProperty(i)) {
                                content += '<option value="' + i + '"';

                                if (i === period) {
                                    content += " selected";
                                }

                                content += '>' + periods[i] + '</option>';
                            }
                        }

                        content += '</select> <button type="submit">Ok</button></form>';

                        periodDialog.set(
                            "content",
                            content
                        );

                        popup.open({
                            popup: periodDialog,
                            around: ev.target,
                            onCancel: function () {
                                popup.close(periodDialog);
                            }
                        });

                        periodDialog.focus()
                    }

                    query(".js-period").on(
                        "click",
                        _setupPeriodTooltips
                    );
                })(rows);
            });
        });
</script>