﻿
@{
    ViewBag.Title = "Add Fast Message";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Add Fast Message</h3>
<div class="box box-primary">
    <div enctype="application/x-www-form-urlencoded"  dojoType="dijit.form.Form">
        <!-- Modal -->
        <div class="modal fade preview-popup" id="modal-l18n-70" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" id="modal-l18n-70-close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Localization</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Text</th>
                                    <th>Skin</th>
                                    <th>Language</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>                </tbody>
                        </table>

                        <button type="button" id="modal-l18n-70-add" class="btn btn-primary">+</button>
                        <button type="button" id="modal-l18n-70-close2" class="btn btn-primary pull-right">Close</button>
                    </div>
                </div>
            </div>
        </div><div class="box-body">
            <div class="form-group" id="form-element-messageName">
                <label for="messageName" class="required">Message text</label>

                <div class="input-group">
                    <input type="text" name="messageName" id="messageName" value="" data-l18n="70" class="form-control" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary" data-l18n-ctl="70">Localize</button>
                    </span>
                </div>
            </div>

            <input type="submit" name="send" id="send" value="Save" class="btn btn-primary" />
        </div>
    </div>
</div>

