﻿
@{
    ViewBag.Title = "Fast Message List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-xs-9">
        <h3>Fast Messages</h3>
    </div>
    <div class="col-xs-3 text-right btn-container">
        <a class="btn btn-default purple-skin-btn-lte-theme purple-btn-add" href="~/Admin/Config/FastMessage/Add">
            <span class="purple-skin-btn-plus"></span>&nbsp;Add Fast Message
        </a>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
        </div>
        <div class="box">
            <div class="box-body">
                <div id="dynamicContent">
                    <div class="custom-dropdown-menu" id="columnsControls">
                    </div>

                    <table id='fast-messages' class="listing-table" data-dt-not-fixed-cols="true">
                        <thead class="listHead">
                            <tr>
                                <th data-meta-skip-manage='true'>
                                    <div>
                                        <button type="button" class="btn btn-primary custom-dropdown" id="columnControlsBtn">
                                            <img src="~/Assest/img/menu.svg" />
                                        </button>
                                    </div>
                                </th>
                                <th data-meta-key='f_id'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_id"
                                           orderType="DESC">
                                            ID
                                            <img src="~/Assest/img/arrow_up.png" />
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_message_name'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_message_name"
                                           orderType="">
                                            Message text
                                        </a>
                                    </nobr>
                                </th>
                            </tr>
                            <tr class="listFilter">
                                <th>

                                    <button name="butFilter" id="butFilter" type="button">Apply Filter</button>

                                    <button name="butReset" id="butReset" type="button">Reset Filter</button>
                                </th>
                                <th>
                                    <input type="text" name="f_id" id="f_id" value="" filter="1" orderable="1" sql="f_id" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <input type="text" name="f_message_name" id="f_message_name" value="" filter="1" orderable="1" sql="f_message_name" nonHtml="" class="filter" />
                                </th>

                            </tr>
                        </thead>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

