﻿
@{
    ViewBag.Title = "FraudIPList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>

    label[for="FromDate"] {
        float: left;
        margin-right: 10px;
        margin-top: 3px;
    }

    label[for="ToDate"] {
        float: left;
        margin-right: 10px;
        margin-top: 3px;
    }

    input[name="FromDate"] {
        margin-right: 10px;
        float: left;
        margin-bottom: 10px;
    }

    input[name="ToDate"] {
        margin-bottom: 10px;
    }

    select[name="IsPairs"] {
        margin-top: 10px;
    }
</style>

<h3>Fraud IP List</h3>
        </br>



<div id="dynamicContent">




    <div>
        <label for="FromDate" class="required">From:</label>

        <input type="text" name="FromDate" id="FromDate" value="2020-02-27" external="1" class="filter" readonly="readonly" onclick='displayDatePicker("FromDate", false, "ymd", "-");' />
    </div>
    <div>
        <label for="ToDate" class="required">To:</label>

        <input type="text" name="ToDate" id="ToDate" value="2020-02-27" external="1" class="filter" readonly="readonly" onclick='displayDatePicker("ToDate", false, "ymd", "-");' />
    </div>
    <div>
        <label for="IpPlayerCount" class="required">Min Players Count by IP:</label>

        <input type="text" name="IpPlayerCount" id="IpPlayerCount" value="2" external="1" class="filter" />
    </div>
    <div>
        <label for="IsPairs" class="required">Use pairs of the sessions:</label>

        <select name="IsPairs" id="IsPairs" external="1" class="filter">
            <option value="">-</option>
            <option value="1">Yes</option>
            <option value="0" selected="selected">No</option>
        </select>
    </div>
    <p>
        <a href="#" class="btn btn-small" onclick="listing.filter(); return false;">Request Report</a>
    </p>
    <table class="listing-table">
        <thead class="listHead">
            <tr>
                <th>#</th>
                <th>
                    <nobr>
                        Actions
                    </nobr>
                </th>
                <th>
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_ip" orderType="">
                            IP
                        </a>
                    </nobr>
                </th>
                <th>
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_player_id" orderType="">
                            Player
                        </a>
                    </nobr>
                </th>
                <th>
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_trusted_level" orderType="">
                            Player Trusted Level
                        </a>
                    </nobr>
                </th>
                <th>
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_notes" orderType="">
                            Player Notes
                        </a>
                    </nobr>
                </th>
            </tr>
        </thead>
        <thead class="listFilter">
            <tr>
                <th>&nbsp;</th>
                <th>

                    <button name="butFilter" id="butFilter" type="button">Apply Filter</button>

                    <button name="butReset" id="butReset" type="button">Reset Filter</button>
                </th>
                <th>
                    <input type="text" name="f_ip" id="f_ip" value="" orderable="1" filter="1" sql="f_ip" nonHtml="" class="filter" />
                </th>
                <th>
                    <input type="text" name="f_player_id" id="f_player_id" value="" orderable="1" filter="1" sql_nick="f_nick" sql="f_player_id" nonHtml="" class="filter" />
                </th>
                <th>
                    <select name="f_trusted_level" id="f_trusted_level" orderable="1" filter="1" sql="f_trusted_level" nonHtml="" class="filter">
                        <option value="">-</option>
                        <option value="0">Unknown</option>
                        <option value="1">Trusted</option>
                        <option value="2">Suspicious</option>
                        <option value="3">Cheater</option>
                    </select>
                </th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>

            </tr>
        </thead>

        <tr class="player-trusted-level-0 odd">
            <td>1</td>
            <td></td>
            <td>78.109.139.161</td>
            <td><a href="/webadmin/user/info/id/5126947">Rihana</a></td>
            <td>Unknown</td>
            <td><span class="player-notes has-no-data"><span class="player-notes-data"></span></span></td>
            <td>Rihana</td>

        </tr>
        <tr class="player-trusted-level-0 even">
            <td>2</td>
            <td></td>
            <td>78.109.139.161</td>
            <td><a href="/webadmin/user/info/id/5131823">JohnyD</a></td>
            <td>Unknown</td>
            <td><span class="player-notes has-no-data"><span class="player-notes-data"></span></span></td>
            <td>JohnyD</td>

        </tr>
    </table>
    <div class='rowCount'>
        Number of rows: 2
        &nbsp;|&nbsp;
        Export To:
        <a href="/webadmin/fraud/index/fraud-ip/_output/xlsx">Excel</a> | <a href="/webadmin/fraud/index/fraud-ip/_output/csv">CSV</a> | <a href="/webadmin/fraud/index/fraud-ip/_output/ods">OpenDocument</a>
    </div>
    <div class="paginator-controls" id="blockPaginatorControls">
    </div>
    <div class="limit-controls" style="display: inline-block;">
        <div id="perpage">Per page:</div>
        <select class="limit-links">
            <option data-href="/webadmin/fraud/index/fraud-ip/limit/10">10</option>
            <option data-href="/webadmin/fraud/index/fraud-ip/limit/25">25</option>
            <option selected data-href="/webadmin/fraud/index/fraud-ip/limit/50">50</option>
            <option data-href="/webadmin/fraud/index/fraud-ip/limit/100">100</option>
        </select>
    </div>

</div>