﻿
@{
    ViewBag.Title = "G_Analytics";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h3>Users Reports </h3>
<div class="row">
    <div class="col-xs-12">

        <div class="box box-default">
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12 col-md-3">

                        <div class="form-group">
                            <label>Date range:</label>

                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right" id="daterangepicker" value="">

                            </div>
                            <!-- /.input group -->
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="text-center" id="chart-usersByDate"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="text-center" id="chart-smallUsers"></div>
                                <div class="text-center" id="chart-smallScreenViews"></div>
                                <div class="text-center" id="chart-smallSessionDuration"></div>
                            </div>
                            <div class="col-xs-6">
                                <div class="text-center" id="chart-smallSessions"></div>
                                <div class="text-center" id="chart-smallScreenViewsPerSession"></div>
                                <div class="text-center" id="chart-smallPercentNewSessions"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-8">
                        <div class="text-center" id="chart-pieNewRetUsers" style="height: 600px;"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="box box-default">
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="text-center" id="chart-tableView"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>