﻿
@{
    ViewBag.Title = "GameSearch";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h3>Game Search</h3>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="row">
                <div class="col-md-12" style="margin-bottom: 15px; margin-top: 15px">
                    <div class="form-group" style="margin: 10px;">

                        <input type="text" name="Players" id="Players" value="" strict_match="1" placeholder="Players separated by comas" style="width: 180px" sql="pf.f_player_id" skipSelect="" external="1" class="filter" />
                    </div>
                    <div class="form-group" style="margin: 10px;">

                        From: <input type="text" name="Date[from]" id="Date[from]" value="2020-01-27 00:00:00" sql="t.f_ended_stamp" skipSelect="" external="1" class="filter" readonly="readonly" onclick='displayDatePicker("Date[from]", false, "ymd", "-");' /> To: <input type="text" name="Date[to]" id="Date[to]" value="2020-02-27 12:20:41" sql="t.f_ended_stamp" skipSelect="" external="1" class="filter" readonly="readonly" onclick='displayDatePicker("Date[to]", false, "ymd", "-");' />
                    </div>

                    <div class="form-group" style="margin: 10px;">
                        <a href="#" class="btn btn-default" onclick="listing.filter(); return false;">Apply Filter</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="box-body">
                <div id="dynamicContent">





                    <div class="custom-dropdown-menu" id="columnsControls">
                    </div>

                    <table id='fraud-player-games' class="listing-table" data-dt-not-fixed-cols="true">
                        <thead class="listHead">
                            <tr>
                                <th data-meta-skip-manage='true'>
                                    <div>
                                        <button type="button" class="btn btn-primary custom-dropdown" id="columnControlsBtn">
                                            <img src="img/icons/menu.svg" alt="+">
                                        </button>
                                    </div>
                                </th>
                                <th data-meta-key='f_id'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_id"
                                           orderType="DESC">
                                            Game Id
                                            <img src="img/arrow_up.png" />
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_table_id'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_table_id"
                                           orderType="">
                                            Table
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_started_stamp'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_started_stamp"
                                           orderType="">
                                            Started At
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_ended_stamp'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_ended_stamp"
                                           orderType="">
                                            Ended At
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='players_num'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="players_num"
                                           orderType="">
                                            Num. Of Players
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_num_seats'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_num_seats"
                                           orderType="">
                                            Seats Total
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_game_type'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_game_type"
                                           orderType="">
                                            Game Type
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_pot_type'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_pot_type"
                                           orderType="">
                                            Pot Type
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_stakes'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_stakes"
                                           orderType="">
                                            Stakes
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_pot'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_pot"
                                           orderType="">
                                            Pot Size
                                        </a>
                                    </nobr>
                                </th>
                            </tr>
                            <tr class="listFilter">
                                <th>

                                    <button name="butFilter" id="butFilter" type="button">Apply Filter</button>

                                    <button name="butReset" id="butReset" type="button">Reset Filter</button>
                                </th>
                                <th>
                                    <input type="text" name="f_id" id="f_id" value="" filter="1" controller="game" action="view" sql="g.f_id" orderable="1" nonHtml="" style="width:50px;" class="filter" />
                                </th>
                                <th>
                                    <input type="text" name="f_table_id" id="f_table_id" value="" filter="1" sql="g.f_table_id" orderable="1" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    From: <input type="text" name="f_started_stamp[from]" id="f_started_stamp[from]" value="" filter="1" sql="g.f_started_stamp" orderable="1" nonHtml="" class="filter" readonly="readonly" onclick='displayDatePicker("f_started_stamp[from]", false, "ymd", "-");' /> To: <input type="text" name="f_started_stamp[to]" id="f_started_stamp[to]" value="" filter="1" sql="g.f_started_stamp" orderable="1" nonHtml="" class="filter" readonly="readonly" onclick='displayDatePicker("f_started_stamp[to]", false, "ymd", "-");' />
                                </th>
                                <th>
                                    From: <input type="text" name="f_ended_stamp[from]" id="f_ended_stamp[from]" value="" filter="1" sql="g.f_started_stamp" orderable="1" nonHtml="" class="filter" readonly="readonly" onclick='displayDatePicker("f_ended_stamp[from]", false, "ymd", "-");' /> To: <input type="text" name="f_ended_stamp[to]" id="f_ended_stamp[to]" value="" filter="1" sql="g.f_started_stamp" orderable="1" nonHtml="" class="filter" readonly="readonly" onclick='displayDatePicker("f_ended_stamp[to]", false, "ymd", "-");' />
                                </th>
                                <th>
                                    <input type="text" name="players_num" id="players_num" value="" filter="1" sql="(SELECT COUNT(f_player_id) FROM t_participation WHERE f_game_id=p.f_game_id)" orderable="1" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <input type="text" name="f_num_seats" id="f_num_seats" value="" filter="1" sql="t.f_num_seats" orderable="1" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <select name="f_game_type" id="f_game_type" filter="1" sql="t.f_game_type" orderable="1" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="72">Hold'em</option>
                                        <option value="54">Short Deck Hold'em</option>
                                        <option value="79">Omaha</option>
                                        <option value="80">Omaha H/L</option>
                                        <option value="83">Stud</option>
                                        <option value="84">Stud H/L</option>
                                        <option value="82">Razz</option>
                                        <option value="68">2-7 Triple Draw</option>
                                        <option value="66">Badugi</option>
                                        <option value="69">Badeucy</option>
                                        <option value="67">Badacey</option>
                                        <option value="78">Chinese</option>
                                        <option value="70">Openface Chinese</option>
                                        <option value="73">Chinese Pineapple</option>
                                        <option value="76">Chinese 2-7 Pineapple</option>
                                        <option value="85">Chinese Turbo</option>
                                        <option value="77">Chinese OF Pineapple Progressive</option>
                                        <option value="88">Omaha 5 card</option>
                                        <option value="71">Omaha 5 card H/L</option>
                                        <option value="89">Courchevel</option>
                                        <option value="74">Pineapple Poker</option>
                                        <option value="35">Mixed Games</option>
                                        <option value="75">Turkish</option>
                                        <option value="81">5 Card Draw 7-A</option>
                                        <option value="65">Points Rummy</option>
                                        <option value="86">Deals Rummy</option>
                                        <option value="87">Pool Rummy</option>
                                        <option value="90">Triton ShortDeck</option>
                                        <option value="91">Omaha 6 card</option>
                                        <option value="93">Omaha 6 card H/L</option>
                                    </select>
                                </th>
                                <th>
                                    <select name="f_pot_type" id="f_pot_type" filter="1" sql="t.f_pot_type" orderable="1" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="70">Fixed Limit</option>
                                        <option value="85">No Limit</option>
                                        <option value="80">Pot Limit</option>
                                    </select>
                                </th>
                                <th>
                                    <input type="text" name="f_stakes" id="f_stakes" value="" style="width: 80px" filter="1" sql="CONCAT(f_small_blind, '/', t.f_big_blind)" orderable="1" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <input type="text" name="f_pot" id="f_pot" value="" filter="1" sql="p.f_pot" orderable="1" nonHtml="" class="filter" />
                                </th>

                            </tr>
                        </thead>

                    </table>



                </div>
            </div>
        </div>
    </div>
</div>