﻿
@{
    ViewBag.Title = "GameInfo";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Game Info</h3>
<table class="viewing-table" width="100%">
    <tbody>
        <tr>
            <th>ID:</th>
            <td>

                <a href="/webadmin/game/view/id/5027988">
                    &lt;&lt;
                </a> &nbsp;

                <a href="/webadmin/game/view/id/5027993">
                    &lt;
                </a> &nbsp;
                5027994 &nbsp;

            </td>
        </tr>
        <tr>
            <th>Table:</th>
            <td>
                <a href="/webadmin/table/info/id/4629786">Kentucky (4629786)</a>

            </td>
        </tr>
        <tr>
            <th>Started:</th>
            <td>
                2020/02/27 03:24:36

            </td>
        </tr>
        <tr>
            <th>Ended:</th>
            <td>
                2020/02/27 03:24:40

            </td>
        </tr>
        <tr>
            <th>Cards:</th>
            <td>
            </td>
        </tr>
        <tr>
            <th>Type:</th>
            <td>
                Omaha

            </td>
        </tr>
        <tr>
            <th>Cards lower:</th>
            <td>
            </td>
        </tr>
        <tr>
            <th>Rake:</th>
            <td>
                0.00

            </td>
        </tr>
        <tr>
            <th>Participants:</th>
            <td>
                <table class="inner-table">
                    <tr>
                        <th style="padding: 2px 5px;">id</th>
                        <th style="padding: 2px 5px;">Player</th>
                        <th style="padding: 2px 5px;">Stack at Hand End</th>
                        <th style="padding: 2px 5px;">Table</th>
                        <th style="padding: 2px 5px;">Cards</th>
                        <th style="padding: 2px 5px;">Bet</th>
                        <th style="padding: 2px 5px;">Pot</th>
                        <th style="padding: 2px 5px;">Is Out</th>
                        <th style="padding: 2px 5px;">Out Round</th>
                        <th style="padding: 2px 5px;">Is Win</th>
                        <th style="padding: 2px 5px;">Rake + Jackpot</th>
                        <th style="padding: 2px 5px;">High Combination</th>
                        <th style="padding: 2px 5px;">Low Combination</th>
                        <th style="padding: 2px 5px;">IP</th>
                        <th style="padding: 2px 5px;">Mac Address</th>
                    </tr>
                    <tr class="odd">
                        <td style="padding: 2px 5px;">
                            3253615
                        </td>
                        <td style="padding: 2px 5px;">
                            <a href="/webadmin/user/info/id/5131823">JohnyD</a>
                        </td>
                        <td style="padding: 2px 5px;">
                            84.00
                        </td>
                        <td style="padding: 2px 5px;">
                            <a href="/webadmin/table/info/id/4629786">Kentucky (4629786)</a>
                        </td>
                        <td style="padding: 2px 5px;">
                        </td>
                        <td style="padding: 2px 5px;">
                            0.00
                        </td>
                        <td style="padding: 2px 5px;">
                            0.00
                        </td>
                        <td style="padding: 2px 5px;">
                            No
                        </td>
                        <td style="padding: 2px 5px;">
                            0
                        </td>
                        <td style="padding: 2px 5px;">
                            No
                        </td>
                        <td style="padding: 2px 5px;">
                            0.00
                        </td>
                        <td style="padding: 2px 5px;">
                        </td>
                        <td style="padding: 2px 5px;">
                        </td>
                        <td style="padding: 2px 5px;">
                            78.109.139.161
                        </td>
                        <td style="padding: 2px 5px;">
                        </td>
                    </tr>
                    <tr class="even">
                        <td style="padding: 2px 5px;">
                            3253616
                        </td>
                        <td style="padding: 2px 5px;">
                            <a href="/webadmin/user/info/id/5126947">Rihana</a>
                        </td>
                        <td style="padding: 2px 5px;">
                            210.75
                        </td>
                        <td style="padding: 2px 5px;">
                            <a href="/webadmin/table/info/id/4629786">Kentucky (4629786)</a>
                        </td>
                        <td style="padding: 2px 5px;">
                        </td>
                        <td style="padding: 2px 5px;">
                            0.00
                        </td>
                        <td style="padding: 2px 5px;">
                            0.00
                        </td>
                        <td style="padding: 2px 5px;">
                            Yes
                        </td>
                        <td style="padding: 2px 5px;">
                            0
                        </td>
                        <td style="padding: 2px 5px;">
                            No
                        </td>
                        <td style="padding: 2px 5px;">
                            0.00
                        </td>
                        <td style="padding: 2px 5px;">
                        </td>
                        <td style="padding: 2px 5px;">
                        </td>
                        <td style="padding: 2px 5px;">
                            78.109.139.161
                        </td>
                        <td style="padding: 2px 5px;">
                        </td>
                    </tr>
                </table>


            </td>
        </tr>
        <tr>
            <th>Insurance:</th>
            <td>
                -


            </td>
        </tr>
        <tr>
            <th>Insurance Result:</th>
            <td>
                -


            </td>
        </tr>
    </tbody>
</table>
<br />

<div><a href="#" class="btn btn-primary" onclick="PokerGameReplay.replay(5027994);return false">Replay</a></div>
<div class="modal fade bs-example-modal-lg" id="pokerGameReplayDialog" tabindex="-1" role="dialog" aria-labelledby="blockDialogLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Replay</h4>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<h4>Hand History</h4>
<pre>Game #5027994 began
Players:
JohnyD on place #1
Rihana on place #3</pre>
<table class="viewing-table">
    <tr>
        <th>Second</th>
        <th>Action</th>
    </tr>
    <tr>
        <td>0</td>
        <td>Player JohnyD plays at seat 1 with 84.00</td>
    </tr>
    <tr>
        <td>0</td>
        <td>Player Rihana plays at seat 3 with 210.75</td>
    </tr>
    <tr>
        <td>0</td>
        <td>Dealer change (Rihana JohnyD Rihana)</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Player Rihana sits out</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Dealer change (Rihana - -)</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Player Rihana sits out</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Player JohnyD shows cards (Done  automatically)</td>
    </tr>
</table>
