﻿
@{
    ViewBag.Title = "GameList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h3>Game List</h3>

<div class="modal fade bs-example-modal-lg" id="pokerGameReplayDialog" tabindex="-1" role="dialog" aria-labelledby="blockDialogLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Replay</h4>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
        </div>
        <div class="box">
            <div class="box-body">
                <div id="dynamicContent">
                  <div class="custom-dropdown-menu" id="columnsControls">
                    </div>

                    <table id='tableGames' class="listing-table" data-dt-not-fixed-cols="true">
                        <thead class="listHead">
                            <tr>
                                <th data-meta-skip-manage='true'>
                                    <div>
                                        <button type="button" class="btn btn-primary custom-dropdown" id="columnControlsBtn">
                                            <img src="~/Assest/img/menu.svg" />
                                        </button>
                                    </div>
                                </th>
                                <th data-meta-key='f_id'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_id"
                                           orderType="">
                                            Id
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_table_id'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_table_id"
                                           orderType="">
                                            Table
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_rake'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_rake"
                                           orderType="">
                                            Rake
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_started_stamp'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_started_stamp"
                                           orderType="ASC">
                                            Started Stamp
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_ended_stamp'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_ended_stamp"
                                           orderType="">
                                            Ended Stamp
                                        </a>
                                    </nobr>
                                </th>
                            </tr>
                            <tr class="listFilter">
                                <th>

                                    <button name="butFilter" id="butFilter" type="button">Apply Filter</button>

                                    <button name="butReset" id="butReset" type="button">Reset Filter</button>
                                </th>
                                <th>
                                    <input type="text" name="f_id" id="f_id" value="" controller="game" action="view" filter="1" sql="g.f_id" orderable="1" nonHtml="" style="width:50px;" class="filter" />
                                </th>
                                <th>
                                    <input type="text" name="f_table_id" id="f_table_id" value="" filter="1" sql="g.f_table_id" sql_name="t.f_name" style="width: 300px" orderable="1" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <input type="text" name="f_rake" id="f_rake" value="" filter="1" style="width: 60px" sql="g.f_rake" orderable="1" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    From: <input type="text" name="f_started_stamp[from]" id="f_started_stamp[from]" value="" sql="g.f_started_stamp" filter="1" style="width: 120px" orderable="1" nonHtml="" class="filter" readonly="readonly" onclick='displayDatePicker("f_started_stamp[from]", false, "ymd", "-");' /> To: <input type="text" name="f_started_stamp[to]" id="f_started_stamp[to]" value="" sql="g.f_started_stamp" filter="1" style="width: 120px" orderable="1" nonHtml="" class="filter" readonly="readonly" onclick='displayDatePicker("f_started_stamp[to]", false, "ymd", "-");' />
                                </th>
                                <th>
                                    From: <input type="text" name="f_ended_stamp[from]" id="f_ended_stamp[from]" value="" sql="g.f_ended_stamp" filter="1" style="width: 120px" orderable="1" nonHtml="" class="filter" readonly="readonly" onclick='displayDatePicker("f_ended_stamp[from]", false, "ymd", "-");' /> To: <input type="text" name="f_ended_stamp[to]" id="f_ended_stamp[to]" value="" sql="g.f_ended_stamp" filter="1" style="width: 120px" orderable="1" nonHtml="" class="filter" readonly="readonly" onclick='displayDatePicker("f_ended_stamp[to]", false, "ymd", "-");' />
                                </th>

                            </tr>
                        </thead>


                        <tr class="odd ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/game/replay/id/5027994" onClick='PokerGameReplay.replay(null, this.href); return false;'>
                                            <div class="fa fa-play" id="fa-fa-play-5027994"></div>Replay
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href="/webadmin/game/view/id/5027994">
                                    5027994
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/table/info/id/4629786">Kentucky (4629786)</a></td>
                            <td>0.00</td>
                            <td>2020/02/27 03:24:36</td>
                            <td>2020/02/27 03:24:40</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/game/replay/id/5027993" onClick='PokerGameReplay.replay(null, this.href); return false;'>
                                            <div class="fa fa-play" id="fa-fa-play-5027993"></div>Replay
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href="/webadmin/game/view/id/5027993">
                                    5027993
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/table/info/id/4629786">Kentucky (4629786)</a></td>
                            <td>3.25</td>
                            <td>2020/02/27 03:23:52</td>
                            <td>2020/02/27 03:24:33</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/game/replay/id/5027992" onClick='PokerGameReplay.replay(null, this.href); return false;'>
                                            <div class="fa fa-play" id="fa-fa-play-5027992"></div>Replay
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href="/webadmin/game/view/id/5027992">
                                    5027992
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/table/info/id/4629786">Kentucky (4629786)</a></td>
                            <td>0.50</td>
                            <td>2020/02/27 03:23:21</td>
                            <td>2020/02/27 03:23:47</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/game/replay/id/5027991" onClick='PokerGameReplay.replay(null, this.href); return false;'>
                                            <div class="fa fa-play" id="fa-fa-play-5027991"></div>Replay
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href="/webadmin/game/view/id/5027991">
                                    5027991
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/table/info/id/4629786">Kentucky (4629786)</a></td>
                            <td>1.00</td>
                            <td>2020/02/27 03:22:32</td>
                            <td>2020/02/27 03:23:17</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/game/replay/id/5027990" onClick='PokerGameReplay.replay(null, this.href); return false;'>
                                            <div class="fa fa-play" id="fa-fa-play-5027990"></div>Replay
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href="/webadmin/game/view/id/5027990">
                                    5027990
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/table/info/id/4629786">Kentucky (4629786)</a></td>
                            <td>0.00</td>
                            <td>2020/02/27 03:21:44</td>
                            <td>2020/02/27 03:22:13</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/game/replay/id/5027989" onClick='PokerGameReplay.replay(null, this.href); return false;'>
                                            <div class="fa fa-play" id="fa-fa-play-5027989"></div>Replay
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href="/webadmin/game/view/id/5027989">
                                    5027989
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/table/info/id/4629786">Kentucky (4629786)</a></td>
                            <td>0.50</td>
                            <td>2020/02/27 03:21:08</td>
                            <td>2020/02/27 03:21:40</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/game/replay/id/5027988" onClick='PokerGameReplay.replay(null, this.href); return false;'>
                                            <div class="fa fa-play" id="fa-fa-play-5027988"></div>Replay
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href="/webadmin/game/view/id/5027988">
                                    5027988
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/table/info/id/4629786">Kentucky (4629786)</a></td>
                            <td>0.00</td>
                            <td>2020/02/27 03:20:58</td>
                            <td>2020/02/27 03:21:04</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/game/replay/id/4908573" onClick='PokerGameReplay.replay(null, this.href); return false;'>
                                            <div class="fa fa-play" id="fa-fa-play-4908573"></div>Replay
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href="/webadmin/game/view/id/4908573">
                                    4908573
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/table/info/id/4890269">The Big Freeze [Re-entry] (4890269)</a></td>
                            <td>0.00</td>
                            <td>2020/02/01 06:12:18</td>
                            <td>2020/02/01 06:12:37</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/game/replay/id/4908572" onClick='PokerGameReplay.replay(null, this.href); return false;'>
                                            <div class="fa fa-play" id="fa-fa-play-4908572"></div>Replay
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href="/webadmin/game/view/id/4908572">
                                    4908572
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/table/info/id/4890269">The Big Freeze [Re-entry] (4890269)</a></td>
                            <td>0.00</td>
                            <td>2020/02/01 06:11:53</td>
                            <td>2020/02/01 06:12:12</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/game/replay/id/4908571" onClick='PokerGameReplay.replay(null, this.href); return false;'>
                                            <div class="fa fa-play" id="fa-fa-play-4908571"></div>Replay
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href="/webadmin/game/view/id/4908571">
                                    4908571
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/table/info/id/4890269">The Big Freeze [Re-entry] (4890269)</a></td>
                            <td>0.00</td>
                            <td>2020/02/01 06:11:39</td>
                            <td>2020/02/01 06:11:47</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/game/replay/id/4908570" onClick='PokerGameReplay.replay(null, this.href); return false;'>
                                            <div class="fa fa-play" id="fa-fa-play-4908570"></div>Replay
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href="/webadmin/game/view/id/4908570">
                                    4908570
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/table/info/id/4890269">The Big Freeze [Re-entry] (4890269)</a></td>
                            <td>0.00</td>
                            <td>2020/02/01 06:11:14</td>
                            <td>2020/02/01 06:11:33</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/game/replay/id/4908569" onClick='PokerGameReplay.replay(null, this.href); return false;'>
                                            <div class="fa fa-play" id="fa-fa-play-4908569"></div>Replay
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href="/webadmin/game/view/id/4908569">
                                    4908569
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/table/info/id/4890269">The Big Freeze [Re-entry] (4890269)</a></td>
                            <td>0.00</td>
                            <td>2020/02/01 06:10:43</td>
                            <td>2020/02/01 06:11:08</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/game/replay/id/4908568" onClick='PokerGameReplay.replay(null, this.href); return false;'>
                                            <div class="fa fa-play" id="fa-fa-play-4908568"></div>Replay
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href="/webadmin/game/view/id/4908568">
                                    4908568
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/table/info/id/4890269">The Big Freeze [Re-entry] (4890269)</a></td>
                            <td>0.00</td>
                            <td>2020/02/01 06:10:02</td>
                            <td>2020/02/01 06:10:37</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/game/replay/id/4908567" onClick='PokerGameReplay.replay(null, this.href); return false;'>
                                            <div class="fa fa-play" id="fa-fa-play-4908567"></div>Replay
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href="/webadmin/game/view/id/4908567">
                                    4908567
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/table/info/id/4890269">The Big Freeze [Re-entry] (4890269)</a></td>
                            <td>0.00</td>
                            <td>2020/02/01 06:09:48</td>
                            <td>2020/02/01 06:09:56</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/game/replay/id/4908566" onClick='PokerGameReplay.replay(null, this.href); return false;'>
                                            <div class="fa fa-play" id="fa-fa-play-4908566"></div>Replay
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href="/webadmin/game/view/id/4908566">
                                    4908566
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/table/info/id/4890269">The Big Freeze [Re-entry] (4890269)</a></td>
                            <td>0.00</td>
                            <td>2020/02/01 06:09:35</td>
                            <td>2020/02/01 06:09:42</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/game/replay/id/4908565" onClick='PokerGameReplay.replay(null, this.href); return false;'>
                                            <div class="fa fa-play" id="fa-fa-play-4908565"></div>Replay
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href="/webadmin/game/view/id/4908565">
                                    4908565
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/table/info/id/4890269">The Big Freeze [Re-entry] (4890269)</a></td>
                            <td>0.00</td>
                            <td>2020/02/01 06:09:18</td>
                            <td>2020/02/01 06:09:29</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/game/replay/id/4908564" onClick='PokerGameReplay.replay(null, this.href); return false;'>
                                            <div class="fa fa-play" id="fa-fa-play-4908564"></div>Replay
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href="/webadmin/game/view/id/4908564">
                                    4908564
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/table/info/id/4890269">The Big Freeze [Re-entry] (4890269)</a></td>
                            <td>0.00</td>
                            <td>2020/02/01 06:08:52</td>
                            <td>2020/02/01 06:09:12</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/game/replay/id/4908563" onClick='PokerGameReplay.replay(null, this.href); return false;'>
                                            <div class="fa fa-play" id="fa-fa-play-4908563"></div>Replay
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href="/webadmin/game/view/id/4908563">
                                    4908563
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/table/info/id/4890269">The Big Freeze [Re-entry] (4890269)</a></td>
                            <td>0.00</td>
                            <td>2020/02/01 06:08:33</td>
                            <td>2020/02/01 06:08:46</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/game/replay/id/4908562" onClick='PokerGameReplay.replay(null, this.href); return false;'>
                                            <div class="fa fa-play" id="fa-fa-play-4908562"></div>Replay
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href="/webadmin/game/view/id/4908562">
                                    4908562
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/table/info/id/4890269">The Big Freeze [Re-entry] (4890269)</a></td>
                            <td>0.00</td>
                            <td>2020/02/01 06:08:08</td>
                            <td>2020/02/01 06:08:27</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/game/replay/id/4908561" onClick='PokerGameReplay.replay(null, this.href); return false;'>
                                            <div class="fa fa-play" id="fa-fa-play-4908561"></div>Replay
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href="/webadmin/game/view/id/4908561">
                                    4908561
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/table/info/id/4890269">The Big Freeze [Re-entry] (4890269)</a></td>
                            <td>0.00</td>
                            <td>2020/02/01 06:07:51</td>
                            <td>2020/02/01 06:08:02</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/game/replay/id/4908560" onClick='PokerGameReplay.replay(null, this.href); return false;'>
                                            <div class="fa fa-play" id="fa-fa-play-4908560"></div>Replay
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href="/webadmin/game/view/id/4908560">
                                    4908560
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/table/info/id/4890269">The Big Freeze [Re-entry] (4890269)</a></td>
                            <td>0.00</td>
                            <td>2020/02/01 06:07:23</td>
                            <td>2020/02/01 06:07:45</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/game/replay/id/4908559" onClick='PokerGameReplay.replay(null, this.href); return false;'>
                                            <div class="fa fa-play" id="fa-fa-play-4908559"></div>Replay
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href="/webadmin/game/view/id/4908559">
                                    4908559
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/table/info/id/4890269">The Big Freeze [Re-entry] (4890269)</a></td>
                            <td>0.00</td>
                            <td>2020/02/01 06:06:56</td>
                            <td>2020/02/01 06:07:17</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/game/replay/id/4908558" onClick='PokerGameReplay.replay(null, this.href); return false;'>
                                            <div class="fa fa-play" id="fa-fa-play-4908558"></div>Replay
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href="/webadmin/game/view/id/4908558">
                                    4908558
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/table/info/id/4890269">The Big Freeze [Re-entry] (4890269)</a></td>
                            <td>0.00</td>
                            <td>2020/02/01 06:06:26</td>
                            <td>2020/02/01 06:06:50</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/game/replay/id/4908557" onClick='PokerGameReplay.replay(null, this.href); return false;'>
                                            <div class="fa fa-play" id="fa-fa-play-4908557"></div>Replay
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href="/webadmin/game/view/id/4908557">
                                    4908557
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/table/info/id/4890269">The Big Freeze [Re-entry] (4890269)</a></td>
                            <td>0.00</td>
                            <td>2020/02/01 06:06:10</td>
                            <td>2020/02/01 06:06:20</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/game/replay/id/4908556" onClick='PokerGameReplay.replay(null, this.href); return false;'>
                                            <div class="fa fa-play" id="fa-fa-play-4908556"></div>Replay
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href="/webadmin/game/view/id/4908556">
                                    4908556
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/table/info/id/4890269">The Big Freeze [Re-entry] (4890269)</a></td>
                            <td>0.00</td>
                            <td>2020/02/01 06:05:41</td>
                            <td>2020/02/01 06:06:04</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/game/replay/id/4908555" onClick='PokerGameReplay.replay(null, this.href); return false;'>
                                            <div class="fa fa-play" id="fa-fa-play-4908555"></div>Replay
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href="/webadmin/game/view/id/4908555">
                                    4908555
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/table/info/id/4890269">The Big Freeze [Re-entry] (4890269)</a></td>
                            <td>0.00</td>
                            <td>2020/02/01 06:05:29</td>
                            <td>2020/02/01 06:05:35</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/game/replay/id/4908554" onClick='PokerGameReplay.replay(null, this.href); return false;'>
                                            <div class="fa fa-play" id="fa-fa-play-4908554"></div>Replay
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href="/webadmin/game/view/id/4908554">
                                    4908554
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/table/info/id/4890269">The Big Freeze [Re-entry] (4890269)</a></td>
                            <td>0.00</td>
                            <td>2020/02/01 06:05:15</td>
                            <td>2020/02/01 06:05:23</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/game/replay/id/4908553" onClick='PokerGameReplay.replay(null, this.href); return false;'>
                                            <div class="fa fa-play" id="fa-fa-play-4908553"></div>Replay
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href="/webadmin/game/view/id/4908553">
                                    4908553
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/table/info/id/4890269">The Big Freeze [Re-entry] (4890269)</a></td>
                            <td>0.00</td>
                            <td>2020/02/01 06:05:03</td>
                            <td>2020/02/01 06:05:09</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/game/replay/id/4908552" onClick='PokerGameReplay.replay(null, this.href); return false;'>
                                            <div class="fa fa-play" id="fa-fa-play-4908552"></div>Replay
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href="/webadmin/game/view/id/4908552">
                                    4908552
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/table/info/id/4890269">The Big Freeze [Re-entry] (4890269)</a></td>
                            <td>0.00</td>
                            <td>2020/02/01 06:04:48</td>
                            <td>2020/02/01 06:04:57</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/game/replay/id/4908551" onClick='PokerGameReplay.replay(null, this.href); return false;'>
                                            <div class="fa fa-play" id="fa-fa-play-4908551"></div>Replay
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href="/webadmin/game/view/id/4908551">
                                    4908551
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/table/info/id/4890269">The Big Freeze [Re-entry] (4890269)</a></td>
                            <td>0.00</td>
                            <td>2020/02/01 06:04:35</td>
                            <td>2020/02/01 06:04:42</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/game/replay/id/4908550" onClick='PokerGameReplay.replay(null, this.href); return false;'>
                                            <div class="fa fa-play" id="fa-fa-play-4908550"></div>Replay
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href="/webadmin/game/view/id/4908550">
                                    4908550
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/table/info/id/4890269">The Big Freeze [Re-entry] (4890269)</a></td>
                            <td>0.00</td>
                            <td>2020/02/01 06:04:20</td>
                            <td>2020/02/01 06:04:29</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/game/replay/id/4908549" onClick='PokerGameReplay.replay(null, this.href); return false;'>
                                            <div class="fa fa-play" id="fa-fa-play-4908549"></div>Replay
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href="/webadmin/game/view/id/4908549">
                                    4908549
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/table/info/id/4890269">The Big Freeze [Re-entry] (4890269)</a></td>
                            <td>0.00</td>
                            <td>2020/02/01 06:04:08</td>
                            <td>2020/02/01 06:04:14</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/game/replay/id/4908548" onClick='PokerGameReplay.replay(null, this.href); return false;'>
                                            <div class="fa fa-play" id="fa-fa-play-4908548"></div>Replay
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href="/webadmin/game/view/id/4908548">
                                    4908548
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/table/info/id/4890269">The Big Freeze [Re-entry] (4890269)</a></td>
                            <td>0.00</td>
                            <td>2020/02/01 06:03:53</td>
                            <td>2020/02/01 06:04:02</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/game/replay/id/4908547" onClick='PokerGameReplay.replay(null, this.href); return false;'>
                                            <div class="fa fa-play" id="fa-fa-play-4908547"></div>Replay
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href="/webadmin/game/view/id/4908547">
                                    4908547
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/table/info/id/4890269">The Big Freeze [Re-entry] (4890269)</a></td>
                            <td>0.00</td>
                            <td>2020/02/01 06:03:41</td>
                            <td>2020/02/01 06:03:47</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/game/replay/id/4908546" onClick='PokerGameReplay.replay(null, this.href); return false;'>
                                            <div class="fa fa-play" id="fa-fa-play-4908546"></div>Replay
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href="/webadmin/game/view/id/4908546">
                                    4908546
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/table/info/id/4890269">The Big Freeze [Re-entry] (4890269)</a></td>
                            <td>0.00</td>
                            <td>2020/02/01 06:03:24</td>
                            <td>2020/02/01 06:03:34</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/game/replay/id/4908545" onClick='PokerGameReplay.replay(null, this.href); return false;'>
                                            <div class="fa fa-play" id="fa-fa-play-4908545"></div>Replay
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href="/webadmin/game/view/id/4908545">
                                    4908545
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/table/info/id/4890269">The Big Freeze [Re-entry] (4890269)</a></td>
                            <td>0.00</td>
                            <td>2020/02/01 06:03:12</td>
                            <td>2020/02/01 06:03:18</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/game/replay/id/4908544" onClick='PokerGameReplay.replay(null, this.href); return false;'>
                                            <div class="fa fa-play" id="fa-fa-play-4908544"></div>Replay
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href="/webadmin/game/view/id/4908544">
                                    4908544
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/table/info/id/4890269">The Big Freeze [Re-entry] (4890269)</a></td>
                            <td>0.00</td>
                            <td>2020/02/01 06:02:45</td>
                            <td>2020/02/01 06:03:06</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/game/replay/id/4908543" onClick='PokerGameReplay.replay(null, this.href); return false;'>
                                            <div class="fa fa-play" id="fa-fa-play-4908543"></div>Replay
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href="/webadmin/game/view/id/4908543">
                                    4908543
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/table/info/id/4890269">The Big Freeze [Re-entry] (4890269)</a></td>
                            <td>0.00</td>
                            <td>2020/02/01 06:02:15</td>
                            <td>2020/02/01 06:02:39</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/game/replay/id/4908542" onClick='PokerGameReplay.replay(null, this.href); return false;'>
                                            <div class="fa fa-play" id="fa-fa-play-4908542"></div>Replay
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href="/webadmin/game/view/id/4908542">
                                    4908542
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/table/info/id/4586257">Andorra #1 (4586257)</a></td>
                            <td>0.00</td>
                            <td>2020/02/01 06:01:06</td>
                            <td>2020/02/01 06:01:07</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/game/replay/id/4908541" onClick='PokerGameReplay.replay(null, this.href); return false;'>
                                            <div class="fa fa-play" id="fa-fa-play-4908541"></div>Replay
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href="/webadmin/game/view/id/4908541">
                                    4908541
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/table/info/id/4890269">The Big Freeze [Re-entry] (4890269)</a></td>
                            <td>0.00</td>
                            <td>2020/02/01 06:00:32</td>
                            <td>2020/02/01 06:02:09</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/game/replay/id/4908540" onClick='PokerGameReplay.replay(null, this.href); return false;'>
                                            <div class="fa fa-play" id="fa-fa-play-4908540"></div>Replay
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href="/webadmin/game/view/id/4908540">
                                    4908540
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/table/info/id/4586257">Andorra #1 (4586257)</a></td>
                            <td>0.00</td>
                            <td>2020/02/01 06:00:10</td>
                            <td>2020/02/01 06:01:00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/game/replay/id/4908539" onClick='PokerGameReplay.replay(null, this.href); return false;'>
                                            <div class="fa fa-play" id="fa-fa-play-4908539"></div>Replay
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href="/webadmin/game/view/id/4908539">
                                    4908539
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/table/info/id/4586257">Andorra #1 (4586257)</a></td>
                            <td>0.01</td>
                            <td>2020/02/01 05:59:39</td>
                            <td>2020/02/01 06:00:04</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/game/replay/id/4908538" onClick='PokerGameReplay.replay(null, this.href); return false;'>
                                            <div class="fa fa-play" id="fa-fa-play-4908538"></div>Replay
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href="/webadmin/game/view/id/4908538">
                                    4908538
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/table/info/id/4586257">Andorra #1 (4586257)</a></td>
                            <td>0.00</td>
                            <td>2020/02/01 05:59:16</td>
                            <td>2020/02/01 05:59:33</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/game/replay/id/4908537" onClick='PokerGameReplay.replay(null, this.href); return false;'>
                                            <div class="fa fa-play" id="fa-fa-play-4908537"></div>Replay
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href="/webadmin/game/view/id/4908537">
                                    4908537
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/table/info/id/4586257">Andorra #1 (4586257)</a></td>
                            <td>0.00</td>
                            <td>2020/02/01 05:58:32</td>
                            <td>2020/02/01 05:59:10</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/game/replay/id/4908536" onClick='PokerGameReplay.replay(null, this.href); return false;'>
                                            <div class="fa fa-play" id="fa-fa-play-4908536"></div>Replay
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href="/webadmin/game/view/id/4908536">
                                    4908536
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/table/info/id/4586257">Andorra #1 (4586257)</a></td>
                            <td>0.00</td>
                            <td>2020/02/01 05:58:21</td>
                            <td>2020/02/01 05:58:27</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/game/replay/id/4908535" onClick='PokerGameReplay.replay(null, this.href); return false;'>
                                            <div class="fa fa-play" id="fa-fa-play-4908535"></div>Replay
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href="/webadmin/game/view/id/4908535">
                                    4908535
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/table/info/id/4586257">Andorra #1 (4586257)</a></td>
                            <td>0.00</td>
                            <td>2020/02/01 05:57:50</td>
                            <td>2020/02/01 05:58:14</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/game/replay/id/4908534" onClick='PokerGameReplay.replay(null, this.href); return false;'>
                                            <div class="fa fa-play" id="fa-fa-play-4908534"></div>Replay
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href="/webadmin/game/view/id/4908534">
                                    4908534
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/table/info/id/4586257">Andorra #1 (4586257)</a></td>
                            <td>0.00</td>
                            <td>2020/02/01 05:57:37</td>
                            <td>2020/02/01 05:57:44</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/game/replay/id/4908533" onClick='PokerGameReplay.replay(null, this.href); return false;'>
                                            <div class="fa fa-play" id="fa-fa-play-4908533"></div>Replay
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href="/webadmin/game/view/id/4908533">
                                    4908533
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/table/info/id/4586257">Andorra #1 (4586257)</a></td>
                            <td>0.00</td>
                            <td>2020/02/01 05:57:20</td>
                            <td>2020/02/01 05:57:31</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/game/replay/id/4908532" onClick='PokerGameReplay.replay(null, this.href); return false;'>
                                            <div class="fa fa-play" id="fa-fa-play-4908532"></div>Replay
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href="/webadmin/game/view/id/4908532">
                                    4908532
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/table/info/id/4586257">Andorra #1 (4586257)</a></td>
                            <td>0.00</td>
                            <td>2020/02/01 05:56:58</td>
                            <td>2020/02/01 05:57:14</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/game/replay/id/4908531" onClick='PokerGameReplay.replay(null, this.href); return false;'>
                                            <div class="fa fa-play" id="fa-fa-play-4908531"></div>Replay
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href="/webadmin/game/view/id/4908531">
                                    4908531
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/table/info/id/4586257">Andorra #1 (4586257)</a></td>
                            <td>0.00</td>
                            <td>2020/02/01 05:56:46</td>
                            <td>2020/02/01 05:56:52</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->


                    </table>
                    <div class='rowCount'>
                        <div class="row">
                            <div class="col-md-3">
                                Rows: 691977&ensp;|&ensp;
                                <div class="limit-controls" style="display: inline-block;">
                                    <div id="perpage">Per page:</div>
                                    <select class="limit-links">
                                        <option data-href="/webadmin/listing/table-games/limit/10">10</option>
                                        <option data-href="/webadmin/listing/table-games/limit/25">25</option>
                                        <option selected data-href="/webadmin/listing/table-games/limit/50">50</option>
                                        <option data-href="/webadmin/listing/table-games/limit/100">100</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-7" style="display: flex; justify-content: center">
                                <div class="paginator-controls" id="blockPaginatorControls">
                                    <!-- First page link -->
                                    <div class="paginator-link">
                                        <span class="disabled">First</span>
                                    </div>
                                    <!-- Previous page link -->
                                    <div class="paginator-link">
                                        <span class="disabled">&lt; Previous</span>
                                    </div>
                                    <!-- Numbered page links -->
                                    <div class="paginator-link paginator-link_border">
                                        <span class="current">1</span>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/listing/table-games/page/2">2</a>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/listing/table-games/page/3">3</a>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/listing/table-games/page/4">4</a>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/listing/table-games/page/5">5</a>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/listing/table-games/page/6">6</a>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/listing/table-games/page/7">7</a>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/listing/table-games/page/8">8</a>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/listing/table-games/page/9">9</a>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/listing/table-games/page/10">10</a>
                                    </div>

                                    <!-- Next page link -->
                                    <div class="paginator-link">
                                        <a href="/webadmin/listing/table-games/page/2">Next &gt;</a>
                                    </div>
                                    <!-- Last page link -->
                                    <div class="paginator-link">
                                        <a href="/webadmin/listing/table-games/page/13840">Last</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="pull-right">
                                    <a href="/webadmin/listing/table-games/_output/xlsx"><img src="~/Assest/img/xls.svg" alt="Excel"></a>
                                    <a href="/webadmin/listing/table-games/_output/csv"><img src="~/Assest/img/csv.svg" alt="CSV"></a>
                                    <a href="/webadmin/listing/table-games/_output/ods"><img src="~/Assest/img/odt.svg" alt="OpenDocument" /></a>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>