﻿
@{
    ViewBag.Title = "GroupPlayerList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-xs-9"><h3>Groups List</h3></div>
    <div class="col-xs-3 text-right btn-container">
        <a href="~/Admin/User/Add/GroupPlayer" class="btn btn-primary">
            <i class="fa fa-plus"></i>&nbsp;Add
        </a>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
        </div>
        <div class="box">
            <div class="box-body">
                <div id="dynamicContent">
                    <div class="custom-dropdown-menu" id="columnsControls">
                    </div>

                    <table id='entity-groups-player' class="listing-table" data-dt-not-fixed-cols="true">
                        <thead class="listHead">
                            <tr>
                                <th data-meta-skip-manage='true'>
                                    <div>
                                        <button type="button" class="btn btn-primary custom-dropdown" id="columnControlsBtn">
                                            <img src="~/Assest/img/menu.svg" />
                                        </button>
                                    </div>
                                </th>
                                <th data-meta-key='f_id'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_id"
                                           orderType="DESC">
                                            Id
                                            <img src="~/Assest/img/arrow_up.png" />
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='name'
                                    data-meta-visibility="true">
                                    <nobr>
                                        Name
                                    </nobr>
                                </th>
                            </tr>
                            <tr class="listFilter">
                                <th>

                                    <button name="butFilter" id="butFilter" type="button">Apply Filter</button>

                                    <button name="butReset" id="butReset" type="button">Reset Filter</button>
                                </th>
                                <th>
                                    <input type="text" name="f_id" id="f_id" value="" filter="1" orderable="1" sql="f_id" nonHtml="" style="width:50px;" class="filter" />
                                </th>
                                <th>
                                    <input type="text" name="name" id="name" value="" filter="1" orderable="" sql="f_id" nonHtml="" class="filter" />
                                </th>

                            </tr>
                        </thead>


                        <tr class="odd ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="~/Admin/User/View/GroupPlayer">
                                            <div class="fa fa-eye" id="fa-fa-eye-1"></div>View
                                        </a>

                                        <a href="~/Admin/User/Edit/GroupPlayer">
                                            <div class="fa fa-pencil" id="fa-fa-pencil-1"></div>Edit
                                        </a>

                                        <a href="/webadmin/entity-groups/player/delete/id/1" onClick='return confirm("Are you sure?")'>
                                            <div class="fa fa-close" id="fa-fa-close-1"></div>Delete
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>1</td>
                            <td>Test Mail Group</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->


                    </table>
                    <div class='rowCount'>
                        <div class="row">
                            <div class="col-md-3">
                                Rows: 1&ensp;|&ensp;
                                <div class="limit-controls" style="display: inline-block;">
                                    <div id="perpage">Per page:</div>
                                    <select class="limit-links">
                                        <option data-href="/webadmin/entity-groups/player/list/limit/10">10</option>
                                        <option data-href="/webadmin/entity-groups/player/list/limit/25">25</option>
                                        <option selected data-href="/webadmin/entity-groups/player/list/limit/50">50</option>
                                        <option data-href="/webadmin/entity-groups/player/list/limit/100">100</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-7" style="display: flex; justify-content: center">
                                <div class="paginator-controls" id="blockPaginatorControls">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="pull-right">
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>

