﻿
@{
    ViewBag.Title = "GroupPlayerEdit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h3>Edit Entity Group</h3>

<div class="box box-primary">
    <form id="entity-group-form" enctype="application/x-www-form-urlencoded" action="" method="post" dojoType="dijit.form.Form">
        <div class="box-body">
            <div class="form-group" id="form-element-title">
                <label for="title" class="optional">Title</label>

                <input type="text" name="title" id="title" value="Test Mail Group" class="form-control" />
            </div>
            <dt id="type-label">&#160;</dt>
            <dd id="type-element">
                <input type="hidden" name="type" value="" id="type" />
            </dd>
            <div class="form-group" id="form-element-items">
                <label for="items" class="optional">Items</label>

                <select name="items[]" id="items" multiple="multiple" class="form-control select2">
                    <option value="937525" selected="selected">UJ55I1KK (937525)</option>
                    <option value="1252700" selected="selected">6K750F11 (1252700)</option>
                    <option value="1253019" selected="selected">5290N0YY (1253019)</option>
                </select>
            </div>
            <div class="form-group" id="form-element-query">
                <label for="query-builder" class="optional">Query</label>

<textarea name="query" id="query-builder" rows="4" style="display: none" class="form-control" cols="80"></textarea>
            </div>
            <div class="form-group" id="form-element-forceUpdate">
                <div class="checkbox">
                    <label>
                        <input type="hidden" name="forceUpdate" value="0" /><input type="checkbox" name="forceUpdate" id="forceUpdate" value="1" />Update Group Items After Saving
                    </label>
                </div>
            </div>

            <input type="submit" name="send" id="send" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>

