﻿
@{
    ViewBag.Title = "GroupPlayerView";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-xs-9"><h3>Entity Group: 'Test Mail Group'</h3></div>
    <div class="col-xs-3 text-right btn-container">
        <a href="/webadmin/entity-groups/player/edit/id/1"
           class="btn btn-primary">
            <i class="fa fa-pencil"></i> Edit
        </a>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
        </div>
        <div class="box">
            <div class="box-body">
                <div id="dynamicContent">
                    <div class="custom-dropdown-menu" id="columnsControls">
                    </div>

                    <table id='player' class="listing-table" data-dt-not-fixed-cols="true">
                        <thead class="listHead">
                            <tr>
                                <th data-meta-skip-manage='true'>
                                    <div>
                                        <button type="button" class="btn btn-primary custom-dropdown" id="columnControlsBtn">
                                            <img src="~/Assest/img/menu.svg" />
                                        </button>
                                    </div>
                                </th>
                                <th data-meta-key='item_id'
                                    data-meta-visibility="true">
                                    <nobr>
                                        Item
                                    </nobr>
                                </th>
                            </tr>
                            <tr class="listFilter">
                                <th>

                                    <button name="butFilter" id="butFilter" type="button">Apply Filter</button>

                                    <button name="butReset" id="butReset" type="button">Reset Filter</button>
                                </th>
                                <th>
                                    <input type="text" name="item_id" id="item_id" value="" filter="1" orderable="" sql="i.f_item_id" nonHtml="" class="filter" />
                                </th>

                            </tr>
                        </thead>


                        <tr class="odd ">
                            <td></td>
                            <td><a href="/webadmin/user/info/id/937525">UJ55I1KK</a></td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td></td>
                            <td><a href="/webadmin/user/info/id/1252700">6K750F11</a></td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td></td>
                            <td><a href="/webadmin/user/info/id/1253019">5290N0YY</a></td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->


                    </table>
                    <div class='rowCount'>
                        <div class="row">
                            <div class="col-md-3">
                                Rows: 3&ensp;|&ensp;
                                <div class="limit-controls" style="display: inline-block;">
                                    <div id="perpage">Per page:</div>
                                    <select class="limit-links">
                                        <option data-href="/webadmin/entity-groups/player/view/id/1/limit/10">10</option>
                                        <option data-href="/webadmin/entity-groups/player/view/id/1/limit/25">25</option>
                                        <option selected data-href="/webadmin/entity-groups/player/view/id/1/limit/50">50</option>
                                        <option data-href="/webadmin/entity-groups/player/view/id/1/limit/100">100</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-7" style="display: flex; justify-content: center">
                                <div class="paginator-controls" id="blockPaginatorControls">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="pull-right">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

