﻿
@{
    ViewBag.Title = "GroupPlayerAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h3>Add Entity Group</h3>

<div class="box box-primary">
    <div id="entity-group-form" enctype="application/x-www-form-urlencoded" action=""  dojoType="dijit.form.Form">
        <div class="box-body">
            <div class="form-group" id="form-element-title">
                <label for="title" class="optional">Title</label>

                <input type="text" name="title" id="title" value="" class="form-control" />
            </div>
            <div class="form-group" id="form-element-type">
                <label for="type" class="optional">Type</label>

                <select name="type" id="type" class="form-control select2">
                    <option value="">Simple</option>
                    <option value="ac">Assertions Chain</option>
                </select>
            </div>
            <div class="form-group" id="form-element-items">
                <label for="items" class="optional">Items</label>

                <select name="items[]" id="items" multiple="multiple" class="form-control select2">
                </select>
            </div>
            <div class="form-group" id="form-element-query">
                <label for="query-builder" class="optional">Query</label>

<textarea name="query" id="query-builder" rows="4" style="display: none" class="form-control" cols="80"></textarea>
            </div>
            <div class="form-group" id="form-element-forceUpdate">
                <div class="checkbox">
                    <label>
                        <input type="hidden" name="forceUpdate" value="0" /><input type="checkbox" name="forceUpdate" id="forceUpdate" value="1" />Update Group Items After Saving
                    </label>
                </div>
            </div>

            <input type="submit" name="send" id="send" value="Save" class="btn btn-primary" />
        </div>
    </div>
</div>

