﻿
@{
    ViewBag.Title = "HiddenTicketTemplates";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Hidden Ticket Templates</h3>
<div class="box">
    <div class="box-body">
        <div id="dynamicContent">
            <div class="custom-dropdown-menu" id="columnsControls">
            </div>

            <table id='tournamentTickets' class="listing-table" data-dt-not-fixed-cols="true">
                <thead class="listHead">
                    <tr>
                        <th data-meta-skip-manage='true'>
                            <div>
                                <button type="button" class="btn btn-primary custom-dropdown" id="columnControlsBtn">                                    
                                    <img src="~/Assest/img/menu.svg" />
                                </button>
                            </div>
                        </th>
                        <th data-meta-key='f_id'
                            data-meta-visibility="true">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_id"
                                   orderType="DESC">
                                    ID
                                    <img src="~/Assest/img/arrow_up.png" />
                                </a>                                
                            </nobr>
                        </th>
                        <th data-meta-key='f_name'
                            data-meta-visibility="true">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_name"
                                   orderType="">
                                    Name
                                </a>
                            </nobr>
                        </th>
                        <th data-meta-key='f_status'
                            data-meta-visibility="true">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_status"
                                   orderType="">
                                    Status
                                </a>
                            </nobr>
                        </th>
                        <th data-meta-key='f_amount'
                            data-meta-visibility="true">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_amount"
                                   orderType="">
                                    Amount
                                </a>
                            </nobr>
                        </th>
                        <th data-meta-key='f_money_type'
                            data-meta-visibility="true">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_money_type"
                                   orderType="">
                                    Money Type
                                </a>
                            </nobr>
                        </th>
                        <th data-meta-key='f_expiration_date'
                            data-meta-visibility="true">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_expiration_date"
                                   orderType="">
                                    Expiration Date
                                </a>
                            </nobr>
                        </th>
                        <th data-meta-key='f_ticket_ttl_in_hours'
                            data-meta-visibility="true">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_ticket_ttl_in_hours"
                                   orderType="">
                                    Lifetime, h
                                </a>
                            </nobr>
                        </th>
                        <th data-meta-key='f_issue_date'
                            data-meta-visibility="true">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_issue_date"
                                   orderType="">
                                    Issued At
                                </a>
                            </nobr>
                        </th>
                        <th data-meta-key='f_issue_reason'
                            data-meta-visibility="true">
                            <nobr>
                                Issue Reason
                            </nobr>
                        </th>
                        <th data-meta-key='f_obtain_tournament_id'
                            data-meta-visibility="true">
                            <nobr>
                                Won In Tourney
                            </nobr>
                        </th>
                        <th data-meta-key='f_is_template'
                            data-meta-visibility="true">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_is_template"
                                   orderType="">
                                    Template
                                </a>
                            </nobr>
                        </th>
                        <th data-meta-key='f_spend_tournament_id'
                            data-meta-visibility="true">
                            <nobr>
                                Spent For
                            </nobr>
                        </th>
                        <th data-meta-key='f_player_id'
                            data-meta-visibility="true">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_player_id"
                                   orderType="">
                                    Player
                                </a>
                            </nobr>
                        </th>
                    </tr>
                    <tr class="listFilter">
                        <th>

                            <button name="butFilter" id="butFilter" type="button">Apply Filter</button>

                            <button name="butReset" id="butReset" type="button">Reset Filter</button>
                        </th>
                        <th>
                            <input type="text" name="f_id" id="f_id" value="" filter="1" sql="t_ticket.f_id" orderable="1" nonHtml="" style="width:50px;" class="filter" />
                        </th>
                        <th>
                            <input type="text" name="f_name" id="f_name" value="" filter="1" sql="t_ticket.f_name" orderable="1" nonHtml="" class="filter" />
                        </th>
                        <th>
                            <select name="f_status" id="f_status" filter="1" orderable="1" sql="f_status" nonHtml="" class="filter">
                                <option value="">-</option>
                                <option value="95">Unknown</option>
                                <option value="84">Template</option>
                                <option value="65">Active</option>
                                <option value="67">Consumed In Tournament</option>
                                <option value="77">Converted To Money</option>
                                <option value="69">Expired</option>
                            </select>
                        </th>
                        <th>
                            <input type="text" name="f_amount" id="f_amount" value="" filter="1" orderable="1" sql="f_amount" nonHtml="" class="filter" />
                        </th>
                        <th>
                            <select name="f_money_type" id="f_money_type" filter="1" orderable="1" sql="f_money_type" nonHtml="" class="filter">
                                <option value="">-</option>
                                <option value="82">Real Money</option>
                                <option value="80">Play Money</option>
                                <option value="65">cash game points</option>
                            </select>
                        </th>
                        <th>
                            <input type="text" name="f_expiration_date" id="f_expiration_date" value="" filter="1" orderable="1" sql="f_expiration_date" nonHtml="" class="filter" readonly="readonly" onclick='displayDatePicker("f_expiration_date", false, "ymd", "-");' />
                        </th>
                        <th>
                            <input type="text" name="f_ticket_ttl_in_hours" id="f_ticket_ttl_in_hours" value="" filter="1" orderable="1" sql="f_ticket_ttl_in_hours" nonHtml="" class="filter" />
                        </th>
                        <th>
                            <input type="text" name="f_issue_date" id="f_issue_date" value="" filter="1" orderable="1" sql="f_issue_date" nonHtml="" class="filter" readonly="readonly" onclick='displayDatePicker("f_issue_date", false, "ymd", "-");' />
                        </th>
                        <th>
                            <select name="f_issue_reason" id="f_issue_reason" class="filter">
                                <option value="">-</option>
                                <option value="_">Unknown</option>
                                <option value="A">Admin</option>
                                <option value="T">Tournament Prize</option>
                                <option value="R">Registration</option>
                            </select>
                        </th>
                        <th>
                            <input type="text" name="f_obtain_tournament_id" id="f_obtain_tournament_id" value="" filter="1" orderable="" sql="f_obtain_tournament_id" nonHtml="" class="filter" />
                        </th>
                        <th>
                            <select name="f_is_template" id="f_is_template" filter="1" orderable="1" sql="f_is_template" nonHtml="" class="filter">
                                <option value="">-</option>
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </th>
                        <th>
                            <input type="text" name="f_spend_tournament_id" id="f_spend_tournament_id" value="" filter="1" orderable="" sql="f_spend_tournament_id" nonHtml="" class="filter" />
                        </th>
                        <th>
                            <input type="text" name="f_player_id" id="f_player_id" value="" filter="1" sql_nick="p.f_nick" orderable="1" sql="f_player_id" nonHtml="" class="filter" />
                        </th>

                    </tr>
                </thead>


                <tr class="odd ">
                    <td>
                        <div class="dropdown text-center">
                            <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                    type="button" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-bars"></i>
                            </button>
                            <div class="dropdown-menu table-dropdown">
                                <a href="/webadmin/tournament-tickets/edit/id/1">
                                    <div class="edit" id="edit-1"></div>Edit
                                </a>


                            </div>
                        </div>
                    </td>
                    <td>1</td>
                    <td>New Player Registration Ticket - onetime</td>
                    <td>Expired</td>
                    <td>0.00</td>
                    <td>Real Money</td>
                    <td>2020/01/02 19:28:53</td>
                    <td>753</td>
                    <td>-</td>
                    <td>Unknown</td>
                    <td><span class="notbold">-</span></td>
                    <td>Yes</td>
                    <td><span class="notbold">-</span></td>
                    <td>-</td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="even ">
                    <td>
                        <div class="dropdown text-center">
                            <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                    type="button" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-bars"></i>
                            </button>
                            <div class="dropdown-menu table-dropdown">
                                <a href="/webadmin/tournament-tickets/edit/id/9">
                                    <div class="edit" id="edit-9"></div>Edit
                                </a>


                            </div>
                        </div>
                    </td>
                    <td>9</td>
                    <td>Compensation Ticket</td>
                    <td>Active</td>
                    <td>2.20</td>
                    <td>Real Money</td>
                    <td>2019/08/04 15:15:15</td>
                    <td>24</td>
                    <td>-</td>
                    <td>Unknown</td>
                    <td><span class="notbold">-</span></td>
                    <td>Yes</td>
                    <td><span class="notbold">-</span></td>
                    <td>-</td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="odd ">
                    <td>
                        <div class="dropdown text-center">
                            <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                    type="button" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-bars"></i>
                            </button>
                            <div class="dropdown-menu table-dropdown">
                                <a href="/webadmin/tournament-tickets/edit/id/13">
                                    <div class="edit" id="edit-13"></div>Edit
                                </a>


                            </div>
                        </div>
                    </td>
                    <td>13</td>
                    <td>test</td>
                    <td>Active</td>
                    <td>2.20</td>
                    <td>Real Money</td>
                    <td>2019/08/03 21:08:02</td>
                    <td>1</td>
                    <td>-</td>
                    <td>Unknown</td>
                    <td><span class="notbold">-</span></td>
                    <td>Yes</td>
                    <td><span class="notbold">-</span></td>
                    <td>-</td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="even ">
                    <td>
                        <div class="dropdown text-center">
                            <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                    type="button" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-bars"></i>
                            </button>
                            <div class="dropdown-menu table-dropdown">
                                <a href="/webadmin/tournament-tickets/edit/id/15">
                                    <div class="edit" id="edit-15"></div>Edit
                                </a>


                            </div>
                        </div>
                    </td>
                    <td>15</td>
                    <td>test</td>
                    <td>Active</td>
                    <td>0.55</td>
                    <td>Real Money</td>
                    <td>2020/12/31 12:00:00</td>
                    <td>12313</td>
                    <td>-</td>
                    <td>Unknown</td>
                    <td><span class="notbold">-</span></td>
                    <td>Yes</td>
                    <td><span class="notbold">-</span></td>
                    <td>-</td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->


            </table>
            <div class='rowCount'>
                <div class="row">
                    <div class="col-md-3">
                        Rows: 4&ensp;|&ensp;
                        <div class="limit-controls" style="display: inline-block;">
                            <div id="perpage">Per page:</div>
                            <select class="limit-links">
                                <option data-href="/webadmin/tournament-tickets/hidden-templates/limit/10">10</option>
                                <option data-href="/webadmin/tournament-tickets/hidden-templates/limit/25">25</option>
                                <option selected data-href="/webadmin/tournament-tickets/hidden-templates/limit/50">50</option>
                                <option data-href="/webadmin/tournament-tickets/hidden-templates/limit/100">100</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-7" style="display: flex; justify-content: center">
                        <div class="paginator-controls" id="blockPaginatorControls">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="pull-right">
                            <a href="/webadmin/tournament-tickets/hidden-templates/_output/xlsx"><img src="~/Assest/img/xls.svg" alt="Excel"></a>
                            <a href="/webadmin/tournament-tickets/hidden-templates/_output/csv"><img src="~/Assest/img/csv.svg" alt="CSV"></a>
                            <a href="/webadmin/tournament-tickets/hidden-templates/_output/ods"><img src="~/Assest/img/odt.svg" alt="OpenDocument" /></a>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>