﻿
@{
    ViewBag.Title = "JackPotAwardsHistory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h3>JackPot Awards History <a href="http://docs.evenbetgaming.com/articles/Administration_Panel/JackPot%20Awards.html" target="_blank"><sup><i class="fa fa-question-circle"></i></sup></a></h3>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="row">
                <div class="col-md-12" style="margin-bottom: 15px; margin-top: 15px">
                    <div class="form-group" style="margin: 10px;">

                        From: <input type="text" name="Date[from]" id="Date[from]" value="" sql="g.f_ended_stamp" skipSelect="" external="1" class="filter" readonly="readonly" onclick='displayDatePicker("Date[from]", false, "ymd", "-");' /> To: <input type="text" name="Date[to]" id="Date[to]" value="" sql="g.f_ended_stamp" skipSelect="" external="1" class="filter" readonly="readonly" onclick='displayDatePicker("Date[to]", false, "ymd", "-");' />
                    </div>

                    <div class="form-group" style="margin: 10px;">
                        <a href="#" class="btn btn-default" onclick="listing.filter(); return false;">Apply Filter</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="box-body">
                <div id="dynamicContent">





                    <div class="custom-dropdown-menu" id="columnsControls">
                    </div>

                    <table id='jackpot' class="listing-table" data-dt-not-fixed-cols="true">
                        <thead class="listHead">
                            <tr>
                                <th data-meta-key='f_game_id'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_game_id"
                                           orderType="">
                                            Game
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_player_id'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_player_id"
                                           orderType="">
                                            Player
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='timestamp'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="timestamp"
                                           orderType="DESC">
                                            Date
                                            <img src="img/arrow_up.png" />
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_jackpot_type'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_jackpot_type"
                                           orderType="">
                                            Type
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_jackpot_player_type'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_jackpot_player_type"
                                           orderType="">
                                            Player/Transaction
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_amount'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_amount"
                                           orderType="">
                                            Amount
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_cards'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_cards"
                                           orderType="">
                                            Combination
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-skip-manage='true'>
                                    <div>
                                        <button type="button" class="btn btn-primary custom-dropdown" id="columnControlsBtn">
                                            <img src="img/icons/menu.svg" alt="+">
                                        </button>
                                    </div>
                                </th>
                            </tr>
                            <tr class="listFilter">
                                <th>
                                    <input type="text" name="f_game_id" id="f_game_id" value="" controller="game" action="view" filter="1" orderable="1" sql="f_game_id" nonHtml="" style="width:50px;" class="filter" />
                                </th>
                                <th>
                                    <input type="text" name="f_player_id" id="f_player_id" value="" filter="1" sql_nick="p.f_nick" orderable="1" sql="f_player_id" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <input type="text" name="timestamp" id="timestamp" value="" filter="1" sql="IFNULL(g.f_ended_stamp, UTC_TIMESTAMP())" style="width: 120px" orderable="1" nonHtml="" class="filter" readonly="readonly" onclick='displayDatePicker("timestamp", false, "ymd", "-");' />
                                </th>
                                <th>
                                    <select name="f_jackpot_type" id="f_jackpot_type" filter="1" orderable="1" sql="f_jackpot_type" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="M">MonteCarlo</option>
                                        <option value="B">BadBeat</option>
                                    </select>
                                </th>
                                <th>
                                    <select name="f_jackpot_player_type" id="f_jackpot_player_type" filter="1" orderable="1" sql="f_jackpot_player_type" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="_">Unknown</option>
                                        <option value="W">Winner</option>
                                        <option value="L">Loser</option>
                                        <option value="O">Participant</option>
                                        <option value="N">New Jackpot</option>
                                        <option value="R">Casino comission</option>
                                    </select>
                                </th>
                                <th>
                                    <input type="text" name="f_amount" id="f_amount" value="" filter="1" orderable="1" sql="f_amount" nonHtml="" class="filter" />
                                </th>
                                <th>&nbsp;</th>
                                <th>

                                    <button name="butFilter" id="butFilter" type="button">Apply Filter</button>

                                    <button name="butReset" id="butReset" type="button">Reset Filter</button>
                                </th>

                            </tr>
                        </thead>

                    </table>



                </div>
            </div>
        </div>
    </div>
</div>