﻿
@{
    ViewBag.Title = "Jackpot";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <div class="col-xs-12">
        <h3 class="section-title">
            Edit Jackpot
        </h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <form enctype="application/x-www-form-urlencoded" action="" method="post" dojoType="dijit.form.Form">
            <dl class="zend_form">
                <dt id="jackpotType-label"><label for="jackpotType" class="required">Jackpot type</label></dt>
                <dd id="jackpotType-element">
                    <select name="jackpotType" id="jackpotType" class="form-control form-group">
                        <option value="66">BadBeat</option>
                        <option value="77">MonteCarloRegular</option>
                        <option value="81">MonteCarloAllInOrFold</option>
                        <option value="83">Smart</option>
                    </select>
                </dd>
                <dt id="jackpotValue-label"><label for="jackpotValue" class="optional">Jackpot value</label></dt>
                <dd id="jackpotValue-element">
                    <input type="text" name="jackpotValue" id="jackpotValue" value="0" maxlength="10" class="form-control form-group" />
                </dd>
                <dt id="submitButton-label">&#160;</dt>
                <dd id="submitButton-element">
                    <input type="submit" name="submitButton" id="submitButton" value="Save" class="btn btn-primary" />
                </dd>
            </dl>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        JackpotConfig.setData({ "66": "0.00", "77": "0.00", "81": "0.00", "83": "0.00" });
    });
</script>