﻿
@{
    ViewBag.Title = "JackpotReport";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h3>Jackpot</h3>

<div class="box">
    <div class="box-body" style="overflow-x: auto;">
        <label for="moneyType" class="optional">Money Types</label>

        <select name="moneyType" id="moneyType">
            <option value="82" selected="selected">Real Money</option>
            <option value="80">Play Money</option>
            <option value="65">cash game points</option>
        </select>


        <table class="table table-bordered table-hover">
            <thead class="listHead">
                <tr>
                    <th>Date</th>
                    <th>Hold'em</th>
                    <th>Short Deck Hold'em</th>
                    <th>Omaha</th>
                    <th>Omaha H/L</th>
                    <th>Stud</th>
                    <th>Stud H/L</th>
                    <th>Razz</th>
                    <th>2-7 Triple Draw</th>
                    <th>Badugi</th>
                    <th>Badeucy</th>
                    <th>Badacey</th>
                    <th>Chinese</th>
                    <th>Openface Chinese</th>
                    <th>Chinese Pineapple</th>
                    <th>Chinese 2-7 Pineapple</th>
                    <th>Chinese Turbo</th>
                    <th>Chinese OF Pineapple Progressive</th>
                    <th>Omaha 5 card</th>
                    <th>Omaha 5 card H/L</th>
                    <th>Courchevel</th>
                    <th>Pineapple Poker</th>
                    <th>Mixed Games</th>
                    <th>Turkish</th>
                    <th>5 Card Draw 7-A</th>
                    <th>Points Rummy</th>
                    <th>Deals Rummy</th>
                    <th>Pool Rummy</th>
                    <th>Triton ShortDeck</th>
                    <th>Omaha 6 card</th>
                    <th>Omaha 6 card H/L</th>
                    <th>Tournament Fee</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tr parent="" id="row-2018-01-01-year">
                <td style="white-space: nowrap"><a href="#" class="openPeriod" unpinned innerPeriod="month" date="2018-01-01"><img src="img/content/collapsed.png" border="0" />2018</a></a></td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
            </tr>
            <tr parent="" id="row-2019-01-01-year">
                <td style="white-space: nowrap"><a href="#" class="openPeriod" unpinned innerPeriod="month" date="2019-01-01"><img src="img/content/collapsed.png" border="0" />2019</a></a></td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
            </tr>
            <tr parent="" id="row-2020-01-01-year">
                <td style="white-space: nowrap"><a href="#" class="openPeriod" unpinned innerPeriod="month" date="2020-01-01"><img src="img/content/collapsed.png" border="0" />2020</a></a></td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
            </tr>

        </table>
    </div>
</div>