﻿@model DataLayer.Language
@{
    ViewBag.Title = "Language";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/Assest/css/all.css" rel="stylesheet" />
<script src="~/Assest/js/icheck.js"></script>
<h3>Language</h3>
<div class="box box-primary">
    @using (Html.BeginForm("LanguageAdd", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(model => model.Id)
        <div class="box-body">
            <div class="form-group" id="form-element-code">
                <label for="code" class="required">Code</label>
                @Html.TextBoxFor(model => model.Code, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
            </div>
            <div class="form-group" id="form-element-name">
                <label for="name" class="required">Name</label>
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
            <div class="form-group" id="form-element-active">
                <div class="icheck-danger d-inline">                    
                    <input type="checkbox" name="IsActive" id="IsActive" @(Model.IsActive!=null ? Html.Raw(" checked=\"checked\"") : null)>
                    <label for="IsActive">
                        Active
                    </label>
                </div>
            </div>
            <input type="submit" name="send" id="send" value="Save" class="btn btn-primary" />
        </div>
    }
</div>
