﻿@model DataLayer.LanguageList
@{
    ViewBag.Title = "Language List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-xs-9">
        <h3>Languages Management</h3>
    </div>
    <div class="col-xs-3 text-right btn-container">
        <a class="btn btn-default purple-skin-btn-lte-theme purple-btn-add" href="~/Admin/Config/Language/Add">
            <span class="purple-skin-btn-plus"></span>&nbsp;Add Language
        </a>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
        </div>
        <div class="box">
            <div class="box-body">
                <div id="dynamicContent">                   
                    <table id='language' class="listing-table">
                        <thead class="listHead">
                            <tr>
                                <th>
                                    <button type="button" class="btn btn-primary custom-dropdown" id="columnControlsBtn">
                                        <i class="fa fa-cog"></i>
                                    </button>
                                </th>
                                <th>
                                    Code
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Active
                                </th>
                            </tr>
                            <tr class="listFilter">
                                <th>
                                    <button name="butFilter" id="butFilter" type="button">Apply Filter</button>

                                    <button name="butReset" id="butReset" type="button">Reset Filter</button>
                                </th>
                                <th>
                                    <input type="text" name="f_code" id="f_code" value="" filter="1" orderable="1" sql="f_code" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <input type="text" name="f_name" id="f_name" value="" filter="1" orderable="1" sql="f_name" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <select name="f_active" id="f_active" filter="1" orderable="1" sql="f_active" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="1">Yes</option>
                                        <option value="0">No</option>
                                    </select>
                                </th>
                            </tr>
                        </thead>
                        @{ int i = 1;}
                        @foreach (var item in Model.LangList)
                        {
                            <tr class="@(i%2==0 ? "odd":"even")">
                                <td>
                                    <div class="dropdown text-center">
                                        <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                                type="button" data-toggle="dropdown" aria-expanded="false">
                                            <i class="fa fa-bars"></i>
                                        </button>
                                        <div class="dropdown-menu table-dropdown">
                                            <a href="~/Admin/Config/Language/Edit/@item.Id">
                                                <div class="edit" id="edit-1"></div>Edit
                                            </a>
                                            <a href="/webadmin/config/language-delete/id/1" onClick='return confirm("Deleting language.\nAre you sure?");'>
                                                <div class="del" id="del-1"></div>Delete
                                            </a>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    @item.Code
                                </td>
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    @item.IsActive
                                </td>
                            </tr>
                            i++;
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

