﻿
@{
    ViewBag.Title = "LimitSettings";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h3>Limit Settings <a href="http://docs.evenbetgaming.com/articles/Administration_Panel/Money Limits.html" target="_blank"><sup><i class="fa fa-question-circle"></i></sup></a></h3>
<div class="box box-solid">
    <form enctype="application/x-www-form-urlencoded" action="" method="post" dojoType="dijit.form.Form">
        <div class="nav-tabs-custom" id="tabs_822">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#tabs_822_82" data-toggle="tab" aria-expanded="true">
                        Real Money
                    </a>
                </li>
                <li>
                    <a href="#tabs_822_80" data-toggle="tab" aria-expanded="false">
                        Play Money
                    </a>
                </li>
                <li>
                    <a href="#tabs_822_65" data-toggle="tab" aria-expanded="false">
                        cash game points
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tabs_822_82">
                    <div class="box-body">
                        <div class="form-group" id="form-element-minDeposit">
                            <label for="82-minDeposit" class="optional">Min Deposit</label>

                            <input type="text" name="82[minDeposit]" id="82-minDeposit" value="10" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-maxDeposit">
                            <label for="82-maxDeposit" class="optional">Max Deposit</label>

                            <input type="text" name="82[maxDeposit]" id="82-maxDeposit" value="1000000" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-minWithdrawal">
                            <label for="82-minWithdrawal" class="optional">Min Withdrawal</label>

                            <input type="text" name="82[minWithdrawal]" id="82-minWithdrawal" value="25" class="form-control" />
                            <span class="help-block">Doesn’t include withdrawal fee taken for transactions processing</span>
                        </div>
                        <div class="form-group" id="form-element-maxWithdrawal">
                            <label for="82-maxWithdrawal" class="optional">Max Withdrawal</label>

                            <input type="text" name="82[maxWithdrawal]" id="82-maxWithdrawal" value="100000" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-withdrawalFeeRate">
                            <label for="82-withdrawalFeeRate" class="optional">Withdrawal Fee, %</label>

                            <input type="text" name="82[withdrawalFeeRate]" id="82-withdrawalFeeRate" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-minWithdrawalFee">
                            <label for="82-minWithdrawalFee" class="optional">Min Withdrawal Fee Amount</label>

                            <input type="text" name="82[minWithdrawalFee]" id="82-minWithdrawalFee" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-deposit_userMustBeVerified">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="82[deposit_userMustBeVerified]" value="0" /><input type="checkbox" name="82[deposit_userMustBeVerified]" id="82-deposit_userMustBeVerified" value="1" />The player must be verified to make deposits
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="form-element-withdrawal_userMustBeVerified">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="82[withdrawal_userMustBeVerified]" value="0" /><input type="checkbox" name="82[withdrawal_userMustBeVerified]" id="82-withdrawal_userMustBeVerified" value="1" checked="checked" />The player must be verified to make cashouts
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tabs_822_80">
                    <div class="box-body">
                        <div class="form-group" id="form-element-minDeposit">
                            <label for="80-minDeposit" class="optional">Min Deposit</label>

                            <input type="text" name="80[minDeposit]" id="80-minDeposit" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-maxDeposit">
                            <label for="80-maxDeposit" class="optional">Max Deposit</label>

                            <input type="text" name="80[maxDeposit]" id="80-maxDeposit" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-minWithdrawal">
                            <label for="80-minWithdrawal" class="optional">Min Withdrawal</label>

                            <input type="text" name="80[minWithdrawal]" id="80-minWithdrawal" value="" class="form-control" />
                            <span class="help-block">Doesn’t include withdrawal fee taken for transactions processing</span>
                        </div>
                        <div class="form-group" id="form-element-maxWithdrawal">
                            <label for="80-maxWithdrawal" class="optional">Max Withdrawal</label>

                            <input type="text" name="80[maxWithdrawal]" id="80-maxWithdrawal" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-withdrawalFeeRate">
                            <label for="80-withdrawalFeeRate" class="optional">Withdrawal Fee, %</label>

                            <input type="text" name="80[withdrawalFeeRate]" id="80-withdrawalFeeRate" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-minWithdrawalFee">
                            <label for="80-minWithdrawalFee" class="optional">Min Withdrawal Fee Amount</label>

                            <input type="text" name="80[minWithdrawalFee]" id="80-minWithdrawalFee" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-deposit_userMustBeVerified">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="80[deposit_userMustBeVerified]" value="0" /><input type="checkbox" name="80[deposit_userMustBeVerified]" id="80-deposit_userMustBeVerified" value="1" checked="checked" />The player must be verified to make deposits
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="form-element-withdrawal_userMustBeVerified">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="80[withdrawal_userMustBeVerified]" value="0" /><input type="checkbox" name="80[withdrawal_userMustBeVerified]" id="80-withdrawal_userMustBeVerified" value="1" checked="checked" />The player must be verified to make cashouts
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tabs_822_65">
                    <div class="box-body">
                        <div class="form-group" id="form-element-minDeposit">
                            <label for="65-minDeposit" class="optional">Min Deposit</label>

                            <input type="text" name="65[minDeposit]" id="65-minDeposit" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-maxDeposit">
                            <label for="65-maxDeposit" class="optional">Max Deposit</label>

                            <input type="text" name="65[maxDeposit]" id="65-maxDeposit" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-minWithdrawal">
                            <label for="65-minWithdrawal" class="optional">Min Withdrawal</label>

                            <input type="text" name="65[minWithdrawal]" id="65-minWithdrawal" value="" class="form-control" />
                            <span class="help-block">Doesn’t include withdrawal fee taken for transactions processing</span>
                        </div>
                        <div class="form-group" id="form-element-maxWithdrawal">
                            <label for="65-maxWithdrawal" class="optional">Max Withdrawal</label>

                            <input type="text" name="65[maxWithdrawal]" id="65-maxWithdrawal" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-withdrawalFeeRate">
                            <label for="65-withdrawalFeeRate" class="optional">Withdrawal Fee, %</label>

                            <input type="text" name="65[withdrawalFeeRate]" id="65-withdrawalFeeRate" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-minWithdrawalFee">
                            <label for="65-minWithdrawalFee" class="optional">Min Withdrawal Fee Amount</label>

                            <input type="text" name="65[minWithdrawalFee]" id="65-minWithdrawalFee" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-deposit_userMustBeVerified">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="65[deposit_userMustBeVerified]" value="0" /><input type="checkbox" name="65[deposit_userMustBeVerified]" id="65-deposit_userMustBeVerified" value="1" checked="checked" />The player must be verified to make deposits
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="form-element-withdrawal_userMustBeVerified">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="65[withdrawal_userMustBeVerified]" value="0" /><input type="checkbox" name="65[withdrawal_userMustBeVerified]" id="65-withdrawal_userMustBeVerified" value="1" checked="checked" />The player must be verified to make cashouts
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="submit" name="send" id="send" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>