﻿
@{
    ViewBag.Title = "ListPending";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Pending transactions <a href="http://docs.evenbetgaming.com/articles/Administration_Panel/Pending%20transactions.html" target="_blank"><sup><i class="fa fa-question-circle"></i></sup></a></h3>

<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            <label for="update-combo">Refresh Period</label>
            <select id="update-combo" name="update" class="form-control">
                <option value="0" selected>Off</option>
                <option value="30">30 sec</option>
                <option value="60">1 min</option>
                <option value="120">2 min</option>
                <option value="300">5 min</option>
                <option value="600">10 min</option>
            </select>
        </div>
    </div>
</div>




<div class="box">
    <div class="box-body">
        <div id="dynamicContent">





            <div class="custom-dropdown-menu" id="columnsControls">
            </div>

            <table class="listing-table" id="pendingTransactionsTable">
                <thead class="listHead">
                    <tr>
                        <th><input type="checkbox" class="rowCheckbox" id="rowCheckboxAll" value="1"></th>

                        <th data-controls="true" data-meta-skip-manage='true'>
                            <div>
                                <button type="button" class="btn btn-primary custom-dropdown" id="columnControlsBtn">
                                    <img src="img/icons/menu.svg" alt="+">
                                </button>
                            </div>
                        </th>
                        <th data-meta-key='f_id' data-meta-visibility="true">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_id" orderType="">
                                    ID
                                </a>
                            </nobr>
                        </th>
                        <th data-meta-key='f_verified' data-meta-visibility="true">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_verified" orderType="">
                                    Player Verified
                                </a>
                            </nobr>
                        </th>
                        <th data-meta-key='f_player_id' data-meta-visibility="true">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_player_id" orderType="">
                                    Player
                                </a>
                            </nobr>
                        </th>
                        <th data-meta-key='f_type' data-meta-visibility="true">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_type" orderType="">
                                    Type
                                </a>
                            </nobr>
                        </th>
                        <th data-meta-key='f_pended' data-meta-visibility="true">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_pended" orderType="">
                                    State
                                </a>
                            </nobr>
                        </th>
                        <th data-meta-key='f_stamp' data-meta-visibility="true">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_stamp" orderType="ASC">
                                    Date
                                    <img src="img/arrow_down.png" />
                                </a>
                            </nobr>
                        </th>
                        <th data-meta-key='f_value' data-meta-visibility="true">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_value" orderType="">
                                    Value
                                </a>
                            </nobr>
                        </th>
                        <th data-meta-key='f_pended_value' data-meta-visibility="true">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_pended_value" orderType="">
                                    Pended Value
                                </a>
                            </nobr>
                        </th>
                        <th data-meta-key='f_money_type' data-meta-visibility="true">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_money_type" orderType="">
                                    Money type
                                </a>
                            </nobr>
                        </th>
                        <th data-meta-key='f_param_notes' data-meta-visibility="true">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_param_notes" orderType="">
                                    Notes
                                </a>
                            </nobr>
                        </th>
                        <th data-meta-key='linkedItem'>Linked Item</th>
                    </tr>
                    <tr class="listFilter">
                        <th>&nbsp;</th>
                        <th>
                            <button name="butFilter" id="butFilter" type="button">Apply Filter</button>
                            <button name="butReset" id="butReset" type="button">Reset Filter</button>
                        </th>
                        <th>
                            <input type="text" name="f_id" id="f_id" value="" filter="1" controller="transaction" action="info" sql="m.f_id" orderable="1" nonHtml="" style="width:50px;" class="filter" />
                        </th>
                        <th>
                            <select name="f_verified" id="f_verified" filter="1" sql="(SELECT f_verified FROM t_player WHERE f_id=f_player_id)" orderable="1" nonHtml="" class="filter">
                                <option value="">-</option>
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </th>
                        <th>
                            <input type="text" name="f_player_id" id="f_player_id" value="" filter="1" sql_nick="(SELECT f_nick FROM t_player WHERE f_id=f_player_id)" sql="m.f_player_id" orderable="1" nonHtml="" class="filter" />
                        </th>
                        <th>
                            <select name="f_type" id="f_type" filter="1" sql="m.f_type" orderable="1" nonHtml="" class="filter">
                                <option value="">-</option>
                                <option value="95">Unknown</option>
                                <option value="84">To Table</option>
                                <option value="70">From Table</option>
                                <option value="72">Unclaimed Money</option>
                                <option value="73">Internal Deposit</option>
                                <option value="74">Internal Deposit Rev</option>
                                <option value="68">Deposit</option>
                                <option value="87">Withdrawal</option>
                                <option value="76">Cancel Withdrawal</option>
                                <option value="66">Tournament Buy In</option>
                                <option value="67">Tournament Buy In Rev</option>
                                <option value="69">Tournament Entry Fee</option>
                                <option value="71">Tournament Entry Fee Rev</option>
                                <option value="80">Tournament Prize</option>
                                <option value="65">Affiliate Payment</option>
                                <option value="79">To Player</option>
                                <option value="77">From Player</option>
                                <option value="75">Rake + Jackpot</option>
                                <option value="85">Convert Out</option>
                                <option value="78">Convert In</option>
                                <option value="86">Convert Rake</option>
                                <option value="90">Jackpot</option>
                                <option value="82">Tournament Get Extra Chips</option>
                                <option value="49">Tournament Refund Extra Chips</option>
                                <option value="88">Crash Recovery Refund</option>
                                <option value="81">Jackpot Room Fee</option>
                                <option value="52">Transfer Fee</option>
                                <option value="50">Custom In</option>
                                <option value="51">Custom Out</option>
                                <option value="500">System Player Internal Deposit</option>
                                <option value="501">System Player Rev. Internal Deposit</option>
                                <option value="502">System Player Custom Transaction</option>
                                <option value="503">System Player Rev. Custom Transaction</option>
                                <option value="504">Tournament Owner Reserve Guaranteed Prize</option>
                                <option value="505">Tournament Owner Reserve Prize2</option>
                                <option value="506">Tournament Owner Guaranteed Prize Remain Return</option>
                                <option value="507">System Player Trans. Part Of Rake</option>
                                <option value="508">System Player Balance Correction</option>
                                <option value="510">Tournament Second Entry Fee</option>
                                <option value="511">Tournament Second Entry Fee Rev.</option>
                                <option value="512">External Jackpot Correction</option>
                                <option value="513">Jackpot Auto TopUp</option>
                                <option value="520">Ticket To Money</option>
                                <option value="521">Ticket To Money Rev.</option>
                                <option value="522">Emit Grant Ticket</option>
                                <option value="523">Emit Grant Ticket Rev.</option>
                                <option value="550">System Adjustments</option>
                                <option value="551">System Adjustments Rev</option>
                                <option value="560">Tournament Spin Prize Room Part</option>
                                <option value="570">BankUp Rest Of WinAmount To SystemPlayer</option>
                                <option value="571">BankUp Payment To Player By SystemPlayer</option>
                                <option value="572">BankUp Take Money For Payment To Player</option>
                                <option value="573">BankUp Take Money For Payment To SystemPlayer</option>
                                <option value="574">BankUp Payment To SystemPlayer By Player</option>
                                <option value="580">Tournament System Rebuy Fee</option>
                                <option value="581">Tournament System Rebuy Fee Rev.</option>
                                <option value="582">Tournament System Addon Fee</option>
                                <option value="583">Tournament System Addon Fee Rev.</option>
                                <option value="584">Tournament Rebuy Fee</option>
                                <option value="585">Tournament Rebuy Fee Rev.</option>
                                <option value="586">Tournament Addon Fee</option>
                                <option value="587">Tournament Addon Fee Rev.</option>
                                <option value="601">Unattended Pair Transaction</option>
                                <option value="602">Declined From Player</option>
                                <option value="603">Declined Withdrawal</option>
                                <option value="604">Pended To Player</option>
                                <option value="605">Pended Deposit</option>
                                <option value="606">Pended Tournament Entry Fee</option>
                                <option value="607">Pended Custom</option>
                                <option value="608">Pended Custom Rev.</option>
                                <option value="609">Pended Tournament Second Entry Fee</option>
                                <option value="610">Pended Transfer Fee</option>
                                <option value="611">Pended Crash Recovery Refund</option>
                                <option value="612">Declined Tournament Owner Reserve Guaranteed Prize</option>
                                <option value="613">Declined Tournament Owner Reserve Prize2</option>
                                <option value="631">Declined External Wallet Return Cash</option>
                                <option value="635">Pended External Wallet For Get Cash</option>
                                <option value="636">External Wallet For Get Cash</option>
                                <option value="637">Pended External Wallet For Tournament</option>
                                <option value="638">External Wallet For Tournament</option>
                                <option value="639">Pended External Wallet For Rebuy/Addon</option>
                                <option value="640">External Wallet For Rebuy/Addon</option>
                                <option value="630">External wallet return cash</option>
                                <option value="632">External wallet reject tournament registration</option>
                                <option value="641">External wallet for tournament spend</option>
                                <option value="590">Bounty Tournament Entry Fee</option>
                                <option value="591">Bounty Tournament Entry Fee Rev.</option>
                                <option value="593">Bounty Prize From Casino</option>
                                <option value="592">Knockout Prize</option>
                                <option value="594">Bounty Prize</option>
                                <option value="595">Pro Bounty Prize</option>
                                <option value="53">Insurance comission</option>
                                <option value="54">Insurance payment</option>
                                <option value="55">Personalized rake</option>
                                <option value="652">Government Fee</option>
                            </select>
                        </th>
                        <th>
                            <select name="f_pended" id="f_pended" filter="1" orderable="1" sql="f_pended" nonHtml="" class="filter">
                                <option value="">-</option>
                                <option value="0">Accepted</option>
                                <option value="1">Pending</option>
                                <option value="2">Declined</option>
                                <option value="3">Draft</option>
                                <option value="4">Pending (Money Reserved)</option>
                                <option value="9">Revert Declined</option>
                                <option value="100">Error Comminted</option>
                                <option value="101">Error Uncommited</option>
                            </select>
                        </th>
                        <th>
                            <input type="text" name="f_stamp" id="f_stamp" value="" filter="1" style="width: 120px" orderable="1" sql="f_stamp" nonHtml="" class="filter" readonly="readonly" onclick='displayDatePicker("f_stamp", false, "ymd", "-");' />
                        </th>
                        <th>
                            <input type="text" name="f_value" id="f_value" value="" filter="1" orderable="1" sql="f_value" nonHtml="" class="filter" />
                        </th>
                        <th>
                            <input type="text" name="f_pended_value" id="f_pended_value" value="" filter="1" orderable="1" sql="f_pended_value" nonHtml="" class="filter" />
                        </th>
                        <th>
                            <select name="f_money_type" id="f_money_type" filter="1" orderable="1" sql="f_money_type" nonHtml="" class="filter">
                                <option value="">-</option>
                                <option value="82">Real Money</option>
                                <option value="80">Play Money</option>
                                <option value="65">cash game points</option>
                            </select>
                        </th>
                        <th>
                            <input type="text" name="f_param_notes" id="f_param_notes" value="" filter="1" orderable="1" sql="f_param_notes" nonHtml="" class="filter" />
                        </th>

                        <th>&nbsp;</th>
                    </tr>
                </thead>

                <tr class="odd">
                    <td>
                        <input type="checkbox" class="rowCheckbox" value="5134818">
                    </td>
                    <td></td>
                    <td>
                        <a href="/webadmin/transaction/info/id/5134818">
                            5134818
                        </a> &nbsp;
                    </td>
                    <td></td>
                    <td>-</td>
                    <td>Tournament Owner Reserve Guaranteed Prize</td>
                    <td>Pending (Money Reserved)</td>
                    <td>2020/02/27 08:30:05</td>
                    <td>-1.00</td>
                    <td>0.00</td>
                    <td>Real Money</td>
                    <td></td>


                    <td style="white-space: nowrap;">
                        Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5134817">The Sheep Highway [Step] [Freeroll] (5134817)</a>
                    </td>
                </tr>
                <tr class="even">
                    <td>
                        <input type="checkbox" class="rowCheckbox" value="5134369">
                    </td>
                    <td></td>
                    <td>
                        <a href="/webadmin/transaction/info/id/5134369">
                            5134369
                        </a> &nbsp;
                    </td>
                    <td></td>
                    <td>-</td>
                    <td>Tournament Owner Reserve Guaranteed Prize</td>
                    <td>Pending (Money Reserved)</td>
                    <td>2020/02/27 07:15:04</td>
                    <td>-2.20</td>
                    <td>0.00</td>
                    <td>Real Money</td>
                    <td></td>


                    <td style="white-space: nowrap;">
                        Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5134368">The Twitch.tv Satellite R/A {Ticket} (5134368)</a>
                    </td>
                </tr>
                <tr class="odd">
                    <td>
                        <input type="checkbox" class="rowCheckbox" value="5133376">
                    </td>
                    <td></td>
                    <td>
                        <a href="/webadmin/transaction/info/id/5133376">
                            5133376
                        </a> &nbsp;
                    </td>
                    <td></td>
                    <td>-</td>
                    <td>Tournament Owner Reserve Guaranteed Prize</td>
                    <td>Pending (Money Reserved)</td>
                    <td>2020/02/27 04:30:04</td>
                    <td>-1.00</td>
                    <td>0.00</td>
                    <td>Real Money</td>
                    <td></td>


                    <td style="white-space: nowrap;">
                        Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5133375">The Sheep Highway [Step] [Freeroll] (5133375)</a>
                    </td>
                </tr>
                <tr class="even">
                    <td>
                        <input type="checkbox" class="rowCheckbox" value="5131749">
                    </td>
                    <td></td>
                    <td>
                        <a href="/webadmin/transaction/info/id/5131749">
                            5131749
                        </a> &nbsp;
                    </td>
                    <td></td>
                    <td>-</td>
                    <td>Tournament Owner Reserve Guaranteed Prize</td>
                    <td>Pending (Money Reserved)</td>
                    <td>2020/02/27 03:00:04</td>
                    <td>-5.00</td>
                    <td>0.00</td>
                    <td>Real Money</td>
                    <td></td>


                    <td style="white-space: nowrap;">
                        Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5131748">The Quarter Horse {R/A} (5131748)</a>
                    </td>
                </tr>
                <tr class="odd">
                    <td>
                        <input type="checkbox" class="rowCheckbox" value="5131572">
                    </td>
                    <td></td>
                    <td>
                        <a href="/webadmin/transaction/info/id/5131572">
                            5131572
                        </a> &nbsp;
                    </td>
                    <td></td>
                    <td>-</td>
                    <td>Tournament Owner Reserve Guaranteed Prize</td>
                    <td>Pending (Money Reserved)</td>
                    <td>2020/02/27 02:30:04</td>
                    <td>-50.00</td>
                    <td>0.00</td>
                    <td>Real Money</td>
                    <td></td>


                    <td style="white-space: nowrap;">
                        Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5131571">The Big Freeze [Re-entry] (5131571)</a>
                    </td>
                </tr>
                <tr class="even">
                    <td>
                        <input type="checkbox" class="rowCheckbox" value="5131112">
                    </td>
                    <td></td>
                    <td>
                        <a href="/webadmin/transaction/info/id/5131112">
                            5131112
                        </a> &nbsp;
                    </td>
                    <td></td>
                    <td>-</td>
                    <td>Tournament Owner Reserve Guaranteed Prize</td>
                    <td>Pending (Money Reserved)</td>
                    <td>2020/02/27 01:15:04</td>
                    <td>-2.20</td>
                    <td>0.00</td>
                    <td>Real Money</td>
                    <td></td>


                    <td style="white-space: nowrap;">
                        Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5131111">The Twitch.tv Satellite R/A {Ticket} (5131111)</a>
                    </td>
                </tr>
                <tr class="odd">
                    <td>
                        <input type="checkbox" class="rowCheckbox" value="5131021">
                    </td>
                    <td></td>
                    <td>
                        <a href="/webadmin/transaction/info/id/5131021">
                            5131021
                        </a> &nbsp;
                    </td>
                    <td></td>
                    <td>-</td>
                    <td>Tournament Owner Reserve Guaranteed Prize</td>
                    <td>Pending (Money Reserved)</td>
                    <td>2020/02/27 01:00:04</td>
                    <td>-75.00</td>
                    <td>0.00</td>
                    <td>Real Money</td>
                    <td></td>


                    <td style="white-space: nowrap;">
                        Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5131020">The Wednesday War [R/A] [Twitch.tv] (5131020)</a>
                    </td>
                </tr>
                <tr class="even">
                    <td>
                        <input type="checkbox" class="rowCheckbox" value="5131023">
                    </td>
                    <td></td>
                    <td>
                        <a href="/webadmin/transaction/info/id/5131023">
                            5131023
                        </a> &nbsp;
                    </td>
                    <td></td>
                    <td>-</td>
                    <td>Tournament Owner Reserve Guaranteed Prize</td>
                    <td>Pending (Money Reserved)</td>
                    <td>2020/02/27 01:00:04</td>
                    <td>-15.00</td>
                    <td>0.00</td>
                    <td>Real Money</td>
                    <td></td>


                    <td style="white-space: nowrap;">
                        Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5131022">The Dollar Dazzler [R/A] (5131022)</a>
                    </td>
                </tr>
                <tr class="odd">
                    <td>
                        <input type="checkbox" class="rowCheckbox" value="5130645">
                    </td>
                    <td></td>
                    <td>
                        <a href="/webadmin/transaction/info/id/5130645">
                            5130645
                        </a> &nbsp;
                    </td>
                    <td></td>
                    <td>-</td>
                    <td>Tournament Owner Reserve Guaranteed Prize</td>
                    <td>Pending (Money Reserved)</td>
                    <td>2020/02/27 00:00:04</td>
                    <td>-10.00</td>
                    <td>0.00</td>
                    <td>Real Money</td>
                    <td></td>


                    <td style="white-space: nowrap;">
                        Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5130644">The Dollar Dazzler [R/A] (5130644)</a>
                    </td>
                </tr>
                <tr class="even">
                    <td>
                        <input type="checkbox" class="rowCheckbox" value="5130647">
                    </td>
                    <td></td>
                    <td>
                        <a href="/webadmin/transaction/info/id/5130647">
                            5130647
                        </a> &nbsp;
                    </td>
                    <td></td>
                    <td>-</td>
                    <td>Tournament Owner Reserve Guaranteed Prize</td>
                    <td>Pending (Money Reserved)</td>
                    <td>2020/02/27 00:00:04</td>
                    <td>-5.00</td>
                    <td>0.00</td>
                    <td>Real Money</td>
                    <td></td>


                    <td style="white-space: nowrap;">
                        Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5130646">The Rat Race R/A Super Turbo (5130646)</a>
                    </td>
                </tr>
                <tr class="odd">
                    <td>
                        <input type="checkbox" class="rowCheckbox" value="5130473">
                    </td>
                    <td></td>
                    <td>
                        <a href="/webadmin/transaction/info/id/5130473">
                            5130473
                        </a> &nbsp;
                    </td>
                    <td></td>
                    <td>-</td>
                    <td>Tournament Owner Reserve Guaranteed Prize</td>
                    <td>Pending (Money Reserved)</td>
                    <td>2020/02/26 23:30:03</td>
                    <td>-10.00</td>
                    <td>0.00</td>
                    <td>Real Money</td>
                    <td></td>


                    <td style="white-space: nowrap;">
                        Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5130472">Burn It Down [Freezeout] (5130472)</a>
                    </td>
                </tr>
                <tr class="even">
                    <td>
                        <input type="checkbox" class="rowCheckbox" value="5130113">
                    </td>
                    <td></td>
                    <td>
                        <a href="/webadmin/transaction/info/id/5130113">
                            5130113
                        </a> &nbsp;
                    </td>
                    <td></td>
                    <td>-</td>
                    <td>Tournament Owner Reserve Guaranteed Prize</td>
                    <td>Pending (Money Reserved)</td>
                    <td>2020/02/26 22:30:03</td>
                    <td>-20.00</td>
                    <td>0.00</td>
                    <td>Real Money</td>
                    <td></td>


                    <td style="white-space: nowrap;">
                        Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5130112">Let It Burn  [Single Re-Entry] (5130112)</a>
                    </td>
                </tr>
                <tr class="odd">
                    <td>
                        <input type="checkbox" class="rowCheckbox" value="5129751">
                    </td>
                    <td></td>
                    <td>
                        <a href="/webadmin/transaction/info/id/5129751">
                            5129751
                        </a> &nbsp;
                    </td>
                    <td></td>
                    <td>-</td>
                    <td>Tournament Owner Reserve Guaranteed Prize</td>
                    <td>Pending (Money Reserved)</td>
                    <td>2020/02/26 21:30:03</td>
                    <td>-11.00</td>
                    <td>0.00</td>
                    <td>Real Money</td>
                    <td></td>


                    <td style="white-space: nowrap;">
                        Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5129750">The Sheep Highway [Freeroll] (5129750)</a>
                    </td>
                </tr>
                <tr class="even">
                    <td>
                        <input type="checkbox" class="rowCheckbox" value="5129204">
                    </td>
                    <td></td>
                    <td>
                        <a href="/webadmin/transaction/info/id/5129204">
                            5129204
                        </a> &nbsp;
                    </td>
                    <td></td>
                    <td>-</td>
                    <td>Tournament Owner Reserve Guaranteed Prize</td>
                    <td>Pending (Money Reserved)</td>
                    <td>2020/02/26 20:00:03</td>
                    <td>-20.00</td>
                    <td>0.00</td>
                    <td>Real Money</td>
                    <td></td>


                    <td style="white-space: nowrap;">
                        Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5129203">The Two for Twenty [Freezeout] (5129203)</a>
                    </td>
                </tr>
                <tr class="odd">
                    <td>
                        <input type="checkbox" class="rowCheckbox" value="5128947">
                    </td>
                    <td></td>
                    <td>
                        <a href="/webadmin/transaction/info/id/5128947">
                            5128947
                        </a> &nbsp;
                    </td>
                    <td></td>
                    <td>-</td>
                    <td>Tournament Owner Reserve Guaranteed Prize</td>
                    <td>Pending (Money Reserved)</td>
                    <td>2020/02/26 19:15:03</td>
                    <td>-2.20</td>
                    <td>0.00</td>
                    <td>Real Money</td>
                    <td></td>


                    <td style="white-space: nowrap;">
                        Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5128946">The Twitch.tv Satellite R/A {Ticket} (5128946)</a>
                    </td>
                </tr>
                <tr class="even">
                    <td>
                        <input type="checkbox" class="rowCheckbox" value="5128845">
                    </td>
                    <td></td>
                    <td>
                        <a href="/webadmin/transaction/info/id/5128845">
                            5128845
                        </a> &nbsp;
                    </td>
                    <td></td>
                    <td>-</td>
                    <td>Tournament Owner Reserve Guaranteed Prize</td>
                    <td>Pending (Money Reserved)</td>
                    <td>2020/02/26 19:00:03</td>
                    <td>-10.00</td>
                    <td>0.00</td>
                    <td>Real Money</td>
                    <td></td>


                    <td style="white-space: nowrap;">
                        Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5128844">The Half Price Dazzler [R/A] (5128844)</a>
                    </td>
                </tr>
                <tr class="odd">
                    <td>
                        <input type="checkbox" class="rowCheckbox" value="5128487">
                    </td>
                    <td></td>
                    <td>
                        <a href="/webadmin/transaction/info/id/5128487">
                            5128487
                        </a> &nbsp;
                    </td>
                    <td></td>
                    <td>-</td>
                    <td>Tournament Owner Reserve Guaranteed Prize</td>
                    <td>Pending (Money Reserved)</td>
                    <td>2020/02/26 18:00:03</td>
                    <td>-10.00</td>
                    <td>0.00</td>
                    <td>Real Money</td>
                    <td></td>


                    <td style="white-space: nowrap;">
                        Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5128486">The Colosseum [Re-Entry] (5128486)</a>
                    </td>
                </tr>
                <tr class="even">
                    <td>
                        <input type="checkbox" class="rowCheckbox" value="5128130">
                    </td>
                    <td></td>
                    <td>
                        <a href="/webadmin/transaction/info/id/5128130">
                            5128130
                        </a> &nbsp;
                    </td>
                    <td></td>
                    <td>-</td>
                    <td>Tournament Owner Reserve Guaranteed Prize</td>
                    <td>Pending (Money Reserved)</td>
                    <td>2020/02/26 17:00:03</td>
                    <td>-5.00</td>
                    <td>0.00</td>
                    <td>Real Money</td>
                    <td></td>


                    <td style="white-space: nowrap;">
                        Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5128129">The Quarter Horse Turbo [R/A] (5128129)</a>
                    </td>
                </tr>
                <tr class="odd">
                    <td>
                        <input type="checkbox" class="rowCheckbox" value="5127241">
                    </td>
                    <td></td>
                    <td>
                        <a href="/webadmin/transaction/info/id/5127241">
                            5127241
                        </a> &nbsp;
                    </td>
                    <td></td>
                    <td>-</td>
                    <td>Tournament Owner Reserve Guaranteed Prize</td>
                    <td>Pending (Money Reserved)</td>
                    <td>2020/02/26 14:30:02</td>
                    <td>-11.00</td>
                    <td>0.00</td>
                    <td>Real Money</td>
                    <td></td>


                    <td style="white-space: nowrap;">
                        Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5127240">The Sheep Highway [Freeroll] (5127240)</a>
                    </td>
                </tr>
                <tr class="even">
                    <td>
                        <input type="checkbox" class="rowCheckbox" value="5127058">
                    </td>
                    <td></td>
                    <td>
                        <a href="/webadmin/transaction/info/id/5127058">
                            5127058
                        </a> &nbsp;
                    </td>
                    <td></td>
                    <td>-</td>
                    <td>Tournament Owner Reserve Guaranteed Prize</td>
                    <td>Pending (Money Reserved)</td>
                    <td>2020/02/26 14:00:02</td>
                    <td>-15.00</td>
                    <td>0.00</td>
                    <td>Real Money</td>
                    <td></td>


                    <td style="white-space: nowrap;">
                        Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5127057">The {Knockout} Zone PLO (5127057)</a>
                    </td>
                </tr>
                <tr class="odd">
                    <td>
                        <input type="checkbox" class="rowCheckbox" value="5126280">
                    </td>
                    <td></td>
                    <td>
                        <a href="/webadmin/transaction/info/id/5126280">
                            5126280
                        </a> &nbsp;
                    </td>
                    <td></td>
                    <td>-</td>
                    <td>Tournament Owner Reserve Guaranteed Prize</td>
                    <td>Pending (Money Reserved)</td>
                    <td>2020/02/26 12:00:02</td>
                    <td>-5.50</td>
                    <td>0.00</td>
                    <td>Real Money</td>
                    <td></td>


                    <td style="white-space: nowrap;">
                        Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5126279">200 GTD Satellite [R/A] (5126279)</a>
                    </td>
                </tr>
                <tr class="even">
                    <td>
                        <input type="checkbox" class="rowCheckbox" value="5126278">
                    </td>
                    <td></td>
                    <td>
                        <a href="/webadmin/transaction/info/id/5126278">
                            5126278
                        </a> &nbsp;
                    </td>
                    <td></td>
                    <td>-</td>
                    <td>Tournament Owner Reserve Guaranteed Prize</td>
                    <td>Pending (Money Reserved)</td>
                    <td>2020/02/26 12:00:01</td>
                    <td>-5.50</td>
                    <td>0.00</td>
                    <td>Real Money</td>
                    <td></td>


                    <td style="white-space: nowrap;">
                        Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5126277">200 GTD Satellite [Freezeout] (5126277)</a>
                    </td>
                </tr>
                <tr class="odd">
                    <td>
                        <input type="checkbox" class="rowCheckbox" value="5122352">
                    </td>
                    <td></td>
                    <td>
                        <a href="/webadmin/transaction/info/id/5122352">
                            5122352
                        </a> &nbsp;
                    </td>
                    <td></td>
                    <td>-</td>
                    <td>Tournament Owner Reserve Guaranteed Prize</td>
                    <td>Pending (Money Reserved)</td>
                    <td>2020/02/26 01:00:00</td>
                    <td>-100.00</td>
                    <td>0.00</td>
                    <td>Real Money</td>
                    <td></td>


                    <td style="white-space: nowrap;">
                        Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5122351">The Tuesday Twister [R/A] (5122351)</a>
                    </td>
                </tr>
                <tr class="even">
                    <td>
                        <input type="checkbox" class="rowCheckbox" value="5121989">
                    </td>
                    <td></td>
                    <td>
                        <a href="/webadmin/transaction/info/id/5121989">
                            5121989
                        </a> &nbsp;
                    </td>
                    <td></td>
                    <td>-</td>
                    <td>Tournament Owner Reserve Guaranteed Prize</td>
                    <td>Pending (Money Reserved)</td>
                    <td>2020/02/26 00:00:00</td>
                    <td>-10.00</td>
                    <td>0.00</td>
                    <td>Real Money</td>
                    <td></td>


                    <td style="white-space: nowrap;">
                        Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5121988">The Dollar Dazzler [R/A] (5121988)</a>
                    </td>
                </tr>
                <tr class="odd">
                    <td>
                        <input type="checkbox" class="rowCheckbox" value="5121991">
                    </td>
                    <td></td>
                    <td>
                        <a href="/webadmin/transaction/info/id/5121991">
                            5121991
                        </a> &nbsp;
                    </td>
                    <td></td>
                    <td>-</td>
                    <td>Tournament Owner Reserve Guaranteed Prize</td>
                    <td>Pending (Money Reserved)</td>
                    <td>2020/02/26 00:00:00</td>
                    <td>-5.00</td>
                    <td>0.00</td>
                    <td>Real Money</td>
                    <td></td>


                    <td style="white-space: nowrap;">
                        Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5121990">The Rat Race R/A Super Turbo (5121990)</a>
                    </td>
                </tr>
                <tr class="even">
                    <td>
                        <input type="checkbox" class="rowCheckbox" value="5117696">
                    </td>
                    <td></td>
                    <td>
                        <a href="/webadmin/transaction/info/id/5117696">
                            5117696
                        </a> &nbsp;
                    </td>
                    <td></td>
                    <td>-</td>
                    <td>Tournament Owner Reserve Guaranteed Prize</td>
                    <td>Pending (Money Reserved)</td>
                    <td>2020/02/25 12:00:28</td>
                    <td>-5.50</td>
                    <td>0.00</td>
                    <td>Real Money</td>
                    <td></td>


                    <td style="white-space: nowrap;">
                        Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5117695">200 GTD Satellite [R/A] (5117695)</a>
                    </td>
                </tr>
                <tr class="odd">
                    <td>
                        <input type="checkbox" class="rowCheckbox" value="5117694">
                    </td>
                    <td></td>
                    <td>
                        <a href="/webadmin/transaction/info/id/5117694">
                            5117694
                        </a> &nbsp;
                    </td>
                    <td></td>
                    <td>-</td>
                    <td>Tournament Owner Reserve Guaranteed Prize</td>
                    <td>Pending (Money Reserved)</td>
                    <td>2020/02/25 12:00:28</td>
                    <td>-5.50</td>
                    <td>0.00</td>
                    <td>Real Money</td>
                    <td></td>


                    <td style="white-space: nowrap;">
                        Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5117693">200 GTD Satellite [Freezeout] (5117693)</a>
                    </td>
                </tr>
                <tr class="even">
                    <td>
                        <input type="checkbox" class="rowCheckbox" value="5113770">
                    </td>
                    <td></td>
                    <td>
                        <a href="/webadmin/transaction/info/id/5113770">
                            5113770
                        </a> &nbsp;
                    </td>
                    <td></td>
                    <td>-</td>
                    <td>Tournament Owner Reserve Guaranteed Prize</td>
                    <td>Pending (Money Reserved)</td>
                    <td>2020/02/25 01:00:27</td>
                    <td>-75.00</td>
                    <td>0.00</td>
                    <td>Real Money</td>
                    <td></td>


                    <td style="white-space: nowrap;">
                        Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5113769">The Monday Massacre [R/A] [Twitch.TV] (5113769)</a>
                    </td>
                </tr>
                <tr class="odd">
                    <td>
                        <input type="checkbox" class="rowCheckbox" value="5113409">
                    </td>
                    <td></td>
                    <td>
                        <a href="/webadmin/transaction/info/id/5113409">
                            5113409
                        </a> &nbsp;
                    </td>
                    <td></td>
                    <td>-</td>
                    <td>Tournament Owner Reserve Guaranteed Prize</td>
                    <td>Pending (Money Reserved)</td>
                    <td>2020/02/25 00:00:26</td>
                    <td>-5.00</td>
                    <td>0.00</td>
                    <td>Real Money</td>
                    <td></td>


                    <td style="white-space: nowrap;">
                        Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5113408">The Rat Race R/A Super Turbo (5113408)</a>
                    </td>
                </tr>
                <tr class="even">
                    <td>
                        <input type="checkbox" class="rowCheckbox" value="5111964">
                    </td>
                    <td></td>
                    <td>
                        <a href="/webadmin/transaction/info/id/5111964">
                            5111964
                        </a> &nbsp;
                    </td>
                    <td></td>
                    <td>-</td>
                    <td>Tournament Owner Reserve Guaranteed Prize</td>
                    <td>Pending (Money Reserved)</td>
                    <td>2020/02/24 20:00:26</td>
                    <td>-50.00</td>
                    <td>0.00</td>
                    <td>Real Money</td>
                    <td></td>


                    <td style="white-space: nowrap;">
                        Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5111963">The Sunday Sitdown [R/A] [Twitch.tv] (5111963)</a>
                    </td>
                </tr>
                <tr class="odd">
                    <td>
                        <input type="checkbox" class="rowCheckbox" value="5109098">
                    </td>
                    <td></td>
                    <td>
                        <a href="/webadmin/transaction/info/id/5109098">
                            5109098
                        </a> &nbsp;
                    </td>
                    <td></td>
                    <td>-</td>
                    <td>Tournament Owner Reserve Guaranteed Prize</td>
                    <td>Pending (Money Reserved)</td>
                    <td>2020/02/24 12:00:25</td>
                    <td>-200.00</td>
                    <td>0.00</td>
                    <td>Real Money</td>
                    <td></td>


                    <td style="white-space: nowrap;">
                        Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5109097">The Super Sunday Surprise [R/A] [twitch.tv] (5109097)</a>
                    </td>
                </tr>
                <tr class="even">
                    <td>
                        <input type="checkbox" class="rowCheckbox" value="5104810">
                    </td>
                    <td></td>
                    <td>
                        <a href="/webadmin/transaction/info/id/5104810">
                            5104810
                        </a> &nbsp;
                    </td>
                    <td></td>
                    <td>-</td>
                    <td>Tournament Owner Reserve Guaranteed Prize</td>
                    <td>Pending (Money Reserved)</td>
                    <td>2020/02/24 00:00:23</td>
                    <td>-5.00</td>
                    <td>0.00</td>
                    <td>Real Money</td>
                    <td></td>


                    <td style="white-space: nowrap;">
                        Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5104809">The Rat Race R/A Super Turbo (5104809)</a>
                    </td>
                </tr>
                <tr class="odd">
                    <td>
                        <input type="checkbox" class="rowCheckbox" value="5103364">
                    </td>
                    <td></td>
                    <td>
                        <a href="/webadmin/transaction/info/id/5103364">
                            5103364
                        </a> &nbsp;
                    </td>
                    <td></td>
                    <td>-</td>
                    <td>Tournament Owner Reserve Guaranteed Prize</td>
                    <td>Pending (Money Reserved)</td>
                    <td>2020/02/23 20:00:23</td>
                    <td>-75.00</td>
                    <td>0.00</td>
                    <td>Real Money</td>
                    <td></td>


                    <td style="white-space: nowrap;">
                        Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5103363">The Sunday Sweeper [R/A] [Twitch.tv] (5103363)</a>
                    </td>
                </tr>
                <tr class="even">
                    <td>
                        <input type="checkbox" class="rowCheckbox" value="5096573">
                    </td>
                    <td></td>
                    <td>
                        <a href="/webadmin/transaction/info/id/5096573">
                            5096573
                        </a> &nbsp;
                    </td>
                    <td></td>
                    <td>-</td>
                    <td>Tournament Owner Reserve Guaranteed Prize</td>
                    <td>Pending (Money Reserved)</td>
                    <td>2020/02/23 01:00:21</td>
                    <td>-125.00</td>
                    <td>0.00</td>
                    <td>Real Money</td>
                    <td></td>


                    <td style="white-space: nowrap;">
                        Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5096572">The Saturday Shocker [R/A] [Twitch.tv] (5096572)</a>
                    </td>
                </tr>
                <tr class="odd">
                    <td>
                        <input type="checkbox" class="rowCheckbox" value="5088304">
                    </td>
                    <td></td>
                    <td>
                        <a href="/webadmin/transaction/info/id/5088304">
                            5088304
                        </a> &nbsp;
                    </td>
                    <td></td>
                    <td>-</td>
                    <td>Tournament Owner Reserve Guaranteed Prize</td>
                    <td>Pending (Money Reserved)</td>
                    <td>2020/02/22 02:00:18</td>
                    <td>-100.00</td>
                    <td>0.00</td>
                    <td>Real Money</td>
                    <td></td>


                    <td style="white-space: nowrap;">
                        Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5088303">The Friday Fantasy [R/A] [Twitch.tv] (5088303)</a>
                    </td>
                </tr>
                <tr class="even">
                    <td>
                        <input type="checkbox" class="rowCheckbox" value="5086855">
                    </td>
                    <td></td>
                    <td>
                        <a href="/webadmin/transaction/info/id/5086855">
                            5086855
                        </a> &nbsp;
                    </td>
                    <td></td>
                    <td>-</td>
                    <td>Tournament Owner Reserve Guaranteed Prize</td>
                    <td>Pending (Money Reserved)</td>
                    <td>2020/02/21 22:00:17</td>
                    <td>-75.00</td>
                    <td>0.00</td>
                    <td>Real Money</td>
                    <td></td>


                    <td style="white-space: nowrap;">
                        Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5086854">The Friday Feast [R/A] [Twitch.tv] (5086854)</a>
                    </td>
                </tr>
                <tr class="odd">
                    <td>
                        <input type="checkbox" class="rowCheckbox" value="5079345">
                    </td>
                    <td></td>
                    <td>
                        <a href="/webadmin/transaction/info/id/5079345">
                            5079345
                        </a> &nbsp;
                    </td>
                    <td></td>
                    <td>-</td>
                    <td>Tournament Owner Reserve Guaranteed Prize</td>
                    <td>Pending (Money Reserved)</td>
                    <td>2020/02/21 01:00:14</td>
                    <td>-100.00</td>
                    <td>0.00</td>
                    <td>Real Money</td>
                    <td></td>


                    <td style="white-space: nowrap;">
                        Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5079344">The Thursday Throwdown [R/A] [Twitch.tv] (5079344)</a>
                    </td>
                </tr>
                <tr class="even">
                    <td>
                        <input type="checkbox" class="rowCheckbox" value="4910984">
                    </td>
                    <td></td>
                    <td>
                        <a href="/webadmin/transaction/info/id/4910984">
                            4910984
                        </a> &nbsp;
                    </td>
                    <td>Yes</td>
                    <td><a href="/webadmin/user/info/id/2224669">L6NF2E99</a></td>
                    <td>To Player</td>
                    <td>Pending (Money Reserved)</td>
                    <td>2020/02/01 11:29:39</td>
                    <td>-5.00</td>
                    <td>0.00</td>
                    <td>Real Money</td>
                    <td>birthday game bounty winner=ought2bworkn</td>


                    <td style="white-space: nowrap;">
                        Player:&nbsp;<a href="/webadmin/user/info/id/2296292">XRQMY3BB</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/4910985">4910985</a>
                    </td>
                </tr>
                <tr class="odd">
                    <td>
                        <input type="checkbox" class="rowCheckbox" value="4910985">
                    </td>
                    <td></td>
                    <td>
                        <a href="/webadmin/transaction/info/id/4910985">
                            4910985
                        </a> &nbsp;
                    </td>
                    <td>Yes</td>
                    <td><a href="/webadmin/user/info/id/2296292">XRQMY3BB</a></td>
                    <td>Pended To Player</td>
                    <td>Pending</td>
                    <td>2020/02/01 11:29:39</td>
                    <td>0.00</td>
                    <td>5.00</td>
                    <td>Real Money</td>
                    <td>birthday game bounty winner=ought2bworkn</td>


                    <td style="white-space: nowrap;">
                        Player:&nbsp;<a href="/webadmin/user/info/id/2224669">L6NF2E99</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/4910984">4910984</a>
                    </td>
                </tr>
                <tr class="even">
                    <td>
                        <input type="checkbox" class="rowCheckbox" value="4910976">
                    </td>
                    <td></td>
                    <td>
                        <a href="/webadmin/transaction/info/id/4910976">
                            4910976
                        </a> &nbsp;
                    </td>
                    <td>Yes</td>
                    <td><a href="/webadmin/user/info/id/2224669">L6NF2E99</a></td>
                    <td>To Player</td>
                    <td>Pending (Money Reserved)</td>
                    <td>2020/02/01 11:29:02</td>
                    <td>-5.00</td>
                    <td>0.00</td>
                    <td>Real Money</td>
                    <td>birthday game bounty winner=surfman</td>


                    <td style="white-space: nowrap;">
                        Player:&nbsp;<a href="/webadmin/user/info/id/2239228">5VJ052BB</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/4910977">4910977</a>
                    </td>
                </tr>
                <tr class="odd">
                    <td>
                        <input type="checkbox" class="rowCheckbox" value="4910977">
                    </td>
                    <td></td>
                    <td>
                        <a href="/webadmin/transaction/info/id/4910977">
                            4910977
                        </a> &nbsp;
                    </td>
                    <td>Yes</td>
                    <td><a href="/webadmin/user/info/id/2239228">5VJ052BB</a></td>
                    <td>Pended To Player</td>
                    <td>Pending</td>
                    <td>2020/02/01 11:29:02</td>
                    <td>0.00</td>
                    <td>5.00</td>
                    <td>Real Money</td>
                    <td>birthday game bounty winner=surfman</td>


                    <td style="white-space: nowrap;">
                        Player:&nbsp;<a href="/webadmin/user/info/id/2224669">L6NF2E99</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/4910976">4910976</a>
                    </td>
                </tr>
                <tr class="even">
                    <td>
                        <input type="checkbox" class="rowCheckbox" value="4910969">
                    </td>
                    <td></td>
                    <td>
                        <a href="/webadmin/transaction/info/id/4910969">
                            4910969
                        </a> &nbsp;
                    </td>
                    <td>Yes</td>
                    <td><a href="/webadmin/user/info/id/2224669">L6NF2E99</a></td>
                    <td>To Player</td>
                    <td>Pending (Money Reserved)</td>
                    <td>2020/02/01 11:28:33</td>
                    <td>-5.00</td>
                    <td>0.00</td>
                    <td>Real Money</td>
                    <td>Birthday Game Bounty Winner-Farmgirl</td>


                    <td style="white-space: nowrap;">
                        Player:&nbsp;<a href="/webadmin/user/info/id/2230562">7PK4WJ99</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/4910970">4910970</a>
                    </td>
                </tr>
                <tr class="odd">
                    <td>
                        <input type="checkbox" class="rowCheckbox" value="4910970">
                    </td>
                    <td></td>
                    <td>
                        <a href="/webadmin/transaction/info/id/4910970">
                            4910970
                        </a> &nbsp;
                    </td>
                    <td>Yes</td>
                    <td><a href="/webadmin/user/info/id/2230562">7PK4WJ99</a></td>
                    <td>Pended To Player</td>
                    <td>Pending</td>
                    <td>2020/02/01 11:28:33</td>
                    <td>0.00</td>
                    <td>5.00</td>
                    <td>Real Money</td>
                    <td>Birthday Game Bounty Winner-Farmgirl</td>


                    <td style="white-space: nowrap;">
                        Player:&nbsp;<a href="/webadmin/user/info/id/2224669">L6NF2E99</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/4910969">4910969</a>
                    </td>
                </tr>
            </table>
            <div class='rowCount'>
                <div class="row">
                    <div class="col-md-3">
                        Rows: 43&ensp;|&ensp;
                        <div class="limit-controls" style="display: inline-block;">
                            <div id="perpage">Per page:</div>
                            <select class="limit-links">
                                <option data-href="/webadmin/transaction/list-pending/limit/10">10</option>
                                <option data-href="/webadmin/transaction/list-pending/limit/25">25</option>
                                <option selected data-href="/webadmin/transaction/list-pending/limit/50">50</option>
                                <option data-href="/webadmin/transaction/list-pending/limit/100">100</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6" style="display: flex; justify-content: center">
                        <div class="paginator-controls" id="blockPaginatorControls">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="pull-right">
                            <a href="/webadmin/transaction/list-pending/_output/xlsx"><img src="img/icons/xls.svg" alt="Excel"></a>
                            <a href="/webadmin/transaction/list-pending/_output/csv"><img src="img/icons/csv.svg" alt="CSV"></a>
                            <a href="/webadmin/transaction/list-pending/_output/ods"><img src="img/icons/odt.svg" alt="OpenDocument" /></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<button id="approveButton" class="btn btn-primary">Approve</button>
<button id="declineButton" class="btn btn-warning">Decline</button>