﻿
@{
    ViewBag.Title = "ListCashOutPending";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Pending Cashout Transactions <a href="http://docs.evenbetgaming.com/articles/Administration_Panel/Pending%20Cashout%20Transactions.html" target="_blank"><sup><i class="fa fa-question-circle"></i></sup></a></h3>

<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            <label for="update-combo">Refresh Period</label>
            <select id="update-combo" name="update" class="form-control">
                <option value="0" selected>Off</option>
                <option value="30">30 sec</option>
                <option value="60">1 min</option>
                <option value="120">2 min</option>
                <option value="300">5 min</option>
                <option value="600">10 min</option>
            </select>
        </div>
    </div>
</div>



<div class="box">
    <div class="box-body">
        <div id="dynamicContent">






            <div class="custom-dropdown-menu" id="columnsControls">
            </div>

            <table class="listing-table" id="pendingCashoutTable">
                <thead class="listHead">
                    <tr>
                        <th data-dt-width="75" data-dt-fixed-left="true"><input type="checkbox" class="rowCheckbox" id="rowCheckboxAll" value="1"></th>

                        <th data-meta-skip-manage='true' data-dt-width="75" data-dt-fixed-left="true">
                            <div>
                                <button type="button" class="btn btn-primary custom-dropdown" id="columnControlsBtn">
                                    <img src="img/icons/menu.svg" alt="+">
                                </button>
                            </div>
                        </th>
                        <th data-meta-key='f_id' data-meta-visibility="true">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_id" orderType="">
                                    ID
                                </a>
                            </nobr>
                        </th>
                        <th data-meta-key='f_player_id' data-meta-visibility="true">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_player_id" orderType="">
                                    Player
                                </a>
                            </nobr>
                        </th>
                        <th data-meta-key='f_verified' data-meta-visibility="true">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_verified" orderType="">
                                    Player Verified
                                </a>
                            </nobr>
                        </th>
                        <th data-meta-key='f_stamp' data-meta-visibility="true">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_stamp" orderType="ASC">
                                    Date
                                    <img src="img/arrow_down.png" />
                                </a>
                            </nobr>
                        </th>
                        <th data-meta-key='f_value' data-meta-visibility="true">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_value" orderType="">
                                    Value
                                </a>
                            </nobr>
                        </th>
                        <th data-meta-key='f_money_type' data-meta-visibility="true">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_money_type" orderType="">
                                    Money type
                                </a>
                            </nobr>
                        </th>
                        <th data-meta-key='pt_value' data-meta-visibility="true">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="pt_value" orderType="">
                                    PS. Value
                                </a>
                            </nobr>
                        </th>
                        <th data-meta-key='pt_iso_code' data-meta-visibility="true">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="pt_iso_code" orderType="">
                                    PS. Currency Code
                                </a>
                            </nobr>
                        </th>
                        <th data-meta-key='pt_internal_fee' data-meta-visibility="true">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="pt_internal_fee" orderType="">
                                    Internal Fee
                                </a>
                            </nobr>
                        </th>
                        <th data-meta-key='lastDeposit' data-meta-visibility="true">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="lastDeposit" orderType="">
                                    Last Deposit
                                </a>
                            </nobr>
                        </th>
                        <th data-meta-key='f_param_notes' data-meta-visibility="true">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_param_notes" orderType="">
                                    Notes
                                </a>
                            </nobr>
                        </th>
                        <th data-meta-key='f_security' data-meta-visibility="true">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_security" orderType="">
                                    Security
                                </a>
                            </nobr>
                        </th>
                    </tr>
                    <tr class="listFilter">
                        <th>&nbsp;</th>
                        <th>

                            <button name="butFilter" id="butFilter" type="button">Apply Filter</button>

                            <button name="butReset" id="butReset" type="button">Reset Filter</button>
                        </th>
                        <th>
                            <input type="text" name="f_id" id="f_id" value="" filter="1" controller="transaction" action="info" sql="m.f_id" orderable="1" nonHtml="" style="width:50px;" class="filter" />
                        </th>
                        <th>
                            <input type="text" name="f_player_id" id="f_player_id" value="" filter="1" sql_nick="p.f_nick" sql="m.f_player_id" orderable="1" nonHtml="" class="filter" />
                        </th>
                        <th>
                            <select name="f_verified" id="f_verified" filter="1" orderable="1" sql="f_verified" nonHtml="" class="filter">
                                <option value="">-</option>
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </th>
                        <th>
                            <input type="text" name="f_stamp" id="f_stamp" value="" filter="1" style="width: 120px" orderable="1" sql="f_stamp" nonHtml="" class="filter" readonly="readonly" onclick='displayDatePicker("f_stamp", false, "ymd", "-");' />
                        </th>
                        <th>
                            <input type="text" name="f_value" id="f_value" value="" filter="1" sql="m.f_value" orderable="1" nonHtml="" class="filter" />
                        </th>
                        <th>
                            <select name="f_money_type" id="f_money_type" filter="1" sql="m.f_money_type" orderable="1" nonHtml="" class="filter">
                                <option value="">-</option>
                                <option value="82">Real Money</option>
                                <option value="80">Play Money</option>
                                <option value="65">cash game points</option>
                            </select>
                        </th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>
                            <input type="text" name="f_param_notes" id="f_param_notes" value="" filter="1" orderable="1" sql="f_param_notes" nonHtml="" class="filter" />
                        </th>
                        <th>
                            <input type="text" name="f_security" id="f_security" value="" filter="1" sql="if(f_security is null, 0, f_security)" orderable="1" nonHtml="" class="filter" />
                        </th>

                    </tr>
                </thead>

                <tr class="odd">
                    <td>
                        <input type="checkbox" class="rowCheckbox" value="4911101">
                    </td>
                    <td>
                        <div class="dropdown text-center">
                            <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                    type="button" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-bars"></i>
                            </button>
                            <div class="dropdown-menu table-dropdown">
                                <a href="/webadmin/transaction/log/id/4911101">
                                    <div class="list" id="list-4911101"></div>Cashout Log
                                </a>


                            </div>
                        </div>
                    </td>
                    <td>
                        <a href="/webadmin/transaction/info/id/4911101">
                            4911101
                        </a> &nbsp;
                    </td>
                    <td><a href="/webadmin/user/info/id/3878471">8E5IIZ66</a></td>
                    <td>Yes</td>
                    <td>2020/02/01 11:55:38</td>
                    <td>-65.00</td>
                    <td>Real Money</td>
                    <td>0.00650000</td>
                    <td>BTC</td>
                    <td>0.00000000</td>
                    <td></td>
                    <td>Bitcoin address: 3Lv25F8WACKGsj2w3tuUoRykbwXJ4jYCiQ</td>
                    <td>0</td>

                </tr>
                <tr class="even">
                    <td>
                        <input type="checkbox" class="rowCheckbox" value="4883440">
                    </td>
                    <td>
                        <div class="dropdown text-center">
                            <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                    type="button" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-bars"></i>
                            </button>
                            <div class="dropdown-menu table-dropdown">
                                <a href="/webadmin/transaction/log/id/4883440">
                                    <div class="list" id="list-4883440"></div>Cashout Log
                                </a>


                            </div>
                        </div>
                    </td>
                    <td>
                        <a href="/webadmin/transaction/info/id/4883440">
                            4883440
                        </a> &nbsp;
                    </td>
                    <td><a href="/webadmin/user/info/id/4246212">ULDGXD44</a></td>
                    <td>Yes</td>
                    <td>2020/01/31 18:42:05</td>
                    <td>-1400.00</td>
                    <td>Real Money</td>
                    <td>0.14000000</td>
                    <td>BTC</td>
                    <td>0.00000000</td>
                    <td></td>
                    <td>Bitcoin address: 3CNk6iFYaYsU5ConsFogPveXFLKX9Lwz81</td>
                    <td>0</td>

                </tr>
            </table>
            <div class='rowCount'>
                <div class="row">
                    <div class="col-md-3">
                        Rows: 2&ensp;|&ensp;
                        <div class="limit-controls" style="display: inline-block;">
                            <div id="perpage">Per page:</div>
                            <select class="limit-links">
                                <option data-href="/webadmin/transaction/list-cash-out-pending/limit/10">10</option>
                                <option data-href="/webadmin/transaction/list-cash-out-pending/limit/25">25</option>
                                <option selected data-href="/webadmin/transaction/list-cash-out-pending/limit/50">50</option>
                                <option data-href="/webadmin/transaction/list-cash-out-pending/limit/100">100</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6" style="display: flex; justify-content: center">
                        <div class="paginator-controls" id="blockPaginatorControls">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="pull-right">
                            <a href="/webadmin/transaction/list-cash-out-pending/_output/xlsx"><img src="img/icons/xls.svg" alt="Excel"></a>
                            <a href="/webadmin/transaction/list-cash-out-pending/_output/csv"><img src="img/icons/csv.svg" alt="CSV"></a>
                            <a href="/webadmin/transaction/list-cash-out-pending/_output/ods"><img src="img/icons/odt.svg" alt="OpenDocument" /></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<br>
<button id="approveButton" class="btn btn-primary">Approve (with payment system)</button>
<button id="approveNoPaymentButton" class="btn btn-info">Approve (with manual payment)</button>
<button id="declineButton" class="btn btn-warning">Decline</button>

<script>
    $("#dynamicContent").on('draw.dt', 'table.listing-table', function () {
        var approveBtn = $("#approveButton");
        $(".listing-table input[type=checkbox].has_error_or_in_progress")
            .on("ifChanged", function () {
                var disabled = $(".listing-table input[type=checkbox].has_error_or_in_progress:checked").length > 0;
                approveBtn.attr('disabled', disabled);
            });
    });

//        require(["dojo/on"], function (on) {
//            on(document, "listingSetup", function () {
//                var approveBtn = dojo.byId("approveButton");
//                dojo.query(".listing-table input[type=checkbox].has_error")
//                        .connect("onchange", function () {
//                            if (dojo.query(".listing-table input[type=checkbox].has_error:checked").length > 0) {
//                                approveBtn.disabled = true;
//                            } else {
//                                approveBtn.disabled = false;
//                            }
//                        });
//            });
//        });
</script>