﻿
@{
    ViewBag.Title = "LiteCoin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h1>Litecoin Settings <a href="http://docs.evenbetgaming.com/articles/Administration_Panel/Litecoin.html" target="_blank"><sup><i class="fa fa-question-circle"></i></sup></a></h1>

<div class="box box-solid">
    <form enctype="application/x-www-form-urlencoded" action="" method="post" dojoType="dijit.form.Form">
        <div class="box-body">
            <div class="form-group" id="form-element-skin">
                <label for="__skin" class="optional">Skin</label>
                <select name="__skin" id="__skin" class="form-control select2" data-skin-action="/webadmin/payments-settings/litecoin/index/skin/_skin_" data-no-skin-action="/webadmin/payments-settings/litecoin">
                    <option value="">Base</option>
                </select>
            </div>
        </div><div class="nav-tabs-custom" id="tabs_169">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#tabs_169___main__" data-toggle="tab" aria-expanded="true">
                        Main
                    </a>
                </li>
                <li>
                    <a href="#tabs_169_groups" data-toggle="tab" aria-expanded="false">
                        Player Groups
                    </a>
                </li>
                <li>
                    <a href="#tabs_169_moneyTypes" data-toggle="tab" aria-expanded="false">
                        Currencies
                    </a>
                </li>
                <li>
                    <a href="#tabs_169_billCurrencies" data-toggle="tab" aria-expanded="false">
                        Payment System Currencies
                    </a>
                </li>
                <li>
                    <a href="#tabs_169_limits" data-toggle="tab" aria-expanded="false">
                        Limits
                    </a>
                </li>
                <li class='dropdown'><a href='#' class='dropdown-toggle' data-toggle='dropdown'>Extra<span class='caret'></span><ul class='dropdown-menu'></a>
                <li class='presentation'><a href='/webadmin/payments-settings/litecoin/player-address-list'>Player Litecoin Address List</a></li>
            </ul></li></ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tabs_169___main__">
                    <div class="form-group" id="form-element-is_enabled">
                        <div class="checkbox">
                            <label>
                                <input type="hidden" name="is_enabled" value="0" /><input type="checkbox" name="is_enabled" id="is_enabled" value="1" checked="checked" />Active
                            </label>
                        </div>
                    </div>
                    <div class="form-group" id="form-element-label">
                        <label for="label" class="optional">Label</label>

                        <input type="text" name="label" id="label" value="" class="form-control" />
                    </div>
                    <div class="form-group" id="form-element-label_cashout">
                        <label for="label_cashout" class="optional">Label Cashout</label>

                        <input type="text" name="label_cashout" id="label_cashout" value="" class="form-control" />
                    </div>
                    <div class="form-group" id="form-element-rpc_url">
                        <label for="rpc_url" class="required">RPC URL</label>

                        <input type="text" name="rpc_url" id="rpc_url" value="" class="form-control" />
                    </div>
                    <div class="form-group" id="form-element-txfee">
                        <label for="txfee" class="optional">CashOut Fee, Satoshis Per Byte</label>

                        <input type="text" name="txfee" id="txfee" value="" class="form-control" />
                    </div>
                    <div class="form-group" id="form-element-segwit_txfee">
                        <label for="segwit_txfee" class="optional">CashOut Fee (Segwit), Satoshis Per Byte</label>

                        <input type="text" name="segwit_txfee" id="segwit_txfee" value="" class="form-control" />
                    </div>
                    <div class="form-group" id="form-element-txfee_paid_player">
                        <div class="checkbox">
                            <label>
                                <input type="hidden" name="txfee_paid_player" value="0" /><input type="checkbox" name="txfee_paid_player" id="txfee_paid_player" value="1" />Tax Is Paid By The Player
                            </label>
                        </div>
                    </div>
                    <div class="form-group" id="form-element-txfee_size">
                        <label for="txfee_size" class="optional">Transaction Fee, Satoshis</label>

                        <input type="text" name="txfee_size" id="txfee_size" value="" class="form-control" />
                    </div>
                    <div class="form-group" id="form-element-segwit_txfee_size">
                        <label for="segwit_txfee_size" class="optional">Transaction Fee (Segwit), Satoshis</label>

                        <input type="text" name="segwit_txfee_size" id="segwit_txfee_size" value="" class="form-control" />
                    </div>
                    <div class="form-group" id="form-element-minConfirmations">
                        <label for="minConfirmations" class="required">Number Of Confirmations Of The Transaction</label>

                        <input type="text" name="minConfirmations" id="minConfirmations" value="" class="form-control" />
                    </div>
                    <div class="form-group" id="form-element-passphrase">
                        <label for="passphrase" class="optional">Passphrase</label>

                        <input type="text" name="passphrase" id="passphrase" value="" class="form-control" />
                    </div>
                    <div class="form-group" id="form-element-cold_storage_address">
                        <label for="cold_storage_address" class="optional">Cold Storage Address</label>

                        <input type="text" name="cold_storage_address" id="cold_storage_address" value="" class="form-control" />
                    </div>
                    <div class="form-group" id="form-element-block_io_api_key">
                        <label for="block_io_api_key" class="optional">Block.io ApiKey</label>

                        <input type="text" name="block_io_api_key" id="block_io_api_key" value="" autocomplete="new-password" class="form-control" />
                    </div>
                    <div class="form-group" id="form-element-block_io_pin">
                        <label for="block_io_pin" class="optional">Block.io PIN</label>

                        <input type="password" name="block_io_pin" id="block_io_pin" value="" autocomplete="new-password" class="form-control" />
                    </div>
                    <div class="form-group" id="form-element-useSegwitAddress">
                        <div class="checkbox">
                            <label>
                                <input type="hidden" name="useSegwitAddress" value="0" /><input type="checkbox" name="useSegwitAddress" id="useSegwitAddress" value="1" />Use Segwit Address
                            </label>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tabs_169_groups">
                    <div class="box-body">
                        <div class="form-group" id="form-element-payment_include">
                            <label for="groups-payment_include" class="optional">Players That Can Make Deposit Through This Payment Gateway (Everyone If Not Selected)</label>

                            <select name="groups[payment_include][]" id="groups-payment_include" multiple="multiple" class="form-control select2">
                            </select>
                        </div>
                        <div class="form-group" id="form-element-payment_exclude">
                            <label for="groups-payment_exclude" class="optional">Players That Can't Make Deposit Through This Payment Gateway</label>

                            <select name="groups[payment_exclude][]" id="groups-payment_exclude" multiple="multiple" class="form-control select2">
                            </select>
                        </div>
                        <div class="form-group" id="form-element-cashout_include">
                            <label for="groups-cashout_include" class="optional">Players That Can Make Withdraw Through This Payment Gateway  (Everyone If Not Selected)</label>

                            <select name="groups[cashout_include][]" id="groups-cashout_include" multiple="multiple" class="form-control select2">
                            </select>
                        </div>
                        <div class="form-group" id="form-element-cashout_exclude">
                            <label for="groups-cashout_exclude" class="optional">Players That Can't Make Withdraw Through This Payment Gateway</label>

                            <select name="groups[cashout_exclude][]" id="groups-cashout_exclude" multiple="multiple" class="form-control select2">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tabs_169_moneyTypes">

                    <div class="form-group" id="form-element-deposit">
                        <label for="moneyTypes-deposit" class="optional">To Deposit</label>

                        <select name="moneyTypes[deposit][]" id="moneyTypes-deposit" multiple="multiple" class="form-control select2">
                            <option value="82">Real Money</option>
                            <option value="80">Play Money</option>
                            <option value="65">cash game points</option>
                        </select>
                    </div>
                    <div class="form-group" id="form-element-withdrawal">
                        <label for="moneyTypes-withdrawal" class="optional">To Withdrawal</label>

                        <select name="moneyTypes[withdrawal][]" id="moneyTypes-withdrawal" multiple="multiple" class="form-control select2">
                            <option value="82">Real Money</option>
                            <option value="80">Play Money</option>
                            <option value="65">cash game points</option>
                        </select>
                    </div>
                </div>
                <div class="tab-pane" id="tabs_169_billCurrencies">
                    <div class="box-body">
                        <div class="form-group" id="form-element-deposit">
                            <label for="billCurrencies-deposit" class="required">To Deposit</label>

                            <select name="billCurrencies[deposit][]" id="billCurrencies-deposit" multiple="multiple" class="form-control select2">
                                <option value="LTC">LTC</option>
                            </select>
                        </div>
                        <div class="form-group" id="form-element-withdrawal">
                            <label for="billCurrencies-withdrawal" class="required">To Withdrawal</label>

                            <select name="billCurrencies[withdrawal][]" id="billCurrencies-withdrawal" multiple="multiple" class="form-control select2">
                                <option value="LTC">LTC</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tabs_169_limits">

                    <div class="nav-tabs-custom" id="limits">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#limits_82" data-toggle="tab" aria-expanded="true">
                                    Real Money
                                </a>
                            </li>
                            <li>
                                <a href="#limits_80" data-toggle="tab" aria-expanded="false">
                                    Play Money
                                </a>
                            </li>
                            <li>
                                <a href="#limits_65" data-toggle="tab" aria-expanded="false">
                                    cash game points
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="limits_82">
                                <div class="box-body">
                                    <div class="form-group" id="form-element-minDeposit">
                                        <label for="limits-82-minDeposit" class="optional">Min Deposit</label>

                                        <input type="text" name="limits[82][minDeposit]" id="limits-82-minDeposit" value="" class="form-control" />
                                    </div>
                                    <div class="form-group" id="form-element-maxDeposit">
                                        <label for="limits-82-maxDeposit" class="optional">Max Deposit</label>

                                        <input type="text" name="limits[82][maxDeposit]" id="limits-82-maxDeposit" value="" class="form-control" />
                                    </div>
                                    <div class="form-group" id="form-element-minWithdrawal">
                                        <label for="limits-82-minWithdrawal" class="optional">Min Withdrawal</label>

                                        <input type="text" name="limits[82][minWithdrawal]" id="limits-82-minWithdrawal" value="" class="form-control" />
                                        <span class="help-block">Doesn’t include withdrawal fee taken for transactions processing</span>
                                    </div>
                                    <div class="form-group" id="form-element-maxWithdrawal">
                                        <label for="limits-82-maxWithdrawal" class="optional">Max Withdrawal</label>

                                        <input type="text" name="limits[82][maxWithdrawal]" id="limits-82-maxWithdrawal" value="" class="form-control" />
                                    </div>
                                    <div class="form-group" id="form-element-withdrawalFeeRate">
                                        <label for="limits-82-withdrawalFeeRate" class="optional">Withdrawal Fee, %</label>

                                        <input type="text" name="limits[82][withdrawalFeeRate]" id="limits-82-withdrawalFeeRate" value="" class="form-control" />
                                    </div>
                                    <div class="form-group" id="form-element-minWithdrawalFee">
                                        <label for="limits-82-minWithdrawalFee" class="optional">Min Withdrawal Fee Amount</label>

                                        <input type="text" name="limits[82][minWithdrawalFee]" id="limits-82-minWithdrawalFee" value="" class="form-control" />
                                    </div>
                                    <div class="form-group" id="form-element-withdrawal_userMustBeVerified">
                                        <div class="checkbox">
                                            <label>
                                                <input type="hidden" name="limits[82][withdrawal_userMustBeVerified]" value="0" /><input type="checkbox" name="limits[82][withdrawal_userMustBeVerified]" id="limits-82-withdrawal_userMustBeVerified" value="1" checked="checked" />The player must be verified to make cashouts
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="limits_80">
                                <div class="box-body">
                                    <div class="form-group" id="form-element-minDeposit">
                                        <label for="limits-80-minDeposit" class="optional">Min Deposit</label>

                                        <input type="text" name="limits[80][minDeposit]" id="limits-80-minDeposit" value="" class="form-control" />
                                    </div>
                                    <div class="form-group" id="form-element-maxDeposit">
                                        <label for="limits-80-maxDeposit" class="optional">Max Deposit</label>

                                        <input type="text" name="limits[80][maxDeposit]" id="limits-80-maxDeposit" value="" class="form-control" />
                                    </div>
                                    <div class="form-group" id="form-element-minWithdrawal">
                                        <label for="limits-80-minWithdrawal" class="optional">Min Withdrawal</label>

                                        <input type="text" name="limits[80][minWithdrawal]" id="limits-80-minWithdrawal" value="" class="form-control" />
                                        <span class="help-block">Doesn’t include withdrawal fee taken for transactions processing</span>
                                    </div>
                                    <div class="form-group" id="form-element-maxWithdrawal">
                                        <label for="limits-80-maxWithdrawal" class="optional">Max Withdrawal</label>

                                        <input type="text" name="limits[80][maxWithdrawal]" id="limits-80-maxWithdrawal" value="" class="form-control" />
                                    </div>
                                    <div class="form-group" id="form-element-withdrawalFeeRate">
                                        <label for="limits-80-withdrawalFeeRate" class="optional">Withdrawal Fee, %</label>

                                        <input type="text" name="limits[80][withdrawalFeeRate]" id="limits-80-withdrawalFeeRate" value="" class="form-control" />
                                    </div>
                                    <div class="form-group" id="form-element-minWithdrawalFee">
                                        <label for="limits-80-minWithdrawalFee" class="optional">Min Withdrawal Fee Amount</label>

                                        <input type="text" name="limits[80][minWithdrawalFee]" id="limits-80-minWithdrawalFee" value="" class="form-control" />
                                    </div>
                                    <div class="form-group" id="form-element-withdrawal_userMustBeVerified">
                                        <div class="checkbox">
                                            <label>
                                                <input type="hidden" name="limits[80][withdrawal_userMustBeVerified]" value="0" /><input type="checkbox" name="limits[80][withdrawal_userMustBeVerified]" id="limits-80-withdrawal_userMustBeVerified" value="1" checked="checked" />The player must be verified to make cashouts
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="limits_65">
                                <div class="box-body">
                                    <div class="form-group" id="form-element-minDeposit">
                                        <label for="limits-65-minDeposit" class="optional">Min Deposit</label>

                                        <input type="text" name="limits[65][minDeposit]" id="limits-65-minDeposit" value="" class="form-control" />
                                    </div>
                                    <div class="form-group" id="form-element-maxDeposit">
                                        <label for="limits-65-maxDeposit" class="optional">Max Deposit</label>

                                        <input type="text" name="limits[65][maxDeposit]" id="limits-65-maxDeposit" value="" class="form-control" />
                                    </div>
                                    <div class="form-group" id="form-element-minWithdrawal">
                                        <label for="limits-65-minWithdrawal" class="optional">Min Withdrawal</label>

                                        <input type="text" name="limits[65][minWithdrawal]" id="limits-65-minWithdrawal" value="" class="form-control" />
                                        <span class="help-block">Doesn’t include withdrawal fee taken for transactions processing</span>
                                    </div>
                                    <div class="form-group" id="form-element-maxWithdrawal">
                                        <label for="limits-65-maxWithdrawal" class="optional">Max Withdrawal</label>

                                        <input type="text" name="limits[65][maxWithdrawal]" id="limits-65-maxWithdrawal" value="" class="form-control" />
                                    </div>
                                    <div class="form-group" id="form-element-withdrawalFeeRate">
                                        <label for="limits-65-withdrawalFeeRate" class="optional">Withdrawal Fee, %</label>

                                        <input type="text" name="limits[65][withdrawalFeeRate]" id="limits-65-withdrawalFeeRate" value="" class="form-control" />
                                    </div>
                                    <div class="form-group" id="form-element-minWithdrawalFee">
                                        <label for="limits-65-minWithdrawalFee" class="optional">Min Withdrawal Fee Amount</label>

                                        <input type="text" name="limits[65][minWithdrawalFee]" id="limits-65-minWithdrawalFee" value="" class="form-control" />
                                    </div>
                                    <div class="form-group" id="form-element-withdrawal_userMustBeVerified">
                                        <div class="checkbox">
                                            <label>
                                                <input type="hidden" name="limits[65][withdrawal_userMustBeVerified]" value="0" /><input type="checkbox" name="limits[65][withdrawal_userMustBeVerified]" id="limits-65-withdrawal_userMustBeVerified" value="1" checked="checked" />The player must be verified to make cashouts
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="submit" name="submit" id="submit" value="Send" class="btn btn-primary" />
        </div>
    </form>
</div>