﻿
@{
    ViewBag.Title = "LobbyChat";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h3>Chat <a href="http://docs.evenbetgaming.com/articles/Administration_Panel/Lobby%20Chat.html" target="_blank"><sup><i class="fa fa-question-circle"></i></sup></a></h3>
<div class="form-group">
    <input class="form-control" id="chatMessage" maxlength="1000">
</div>
<div class="form-group">
    <button id="submitChatMessage" class="btn btn-primary">Send to lobby</button>
    <button id="submitChatMessageToAll" class="btn btn-primary">Send to all tables</button>
</div>
<div class="form-group">
    <textarea id="lobbyChat" rows="30" cols="100" class="form-control" readonly></textarea><br />
</div>
