﻿
@{
    ViewBag.Title = "Localization";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Localization</h3>

<div id="response"></div>
<style type="text/css">

    .purple-skin table.dataTable tbody tr.custom-translate,
    tr.custom-translate {
        background-color: #d1e5e9;
    }

    .purple-skin table.dataTable tbody tr.not-translated,
    tr.not-translated {
        background-color: #edcfd4;
    }
</style>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                <div id="dynamicContent">




                    <div class="custom-dropdown-menu" id="columnsControls">
                    </div>


                    <table id='stringsList' class="listing-table">
                        <thead class="listHead">
                            <tr>
                                <th data-meta-skip-manage='true'>
                                    <div>
                                        <button type="button" class="btn btn-primary custom-dropdown" id="columnControlsBtn">
                                           <i class="fa fa-cog"></i>
                                        </button>
                                    </div>
                                </th>
                                <th data-meta-key='f_key' data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_key" orderType="DESC">
                                            Key
                                            <img src="~/Assest/img/arrow_up.png" />                                          
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_lang_id' data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_lang_id" orderType="">
                                            Language
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_skin_id' data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_skin_id" orderType="">
                                            Skin
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_reference' data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_reference" orderType="">
                                            Reference
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_is_not_translated' data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_is_not_translated" orderType="">
                                            Not Translated
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_text' data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_text" orderType="">
                                            Translation
                                        </a>
                                    </nobr>
                                </th>
                            </tr>
                            <tr class="listFilter">
                                <th>

                                    <button name="butFilter" id="butFilter" type="button">Apply Filter</button>

                                    <button name="butReset" id="butReset" type="button">Reset Filter</button>
                                </th>
                                <th>
                                    <input type="text" name="f_key" id="f_key" value="" filter="1" sql="reference_default.f_key" orderable="1" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <select name="f_lang_id" id="f_lang_id" filter="1" sql="strings.f_lang_id" orderable="1" nonHtml="" class="filter">
                                        <option value="0" selected="selected">English</option>
                                        <option value="28">Czech</option>
                                        <option value="33">German</option>
                                        <option value="40">Spanish</option>
                                        <option value="70">Italian</option>
                                        <option value="74">Georgian</option>
                                        <option value="105">Malay</option>
                                        <option value="125">Portuguese</option>
                                        <option value="130">Russian</option>
                                        <option value="153">Thai</option>
                                        <option value="177">Chinese</option>
                                    </select>
                                </th>
                                <th>
                                    <select name="f_skin_id" id="f_skin_id" filter="1" sql="reference_default.f_skin_id" orderable="1" nonHtml="" class="filter">
                                        <option value="0" selected="selected">Default</option>
                                    </select>
                                </th>
                                <th>
                                    <input type="text" name="f_reference" id="f_reference" value="" filter="1" sql="IFNULL(reference_custom.f_text, reference_default.f_text)" orderable="1" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <select name="f_is_not_translated" id="f_is_not_translated" filter="1" sql="strings.f_id IS NULL" orderable="1" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="1">Yes</option>
                                        <option value="0">No</option>
                                    </select>
                                </th>
                                <th>
                                    <input type="text" name="f_text" id="f_text" value="" filter="1" sql="strings.f_text" orderable="1" nonHtml="" class="filter" />
                                </th>

                            </tr>
                        </thead>

                        <tr class="odd translated default-translate" stringId="5833" appType="1">
                            <td class="pointer" fieldName="buttons" fieldValue="">
                            </td>
                            <td class="pointer" fieldName="f_key" fieldValue="card.comb-and-descr">
                                card.comb-and-descr
                            </td>
                            <td class="pointer" fieldName="f_lang_id" fieldValue="0">
                                English
                            </td>
                            <td class="pointer" fieldName="f_skin_id" fieldValue="0">
                                Default
                            </td>
                            <td class="pointer" fieldName="f_reference" fieldValue="%1 %2">
                                %1 %2
                            </td>
                            <td class="pointer" fieldName="f_is_not_translated" fieldValue="0">
                                No
                            </td>
                            <td class="pointer" fieldName="f_text" fieldValue="%1 %2">
                                %1 %2
                            </td>
                        </tr>
                        <tr class="even translated default-translate" stringId="4278" appType="1">
                            <td class="pointer" fieldName="buttons" fieldValue="">
                            </td>
                            <td class="pointer" fieldName="f_key" fieldValue="card.comb-fmt.flush">
                                card.comb-fmt.flush
                            </td>
                            <td class="pointer" fieldName="f_lang_id" fieldValue="0">
                                English
                            </td>
                            <td class="pointer" fieldName="f_skin_id" fieldValue="0">
                                Default
                            </td>
                            <td class="pointer" fieldName="f_reference" fieldValue="high %1">
                                high %1
                            </td>
                            <td class="pointer" fieldName="f_is_not_translated" fieldValue="0">
                                No
                            </td>
                            <td class="pointer" fieldName="f_text" fieldValue="high %1">
                                high %1
                            </td>
                        </tr>
                        <tr class="odd translated default-translate" stringId="1" appType="1">
                            <td class="pointer" fieldName="buttons" fieldValue="">
                            </td>
                            <td class="pointer" fieldName="f_key" fieldValue="card.comb-fmt.four">
                                card.comb-fmt.four
                            </td>
                            <td class="pointer" fieldName="f_lang_id" fieldValue="0">
                                English
                            </td>
                            <td class="pointer" fieldName="f_skin_id" fieldValue="0">
                                Default
                            </td>
                            <td class="pointer" fieldName="f_reference" fieldValue="%1">
                                %1
                            </td>
                            <td class="pointer" fieldName="f_is_not_translated" fieldValue="0">
                                No
                            </td>
                            <td class="pointer" fieldName="f_text" fieldValue="%1">
                                %1
                            </td>
                        </tr>
                        <tr class="even translated default-translate" stringId="4770" appType="1">
                            <td class="pointer" fieldName="buttons" fieldValue="">
                            </td>
                            <td class="pointer" fieldName="f_key" fieldValue="card.comb-fmt.four-and-kicker">
                                card.comb-fmt.four-and-kicker
                            </td>
                            <td class="pointer" fieldName="f_lang_id" fieldValue="0">
                                English
                            </td>
                            <td class="pointer" fieldName="f_skin_id" fieldValue="0">
                                Default
                            </td>
                            <td class="pointer" fieldName="f_reference" fieldValue="%1 and %2">
                                %1 and %2
                            </td>
                            <td class="pointer" fieldName="f_is_not_translated" fieldValue="0">
                                No
                            </td>
                            <td class="pointer" fieldName="f_text" fieldValue="%1 and %2">
                                %1 and %2
                            </td>
                        </tr>
                        <tr class="odd translated default-translate" stringId="886" appType="1">
                            <td class="pointer" fieldName="buttons" fieldValue="">
                            </td>
                            <td class="pointer" fieldName="f_key" fieldValue="card.comb-fmt.full-house">
                                card.comb-fmt.full-house
                            </td>
                            <td class="pointer" fieldName="f_lang_id" fieldValue="0">
                                English
                            </td>
                            <td class="pointer" fieldName="f_skin_id" fieldValue="0">
                                Default
                            </td>
                            <td class="pointer" fieldName="f_reference" fieldValue="%1&#039;s and %2&#039;s">
                                %1's and %2's
                            </td>
                            <td class="pointer" fieldName="f_is_not_translated" fieldValue="0">
                                No
                            </td>
                            <td class="pointer" fieldName="f_text" fieldValue="%1&#039;s and %2&#039;s">
                                %1's and %2's
                            </td>
                        </tr>
                        <tr class="even translated default-translate" stringId="4241" appType="1">
                            <td class="pointer" fieldName="buttons" fieldValue="">
                            </td>
                            <td class="pointer" fieldName="f_key" fieldValue="card.comb-fmt.low">
                                card.comb-fmt.low
                            </td>
                            <td class="pointer" fieldName="f_lang_id" fieldValue="0">
                                English
                            </td>
                            <td class="pointer" fieldName="f_skin_id" fieldValue="0">
                                Default
                            </td>
                            <td class="pointer" fieldName="f_reference" fieldValue="%1">
                                %1
                            </td>
                            <td class="pointer" fieldName="f_is_not_translated" fieldValue="0">
                                No
                            </td>
                            <td class="pointer" fieldName="f_text" fieldValue="%1">
                                %1
                            </td>
                        </tr>
                        <tr class="odd translated default-translate" stringId="240" appType="1">
                            <td class="pointer" fieldName="buttons" fieldValue="">
                            </td>
                            <td class="pointer" fieldName="f_key" fieldValue="card.comb-fmt.low-and-2kickers">
                                card.comb-fmt.low-and-2kickers
                            </td>
                            <td class="pointer" fieldName="f_lang_id" fieldValue="0">
                                English
                            </td>
                            <td class="pointer" fieldName="f_skin_id" fieldValue="0">
                                Default
                            </td>
                            <td class="pointer" fieldName="f_reference" fieldValue="%1 %2 %3">
                                %1 %2 %3
                            </td>
                            <td class="pointer" fieldName="f_is_not_translated" fieldValue="0">
                                No
                            </td>
                            <td class="pointer" fieldName="f_text" fieldValue="%1 %2 %3">
                                %1 %2 %3
                            </td>
                        </tr>
                        <tr class="even translated default-translate" stringId="3312" appType="1">
                            <td class="pointer" fieldName="buttons" fieldValue="">
                            </td>
                            <td class="pointer" fieldName="f_key" fieldValue="card.comb-fmt.low-and-3kickers">
                                card.comb-fmt.low-and-3kickers
                            </td>
                            <td class="pointer" fieldName="f_lang_id" fieldValue="0">
                                English
                            </td>
                            <td class="pointer" fieldName="f_skin_id" fieldValue="0">
                                Default
                            </td>
                            <td class="pointer" fieldName="f_reference" fieldValue="%1 %2 %3 %4">
                                %1 %2 %3 %4
                            </td>
                            <td class="pointer" fieldName="f_is_not_translated" fieldValue="0">
                                No
                            </td>
                            <td class="pointer" fieldName="f_text" fieldValue="%1 %2 %3 %4">
                                %1 %2 %3 %4
                            </td>
                        </tr>
                        <tr class="odd translated default-translate" stringId="1314" appType="1">
                            <td class="pointer" fieldName="buttons" fieldValue="">
                            </td>
                            <td class="pointer" fieldName="f_key" fieldValue="card.comb-fmt.low-and-4kickers">
                                card.comb-fmt.low-and-4kickers
                            </td>
                            <td class="pointer" fieldName="f_lang_id" fieldValue="0">
                                English
                            </td>
                            <td class="pointer" fieldName="f_skin_id" fieldValue="0">
                                Default
                            </td>
                            <td class="pointer" fieldName="f_reference" fieldValue="%1 %2 %3 %4 %5">
                                %1 %2 %3 %4 %5
                            </td>
                            <td class="pointer" fieldName="f_is_not_translated" fieldValue="0">
                                No
                            </td>
                            <td class="pointer" fieldName="f_text" fieldValue="%1 %2 %3 %4 %5">
                                %1 %2 %3 %4 %5
                            </td>
                        </tr>
                        <tr class="even translated default-translate" stringId="1909" appType="1">
                            <td class="pointer" fieldName="buttons" fieldValue="">
                            </td>
                            <td class="pointer" fieldName="f_key" fieldValue="card.comb-fmt.low-and-kicker">
                                card.comb-fmt.low-and-kicker
                            </td>
                            <td class="pointer" fieldName="f_lang_id" fieldValue="0">
                                English
                            </td>
                            <td class="pointer" fieldName="f_skin_id" fieldValue="0">
                                Default
                            </td>
                            <td class="pointer" fieldName="f_reference" fieldValue="%1 %2">
                                %1 %2
                            </td>
                            <td class="pointer" fieldName="f_is_not_translated" fieldValue="0">
                                No
                            </td>
                            <td class="pointer" fieldName="f_text" fieldValue="%1 %2">
                                %1 %2
                            </td>
                        </tr>
                        <tr class="odd translated default-translate" stringId="4902" appType="1">
                            <td class="pointer" fieldName="buttons" fieldValue="">
                            </td>
                            <td class="pointer" fieldName="f_key" fieldValue="card.comb-fmt.none1">
                                card.comb-fmt.none1
                            </td>
                            <td class="pointer" fieldName="f_lang_id" fieldValue="0">
                                English
                            </td>
                            <td class="pointer" fieldName="f_skin_id" fieldValue="0">
                                Default
                            </td>
                            <td class="pointer" fieldName="f_reference" fieldValue="%1">
                                %1
                            </td>
                            <td class="pointer" fieldName="f_is_not_translated" fieldValue="0">
                                No
                            </td>
                            <td class="pointer" fieldName="f_text" fieldValue="%1">
                                %1
                            </td>
                        </tr>
                        <tr class="even translated default-translate" stringId="2671" appType="1">
                            <td class="pointer" fieldName="buttons" fieldValue="">
                            </td>
                            <td class="pointer" fieldName="f_key" fieldValue="card.comb-fmt.none2">
                                card.comb-fmt.none2
                            </td>
                            <td class="pointer" fieldName="f_lang_id" fieldValue="0">
                                English
                            </td>
                            <td class="pointer" fieldName="f_skin_id" fieldValue="0">
                                Default
                            </td>
                            <td class="pointer" fieldName="f_reference" fieldValue="%1 %2">
                                %1 %2
                            </td>
                            <td class="pointer" fieldName="f_is_not_translated" fieldValue="0">
                                No
                            </td>
                            <td class="pointer" fieldName="f_text" fieldValue="%1 %2">
                                %1 %2
                            </td>
                        </tr>
                        <tr class="odd translated default-translate" stringId="5065" appType="1">
                            <td class="pointer" fieldName="buttons" fieldValue="">
                            </td>
                            <td class="pointer" fieldName="f_key" fieldValue="card.comb-fmt.none3">
                                card.comb-fmt.none3
                            </td>
                            <td class="pointer" fieldName="f_lang_id" fieldValue="0">
                                English
                            </td>
                            <td class="pointer" fieldName="f_skin_id" fieldValue="0">
                                Default
                            </td>
                            <td class="pointer" fieldName="f_reference" fieldValue="%1 %2 %3">
                                %1 %2 %3
                            </td>
                            <td class="pointer" fieldName="f_is_not_translated" fieldValue="0">
                                No
                            </td>
                            <td class="pointer" fieldName="f_text" fieldValue="%1 %2 %3">
                                %1 %2 %3
                            </td>
                        </tr>
                        <tr class="even translated default-translate" stringId="3674" appType="1">
                            <td class="pointer" fieldName="buttons" fieldValue="">
                            </td>
                            <td class="pointer" fieldName="f_key" fieldValue="card.comb-fmt.none4">
                                card.comb-fmt.none4
                            </td>
                            <td class="pointer" fieldName="f_lang_id" fieldValue="0">
                                English
                            </td>
                            <td class="pointer" fieldName="f_skin_id" fieldValue="0">
                                Default
                            </td>
                            <td class="pointer" fieldName="f_reference" fieldValue="%1 %2 %3 %4">
                                %1 %2 %3 %4
                            </td>
                            <td class="pointer" fieldName="f_is_not_translated" fieldValue="0">
                                No
                            </td>
                            <td class="pointer" fieldName="f_text" fieldValue="%1 %2 %3 %4">
                                %1 %2 %3 %4
                            </td>
                        </tr>
                        <tr class="odd translated default-translate" stringId="5000" appType="1">
                            <td class="pointer" fieldName="buttons" fieldValue="">
                            </td>
                            <td class="pointer" fieldName="f_key" fieldValue="card.comb-fmt.none5">
                                card.comb-fmt.none5
                            </td>
                            <td class="pointer" fieldName="f_lang_id" fieldValue="0">
                                English
                            </td>
                            <td class="pointer" fieldName="f_skin_id" fieldValue="0">
                                Default
                            </td>
                            <td class="pointer" fieldName="f_reference" fieldValue="%1 %2 %3 %4 %5">
                                %1 %2 %3 %4 %5
                            </td>
                            <td class="pointer" fieldName="f_is_not_translated" fieldValue="0">
                                No
                            </td>
                            <td class="pointer" fieldName="f_text" fieldValue="%1 %2 %3 %4 %5">
                                %1 %2 %3 %4 %5
                            </td>
                        </tr>
                        <tr class="even translated default-translate" stringId="5840" appType="1">
                            <td class="pointer" fieldName="buttons" fieldValue="">
                            </td>
                            <td class="pointer" fieldName="f_key" fieldValue="card.comb-fmt.pair">
                                card.comb-fmt.pair
                            </td>
                            <td class="pointer" fieldName="f_lang_id" fieldValue="0">
                                English
                            </td>
                            <td class="pointer" fieldName="f_skin_id" fieldValue="0">
                                Default
                            </td>
                            <td class="pointer" fieldName="f_reference" fieldValue="of %1">
                                of %1
                            </td>
                            <td class="pointer" fieldName="f_is_not_translated" fieldValue="0">
                                No
                            </td>
                            <td class="pointer" fieldName="f_text" fieldValue="of %1">
                                of %1
                            </td>
                        </tr>
                        <tr class="odd translated default-translate" stringId="329" appType="1">
                            <td class="pointer" fieldName="buttons" fieldValue="">
                            </td>
                            <td class="pointer" fieldName="f_key" fieldValue="card.comb-fmt.pair-and-2kickers">
                                card.comb-fmt.pair-and-2kickers
                            </td>
                            <td class="pointer" fieldName="f_lang_id" fieldValue="0">
                                English
                            </td>
                            <td class="pointer" fieldName="f_skin_id" fieldValue="0">
                                Default
                            </td>
                            <td class="pointer" fieldName="f_reference" fieldValue="of %1 and %2 %3">
                                of %1 and %2 %3
                            </td>
                            <td class="pointer" fieldName="f_is_not_translated" fieldValue="0">
                                No
                            </td>
                            <td class="pointer" fieldName="f_text" fieldValue="of %1 and %2 %3">
                                of %1 and %2 %3
                            </td>
                        </tr>
                        <tr class="even translated default-translate" stringId="3731" appType="1">
                            <td class="pointer" fieldName="buttons" fieldValue="">
                            </td>
                            <td class="pointer" fieldName="f_key" fieldValue="card.comb-fmt.pair-and-3kickers">
                                card.comb-fmt.pair-and-3kickers
                            </td>
                            <td class="pointer" fieldName="f_lang_id" fieldValue="0">
                                English
                            </td>
                            <td class="pointer" fieldName="f_skin_id" fieldValue="0">
                                Default
                            </td>
                            <td class="pointer" fieldName="f_reference" fieldValue="of %1 and %2 %3 %4">
                                of %1 and %2 %3 %4
                            </td>
                            <td class="pointer" fieldName="f_is_not_translated" fieldValue="0">
                                No
                            </td>
                            <td class="pointer" fieldName="f_text" fieldValue="of %1 and %2 %3 %4">
                                of %1 and %2 %3 %4
                            </td>
                        </tr>
                        <tr class="odd translated default-translate" stringId="725" appType="1">
                            <td class="pointer" fieldName="buttons" fieldValue="">
                            </td>
                            <td class="pointer" fieldName="f_key" fieldValue="card.comb-fmt.pair-and-kicker">
                                card.comb-fmt.pair-and-kicker
                            </td>
                            <td class="pointer" fieldName="f_lang_id" fieldValue="0">
                                English
                            </td>
                            <td class="pointer" fieldName="f_skin_id" fieldValue="0">
                                Default
                            </td>
                            <td class="pointer" fieldName="f_reference" fieldValue="of %1 and %2">
                                of %1 and %2
                            </td>
                            <td class="pointer" fieldName="f_is_not_translated" fieldValue="0">
                                No
                            </td>
                            <td class="pointer" fieldName="f_text" fieldValue="of %1 and %2">
                                of %1 and %2
                            </td>
                        </tr>
                        <tr class="even translated default-translate" stringId="4648" appType="1">
                            <td class="pointer" fieldName="buttons" fieldValue="">
                            </td>
                            <td class="pointer" fieldName="f_key" fieldValue="card.comb-fmt.straight">
                                card.comb-fmt.straight
                            </td>
                            <td class="pointer" fieldName="f_lang_id" fieldValue="0">
                                English
                            </td>
                            <td class="pointer" fieldName="f_skin_id" fieldValue="0">
                                Default
                            </td>
                            <td class="pointer" fieldName="f_reference" fieldValue="%1 to %2">
                                %1 to %2
                            </td>
                            <td class="pointer" fieldName="f_is_not_translated" fieldValue="0">
                                No
                            </td>
                            <td class="pointer" fieldName="f_text" fieldValue="%1 to %2">
                                %1 to %2
                            </td>
                        </tr>
                        <tr class="odd translated default-translate" stringId="4500" appType="1">
                            <td class="pointer" fieldName="buttons" fieldValue="">
                            </td>
                            <td class="pointer" fieldName="f_key" fieldValue="card.comb-fmt.three">
                                card.comb-fmt.three
                            </td>
                            <td class="pointer" fieldName="f_lang_id" fieldValue="0">
                                English
                            </td>
                            <td class="pointer" fieldName="f_skin_id" fieldValue="0">
                                Default
                            </td>
                            <td class="pointer" fieldName="f_reference" fieldValue="%1&#039;s">
                                %1's
                            </td>
                            <td class="pointer" fieldName="f_is_not_translated" fieldValue="0">
                                No
                            </td>
                            <td class="pointer" fieldName="f_text" fieldValue="%1&#039;s">
                                %1's
                            </td>
                        </tr>
                        <tr class="even translated default-translate" stringId="1571" appType="1">
                            <td class="pointer" fieldName="buttons" fieldValue="">
                            </td>
                            <td class="pointer" fieldName="f_key" fieldValue="card.comb-fmt.three-and-2kickers">
                                card.comb-fmt.three-and-2kickers
                            </td>
                            <td class="pointer" fieldName="f_lang_id" fieldValue="0">
                                English
                            </td>
                            <td class="pointer" fieldName="f_skin_id" fieldValue="0">
                                Default
                            </td>
                            <td class="pointer" fieldName="f_reference" fieldValue="%1&#039;s and %2 %3">
                                %1's and %2 %3
                            </td>
                            <td class="pointer" fieldName="f_is_not_translated" fieldValue="0">
                                No
                            </td>
                            <td class="pointer" fieldName="f_text" fieldValue="%1&#039;s and %2 %3">
                                %1's and %2 %3
                            </td>
                        </tr>
                        <tr class="odd translated default-translate" stringId="2406" appType="1">
                            <td class="pointer" fieldName="buttons" fieldValue="">
                            </td>
                            <td class="pointer" fieldName="f_key" fieldValue="card.comb-fmt.three-and-kicker">
                                card.comb-fmt.three-and-kicker
                            </td>
                            <td class="pointer" fieldName="f_lang_id" fieldValue="0">
                                English
                            </td>
                            <td class="pointer" fieldName="f_skin_id" fieldValue="0">
                                Default
                            </td>
                            <td class="pointer" fieldName="f_reference" fieldValue="%1&#039;s and %2">
                                %1's and %2
                            </td>
                            <td class="pointer" fieldName="f_is_not_translated" fieldValue="0">
                                No
                            </td>
                            <td class="pointer" fieldName="f_text" fieldValue="%1&#039;s and %2">
                                %1's and %2
                            </td>
                        </tr>
                        <tr class="even translated default-translate" stringId="921" appType="1">
                            <td class="pointer" fieldName="buttons" fieldValue="">
                            </td>
                            <td class="pointer" fieldName="f_key" fieldValue="card.comb-fmt.two-pair">
                                card.comb-fmt.two-pair
                            </td>
                            <td class="pointer" fieldName="f_lang_id" fieldValue="0">
                                English
                            </td>
                            <td class="pointer" fieldName="f_skin_id" fieldValue="0">
                                Default
                            </td>
                            <td class="pointer" fieldName="f_reference" fieldValue="%1 %2">
                                %1 %2
                            </td>
                            <td class="pointer" fieldName="f_is_not_translated" fieldValue="0">
                                No
                            </td>
                            <td class="pointer" fieldName="f_text" fieldValue="%1 %2">
                                %1 %2
                            </td>
                        </tr>
                        <tr class="odd translated default-translate" stringId="5448" appType="1">
                            <td class="pointer" fieldName="buttons" fieldValue="">
                            </td>
                            <td class="pointer" fieldName="f_key" fieldValue="card.comb-fmt.two-pair-and-kicker">
                                card.comb-fmt.two-pair-and-kicker
                            </td>
                            <td class="pointer" fieldName="f_lang_id" fieldValue="0">
                                English
                            </td>
                            <td class="pointer" fieldName="f_skin_id" fieldValue="0">
                                Default
                            </td>
                            <td class="pointer" fieldName="f_reference" fieldValue="%1 %2 and %3">
                                %1 %2 and %3
                            </td>
                            <td class="pointer" fieldName="f_is_not_translated" fieldValue="0">
                                No
                            </td>
                            <td class="pointer" fieldName="f_text" fieldValue="%1 %2 and %3">
                                %1 %2 and %3
                            </td>
                        </tr>
                        <tr class="even translated default-translate" stringId="2032" appType="1">
                            <td class="pointer" fieldName="buttons" fieldValue="">
                            </td>
                            <td class="pointer" fieldName="f_key" fieldValue="card.comb-join-run-it-twice">
                                card.comb-join-run-it-twice
                            </td>
                            <td class="pointer" fieldName="f_lang_id" fieldValue="0">
                                English
                            </td>
                            <td class="pointer" fieldName="f_skin_id" fieldValue="0">
                                Default
                            </td>
                            <td class="pointer" fieldName="f_reference" fieldValue="%1 / %2">
                                %1 / %2
                            </td>
                            <td class="pointer" fieldName="f_is_not_translated" fieldValue="0">
                                No
                            </td>
                            <td class="pointer" fieldName="f_text" fieldValue="%1 / %2">
                                %1 / %2
                            </td>
                        </tr>
                        <tr class="odd translated default-translate" stringId="5582" appType="1">
                            <td class="pointer" fieldName="buttons" fieldValue="">
                            </td>
                            <td class="pointer" fieldName="f_key" fieldValue="card.comb.27td.average-eight">
                                card.comb.27td.average-eight
                            </td>
                            <td class="pointer" fieldName="f_lang_id" fieldValue="0">
                                English
                            </td>
                            <td class="pointer" fieldName="f_skin_id" fieldValue="0">
                                Default
                            </td>
                            <td class="pointer" fieldName="f_reference" fieldValue="Average Eight">
                                Average Eight
                            </td>
                            <td class="pointer" fieldName="f_is_not_translated" fieldValue="0">
                                No
                            </td>
                            <td class="pointer" fieldName="f_text" fieldValue="Average Eight">
                                Average Eight
                            </td>
                        </tr>
                        <tr class="even translated default-translate" stringId="2352" appType="1">
                            <td class="pointer" fieldName="buttons" fieldValue="">
                            </td>
                            <td class="pointer" fieldName="f_key" fieldValue="card.comb.27td.eight-perfect">
                                card.comb.27td.eight-perfect
                            </td>
                            <td class="pointer" fieldName="f_lang_id" fieldValue="0">
                                English
                            </td>
                            <td class="pointer" fieldName="f_skin_id" fieldValue="0">
                                Default
                            </td>
                            <td class="pointer" fieldName="f_reference" fieldValue="Eight Perfect">
                                Eight Perfect
                            </td>
                            <td class="pointer" fieldName="f_is_not_translated" fieldValue="0">
                                No
                            </td>
                            <td class="pointer" fieldName="f_text" fieldValue="Eight Perfect">
                                Eight Perfect
                            </td>
                        </tr>
                        <tr class="odd translated default-translate" stringId="6192" appType="1">
                            <td class="pointer" fieldName="buttons" fieldValue="">
                            </td>
                            <td class="pointer" fieldName="f_key" fieldValue="card.comb.27td.nine-perfect">
                                card.comb.27td.nine-perfect
                            </td>
                            <td class="pointer" fieldName="f_lang_id" fieldValue="0">
                                English
                            </td>
                            <td class="pointer" fieldName="f_skin_id" fieldValue="0">
                                Default
                            </td>
                            <td class="pointer" fieldName="f_reference" fieldValue="Nine Perfect">
                                Nine Perfect
                            </td>
                            <td class="pointer" fieldName="f_is_not_translated" fieldValue="0">
                                No
                            </td>
                            <td class="pointer" fieldName="f_text" fieldValue="Nine Perfect">
                                Nine Perfect
                            </td>
                        </tr>
                        <tr class="even translated default-translate" stringId="4233" appType="1">
                            <td class="pointer" fieldName="buttons" fieldValue="">
                            </td>
                            <td class="pointer" fieldName="f_key" fieldValue="card.comb.27td.noname11">
                                card.comb.27td.noname11
                            </td>
                            <td class="pointer" fieldName="f_lang_id" fieldValue="0">
                                English
                            </td>
                            <td class="pointer" fieldName="f_skin_id" fieldValue="0">
                                Default
                            </td>
                            <td class="pointer" fieldName="f_reference" fieldValue="Combination #11">
                                Combination #11
                            </td>
                            <td class="pointer" fieldName="f_is_not_translated" fieldValue="0">
                                No
                            </td>
                            <td class="pointer" fieldName="f_text" fieldValue="Combination #11">
                                Combination #11
                            </td>
                        </tr>
                        <tr class="odd translated default-translate" stringId="2505" appType="1">
                            <td class="pointer" fieldName="buttons" fieldValue="">
                            </td>
                            <td class="pointer" fieldName="f_key" fieldValue="card.comb.27td.noname13">
                                card.comb.27td.noname13
                            </td>
                            <td class="pointer" fieldName="f_lang_id" fieldValue="0">
                                English
                            </td>
                            <td class="pointer" fieldName="f_skin_id" fieldValue="0">
                                Default
                            </td>
                            <td class="pointer" fieldName="f_reference" fieldValue="Combination #13">
                                Combination #13
                            </td>
                            <td class="pointer" fieldName="f_is_not_translated" fieldValue="0">
                                No
                            </td>
                            <td class="pointer" fieldName="f_text" fieldValue="Combination #13">
                                Combination #13
                            </td>
                        </tr>
                        <tr class="even translated default-translate" stringId="5269" appType="1">
                            <td class="pointer" fieldName="buttons" fieldValue="">
                            </td>
                            <td class="pointer" fieldName="f_key" fieldValue="card.comb.27td.noname14">
                                card.comb.27td.noname14
                            </td>
                            <td class="pointer" fieldName="f_lang_id" fieldValue="0">
                                English
                            </td>
                            <td class="pointer" fieldName="f_skin_id" fieldValue="0">
                                Default
                            </td>
                            <td class="pointer" fieldName="f_reference" fieldValue="Combination #14">
                                Combination #14
                            </td>
                            <td class="pointer" fieldName="f_is_not_translated" fieldValue="0">
                                No
                            </td>
                            <td class="pointer" fieldName="f_text" fieldValue="Combination #14">
                                Combination #14
                            </td>
                        </tr>
                        <tr class="odd translated default-translate" stringId="1077" appType="1">
                            <td class="pointer" fieldName="buttons" fieldValue="">
                            </td>
                            <td class="pointer" fieldName="f_key" fieldValue="card.comb.27td.noname15">
                                card.comb.27td.noname15
                            </td>
                            <td class="pointer" fieldName="f_lang_id" fieldValue="0">
                                English
                            </td>
                            <td class="pointer" fieldName="f_skin_id" fieldValue="0">
                                Default
                            </td>
                            <td class="pointer" fieldName="f_reference" fieldValue="Combination #15">
                                Combination #15
                            </td>
                            <td class="pointer" fieldName="f_is_not_translated" fieldValue="0">
                                No
                            </td>
                            <td class="pointer" fieldName="f_text" fieldValue="Combination #15">
                                Combination #15
                            </td>
                        </tr>
                        <tr class="even translated default-translate" stringId="3569" appType="1">
                            <td class="pointer" fieldName="buttons" fieldValue="">
                            </td>
                            <td class="pointer" fieldName="f_key" fieldValue="card.comb.27td.noname16">
                                card.comb.27td.noname16
                            </td>
                            <td class="pointer" fieldName="f_lang_id" fieldValue="0">
                                English
                            </td>
                            <td class="pointer" fieldName="f_skin_id" fieldValue="0">
                                Default
                            </td>
                            <td class="pointer" fieldName="f_reference" fieldValue="Combination #16">
                                Combination #16
                            </td>
                            <td class="pointer" fieldName="f_is_not_translated" fieldValue="0">
                                No
                            </td>
                            <td class="pointer" fieldName="f_text" fieldValue="Combination #16">
                                Combination #16
                            </td>
                        </tr>
                        <tr class="odd translated default-translate" stringId="5881" appType="1">
                            <td class="pointer" fieldName="buttons" fieldValue="">
                            </td>
                            <td class="pointer" fieldName="f_key" fieldValue="card.comb.27td.noname17">
                                card.comb.27td.noname17
                            </td>
                            <td class="pointer" fieldName="f_lang_id" fieldValue="0">
                                English
                            </td>
                            <td class="pointer" fieldName="f_skin_id" fieldValue="0">
                                Default
                            </td>
                            <td class="pointer" fieldName="f_reference" fieldValue="Combination #17">
                                Combination #17
                            </td>
                            <td class="pointer" fieldName="f_is_not_translated" fieldValue="0">
                                No
                            </td>
                            <td class="pointer" fieldName="f_text" fieldValue="Combination #17">
                                Combination #17
                            </td>
                        </tr>
                        <tr class="even translated default-translate" stringId="4179" appType="1">
                            <td class="pointer" fieldName="buttons" fieldValue="">
                            </td>
                            <td class="pointer" fieldName="f_key" fieldValue="card.comb.27td.noname2">
                                card.comb.27td.noname2
                            </td>
                            <td class="pointer" fieldName="f_lang_id" fieldValue="0">
                                English
                            </td>
                            <td class="pointer" fieldName="f_skin_id" fieldValue="0">
                                Default
                            </td>
                            <td class="pointer" fieldName="f_reference" fieldValue="Combination #2">
                                Combination #2
                            </td>
                            <td class="pointer" fieldName="f_is_not_translated" fieldValue="0">
                                No
                            </td>
                            <td class="pointer" fieldName="f_text" fieldValue="Combination #2">
                                Combination #2
                            </td>
                        </tr>
                        <tr class="odd translated default-translate" stringId="6421" appType="1">
                            <td class="pointer" fieldName="buttons" fieldValue="">
                            </td>
                            <td class="pointer" fieldName="f_key" fieldValue="card.comb.27td.noname3">
                                card.comb.27td.noname3
                            </td>
                            <td class="pointer" fieldName="f_lang_id" fieldValue="0">
                                English
                            </td>
                            <td class="pointer" fieldName="f_skin_id" fieldValue="0">
                                Default
                            </td>
                            <td class="pointer" fieldName="f_reference" fieldValue="Combination #3">
                                Combination #3
                            </td>
                            <td class="pointer" fieldName="f_is_not_translated" fieldValue="0">
                                No
                            </td>
                            <td class="pointer" fieldName="f_text" fieldValue="Combination #3">
                                Combination #3
                            </td>
                        </tr>
                        <tr class="even translated default-translate" stringId="1818" appType="1">
                            <td class="pointer" fieldName="buttons" fieldValue="">
                            </td>
                            <td class="pointer" fieldName="f_key" fieldValue="card.comb.27td.noname4">
                                card.comb.27td.noname4
                            </td>
                            <td class="pointer" fieldName="f_lang_id" fieldValue="0">
                                English
                            </td>
                            <td class="pointer" fieldName="f_skin_id" fieldValue="0">
                                Default
                            </td>
                            <td class="pointer" fieldName="f_reference" fieldValue="Combination #4">
                                Combination #4
                            </td>
                            <td class="pointer" fieldName="f_is_not_translated" fieldValue="0">
                                No
                            </td>
                            <td class="pointer" fieldName="f_text" fieldValue="Combination #4">
                                Combination #4
                            </td>
                        </tr>
                        <tr class="odd translated default-translate" stringId="1020" appType="1">
                            <td class="pointer" fieldName="buttons" fieldValue="">
                            </td>
                            <td class="pointer" fieldName="f_key" fieldValue="card.comb.27td.noname6">
                                card.comb.27td.noname6
                            </td>
                            <td class="pointer" fieldName="f_lang_id" fieldValue="0">
                                English
                            </td>
                            <td class="pointer" fieldName="f_skin_id" fieldValue="0">
                                Default
                            </td>
                            <td class="pointer" fieldName="f_reference" fieldValue="Combination #6">
                                Combination #6
                            </td>
                            <td class="pointer" fieldName="f_is_not_translated" fieldValue="0">
                                No
                            </td>
                            <td class="pointer" fieldName="f_text" fieldValue="Combination #6">
                                Combination #6
                            </td>
                        </tr>
                        <tr class="even translated default-translate" stringId="3514" appType="1">
                            <td class="pointer" fieldName="buttons" fieldValue="">
                            </td>
                            <td class="pointer" fieldName="f_key" fieldValue="card.comb.27td.noname7">
                                card.comb.27td.noname7
                            </td>
                            <td class="pointer" fieldName="f_lang_id" fieldValue="0">
                                English
                            </td>
                            <td class="pointer" fieldName="f_skin_id" fieldValue="0">
                                Default
                            </td>
                            <td class="pointer" fieldName="f_reference" fieldValue="Combination #7">
                                Combination #7
                            </td>
                            <td class="pointer" fieldName="f_is_not_translated" fieldValue="0">
                                No
                            </td>
                            <td class="pointer" fieldName="f_text" fieldValue="Combination #7">
                                Combination #7
                            </td>
                        </tr>
                        <tr class="odd translated default-translate" stringId="2059" appType="1">
                            <td class="pointer" fieldName="buttons" fieldValue="">
                            </td>
                            <td class="pointer" fieldName="f_key" fieldValue="card.comb.27td.noname8">
                                card.comb.27td.noname8
                            </td>
                            <td class="pointer" fieldName="f_lang_id" fieldValue="0">
                                English
                            </td>
                            <td class="pointer" fieldName="f_skin_id" fieldValue="0">
                                Default
                            </td>
                            <td class="pointer" fieldName="f_reference" fieldValue="Combination #8">
                                Combination #8
                            </td>
                            <td class="pointer" fieldName="f_is_not_translated" fieldValue="0">
                                No
                            </td>
                            <td class="pointer" fieldName="f_text" fieldValue="Combination #8">
                                Combination #8
                            </td>
                        </tr>
                        <tr class="even translated default-translate" stringId="4135" appType="1">
                            <td class="pointer" fieldName="buttons" fieldValue="">
                            </td>
                            <td class="pointer" fieldName="f_key" fieldValue="card.comb.27td.rough-eighty-seven">
                                card.comb.27td.rough-eighty-seven
                            </td>
                            <td class="pointer" fieldName="f_lang_id" fieldValue="0">
                                English
                            </td>
                            <td class="pointer" fieldName="f_skin_id" fieldValue="0">
                                Default
                            </td>
                            <td class="pointer" fieldName="f_reference" fieldValue="Rough Eighty-Seven">
                                Rough Eighty-Seven
                            </td>
                            <td class="pointer" fieldName="f_is_not_translated" fieldValue="0">
                                No
                            </td>
                            <td class="pointer" fieldName="f_text" fieldValue="Rough Eighty-Seven">
                                Rough Eighty-Seven
                            </td>
                        </tr>
                        <tr class="odd translated default-translate" stringId="289" appType="1">
                            <td class="pointer" fieldName="buttons" fieldValue="">
                            </td>
                            <td class="pointer" fieldName="f_key" fieldValue="card.comb.27td.rough-eighty-six">
                                card.comb.27td.rough-eighty-six
                            </td>
                            <td class="pointer" fieldName="f_lang_id" fieldValue="0">
                                English
                            </td>
                            <td class="pointer" fieldName="f_skin_id" fieldValue="0">
                                Default
                            </td>
                            <td class="pointer" fieldName="f_reference" fieldValue="Rough Eighty-Six">
                                Rough Eighty-Six
                            </td>
                            <td class="pointer" fieldName="f_is_not_translated" fieldValue="0">
                                No
                            </td>
                            <td class="pointer" fieldName="f_text" fieldValue="Rough Eighty-Six">
                                Rough Eighty-Six
                            </td>
                        </tr>
                        <tr class="even translated default-translate" stringId="1522" appType="1">
                            <td class="pointer" fieldName="buttons" fieldValue="">
                            </td>
                            <td class="pointer" fieldName="f_key" fieldValue="card.comb.27td.seven-perfect">
                                card.comb.27td.seven-perfect
                            </td>
                            <td class="pointer" fieldName="f_lang_id" fieldValue="0">
                                English
                            </td>
                            <td class="pointer" fieldName="f_skin_id" fieldValue="0">
                                Default
                            </td>
                            <td class="pointer" fieldName="f_reference" fieldValue="Seven Perfect (The wheel)">
                                Seven Perfect (The wheel)
                            </td>
                            <td class="pointer" fieldName="f_is_not_translated" fieldValue="0">
                                No
                            </td>
                            <td class="pointer" fieldName="f_text" fieldValue="Seven Perfect (The wheel)">
                                Seven Perfect (The wheel)
                            </td>
                        </tr>
                        <tr class="odd translated default-translate" stringId="1047" appType="1">
                            <td class="pointer" fieldName="buttons" fieldValue="">
                            </td>
                            <td class="pointer" fieldName="f_key" fieldValue="card.comb.27td.seven-smooth">
                                card.comb.27td.seven-smooth
                            </td>
                            <td class="pointer" fieldName="f_lang_id" fieldValue="0">
                                English
                            </td>
                            <td class="pointer" fieldName="f_skin_id" fieldValue="0">
                                Default
                            </td>
                            <td class="pointer" fieldName="f_reference" fieldValue="Seven Smooth">
                                Seven Smooth
                            </td>
                            <td class="pointer" fieldName="f_is_not_translated" fieldValue="0">
                                No
                            </td>
                            <td class="pointer" fieldName="f_text" fieldValue="Seven Smooth">
                                Seven Smooth
                            </td>
                        </tr>
                        <tr class="even translated default-translate" stringId="5018" appType="1">
                            <td class="pointer" fieldName="buttons" fieldValue="">
                            </td>
                            <td class="pointer" fieldName="f_key" fieldValue="card.comb.badugi.badugi">
                                card.comb.badugi.badugi
                            </td>
                            <td class="pointer" fieldName="f_lang_id" fieldValue="0">
                                English
                            </td>
                            <td class="pointer" fieldName="f_skin_id" fieldValue="0">
                                Default
                            </td>
                            <td class="pointer" fieldName="f_reference" fieldValue="Badugi">
                                Badugi
                            </td>
                            <td class="pointer" fieldName="f_is_not_translated" fieldValue="0">
                                No
                            </td>
                            <td class="pointer" fieldName="f_text" fieldValue="Badugi">
                                Badugi
                            </td>
                        </tr>
                        <tr class="odd translated default-translate" stringId="2900" appType="1">
                            <td class="pointer" fieldName="buttons" fieldValue="">
                            </td>
                            <td class="pointer" fieldName="f_key" fieldValue="card.comb.badugi.one-card">
                                card.comb.badugi.one-card
                            </td>
                            <td class="pointer" fieldName="f_lang_id" fieldValue="0">
                                English
                            </td>
                            <td class="pointer" fieldName="f_skin_id" fieldValue="0">
                                Default
                            </td>
                            <td class="pointer" fieldName="f_reference" fieldValue="1-card">
                                1-card
                            </td>
                            <td class="pointer" fieldName="f_is_not_translated" fieldValue="0">
                                No
                            </td>
                            <td class="pointer" fieldName="f_text" fieldValue="1-card">
                                1-card
                            </td>
                        </tr>
                        <tr class="even translated default-translate" stringId="5816" appType="1">
                            <td class="pointer" fieldName="buttons" fieldValue="">
                            </td>
                            <td class="pointer" fieldName="f_key" fieldValue="card.comb.badugi.three-card">
                                card.comb.badugi.three-card
                            </td>
                            <td class="pointer" fieldName="f_lang_id" fieldValue="0">
                                English
                            </td>
                            <td class="pointer" fieldName="f_skin_id" fieldValue="0">
                                Default
                            </td>
                            <td class="pointer" fieldName="f_reference" fieldValue="3-card">
                                3-card
                            </td>
                            <td class="pointer" fieldName="f_is_not_translated" fieldValue="0">
                                No
                            </td>
                            <td class="pointer" fieldName="f_text" fieldValue="3-card">
                                3-card
                            </td>
                        </tr>
                        <tr class="odd translated default-translate" stringId="1872" appType="1">
                            <td class="pointer" fieldName="buttons" fieldValue="">
                            </td>
                            <td class="pointer" fieldName="f_key" fieldValue="card.comb.badugi.two-card">
                                card.comb.badugi.two-card
                            </td>
                            <td class="pointer" fieldName="f_lang_id" fieldValue="0">
                                English
                            </td>
                            <td class="pointer" fieldName="f_skin_id" fieldValue="0">
                                Default
                            </td>
                            <td class="pointer" fieldName="f_reference" fieldValue="2-card">
                                2-card
                            </td>
                            <td class="pointer" fieldName="f_is_not_translated" fieldValue="0">
                                No
                            </td>
                            <td class="pointer" fieldName="f_text" fieldValue="2-card">
                                2-card
                            </td>
                        </tr>
                        <tr class="even translated default-translate" stringId="889" appType="1">
                            <td class="pointer" fieldName="buttons" fieldValue="">
                            </td>
                            <td class="pointer" fieldName="f_key" fieldValue="card.comb.chinese.invalid-hand">
                                card.comb.chinese.invalid-hand
                            </td>
                            <td class="pointer" fieldName="f_lang_id" fieldValue="0">
                                English
                            </td>
                            <td class="pointer" fieldName="f_skin_id" fieldValue="0">
                                Default
                            </td>
                            <td class="pointer" fieldName="f_reference" fieldValue="Invalid hand">
                                Invalid hand
                            </td>
                            <td class="pointer" fieldName="f_is_not_translated" fieldValue="0">
                                No
                            </td>
                            <td class="pointer" fieldName="f_text" fieldValue="Invalid hand">
                                Invalid hand
                            </td>
                        </tr>
                    </table>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<style type="text/css">
    #form-element-lang, #form-element-skin, #form-element-appType {
        display: none;
    }
</style>

<div class="modal fade" tabindex="-1" role="dialog" id="translateDialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Translate String</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Language:</label>
                        <div class="col-sm-8">
                            <p id="selected-lang" style="font-weight: bold;"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Skin:</label>
                        <div class="col-sm-8">
                            <p id="selected-skin" style="font-weight: bold;"></p>
                        </div>
                    </div>
                </div>

                <div class="box box-primary">
                    <form enctype="application/x-www-form-urlencoded" method="post" action="" dojoType="dijit.form.Form">
                        <div class="box-body">
                            <dt id="key-label">&#160;</dt>
                            <dd id="key-element">
                                <input type="hidden" name="key" value="" id="key" />
                            </dd>
                            <div class="form-group" id="form-element-lang">
                                <label for="lang" class="required">Language:</label>

                                <select name="lang" id="lang" readOnly="1" class="form-control select2">
                                    <option value="0">English</option>
                                    <option value="28">Czech</option>
                                    <option value="33">German</option>
                                    <option value="40">Spanish</option>
                                    <option value="70">Italian</option>
                                    <option value="74">Georgian</option>
                                    <option value="105">Malay</option>
                                    <option value="125">Portuguese</option>
                                    <option value="130">Russian</option>
                                    <option value="153">Thai</option>
                                    <option value="177">Chinese</option>
                                </select>
                            </div>
                            <div class="form-group" id="form-element-skin">
                                <label for="skin" class="required">Skin:</label>

                                <select name="skin" id="skin" readOnly="1" class="form-control select2">
                                    <option value="0">Default</option>
                                </select>
                            </div>
                            <div class="form-group" id="form-element-appType">
                                <label for="appType" class="required">AppType:</label>

                                <select name="appType" id="appType" readOnly="1" class="form-control select2">
                                    <option value="0">Common</option>
                                    <option value="1">Server</option>
                                    <option value="2">Client</option>
                                </select>
                            </div>
                            <div class="form-group" id="form-element-translate">
                                <label for="translate" class="optional">Translate:</label>

<textarea name="translate" id="translate" rows="4" class="form-control" cols="80"></textarea>
                            </div>

                            <button name="submitTranslation" id="submitTranslation" type="button" class="btn btn-default">Save</button>

                            <button name="cancelTranslation" id="cancelTranslation" type="button" class="btn btn-default">Cancel</button>
                        </div>
                    </form>
                </div>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
