﻿
@{
    ViewBag.Title = "Maintenance Mode";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script type="text/javascript" src='//cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-min.js'></script>
<link href="~/Assest/css/datepicker3.css" rel="stylesheet" />
<script src="~/Assest/js/bootstrap-datepicker.js"></script>
<style>
    .maintenance-state-active, .maintenance-state-enabled {
        color: red;
    }

    .maintenance-state-planned {
        color: orange;
    }

    .maintenance-state-not_active {
        color: green;
    }

    .maintenance-state-enabled {
        font-weight: bold;
    }
</style>


<h3>
    Maintenance Mode&nbsp;&nbsp;
    <img src="img/loading.gif" style="visibility: hidden;width: 0.9em;" id="mLoader">
</h3>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">
                    <span>Maintenance Status:</span>
                    <span id="scheduler-status" class="maintenance-state-not_active">
                        Not Active
                    </span>
                </h3>
            </div>
            <div class="box box-primary">
                <form enctype="application/x-www-form-urlencoded" action="" method="post" dojoType="dijit.form.Form">
                    <div class="box-body">
                        <div class="form-group">
                            <label><input type="radio" name="mode" id="mode-2" value="2" />Pause active tables and tournaments</label><br /><label><input type="radio" name="mode" id="mode-1" value="1" />Stop active tables and tournaments</label>
                        </div>
                        <div class="form-group" id="form-element-message">
                            <label for="message" class="optional">Message</label>

<textarea name="message" id="message" rows="4" class="form-control" cols="80"></textarea>
                        </div>
                        <div class="form-group" id="form-element-startDate">
                            <label for="startDate" class="optional">Start Date</label>

                            <input type="text" name="startDate" id="startDate" value="2020-02-27" max="2040-02-27 00:00:00" min="2000-02-27 00:00:00" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-startTime">
                            <label for="startTime" class="optional">Start Time</label>

                            <input type="text" name="startTime" id="startTime" value="09:51:34" class="form-control" />
                        </div>

                        <input type="submit" name="start" id="start" value="Start" onclick="return confirm(&#39;Are you sure?&#39;)" class="btn btn-primary" />

                        <input type="submit" name="stop" id="stop" value="Stop" onclick="return confirm(&#39;Are you sure?&#39;)" disabled="disabled" class="btn btn-primary" />
                    </div>
                </form>
            </div>

        </div>

    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function () {


        var timeout = 1500;
        var disabledByState = {
            not_active: ['stop'],
            other: ['start', 'startTime', 'startDate', 'modePause', 'modeStop']
        };
        var currentState = 'not_active';
        var controls = {
            stop: document.getElementById('stop'),
            start: document.getElementById('start'),
            startTime: document.getElementById('startTime'),
            startDate: document.getElementById('startDate'),
            modePause: document.getElementById('mode-2'),
            modeStop: document.getElementById('mode-1')
        };
        var stateLabel = {
            'active': 'Active',
            'planned': 'Scheduled',
            'not_active': 'Not Active',
            'enabled': 'Enabled'
        };

        updateControls(currentState, true);
        checkState();

        function updateControls(state, forceUpdate) {
            var cId, cIds, i;
            if (!forceUpdate && state == currentState)
                return;
            for (cId in controls) {
                if (!controls.hasOwnProperty(cId))
                    continue;
                controls[cId].disabled = false;
            }
            cIds = disabledByState[state] || disabledByState.other;
            for (i = 0; i < cIds.length; ++i) {
                controls[cIds[i]].disabled = true;
            }
        }

        function updateStatusText(state) {
            document.getElementById('mLoader').style.visibility = state == 'active' ? 'visible' : 'hidden';
            if (state == currentState)
                return;
            var el = document.getElementById('scheduler-status');
            el.className = 'maintenance-state-' + state;
            el.innerHTML = stateLabel[state];
        }

        function checkState() {
            $.get("/webadmin/scheduled-maintenance-mode/state", function (data) {
                if (data.error) {
                    alert.data(error);
                } else {
                    updateControls(data.state, data.params);
                    updateStatusText(data.state);
                    currentState = data.state;
                }
                setTimeout(checkState, timeout);
            }, "json");
        }
    });
</script>

