﻿
@{
    ViewBag.Title = "MoneyInSystem";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Money In The System  <a href="http://docs.evenbetgaming.com/articles/Administration_Panel/Money In The System.html" target="_blank"><sup><i class="fa fa-question-circle"></i></sup></a></h3>
<div class="box">
    <div class="box-body">
        <label for="moneyType" class="optional">Money Types</label>

        <select name="moneyType" id="moneyType">
            <option value="82" selected="selected">Real Money</option>
            <option value="80">Play Money</option>
            <option value="65">cash game points</option>
        </select>


        <table class="table table-bordered table-hover">
            <thead class="listHead">
                <tr>
                    <th>Date</th>
                    <th>Internal Deposit</th>
                    <th>Internal Deposit Rev</th>
                    <th>Deposit</th>
                    <th>Withdrawal</th>
                    <th>Cancel Withdrawal</th>
                    <th>Custom In</th>
                    <th>Custom Out</th>
                    <th>Freeroll Prizes</th>
                    <th>Guaranteed Prize</th>
                    <th>Second Prize</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tr parent="" id="row-2018-01-01-year">
                <td><a href="#" class="openPeriod" unpinned innerPeriod="month" date="2018-01-01"><img src="img/content/collapsed.png" border="0" />2018</a></a></td>
                <td></td>
                <td>-53.70</td>
                <td>128264.90</td>
                <td>-16042.13</td>
                <td></td>
                <td>4460.42</td>
                <td>-1204.35</td>
                <td></td>
                <td></td>
                <td></td>
                <td>115425.14</td>
            </tr>
            <tr parent="" id="row-2019-01-01-year">
                <td><a href="#" class="openPeriod" unpinned innerPeriod="month" date="2019-01-01"><img src="img/content/collapsed.png" border="0" />2019</a></a></td>
                <td>2.67</td>
                <td>-10000.00</td>
                <td>34872.40</td>
                <td>-136016.41</td>
                <td></td>
                <td>7106.67</td>
                <td></td>
                <td>3041.63</td>
                <td>1198.37</td>
                <td></td>
                <td>-99794.67</td>
            </tr>
            <tr parent="" id="row-2020-01-01-year">
                <td><a href="#" class="openPeriod" unpinned innerPeriod="month" date="2020-01-01"><img src="img/content/collapsed.png" border="0" />2020</a></a></td>
                <td></td>
                <td></td>
                <td>15090.47</td>
                <td>7784.17</td>
                <td></td>
                <td>1642.45</td>
                <td></td>
                <td>120.00</td>
                <td>191.60</td>
                <td></td>
                <td>24828.69</td>
            </tr>

        </table>
    </div>
</div>