﻿
@{
    ViewBag.Title = "NotApprovedAvatar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<h3>Player Not Approved Avatars</h3>
<br />
<div id="dynamicContent">
    <table id='na_avatars_list' class="listing-table">
        <thead class="listHead">
            <tr>
                <th data-meta-skip-manage='true'>#</th>
                <th data-meta-key='f_user_id' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_user_id" orderType="">
                            Player
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='user_id' data-meta-visibility="true">
                    <nobr>
                        Current Avatar
                    </nobr>
                </th>
                <th data-meta-key='na_user_id' data-meta-visibility="true">
                    <nobr>
                        NA Avatar
                    </nobr>
                </th>
                <th data-meta-key='buttons' data-meta-visibility="true">
                    <nobr>
                        Actions
                    </nobr>
                </th>
            </tr>
        </thead>
        <thead class="listFilter">
            <tr>
                <th>&nbsp;</th>
                <th>
                    <input type="text" name="f_user_id" id="f_user_id" value="" filter="1" orderable="1" sql="f_user_id" nonHtml="" class="filter" />
                </th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>

                    <button name="butFilter" id="butFilter" type="button">Apply Filter</button>

                    <button name="butReset" id="butReset" type="button">Reset Filter</button>
                </th>

            </tr>
        </thead>

        <tr class="odd">
            <td>1</td>
            <td><a href="/webadmin/user/info/id/2257585">4L676ZZ</a></td>
            <td></td>
            <td><img src='/webadmin/user/na-avatar/id/2257585' /></td>
            <td>
                <div class="dropdown text-center">
                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                            type="button" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-bars"></i>
                    </button>
                    <div class="dropdown-menu table-dropdown">
                        <a href="/webadmin/user/approve-avatar/userId/2257585" class="ajax-link">
                            <div class="ok" id="ok-2257585" title="Approve"></div>
                        </a>

                        <a href="/webadmin/user/clear-not-approved-avatar/userId/2257585" class="ajax-link">
                            <div class="del" id="del-2257585" title="Decline"></div>
                        </a>


                    </div>
                </div>
            </td>

        </tr>
        <tr class="even">
            <td>2</td>
            <td><a href="/webadmin/user/info/id/2239228">5VJ052BB</a></td>
            <td></td>
            <td><img src='/webadmin/user/na-avatar/id/2239228' /></td>
            <td>
                <div class="dropdown text-center">
                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                            type="button" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-bars"></i>
                    </button>
                    <div class="dropdown-menu table-dropdown">
                        <a href="/webadmin/user/approve-avatar/userId/2239228" class="ajax-link">
                            <div class="ok" id="ok-2239228" title="Approve"></div>
                        </a>

                        <a href="/webadmin/user/clear-not-approved-avatar/userId/2239228" class="ajax-link">
                            <div class="del" id="del-2239228" title="Decline"></div>
                        </a>


                    </div>
                </div>
            </td>

        </tr>
        <tr class="odd">
            <td>3</td>
            <td><a href="/webadmin/user/info/id/2896228">556OWY88</a></td>
            <td></td>
            <td><img src='/webadmin/user/na-avatar/id/2896228' /></td>
            <td>
                <div class="dropdown text-center">
                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                            type="button" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-bars"></i>
                    </button>
                    <div class="dropdown-menu table-dropdown">
                        <a href="/webadmin/user/approve-avatar/userId/2896228" class="ajax-link">
                            <div class="ok" id="ok-2896228" title="Approve"></div>
                        </a>

                        <a href="/webadmin/user/clear-not-approved-avatar/userId/2896228" class="ajax-link">
                            <div class="del" id="del-2896228" title="Decline"></div>
                        </a>


                    </div>
                </div>
            </td>

        </tr>
        <tr class="even">
            <td>4</td>
            <td><a href="/webadmin/user/info/id/4766539">P156VIMM</a></td>
            <td></td>
            <td><img src='/webadmin/user/na-avatar/id/4766539' /></td>
            <td>
                <div class="dropdown text-center">
                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                            type="button" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-bars"></i>
                    </button>
                    <div class="dropdown-menu table-dropdown">
                        <a href="/webadmin/user/approve-avatar/userId/4766539" class="ajax-link">
                            <div class="ok" id="ok-4766539" title="Approve"></div>
                        </a>

                        <a href="/webadmin/user/clear-not-approved-avatar/userId/4766539" class="ajax-link">
                            <div class="del" id="del-4766539" title="Decline"></div>
                        </a>


                    </div>
                </div>
            </td>

        </tr>
        <tr class="odd">
            <td>5</td>
            <td><a href="/webadmin/user/info/id/4842517">1XBFTHDD</a></td>
            <td></td>
            <td><img src='/webadmin/user/na-avatar/id/4842517' /></td>
            <td>
                <div class="dropdown text-center">
                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                            type="button" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-bars"></i>
                    </button>
                    <div class="dropdown-menu table-dropdown">
                        <a href="/webadmin/user/approve-avatar/userId/4842517" class="ajax-link">
                            <div class="ok" id="ok-4842517" title="Approve"></div>
                        </a>

                        <a href="/webadmin/user/clear-not-approved-avatar/userId/4842517" class="ajax-link">
                            <div class="del" id="del-4842517" title="Decline"></div>
                        </a>


                    </div>
                </div>
            </td>

        </tr>
        <tr class="even">
            <td>6</td>
            <td><a href="/webadmin/user/info/id/4442163">G8W4BSKK</a></td>
            <td></td>
            <td><img src='/webadmin/user/na-avatar/id/4442163' /></td>
            <td>
                <div class="dropdown text-center">
                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                            type="button" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-bars"></i>
                    </button>
                    <div class="dropdown-menu table-dropdown">
                        <a href="/webadmin/user/approve-avatar/userId/4442163" class="ajax-link">
                            <div class="ok" id="ok-4442163" title="Approve"></div>
                        </a>

                        <a href="/webadmin/user/clear-not-approved-avatar/userId/4442163" class="ajax-link">
                            <div class="del" id="del-4442163" title="Decline"></div>
                        </a>


                    </div>
                </div>
            </td>

        </tr>
    </table>
    <div class='rowCount'>
        Number of rows: 6
    </div>
    <div class="paginator-controls" id="blockPaginatorControls">
    </div>
    <div class="limit-controls" style="display: inline-block;">
        <div id="perpage">Per page:</div>
        <select class="limit-links">
            <option data-href="/webadmin/avatar/na-list/limit/10">10</option>
            <option data-href="/webadmin/avatar/na-list/limit/25">25</option>
            <option selected data-href="/webadmin/avatar/na-list/limit/50">50</option>
            <option data-href="/webadmin/avatar/na-list/limit/100">100</option>
        </select>
    </div>
</div>
