﻿
@{
    ViewBag.Title = "OnlinePlayerList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

    <link href="~/Assest/css/main_legacy.css" rel="stylesheet" />
<h3>Online Players List</h3>
<div class="box">
    <div class="box-body">
        <div id="status">&nbsp;</div>
        <div id="dynamicContent">
            <table class="listing-table">
                <thead class="listHead">
                    <tr>
                        <th>#</th>
                        <th>
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_player_id" orderType="">
                                    Player
                                </a>
                            </nobr>
                        </th>
                        <th>
                            <nobr>
                                Real Money
                            </nobr>
                        </th>
                        <th>
                            <nobr>
                                Play Money
                            </nobr>
                        </th>
                        <th>
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_ip_address" orderType="">
                                    IP
                                </a>
                            </nobr>
                        </th>
                        <th>
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_platform" orderType="">
                                    Device
                                </a>
                            </nobr>
                        </th>
                        <th>
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_start_stamp" orderType="">
                                    Session Duration
                                </a>
                            </nobr>
                        </th>
                        <th>
                            <nobr>
                                Country
                            </nobr>
                        </th>
                        <th>
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_affiliate_id" orderType="">
                                    Affiliate
                                </a>
                            </nobr>
                        </th>
                        <th>Seating Tables</th>
                        <th>Type</th>
                        <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    </tr>
                </thead>
                <thead class="listFilter">
                    <tr>
                        <th>&nbsp;</th>
                        <th>

                            <input type="text" name="f_player_id" id="f_player_id" value="" filter="1" sql="player.f_id" sql_nick="player.f_nick" orderable="1" nonHtml="" class="filter" />
                        </th>
                        <th>

                            <input type="text" name="realmoney" id="realmoney" value="" filter="1" orderable="" sql="real_balance.f_balance" valueExt="R" nonHtml="" class="filter" />
                        </th>
                        <th>

                            <input type="text" name="playmoney" id="playmoney" value="" filter="1" orderable="" sql="play_balance.f_balance" valueExt="P" nonHtml="" class="filter" />
                        </th>
                        <th>

                            <input type="text" name="f_ip_address" id="f_ip_address" value="" filter="1" sql="online.f_ip_address" orderable="1" nonHtml="" class="filter" />
                        </th>
                        <th>

                            <select name="f_platform" id="f_platform" filter="1" sql="playerDevice.f_platform" orderable="1" nonHtml="" class="filter">
                                <option value="">-</option>
                                <option value="W">Windows</option>
                                <option value="A">Android</option>
                                <option value="I">iOS</option>
                                <option value="M">mac</option>
                                <option value="H">html5</option>
                            </select>
                        </th>
                        <th>
                            &nbsp;
                        </th>
                        <th>
                            &nbsp;
                        </th>
                        <th>

                            <input type="text" name="f_affiliate_id" id="f_affiliate_id" value="" sql="player_affiliate.f_affiliate_id" sql_nick="(SELECT f_nick FROM t_player WHERE f_id = player_affiliate.f_affiliate_id)" filter="1" orderable="1" nonHtml="" class="filter" />
                        </th>
                        <th>
                            <input type="text" name="f_table_id" id="f_table_id" value="" novisible="1" filter="1" sql="tables_info.f_id" sql_name="IFNULL(tables_info.f_name, &quot;Lobby&quot;)" style="width: 100%; margin: 0 auto" orderable="1" nonHtml="" class="filter" />
                        </th>
                        <th>
                            <select name="table_type" id="table_type" novisible="1" filter="1" sql="tables_info.f_tournament_id &gt; 0" orderable="1" nonHtml="" class="filter">
                                <option value="">-</option>
                                <option value="0">Cash</option>
                                <option value="1">Tournament</option>
                            </select>
                        </th>
                        <th>

                            <button name="butFilter" id="butFilter" type="button">Apply Filter</button>

                            <button name="butReset" id="butReset" type="button">Reset Filter</button>
                        </th>
                    </tr>
                </thead>
                <tr class="odd" userId="5126947">
                    <td>1</td>
                    <td>
                        <a href="/webadmin/user/info/id/5126947">Rihana</a>
                    </td>
                    <td>
                        1060.75
                    </td>
                    <td>
                        0.00
                    </td>
                    <td>
                        78.109.139.161
                    </td>
                    <td>
                        Windows
                    </td>
                    <td>
                        20m 30s
                    </td>
                    <td>
                        Russian Federation
                    </td>
                    <td>
                        <a href="/webadmin/user/info/id/5126926">KateAff</a>
                    </td>
                    <td style="white-space: nowrap;">
                        Lobby
                    </td>
                    <td>
                        -
                    </td>
                    <td>
                        <button class="btn btn-primary btn-xs blockUserButton" type="button"
                                userId="5126947">
                            Block
                        </button>
                        <button class="btn btn-primary btn-xs kickUserButton" type="button"
                                userId="5126947">
                            Kick
                        </button>

                    </td>
                </tr>
            </table>
            <div class='rowCount'>
                <div class="row">
                    <div class="col-md-3">
                        Rows: 1&ensp;|&ensp;
                        <div class="limit-controls" style="display: inline-block;">
                            <div id="perpage">Per page:</div>
                            <select class="limit-links">
                                <option data-href="/webadmin/monitoring/index/index/limit/10">10</option>
                                <option data-href="/webadmin/monitoring/index/index/limit/25">25</option>
                                <option selected=selected data-href="/webadmin/monitoring/index/index/limit/50">50</option>
                                <option data-href="/webadmin/monitoring/index/index/limit/100">100</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6" style="display: flex; justify-content: center">
                        <div class="paginator-controls" id="blockPaginatorControls">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="pull-right">
                            <a href="/webadmin/monitoring/index/index/_output/xlsx"><img src="~/Assest/img/xls.svg" alt="Excel" /></a>
                            <a href="/webadmin/monitoring/index/index/_output/csv"><img src="~/Assest/img/csv.svg" alt="CSV" /></a>
                            <a href="/webadmin/monitoring/index/index/_output/ods"><img src="~/Assest/img/odt.svg" alt="OpenDocument" /></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="modal fade" id="blockDialog" tabindex="-1" role="dialog" aria-labelledby="blockDialogLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="blockDialogLabel">Block User</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="box box-primary">
                                    <form action="" enctype="multipart/form-data" method="post" id="block-user-form">
                                        <div class="box-body">

                                            <div id="form-element-timeoutBlockUser" class="form-element">
                                                <label for="timeoutBlockUser">Timeout to block the user (seconds)</label>
                                                <input id="timeoutBlockUser"
                                                       type="text"
                                                       name="timeoutBlockUser"
                                                       value=""
                                                       dojoType="dijit.form.ValidationTextBox"
                                                       trim="true" />
                                                <ul class="errors" id="timeoutBlockUserErrors">
                                                </ul>
                                            </div>

                                            <div id="form-element-infinitBlockUser" class="form-element">
                                                <input type="hidden" name="infinitBlockUser" value="0" />
                                                <label for="infinitBlockUser">
                                                    <input id="infinitBlockUser"
                                                           name="infinitBlockUser"
                                                           type="checkbox"
                                                           dojoType="dijit.form.CheckBox"
                                                           value="1"
                                                           checked=false checked=""
                                                           options="Array"
                                                           type="checkbox"
                                                           formName="formBlockUser" />
                                                    Block the user for an infinit period
                                                </label>
                                                <ul class="errors" id="infinitBlockUserErrors">
                                                </ul>
                                            </div>

                                            <button id=submitBlockUser dojoType="dijit.form.Button" type="button"
                                                    name="submitBlockUser" value="">
                                                Ok
                                            </button>

                                            <button id=cancelBlockUser dojoType="dijit.form.Button" type="button"
                                                    name="cancelBlockUser" value="">
                                                Cancel
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
