﻿
@{
    ViewBag.Title = "OnlinePlayerLocation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Online Players Locations</h3>

<div class="box">
    <div class="box-body" id="map" style="height: 600px">

    </div>

</div>

<script>
    map.positions = JSON.parse('[]');
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDflAQXw1QlMZQ6mlk6y_0buFBYT-gWONc"></script>

