﻿
@{
    ViewBag.Title = "ParticipationList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Participation</h3>
<br />
<div id="dynamicContent">
    <table id='participation' class="listing-table">
        <thead class="listHead">
            <tr>
                <th data-meta-skip-manage='true'>#</th>
                <th data-meta-key='f_player_id' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_player_id" orderType="">
                            Player
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_game_id' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_game_id" orderType="">
                            Game
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='ended_stamp' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="ended_stamp" orderType="">
                            Date
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='table_id' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="table_id" orderType="">
                            Table
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='tournament_id' data-meta-visibility="true">
                    <nobr>
                        Tournament
                    </nobr>
                </th>
                <th data-meta-key='f_game_type' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_game_type" orderType="">
                            Game Type
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_money_type' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_money_type" orderType="">
                            Money Type
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='bet' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="bet" orderType="">
                            Bet
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='pot' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="pot" orderType="">
                            Pot
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_is_win' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_is_win" orderType="">
                            Winner
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_high_combination_name' data-meta-visibility="true">
                    <nobr>
                        High Combination
                    </nobr>
                </th>
            </tr>
        </thead>
        <thead class="listFilter">
            <tr>
                <th>&nbsp;</th>
                <th>
                    <input type="text" name="f_player_id" id="f_player_id" value="" filter="1" orderable="1" sql="f_player_id" nonHtml="" class="filter" />
                </th>
                <th>
                    <input type="text" name="f_game_id" id="f_game_id" value="" filter="1" orderable="1" sql="f_game_id" nonHtml="" class="filter" />
                </th>
                <th>
                    From: <input type="text" name="ended_stamp[from]" id="ended_stamp[from]" value="2020-02-21 00:00:00" filter="1" sql="g.f_ended_stamp" style="width: 100px" orderable="1" nonHtml="" class="filter" readonly="readonly" onclick='displayDatePicker("ended_stamp[from]", false, "ymd", "-");' /> To: <input type="text" name="ended_stamp[to]" id="ended_stamp[to]" value="2020-02-28 00:00:00" filter="1" sql="g.f_ended_stamp" style="width: 100px" orderable="1" nonHtml="" class="filter" readonly="readonly" onclick='displayDatePicker("ended_stamp[to]", false, "ymd", "-");' />
                </th>
                <th>
                    <input type="text" name="table_id" id="table_id" value="" filter="1" sql="_p.f_table_id" orderable="1" nonHtml="" class="filter" />
                </th>
                <th>&nbsp;</th>
                <th>
                    <select name="f_game_type" id="f_game_type" filter="1" sql="g.f_game_type" orderable="1" nonHtml="" class="filter">
                        <option value="">-</option>
                        <option value="72">Hold'em</option>
                        <option value="54">Short Deck Hold'em</option>
                        <option value="79">Omaha</option>
                        <option value="80">Omaha H/L</option>
                        <option value="83">Stud</option>
                        <option value="84">Stud H/L</option>
                        <option value="82">Razz</option>
                        <option value="68">2-7 Triple Draw</option>
                        <option value="66">Badugi</option>
                        <option value="69">Badeucy</option>
                        <option value="67">Badacey</option>
                        <option value="78">Chinese</option>
                        <option value="70">Openface Chinese</option>
                        <option value="73">Chinese Pineapple</option>
                        <option value="76">Chinese 2-7 Pineapple</option>
                        <option value="85">Chinese Turbo</option>
                        <option value="77">Chinese OF Pineapple Progressive</option>
                        <option value="88">Omaha 5 card</option>
                        <option value="71">Omaha 5 card H/L</option>
                        <option value="89">Courchevel</option>
                        <option value="74">Pineapple Poker</option>
                        <option value="35">Mixed Games</option>
                        <option value="75">Turkish</option>
                        <option value="81">5 Card Draw 7-A</option>
                        <option value="65">Points Rummy</option>
                        <option value="86">Deals Rummy</option>
                        <option value="87">Pool Rummy</option>
                        <option value="90">Triton ShortDeck</option>
                        <option value="91">Omaha 6 card</option>
                        <option value="93">Omaha 6 card H/L</option>
                    </select>
                </th>
                <th>
                    <select name="f_money_type" id="f_money_type" filter="1" orderable="1" sql="f_money_type" nonHtml="" class="filter">
                        <option value="">-</option>
                        <option value="82">Real Money</option>
                        <option value="80">Play Money</option>
                        <option value="65">cash game points</option>
                    </select>
                </th>
                <th>
                    <input type="text" name="bet" id="bet" value="" filter="1" sql="_p.f_bet" orderable="1" nonHtml="" class="filter" />
                </th>
                <th>
                    <input type="text" name="pot" id="pot" value="" filter="1" sql="_p.f_pot" orderable="1" nonHtml="" class="filter" />
                </th>
                <th>
                    <select name="f_is_win" id="f_is_win" filter="1" orderable="1" sql="f_is_win" nonHtml="" class="filter">
                        <option value="">-</option>
                        <option value="1">Yes</option>
                        <option value="0">No</option>
                    </select>
                </th>
                <th>&nbsp;</th>

            </tr>
        </thead>

        <tr class="odd">
            <td>1</td>
            <td><a href="/webadmin/user/info/id/5131823">JohnyD</a></td>
            <td><a href="/webadmin/game/view/id/5027988">5027988</a></td>
            <td>2020/02/27 03:21:04</td>
            <td><a href="/webadmin/table/info/id/4629786">Kentucky (4629786)</a></td>
            <td><span class="notbold">-</span></td>
            <td>Omaha</td>
            <td>Real Money</td>
            <td>0.00</td>
            <td>0.00</td>
            <td>No</td>
            <td>3</td>

        </tr>
        <tr class="even">
            <td>2</td>
            <td><a href="/webadmin/user/info/id/5126947">Rihana</a></td>
            <td><a href="/webadmin/game/view/id/5027988">5027988</a></td>
            <td>2020/02/27 03:21:04</td>
            <td><a href="/webadmin/table/info/id/4629786">Kentucky (4629786)</a></td>
            <td><span class="notbold">-</span></td>
            <td>Omaha</td>
            <td>Real Money</td>
            <td>0.00</td>
            <td>0.00</td>
            <td>No</td>
            <td>5</td>

        </tr>
        <tr class="odd">
            <td>3</td>
            <td><a href="/webadmin/user/info/id/5131823">JohnyD</a></td>
            <td><a href="/webadmin/game/view/id/5027989">5027989</a></td>
            <td>2020/02/27 03:21:40</td>
            <td><a href="/webadmin/table/info/id/4629786">Kentucky (4629786)</a></td>
            <td><span class="notbold">-</span></td>
            <td>Omaha</td>
            <td>Real Money</td>
            <td>10.00</td>
            <td>0.00</td>
            <td>No</td>
            <td>Pair of 6 and Q J 8</td>

        </tr>
        <tr class="even">
            <td>4</td>
            <td><a href="/webadmin/user/info/id/5126947">Rihana</a></td>
            <td><a href="/webadmin/game/view/id/5027989">5027989</a></td>
            <td>2020/02/27 03:21:40</td>
            <td><a href="/webadmin/table/info/id/4629786">Kentucky (4629786)</a></td>
            <td><span class="notbold">-</span></td>
            <td>Omaha</td>
            <td>Real Money</td>
            <td>10.00</td>
            <td>19.50</td>
            <td>Yes</td>
            <td>Two Pairs Q 7 and 8</td>

        </tr>
        <tr class="odd">
            <td>5</td>
            <td><a href="/webadmin/user/info/id/5131823">JohnyD</a></td>
            <td><a href="/webadmin/game/view/id/5027990">5027990</a></td>
            <td>2020/02/27 03:22:13</td>
            <td><a href="/webadmin/table/info/id/4629786">Kentucky (4629786)</a></td>
            <td><span class="notbold">-</span></td>
            <td>Omaha</td>
            <td>Real Money</td>
            <td>0.00</td>
            <td>0.00</td>
            <td>No</td>
            <td></td>

        </tr>
        <tr class="even">
            <td>6</td>
            <td><a href="/webadmin/user/info/id/5126947">Rihana</a></td>
            <td><a href="/webadmin/game/view/id/5027990">5027990</a></td>
            <td>2020/02/27 03:22:13</td>
            <td><a href="/webadmin/table/info/id/4629786">Kentucky (4629786)</a></td>
            <td><span class="notbold">-</span></td>
            <td>Omaha</td>
            <td>Real Money</td>
            <td>0.00</td>
            <td>0.00</td>
            <td>No</td>
            <td></td>

        </tr>
        <tr class="odd">
            <td>7</td>
            <td><a href="/webadmin/user/info/id/5131823">JohnyD</a></td>
            <td><a href="/webadmin/game/view/id/5027991">5027991</a></td>
            <td>2020/02/27 03:23:17</td>
            <td><a href="/webadmin/table/info/id/4629786">Kentucky (4629786)</a></td>
            <td><span class="notbold">-</span></td>
            <td>Omaha</td>
            <td>Real Money</td>
            <td>20.00</td>
            <td>39.00</td>
            <td>Yes</td>
            <td>Straight 10 to A</td>

        </tr>
        <tr class="even">
            <td>8</td>
            <td><a href="/webadmin/user/info/id/5126947">Rihana</a></td>
            <td><a href="/webadmin/game/view/id/5027991">5027991</a></td>
            <td>2020/02/27 03:23:17</td>
            <td><a href="/webadmin/table/info/id/4629786">Kentucky (4629786)</a></td>
            <td><span class="notbold">-</span></td>
            <td>Omaha</td>
            <td>Real Money</td>
            <td>20.00</td>
            <td>0.00</td>
            <td>No</td>
            <td>A K J 10 9</td>

        </tr>
        <tr class="odd">
            <td>9</td>
            <td><a href="/webadmin/user/info/id/5131823">JohnyD</a></td>
            <td><a href="/webadmin/game/view/id/5027992">5027992</a></td>
            <td>2020/02/27 03:23:47</td>
            <td><a href="/webadmin/table/info/id/4629786">Kentucky (4629786)</a></td>
            <td><span class="notbold">-</span></td>
            <td>Omaha</td>
            <td>Real Money</td>
            <td>10.00</td>
            <td>0.00</td>
            <td>No</td>
            <td>Pair of 8 and A Q 9</td>

        </tr>
        <tr class="even">
            <td>10</td>
            <td><a href="/webadmin/user/info/id/5126947">Rihana</a></td>
            <td><a href="/webadmin/game/view/id/5027992">5027992</a></td>
            <td>2020/02/27 03:23:47</td>
            <td><a href="/webadmin/table/info/id/4629786">Kentucky (4629786)</a></td>
            <td><span class="notbold">-</span></td>
            <td>Omaha</td>
            <td>Real Money</td>
            <td>10.00</td>
            <td>19.50</td>
            <td>Yes</td>
            <td>Flush high Jh</td>

        </tr>
        <tr class="odd">
            <td>11</td>
            <td><a href="/webadmin/user/info/id/5131823">JohnyD</a></td>
            <td><a href="/webadmin/game/view/id/5027993">5027993</a></td>
            <td>2020/02/27 03:24:33</td>
            <td><a href="/webadmin/table/info/id/4629786">Kentucky (4629786)</a></td>
            <td><span class="notbold">-</span></td>
            <td>Omaha</td>
            <td>Real Money</td>
            <td>65.00</td>
            <td>0.00</td>
            <td>No</td>
            <td>Pair of 6 and K J 8</td>

        </tr>
        <tr class="even">
            <td>12</td>
            <td><a href="/webadmin/user/info/id/5126947">Rihana</a></td>
            <td><a href="/webadmin/game/view/id/5027993">5027993</a></td>
            <td>2020/02/27 03:24:33</td>
            <td><a href="/webadmin/table/info/id/4629786">Kentucky (4629786)</a></td>
            <td><span class="notbold">-</span></td>
            <td>Omaha</td>
            <td>Real Money</td>
            <td>65.00</td>
            <td>126.75</td>
            <td>Yes</td>
            <td>Pair of 8 and A K 6</td>

        </tr>
        <tr class="odd">
            <td>13</td>
            <td><a href="/webadmin/user/info/id/5131823">JohnyD</a></td>
            <td><a href="/webadmin/game/view/id/5027994">5027994</a></td>
            <td>2020/02/27 03:24:40</td>
            <td><a href="/webadmin/table/info/id/4629786">Kentucky (4629786)</a></td>
            <td><span class="notbold">-</span></td>
            <td>Omaha</td>
            <td>Real Money</td>
            <td>0.00</td>
            <td>0.00</td>
            <td>No</td>
            <td></td>

        </tr>
        <tr class="even">
            <td>14</td>
            <td><a href="/webadmin/user/info/id/5126947">Rihana</a></td>
            <td><a href="/webadmin/game/view/id/5027994">5027994</a></td>
            <td>2020/02/27 03:24:40</td>
            <td><a href="/webadmin/table/info/id/4629786">Kentucky (4629786)</a></td>
            <td><span class="notbold">-</span></td>
            <td>Omaha</td>
            <td>Real Money</td>
            <td>0.00</td>
            <td>0.00</td>
            <td>No</td>
            <td></td>

        </tr>
    </table>
    <div class='rowCount'>
        Number of rows: 14
        &nbsp;|&nbsp;
        Export To:
        <a href="/webadmin/listing/participation/_output/xlsx">Excel</a> | <a href="/webadmin/listing/participation/_output/csv">CSV</a> | <a href="/webadmin/listing/participation/_output/ods">OpenDocument</a>
    </div>
    <div class="paginator-controls" id="blockPaginatorControls">
    </div>
    <div class="limit-controls" style="display: inline-block;">
        <div id="perpage">Per page:</div>
        <select class="limit-links">
            <option data-href="/webadmin/listing/participation/limit/10">10</option>
            <option data-href="/webadmin/listing/participation/limit/25">25</option>
            <option selected data-href="/webadmin/listing/participation/limit/50">50</option>
            <option data-href="/webadmin/listing/participation/limit/100">100</option>
        </select>
    </div>
</div>
<script type="text/javascript">

    function datePickerClosed(dateField) {
        var today = new Date(),
            dateObj;
        today = new Date(today.getFullYear(), today.getMonth(), today.getDate());
        today.setTime(today.getTime() + (24 * 60 * 60 * 1000));
        if (dateField.name == "ended_stamp[from]") {
            if (!dateField.value) {
                today.setTime(today.getTime() - (7 * 24 * 60 * 60 * 1000 - 1 * 1000));
                dateField.value = getDateString(today) + " 00:00";
            }
            dateObj = getFieldDate(dateField.value);
            var endDateField = document.getElementsByName("ended_stamp[to]").item(0);
            // if the date is okay, set the EndDate field to 7 days after the StartDate
            var endDateObj = getFieldDate(endDateField.value);
            if ((endDateObj.getTime() >= dateObj.getTime()) && (endDateObj.getTime() - dateObj.getTime() < 7 * 24 * 60 * 60 * 1000)) {
                return;
            }
            dateObj.setTime(dateObj.getTime() + (7 * 24 * 60 * 60 * 1000));
            var dateString = getDateString(dateObj);
            dateString += " " + _normalizeHours(dateObj.getHours()) + ":" + _normalizeMinutes(dateObj.getMinutes());
            endDateField.value = dateString;
        } else if (dateField.name == "ended_stamp[to]") {
            if (!dateField.value) {
                dateField.value = getDateString(today) + " 00:00";
            }
            dateObj = dateField.value ? getFieldDate(dateField.value) : today;
            var startDateField = document.getElementsByName("ended_stamp[from]").item(0);
            // if the date is okay, set the StartDate field to 7 days before the EndDate
            var startDateObj = getFieldDate(startDateField.value);
            if ((dateObj.getTime() >= startDateObj.getTime()) && (dateObj.getTime() - startDateObj.getTime() < 7 * 24 * 60 * 60 * 1000)) {
                return;
            }
            dateObj.setTime(dateObj.getTime() - (7 * 24 * 60 * 60 * 1000));
            var dateString = getDateString(dateObj);
            dateString += " " + _normalizeHours(dateObj.getHours()) + ":" + _normalizeMinutes(dateObj.getMinutes());
            startDateField.value = addTimeToString("ended_stamp[from]", dateString);
        }
    }

</script>

