﻿
@{
    ViewBag.Title = "PaymentSettings";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h3>Settings</h3>
<div class="box box-solid">
    <form enctype="application/x-www-form-urlencoded" method="post" action="" dojoType="dijit.form.Form">
        <div class="nav-tabs-custom" id="tabs_288">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#tabs_288___main__" data-toggle="tab" aria-expanded="true">
                        Main
                    </a>
                </li>
                <li>
                    <a href="#tabs_288_82" data-toggle="tab" aria-expanded="false">
                        Real Money
                    </a>
                </li>
                <li>
                    <a href="#tabs_288_80" data-toggle="tab" aria-expanded="false">
                        Play Money
                    </a>
                </li>
                <li>
                    <a href="#tabs_288_65" data-toggle="tab" aria-expanded="false">
                        cash game points
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tabs_288___main__">
                    <div class="form-group" id="form-element-cashout__periodToMakeCashOut">
                        <label for="cashout__periodToMakeCashOut" class="optional">Don’t allow cash out during this period after deposit (DD:HH:MM:SS)</label>

                        <input type="text" name="cashout__periodToMakeCashOut" id="cashout__periodToMakeCashOut" value="00:00:00:00" class="form-control" />
                    </div>
                    <div class="form-group" id="form-element-deposit_description">
                        <label for="deposit_description" class="optional">Transaction/product name on the checkout page at your payment service</label>

                        <input type="text" name="deposit_description" id="deposit_description" value="Deposit Bet&amp;Bit" class="form-control" />
                    </div>
                    <div class="form-group" id="form-element-singleGatewayMode">
                        <label for="singleGatewayMode" class="optional">Single Gateway Mode</label>

                        <select name="singleGatewayMode" id="singleGatewayMode" class="form-control select2">
                            <option value="0" selected="selected">Disabled</option>
                            <option value="1">Deposit</option>
                            <option value="2">Withdraw</option>
                            <option value="3">Deposit &amp; Withdraw</option>
                            <option value="15">Both Are Identical</option>
                        </select>
                    </div>
                    <div class="form-group" id="form-element-skinMode">
                        <label for="skinMode" class="optional">Skin Mode</label>

                        <select name="skinMode" id="skinMode" class="form-control select2">
                            <option value="">Auto</option>
                            <option value="1">Enabled</option>
                            <option value="0">Disabled</option>
                        </select>
                    </div>
                </div>
                <div class="tab-pane" id="tabs_288_82">
                    <div class="box-body">
                        <div class="form-group" id="form-element-cashoutUse2faMinAmountRaw">
                            <label for="82-cashoutUse2faMinAmountRaw" class="optional">Min Withdrawal Amount Requiring 2FA</label>

                            <input type="text" name="82[cashoutUse2faMinAmountRaw]" id="82-cashoutUse2faMinAmountRaw" value="0" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-cashout2faMustBeEnabled">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="82[cashout2faMustBeEnabled]" value="0" /><input type="checkbox" name="82[cashout2faMustBeEnabled]" id="82-cashout2faMustBeEnabled" value="1" />Force The User To Turn On 2fa
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tabs_288_80">
                    <div class="box-body">
                        <div class="form-group" id="form-element-cashoutUse2faMinAmountRaw">
                            <label for="80-cashoutUse2faMinAmountRaw" class="optional">Min Withdrawal Amount Requiring 2FA</label>

                            <input type="text" name="80[cashoutUse2faMinAmountRaw]" id="80-cashoutUse2faMinAmountRaw" value="0" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-cashout2faMustBeEnabled">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="80[cashout2faMustBeEnabled]" value="0" /><input type="checkbox" name="80[cashout2faMustBeEnabled]" id="80-cashout2faMustBeEnabled" value="1" />Force The User To Turn On 2fa
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tabs_288_65">
                    <div class="box-body">
                        <div class="form-group" id="form-element-cashoutUse2faMinAmountRaw">
                            <label for="65-cashoutUse2faMinAmountRaw" class="optional">Min Withdrawal Amount Requiring 2FA</label>

                            <input type="text" name="65[cashoutUse2faMinAmountRaw]" id="65-cashoutUse2faMinAmountRaw" value="0" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-cashout2faMustBeEnabled">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="65[cashout2faMustBeEnabled]" value="0" /><input type="checkbox" name="65[cashout2faMustBeEnabled]" id="65-cashout2faMustBeEnabled" value="1" />Force The User To Turn On 2fa
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="submit" name="send" id="send" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>
    </section>