﻿
@{
    ViewBag.Title = "PlayerMoney";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Player's Money <a href="http://docs.evenbetgaming.com/articles/Administration_Panel/Players Money.html" target="_blank"><sup><i class="fa fa-question-circle"></i></sup></a></h3>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="row">
                <div class="col-md-12" style="margin-bottom: 15px; margin-top: 15px">
                    <div class="form-group" style="margin: 10px;">
                        <div>
                            <label for="mtAll" class="optional">Exclude with zero balance:</label>

                            <select name="mtAll" id="mtAll" useLabel="1" skipSelect="1" external="1" class="filter">
                                <option value="">-</option>
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" style="margin: 10px;">
                        <div>
                            <label for="mt0" class="optional">Exclude with zero balance (Real Money):</label>

                            <select name="mt0" id="mt0" useLabel="1" skipSelect="1" external="1" class="filter">
                                <option value="">-</option>
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" style="margin: 10px;">
                        <div>
                            <label for="mt1" class="optional">Exclude with zero balance (Play Money):</label>

                            <select name="mt1" id="mt1" useLabel="1" skipSelect="1" external="1" class="filter">
                                <option value="">-</option>
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" style="margin: 10px;">
                        <div>
                            <label for="mt2" class="optional">Exclude with zero balance (cash game points):</label>

                            <select name="mt2" id="mt2" useLabel="1" skipSelect="1" external="1" class="filter">
                                <option value="">-</option>
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group" style="margin: 10px;">
                        <a href="#" class="btn btn-default" onclick="listing.filter(); return false;">Apply Filter</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="box-body">
                <div id="dynamicContent">





                    <div class="custom-dropdown-menu" id="columnsControls">
                    </div>

                    <table id='playerMoney' class="listing-table" data-dt-not-fixed-cols="true">
                        <thead class="listHead">
                            <tr>
                                <th data-meta-key='f_id'
                                    data-dt-width="40" data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_id"
                                           orderType="DESC">
                                            Player ID
                                            <img src="img/arrow_up.png" />
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_nick'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_nick"
                                           orderType="">
                                            Player
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='balance1'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="balance1"
                                           orderType="">
                                            Real Money
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='balance2'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="balance2"
                                           orderType="">
                                            Play Money
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='balance3'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="balance3"
                                           orderType="">
                                            cash game points
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-skip-manage='true'>
                                    <div>
                                        <button type="button" class="btn btn-primary custom-dropdown" id="columnControlsBtn">
                                            <img src="img/icons/menu.svg" alt="+">
                                        </button>
                                    </div>
                                </th>
                            </tr>
                            <tr class="listFilter">
                                <th>
                                    <input type="text" name="f_id" id="f_id" value="" sql="t_player.f_id" controller="user" action="info" filter="1" data_dt_width="40" orderable="1" nonHtml="" style="width:50px;" class="filter" />
                                </th>
                                <th>
                                    <input type="text" name="f_nick" id="f_nick" value="" sql="t_player.f_id" filter="1" orderable="1" nonHtml="" class="filter" />
                                </th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                                <th>

                                    <button name="butFilter" id="butFilter" type="button">Apply Filter</button>

                                    <button name="butReset" id="butReset" type="button">Reset Filter</button>
                                </th>

                            </tr>
                        </thead>


                        <tr class="odd ">
                            <td>
                                <a href="/webadmin/user/info/id/100">
                                    100
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/100">admin</a></td>
                            <td>200.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td></td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <a href="/webadmin/user/info/id/300">
                                    300
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/300">FOLLOFF</a></td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td></td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <a href="/webadmin/user/info/id/19633">
                                    19633
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/19633">GOPMOG88</a></td>
                            <td>0.00</td>
                            <td>200.00</td>
                            <td>0.01</td>
                            <td></td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <a href="/webadmin/user/info/id/19682">
                                    19682
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/19682">MNXEUHRR</a></td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.01</td>
                            <td></td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <a href="/webadmin/user/info/id/19709">
                                    19709
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/19709">01YJJ6VV</a></td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.01</td>
                            <td></td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <a href="/webadmin/user/info/id/25649">
                                    25649
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/25649">S6DGOC88</a></td>
                            <td>0.00</td>
                            <td>2000.00</td>
                            <td>0.01</td>
                            <td></td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <a href="/webadmin/user/info/id/30762">
                                    30762
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/30762">YSFQRIRR</a></td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td></td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <a href="/webadmin/user/info/id/91549">
                                    91549
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/91549">Q6PWCSXX</a></td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td></td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <a href="/webadmin/user/info/id/132725">
                                    132725
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/132725">YMN3CZBB</a></td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td></td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <a href="/webadmin/user/info/id/133032">
                                    133032
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/133032">UB8NQS22</a></td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td></td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <a href="/webadmin/user/info/id/143952">
                                    143952
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/143952">F9Z8WHZZ</a></td>
                            <td>0.00</td>
                            <td>2000.00</td>
                            <td>0.00</td>
                            <td></td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <a href="/webadmin/user/info/id/156446">
                                    156446
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/156446">66PJOJII</a></td>
                            <td>0.00</td>
                            <td>2000.00</td>
                            <td>0.00</td>
                            <td></td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <a href="/webadmin/user/info/id/191198">
                                    191198
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/191198">PTBIODHH</a></td>
                            <td>0.00</td>
                            <td>2000.00</td>
                            <td>0.00</td>
                            <td></td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <a href="/webadmin/user/info/id/191215">
                                    191215
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/191215">0EF2ATT</a></td>
                            <td>0.00</td>
                            <td>2000.00</td>
                            <td>0.00</td>
                            <td></td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <a href="/webadmin/user/info/id/191946">
                                    191946
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/191946">M0Z8N3BB</a></td>
                            <td>0.00</td>
                            <td>2000.00</td>
                            <td>0.00</td>
                            <td></td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <a href="/webadmin/user/info/id/192339">
                                    192339
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/192339">CGUU60UU</a></td>
                            <td>0.00</td>
                            <td>2000.00</td>
                            <td>0.00</td>
                            <td></td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <a href="/webadmin/user/info/id/197341">
                                    197341
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/197341">8G0L62CC</a></td>
                            <td>0.00</td>
                            <td>5501.46</td>
                            <td>0.00</td>
                            <td></td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <a href="/webadmin/user/info/id/197361">
                                    197361
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/197361">6ER66FSS</a></td>
                            <td>0.00</td>
                            <td>6498.18</td>
                            <td>0.00</td>
                            <td></td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <a href="/webadmin/user/info/id/209437">
                                    209437
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/209437">HHGPUSNN</a></td>
                            <td>0.00</td>
                            <td>2000.00</td>
                            <td>0.00</td>
                            <td></td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <a href="/webadmin/user/info/id/209981">
                                    209981
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/209981">9HUHMYNN</a></td>
                            <td>0.00</td>
                            <td>2000.00</td>
                            <td>0.00</td>
                            <td></td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <a href="/webadmin/user/info/id/267983">
                                    267983
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/267983">Z1YJ2PKK</a></td>
                            <td>0.00</td>
                            <td>2000.00</td>
                            <td>0.00</td>
                            <td></td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <a href="/webadmin/user/info/id/268001">
                                    268001
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/268001">XBG5KVFF</a></td>
                            <td>0.00</td>
                            <td>2000.00</td>
                            <td>0.00</td>
                            <td></td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <a href="/webadmin/user/info/id/268102">
                                    268102
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/268102">GOH3LSHH</a></td>
                            <td>0.00</td>
                            <td>2000.00</td>
                            <td>0.00</td>
                            <td></td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <a href="/webadmin/user/info/id/279628">
                                    279628
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/279628">F87A4NNN</a></td>
                            <td>0.00</td>
                            <td>2000.00</td>
                            <td>0.00</td>
                            <td></td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <a href="/webadmin/user/info/id/279637">
                                    279637
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/279637">SPWHPSOO</a></td>
                            <td>0.00</td>
                            <td>2000.00</td>
                            <td>0.00</td>
                            <td></td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->


                    </table>
                    <div class='rowCount'>
                        <div class="row">
                            <div class="col-md-3">
                                Rows: 3353&ensp;|&ensp;
                                <div class="limit-controls" style="display: inline-block;">
                                    <div id="perpage">Per page:</div>
                                    <select class="limit-links">
                                        <option data-href="/webadmin/listing/player-money/limit/10">10</option>
                                        <option selected data-href="/webadmin/listing/player-money/limit/25">25</option>
                                        <option data-href="/webadmin/listing/player-money/limit/50">50</option>
                                        <option data-href="/webadmin/listing/player-money/limit/100">100</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-7" style="display: flex; justify-content: center">
                                <div class="paginator-controls" id="blockPaginatorControls">
                                    <!-- First page link -->
                                    <div class="paginator-link">
                                        <span class="disabled">First</span>
                                    </div>
                                    <!-- Previous page link -->
                                    <div class="paginator-link">
                                        <span class="disabled">&lt; Previous</span>
                                    </div>
                                    <!-- Numbered page links -->
                                    <div class="paginator-link paginator-link_border">
                                        <span class="current">1</span>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/listing/player-money/page/2">2</a>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/listing/player-money/page/3">3</a>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/listing/player-money/page/4">4</a>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/listing/player-money/page/5">5</a>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/listing/player-money/page/6">6</a>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/listing/player-money/page/7">7</a>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/listing/player-money/page/8">8</a>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/listing/player-money/page/9">9</a>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/listing/player-money/page/10">10</a>
                                    </div>

                                    <!-- Next page link -->
                                    <div class="paginator-link">
                                        <a href="/webadmin/listing/player-money/page/2">Next &gt;</a>
                                    </div>
                                    <!-- Last page link -->
                                    <div class="paginator-link">
                                        <a href="/webadmin/listing/player-money/page/135">Last</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="pull-right">
                                    <a href="/webadmin/listing/player-money/_output/xlsx"><img src="img/icons/xls.svg" alt="Excel"></a>
                                    <a href="/webadmin/listing/player-money/_output/csv"><img src="img/icons/csv.svg" alt="CSV"></a>
                                    <a href="/webadmin/listing/player-money/_output/ods"><img src="img/icons/odt.svg" alt="OpenDocument" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>