﻿
@{
    ViewBag.Title = "PlayerInsuranceReport";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Player's Insurance Report</h3>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="row">
                <div class="col-md-12" style="margin-bottom: 15px; margin-top: 15px">
                    <div class="form-group" style="margin: 10px;">

                        From: <input type="text" name="Date[from]" id="Date[from]" value="" skipSelect="1" sql="f_stamp" external="1" class="filter" readonly="readonly" onclick='displayDatePicker("Date[from]", false, "ymd", "-");' /> To: <input type="text" name="Date[to]" id="Date[to]" value="" skipSelect="1" sql="f_stamp" external="1" class="filter" readonly="readonly" onclick='displayDatePicker("Date[to]", false, "ymd", "-");' />
                    </div>

                    <div class="form-group" style="margin: 10px;">
                        <a href="#" class="btn btn-default" onclick="listing.filter(); return false;">Apply Filter</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="box-body">
                <div id="dynamicContent">
                    <div class="custom-dropdown-menu" id="columnsControls">
                    </div>

                    <table id='affiliate_players_insurance' class="listing-table" data-dt-not-fixed-cols="true">
                        <thead class="listHead">
                            <tr>
                                <th data-meta-skip-manage='true'>
                                    <div>
                                        <button type="button" class="btn btn-primary custom-dropdown" id="columnControlsBtn">
                                            <img src="~/Assest/img/menu.svg" />
                                        </button>
                                    </div>
                                </th>
                                <th data-meta-key='f_player_id'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_player_id"
                                           orderType="">
                                            Player
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='is_affiliate'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="is_affiliate"
                                           orderType="">
                                            Affiliate
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_money_type'
                                    data-meta-visibility="true">
                                    <nobr>
                                        Money Type
                                    </nobr>
                                </th>
                                <th data-meta-key='f_name'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_name"
                                           orderType="">
                                            Name
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_family_name'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_family_name"
                                           orderType="">
                                            Second Name
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='total_insurance_fee'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="total_insurance_fee"
                                           orderType="">
                                            Total fee
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='total_insurance_claim'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="total_insurance_claim"
                                           orderType="">
                                            Total claim
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='total_insurance_result'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="total_insurance_result"
                                           orderType="">
                                            Total result
                                        </a>
                                    </nobr>
                                </th>
                            </tr>
                            <tr class="listFilter">
                                <th>

                                    <button name="butFilter" id="butFilter" type="button">Apply Filter</button>

                                    <button name="butReset" id="butReset" type="button">Reset Filter</button>
                                </th>
                                <th>
                                    <input type="text" name="f_player_id" id="f_player_id" value="" orderable="1" filter="1" sql="p.f_id" sql_nick="p.f_nick" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <select name="is_affiliate" id="is_affiliate" orderable="1" filter="1" sql="0" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="1">Yes</option>
                                        <option value="0">No</option>
                                    </select>
                                </th>
                                <th>
                                    <select name="f_money_type" id="f_money_type" orderable="" filter="1" sql="c.f_money_type" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="82">Real Money</option>
                                        <option value="80">Play Money</option>
                                        <option value="65">cash game points</option>
                                    </select>
                                </th>
                                <th>
                                    <input type="text" name="f_name" id="f_name" value="" orderable="1" filter="1" sql="p.f_name" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <input type="text" name="f_family_name" id="f_family_name" value="" orderable="1" filter="1" sql="f_family_name" nonHtml="" class="filter" />
                                </th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>

                            </tr>
                        </thead>


                        <tr class="odd ">
                            <td></td>
                            <td><a href='/webadmin/affiliate/affiliate/info/id/132725'>YMN3CZBB (132725)</a> <a href='/webadmin/affiliate/listing/player-insurance-report/id/132725'><i class='fa fa-level-down'></i></a></td>
                            <td>Yes</td>
                            <td>Real Money</td>
                            <td>Phil</td>
                            <td>Ivey</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td></td>
                            <td><a href='/webadmin/affiliate/affiliate/info/id/2192963'>77VY5GG (2192963)</a> <a href='/webadmin/affiliate/listing/player-insurance-report/id/2192963'><i class='fa fa-level-down'></i></a></td>
                            <td>Yes</td>
                            <td>Real Money</td>
                            <td>Phil</td>
                            <td>Ivey</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td></td>
                            <td><a href='/webadmin/affiliate/affiliate/info/id/2193023'>NEV3E400 (2193023)</a> <a href='/webadmin/affiliate/listing/player-insurance-report/id/2193023'><i class='fa fa-level-down'></i></a></td>
                            <td>Yes</td>
                            <td>Real Money</td>
                            <td>Phil</td>
                            <td>Ivey</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td></td>
                            <td><a href='/webadmin/affiliate/affiliate/info/id/2193119'>FO43LI33 (2193119)</a> <a href='/webadmin/affiliate/listing/player-insurance-report/id/2193119'><i class='fa fa-level-down'></i></a></td>
                            <td>Yes</td>
                            <td>Real Money</td>
                            <td>Phil</td>
                            <td>Ivey</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td></td>
                            <td><a href='/webadmin/affiliate/affiliate/info/id/2199183'>789CYA44 (2199183)</a> <a href='/webadmin/affiliate/listing/player-insurance-report/id/2199183'><i class='fa fa-level-down'></i></a></td>
                            <td>Yes</td>
                            <td>Real Money</td>
                            <td>Phil</td>
                            <td>Ivey</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td></td>
                            <td><a href='/webadmin/affiliate/affiliate/info/id/2199198'>E30TSH (2199198)</a> <a href='/webadmin/affiliate/listing/player-insurance-report/id/2199198'><i class='fa fa-level-down'></i></a></td>
                            <td>Yes</td>
                            <td>Real Money</td>
                            <td>Phil</td>
                            <td>Ivey</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td></td>
                            <td><a href='/webadmin/affiliate/affiliate/info/id/2199213'>HL54T8UU (2199213)</a> <a href='/webadmin/affiliate/listing/player-insurance-report/id/2199213'><i class='fa fa-level-down'></i></a></td>
                            <td>Yes</td>
                            <td>Real Money</td>
                            <td>Phil</td>
                            <td>Ivey</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td></td>
                            <td><a href='/webadmin/affiliate/affiliate/info/id/2199224'>CZ409PZZ (2199224)</a> <a href='/webadmin/affiliate/listing/player-insurance-report/id/2199224'><i class='fa fa-level-down'></i></a></td>
                            <td>Yes</td>
                            <td>Real Money</td>
                            <td>Phil</td>
                            <td>Ivey</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td></td>
                            <td><a href='/webadmin/affiliate/affiliate/info/id/2215220'>KUDQZ6HH (2215220)</a> <a href='/webadmin/affiliate/listing/player-insurance-report/id/2215220'><i class='fa fa-level-down'></i></a></td>
                            <td>Yes</td>
                            <td>Real Money</td>
                            <td>Phil</td>
                            <td>Ivey</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td></td>
                            <td><a href='/webadmin/affiliate/affiliate/info/id/2434050'>2TCAJOPP (2434050)</a> <a href='/webadmin/affiliate/listing/player-insurance-report/id/2434050'><i class='fa fa-level-down'></i></a></td>
                            <td>Yes</td>
                            <td>Real Money</td>
                            <td>Phil</td>
                            <td>Ivey</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td></td>
                            <td><a href='/webadmin/affiliate/affiliate/info/id/3869385'>CGW7UFTT (3869385)</a> <a href='/webadmin/affiliate/listing/player-insurance-report/id/3869385'><i class='fa fa-level-down'></i></a></td>
                            <td>Yes</td>
                            <td>Real Money</td>
                            <td>Phil</td>
                            <td>Ivey</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td></td>
                            <td><a href='/webadmin/affiliate/affiliate/info/id/3910883'>HYKLYREE (3910883)</a> <a href='/webadmin/affiliate/listing/player-insurance-report/id/3910883'><i class='fa fa-level-down'></i></a></td>
                            <td>Yes</td>
                            <td>Real Money</td>
                            <td>Phil</td>
                            <td>Ivey</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td></td>
                            <td><a href='/webadmin/affiliate/affiliate/info/id/3958780'>040RPRMM (3958780)</a> <a href='/webadmin/affiliate/listing/player-insurance-report/id/3958780'><i class='fa fa-level-down'></i></a></td>
                            <td>Yes</td>
                            <td>Real Money</td>
                            <td>Phil</td>
                            <td>Ivey</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td></td>
                            <td><a href='/webadmin/affiliate/affiliate/info/id/4245677'>KR7CKEWW (4245677)</a> <a href='/webadmin/affiliate/listing/player-insurance-report/id/4245677'><i class='fa fa-level-down'></i></a></td>
                            <td>Yes</td>
                            <td>Real Money</td>
                            <td>Phil</td>
                            <td>Ivey</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td></td>
                            <td><a href='/webadmin/affiliate/affiliate/info/id/4576445'>ECTKJQLL (4576445)</a> <a href='/webadmin/affiliate/listing/player-insurance-report/id/4576445'><i class='fa fa-level-down'></i></a></td>
                            <td>Yes</td>
                            <td>Real Money</td>
                            <td>Phil</td>
                            <td>Ivey</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td></td>
                            <td><a href='/webadmin/affiliate/affiliate/info/id/5126926'>KateAff (5126926)</a> <a href='/webadmin/affiliate/listing/player-insurance-report/id/5126926'><i class='fa fa-level-down'></i></a></td>
                            <td>Yes</td>
                            <td>Real Money</td>
                            <td></td>
                            <td></td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td></td>
                            <td><a href='/webadmin/affiliate/affiliate/info/id/132725'>YMN3CZBB (132725)</a> <a href='/webadmin/affiliate/listing/player-insurance-report/id/132725'><i class='fa fa-level-down'></i></a></td>
                            <td>Yes</td>
                            <td>Play Money</td>
                            <td>Phil</td>
                            <td>Ivey</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td></td>
                            <td><a href='/webadmin/affiliate/affiliate/info/id/2192963'>77VY5GG (2192963)</a> <a href='/webadmin/affiliate/listing/player-insurance-report/id/2192963'><i class='fa fa-level-down'></i></a></td>
                            <td>Yes</td>
                            <td>Play Money</td>
                            <td>Phil</td>
                            <td>Ivey</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td></td>
                            <td><a href='/webadmin/affiliate/affiliate/info/id/2193023'>NEV3E400 (2193023)</a> <a href='/webadmin/affiliate/listing/player-insurance-report/id/2193023'><i class='fa fa-level-down'></i></a></td>
                            <td>Yes</td>
                            <td>Play Money</td>
                            <td>Phil</td>
                            <td>Ivey</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td></td>
                            <td><a href='/webadmin/affiliate/affiliate/info/id/2193119'>FO43LI33 (2193119)</a> <a href='/webadmin/affiliate/listing/player-insurance-report/id/2193119'><i class='fa fa-level-down'></i></a></td>
                            <td>Yes</td>
                            <td>Play Money</td>
                            <td>Phil</td>
                            <td>Ivey</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td></td>
                            <td><a href='/webadmin/affiliate/affiliate/info/id/2199183'>789CYA44 (2199183)</a> <a href='/webadmin/affiliate/listing/player-insurance-report/id/2199183'><i class='fa fa-level-down'></i></a></td>
                            <td>Yes</td>
                            <td>Play Money</td>
                            <td>Phil</td>
                            <td>Ivey</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td></td>
                            <td><a href='/webadmin/affiliate/affiliate/info/id/2199198'>E30TSH (2199198)</a> <a href='/webadmin/affiliate/listing/player-insurance-report/id/2199198'><i class='fa fa-level-down'></i></a></td>
                            <td>Yes</td>
                            <td>Play Money</td>
                            <td>Phil</td>
                            <td>Ivey</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td></td>
                            <td><a href='/webadmin/affiliate/affiliate/info/id/2199213'>HL54T8UU (2199213)</a> <a href='/webadmin/affiliate/listing/player-insurance-report/id/2199213'><i class='fa fa-level-down'></i></a></td>
                            <td>Yes</td>
                            <td>Play Money</td>
                            <td>Phil</td>
                            <td>Ivey</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td></td>
                            <td><a href='/webadmin/affiliate/affiliate/info/id/2199224'>CZ409PZZ (2199224)</a> <a href='/webadmin/affiliate/listing/player-insurance-report/id/2199224'><i class='fa fa-level-down'></i></a></td>
                            <td>Yes</td>
                            <td>Play Money</td>
                            <td>Phil</td>
                            <td>Ivey</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td></td>
                            <td><a href='/webadmin/affiliate/affiliate/info/id/2215220'>KUDQZ6HH (2215220)</a> <a href='/webadmin/affiliate/listing/player-insurance-report/id/2215220'><i class='fa fa-level-down'></i></a></td>
                            <td>Yes</td>
                            <td>Play Money</td>
                            <td>Phil</td>
                            <td>Ivey</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td></td>
                            <td><a href='/webadmin/affiliate/affiliate/info/id/2434050'>2TCAJOPP (2434050)</a> <a href='/webadmin/affiliate/listing/player-insurance-report/id/2434050'><i class='fa fa-level-down'></i></a></td>
                            <td>Yes</td>
                            <td>Play Money</td>
                            <td>Phil</td>
                            <td>Ivey</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td></td>
                            <td><a href='/webadmin/affiliate/affiliate/info/id/3869385'>CGW7UFTT (3869385)</a> <a href='/webadmin/affiliate/listing/player-insurance-report/id/3869385'><i class='fa fa-level-down'></i></a></td>
                            <td>Yes</td>
                            <td>Play Money</td>
                            <td>Phil</td>
                            <td>Ivey</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td></td>
                            <td><a href='/webadmin/affiliate/affiliate/info/id/3910883'>HYKLYREE (3910883)</a> <a href='/webadmin/affiliate/listing/player-insurance-report/id/3910883'><i class='fa fa-level-down'></i></a></td>
                            <td>Yes</td>
                            <td>Play Money</td>
                            <td>Phil</td>
                            <td>Ivey</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td></td>
                            <td><a href='/webadmin/affiliate/affiliate/info/id/3958780'>040RPRMM (3958780)</a> <a href='/webadmin/affiliate/listing/player-insurance-report/id/3958780'><i class='fa fa-level-down'></i></a></td>
                            <td>Yes</td>
                            <td>Play Money</td>
                            <td>Phil</td>
                            <td>Ivey</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td></td>
                            <td><a href='/webadmin/affiliate/affiliate/info/id/4245677'>KR7CKEWW (4245677)</a> <a href='/webadmin/affiliate/listing/player-insurance-report/id/4245677'><i class='fa fa-level-down'></i></a></td>
                            <td>Yes</td>
                            <td>Play Money</td>
                            <td>Phil</td>
                            <td>Ivey</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td></td>
                            <td><a href='/webadmin/affiliate/affiliate/info/id/4576445'>ECTKJQLL (4576445)</a> <a href='/webadmin/affiliate/listing/player-insurance-report/id/4576445'><i class='fa fa-level-down'></i></a></td>
                            <td>Yes</td>
                            <td>Play Money</td>
                            <td>Phil</td>
                            <td>Ivey</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td></td>
                            <td><a href='/webadmin/affiliate/affiliate/info/id/5126926'>KateAff (5126926)</a> <a href='/webadmin/affiliate/listing/player-insurance-report/id/5126926'><i class='fa fa-level-down'></i></a></td>
                            <td>Yes</td>
                            <td>Play Money</td>
                            <td></td>
                            <td></td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td></td>
                            <td><a href='/webadmin/affiliate/affiliate/info/id/132725'>YMN3CZBB (132725)</a> <a href='/webadmin/affiliate/listing/player-insurance-report/id/132725'><i class='fa fa-level-down'></i></a></td>
                            <td>Yes</td>
                            <td>cash game points</td>
                            <td>Phil</td>
                            <td>Ivey</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td></td>
                            <td><a href='/webadmin/affiliate/affiliate/info/id/2192963'>77VY5GG (2192963)</a> <a href='/webadmin/affiliate/listing/player-insurance-report/id/2192963'><i class='fa fa-level-down'></i></a></td>
                            <td>Yes</td>
                            <td>cash game points</td>
                            <td>Phil</td>
                            <td>Ivey</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td></td>
                            <td><a href='/webadmin/affiliate/affiliate/info/id/2193023'>NEV3E400 (2193023)</a> <a href='/webadmin/affiliate/listing/player-insurance-report/id/2193023'><i class='fa fa-level-down'></i></a></td>
                            <td>Yes</td>
                            <td>cash game points</td>
                            <td>Phil</td>
                            <td>Ivey</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td></td>
                            <td><a href='/webadmin/affiliate/affiliate/info/id/2193119'>FO43LI33 (2193119)</a> <a href='/webadmin/affiliate/listing/player-insurance-report/id/2193119'><i class='fa fa-level-down'></i></a></td>
                            <td>Yes</td>
                            <td>cash game points</td>
                            <td>Phil</td>
                            <td>Ivey</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td></td>
                            <td><a href='/webadmin/affiliate/affiliate/info/id/2199183'>789CYA44 (2199183)</a> <a href='/webadmin/affiliate/listing/player-insurance-report/id/2199183'><i class='fa fa-level-down'></i></a></td>
                            <td>Yes</td>
                            <td>cash game points</td>
                            <td>Phil</td>
                            <td>Ivey</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td></td>
                            <td><a href='/webadmin/affiliate/affiliate/info/id/2199198'>E30TSH (2199198)</a> <a href='/webadmin/affiliate/listing/player-insurance-report/id/2199198'><i class='fa fa-level-down'></i></a></td>
                            <td>Yes</td>
                            <td>cash game points</td>
                            <td>Phil</td>
                            <td>Ivey</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td></td>
                            <td><a href='/webadmin/affiliate/affiliate/info/id/2199213'>HL54T8UU (2199213)</a> <a href='/webadmin/affiliate/listing/player-insurance-report/id/2199213'><i class='fa fa-level-down'></i></a></td>
                            <td>Yes</td>
                            <td>cash game points</td>
                            <td>Phil</td>
                            <td>Ivey</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td></td>
                            <td><a href='/webadmin/affiliate/affiliate/info/id/2199224'>CZ409PZZ (2199224)</a> <a href='/webadmin/affiliate/listing/player-insurance-report/id/2199224'><i class='fa fa-level-down'></i></a></td>
                            <td>Yes</td>
                            <td>cash game points</td>
                            <td>Phil</td>
                            <td>Ivey</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td></td>
                            <td><a href='/webadmin/affiliate/affiliate/info/id/2215220'>KUDQZ6HH (2215220)</a> <a href='/webadmin/affiliate/listing/player-insurance-report/id/2215220'><i class='fa fa-level-down'></i></a></td>
                            <td>Yes</td>
                            <td>cash game points</td>
                            <td>Phil</td>
                            <td>Ivey</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td></td>
                            <td><a href='/webadmin/affiliate/affiliate/info/id/2434050'>2TCAJOPP (2434050)</a> <a href='/webadmin/affiliate/listing/player-insurance-report/id/2434050'><i class='fa fa-level-down'></i></a></td>
                            <td>Yes</td>
                            <td>cash game points</td>
                            <td>Phil</td>
                            <td>Ivey</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td></td>
                            <td><a href='/webadmin/affiliate/affiliate/info/id/3869385'>CGW7UFTT (3869385)</a> <a href='/webadmin/affiliate/listing/player-insurance-report/id/3869385'><i class='fa fa-level-down'></i></a></td>
                            <td>Yes</td>
                            <td>cash game points</td>
                            <td>Phil</td>
                            <td>Ivey</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td></td>
                            <td><a href='/webadmin/affiliate/affiliate/info/id/3910883'>HYKLYREE (3910883)</a> <a href='/webadmin/affiliate/listing/player-insurance-report/id/3910883'><i class='fa fa-level-down'></i></a></td>
                            <td>Yes</td>
                            <td>cash game points</td>
                            <td>Phil</td>
                            <td>Ivey</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td></td>
                            <td><a href='/webadmin/affiliate/affiliate/info/id/3958780'>040RPRMM (3958780)</a> <a href='/webadmin/affiliate/listing/player-insurance-report/id/3958780'><i class='fa fa-level-down'></i></a></td>
                            <td>Yes</td>
                            <td>cash game points</td>
                            <td>Phil</td>
                            <td>Ivey</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td></td>
                            <td><a href='/webadmin/affiliate/affiliate/info/id/4245677'>KR7CKEWW (4245677)</a> <a href='/webadmin/affiliate/listing/player-insurance-report/id/4245677'><i class='fa fa-level-down'></i></a></td>
                            <td>Yes</td>
                            <td>cash game points</td>
                            <td>Phil</td>
                            <td>Ivey</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td></td>
                            <td><a href='/webadmin/affiliate/affiliate/info/id/4576445'>ECTKJQLL (4576445)</a> <a href='/webadmin/affiliate/listing/player-insurance-report/id/4576445'><i class='fa fa-level-down'></i></a></td>
                            <td>Yes</td>
                            <td>cash game points</td>
                            <td>Phil</td>
                            <td>Ivey</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td></td>
                            <td><a href='/webadmin/affiliate/affiliate/info/id/5126926'>KateAff (5126926)</a> <a href='/webadmin/affiliate/listing/player-insurance-report/id/5126926'><i class='fa fa-level-down'></i></a></td>
                            <td>Yes</td>
                            <td>cash game points</td>
                            <td></td>
                            <td></td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td></td>
                            <td><a href='/webadmin/affiliate/affiliate/info/id/132725'>YMN3CZBB (132725)</a> <a href='/webadmin/affiliate/listing/player-insurance-report/id/132725'><i class='fa fa-level-down'></i></a></td>
                            <td>Yes</td>
                            <td>BTC</td>
                            <td>Phil</td>
                            <td>Ivey</td>
                            <td>0.00000000</td>
                            <td>0.00000000</td>
                            <td>0.00000000</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td></td>
                            <td><a href='/webadmin/affiliate/affiliate/info/id/2192963'>77VY5GG (2192963)</a> <a href='/webadmin/affiliate/listing/player-insurance-report/id/2192963'><i class='fa fa-level-down'></i></a></td>
                            <td>Yes</td>
                            <td>BTC</td>
                            <td>Phil</td>
                            <td>Ivey</td>
                            <td>0.00000000</td>
                            <td>0.00000000</td>
                            <td>0.00000000</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->


                    </table>
                    <div class='rowCount'>
                        <div class="row">
                            <div class="col-md-3">
                                Rows: 64&ensp;|&ensp;
                                <div class="limit-controls" style="display: inline-block;">
                                    <div id="perpage">Per page:</div>
                                    <select class="limit-links">
                                        <option data-href="/webadmin/affiliate/listing/player-insurance-report/limit/10">10</option>
                                        <option data-href="/webadmin/affiliate/listing/player-insurance-report/limit/25">25</option>
                                        <option selected data-href="/webadmin/affiliate/listing/player-insurance-report/limit/50">50</option>
                                        <option data-href="/webadmin/affiliate/listing/player-insurance-report/limit/100">100</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-7" style="display: flex; justify-content: center">
                                <div class="paginator-controls" id="blockPaginatorControls">
                                    <!-- First page link -->
                                    <div class="paginator-link">
                                        <span class="disabled">First</span>
                                    </div>
                                    <!-- Previous page link -->
                                    <div class="paginator-link">
                                        <span class="disabled">&lt; Previous</span>
                                    </div>
                                    <!-- Numbered page links -->
                                    <div class="paginator-link paginator-link_border">
                                        <span class="current">1</span>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/affiliate/listing/player-insurance-report/page/2">2</a>
                                    </div>

                                    <!-- Next page link -->
                                    <div class="paginator-link">
                                        <a href="/webadmin/affiliate/listing/player-insurance-report/page/2">Next &gt;</a>
                                    </div>
                                    <!-- Last page link -->
                                    <div class="paginator-link">
                                        <a href="/webadmin/affiliate/listing/player-insurance-report/page/2">Last</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="pull-right">
                                    <a href="/webadmin/affiliate/listing/player-insurance-report/_output/xlsx"><img src="~/Assest/img/xls.svg" alt="Excel"></a>
                                    <a href="/webadmin/affiliate/listing/player-insurance-report/_output/csv"><img src="~/Assest/img/xls.svg" alt="CSV"></a>
                                    <a href="/webadmin/affiliate/listing/player-insurance-report/_output/ods"><img src="~/Assest/img/xls.svg" alt="OpenDocument" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
              </div>
            </div>
        </div>
    </div>
</div>