﻿
@{
    ViewBag.Title = "Player Game Summary";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script>

    $(document).ready(function () {
        var titles = [];

        $('table').each(function () {

            // If names already set, dont start loop
            var names = localStorage.getItem('column-names-' + $(this).attr('id'));
            if (names !== null && names.length > 0) {
                return false;
            }
            else {
                $(this).find('thead:not(.listFilter) th').each(function (i) {
                    var checkbox = {};
                    checkbox.title = $(this).text();
                    checkbox.id = i;
                    checkbox.checked = false;
                    titles.push(checkbox);
                });

                localStorage.setItem('column-names-' + $(this).attr('id'), JSON.stringify(titles))
            }
        });


    });


</script>

<script type="text/javascript" src="js/dojox/layout/ToggleSplitter.js"></script>
<script type="text/javascript">
    dojo.addOnLoad(function () {
        dojo.require('dojox.layout.ToggleSplitter');
    });

</script>
<h3>Game Summary Report</h3>




<br />
<div id="dynamicContent">




    From: <input type="text" name="Date[from]" id="Date[from]" value="" sql="f_date" skipSelect="" external="1" class="filter" readonly="readonly" onclick='displayDatePicker("Date[from]", false, "ymd", "-");' /> To: <input type="text" name="Date[to]" id="Date[to]" value="" sql="f_date" skipSelect="" external="1" class="filter" readonly="readonly" onclick='displayDatePicker("Date[to]", false, "ymd", "-");' />
    <p>
        <a href="#" class="btn btn-small" onclick="listing.filter(); return false;">Apply Filter</a>
    </p>
    <table id='Poker_TableNavigator_PlayersGameSummary' class="listing-table">
        <thead class="listHead">
            <tr>
                <th data-meta-skip-manage='true'>#</th>
                <th data-meta-key='f_player_id' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_player_id" orderType="">
                            Player
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_money_type' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_money_type" orderType="">
                            Money Type
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_count' data-meta-visibility="true">
                    <nobr>
                        Games
                    </nobr>
                </th>
            </tr>
        </thead>
        <thead class="listFilter">
            <tr>
                <th>&nbsp;</th>
                <th>
                    <input type="text" name="f_player_id" id="f_player_id" value="" filter="1" sql_nick="(select f_nick from t_player where f_id=f_player_id)" orderable="1" sql="f_player_id" nonHtml="" class="filter" />
                </th>
                <th>
                    <select name="f_money_type" id="f_money_type" filter="1" orderable="1" sql="f_money_type" nonHtml="" class="filter">
                        <option value="">-</option>
                        <option value="82">Real Money</option>
                        <option value="80">Play Money</option>
                        <option value="65">cash game points</option>
                    </select>
                </th>
                <th>&nbsp;</th>

            </tr>
        </thead>

        <tr class="odd">
            <td>1</td>
            <td><a href="/webadmin/user/info/id/19633">GOPMOG88</a></td>
            <td>Real Money</td>
            <td>11</td>

        </tr>
        <tr class="even">
            <td>2</td>
            <td><a href="/webadmin/user/info/id/19709">01YJJ6VV</a></td>
            <td>Play Money</td>
            <td>4</td>

        </tr>
        <tr class="odd">
            <td>3</td>
            <td><a href="/webadmin/user/info/id/19709">01YJJ6VV</a></td>
            <td>Real Money</td>
            <td>44</td>

        </tr>
        <tr class="even">
            <td>4</td>
            <td><a href="/webadmin/user/info/id/133032">UB8NQS22</a></td>
            <td>Real Money</td>
            <td>27</td>

        </tr>
        <tr class="odd">
            <td>5</td>
            <td><a href="/webadmin/user/info/id/156446">66PJOJII</a></td>
            <td>Real Money</td>
            <td>11</td>

        </tr>
        <tr class="even">
            <td>6</td>
            <td><a href="/webadmin/user/info/id/197341">8G0L62CC</a></td>
            <td>Play Money</td>
            <td>20</td>

        </tr>
        <tr class="odd">
            <td>7</td>
            <td><a href="/webadmin/user/info/id/197361">6ER66FSS</a></td>
            <td>Play Money</td>
            <td>20</td>

        </tr>
        <tr class="even">
            <td>8</td>
            <td><a href="/webadmin/user/info/id/313126">Y4UE1DQQ</a></td>
            <td>Real Money</td>
            <td>14</td>

        </tr>
        <tr class="odd">
            <td>9</td>
            <td><a href="/webadmin/user/info/id/334551">ZEZSIPVV</a></td>
            <td>Play Money</td>
            <td>4</td>

        </tr>
        <tr class="even">
            <td>10</td>
            <td><a href="/webadmin/user/info/id/335897">W96NFIBB</a></td>
            <td>Real Money</td>
            <td>19</td>

        </tr>
        <tr class="odd">
            <td>11</td>
            <td><a href="/webadmin/user/info/id/437284">TXVIYNOO</a></td>
            <td>Real Money</td>
            <td>36</td>

        </tr>
        <tr class="even">
            <td>12</td>
            <td><a href="/webadmin/user/info/id/437806">17IGXNLL</a></td>
            <td>Real Money</td>
            <td>35</td>

        </tr>
        <tr class="odd">
            <td>13</td>
            <td><a href="/webadmin/user/info/id/442729">G7WP7D88</a></td>
            <td>Real Money</td>
            <td>36</td>

        </tr>
        <tr class="even">
            <td>14</td>
            <td><a href="/webadmin/user/info/id/442782">1F3DLWUU</a></td>
            <td>Real Money</td>
            <td>36</td>

        </tr>
        <tr class="odd">
            <td>15</td>
            <td><a href="/webadmin/user/info/id/442796">QIWB75ZZ</a></td>
            <td>Real Money</td>
            <td>34</td>

        </tr>
        <tr class="even">
            <td>16</td>
            <td><a href="/webadmin/user/info/id/443002">AL9IIJYY</a></td>
            <td>Real Money</td>
            <td>15</td>

        </tr>
        <tr class="odd">
            <td>17</td>
            <td><a href="/webadmin/user/info/id/443031">468OVSS</a></td>
            <td>Real Money</td>
            <td>15</td>

        </tr>
        <tr class="even">
            <td>18</td>
            <td><a href="/webadmin/user/info/id/443069">L6P98MDD</a></td>
            <td>Real Money</td>
            <td>15</td>

        </tr>
        <tr class="odd">
            <td>19</td>
            <td><a href="/webadmin/user/info/id/479901">TL1LY5ZZ</a></td>
            <td>Play Money</td>
            <td>23</td>

        </tr>
        <tr class="even">
            <td>20</td>
            <td><a href="/webadmin/user/info/id/479978">GZL3E566</a></td>
            <td>Play Money</td>
            <td>23</td>

        </tr>
        <tr class="odd">
            <td>21</td>
            <td><a href="/webadmin/user/info/id/864555">1IOE6NVV</a></td>
            <td>Play Money</td>
            <td>8</td>

        </tr>
        <tr class="even">
            <td>22</td>
            <td><a href="/webadmin/user/info/id/864555">1IOE6NVV</a></td>
            <td>Real Money</td>
            <td>2</td>

        </tr>
        <tr class="odd">
            <td>23</td>
            <td><a href="/webadmin/user/info/id/864667">6HBGY8KK</a></td>
            <td>Play Money</td>
            <td>8</td>

        </tr>
        <tr class="even">
            <td>24</td>
            <td><a href="/webadmin/user/info/id/864667">6HBGY8KK</a></td>
            <td>Real Money</td>
            <td>2</td>

        </tr>
        <tr class="odd">
            <td>25</td>
            <td><a href="/webadmin/user/info/id/937525">UJ55I1KK</a></td>
            <td>Real Money</td>
            <td>1284</td>

        </tr>
        <tr class="even">
            <td>26</td>
            <td><a href="/webadmin/user/info/id/977259">RWRDE1XX</a></td>
            <td>Real Money</td>
            <td>119</td>

        </tr>
        <tr class="odd">
            <td>27</td>
            <td><a href="/webadmin/user/info/id/1039566">BE1B4OFF</a></td>
            <td>Real Money</td>
            <td>117</td>

        </tr>
        <tr class="even">
            <td>28</td>
            <td><a href="/webadmin/user/info/id/1047638">NMDMRY33</a></td>
            <td>Real Money</td>
            <td>43</td>

        </tr>
        <tr class="odd">
            <td>29</td>
            <td><a href="/webadmin/user/info/id/1246899">S1YEUY44</a></td>
            <td>Real Money</td>
            <td>677</td>

        </tr>
        <tr class="even">
            <td>30</td>
            <td><a href="/webadmin/user/info/id/1246969">MUWEYU22</a></td>
            <td>Play Money</td>
            <td>35</td>

        </tr>
        <tr class="odd">
            <td>31</td>
            <td><a href="/webadmin/user/info/id/1246969">MUWEYU22</a></td>
            <td>Real Money</td>
            <td>998</td>

        </tr>
        <tr class="even">
            <td>32</td>
            <td><a href="/webadmin/user/info/id/1252700">6K750F11</a></td>
            <td>Play Money</td>
            <td>64</td>

        </tr>
        <tr class="odd">
            <td>33</td>
            <td><a href="/webadmin/user/info/id/1252700">6K750F11</a></td>
            <td>Real Money</td>
            <td>26</td>

        </tr>
        <tr class="even">
            <td>34</td>
            <td><a href="/webadmin/user/info/id/1252832">TLXMINRR</a></td>
            <td>Real Money</td>
            <td>3391</td>

        </tr>
        <tr class="odd">
            <td>35</td>
            <td><a href="/webadmin/user/info/id/1253019">5290N0YY</a></td>
            <td>Play Money</td>
            <td>30</td>

        </tr>
        <tr class="even">
            <td>36</td>
            <td><a href="/webadmin/user/info/id/1253019">5290N0YY</a></td>
            <td>Real Money</td>
            <td>134</td>

        </tr>
        <tr class="odd">
            <td>37</td>
            <td><a href="/webadmin/user/info/id/1253184">L14POMBB</a></td>
            <td>Real Money</td>
            <td>96</td>

        </tr>
        <tr class="even">
            <td>38</td>
            <td><a href="/webadmin/user/info/id/1258902">4MJGH2SS</a></td>
            <td>Real Money</td>
            <td>129</td>

        </tr>
        <tr class="odd">
            <td>39</td>
            <td><a href="/webadmin/user/info/id/1271791">649LPYVV</a></td>
            <td>Real Money</td>
            <td>33</td>

        </tr>
        <tr class="even">
            <td>40</td>
            <td><a href="/webadmin/user/info/id/1287888">6SGP91LL</a></td>
            <td>Real Money</td>
            <td>11</td>

        </tr>
        <tr class="odd">
            <td>41</td>
            <td><a href="/webadmin/user/info/id/1287903">J02XXIYY</a></td>
            <td>Real Money</td>
            <td>11</td>

        </tr>
        <tr class="even">
            <td>42</td>
            <td><a href="/webadmin/user/info/id/1326953">IUI1SJ77</a></td>
            <td>Real Money</td>
            <td>2</td>

        </tr>
        <tr class="odd">
            <td>43</td>
            <td><a href="/webadmin/user/info/id/1327338">IJP5NGG</a></td>
            <td>Real Money</td>
            <td>6</td>

        </tr>
        <tr class="even">
            <td>44</td>
            <td><a href="/webadmin/user/info/id/1329026">9IJ03MSS</a></td>
            <td>Real Money</td>
            <td>78</td>

        </tr>
        <tr class="odd">
            <td>45</td>
            <td><a href="/webadmin/user/info/id/1330716">SZ4T54RR</a></td>
            <td>Play Money</td>
            <td>16</td>

        </tr>
        <tr class="even">
            <td>46</td>
            <td><a href="/webadmin/user/info/id/1341580">QF0FSK55</a></td>
            <td>Real Money</td>
            <td>729</td>

        </tr>
        <tr class="odd">
            <td>47</td>
            <td><a href="/webadmin/user/info/id/1341981">35WFYQAA</a></td>
            <td>Real Money</td>
            <td>51</td>

        </tr>
        <tr class="even">
            <td>48</td>
            <td><a href="/webadmin/user/info/id/1350971">EEXXJHWW</a></td>
            <td>Real Money</td>
            <td>131</td>

        </tr>
        <tr class="odd">
            <td>49</td>
            <td><a href="/webadmin/user/info/id/1364194">TN44H7OO</a></td>
            <td>Real Money</td>
            <td>393</td>

        </tr>
        <tr class="even">
            <td>50</td>
            <td><a href="/webadmin/user/info/id/1367017">5EBM1U88</a></td>
            <td>Real Money</td>
            <td>2</td>

        </tr>
    </table>
    <div class='rowCount'>
        Number of rows: 557
        &nbsp;|&nbsp;
        Export To:
        <a href="/webadmin/listing/player-games-summary/_output/xlsx">Excel</a> | <a href="/webadmin/listing/player-games-summary/_output/csv">CSV</a> | <a href="/webadmin/listing/player-games-summary/_output/ods">OpenDocument</a>
    </div>
    <div class="paginator-controls" id="blockPaginatorControls">
        <!-- First page link -->
        <div class="paginator-link">
            <span class="disabled">First</span>
        </div>
        <!-- Previous page link -->
        <div class="paginator-link">
            <span class="disabled">&lt; Previous</span>
        </div>
        <!-- Numbered page links -->
        <div class="paginator-link paginator-link_border">
            <span class="current">1</span>
        </div>
        <div class="paginator-link paginator-link_border">
            <a href="/webadmin/listing/player-games-summary/page/2">2</a>
        </div>
        <div class="paginator-link paginator-link_border">
            <a href="/webadmin/listing/player-games-summary/page/3">3</a>
        </div>
        <div class="paginator-link paginator-link_border">
            <a href="/webadmin/listing/player-games-summary/page/4">4</a>
        </div>
        <div class="paginator-link paginator-link_border">
            <a href="/webadmin/listing/player-games-summary/page/5">5</a>
        </div>
        <div class="paginator-link paginator-link_border">
            <a href="/webadmin/listing/player-games-summary/page/6">6</a>
        </div>
        <div class="paginator-link paginator-link_border">
            <a href="/webadmin/listing/player-games-summary/page/7">7</a>
        </div>
        <div class="paginator-link paginator-link_border">
            <a href="/webadmin/listing/player-games-summary/page/8">8</a>
        </div>
        <div class="paginator-link paginator-link_border">
            <a href="/webadmin/listing/player-games-summary/page/9">9</a>
        </div>
        <div class="paginator-link paginator-link_border">
            <a href="/webadmin/listing/player-games-summary/page/10">10</a>
        </div>

        <!-- Next page link -->
        <div class="paginator-link">
            <a href="/webadmin/listing/player-games-summary/page/2">Next &gt;</a>
        </div>
        <!-- Last page link -->
        <div class="paginator-link">
            <a href="/webadmin/listing/player-games-summary/page/12">Last</a>
        </div>
    </div>
    <div class="limit-controls" style="display: inline-block;">
        <div id="perpage">Per page:</div>
        <select class="limit-links">
            <option data-href="/webadmin/listing/player-games-summary/limit/10">10</option>
            <option data-href="/webadmin/listing/player-games-summary/limit/25">25</option>
            <option selected data-href="/webadmin/listing/player-games-summary/limit/50">50</option>
            <option data-href="/webadmin/listing/player-games-summary/limit/100">100</option>
        </select>
    </div>
</div>
<script>
    //        $('.treeview.active').removeClass('active');
    $('ul.navigation > li').unwrap();
    //iCheck for checkbox and radio inputs
    $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
        checkboxClass: 'icheckbox_minimal-purple',
        radioClass: 'iradio_minimal-purple'
    });


</script>

