﻿
@{
    ViewBag.Title = "PlayerTransactions";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Transaction List <a href="http://docs.evenbetgaming.com/articles/Administration_Panel/Transactions%20List.html" target="_blank"><sup><i class="fa fa-question-circle"></i></sup></a></h3>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                <div id="dynamicContent">
                    <div class="custom-dropdown-menu" id="columnsControls">
                    </div>

                    <table class="listing-table" id="processedTransactionsTable">
                        <thead class="listHead">
                            <tr>
                                <th data-controls="true" data-meta-skip-manage='true' data-dt-fixed-left="true">
                                    <div>
                                        <button type="button" class="btn btn-primary custom-dropdown" id="columnControlsBtn">
                                            <img src="img/icons/menu.svg" alt="+">
                                        </button>
                                    </div>
                                </th>
                                <th data-meta-key='f_id' data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_id" orderType="">
                                            Id
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_player_id' data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_player_id" orderType="">
                                            Player
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_type' data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_type" orderType="">
                                            Type
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_subtype' data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_subtype" orderType="">
                                            Sub type
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_pended' data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_pended" orderType="">
                                            State
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_stamp' data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_stamp" orderType="ASC">
                                            Date
                                            <img src="img/arrow_down.png" />
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_value' data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_value" orderType="">
                                            Value
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_balance_after' data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_balance_after" orderType="">
                                            Balance
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_money_type' data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_money_type" orderType="">
                                            Money type
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_param_notes' data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_param_notes" orderType="">
                                            Notes
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='linkedItem'>Linked Item</th>
                            </tr>
                            <tr class="listFilter">
                                <th>
                                    <button name="butFilter" id="butFilter" type="button">Apply Filter</button>
                                    <button name="butReset" id="butReset" type="button">Reset Filter</button>
                                </th>
                                <th>
                                    <input type="text" name="f_id" id="f_id" value="" filter="1" controller="transaction" action="info" sql="mt.f_id" orderable="1" nonHtml="" style="width:50px;" class="filter" />
                                </th>
                                <th>
                                    <input type="text" name="f_player_id" id="f_player_id" value="" filter="1" orderable="1" sql="f_player_id" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <select name="f_type" id="f_type" filter="1" orderable="1" sql="f_type" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="95">Unknown</option>
                                        <option value="84">To Table</option>
                                        <option value="70">From Table</option>
                                        <option value="72">Unclaimed Money</option>
                                        <option value="73">Internal Deposit</option>
                                        <option value="74">Internal Deposit Rev</option>
                                        <option value="68">Deposit</option>
                                        <option value="87">Withdrawal</option>
                                        <option value="76">Cancel Withdrawal</option>
                                        <option value="66">Tournament Buy In</option>
                                        <option value="67">Tournament Buy In Rev</option>
                                        <option value="69">Tournament Entry Fee</option>
                                        <option value="71">Tournament Entry Fee Rev</option>
                                        <option value="80">Tournament Prize</option>
                                        <option value="65">Affiliate Payment</option>
                                        <option value="79">To Player</option>
                                        <option value="77">From Player</option>
                                        <option value="75">Rake + Jackpot</option>
                                        <option value="85">Convert Out</option>
                                        <option value="78">Convert In</option>
                                        <option value="86">Convert Rake</option>
                                        <option value="90">Jackpot</option>
                                        <option value="82">Tournament Get Extra Chips</option>
                                        <option value="49">Tournament Refund Extra Chips</option>
                                        <option value="88">Crash Recovery Refund</option>
                                        <option value="81">Jackpot Room Fee</option>
                                        <option value="52">Transfer Fee</option>
                                        <option value="50">Custom In</option>
                                        <option value="51">Custom Out</option>
                                        <option value="500">System Player Internal Deposit</option>
                                        <option value="501">System Player Rev. Internal Deposit</option>
                                        <option value="502">System Player Custom Transaction</option>
                                        <option value="503">System Player Rev. Custom Transaction</option>
                                        <option value="504">Tournament Owner Reserve Guaranteed Prize</option>
                                        <option value="505">Tournament Owner Reserve Prize2</option>
                                        <option value="506">Tournament Owner Guaranteed Prize Remain Return</option>
                                        <option value="507">System Player Trans. Part Of Rake</option>
                                        <option value="508">System Player Balance Correction</option>
                                        <option value="510">Tournament Second Entry Fee</option>
                                        <option value="511">Tournament Second Entry Fee Rev.</option>
                                        <option value="512">External Jackpot Correction</option>
                                        <option value="513">Jackpot Auto TopUp</option>
                                        <option value="520">Ticket To Money</option>
                                        <option value="521">Ticket To Money Rev.</option>
                                        <option value="522">Emit Grant Ticket</option>
                                        <option value="523">Emit Grant Ticket Rev.</option>
                                        <option value="550">System Adjustments</option>
                                        <option value="551">System Adjustments Rev</option>
                                        <option value="560">Tournament Spin Prize Room Part</option>
                                        <option value="570">BankUp Rest Of WinAmount To SystemPlayer</option>
                                        <option value="571">BankUp Payment To Player By SystemPlayer</option>
                                        <option value="572">BankUp Take Money For Payment To Player</option>
                                        <option value="573">BankUp Take Money For Payment To SystemPlayer</option>
                                        <option value="574">BankUp Payment To SystemPlayer By Player</option>
                                        <option value="580">Tournament System Rebuy Fee</option>
                                        <option value="581">Tournament System Rebuy Fee Rev.</option>
                                        <option value="582">Tournament System Addon Fee</option>
                                        <option value="583">Tournament System Addon Fee Rev.</option>
                                        <option value="584">Tournament Rebuy Fee</option>
                                        <option value="585">Tournament Rebuy Fee Rev.</option>
                                        <option value="586">Tournament Addon Fee</option>
                                        <option value="587">Tournament Addon Fee Rev.</option>
                                        <option value="601">Unattended Pair Transaction</option>
                                        <option value="602">Declined From Player</option>
                                        <option value="603">Declined Withdrawal</option>
                                        <option value="604">Pended To Player</option>
                                        <option value="605">Pended Deposit</option>
                                        <option value="606">Pended Tournament Entry Fee</option>
                                        <option value="607">Pended Custom</option>
                                        <option value="608">Pended Custom Rev.</option>
                                        <option value="609">Pended Tournament Second Entry Fee</option>
                                        <option value="610">Pended Transfer Fee</option>
                                        <option value="611">Pended Crash Recovery Refund</option>
                                        <option value="612">Declined Tournament Owner Reserve Guaranteed Prize</option>
                                        <option value="613">Declined Tournament Owner Reserve Prize2</option>
                                        <option value="631">Declined External Wallet Return Cash</option>
                                        <option value="635">Pended External Wallet For Get Cash</option>
                                        <option value="636">External Wallet For Get Cash</option>
                                        <option value="637">Pended External Wallet For Tournament</option>
                                        <option value="638">External Wallet For Tournament</option>
                                        <option value="639">Pended External Wallet For Rebuy/Addon</option>
                                        <option value="640">External Wallet For Rebuy/Addon</option>
                                        <option value="630">External wallet return cash</option>
                                        <option value="632">External wallet reject tournament registration</option>
                                        <option value="641">External wallet for tournament spend</option>
                                        <option value="590">Bounty Tournament Entry Fee</option>
                                        <option value="591">Bounty Tournament Entry Fee Rev.</option>
                                        <option value="593">Bounty Prize From Casino</option>
                                        <option value="592">Knockout Prize</option>
                                        <option value="594">Bounty Prize</option>
                                        <option value="595">Pro Bounty Prize</option>
                                        <option value="53">Insurance comission</option>
                                        <option value="54">Insurance payment</option>
                                        <option value="55">Personalized rake</option>
                                        <option value="652">Government Fee</option>
                                    </select>
                                </th>
                                <th>
                                    <select name="f_subtype" id="f_subtype" filter="1" orderable="1" sql="f_subtype" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="0">Default</option>
                                        <option value="400">CGP Buying</option>
                                        <option value="248">NE Bonus</option>
                                        <option value="249">NE Transfer</option>
                                        <option value="247">Play Money Bonus</option>
                                        <option value="246">Play Money Bonus Compensation</option>
                                        <option value="251">Bonus Battle Prize</option>
                                        <option value="392">Daily Auto Top Up</option>
                                        <option value="2001">Bonus</option>
                                        <option value="2002">Bonus Rev</option>
                                        <option value="2003">Test Bonus</option>
                                        <option value="2004">Test Bonus Rev</option>
                                        <option value="2006">System Balance Adjustments</option>
                                        <option value="2008">Lottery Prize (bonus)</option>
                                        <option value="2009">Lottery Prize (bonus) Rev.</option>
                                        <option value="2010">Affiliate Benefit (bonus)</option>
                                        <option value="2011">Affiliate Benefit (bonus) Rev.</option>
                                        <option value="2012">Player Rakeback (bonus)</option>
                                        <option value="2013">Player Rakeback (bonus) Rev.</option>
                                        <option value="2110">Rental Table. Owner Rake</option>
                                        <option value="2014">Casino debit</option>
                                        <option value="2015">Casino credit</option>
                                        <option value="2016">Casino rollback</option>
                                        <option value="98">Bounty prize</option>
                                        <option value="105">Table buy in commission</option>
                                        <option value="106">Tournament buy in commission</option>
                                        <option value="107">Tournament buy in commission revert</option>
                                        <option value="112">PRO Bounty Prize</option>
                                        <option value="113">RabbitHunting</option>
                                        <option value="1301">Promo. Reward Money</option>
                                        <option value="1302">Promo. Participation Fee</option>
                                        <option value="1101">Rakeback</option>
                                        <option value="10">Redeem Code</option>
                                        <option value="1">Bonus Deposit</option>
                                        <option value="903">Affiliate Profit</option>
                                        <option value="904">Affiliate Profit Rev</option>
                                        <option value="700">Affiliate Insurance Distribution</option>
                                    </select>
                                </th>
                                <th>
                                    <select name="f_pended" id="f_pended" filter="1" orderable="1" sql="f_pended" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="0">Accepted</option>
                                        <option value="1">Pending</option>
                                        <option value="2">Declined</option>
                                        <option value="3">Draft</option>
                                        <option value="4">Pending (Money Reserved)</option>
                                        <option value="9">Revert Declined</option>
                                        <option value="100">Error Comminted</option>
                                        <option value="101">Error Uncommited</option>
                                    </select>
                                </th>
                                <th>
                                    From: <input type="text" name="f_stamp[from]" id="f_stamp[from]" value="" filter="1" style="width: 120px" orderable="1" sql="f_stamp" nonHtml="" class="filter" readonly="readonly" onclick='displayDatePicker("f_stamp[from]", false, "ymd", "-");' /> To: <input type="text" name="f_stamp[to]" id="f_stamp[to]" value="" filter="1" style="width: 120px" orderable="1" sql="f_stamp" nonHtml="" class="filter" readonly="readonly" onclick='displayDatePicker("f_stamp[to]", false, "ymd", "-");' />
                                </th>
                                <th>
                                    <input type="text" name="f_value" id="f_value" value="" filter="1" orderable="1" sql="f_value" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <input type="text" name="f_balance_after" id="f_balance_after" value="" filter="1" orderable="1" sql="f_balance_after" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <select name="f_money_type" id="f_money_type" filter="1" sql="mt.f_money_type" orderable="1" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="82">Real Money</option>
                                        <option value="80">Play Money</option>
                                        <option value="65">cash game points</option>
                                    </select>
                                </th>
                                <th>
                                    <input type="text" name="f_param_notes" id="f_param_notes" value="" filter="1" orderable="1" sql="f_param_notes" nonHtml="" class="filter" />
                                </th>

                                <th>&nbsp;</th>
                            </tr>
                        </thead>

                        <tr class="odd">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/5134818">
                                    5134818
                                </a> &nbsp;
                            </td>
                            <td>-</td>
                            <td>Tournament Owner Reserve Guaranteed Prize</td>
                            <td>Default</td>
                            <td>Pending (Money Reserved)</td>
                            <td>2020/02/27 08:30:05</td>
                            <td>-1.00</td>
                            <td>-24745.40</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5134817">The Sheep Highway [Step] [Freeroll] (5134817)</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/5134804">
                                    5134804
                                </a> &nbsp;
                            </td>
                            <td>-</td>
                            <td>Declined Tournament Owner Reserve Guaranteed Prize</td>
                            <td>Default</td>
                            <td>Revert Declined</td>
                            <td>2020/02/27 08:30:00</td>
                            <td>1.00</td>
                            <td>-24744.40</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5130842">The Sheep Highway [Step] [Freeroll] (5130842)</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/5130843">5130843</a>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/5134369">
                                    5134369
                                </a> &nbsp;
                            </td>
                            <td>-</td>
                            <td>Tournament Owner Reserve Guaranteed Prize</td>
                            <td>Default</td>
                            <td>Pending (Money Reserved)</td>
                            <td>2020/02/27 07:15:04</td>
                            <td>-2.20</td>
                            <td>-24745.40</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5134368">The Twitch.tv Satellite R/A {Ticket} (5134368)</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/5134004">
                                    5134004
                                </a> &nbsp;
                            </td>
                            <td>-</td>
                            <td>Declined Tournament Owner Reserve Guaranteed Prize</td>
                            <td>Default</td>
                            <td>Revert Declined</td>
                            <td>2020/02/27 06:15:00</td>
                            <td>2.20</td>
                            <td>-24743.20</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5126760">The Twitch.tv Satellite R/A {Ticket} (5126760)</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/5126761">5126761</a>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/5133376">
                                    5133376
                                </a> &nbsp;
                            </td>
                            <td>-</td>
                            <td>Tournament Owner Reserve Guaranteed Prize</td>
                            <td>Default</td>
                            <td>Pending (Money Reserved)</td>
                            <td>2020/02/27 04:30:04</td>
                            <td>-1.00</td>
                            <td>-24745.40</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5133375">The Sheep Highway [Step] [Freeroll] (5133375)</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/5133362">
                                    5133362
                                </a> &nbsp;
                            </td>
                            <td>-</td>
                            <td>Declined Tournament Owner Reserve Guaranteed Prize</td>
                            <td>Default</td>
                            <td>Revert Declined</td>
                            <td>2020/02/27 04:30:00</td>
                            <td>1.00</td>
                            <td>-24744.40</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5129391">The Sheep Highway [Step] [Freeroll] (5129391)</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/5129392">5129392</a>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/5132157">
                                    5132157
                                </a> &nbsp;
                            </td>
                            <td>-</td>
                            <td>Declined Tournament Owner Reserve Guaranteed Prize</td>
                            <td>Default</td>
                            <td>Revert Declined</td>
                            <td>2020/02/27 04:00:00</td>
                            <td>15.00</td>
                            <td>-24745.40</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5122353">The Dollar Dazzler [R/A] (5122353)</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/5122354">5122354</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/5132010">
                                    5132010
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/5131823">JohnyD</a></td>
                            <td>From Table</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2020/02/27 03:33:38</td>
                            <td>84.00</td>
                            <td>934.00</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Table:&nbsp;<a href="/webadmin/table/info/id/4629786">Kentucky (4629786)</a>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/5131991">
                                    5131991
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/5126947">Rihana</a></td>
                            <td>From Table</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2020/02/27 03:30:39</td>
                            <td>210.75</td>
                            <td>1060.75</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Table:&nbsp;<a href="/webadmin/table/info/id/4629786">Kentucky (4629786)</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/5131976">
                                    5131976
                                </a> &nbsp;
                            </td>
                            <td>-</td>
                            <td>Declined Tournament Owner Reserve Guaranteed Prize</td>
                            <td>Default</td>
                            <td>Revert Declined</td>
                            <td>2020/02/27 03:30:00</td>
                            <td>50.00</td>
                            <td>-24760.40</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5122893">The Big Freeze [Re-entry] (5122893)</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/5122894">5122894</a>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/5132276">
                                    5132276
                                </a> &nbsp;
                            </td>
                            <td>-</td>
                            <td>Rake + Jackpot</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2020/02/27 03:24:33</td>
                            <td>3.25</td>
                            <td>-24810.40</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Game:&nbsp;
                                <a href="/webadmin/game/view/id/5027993">
                                    5027993
                                </a> &nbsp;
                                <br>Table:&nbsp;<a href="/webadmin/table/info/id/4629786">Kentucky (4629786)</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/5132275">
                                    5132275
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/5126947">Rihana</a></td>
                            <td>Convert Rake</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2020/02/27 03:24:33</td>
                            <td>1.62</td>
                            <td>2.62</td>
                            <td>cash game points</td>
                            <td>transfer rate points</td>


                            <td style="white-space: nowrap;">
                                Game:&nbsp;
                                <a href="/webadmin/game/view/id/5027993">
                                    5027993
                                </a> &nbsp;
                                <br>Table:&nbsp;<a href="/webadmin/table/info/id/4629786">Kentucky (4629786)</a>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/5132274">
                                    5132274
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/5131823">JohnyD</a></td>
                            <td>Convert Rake</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2020/02/27 03:24:33</td>
                            <td>1.62</td>
                            <td>2.62</td>
                            <td>cash game points</td>
                            <td>transfer rate points</td>


                            <td style="white-space: nowrap;">
                                Game:&nbsp;
                                <a href="/webadmin/game/view/id/5027993">
                                    5027993
                                </a> &nbsp;
                                <br>Table:&nbsp;<a href="/webadmin/table/info/id/4629786">Kentucky (4629786)</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/5132273">
                                    5132273
                                </a> &nbsp;
                            </td>
                            <td>-</td>
                            <td>Rake + Jackpot</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2020/02/27 03:23:47</td>
                            <td>0.50</td>
                            <td>-24813.65</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Game:&nbsp;
                                <a href="/webadmin/game/view/id/5027992">
                                    5027992
                                </a> &nbsp;
                                <br>Table:&nbsp;<a href="/webadmin/table/info/id/4629786">Kentucky (4629786)</a>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/5132272">
                                    5132272
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/5126947">Rihana</a></td>
                            <td>Convert Rake</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2020/02/27 03:23:47</td>
                            <td>0.25</td>
                            <td>1.00</td>
                            <td>cash game points</td>
                            <td>transfer rate points</td>


                            <td style="white-space: nowrap;">
                                Game:&nbsp;
                                <a href="/webadmin/game/view/id/5027992">
                                    5027992
                                </a> &nbsp;
                                <br>Table:&nbsp;<a href="/webadmin/table/info/id/4629786">Kentucky (4629786)</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/5132271">
                                    5132271
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/5131823">JohnyD</a></td>
                            <td>Convert Rake</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2020/02/27 03:23:47</td>
                            <td>0.25</td>
                            <td>1.00</td>
                            <td>cash game points</td>
                            <td>transfer rate points</td>


                            <td style="white-space: nowrap;">
                                Game:&nbsp;
                                <a href="/webadmin/game/view/id/5027992">
                                    5027992
                                </a> &nbsp;
                                <br>Table:&nbsp;<a href="/webadmin/table/info/id/4629786">Kentucky (4629786)</a>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/5132270">
                                    5132270
                                </a> &nbsp;
                            </td>
                            <td>-</td>
                            <td>Rake + Jackpot</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2020/02/27 03:23:17</td>
                            <td>1.00</td>
                            <td>-24814.15</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Game:&nbsp;
                                <a href="/webadmin/game/view/id/5027991">
                                    5027991
                                </a> &nbsp;
                                <br>Table:&nbsp;<a href="/webadmin/table/info/id/4629786">Kentucky (4629786)</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/5132269">
                                    5132269
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/5126947">Rihana</a></td>
                            <td>Convert Rake</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2020/02/27 03:23:17</td>
                            <td>0.50</td>
                            <td>0.75</td>
                            <td>cash game points</td>
                            <td>transfer rate points</td>


                            <td style="white-space: nowrap;">
                                Game:&nbsp;
                                <a href="/webadmin/game/view/id/5027991">
                                    5027991
                                </a> &nbsp;
                                <br>Table:&nbsp;<a href="/webadmin/table/info/id/4629786">Kentucky (4629786)</a>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/5132268">
                                    5132268
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/5131823">JohnyD</a></td>
                            <td>Convert Rake</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2020/02/27 03:23:17</td>
                            <td>0.50</td>
                            <td>0.75</td>
                            <td>cash game points</td>
                            <td>transfer rate points</td>


                            <td style="white-space: nowrap;">
                                Game:&nbsp;
                                <a href="/webadmin/game/view/id/5027991">
                                    5027991
                                </a> &nbsp;
                                <br>Table:&nbsp;<a href="/webadmin/table/info/id/4629786">Kentucky (4629786)</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/5132267">
                                    5132267
                                </a> &nbsp;
                            </td>
                            <td>-</td>
                            <td>Rake + Jackpot</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2020/02/27 03:21:40</td>
                            <td>0.50</td>
                            <td>-24815.15</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Game:&nbsp;
                                <a href="/webadmin/game/view/id/5027989">
                                    5027989
                                </a> &nbsp;
                                <br>Table:&nbsp;<a href="/webadmin/table/info/id/4629786">Kentucky (4629786)</a>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/5132266">
                                    5132266
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/5126947">Rihana</a></td>
                            <td>Convert Rake</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2020/02/27 03:21:40</td>
                            <td>0.25</td>
                            <td>0.25</td>
                            <td>cash game points</td>
                            <td>transfer rate points</td>


                            <td style="white-space: nowrap;">
                                Game:&nbsp;
                                <a href="/webadmin/game/view/id/5027989">
                                    5027989
                                </a> &nbsp;
                                <br>Table:&nbsp;<a href="/webadmin/table/info/id/4629786">Kentucky (4629786)</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/5132265">
                                    5132265
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/5131823">JohnyD</a></td>
                            <td>Convert Rake</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2020/02/27 03:21:40</td>
                            <td>0.25</td>
                            <td>0.25</td>
                            <td>cash game points</td>
                            <td>transfer rate points</td>


                            <td style="white-space: nowrap;">
                                Game:&nbsp;
                                <a href="/webadmin/game/view/id/5027989">
                                    5027989
                                </a> &nbsp;
                                <br>Table:&nbsp;<a href="/webadmin/table/info/id/4629786">Kentucky (4629786)</a>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/5131916">
                                    5131916
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/5131823">JohnyD</a></td>
                            <td>To Table</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2020/02/27 03:20:57</td>
                            <td>-150.00</td>
                            <td>850.00</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Table:&nbsp;<a href="/webadmin/table/info/id/4629786">Kentucky (4629786)</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/5131914">
                                    5131914
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/5126947">Rihana</a></td>
                            <td>To Table</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2020/02/27 03:20:57</td>
                            <td>-150.00</td>
                            <td>850.00</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Table:&nbsp;<a href="/webadmin/table/info/id/4629786">Kentucky (4629786)</a>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/5131902">
                                    5131902
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/5131823">JohnyD</a></td>
                            <td>Deposit</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2020/02/27 03:19:49</td>
                            <td>1000.00</td>
                            <td>1000.00</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Transaction:&nbsp;<a href="/webadmin/transaction/info/id/5131901">5131901</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/5131901">
                                    5131901
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/5131823">JohnyD</a></td>
                            <td>Pended Deposit</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2020/02/27 03:19:49</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                            </td>
                        </tr>
                        <tr class="odd">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/5131899">
                                    5131899
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/5126947">Rihana</a></td>
                            <td>Deposit</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2020/02/27 03:19:23</td>
                            <td>1000.00</td>
                            <td>1000.00</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Transaction:&nbsp;<a href="/webadmin/transaction/info/id/5131898">5131898</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/5131898">
                                    5131898
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/5126947">Rihana</a></td>
                            <td>Pended Deposit</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2020/02/27 03:19:23</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                            </td>
                        </tr>
                        <tr class="odd">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/5131749">
                                    5131749
                                </a> &nbsp;
                            </td>
                            <td>-</td>
                            <td>Tournament Owner Reserve Guaranteed Prize</td>
                            <td>Default</td>
                            <td>Pending (Money Reserved)</td>
                            <td>2020/02/27 03:00:04</td>
                            <td>-5.00</td>
                            <td>-24815.65</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5131748">The Quarter Horse {R/A} (5131748)</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/5131572">
                                    5131572
                                </a> &nbsp;
                            </td>
                            <td>-</td>
                            <td>Tournament Owner Reserve Guaranteed Prize</td>
                            <td>Default</td>
                            <td>Pending (Money Reserved)</td>
                            <td>2020/02/27 02:30:04</td>
                            <td>-50.00</td>
                            <td>-24810.65</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5131571">The Big Freeze [Re-entry] (5131571)</a>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/5131375">
                                    5131375
                                </a> &nbsp;
                            </td>
                            <td>-</td>
                            <td>Declined Tournament Owner Reserve Guaranteed Prize</td>
                            <td>Default</td>
                            <td>Revert Declined</td>
                            <td>2020/02/27 02:00:00</td>
                            <td>5.00</td>
                            <td>-24760.65</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5123069">The Quarter Horse {R/A} (5123069)</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/5123070">5123070</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/5131112">
                                    5131112
                                </a> &nbsp;
                            </td>
                            <td>-</td>
                            <td>Tournament Owner Reserve Guaranteed Prize</td>
                            <td>Default</td>
                            <td>Pending (Money Reserved)</td>
                            <td>2020/02/27 01:15:04</td>
                            <td>-2.20</td>
                            <td>-24765.65</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5131111">The Twitch.tv Satellite R/A {Ticket} (5131111)</a>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/5131023">
                                    5131023
                                </a> &nbsp;
                            </td>
                            <td>-</td>
                            <td>Tournament Owner Reserve Guaranteed Prize</td>
                            <td>Default</td>
                            <td>Pending (Money Reserved)</td>
                            <td>2020/02/27 01:00:04</td>
                            <td>-15.00</td>
                            <td>-24763.45</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5131022">The Dollar Dazzler [R/A] (5131022)</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/5131021">
                                    5131021
                                </a> &nbsp;
                            </td>
                            <td>-</td>
                            <td>Tournament Owner Reserve Guaranteed Prize</td>
                            <td>Default</td>
                            <td>Pending (Money Reserved)</td>
                            <td>2020/02/27 01:00:04</td>
                            <td>-75.00</td>
                            <td>-24748.45</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5131020">The Wednesday War [R/A] [Twitch.tv] (5131020)</a>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/5131006">
                                    5131006
                                </a> &nbsp;
                            </td>
                            <td>-</td>
                            <td>Declined Tournament Owner Reserve Guaranteed Prize</td>
                            <td>Default</td>
                            <td>Revert Declined</td>
                            <td>2020/02/27 01:00:00</td>
                            <td>75.00</td>
                            <td>-24673.45</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5070713">The Wednesday War [R/A] [Twitch.tv] (5070713)</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/5070714">5070714</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/5130843">
                                    5130843
                                </a> &nbsp;
                            </td>
                            <td>-</td>
                            <td>Tournament Owner Reserve Guaranteed Prize</td>
                            <td>Default</td>
                            <td>Declined</td>
                            <td>2020/02/27 00:30:04</td>
                            <td>-1.00</td>
                            <td>-24748.45</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5130842">The Sheep Highway [Step] [Freeroll] (5130842)</a>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/5130829">
                                    5130829
                                </a> &nbsp;
                            </td>
                            <td>-</td>
                            <td>Declined Tournament Owner Reserve Guaranteed Prize</td>
                            <td>Default</td>
                            <td>Revert Declined</td>
                            <td>2020/02/27 00:30:00</td>
                            <td>1.00</td>
                            <td>-24747.45</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5127952">The Sheep Highway [Step] [Freeroll] (5127952)</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/5127953">5127953</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/5130743">
                                    5130743
                                </a> &nbsp;
                            </td>
                            <td>-</td>
                            <td>Declined Tournament Owner Reserve Guaranteed Prize</td>
                            <td>Default</td>
                            <td>Revert Declined</td>
                            <td>2020/02/27 00:15:00</td>
                            <td>2.20</td>
                            <td>-24748.45</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5124594">The Twitch.tv Satellite R/A {Ticket} (5124594)</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/5124595">5124595</a>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/5130647">
                                    5130647
                                </a> &nbsp;
                            </td>
                            <td>-</td>
                            <td>Tournament Owner Reserve Guaranteed Prize</td>
                            <td>Default</td>
                            <td>Pending (Money Reserved)</td>
                            <td>2020/02/27 00:00:04</td>
                            <td>-5.00</td>
                            <td>-24750.65</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5130646">The Rat Race R/A Super Turbo (5130646)</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/5130645">
                                    5130645
                                </a> &nbsp;
                            </td>
                            <td>-</td>
                            <td>Tournament Owner Reserve Guaranteed Prize</td>
                            <td>Default</td>
                            <td>Pending (Money Reserved)</td>
                            <td>2020/02/27 00:00:04</td>
                            <td>-10.00</td>
                            <td>-24745.65</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5130644">The Dollar Dazzler [R/A] (5130644)</a>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/5130473">
                                    5130473
                                </a> &nbsp;
                            </td>
                            <td>-</td>
                            <td>Tournament Owner Reserve Guaranteed Prize</td>
                            <td>Default</td>
                            <td>Pending (Money Reserved)</td>
                            <td>2020/02/26 23:30:03</td>
                            <td>-10.00</td>
                            <td>-24735.65</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5130472">Burn It Down [Freezeout] (5130472)</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/5130466">
                                    5130466
                                </a> &nbsp;
                            </td>
                            <td>-</td>
                            <td>Declined Tournament Owner Reserve Guaranteed Prize</td>
                            <td>Default</td>
                            <td>Revert Declined</td>
                            <td>2020/02/26 23:30:00</td>
                            <td>10.00</td>
                            <td>-24725.65</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5121811">Burn It Down [Freezeout] (5121811)</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/5121812">5121812</a>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/5130465">
                                    5130465
                                </a> &nbsp;
                            </td>
                            <td>-</td>
                            <td>Declined Tournament Owner Reserve Guaranteed Prize</td>
                            <td>Default</td>
                            <td>Revert Declined</td>
                            <td>2020/02/26 23:30:00</td>
                            <td>11.00</td>
                            <td>-24735.65</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5121100">The Sheep Highway [Freeroll] (5121100)</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/5121101">5121101</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/5130113">
                                    5130113
                                </a> &nbsp;
                            </td>
                            <td>-</td>
                            <td>Tournament Owner Reserve Guaranteed Prize</td>
                            <td>Default</td>
                            <td>Pending (Money Reserved)</td>
                            <td>2020/02/26 22:30:03</td>
                            <td>-20.00</td>
                            <td>-24746.65</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5130112">Let It Burn  [Single Re-Entry] (5130112)</a>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/5130101">
                                    5130101
                                </a> &nbsp;
                            </td>
                            <td>-</td>
                            <td>Declined Tournament Owner Reserve Guaranteed Prize</td>
                            <td>Default</td>
                            <td>Revert Declined</td>
                            <td>2020/02/26 22:30:00</td>
                            <td>20.00</td>
                            <td>-24726.65</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5121458">Let It Burn  [Single Re-Entry] (5121458)</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/5121459">5121459</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/5129838">
                                    5129838
                                </a> &nbsp;
                            </td>
                            <td>-</td>
                            <td>Declined Tournament Owner Reserve Guaranteed Prize</td>
                            <td>Default</td>
                            <td>Revert Declined</td>
                            <td>2020/02/26 21:45:00</td>
                            <td>5.50</td>
                            <td>-24746.65</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5109095">200 GTD Satellite [R/A] (5109095)</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/5109096">5109096</a>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/5129751">
                                    5129751
                                </a> &nbsp;
                            </td>
                            <td>-</td>
                            <td>Tournament Owner Reserve Guaranteed Prize</td>
                            <td>Default</td>
                            <td>Pending (Money Reserved)</td>
                            <td>2020/02/26 21:30:03</td>
                            <td>-11.00</td>
                            <td>-24752.15</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5129750">The Sheep Highway [Freeroll] (5129750)</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/5129658">
                                    5129658
                                </a> &nbsp;
                            </td>
                            <td>-</td>
                            <td>Declined Tournament Owner Reserve Guaranteed Prize</td>
                            <td>Default</td>
                            <td>Revert Declined</td>
                            <td>2020/02/26 21:15:00</td>
                            <td>5.50</td>
                            <td>-24741.15</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5109093">200 GTD Satellite [Freezeout] (5109093)</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/5109094">5109094</a>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/5129392">
                                    5129392
                                </a> &nbsp;
                            </td>
                            <td>-</td>
                            <td>Tournament Owner Reserve Guaranteed Prize</td>
                            <td>Default</td>
                            <td>Declined</td>
                            <td>2020/02/26 20:30:03</td>
                            <td>-1.00</td>
                            <td>-24746.65</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5129391">The Sheep Highway [Step] [Freeroll] (5129391)</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/5129385">
                                    5129385
                                </a> &nbsp;
                            </td>
                            <td>-</td>
                            <td>Declined Tournament Owner Reserve Guaranteed Prize</td>
                            <td>Default</td>
                            <td>Revert Declined</td>
                            <td>2020/02/26 20:30:00</td>
                            <td>1.00</td>
                            <td>-24745.65</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Tournament:&nbsp;<a href="/webadmin/tournament/info/id/5126465">The Sheep Highway [Step] [Freeroll] (5126465)</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/5126466">5126466</a>
                            </td>
                        </tr>
                    </table>
                    <div class='rowCount'>
                        <div class="row">
                            <div class="col-md-3">
                                Rows: 566821&ensp;|&ensp;
                                <div class="limit-controls" style="display: inline-block;">
                                    <div id="perpage">Per page:</div>
                                    <select class="limit-links">
                                        <option data-href="/webadmin/listing/player-transactions/limit/10">10</option>
                                        <option data-href="/webadmin/listing/player-transactions/limit/25">25</option>
                                        <option selected data-href="/webadmin/listing/player-transactions/limit/50">50</option>
                                        <option data-href="/webadmin/listing/player-transactions/limit/100">100</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6" style="display: flex; justify-content: center">
                                <div class="paginator-controls" id="blockPaginatorControls">
                                    <!-- First page link -->
                                    <div class="paginator-link">
                                        <span class="disabled">First</span>
                                    </div>
                                    <!-- Previous page link -->
                                    <div class="paginator-link">
                                        <span class="disabled">&lt; Previous</span>
                                    </div>
                                    <!-- Numbered page links -->
                                    <div class="paginator-link paginator-link_border">
                                        <span class="current">1</span>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/listing/player-transactions/page/2">2</a>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/listing/player-transactions/page/3">3</a>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/listing/player-transactions/page/4">4</a>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/listing/player-transactions/page/5">5</a>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/listing/player-transactions/page/6">6</a>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/listing/player-transactions/page/7">7</a>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/listing/player-transactions/page/8">8</a>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/listing/player-transactions/page/9">9</a>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/listing/player-transactions/page/10">10</a>
                                    </div>

                                    <!-- Next page link -->
                                    <div class="paginator-link">
                                        <a href="/webadmin/listing/player-transactions/page/2">Next &gt;</a>
                                    </div>
                                    <!-- Last page link -->
                                    <div class="paginator-link">
                                        <a href="/webadmin/listing/player-transactions/page/11337">Last</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="pull-right">
                                    <a href="/webadmin/listing/player-transactions/_output/xlsx"><img src="img/icons/xls.svg" alt="Excel"></a>
                                    <a href="/webadmin/listing/player-transactions/_output/csv"><img src="img/icons/csv.svg" alt="CSV"></a>
                                    <a href="/webadmin/listing/player-transactions/_output/ods"><img src="img/icons/odt.svg" alt="OpenDocument" /></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>