﻿
@{
    ViewBag.Title = "PlayerTransactionList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Transaction List <a href="http://docs.evenbetgaming.com/articles/Administration_Panel/Transactions%20List.html" target="_blank"><sup><i class="fa fa-question-circle"></i></sup></a></h3>

<h4>For player <a href="/webadmin/user/info/id/132725">YMN3CZBB</a></h4>
<p>
    <a class="btn btn-primary"
       href="/webadmin/listing/player-transactions">Show all</a>
</p>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                <div id="dynamicContent">
                    <div class="custom-dropdown-menu" id="columnsControls">
                    </div>

                    <table class="listing-table" id="processedTransactionsTable">
                        <thead class="listHead">
                            <tr>
                                <th data-controls="true" data-meta-skip-manage='true' data-dt-fixed-left="true">
                                    <div>
                                        <button type="button" class="btn btn-primary custom-dropdown" id="columnControlsBtn">
                                            <img src="img/icons/menu.svg" alt="+">
                                        </button>
                                    </div>
                                </th>
                                <th data-meta-key='f_id' data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_id" orderType="">
                                            Id
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_type' data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_type" orderType="">
                                            Type
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_subtype' data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_subtype" orderType="">
                                            Sub type
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_pended' data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_pended" orderType="">
                                            State
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_stamp' data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_stamp" orderType="ASC">
                                            Date
                                            <img src="img/arrow_down.png" />
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_value' data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_value" orderType="">
                                            Value
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_balance_after' data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_balance_after" orderType="">
                                            Balance
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_money_type' data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_money_type" orderType="">
                                            Money type
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_param_notes' data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_param_notes" orderType="">
                                            Notes
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='linkedItem'>Linked Item</th>
                            </tr>
                            <tr class="listFilter">
                                <th>
                                    <button name="butFilter" id="butFilter" type="button">Apply Filter</button>
                                    <button name="butReset" id="butReset" type="button">Reset Filter</button>
                                </th>
                                <th>
                                    <input type="text" name="f_id" id="f_id" value="" filter="1" controller="transaction" action="info" sql="mt.f_id" orderable="1" nonHtml="" style="width:50px;" class="filter" />
                                </th>
                                <th>
                                    <select name="f_type" id="f_type" filter="1" orderable="1" sql="f_type" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="95">Unknown</option>
                                        <option value="84">To Table</option>
                                        <option value="70">From Table</option>
                                        <option value="72">Unclaimed Money</option>
                                        <option value="73">Internal Deposit</option>
                                        <option value="74">Internal Deposit Rev</option>
                                        <option value="68">Deposit</option>
                                        <option value="87">Withdrawal</option>
                                        <option value="76">Cancel Withdrawal</option>
                                        <option value="66">Tournament Buy In</option>
                                        <option value="67">Tournament Buy In Rev</option>
                                        <option value="69">Tournament Entry Fee</option>
                                        <option value="71">Tournament Entry Fee Rev</option>
                                        <option value="80">Tournament Prize</option>
                                        <option value="65">Affiliate Payment</option>
                                        <option value="79">To Player</option>
                                        <option value="77">From Player</option>
                                        <option value="75">Rake + Jackpot</option>
                                        <option value="85">Convert Out</option>
                                        <option value="78">Convert In</option>
                                        <option value="86">Convert Rake</option>
                                        <option value="90">Jackpot</option>
                                        <option value="82">Tournament Get Extra Chips</option>
                                        <option value="49">Tournament Refund Extra Chips</option>
                                        <option value="88">Crash Recovery Refund</option>
                                        <option value="81">Jackpot Room Fee</option>
                                        <option value="52">Transfer Fee</option>
                                        <option value="50">Custom In</option>
                                        <option value="51">Custom Out</option>
                                        <option value="500">System Player Internal Deposit</option>
                                        <option value="501">System Player Rev. Internal Deposit</option>
                                        <option value="502">System Player Custom Transaction</option>
                                        <option value="503">System Player Rev. Custom Transaction</option>
                                        <option value="504">Tournament Owner Reserve Guaranteed Prize</option>
                                        <option value="505">Tournament Owner Reserve Prize2</option>
                                        <option value="506">Tournament Owner Guaranteed Prize Remain Return</option>
                                        <option value="507">System Player Trans. Part Of Rake</option>
                                        <option value="508">System Player Balance Correction</option>
                                        <option value="510">Tournament Second Entry Fee</option>
                                        <option value="511">Tournament Second Entry Fee Rev.</option>
                                        <option value="512">External Jackpot Correction</option>
                                        <option value="513">Jackpot Auto TopUp</option>
                                        <option value="520">Ticket To Money</option>
                                        <option value="521">Ticket To Money Rev.</option>
                                        <option value="522">Emit Grant Ticket</option>
                                        <option value="523">Emit Grant Ticket Rev.</option>
                                        <option value="550">System Adjustments</option>
                                        <option value="551">System Adjustments Rev</option>
                                        <option value="560">Tournament Spin Prize Room Part</option>
                                        <option value="570">BankUp Rest Of WinAmount To SystemPlayer</option>
                                        <option value="571">BankUp Payment To Player By SystemPlayer</option>
                                        <option value="572">BankUp Take Money For Payment To Player</option>
                                        <option value="573">BankUp Take Money For Payment To SystemPlayer</option>
                                        <option value="574">BankUp Payment To SystemPlayer By Player</option>
                                        <option value="580">Tournament System Rebuy Fee</option>
                                        <option value="581">Tournament System Rebuy Fee Rev.</option>
                                        <option value="582">Tournament System Addon Fee</option>
                                        <option value="583">Tournament System Addon Fee Rev.</option>
                                        <option value="584">Tournament Rebuy Fee</option>
                                        <option value="585">Tournament Rebuy Fee Rev.</option>
                                        <option value="586">Tournament Addon Fee</option>
                                        <option value="587">Tournament Addon Fee Rev.</option>
                                        <option value="601">Unattended Pair Transaction</option>
                                        <option value="602">Declined From Player</option>
                                        <option value="603">Declined Withdrawal</option>
                                        <option value="604">Pended To Player</option>
                                        <option value="605">Pended Deposit</option>
                                        <option value="606">Pended Tournament Entry Fee</option>
                                        <option value="607">Pended Custom</option>
                                        <option value="608">Pended Custom Rev.</option>
                                        <option value="609">Pended Tournament Second Entry Fee</option>
                                        <option value="610">Pended Transfer Fee</option>
                                        <option value="611">Pended Crash Recovery Refund</option>
                                        <option value="612">Declined Tournament Owner Reserve Guaranteed Prize</option>
                                        <option value="613">Declined Tournament Owner Reserve Prize2</option>
                                        <option value="631">Declined External Wallet Return Cash</option>
                                        <option value="635">Pended External Wallet For Get Cash</option>
                                        <option value="636">External Wallet For Get Cash</option>
                                        <option value="637">Pended External Wallet For Tournament</option>
                                        <option value="638">External Wallet For Tournament</option>
                                        <option value="639">Pended External Wallet For Rebuy/Addon</option>
                                        <option value="640">External Wallet For Rebuy/Addon</option>
                                        <option value="630">External wallet return cash</option>
                                        <option value="632">External wallet reject tournament registration</option>
                                        <option value="641">External wallet for tournament spend</option>
                                        <option value="590">Bounty Tournament Entry Fee</option>
                                        <option value="591">Bounty Tournament Entry Fee Rev.</option>
                                        <option value="593">Bounty Prize From Casino</option>
                                        <option value="592">Knockout Prize</option>
                                        <option value="594">Bounty Prize</option>
                                        <option value="595">Pro Bounty Prize</option>
                                        <option value="53">Insurance comission</option>
                                        <option value="54">Insurance payment</option>
                                        <option value="55">Personalized rake</option>
                                        <option value="652">Government Fee</option>
                                    </select>
                                </th>
                                <th>
                                    <select name="f_subtype" id="f_subtype" filter="1" orderable="1" sql="f_subtype" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="0">Default</option>
                                        <option value="400">CGP Buying</option>
                                        <option value="248">NE Bonus</option>
                                        <option value="249">NE Transfer</option>
                                        <option value="247">Play Money Bonus</option>
                                        <option value="246">Play Money Bonus Compensation</option>
                                        <option value="251">Bonus Battle Prize</option>
                                        <option value="392">Daily Auto Top Up</option>
                                        <option value="2001">Bonus</option>
                                        <option value="2002">Bonus Rev</option>
                                        <option value="2003">Test Bonus</option>
                                        <option value="2004">Test Bonus Rev</option>
                                        <option value="2006">System Balance Adjustments</option>
                                        <option value="2008">Lottery Prize (bonus)</option>
                                        <option value="2009">Lottery Prize (bonus) Rev.</option>
                                        <option value="2010">Affiliate Benefit (bonus)</option>
                                        <option value="2011">Affiliate Benefit (bonus) Rev.</option>
                                        <option value="2012">Player Rakeback (bonus)</option>
                                        <option value="2013">Player Rakeback (bonus) Rev.</option>
                                        <option value="2110">Rental Table. Owner Rake</option>
                                        <option value="2014">Casino debit</option>
                                        <option value="2015">Casino credit</option>
                                        <option value="2016">Casino rollback</option>
                                        <option value="98">Bounty prize</option>
                                        <option value="105">Table buy in commission</option>
                                        <option value="106">Tournament buy in commission</option>
                                        <option value="107">Tournament buy in commission revert</option>
                                        <option value="112">PRO Bounty Prize</option>
                                        <option value="113">RabbitHunting</option>
                                        <option value="1301">Promo. Reward Money</option>
                                        <option value="1302">Promo. Participation Fee</option>
                                        <option value="1101">Rakeback</option>
                                        <option value="10">Redeem Code</option>
                                        <option value="1">Bonus Deposit</option>
                                        <option value="903">Affiliate Profit</option>
                                        <option value="904">Affiliate Profit Rev</option>
                                        <option value="700">Affiliate Insurance Distribution</option>
                                    </select>
                                </th>
                                <th>
                                    <select name="f_pended" id="f_pended" filter="1" orderable="1" sql="f_pended" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="0">Accepted</option>
                                        <option value="1">Pending</option>
                                        <option value="2">Declined</option>
                                        <option value="3">Draft</option>
                                        <option value="4">Pending (Money Reserved)</option>
                                        <option value="9">Revert Declined</option>
                                        <option value="100">Error Comminted</option>
                                        <option value="101">Error Uncommited</option>
                                    </select>
                                </th>
                                <th>
                                    From: <input type="text" name="f_stamp[from]" id="f_stamp[from]" value="" filter="1" style="width: 120px" orderable="1" sql="f_stamp" nonHtml="" class="filter" readonly="readonly" onclick='displayDatePicker("f_stamp[from]", false, "ymd", "-");' /> To: <input type="text" name="f_stamp[to]" id="f_stamp[to]" value="" filter="1" style="width: 120px" orderable="1" sql="f_stamp" nonHtml="" class="filter" readonly="readonly" onclick='displayDatePicker("f_stamp[to]", false, "ymd", "-");' />
                                </th>
                                <th>
                                    <input type="text" name="f_value" id="f_value" value="" filter="1" orderable="1" sql="f_value" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <input type="text" name="f_balance_after" id="f_balance_after" value="" filter="1" orderable="1" sql="f_balance_after" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <select name="f_money_type" id="f_money_type" filter="1" sql="mt.f_money_type" orderable="1" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="82">Real Money</option>
                                        <option value="80">Play Money</option>
                                        <option value="65">cash game points</option>
                                    </select>
                                </th>
                                <th>
                                    <input type="text" name="f_param_notes" id="f_param_notes" value="" filter="1" orderable="1" sql="f_param_notes" nonHtml="" class="filter" />
                                </th>

                                <th>&nbsp;</th>
                            </tr>
                        </thead>

                        <tr class="odd">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/3869259">
                                    3869259
                                </a> &nbsp;
                            </td>
                            <td>System Adjustments Rev</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2019/11/04 12:57:53</td>
                            <td>-625.00</td>
                            <td>0.00</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Transaction:&nbsp;<a href="/webadmin/transaction/info/id/3869258">3869258</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/3815148">
                                    3815148
                                </a> &nbsp;
                            </td>
                            <td>To Player</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2019/11/01 13:01:54</td>
                            <td>-5.00</td>
                            <td>625.00</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Player:&nbsp;<a href="/webadmin/user/info/id/3808783">0V6VKORR</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/3815149">3815149</a>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/3815144">
                                    3815144
                                </a> &nbsp;
                            </td>
                            <td>To Player</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2019/11/01 13:01:50</td>
                            <td>-5.00</td>
                            <td>630.00</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Player:&nbsp;<a href="/webadmin/user/info/id/3808659">8G39OUU</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/3815145">3815145</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/3815140">
                                    3815140
                                </a> &nbsp;
                            </td>
                            <td>To Player</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2019/11/01 13:01:33</td>
                            <td>-5.00</td>
                            <td>635.00</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Player:&nbsp;<a href="/webadmin/user/info/id/3807089">2QAC9DRR</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/3815141">3815141</a>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/3815136">
                                    3815136
                                </a> &nbsp;
                            </td>
                            <td>To Player</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2019/11/01 13:01:29</td>
                            <td>-5.00</td>
                            <td>640.00</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Player:&nbsp;<a href="/webadmin/user/info/id/3806797">FVH7E5ZZ</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/3815137">3815137</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/3815132">
                                    3815132
                                </a> &nbsp;
                            </td>
                            <td>To Player</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2019/11/01 13:01:23</td>
                            <td>-5.00</td>
                            <td>645.00</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Player:&nbsp;<a href="/webadmin/user/info/id/3806432">8W5Q0GSS</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/3815133">3815133</a>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/3815128">
                                    3815128
                                </a> &nbsp;
                            </td>
                            <td>To Player</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2019/11/01 13:01:18</td>
                            <td>-5.00</td>
                            <td>650.00</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Player:&nbsp;<a href="/webadmin/user/info/id/3805131">YX6ZY400</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/3815129">3815129</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/3815119">
                                    3815119
                                </a> &nbsp;
                            </td>
                            <td>To Player</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2019/11/01 13:00:55</td>
                            <td>-5.00</td>
                            <td>655.00</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Player:&nbsp;<a href="/webadmin/user/info/id/3802488">8KDUN2II</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/3815120">3815120</a>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/3815117">
                                    3815117
                                </a> &nbsp;
                            </td>
                            <td>To Player</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2019/11/01 13:00:51</td>
                            <td>-5.00</td>
                            <td>660.00</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Player:&nbsp;<a href="/webadmin/user/info/id/3802402">PLE05UJJ</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/3815118">3815118</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/3815113">
                                    3815113
                                </a> &nbsp;
                            </td>
                            <td>To Player</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2019/11/01 13:00:46</td>
                            <td>-5.00</td>
                            <td>665.00</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Player:&nbsp;<a href="/webadmin/user/info/id/3802065">X9B9COHH</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/3815114">3815114</a>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/3815109">
                                    3815109
                                </a> &nbsp;
                            </td>
                            <td>To Player</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2019/11/01 13:00:33</td>
                            <td>-5.00</td>
                            <td>670.00</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Player:&nbsp;<a href="/webadmin/user/info/id/3801185">WHSISGWW</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/3815110">3815110</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/3795521">
                                    3795521
                                </a> &nbsp;
                            </td>
                            <td>To Player</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2019/10/31 11:46:58</td>
                            <td>-5.00</td>
                            <td>675.00</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Player:&nbsp;<a href="/webadmin/user/info/id/3781193">9TJQFJKK</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/3795522">3795522</a>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/3795516">
                                    3795516
                                </a> &nbsp;
                            </td>
                            <td>To Player</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2019/10/31 11:46:53</td>
                            <td>-5.00</td>
                            <td>680.00</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Player:&nbsp;<a href="/webadmin/user/info/id/3780785">B1JJ1VLL</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/3795517">3795517</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/3795514">
                                    3795514
                                </a> &nbsp;
                            </td>
                            <td>To Player</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2019/10/31 11:46:50</td>
                            <td>-5.00</td>
                            <td>685.00</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Player:&nbsp;<a href="/webadmin/user/info/id/3779833">WI46UZGG</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/3795515">3795515</a>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/3795509">
                                    3795509
                                </a> &nbsp;
                            </td>
                            <td>To Player</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2019/10/31 11:46:46</td>
                            <td>-5.00</td>
                            <td>690.00</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Player:&nbsp;<a href="/webadmin/user/info/id/3731567">OCWAF6TT</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/3795510">3795510</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/3795504">
                                    3795504
                                </a> &nbsp;
                            </td>
                            <td>To Player</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2019/10/31 11:46:41</td>
                            <td>-5.00</td>
                            <td>695.00</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Player:&nbsp;<a href="/webadmin/user/info/id/3778858">DRDG3PQQ</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/3795505">3795505</a>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/3795500">
                                    3795500
                                </a> &nbsp;
                            </td>
                            <td>To Player</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2019/10/31 11:46:37</td>
                            <td>-5.00</td>
                            <td>700.00</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Player:&nbsp;<a href="/webadmin/user/info/id/3778628">HOWFI0UU</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/3795501">3795501</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/3795494">
                                    3795494
                                </a> &nbsp;
                            </td>
                            <td>To Player</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2019/10/31 11:46:33</td>
                            <td>-5.00</td>
                            <td>705.00</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Player:&nbsp;<a href="/webadmin/user/info/id/3776324">QUHYXPBB</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/3795495">3795495</a>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/3795491">
                                    3795491
                                </a> &nbsp;
                            </td>
                            <td>To Player</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2019/10/31 11:46:29</td>
                            <td>-5.00</td>
                            <td>710.00</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Player:&nbsp;<a href="/webadmin/user/info/id/1496079">0MHAZ600</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/3795492">3795492</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/3795487">
                                    3795487
                                </a> &nbsp;
                            </td>
                            <td>To Player</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2019/10/31 11:46:23</td>
                            <td>-5.00</td>
                            <td>715.00</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Player:&nbsp;<a href="/webadmin/user/info/id/3775879">ZMO1R8TT</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/3795488">3795488</a>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/3795483">
                                    3795483
                                </a> &nbsp;
                            </td>
                            <td>To Player</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2019/10/31 11:46:12</td>
                            <td>-5.00</td>
                            <td>720.00</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Player:&nbsp;<a href="/webadmin/user/info/id/3775708">BXZUPM00</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/3795484">3795484</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/3795477">
                                    3795477
                                </a> &nbsp;
                            </td>
                            <td>To Player</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2019/10/31 11:46:08</td>
                            <td>-5.00</td>
                            <td>725.00</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Player:&nbsp;<a href="/webadmin/user/info/id/3772259">Z4QXIRSS</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/3795478">3795478</a>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/3795474">
                                    3795474
                                </a> &nbsp;
                            </td>
                            <td>To Player</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2019/10/31 11:46:04</td>
                            <td>-5.00</td>
                            <td>730.00</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Player:&nbsp;<a href="/webadmin/user/info/id/3771758">FCF7JJSS</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/3795475">3795475</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/3795466">
                                    3795466
                                </a> &nbsp;
                            </td>
                            <td>To Player</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2019/10/31 11:45:58</td>
                            <td>-5.00</td>
                            <td>735.00</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Player:&nbsp;<a href="/webadmin/user/info/id/3771632">6JT00RKK</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/3795467">3795467</a>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/3795463">
                                    3795463
                                </a> &nbsp;
                            </td>
                            <td>To Player</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2019/10/31 11:45:54</td>
                            <td>-5.00</td>
                            <td>740.00</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Player:&nbsp;<a href="/webadmin/user/info/id/3693545">65L745RR</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/3795464">3795464</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/3795459">
                                    3795459
                                </a> &nbsp;
                            </td>
                            <td>To Player</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2019/10/31 11:45:44</td>
                            <td>-5.00</td>
                            <td>745.00</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Player:&nbsp;<a href="/webadmin/user/info/id/3769900">RORKFXLL</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/3795460">3795460</a>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/3795455">
                                    3795455
                                </a> &nbsp;
                            </td>
                            <td>To Player</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2019/10/31 11:45:34</td>
                            <td>-5.00</td>
                            <td>750.00</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Player:&nbsp;<a href="/webadmin/user/info/id/3769464">EWZY11QQ</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/3795456">3795456</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/3795450">
                                    3795450
                                </a> &nbsp;
                            </td>
                            <td>To Player</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2019/10/31 11:45:29</td>
                            <td>-5.00</td>
                            <td>755.00</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Player:&nbsp;<a href="/webadmin/user/info/id/3543657">QBJC9K11</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/3795451">3795451</a>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/3795445">
                                    3795445
                                </a> &nbsp;
                            </td>
                            <td>To Player</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2019/10/31 11:45:25</td>
                            <td>-5.00</td>
                            <td>760.00</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Player:&nbsp;<a href="/webadmin/user/info/id/2435824">MCUR4TFF</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/3795446">3795446</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/3795442">
                                    3795442
                                </a> &nbsp;
                            </td>
                            <td>To Player</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2019/10/31 11:45:20</td>
                            <td>-5.00</td>
                            <td>765.00</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Player:&nbsp;<a href="/webadmin/user/info/id/3766090">4MS47TAA</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/3795443">3795443</a>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/3795438">
                                    3795438
                                </a> &nbsp;
                            </td>
                            <td>To Player</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2019/10/31 11:45:16</td>
                            <td>-5.00</td>
                            <td>770.00</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Player:&nbsp;<a href="/webadmin/user/info/id/3763968">R90S8LLL</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/3795439">3795439</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/3795433">
                                    3795433
                                </a> &nbsp;
                            </td>
                            <td>To Player</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2019/10/31 11:45:07</td>
                            <td>-5.00</td>
                            <td>775.00</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Player:&nbsp;<a href="/webadmin/user/info/id/3763397">Q22SIYKK</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/3795434">3795434</a>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/3795425">
                                    3795425
                                </a> &nbsp;
                            </td>
                            <td>To Player</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2019/10/31 11:45:02</td>
                            <td>-5.00</td>
                            <td>780.00</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Player:&nbsp;<a href="/webadmin/user/info/id/3763361">3FS3AO55</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/3795426">3795426</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/3795420">
                                    3795420
                                </a> &nbsp;
                            </td>
                            <td>To Player</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2019/10/31 11:44:58</td>
                            <td>-5.00</td>
                            <td>785.00</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Player:&nbsp;<a href="/webadmin/user/info/id/3762884">V9PPQCUU</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/3795421">3795421</a>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/3795418">
                                    3795418
                                </a> &nbsp;
                            </td>
                            <td>To Player</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2019/10/31 11:44:53</td>
                            <td>-5.00</td>
                            <td>790.00</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Player:&nbsp;<a href="/webadmin/user/info/id/3762345">M5MDRRII</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/3795419">3795419</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/3795414">
                                    3795414
                                </a> &nbsp;
                            </td>
                            <td>To Player</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2019/10/31 11:44:48</td>
                            <td>-5.00</td>
                            <td>795.00</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Player:&nbsp;<a href="/webadmin/user/info/id/3762279">LOVFKHH</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/3795415">3795415</a>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/3795410">
                                    3795410
                                </a> &nbsp;
                            </td>
                            <td>To Player</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2019/10/31 11:44:42</td>
                            <td>-5.00</td>
                            <td>800.00</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Player:&nbsp;<a href="/webadmin/user/info/id/3758432">OVLC7NGG</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/3795411">3795411</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/3795404">
                                    3795404
                                </a> &nbsp;
                            </td>
                            <td>To Player</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2019/10/31 11:44:33</td>
                            <td>-5.00</td>
                            <td>805.00</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Player:&nbsp;<a href="/webadmin/user/info/id/3760887">TLFETEII</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/3795405">3795405</a>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/3795402">
                                    3795402
                                </a> &nbsp;
                            </td>
                            <td>To Player</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2019/10/31 11:44:29</td>
                            <td>-5.00</td>
                            <td>810.00</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Player:&nbsp;<a href="/webadmin/user/info/id/3760599">20C1PGEE</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/3795403">3795403</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/3795397">
                                    3795397
                                </a> &nbsp;
                            </td>
                            <td>To Player</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2019/10/31 11:44:25</td>
                            <td>-5.00</td>
                            <td>815.00</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Player:&nbsp;<a href="/webadmin/user/info/id/3621404">HI6EEN00</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/3795398">3795398</a>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/3795391">
                                    3795391
                                </a> &nbsp;
                            </td>
                            <td>To Player</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2019/10/31 11:44:21</td>
                            <td>-5.00</td>
                            <td>820.00</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Player:&nbsp;<a href="/webadmin/user/info/id/3152224">Z6V3A288</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/3795392">3795392</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/3795389">
                                    3795389
                                </a> &nbsp;
                            </td>
                            <td>To Player</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2019/10/31 11:44:16</td>
                            <td>-5.00</td>
                            <td>825.00</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Player:&nbsp;<a href="/webadmin/user/info/id/3757546">F5UOYX55</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/3795390">3795390</a>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/3795384">
                                    3795384
                                </a> &nbsp;
                            </td>
                            <td>To Player</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2019/10/31 11:44:06</td>
                            <td>-5.00</td>
                            <td>830.00</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Player:&nbsp;<a href="/webadmin/user/info/id/2945103">XE5YKMLL</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/3795385">3795385</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/3795380">
                                    3795380
                                </a> &nbsp;
                            </td>
                            <td>To Player</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2019/10/31 11:44:02</td>
                            <td>-5.00</td>
                            <td>835.00</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Player:&nbsp;<a href="/webadmin/user/info/id/3763954">QWTUEWKK</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/3795381">3795381</a>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/3795372">
                                    3795372
                                </a> &nbsp;
                            </td>
                            <td>To Player</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2019/10/31 11:43:57</td>
                            <td>-5.00</td>
                            <td>840.00</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Player:&nbsp;<a href="/webadmin/user/info/id/3741888">I9EJE466</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/3795373">3795373</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/3795370">
                                    3795370
                                </a> &nbsp;
                            </td>
                            <td>To Player</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2019/10/31 11:43:52</td>
                            <td>-5.00</td>
                            <td>845.00</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Player:&nbsp;<a href="/webadmin/user/info/id/3741349">2I15V1GG</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/3795371">3795371</a>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/3795366">
                                    3795366
                                </a> &nbsp;
                            </td>
                            <td>To Player</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2019/10/31 11:43:47</td>
                            <td>-5.00</td>
                            <td>850.00</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Player:&nbsp;<a href="/webadmin/user/info/id/3780312">5P4MU3ZZ</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/3795367">3795367</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/3795362">
                                    3795362
                                </a> &nbsp;
                            </td>
                            <td>To Player</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2019/10/31 11:43:40</td>
                            <td>-5.00</td>
                            <td>855.00</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Player:&nbsp;<a href="/webadmin/user/info/id/3705886">NYVW9988</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/3795363">3795363</a>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/3795358">
                                    3795358
                                </a> &nbsp;
                            </td>
                            <td>To Player</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2019/10/31 11:43:23</td>
                            <td>-5.00</td>
                            <td>860.00</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Player:&nbsp;<a href="/webadmin/user/info/id/3265876">2SLIG677</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/3795359">3795359</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/3795352">
                                    3795352
                                </a> &nbsp;
                            </td>
                            <td>To Player</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2019/10/31 11:43:19</td>
                            <td>-5.00</td>
                            <td>865.00</td>
                            <td>Real Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Player:&nbsp;<a href="/webadmin/user/info/id/3670373">WDB6ZUEE</a><br>Transaction:&nbsp;<a href="/webadmin/transaction/info/id/3795353">3795353</a>
                            </td>
                        </tr>
                    </table>
                    <div class='rowCount'>
                        <div class="row">
                            <div class="col-md-3">
                                Rows: 506&ensp;|&ensp;
                                <div class="limit-controls" style="display: inline-block;">
                                    <div id="perpage">Per page:</div>
                                    <select class="limit-links">
                                        <option data-href="/webadmin/affiliate/listing/player-transactions/id/132725/limit/10">10</option>
                                        <option data-href="/webadmin/affiliate/listing/player-transactions/id/132725/limit/25">25</option>
                                        <option selected data-href="/webadmin/affiliate/listing/player-transactions/id/132725/limit/50">50</option>
                                        <option data-href="/webadmin/affiliate/listing/player-transactions/id/132725/limit/100">100</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6" style="display: flex; justify-content: center">
                                <div class="paginator-controls" id="blockPaginatorControls">
                                    <!-- First page link -->
                                    <div class="paginator-link">
                                        <span class="disabled">First</span>
                                    </div>
                                    <!-- Previous page link -->
                                    <div class="paginator-link">
                                        <span class="disabled">&lt; Previous</span>
                                    </div>
                                    <!-- Numbered page links -->
                                    <div class="paginator-link paginator-link_border">
                                        <span class="current">1</span>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/affiliate/listing/player-transactions/id/132725/page/2">2</a>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/affiliate/listing/player-transactions/id/132725/page/3">3</a>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/affiliate/listing/player-transactions/id/132725/page/4">4</a>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/affiliate/listing/player-transactions/id/132725/page/5">5</a>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/affiliate/listing/player-transactions/id/132725/page/6">6</a>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/affiliate/listing/player-transactions/id/132725/page/7">7</a>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/affiliate/listing/player-transactions/id/132725/page/8">8</a>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/affiliate/listing/player-transactions/id/132725/page/9">9</a>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/affiliate/listing/player-transactions/id/132725/page/10">10</a>
                                    </div>

                                    <!-- Next page link -->
                                    <div class="paginator-link">
                                        <a href="/webadmin/affiliate/listing/player-transactions/id/132725/page/2">Next &gt;</a>
                                    </div>
                                    <!-- Last page link -->
                                    <div class="paginator-link">
                                        <a href="/webadmin/affiliate/listing/player-transactions/id/132725/page/11">Last</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="pull-right">
                                    <a href="/webadmin/affiliate/listing/player-transactions/id/132725/_output/xlsx"><img src="img/icons/xls.svg" alt="Excel"></a>
                                    <a href="/webadmin/affiliate/listing/player-transactions/id/132725/_output/csv"><img src="img/icons/csv.svg" alt="CSV"></a>
                                    <a href="/webadmin/affiliate/listing/player-transactions/id/132725/_output/ods"><img src="img/icons/odt.svg" alt="OpenDocument" /></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

