﻿
@{
    ViewBag.Title = "PlayerSessionList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Session List</h3>
<h4>For player <a href="/webadmin/affiliate/user/info/id/132725">YMN3CZBB</a></h4>
<div class="box">
    <div class="box-body">
        <div id="dynamicContent">
            <div class="custom-dropdown-menu" id="columnsControls">
            </div>

            <table id='playerSessions' class="listing-table" data-dt-not-fixed-cols="true">
                <thead class="listHead">
                    <tr>
                        <th data-meta-key='f_id'
                            data-meta-visibility="true">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_id"
                                   orderType="DESC">
                                    Id
                                    <img src="img/arrow_up.png" />
                                </a>
                            </nobr>
                        </th>
                        <th data-meta-key='f_ip'
                            data-meta-visibility="true">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_ip"
                                   orderType="">
                                    IP
                                </a>
                            </nobr>
                        </th>
                        <th data-meta-key='f_int_ip'
                            data-meta-visibility="true">
                            <nobr>
                                Country
                            </nobr>
                        </th>
                        <th data-meta-key='f_unique_id'
                            data-meta-visibility="true">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_unique_id"
                                   orderType="">
                                    Unique Device ID
                                </a>
                            </nobr>
                        </th>
                        <th data-meta-key='f_platform'
                            data-meta-visibility="true">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_platform"
                                   orderType="">
                                    Device Platform
                                </a>
                            </nobr>
                        </th>
                        <th data-meta-key='f_os'
                            data-meta-visibility="true">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_os"
                                   orderType="">
                                    Device OS
                                </a>
                            </nobr>
                        </th>
                        <th data-meta-key='f_os_version'
                            data-meta-visibility="true">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_os_version"
                                   orderType="">
                                    Device OS Version
                                </a>
                            </nobr>
                        </th>
                        <th data-meta-key='f_browser'
                            data-meta-visibility="true">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_browser"
                                   orderType="">
                                    Device Browser
                                </a>
                            </nobr>
                        </th>
                        <th data-meta-key='f_browser_version'
                            data-meta-visibility="true">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_browser_version"
                                   orderType="">
                                    Device Browser Version
                                </a>
                            </nobr>
                        </th>
                        <th data-meta-key='f_mac_address'
                            data-meta-visibility="true">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_mac_address"
                                   orderType="">
                                    Device Mac Address
                                </a>
                            </nobr>
                        </th>
                        <th data-meta-key='f_resolution'
                            data-meta-visibility="true">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_resolution"
                                   orderType="">
                                    Device Resolution
                                </a>
                            </nobr>
                        </th>
                        <th data-meta-key='f_start_stamp'
                            data-meta-visibility="true">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_start_stamp"
                                   orderType="">
                                    Start
                                </a>
                            </nobr>
                        </th>
                        <th data-meta-key='f_end_stamp'
                            data-meta-visibility="true">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_end_stamp"
                                   orderType="">
                                    End
                                </a>
                            </nobr>
                        </th>
                        <th data-meta-key='duration'
                            data-meta-visibility="true">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="duration"
                                   orderType="">
                                    Session Duration
                                </a>
                            </nobr>
                        </th>
                        <th data-meta-key='f_regular_close'
                            data-meta-visibility="true">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_regular_close"
                                   orderType="">
                                    Is Regular Closing
                                </a>
                            </nobr>
                        </th>
                        <th data-meta-key='hands_played'
                            data-meta-visibility="true">
                            <nobr>
                                Hands Played
                            </nobr>
                        </th>
                        <th data-meta-key='tournaments_played'
                            data-meta-visibility="true">
                            <nobr>
                                Tournaments Played
                            </nobr>
                        </th>
                        <th data-meta-key='locations'
                            data-meta-visibility="true">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="locations"
                                   orderType="">
                                    GPS Location
                                </a>
                            </nobr>
                        </th>
                        <th data-meta-skip-manage='true'>
                            <div>
                                <button type="button" class="btn btn-primary custom-dropdown" id="columnControlsBtn">
                                    <img src="img/icons/menu.svg" alt="+">
                                </button>
                            </div>
                        </th>
                    </tr>
                    <tr class="listFilter">
                        <th>&nbsp;</th>
                        <th>
                            <input type="text" name="f_ip" id="f_ip" value="" filter="1" sql_ip="sl.f_ip" orderable="1" sql="f_ip" nonHtml="" class="filter" />
                        </th>
                        <th>&nbsp;</th>
                        <th>
                            <input type="text" name="f_unique_id" id="f_unique_id" value="" filter="1" sql="playerDevice.f_unique_id" orderable="1" nonHtml="" class="filter" />
                        </th>
                        <th>
                            <select name="f_platform" id="f_platform" filter="1" sql="playerDevice.f_platform" orderable="1" nonHtml="" class="filter">
                                <option value="">-</option>
                                <option value="W">Windows</option>
                                <option value="A">Android</option>
                                <option value="I">iOS</option>
                                <option value="M">mac</option>
                                <option value="H">html5</option>
                            </select>
                        </th>
                        <th>
                            <select name="f_os" id="f_os" filter="1" sql="playerDevice.f_os" orderable="1" nonHtml="" class="filter">
                                <option value="">-</option>
                                <option value="W">Windows</option>
                                <option value="A">Android</option>
                                <option value="I">iOS</option>
                                <option value="M">mac</option>
                                <option value="L">Linux</option>
                            </select>
                        </th>
                        <th>
                            <input type="text" name="f_os_version" id="f_os_version" value="" filter="1" sql="playerDevice.f_os_version" orderable="1" nonHtml="" class="filter" />
                        </th>
                        <th>
                            <input type="text" name="f_browser" id="f_browser" value="" filter="1" sql="playerDevice.f_browser" orderable="1" nonHtml="" class="filter" />
                        </th>
                        <th>
                            <input type="text" name="f_browser_version" id="f_browser_version" value="" filter="1" sql="playerDevice.f_browser_version" orderable="1" nonHtml="" class="filter" />
                        </th>
                        <th>
                            <input type="text" name="f_mac_address" id="f_mac_address" value="" filter="1" sql="playerDevice.f_mac_address" orderable="1" nonHtml="" class="filter" />
                        </th>
                        <th>
                            <input type="text" name="f_resolution" id="f_resolution" value="" filter="1" sql="playerDevice.f_resolution" orderable="1" nonHtml="" class="filter" />
                        </th>
                        <th>
                            <input type="text" name="f_start_stamp" id="f_start_stamp" value="" filter="1" orderable="1" sql="f_start_stamp" nonHtml="" class="filter" readonly="readonly" onclick='displayDatePicker("f_start_stamp", false, "ymd", "-");' />
                        </th>
                        <th>
                            <input type="text" name="f_end_stamp" id="f_end_stamp" value="" filter="1" orderable="1" sql="f_end_stamp" nonHtml="" class="filter" readonly="readonly" onclick='displayDatePicker("f_end_stamp", false, "ymd", "-");' />
                        </th>
                        <th>&nbsp;</th>
                        <th>
                            <select name="f_regular_close" id="f_regular_close" filter="1" orderable="1" sql="f_regular_close" nonHtml="" class="filter">
                                <option value="">-</option>
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>

                            <button name="butFilter" id="butFilter" type="button">Apply Filter</button>

                            <button name="butReset" id="butReset" type="button">Reset Filter</button>
                        </th>

                    </tr>
                </thead>


                <tr class="odd ">
                    <td>57</td>
                    <td>188.107.146.92</td>
                    <td>Germany</td>
                    <td>f796c08c-438d-4913-9c63-b3872782edc8</td>
                    <td>Windows</td>
                    <td>Windows</td>
                    <td>10</td>
                    <td></td>
                    <td>0</td>
                    <td>D8:CB:8A:EC:46:92</td>
                    <td>1920x1080,1920x1080</td>
                    <td>2018/07/28 08:54:45</td>
                    <td>2018/07/28 08:57:29</td>
                    <td>2m 44s</td>
                    <td>Yes</td>
                    <td>0</td>
                    <td>0</td>
                    <td></td>
                    <td></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="even ">
                    <td>58</td>
                    <td>188.107.146.92</td>
                    <td>Germany</td>
                    <td>f796c08c-438d-4913-9c63-b3872782edc8</td>
                    <td>Windows</td>
                    <td>Windows</td>
                    <td>10</td>
                    <td></td>
                    <td>0</td>
                    <td>D8:CB:8A:EC:46:92</td>
                    <td>1920x1080,1920x1080</td>
                    <td>2018/07/28 09:14:20</td>
                    <td>2018/07/28 10:08:34</td>
                    <td>54m 14s</td>
                    <td>Yes</td>
                    <td>0</td>
                    <td>0</td>
                    <td></td>
                    <td></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="odd ">
                    <td>59</td>
                    <td>188.107.146.92</td>
                    <td>Germany</td>
                    <td>f796c08c-438d-4913-9c63-b3872782edc8</td>
                    <td>Windows</td>
                    <td>Windows</td>
                    <td>10</td>
                    <td></td>
                    <td>0</td>
                    <td>D8:CB:8A:EC:46:92</td>
                    <td>1920x1080,1920x1080</td>
                    <td>2018/07/28 10:08:56</td>
                    <td>2018/07/28 10:12:17</td>
                    <td>3m 21s</td>
                    <td>Yes</td>
                    <td>0</td>
                    <td>0</td>
                    <td></td>
                    <td></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="even ">
                    <td>61</td>
                    <td>188.107.146.92</td>
                    <td>Germany</td>
                    <td>f796c08c-438d-4913-9c63-b3872782edc8</td>
                    <td>Windows</td>
                    <td>Windows</td>
                    <td>10</td>
                    <td></td>
                    <td>0</td>
                    <td>D8:CB:8A:EC:46:92</td>
                    <td>1920x1080,1920x1080</td>
                    <td>2018/07/28 12:15:51</td>
                    <td>2018/07/28 12:16:14</td>
                    <td>23s</td>
                    <td>Yes</td>
                    <td>0</td>
                    <td>0</td>
                    <td></td>
                    <td></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="odd ">
                    <td>64</td>
                    <td>188.107.146.92</td>
                    <td>Germany</td>
                    <td>f796c08c-438d-4913-9c63-b3872782edc8</td>
                    <td>Windows</td>
                    <td>Windows</td>
                    <td>10</td>
                    <td></td>
                    <td>0</td>
                    <td>D8:CB:8A:EC:46:92</td>
                    <td>1920x1080,1920x1080</td>
                    <td>2018/07/28 16:57:33</td>
                    <td>2018/07/28 17:01:10</td>
                    <td>3m 37s</td>
                    <td>Yes</td>
                    <td>0</td>
                    <td>0</td>
                    <td></td>
                    <td></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="even ">
                    <td>68</td>
                    <td>188.107.146.92</td>
                    <td>Germany</td>
                    <td>f796c08c-438d-4913-9c63-b3872782edc8</td>
                    <td>Windows</td>
                    <td>Windows</td>
                    <td>10</td>
                    <td></td>
                    <td>0</td>
                    <td>D8:CB:8A:EC:46:92</td>
                    <td>1920x1080,1920x1080</td>
                    <td>2018/07/30 05:59:39</td>
                    <td>2018/07/30 06:02:51</td>
                    <td>3m 12s</td>
                    <td>Yes</td>
                    <td>0</td>
                    <td>0</td>
                    <td></td>
                    <td></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="odd ">
                    <td>70</td>
                    <td>188.107.146.92</td>
                    <td>Germany</td>
                    <td>f796c08c-438d-4913-9c63-b3872782edc8</td>
                    <td>Windows</td>
                    <td>Windows</td>
                    <td>10</td>
                    <td></td>
                    <td>0</td>
                    <td>D8:CB:8A:EC:46:92</td>
                    <td>1920x1080,1920x1080</td>
                    <td>2018/07/30 09:20:45</td>
                    <td>2018/07/30 09:21:31</td>
                    <td>46s</td>
                    <td>Yes</td>
                    <td>0</td>
                    <td>0</td>
                    <td></td>
                    <td></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="even ">
                    <td>73</td>
                    <td>188.107.146.92</td>
                    <td>Germany</td>
                    <td>f796c08c-438d-4913-9c63-b3872782edc8</td>
                    <td>Windows</td>
                    <td>Windows</td>
                    <td>10</td>
                    <td></td>
                    <td>0</td>
                    <td>D8:CB:8A:EC:46:92</td>
                    <td>1920x1080,1920x1080</td>
                    <td>2018/07/30 12:39:49</td>
                    <td>2018/07/30 13:21:53</td>
                    <td>42m 4s</td>
                    <td>Yes</td>
                    <td>0</td>
                    <td>0</td>
                    <td></td>
                    <td></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="odd ">
                    <td>74</td>
                    <td>188.107.146.92</td>
                    <td>Germany</td>
                    <td>f796c08c-438d-4913-9c63-b3872782edc8</td>
                    <td>Windows</td>
                    <td>Windows</td>
                    <td>10</td>
                    <td></td>
                    <td>0</td>
                    <td>D8:CB:8A:EC:46:92</td>
                    <td>1920x1080,1920x1080</td>
                    <td>2018/07/30 14:05:55</td>
                    <td>2018/07/30 14:20:54</td>
                    <td>14m 59s</td>
                    <td>Yes</td>
                    <td>0</td>
                    <td>0</td>
                    <td></td>
                    <td></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="even ">
                    <td>77</td>
                    <td>188.107.146.92</td>
                    <td>Germany</td>
                    <td>f796c08c-438d-4913-9c63-b3872782edc8</td>
                    <td>Windows</td>
                    <td>Windows</td>
                    <td>10</td>
                    <td></td>
                    <td>0</td>
                    <td>D8:CB:8A:EC:46:92</td>
                    <td>1920x1080,1920x1080</td>
                    <td>2018/07/31 12:43:04</td>
                    <td>2018/07/31 12:52:30</td>
                    <td>9m 26s</td>
                    <td>Yes</td>
                    <td>0</td>
                    <td>0</td>
                    <td></td>
                    <td></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="odd ">
                    <td>78</td>
                    <td>188.107.146.92</td>
                    <td>Germany</td>
                    <td>f796c08c-438d-4913-9c63-b3872782edc8</td>
                    <td>Windows</td>
                    <td>Windows</td>
                    <td>10</td>
                    <td></td>
                    <td>0</td>
                    <td>D8:CB:8A:EC:46:92</td>
                    <td>1920x1080,1920x1080</td>
                    <td>2018/07/31 18:07:32</td>
                    <td>2018/07/31 18:07:46</td>
                    <td>14s</td>
                    <td>Yes</td>
                    <td>0</td>
                    <td>0</td>
                    <td></td>
                    <td></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="even ">
                    <td>80</td>
                    <td>188.107.146.92</td>
                    <td>Germany</td>
                    <td>f796c08c-438d-4913-9c63-b3872782edc8</td>
                    <td>Windows</td>
                    <td>Windows</td>
                    <td>10</td>
                    <td></td>
                    <td>0</td>
                    <td>D8:CB:8A:EC:46:92</td>
                    <td>1920x1080,1920x1080</td>
                    <td>2018/08/01 08:50:04</td>
                    <td>2018/08/01 08:50:24</td>
                    <td>20s</td>
                    <td>Yes</td>
                    <td>0</td>
                    <td>0</td>
                    <td></td>
                    <td></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="odd ">
                    <td>81</td>
                    <td>188.107.146.92</td>
                    <td>Germany</td>
                    <td>f796c08c-438d-4913-9c63-b3872782edc8</td>
                    <td>Windows</td>
                    <td>Windows</td>
                    <td>10</td>
                    <td></td>
                    <td>0</td>
                    <td>D8:CB:8A:EC:46:92</td>
                    <td>1920x1080,1920x1080</td>
                    <td>2018/08/01 08:52:55</td>
                    <td>2018/08/01 08:54:49</td>
                    <td>1m 54s</td>
                    <td>Yes</td>
                    <td>0</td>
                    <td>0</td>
                    <td></td>
                    <td></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="even ">
                    <td>85</td>
                    <td>188.107.146.92</td>
                    <td>Germany</td>
                    <td>f796c08c-438d-4913-9c63-b3872782edc8</td>
                    <td>Windows</td>
                    <td>Windows</td>
                    <td>10</td>
                    <td></td>
                    <td>0</td>
                    <td>D8:CB:8A:EC:46:92</td>
                    <td>1920x1080,1920x1080</td>
                    <td>2018/08/01 16:03:17</td>
                    <td>2018/08/01 16:15:21</td>
                    <td>12m 4s</td>
                    <td>Yes</td>
                    <td>0</td>
                    <td>0</td>
                    <td></td>
                    <td></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="odd ">
                    <td>88</td>
                    <td>188.107.146.92</td>
                    <td>Germany</td>
                    <td>f796c08c-438d-4913-9c63-b3872782edc8</td>
                    <td>Windows</td>
                    <td>Windows</td>
                    <td>10</td>
                    <td></td>
                    <td>0</td>
                    <td>D8:CB:8A:EC:46:92</td>
                    <td>1920x1080,1920x1080</td>
                    <td>2018/08/02 07:31:41</td>
                    <td>2018/08/02 07:32:29</td>
                    <td>48s</td>
                    <td>Yes</td>
                    <td>0</td>
                    <td>0</td>
                    <td></td>
                    <td></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="even ">
                    <td>89</td>
                    <td>188.107.146.92</td>
                    <td>Germany</td>
                    <td>f796c08c-438d-4913-9c63-b3872782edc8</td>
                    <td>Windows</td>
                    <td>Windows</td>
                    <td>10</td>
                    <td></td>
                    <td>0</td>
                    <td>D8:CB:8A:EC:46:92</td>
                    <td>1920x1080,1920x1080</td>
                    <td>2018/08/02 08:10:10</td>
                    <td>2018/08/02 08:10:28</td>
                    <td>18s</td>
                    <td>Yes</td>
                    <td>0</td>
                    <td>0</td>
                    <td></td>
                    <td></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="odd ">
                    <td>90</td>
                    <td>188.107.146.92</td>
                    <td>Germany</td>
                    <td>f796c08c-438d-4913-9c63-b3872782edc8</td>
                    <td>Windows</td>
                    <td>Windows</td>
                    <td>10</td>
                    <td></td>
                    <td>0</td>
                    <td>D8:CB:8A:EC:46:92</td>
                    <td>1920x1080,1920x1080</td>
                    <td>2018/08/02 08:46:28</td>
                    <td>2018/08/02 09:09:08</td>
                    <td>22m 40s</td>
                    <td>Yes</td>
                    <td>0</td>
                    <td>0</td>
                    <td></td>
                    <td></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="even ">
                    <td>92</td>
                    <td>188.107.146.92</td>
                    <td>Germany</td>
                    <td>f796c08c-438d-4913-9c63-b3872782edc8</td>
                    <td>Windows</td>
                    <td>Windows</td>
                    <td>10</td>
                    <td></td>
                    <td>0</td>
                    <td>D8:CB:8A:EC:46:92</td>
                    <td>1920x1080,1920x1080</td>
                    <td>2018/08/02 15:52:08</td>
                    <td>2018/08/02 16:13:54</td>
                    <td>21m 46s</td>
                    <td>Yes</td>
                    <td>0</td>
                    <td>0</td>
                    <td></td>
                    <td></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="odd ">
                    <td>93</td>
                    <td>188.107.146.92</td>
                    <td>Germany</td>
                    <td>f796c08c-438d-4913-9c63-b3872782edc8</td>
                    <td>Windows</td>
                    <td>Windows</td>
                    <td>10</td>
                    <td></td>
                    <td>0</td>
                    <td>D8:CB:8A:EC:46:92</td>
                    <td>1920x1080,1920x1080</td>
                    <td>2018/08/02 16:14:02</td>
                    <td>2018/08/02 16:15:06</td>
                    <td>1m 4s</td>
                    <td>Yes</td>
                    <td>0</td>
                    <td>0</td>
                    <td></td>
                    <td></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="even ">
                    <td>95</td>
                    <td>188.107.146.92</td>
                    <td>Germany</td>
                    <td>f796c08c-438d-4913-9c63-b3872782edc8</td>
                    <td>Windows</td>
                    <td>Windows</td>
                    <td>10</td>
                    <td></td>
                    <td>0</td>
                    <td>D8:CB:8A:EC:46:92</td>
                    <td>1920x1080,1920x1080</td>
                    <td>2018/08/02 19:18:25</td>
                    <td>2018/08/02 19:47:37</td>
                    <td>29m 12s</td>
                    <td>Yes</td>
                    <td>0</td>
                    <td>0</td>
                    <td></td>
                    <td></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="odd ">
                    <td>100</td>
                    <td>2.203.88.161</td>
                    <td>Germany</td>
                    <td>7dc9b83e-f949-4638-8d01-d26a6ed71813</td>
                    <td>Windows</td>
                    <td>Windows</td>
                    <td>10</td>
                    <td></td>
                    <td>0</td>
                    <td>10:F0:05:7F:99:C9</td>
                    <td>1920x1080</td>
                    <td>2018/08/06 06:26:06</td>
                    <td>2018/08/06 06:26:28</td>
                    <td>22s</td>
                    <td>Yes</td>
                    <td>0</td>
                    <td>0</td>
                    <td></td>
                    <td></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="even ">
                    <td>101</td>
                    <td>188.107.146.92</td>
                    <td>Germany</td>
                    <td>f796c08c-438d-4913-9c63-b3872782edc8</td>
                    <td>Windows</td>
                    <td>Windows</td>
                    <td>10</td>
                    <td></td>
                    <td>0</td>
                    <td>D8:CB:8A:EC:46:92</td>
                    <td>1920x1080,1920x1080</td>
                    <td>2018/08/06 15:56:36</td>
                    <td>2018/08/06 15:57:14</td>
                    <td>38s</td>
                    <td>Yes</td>
                    <td>0</td>
                    <td>0</td>
                    <td></td>
                    <td></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="odd ">
                    <td>102</td>
                    <td>188.107.146.92</td>
                    <td>Germany</td>
                    <td>f796c08c-438d-4913-9c63-b3872782edc8</td>
                    <td>Windows</td>
                    <td>Windows</td>
                    <td>10</td>
                    <td></td>
                    <td>0</td>
                    <td>D8:CB:8A:EC:46:92</td>
                    <td>1920x1080,1920x1080</td>
                    <td>2018/08/06 16:42:09</td>
                    <td>2018/08/06 17:00:08</td>
                    <td>17m 59s</td>
                    <td>Yes</td>
                    <td>0</td>
                    <td>0</td>
                    <td></td>
                    <td></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="even ">
                    <td>103</td>
                    <td>188.107.146.92</td>
                    <td>Germany</td>
                    <td>f796c08c-438d-4913-9c63-b3872782edc8</td>
                    <td>Windows</td>
                    <td>Windows</td>
                    <td>10</td>
                    <td></td>
                    <td>0</td>
                    <td>D8:CB:8A:EC:46:92</td>
                    <td>1920x1080,1920x1080</td>
                    <td>2018/08/06 17:16:39</td>
                    <td>2018/08/06 17:16:56</td>
                    <td>17s</td>
                    <td>Yes</td>
                    <td>0</td>
                    <td>0</td>
                    <td></td>
                    <td></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="odd ">
                    <td>110</td>
                    <td>188.107.146.92</td>
                    <td>Germany</td>
                    <td>f796c08c-438d-4913-9c63-b3872782edc8</td>
                    <td>Windows</td>
                    <td>Windows</td>
                    <td>10</td>
                    <td></td>
                    <td>0</td>
                    <td>D8:CB:8A:EC:46:92</td>
                    <td>1920x1080,1920x1080</td>
                    <td>2018/08/07 07:19:03</td>
                    <td>2018/08/07 08:14:34</td>
                    <td>55m 31s</td>
                    <td>Yes</td>
                    <td>0</td>
                    <td>0</td>
                    <td></td>
                    <td></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="even ">
                    <td>122</td>
                    <td>188.107.146.92</td>
                    <td>Germany</td>
                    <td>f796c08c-438d-4913-9c63-b3872782edc8</td>
                    <td>Windows</td>
                    <td>Windows</td>
                    <td>10</td>
                    <td></td>
                    <td>0</td>
                    <td>D8:CB:8A:EC:46:92</td>
                    <td>1920x1080,1920x1080</td>
                    <td>2018/08/07 15:25:02</td>
                    <td>2018/08/07 15:41:36</td>
                    <td>16m 34s</td>
                    <td>Yes</td>
                    <td>0</td>
                    <td>0</td>
                    <td></td>
                    <td></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="odd ">
                    <td>125</td>
                    <td>188.107.147.250</td>
                    <td>Germany</td>
                    <td>f796c08c-438d-4913-9c63-b3872782edc8</td>
                    <td>Windows</td>
                    <td>Windows</td>
                    <td>10</td>
                    <td></td>
                    <td>0</td>
                    <td>D8:CB:8A:EC:46:92</td>
                    <td>1920x1080,1920x1080</td>
                    <td>2018/08/08 06:21:17</td>
                    <td>2018/08/08 06:37:43</td>
                    <td>16m 26s</td>
                    <td>Yes</td>
                    <td>0</td>
                    <td>0</td>
                    <td></td>
                    <td></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="even ">
                    <td>126</td>
                    <td>188.107.147.250</td>
                    <td>Germany</td>
                    <td>f796c08c-438d-4913-9c63-b3872782edc8</td>
                    <td>Windows</td>
                    <td>Windows</td>
                    <td>10</td>
                    <td></td>
                    <td>0</td>
                    <td>D8:CB:8A:EC:46:92</td>
                    <td>1920x1080,1920x1080</td>
                    <td>2018/08/08 07:02:36</td>
                    <td>2018/08/08 07:04:00</td>
                    <td>1m 24s</td>
                    <td>Yes</td>
                    <td>0</td>
                    <td>0</td>
                    <td></td>
                    <td></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="odd ">
                    <td>129</td>
                    <td>188.107.147.250</td>
                    <td>Germany</td>
                    <td>f796c08c-438d-4913-9c63-b3872782edc8</td>
                    <td>Windows</td>
                    <td>Windows</td>
                    <td>10</td>
                    <td></td>
                    <td>0</td>
                    <td>D8:CB:8A:EC:46:92</td>
                    <td>1920x1080,1920x1080</td>
                    <td>2018/08/08 14:01:49</td>
                    <td>2018/08/08 14:01:56</td>
                    <td>7s</td>
                    <td>Yes</td>
                    <td>0</td>
                    <td>0</td>
                    <td></td>
                    <td></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="even ">
                    <td>130</td>
                    <td>188.107.147.250</td>
                    <td>Germany</td>
                    <td>f796c08c-438d-4913-9c63-b3872782edc8</td>
                    <td>Windows</td>
                    <td>Windows</td>
                    <td>10</td>
                    <td></td>
                    <td>0</td>
                    <td>D8:CB:8A:EC:46:92</td>
                    <td>1920x1080,1920x1080</td>
                    <td>2018/08/08 17:05:35</td>
                    <td>2018/08/08 17:06:07</td>
                    <td>32s</td>
                    <td>Yes</td>
                    <td>0</td>
                    <td>0</td>
                    <td></td>
                    <td></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="odd ">
                    <td>131</td>
                    <td>188.107.147.250</td>
                    <td>Germany</td>
                    <td>f796c08c-438d-4913-9c63-b3872782edc8</td>
                    <td>Windows</td>
                    <td>Windows</td>
                    <td>10</td>
                    <td></td>
                    <td>0</td>
                    <td>D8:CB:8A:EC:46:92</td>
                    <td>1920x1080,1920x1080</td>
                    <td>2018/08/08 17:15:27</td>
                    <td>2018/08/08 17:17:46</td>
                    <td>2m 19s</td>
                    <td>Yes</td>
                    <td>0</td>
                    <td>0</td>
                    <td></td>
                    <td></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="even ">
                    <td>135</td>
                    <td>188.107.147.250</td>
                    <td>Germany</td>
                    <td>f796c08c-438d-4913-9c63-b3872782edc8</td>
                    <td>Windows</td>
                    <td>Windows</td>
                    <td>10</td>
                    <td></td>
                    <td>0</td>
                    <td>D8:CB:8A:EC:46:92</td>
                    <td>1920x1080,1920x1080</td>
                    <td>2018/08/09 13:53:41</td>
                    <td>2018/08/09 14:59:07</td>
                    <td>1h 5m 26s</td>
                    <td>Yes</td>
                    <td>0</td>
                    <td>0</td>
                    <td></td>
                    <td></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="odd ">
                    <td>140</td>
                    <td>92.218.160.53</td>
                    <td>Germany</td>
                    <td>f796c08c-438d-4913-9c63-b3872782edc8</td>
                    <td>Windows</td>
                    <td>Windows</td>
                    <td>10</td>
                    <td></td>
                    <td>0</td>
                    <td>D8:CB:8A:EC:46:92</td>
                    <td>1920x1080,1920x1080</td>
                    <td>2018/08/14 16:12:09</td>
                    <td>2018/08/14 16:12:36</td>
                    <td>27s</td>
                    <td>Yes</td>
                    <td>0</td>
                    <td>0</td>
                    <td></td>
                    <td></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="even ">
                    <td>141</td>
                    <td>92.218.167.8</td>
                    <td>Germany</td>
                    <td>f796c08c-438d-4913-9c63-b3872782edc8</td>
                    <td>Windows</td>
                    <td>Windows</td>
                    <td>10</td>
                    <td></td>
                    <td>0</td>
                    <td>D8:CB:8A:EC:46:92</td>
                    <td>1920x1080,1920x1080</td>
                    <td>2018/08/15 08:45:10</td>
                    <td>2018/08/15 08:45:26</td>
                    <td>16s</td>
                    <td>Yes</td>
                    <td>0</td>
                    <td>0</td>
                    <td></td>
                    <td></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="odd ">
                    <td>142</td>
                    <td>92.218.167.8</td>
                    <td>Germany</td>
                    <td>f796c08c-438d-4913-9c63-b3872782edc8</td>
                    <td>Windows</td>
                    <td>Windows</td>
                    <td>10</td>
                    <td></td>
                    <td>0</td>
                    <td>D8:CB:8A:EC:46:92</td>
                    <td>1920x1080,1920x1080</td>
                    <td>2018/08/15 14:01:40</td>
                    <td>2018/08/15 14:01:53</td>
                    <td>13s</td>
                    <td>Yes</td>
                    <td>0</td>
                    <td>0</td>
                    <td></td>
                    <td></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="even ">
                    <td>144</td>
                    <td>92.216.189.201</td>
                    <td>Germany</td>
                    <td>f796c08c-438d-4913-9c63-b3872782edc8</td>
                    <td>Windows</td>
                    <td>Windows</td>
                    <td>10</td>
                    <td></td>
                    <td>0</td>
                    <td>D8:CB:8A:EC:46:92</td>
                    <td>1920x1080,1920x1080</td>
                    <td>2018/08/17 08:19:19</td>
                    <td>2018/08/17 08:19:37</td>
                    <td>18s</td>
                    <td>Yes</td>
                    <td>0</td>
                    <td>0</td>
                    <td></td>
                    <td></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="odd ">
                    <td>153</td>
                    <td>2.203.53.115</td>
                    <td>Germany</td>
                    <td>f796c08c-438d-4913-9c63-b3872782edc8</td>
                    <td>Windows</td>
                    <td>Windows</td>
                    <td>10</td>
                    <td></td>
                    <td>0</td>
                    <td>D8:CB:8A:EC:46:92</td>
                    <td>1920x1080,1920x1080</td>
                    <td>2018/08/20 12:16:41</td>
                    <td>2018/08/20 12:17:11</td>
                    <td>30s</td>
                    <td>Yes</td>
                    <td>0</td>
                    <td>0</td>
                    <td></td>
                    <td></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="even ">
                    <td>154</td>
                    <td>2.203.53.115</td>
                    <td>Germany</td>
                    <td>f796c08c-438d-4913-9c63-b3872782edc8</td>
                    <td>Windows</td>
                    <td>Windows</td>
                    <td>10</td>
                    <td></td>
                    <td>0</td>
                    <td>D8:CB:8A:EC:46:92</td>
                    <td>1920x1080,1920x1080</td>
                    <td>2018/08/20 19:56:57</td>
                    <td>2018/08/20 21:27:07</td>
                    <td>1h 30m 10s</td>
                    <td>No</td>
                    <td>0</td>
                    <td>0</td>
                    <td></td>
                    <td></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="odd ">
                    <td>164</td>
                    <td>2.203.53.115</td>
                    <td>Germany</td>
                    <td>f796c08c-438d-4913-9c63-b3872782edc8</td>
                    <td>Windows</td>
                    <td>Windows</td>
                    <td>10</td>
                    <td></td>
                    <td>0</td>
                    <td>D8:CB:8A:EC:46:92</td>
                    <td>1920x1080,1920x1080</td>
                    <td>2018/08/27 19:18:11</td>
                    <td>2018/08/27 19:23:51</td>
                    <td>5m 40s</td>
                    <td>Yes</td>
                    <td>0</td>
                    <td>0</td>
                    <td></td>
                    <td></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="even ">
                    <td>175</td>
                    <td>2.203.53.115</td>
                    <td>Germany</td>
                    <td>f796c08c-438d-4913-9c63-b3872782edc8</td>
                    <td>Windows</td>
                    <td>Windows</td>
                    <td>10</td>
                    <td></td>
                    <td>0</td>
                    <td>D8:CB:8A:EC:46:92</td>
                    <td>1920x1080,1920x1080</td>
                    <td>2018/08/29 08:50:25</td>
                    <td>2018/08/29 08:56:43</td>
                    <td>6m 18s</td>
                    <td>No</td>
                    <td>0</td>
                    <td>0</td>
                    <td></td>
                    <td></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="odd ">
                    <td>178</td>
                    <td>2.203.53.115</td>
                    <td>Germany</td>
                    <td>f796c08c-438d-4913-9c63-b3872782edc8</td>
                    <td>Windows</td>
                    <td>Windows</td>
                    <td>10</td>
                    <td></td>
                    <td>0</td>
                    <td>D8:CB:8A:EC:46:92</td>
                    <td>1920x1080,1920x1080</td>
                    <td>2018/08/29 16:22:57</td>
                    <td>2018/08/29 16:47:24</td>
                    <td>24m 27s</td>
                    <td>Yes</td>
                    <td>0</td>
                    <td>0</td>
                    <td></td>
                    <td></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="even ">
                    <td>179</td>
                    <td>2.203.53.115</td>
                    <td>Germany</td>
                    <td>f796c08c-438d-4913-9c63-b3872782edc8</td>
                    <td>Windows</td>
                    <td>Windows</td>
                    <td>10</td>
                    <td></td>
                    <td>0</td>
                    <td>D8:CB:8A:EC:46:92</td>
                    <td>1920x1080,1920x1080</td>
                    <td>2018/08/29 16:47:52</td>
                    <td>2018/08/29 17:10:44</td>
                    <td>22m 52s</td>
                    <td>Yes</td>
                    <td>0</td>
                    <td>0</td>
                    <td></td>
                    <td></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="odd ">
                    <td>182</td>
                    <td>2.203.53.115</td>
                    <td>Germany</td>
                    <td>f796c08c-438d-4913-9c63-b3872782edc8</td>
                    <td>Windows</td>
                    <td>Windows</td>
                    <td>10</td>
                    <td></td>
                    <td>0</td>
                    <td>D8:CB:8A:EC:46:92</td>
                    <td>1920x1080,1920x1080</td>
                    <td>2018/08/29 20:42:20</td>
                    <td>2018/08/29 20:43:32</td>
                    <td>1m 12s</td>
                    <td>Yes</td>
                    <td>0</td>
                    <td>0</td>
                    <td></td>
                    <td></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="even ">
                    <td>183</td>
                    <td>2.203.53.115</td>
                    <td>Germany</td>
                    <td>f796c08c-438d-4913-9c63-b3872782edc8</td>
                    <td>Windows</td>
                    <td>Windows</td>
                    <td>10</td>
                    <td></td>
                    <td>0</td>
                    <td>D8:CB:8A:EC:46:92</td>
                    <td>1920x1080,1920x1080</td>
                    <td>2018/08/30 02:09:43</td>
                    <td>2018/08/30 02:39:15</td>
                    <td>29m 32s</td>
                    <td>Yes</td>
                    <td>0</td>
                    <td>0</td>
                    <td></td>
                    <td></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="odd ">
                    <td>185</td>
                    <td>2.203.53.115</td>
                    <td>Germany</td>
                    <td>f796c08c-438d-4913-9c63-b3872782edc8</td>
                    <td>Windows</td>
                    <td>Windows</td>
                    <td>10</td>
                    <td></td>
                    <td>0</td>
                    <td>D8:CB:8A:EC:46:92</td>
                    <td>1920x1080,1920x1080</td>
                    <td>2018/08/30 02:43:44</td>
                    <td>2018/08/30 02:43:46</td>
                    <td>2s</td>
                    <td>Yes</td>
                    <td>0</td>
                    <td>0</td>
                    <td></td>
                    <td></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="even ">
                    <td>189</td>
                    <td>2.203.53.115</td>
                    <td>Germany</td>
                    <td>f796c08c-438d-4913-9c63-b3872782edc8</td>
                    <td>Windows</td>
                    <td>Windows</td>
                    <td>10</td>
                    <td></td>
                    <td>0</td>
                    <td>D8:CB:8A:EC:46:92</td>
                    <td>1920x1080,1920x1080</td>
                    <td>2018/08/31 05:44:40</td>
                    <td>2018/08/31 05:45:14</td>
                    <td>34s</td>
                    <td>Yes</td>
                    <td>0</td>
                    <td>0</td>
                    <td></td>
                    <td></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="odd ">
                    <td>216</td>
                    <td>94.218.225.28</td>
                    <td>Germany</td>
                    <td>f796c08c-438d-4913-9c63-b3872782edc8</td>
                    <td>Windows</td>
                    <td>Windows</td>
                    <td>10</td>
                    <td></td>
                    <td>0</td>
                    <td>D8:CB:8A:EC:46:92</td>
                    <td>1920x1080,1920x1080</td>
                    <td>2018/09/03 14:09:39</td>
                    <td>2018/09/03 14:15:50</td>
                    <td>6m 11s</td>
                    <td>Yes</td>
                    <td>0</td>
                    <td>0</td>
                    <td></td>
                    <td></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="even ">
                    <td>217</td>
                    <td>94.218.225.28</td>
                    <td>Germany</td>
                    <td>f796c08c-438d-4913-9c63-b3872782edc8</td>
                    <td>Windows</td>
                    <td>Windows</td>
                    <td>10</td>
                    <td></td>
                    <td>0</td>
                    <td>D8:CB:8A:EC:46:92</td>
                    <td>1920x1080,1920x1080</td>
                    <td>2018/09/04 06:51:36</td>
                    <td>2018/09/04 07:33:36</td>
                    <td>42m</td>
                    <td>Yes</td>
                    <td>0</td>
                    <td>0</td>
                    <td></td>
                    <td></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="odd ">
                    <td>218</td>
                    <td>94.218.225.28</td>
                    <td>Germany</td>
                    <td>f796c08c-438d-4913-9c63-b3872782edc8</td>
                    <td>Windows</td>
                    <td>Windows</td>
                    <td>10</td>
                    <td></td>
                    <td>0</td>
                    <td>D8:CB:8A:EC:46:92</td>
                    <td>1920x1080,1920x1080</td>
                    <td>2018/09/04 07:33:47</td>
                    <td>2018/09/04 09:27:18</td>
                    <td>1h 53m 31s</td>
                    <td>Yes</td>
                    <td>0</td>
                    <td>0</td>
                    <td></td>
                    <td></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="even ">
                    <td>219</td>
                    <td>94.218.225.28</td>
                    <td>Germany</td>
                    <td>f796c08c-438d-4913-9c63-b3872782edc8</td>
                    <td>Windows</td>
                    <td>Windows</td>
                    <td>10</td>
                    <td></td>
                    <td>0</td>
                    <td>D8:CB:8A:EC:46:92</td>
                    <td>1920x1080,1920x1080</td>
                    <td>2018/09/04 13:59:22</td>
                    <td>2018/09/04 13:59:58</td>
                    <td>36s</td>
                    <td>Yes</td>
                    <td>0</td>
                    <td>0</td>
                    <td></td>
                    <td></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->


            </table>
            <div class='rowCount'>
                <div class="row">
                    <div class="col-md-3">
                        Rows: 74&ensp;|&ensp;
                        <div class="limit-controls" style="display: inline-block;">
                            <div id="perpage">Per page:</div>
                            <select class="limit-links">
                                <option data-href="/webadmin/affiliate/listing/player-sessions/id/132725/limit/10">10</option>
                                <option data-href="/webadmin/affiliate/listing/player-sessions/id/132725/limit/25">25</option>
                                <option selected data-href="/webadmin/affiliate/listing/player-sessions/id/132725/limit/50">50</option>
                                <option data-href="/webadmin/affiliate/listing/player-sessions/id/132725/limit/100">100</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-7" style="display: flex; justify-content: center">
                        <div class="paginator-controls" id="blockPaginatorControls">
                            <!-- First page link -->
                            <div class="paginator-link">
                                <span class="disabled">First</span>
                            </div>
                            <!-- Previous page link -->
                            <div class="paginator-link">
                                <span class="disabled">&lt; Previous</span>
                            </div>
                            <!-- Numbered page links -->
                            <div class="paginator-link paginator-link_border">
                                <span class="current">1</span>
                            </div>
                            <div class="paginator-link paginator-link_border">
                                <a href="/webadmin/affiliate/listing/player-sessions/id/132725/page/2">2</a>
                            </div>

                            <!-- Next page link -->
                            <div class="paginator-link">
                                <a href="/webadmin/affiliate/listing/player-sessions/id/132725/page/2">Next &gt;</a>
                            </div>
                            <!-- Last page link -->
                            <div class="paginator-link">
                                <a href="/webadmin/affiliate/listing/player-sessions/id/132725/page/2">Last</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="pull-right">
                            <a href="/webadmin/affiliate/listing/player-sessions/id/132725/_output/xlsx"><img src="img/icons/xls.svg" alt="Excel"></a>
                            <a href="/webadmin/affiliate/listing/player-sessions/id/132725/_output/csv"><img src="img/icons/csv.svg" alt="CSV"></a>
                            <a href="/webadmin/affiliate/listing/player-sessions/id/132725/_output/ods"><img src="img/icons/odt.svg" alt="OpenDocument" /></a>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>

