﻿
@{
    ViewBag.Title = "PlayerGameInfo";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Game List Generalized</h3>

<div class="box">
    <div class="box-body">
        <div>

            <div id="gamesInfoFilterChart" style="width: 100%; height: 400px"></div>
            <div style="margin-top:10px">

                <div class="form-inline" style="overflow: auto;">
                    <div class="box box-primary">
                        <form id="gamesInfoFilter" enctype="application/x-www-form-urlencoded" action="/webadmin/listing/player-games-info-chart-data" method="post" dojoType="dijit.form.Form">
                            <div class="box-body">
                                <dt id="player_id-label">&#160;</dt>
                                <dd id="player_id-element">
                                    <input type="hidden" name="player_id" value="" id="player_id" />
                                </dd>
                                <div class="form-group" id="form-element-year_from">
                                    <label for="year_from" class="required">From</label>

                                    <select name="year_from" id="year_from" class="form-control select2">
                                        <option value="2018">2018</option>
                                        <option value="2019">2019</option>
                                        <option value="2020" selected="selected">2020</option>
                                    </select>
                                </div>
                                <div class="form-group" id="form-element-year_to">
                                    <label for="year_to" class="required">To</label>

                                    <select name="year_to" id="year_to" class="form-control select2">
                                        <option value="2018">2018</option>
                                        <option value="2019">2019</option>
                                        <option value="2020" selected="selected">2020</option>
                                    </select>
                                </div>
                                <div class="form-group" id="form-element-money_type">
                                    <label for="money_type" class="optional">Money Type</label>

                                    <select name="money_type" id="money_type" class="form-control select2">
                                        <option value="">All</option>
                                        <option value="82">Real Money</option>
                                        <option value="80">Play Money</option>
                                        <option value="65">cash game points</option>
                                    </select>
                                </div>
                                <div class="form-group" id="form-element-game_type">
                                    <label for="game_type" class="optional">Game Type</label>

                                    <select name="game_type" id="game_type" class="form-control select2">
                                        <option value="">All</option>
                                        <option value="72">Hold'em</option>
                                        <option value="54">Short Deck Hold'em</option>
                                        <option value="79">Omaha</option>
                                        <option value="80">Omaha H/L</option>
                                        <option value="83">Stud</option>
                                        <option value="84">Stud H/L</option>
                                        <option value="82">Razz</option>
                                        <option value="68">2-7 Triple Draw</option>
                                        <option value="66">Badugi</option>
                                        <option value="69">Badeucy</option>
                                        <option value="67">Badacey</option>
                                        <option value="78">Chinese</option>
                                        <option value="70">Openface Chinese</option>
                                        <option value="73">Chinese Pineapple</option>
                                        <option value="76">Chinese 2-7 Pineapple</option>
                                        <option value="85">Chinese Turbo</option>
                                        <option value="77">Chinese OF Pineapple Progressive</option>
                                        <option value="88">Omaha 5 card</option>
                                        <option value="71">Omaha 5 card H/L</option>
                                        <option value="89">Courchevel</option>
                                        <option value="74">Pineapple Poker</option>
                                        <option value="35">Mixed Games</option>
                                        <option value="75">Turkish</option>
                                        <option value="81">5 Card Draw 7-A</option>
                                        <option value="65">Points Rummy</option>
                                        <option value="86">Deals Rummy</option>
                                        <option value="87">Pool Rummy</option>
                                        <option value="90">Triton ShortDeck</option>
                                        <option value="91">Omaha 6 card</option>
                                        <option value="93">Omaha 6 card H/L</option>
                                    </select>
                                </div>
                                <div class="form-group" id="form-element-mode">
                                    <label for="mode" class="optional">Mode</label>

                                    <select name="mode" id="mode" class="form-control select2">
                                        <option value="">All</option>
                                        <option value="tables">Tables</option>
                                        <option value="tournament">Tournaments</option>
                                    </select>
                                </div>

                                <input type="submit" name="apply" id="apply" value="Apply" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>

                <script>
        $(document).ready(function () {
            var filter = document.getElementById("gamesInfoFilter");
            var pKwArgs = {}, options = {};

            loadChartData("gamesInfoFilterChart", filter, undefined, pKwArgs, options);

            $(filter).on("submit", function (e) {
                   e.preventDefault()
                    if (charts["gamesInfoFilterChart"]) {
                        charts["gamesInfoFilterChart"].destroy();
                        delete charts["gamesInfoFilterChart"];
                    }
                    loadChartData("gamesInfoFilterChart", filter, undefined, pKwArgs, options);
                }
            );
        });

                </script>

            </div>
            <br>
        </div>






        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                </div>
                <div class="box">
                    <div class="box-body">
                        <div id="dynamicContent">





                            <div class="custom-dropdown-menu" id="columnsControls">
                            </div>

                            <table id='Poker_TableNavigator_PlayersGameInfo' class="listing-table" data-dt-not-fixed-cols="true">
                                <thead class="listHead">
                                    <tr>
                                        <th data-meta-key='f_player_id'
                                            data-meta-visibility="true">
                                            <nobr>
                                                <a class="headerLink orderLink" orderBy="f_player_id"
                                                   orderType="">
                                                    Player
                                                </a>
                                            </nobr>
                                        </th>
                                        <th data-meta-key='f_date'
                                            data-meta-visibility="true">
                                            <nobr>
                                                <a class="headerLink orderLink" orderBy="f_date"
                                                   orderType="">
                                                    Date
                                                </a>
                                            </nobr>
                                        </th>
                                        <th data-meta-key='f_game_type'
                                            data-meta-visibility="true">
                                            <nobr>
                                                <a class="headerLink orderLink" orderBy="f_game_type"
                                                   orderType="">
                                                    Game Type
                                                </a>
                                            </nobr>
                                        </th>
                                        <th data-meta-key='f_money_type'
                                            data-meta-visibility="true">
                                            <nobr>
                                                <a class="headerLink orderLink" orderBy="f_money_type"
                                                   orderType="">
                                                    Money Type
                                                </a>
                                            </nobr>
                                        </th>
                                        <th data-meta-key='f_is_tournaments'
                                            data-meta-visibility="true">
                                            <nobr>
                                                <a class="headerLink orderLink" orderBy="f_is_tournaments"
                                                   orderType="">
                                                    Tournaments
                                                </a>
                                            </nobr>
                                        </th>
                                        <th data-meta-key='f_count'
                                            data-meta-visibility="true">
                                            <nobr>
                                                Number Of Games/Tournaments
                                            </nobr>
                                        </th>
                                        <th data-meta-key='f_wins_count'
                                            data-meta-visibility="true">
                                            <nobr>
                                                Number OF Wins
                                            </nobr>
                                        </th>
                                    </tr>
                                    <tr class="listFilter">
                                        <th>
                                            <input type="text" name="f_player_id" id="f_player_id" value="" filter="1" sql_nick="(select f_nick from t_player where f_id=f_player_id)" orderable="1" sql="f_player_id" nonHtml="" class="filter" />
                                        </th>
                                        <th>
                                            From: <input type="text" name="f_date[from]" id="f_date[from]" value="" filter="1" orderable="1" sql="f_date" nonHtml="" class="filter" readonly="readonly" onclick='displayDatePicker("f_date[from]", false, "ymd", "-");' /> To: <input type="text" name="f_date[to]" id="f_date[to]" value="" filter="1" orderable="1" sql="f_date" nonHtml="" class="filter" readonly="readonly" onclick='displayDatePicker("f_date[to]", false, "ymd", "-");' />
                                        </th>
                                        <th>
                                            <select name="f_game_type" id="f_game_type" filter="1" orderable="1" sql="f_game_type" nonHtml="" class="filter">
                                                <option value="">-</option>
                                                <option value="72">Hold'em</option>
                                                <option value="54">Short Deck Hold'em</option>
                                                <option value="79">Omaha</option>
                                                <option value="80">Omaha H/L</option>
                                                <option value="83">Stud</option>
                                                <option value="84">Stud H/L</option>
                                                <option value="82">Razz</option>
                                                <option value="68">2-7 Triple Draw</option>
                                                <option value="66">Badugi</option>
                                                <option value="69">Badeucy</option>
                                                <option value="67">Badacey</option>
                                                <option value="78">Chinese</option>
                                                <option value="70">Openface Chinese</option>
                                                <option value="73">Chinese Pineapple</option>
                                                <option value="76">Chinese 2-7 Pineapple</option>
                                                <option value="85">Chinese Turbo</option>
                                                <option value="77">Chinese OF Pineapple Progressive</option>
                                                <option value="88">Omaha 5 card</option>
                                                <option value="71">Omaha 5 card H/L</option>
                                                <option value="89">Courchevel</option>
                                                <option value="74">Pineapple Poker</option>
                                                <option value="35">Mixed Games</option>
                                                <option value="75">Turkish</option>
                                                <option value="81">5 Card Draw 7-A</option>
                                                <option value="65">Points Rummy</option>
                                                <option value="86">Deals Rummy</option>
                                                <option value="87">Pool Rummy</option>
                                                <option value="90">Triton ShortDeck</option>
                                                <option value="91">Omaha 6 card</option>
                                                <option value="93">Omaha 6 card H/L</option>
                                            </select>
                                        </th>
                                        <th>
                                            <select name="f_money_type" id="f_money_type" filter="1" orderable="1" sql="f_money_type" nonHtml="" class="filter">
                                                <option value="">-</option>
                                                <option value="82">Real Money</option>
                                                <option value="80">Play Money</option>
                                                <option value="65">cash game points</option>
                                            </select>
                                        </th>
                                        <th>
                                            <select name="f_is_tournaments" id="f_is_tournaments" filter="1" orderable="1" sql="f_is_tournaments" nonHtml="" class="filter">
                                                <option value="">-</option>
                                                <option value="1">Yes</option>
                                                <option value="0">No</option>
                                            </select>
                                        </th>
                                        <th>&nbsp;</th>
                                        <th>&nbsp;</th>

                                    </tr>
                                </thead>


                                <tr class="odd ">
                                    <td><a href="/webadmin/user/info/id/197341">8G0L62CC</a></td>
                                    <td>2018/08/08 00:00:00</td>
                                    <td>Hold'em</td>
                                    <td>Play Money</td>
                                    <td>No</td>
                                    <td>8</td>
                                    <td>1</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="even ">
                                    <td><a href="/webadmin/user/info/id/197341">8G0L62CC</a></td>
                                    <td>2018/08/08 00:00:00</td>
                                    <td>Hold'em</td>
                                    <td>Play Money</td>
                                    <td>Yes</td>
                                    <td>1</td>
                                    <td>1</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="odd ">
                                    <td><a href="/webadmin/user/info/id/197361">6ER66FSS</a></td>
                                    <td>2018/08/08 00:00:00</td>
                                    <td>Hold'em</td>
                                    <td>Play Money</td>
                                    <td>No</td>
                                    <td>8</td>
                                    <td>2</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="even ">
                                    <td><a href="/webadmin/user/info/id/197361">6ER66FSS</a></td>
                                    <td>2018/08/08 00:00:00</td>
                                    <td>Hold'em</td>
                                    <td>Play Money</td>
                                    <td>Yes</td>
                                    <td>1</td>
                                    <td>0</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="odd ">
                                    <td><a href="/webadmin/user/info/id/197341">8G0L62CC</a></td>
                                    <td>2018/08/08 00:00:00</td>
                                    <td>Omaha</td>
                                    <td>Play Money</td>
                                    <td>No</td>
                                    <td>12</td>
                                    <td>0</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="even ">
                                    <td><a href="/webadmin/user/info/id/197361">6ER66FSS</a></td>
                                    <td>2018/08/08 00:00:00</td>
                                    <td>Omaha</td>
                                    <td>Play Money</td>
                                    <td>No</td>
                                    <td>12</td>
                                    <td>6</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="odd ">
                                    <td><a href="/webadmin/user/info/id/19709">01YJJ6VV</a></td>
                                    <td>2018/08/31 00:00:00</td>
                                    <td>Hold'em</td>
                                    <td>Play Money</td>
                                    <td>No</td>
                                    <td>2</td>
                                    <td>0</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="even ">
                                    <td><a href="/webadmin/user/info/id/19709">01YJJ6VV</a></td>
                                    <td>2018/08/31 00:00:00</td>
                                    <td>Hold'em</td>
                                    <td>Play Money</td>
                                    <td>Yes</td>
                                    <td>1</td>
                                    <td>1</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="odd ">
                                    <td><a href="/webadmin/user/info/id/334551">ZEZSIPVV</a></td>
                                    <td>2018/08/31 00:00:00</td>
                                    <td>Hold'em</td>
                                    <td>Play Money</td>
                                    <td>No</td>
                                    <td>2</td>
                                    <td>1</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="even ">
                                    <td><a href="/webadmin/user/info/id/334551">ZEZSIPVV</a></td>
                                    <td>2018/08/31 00:00:00</td>
                                    <td>Hold'em</td>
                                    <td>Play Money</td>
                                    <td>Yes</td>
                                    <td>1</td>
                                    <td>0</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="odd ">
                                    <td><a href="/webadmin/user/info/id/19709">01YJJ6VV</a></td>
                                    <td>2018/08/31 00:00:00</td>
                                    <td>Omaha</td>
                                    <td>Play Money</td>
                                    <td>No</td>
                                    <td>2</td>
                                    <td>0</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="even ">
                                    <td><a href="/webadmin/user/info/id/334551">ZEZSIPVV</a></td>
                                    <td>2018/08/31 00:00:00</td>
                                    <td>Omaha</td>
                                    <td>Play Money</td>
                                    <td>No</td>
                                    <td>2</td>
                                    <td>1</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="odd ">
                                    <td><a href="/webadmin/user/info/id/479901">TL1LY5ZZ</a></td>
                                    <td>2018/09/26 00:00:00</td>
                                    <td>Hold'em</td>
                                    <td>Play Money</td>
                                    <td>No</td>
                                    <td>5</td>
                                    <td>1</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="even ">
                                    <td><a href="/webadmin/user/info/id/479978">GZL3E566</a></td>
                                    <td>2018/09/26 00:00:00</td>
                                    <td>Hold'em</td>
                                    <td>Play Money</td>
                                    <td>No</td>
                                    <td>5</td>
                                    <td>2</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="odd ">
                                    <td><a href="/webadmin/user/info/id/306991">R2RCTW00</a></td>
                                    <td>2018/10/05 00:00:00</td>
                                    <td>Hold'em</td>
                                    <td>Play Money</td>
                                    <td>Yes</td>
                                    <td>1</td>
                                    <td>0</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="even ">
                                    <td><a href="/webadmin/user/info/id/336056">VV0CC888</a></td>
                                    <td>2018/10/05 00:00:00</td>
                                    <td>Hold'em</td>
                                    <td>Play Money</td>
                                    <td>Yes</td>
                                    <td>1</td>
                                    <td>0</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="odd ">
                                    <td><a href="/webadmin/user/info/id/451912">W1POULPP</a></td>
                                    <td>2018/10/05 00:00:00</td>
                                    <td>Hold'em</td>
                                    <td>Play Money</td>
                                    <td>Yes</td>
                                    <td>1</td>
                                    <td>1</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="even ">
                                    <td><a href="/webadmin/user/info/id/479901">TL1LY5ZZ</a></td>
                                    <td>2018/10/05 00:00:00</td>
                                    <td>Hold'em</td>
                                    <td>Play Money</td>
                                    <td>No</td>
                                    <td>10</td>
                                    <td>4</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="odd ">
                                    <td><a href="/webadmin/user/info/id/479978">GZL3E566</a></td>
                                    <td>2018/10/05 00:00:00</td>
                                    <td>Hold'em</td>
                                    <td>Play Money</td>
                                    <td>No</td>
                                    <td>10</td>
                                    <td>3</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="even ">
                                    <td><a href="/webadmin/user/info/id/479901">TL1LY5ZZ</a></td>
                                    <td>2018/10/09 00:00:00</td>
                                    <td>Hold'em</td>
                                    <td>Play Money</td>
                                    <td>No</td>
                                    <td>8</td>
                                    <td>2</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="odd ">
                                    <td><a href="/webadmin/user/info/id/479901">TL1LY5ZZ</a></td>
                                    <td>2018/10/09 00:00:00</td>
                                    <td>Hold'em</td>
                                    <td>Play Money</td>
                                    <td>Yes</td>
                                    <td>2</td>
                                    <td>1</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="even ">
                                    <td><a href="/webadmin/user/info/id/479978">GZL3E566</a></td>
                                    <td>2018/10/09 00:00:00</td>
                                    <td>Hold'em</td>
                                    <td>Play Money</td>
                                    <td>No</td>
                                    <td>8</td>
                                    <td>4</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="odd ">
                                    <td><a href="/webadmin/user/info/id/479978">GZL3E566</a></td>
                                    <td>2018/10/09 00:00:00</td>
                                    <td>Hold'em</td>
                                    <td>Play Money</td>
                                    <td>Yes</td>
                                    <td>2</td>
                                    <td>1</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="even ">
                                    <td><a href="/webadmin/user/info/id/864555">1IOE6NVV</a></td>
                                    <td>2018/11/28 00:00:00</td>
                                    <td>Badugi</td>
                                    <td>Play Money</td>
                                    <td>No</td>
                                    <td>3</td>
                                    <td>0</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="odd ">
                                    <td><a href="/webadmin/user/info/id/864667">6HBGY8KK</a></td>
                                    <td>2018/11/28 00:00:00</td>
                                    <td>Badugi</td>
                                    <td>Play Money</td>
                                    <td>No</td>
                                    <td>3</td>
                                    <td>1</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="even ">
                                    <td><a href="/webadmin/user/info/id/864555">1IOE6NVV</a></td>
                                    <td>2018/11/28 00:00:00</td>
                                    <td>Omaha</td>
                                    <td>Play Money</td>
                                    <td>No</td>
                                    <td>3</td>
                                    <td>1</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="odd ">
                                    <td><a href="/webadmin/user/info/id/864667">6HBGY8KK</a></td>
                                    <td>2018/11/28 00:00:00</td>
                                    <td>Omaha</td>
                                    <td>Play Money</td>
                                    <td>No</td>
                                    <td>3</td>
                                    <td>0</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="even ">
                                    <td><a href="/webadmin/user/info/id/864555">1IOE6NVV</a></td>
                                    <td>2018/11/28 00:00:00</td>
                                    <td>Stud</td>
                                    <td>Play Money</td>
                                    <td>No</td>
                                    <td>2</td>
                                    <td>1</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="odd ">
                                    <td><a href="/webadmin/user/info/id/864667">6HBGY8KK</a></td>
                                    <td>2018/11/28 00:00:00</td>
                                    <td>Stud</td>
                                    <td>Play Money</td>
                                    <td>No</td>
                                    <td>2</td>
                                    <td>0</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="even ">
                                    <td><a href="/webadmin/user/info/id/1246969">MUWEYU22</a></td>
                                    <td>2019/02/16 00:00:00</td>
                                    <td>Hold'em</td>
                                    <td>Play Money</td>
                                    <td>No</td>
                                    <td>16</td>
                                    <td>5</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="odd ">
                                    <td><a href="/webadmin/user/info/id/1330716">SZ4T54RR</a></td>
                                    <td>2019/02/16 00:00:00</td>
                                    <td>Hold'em</td>
                                    <td>Play Money</td>
                                    <td>No</td>
                                    <td>16</td>
                                    <td>10</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="even ">
                                    <td><a href="/webadmin/user/info/id/1246969">MUWEYU22</a></td>
                                    <td>2019/07/04 00:00:00</td>
                                    <td>Hold'em</td>
                                    <td>Play Money</td>
                                    <td>No</td>
                                    <td>7</td>
                                    <td>1</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="odd ">
                                    <td><a href="/webadmin/user/info/id/1252700">6K750F11</a></td>
                                    <td>2019/07/04 00:00:00</td>
                                    <td>Hold'em</td>
                                    <td>Play Money</td>
                                    <td>No</td>
                                    <td>32</td>
                                    <td>3</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="even ">
                                    <td><a href="/webadmin/user/info/id/1253019">5290N0YY</a></td>
                                    <td>2019/07/04 00:00:00</td>
                                    <td>Hold'em</td>
                                    <td>Play Money</td>
                                    <td>No</td>
                                    <td>30</td>
                                    <td>9</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="odd ">
                                    <td><a href="/webadmin/user/info/id/2117738">WW2O08SS</a></td>
                                    <td>2019/07/04 00:00:00</td>
                                    <td>Hold'em</td>
                                    <td>Play Money</td>
                                    <td>No</td>
                                    <td>39</td>
                                    <td>14</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="even ">
                                    <td><a href="/webadmin/user/info/id/2119848">V96OIJ11</a></td>
                                    <td>2019/07/04 00:00:00</td>
                                    <td>Hold'em</td>
                                    <td>Play Money</td>
                                    <td>No</td>
                                    <td>21</td>
                                    <td>4</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="odd ">
                                    <td><a href="/webadmin/user/info/id/2125371">3ESDFWTT</a></td>
                                    <td>2019/07/04 00:00:00</td>
                                    <td>Hold'em</td>
                                    <td>Play Money</td>
                                    <td>No</td>
                                    <td>23</td>
                                    <td>10</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="even ">
                                    <td><a href="/webadmin/user/info/id/1246969">MUWEYU22</a></td>
                                    <td>2019/07/06 00:00:00</td>
                                    <td>Hold'em</td>
                                    <td>Play Money</td>
                                    <td>No</td>
                                    <td>12</td>
                                    <td>5</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="odd ">
                                    <td><a href="/webadmin/user/info/id/1252700">6K750F11</a></td>
                                    <td>2019/07/06 00:00:00</td>
                                    <td>Hold'em</td>
                                    <td>Play Money</td>
                                    <td>No</td>
                                    <td>32</td>
                                    <td>12</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="even ">
                                    <td><a href="/webadmin/user/info/id/2126882">UXDK6R</a></td>
                                    <td>2019/07/06 00:00:00</td>
                                    <td>Hold'em</td>
                                    <td>Play Money</td>
                                    <td>No</td>
                                    <td>14</td>
                                    <td>4</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="odd ">
                                    <td><a href="/webadmin/user/info/id/2140391">MIS0LUSS</a></td>
                                    <td>2019/07/06 00:00:00</td>
                                    <td>Hold'em</td>
                                    <td>Play Money</td>
                                    <td>No</td>
                                    <td>34</td>
                                    <td>13</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="even ">
                                    <td><a href="/webadmin/user/info/id/2236455">885TME88</a></td>
                                    <td>2019/07/23 00:00:00</td>
                                    <td>Hold'em</td>
                                    <td>Play Money</td>
                                    <td>No</td>
                                    <td>2</td>
                                    <td>1</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="odd ">
                                    <td><a href="/webadmin/user/info/id/2263078">ESA2IPFF</a></td>
                                    <td>2019/07/23 00:00:00</td>
                                    <td>Hold'em</td>
                                    <td>Play Money</td>
                                    <td>No</td>
                                    <td>9</td>
                                    <td>4</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="even ">
                                    <td><a href="/webadmin/user/info/id/2267917">KZDQWOGG</a></td>
                                    <td>2019/07/23 00:00:00</td>
                                    <td>Hold'em</td>
                                    <td>Play Money</td>
                                    <td>No</td>
                                    <td>7</td>
                                    <td>2</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="odd ">
                                    <td><a href="/webadmin/user/info/id/19633">GOPMOG88</a></td>
                                    <td>2018/07/09 00:00:00</td>
                                    <td>Badugi</td>
                                    <td>Real Money</td>
                                    <td>No</td>
                                    <td>3</td>
                                    <td>1</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="even ">
                                    <td><a href="/webadmin/user/info/id/19709">01YJJ6VV</a></td>
                                    <td>2018/07/09 00:00:00</td>
                                    <td>Badugi</td>
                                    <td>Real Money</td>
                                    <td>No</td>
                                    <td>3</td>
                                    <td>0</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="odd ">
                                    <td><a href="/webadmin/user/info/id/19633">GOPMOG88</a></td>
                                    <td>2018/07/09 00:00:00</td>
                                    <td>Hold'em</td>
                                    <td>Real Money</td>
                                    <td>No</td>
                                    <td>3</td>
                                    <td>0</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="even ">
                                    <td><a href="/webadmin/user/info/id/19633">GOPMOG88</a></td>
                                    <td>2018/07/09 00:00:00</td>
                                    <td>Hold'em</td>
                                    <td>Real Money</td>
                                    <td>Yes</td>
                                    <td>1</td>
                                    <td>1</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="odd ">
                                    <td><a href="/webadmin/user/info/id/19709">01YJJ6VV</a></td>
                                    <td>2018/07/09 00:00:00</td>
                                    <td>Hold'em</td>
                                    <td>Real Money</td>
                                    <td>No</td>
                                    <td>3</td>
                                    <td>1</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="even ">
                                    <td><a href="/webadmin/user/info/id/19709">01YJJ6VV</a></td>
                                    <td>2018/07/09 00:00:00</td>
                                    <td>Hold'em</td>
                                    <td>Real Money</td>
                                    <td>Yes</td>
                                    <td>1</td>
                                    <td>0</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->


                            </table>
                            <div class='rowCount'>
                                <div class="row">
                                    <div class="col-md-3">
                                        Rows: 11613&ensp;|&ensp;
                                        <div class="limit-controls" style="display: inline-block;">
                                            <div id="perpage">Per page:</div>
                                            <select class="limit-links">
                                                <option data-href="/webadmin/listing/player-games-info/limit/10">10</option>
                                                <option data-href="/webadmin/listing/player-games-info/limit/25">25</option>
                                                <option selected data-href="/webadmin/listing/player-games-info/limit/50">50</option>
                                                <option data-href="/webadmin/listing/player-games-info/limit/100">100</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-7" style="display: flex; justify-content: center">
                                        <div class="paginator-controls" id="blockPaginatorControls">
                                            <!-- First page link -->
                                            <div class="paginator-link">
                                                <span class="disabled">First</span>
                                            </div>
                                            <!-- Previous page link -->
                                            <div class="paginator-link">
                                                <span class="disabled">&lt; Previous</span>
                                            </div>
                                            <!-- Numbered page links -->
                                            <div class="paginator-link paginator-link_border">
                                                <span class="current">1</span>
                                            </div>
                                            <div class="paginator-link paginator-link_border">
                                                <a href="/webadmin/listing/player-games-info/page/2">2</a>
                                            </div>
                                            <div class="paginator-link paginator-link_border">
                                                <a href="/webadmin/listing/player-games-info/page/3">3</a>
                                            </div>
                                            <div class="paginator-link paginator-link_border">
                                                <a href="/webadmin/listing/player-games-info/page/4">4</a>
                                            </div>
                                            <div class="paginator-link paginator-link_border">
                                                <a href="/webadmin/listing/player-games-info/page/5">5</a>
                                            </div>
                                            <div class="paginator-link paginator-link_border">
                                                <a href="/webadmin/listing/player-games-info/page/6">6</a>
                                            </div>
                                            <div class="paginator-link paginator-link_border">
                                                <a href="/webadmin/listing/player-games-info/page/7">7</a>
                                            </div>
                                            <div class="paginator-link paginator-link_border">
                                                <a href="/webadmin/listing/player-games-info/page/8">8</a>
                                            </div>
                                            <div class="paginator-link paginator-link_border">
                                                <a href="/webadmin/listing/player-games-info/page/9">9</a>
                                            </div>
                                            <div class="paginator-link paginator-link_border">
                                                <a href="/webadmin/listing/player-games-info/page/10">10</a>
                                            </div>

                                            <!-- Next page link -->
                                            <div class="paginator-link">
                                                <a href="/webadmin/listing/player-games-info/page/2">Next &gt;</a>
                                            </div>
                                            <!-- Last page link -->
                                            <div class="paginator-link">
                                                <a href="/webadmin/listing/player-games-info/page/233">Last</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="pull-right">
                                            <a href="/webadmin/listing/player-games-info/_output/xlsx"><img src="img/icons/xls.svg" alt="Excel"></a>
                                            <a href="/webadmin/listing/player-games-info/_output/csv"><img src="img/icons/csv.svg" alt="CSV"></a>
                                            <a href="/webadmin/listing/player-games-info/_output/ods"><img src="img/icons/odt.svg" alt="OpenDocument" /></a>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

