﻿
@{
    ViewBag.Title = "Add Player Level";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Player Level Creation</h3>
<div class="box box-primary">
    <div enctype="application/x-www-form-urlencoded"  dojoType="dijit.form.Form">
        <!-- Modal -->
        <div class="modal fade preview-popup" id="modal-l18n-30" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" id="modal-l18n-30-close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Localization</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Text</th>
                                    <th>Skin</th>
                                    <th>Language</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>                </tbody>
                        </table>

                        <button type="button" id="modal-l18n-30-add" class="btn btn-primary">+</button>
                        <button type="button" id="modal-l18n-30-close2" class="btn btn-primary pull-right">Close</button>
                    </div>
                </div>
            </div>
        </div><div class="box-body">
            <div class="form-group" id="form-element-name">
                <label for="name" class="required">Name</label>

                <div class="input-group">
                    <input type="text" name="name" id="name" value="" data-l18n="30" class="form-control" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary" data-l18n-ctl="30">Localize</button>
                    </span>
                </div>
            </div>
            <div class="form-group" id="form-element-minCashValue">
                <label for="minCashValue" class="required">Min. cash game points Amount</label>

                <input type="text" name="minCashValue" id="minCashValue" value="" class="form-control" />
                <span class="help-block">Amount of cash game points from which the level is available</span>
            </div>
            <div class="form-group" id="form-element-isAllowUseChat">
                <div class="checkbox">
                    <label>
                        <input type="hidden" name="isAllowUseChat" value="0" /><input type="checkbox" name="isAllowUseChat" id="isAllowUseChat" value="1" />Allow Use Chat
                    </label>
                </div>
            </div>
            <div class="form-group" id="form-element-isAllowChangeChatColor">
                <div class="checkbox">
                    <label>
                        <input type="hidden" name="isAllowChangeChatColor" value="0" /><input type="checkbox" name="isAllowChangeChatColor" id="isAllowChangeChatColor" value="1" />Allow Change Chat Color
                    </label>
                </div>
            </div>
            <div class="form-group" id="form-element-isAllowChangeAvatar">
                <div class="checkbox">
                    <label>
                        <input type="hidden" name="isAllowChangeAvatar" value="0" /><input type="checkbox" name="isAllowChangeAvatar" id="isAllowChangeAvatar" value="1" />Allow Change Avatar
                    </label>
                </div>
            </div>

            <input type="submit" name="submit" id="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
</div>

