﻿
@{
    ViewBag.Title = "PlayerClubList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Clubs List</h3>

<h4>For player <a href="/webadmin/user/info/id/197341">8G0L62CC</a></h4>
<a href="/webadmin/listing/player-clubs">
    Show all
</a>

<br />
<div id="dynamicContent">

    <table id='playerClubs' class="listing-table">
        <thead class="listHead">
            <tr>
                <th data-meta-skip-manage='true'>#</th>
                <th data-meta-key='f_id' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_id" orderType="">
                            Club ID
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_name' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_name" orderType="">
                            Name
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_owner_player_id' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_owner_player_id" orderType="">
                            Club Owner
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_club_level' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_club_level" orderType="">
                            Club Level
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_union' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_union" orderType="">
                            Union
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_role' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_role" orderType="">
                            Role
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_balance' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_balance" orderType="">
                            Balance
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_agent_credit' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_agent_credit" orderType="">
                            Agent Credit
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_total_games' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_total_games" orderType="">
                            Total Games
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_result' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_result" orderType="">
                            Result
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_last_login' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_last_login" orderType="ASC">
                            Last Login
                            <img src="img/arrow_down.png" />
                        </a>
                    </nobr>
                </th>
            </tr>
        </thead>
        <thead class="listFilter">
            <tr>
                <th>&nbsp;</th>
                <th>
                    <input type="text" name="f_id" id="f_id" value="" filter="1" orderable="1" sql="`c`.`f_id`" nonHtml="" style="width:50px;" class="filter" />
                </th>
                <th>
                    <input type="text" name="f_name" id="f_name" value="" filter="1" orderable="1" sql="`c`.`f_name`" nonHtml="" class="filter" />
                </th>
                <th>
                    <input type="text" name="f_owner_player_id" id="f_owner_player_id" value="" filter="1" orderable="1" sql="`c`.`f_owner_player_id`" nonHtml="" class="filter" />
                </th>
                <th>
                    <input type="text" name="f_club_level" id="f_club_level" value="" filter="1" orderable="1" sql="COALESCE(`cf`.`f_level_value`, 1)" nonHtml="" class="filter" />
                </th>
                <th>
                    <input type="text" name="f_union" id="f_union" value="" filter="1" orderable="1" sql="IF(`u`.`f_id`, CONCAT_WS('@@', `u`.`f_name`, `u`.`f_id`), NULL)" nonHtml="" class="filter" />
                </th>
                <th>
                    <select name="f_role" id="f_role" filter="1" orderable="1" sql="`cp`.`f_role`" nonHtml="" class="filter">
                        <option value="">-</option>
                        <option value="A">Agent</option>
                        <option value="M">Manager</option>
                        <option value="O">Owner</option>
                        <option value="P">Participant </option>
                        <option value="S">Sub Agent</option>
                        <option value="U">Union Participant</option>
                        <option value="X">Unknown</option>
                    </select>
                </th>
                <th>
                    <input type="text" name="f_balance" id="f_balance" value="" filter="1" orderable="1" sql="0" valueExt="A" nonHtml="" class="filter" />
                </th>
                <th>&nbsp;</th>
                <th>
                    <input type="text" name="f_total_games" id="f_total_games" value="" filter="1" sql="COALESCE(`cp`.`f_sum_games`, 0)" orderable="1" nonHtml="" class="filter" />
                </th>
                <th>
                    <input type="text" name="f_result" id="f_result" value="" filter="1" orderable="1" sql="`cp`.`f_sum_from_table`
                            - `cp`.`f_sum_to_table`
                            - `cp`.`f_sum_commission`
                            - `cp`.`f_sum_rake`
                            - `cp`.`f_sum_insurance`" valueExt="A" nonHtml="" class="filter" />
                </th>
                <th>
                    <input type="text" name="f_last_login" id="f_last_login" value="" filter="1" orderable="1" sql="`cp`.`f_last_login`" nonHtml="" class="filter" readonly="readonly" onclick='displayDatePicker("f_last_login", false, "ymd", "-");' />
                </th>

            </tr>
        </thead>

    </table>
</div>

