﻿
@{
    ViewBag.Title = "Player Device List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Player Device List</h3>
<div id="dynamicContent">

    <div class="custom-dropdown-menu" id="columnsControls">
    </div>

    <table id='Poker\TableNavigator\Player\DeviceList' class="listing-table" data-dt-not-fixed-cols="true">
        <thead class="listHead">
            <tr>
                <th data-meta-key='f_player_id'
                    data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_player_id"
                           orderType="">
                            Player
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_unique_id'
                    data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_unique_id"
                           orderType="">
                            Unique ID
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_platform'
                    data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_platform"
                           orderType="">
                            Platform
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_os'
                    data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_os"
                           orderType="">
                            OS
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_os_version'
                    data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_os_version"
                           orderType="">
                            OS Version
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_browser'
                    data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_browser"
                           orderType="">
                            Browser
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_browser_version'
                    data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_browser_version"
                           orderType="">
                            Browser Version
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_mac_address'
                    data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_mac_address"
                           orderType="">
                            Mac Address
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_resolution'
                    data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_resolution"
                           orderType="">
                            Resolution
                        </a>
                    </nobr>
                </th>
                <th data-meta-skip-manage='true'>
                    <div>
                        <button type="button" class="btn btn-primary custom-dropdown" id="columnControlsBtn">
                            <img src="img/icons/menu.svg" alt="+">
                        </button>
                    </div>
                </th>
            </tr>
            <tr class="listFilter">
                <th>
                    <input type="text" name="f_player_id" id="f_player_id" value="" filter="1" zeroUser="Guest" orderable="1" sql="f_player_id" nonHtml="" class="filter" />
                </th>
                <th>
                    <input type="text" name="f_unique_id" id="f_unique_id" value="" filter="1" orderable="1" sql="f_unique_id" nonHtml="" class="filter" />
                </th>
                <th>
                    <select name="f_platform" id="f_platform" filter="1" orderable="1" sql="f_platform" nonHtml="" class="filter">
                        <option value="">-</option>
                        <option value="W">Windows</option>
                        <option value="A">Android</option>
                        <option value="I">iOS</option>
                        <option value="M">mac</option>
                        <option value="H">html5</option>
                    </select>
                </th>
                <th>
                    <select name="f_os" id="f_os" filter="1" orderable="1" sql="f_os" nonHtml="" class="filter">
                        <option value="">-</option>
                        <option value="W">Windows</option>
                        <option value="A">Android</option>
                        <option value="I">iOS</option>
                        <option value="M">mac</option>
                        <option value="L">Linux</option>
                    </select>
                </th>
                <th>
                    <input type="text" name="f_os_version" id="f_os_version" value="" filter="1" style="width: 75px" orderable="1" sql="f_os_version" nonHtml="" class="filter" />
                </th>
                <th>
                    <input type="text" name="f_browser" id="f_browser" value="" filter="1" orderable="1" sql="f_browser" nonHtml="" class="filter" />
                </th>
                <th>
                    <input type="text" name="f_browser_version" id="f_browser_version" value="" filter="1" style="width: 125px" orderable="1" sql="f_browser_version" nonHtml="" class="filter" />
                </th>
                <th>
                    <input type="text" name="f_mac_address" id="f_mac_address" value="" filter="1" orderable="1" sql="f_mac_address" nonHtml="" class="filter" />
                </th>
                <th>
                    <input type="text" name="f_resolution" id="f_resolution" value="" filter="1" orderable="1" sql="f_resolution" nonHtml="" class="filter" />
                </th>
                <th>

                    <button name="butFilter" id="butFilter" type="button">Apply Filter</button>

                    <button name="butReset" id="butReset" type="button">Reset Filter</button>
                </th>

            </tr>
        </thead>


        <tr class="odd ">
            <td></td>
            <td>b1f19a56dc0d240c208d9fb1ce016f74</td>
            <td>html5</td>
            <td>Windows</td>
            <td>10.0</td>
            <td>C</td>
            <td>77.0.3865.90</td>
            <td></td>
            <td>1920x1200</td>
            <td></td>

        </tr>

        <!-- Collapsable -->
        <!-- End collapsable -->



        <tr class="even ">
            <td>-</td>
            <td>353196d0-074e-4e94-b5b6-f9a86270da2d</td>
            <td>Windows</td>
            <td>Windows</td>
            <td>10</td>
            <td></td>
            <td>0</td>
            <td>00:25:11:2D:42:D0</td>
            <td>1920x1080,1280x1024</td>
            <td></td>

        </tr>

        <!-- Collapsable -->
        <!-- End collapsable -->



        <tr class="odd ">
            <td>-</td>
            <td>acda4c05-cc6a-4d7c-9249-8d183e2f116d</td>
            <td>Windows</td>
            <td>Windows</td>
            <td>10</td>
            <td></td>
            <td>0</td>
            <td>1C:1B:0D:11:6C:EF</td>
            <td>1280x1024,1280x1024</td>
            <td></td>

        </tr>

        <!-- Collapsable -->
        <!-- End collapsable -->



        <tr class="even ">
            <td>-</td>
            <td>0F043195-291B-553D-9396-AD5ABF3EDD8E</td>
            <td>mac</td>
            <td>mac</td>
            <td>10</td>
            <td></td>
            <td>0</td>
            <td>10:DD:B1:EB:BE:EE</td>
            <td>1400x1050</td>
            <td></td>

        </tr>

        <!-- Collapsable -->
        <!-- End collapsable -->



        <tr class="odd ">
            <td>-</td>
            <td>aee19c89-930b-4e23-8644-1ea0f98d5ebc</td>
            <td>Windows</td>
            <td>Windows</td>
            <td>10</td>
            <td></td>
            <td>0</td>
            <td>E0:3F:49:49:0C:2D</td>
            <td>1920x1080,1280x1024</td>
            <td></td>

        </tr>

        <!-- Collapsable -->
        <!-- End collapsable -->



        <tr class="even ">
            <td>-</td>
            <td>A3053E13-6ABF-5F8C-B9FF-63EC891E5DD7</td>
            <td>mac</td>
            <td>mac</td>
            <td>10</td>
            <td></td>
            <td>0</td>
            <td>3C:15:C2:D2:6D:48</td>
            <td>1440x900</td>
            <td></td>

        </tr>

        <!-- Collapsable -->
        <!-- End collapsable -->



        <tr class="odd ">
            <td>-</td>
            <td>A3053E13-6ABF-5F8C-B9FF-63EC891E5DD7</td>
            <td>mac</td>
            <td>mac</td>
            <td>10</td>
            <td></td>
            <td>0</td>
            <td>28:37:37:02:F7:11</td>
            <td>1440x900</td>
            <td></td>

        </tr>

        <!-- Collapsable -->
        <!-- End collapsable -->



        <tr class="even ">
            <td>-</td>
            <td>5e46bf61-ef23-4b62-9d8d-c5629f530a83</td>
            <td>Windows</td>
            <td>Windows</td>
            <td>8</td>
            <td></td>
            <td>0</td>
            <td>84:C9:B2:37:97:54</td>
            <td>1280x1024</td>
            <td></td>

        </tr>

        <!-- Collapsable -->
        <!-- End collapsable -->



        <tr class="odd ">
            <td>-</td>
            <td>f796c08c-438d-4913-9c63-b3872782edc8</td>
            <td>Windows</td>
            <td>Windows</td>
            <td>10</td>
            <td></td>
            <td>0</td>
            <td>D8:CB:8A:EC:46:92</td>
            <td>1920x1080,1920x1080</td>
            <td></td>

        </tr>

        <!-- Collapsable -->
        <!-- End collapsable -->



        <tr class="even ">
            <td>-</td>
            <td>e6c054c2-b620-4c93-b9f5-ed7f1e0ff807</td>
            <td>Windows</td>
            <td>Windows</td>
            <td>10</td>
            <td></td>
            <td>0</td>
            <td>E0:D5:5E:27:3C:E3</td>
            <td>1920x1080,1920x1080</td>
            <td></td>

        </tr>

        <!-- Collapsable -->
        <!-- End collapsable -->



        <tr class="odd ">
            <td>-</td>
            <td>37b243f6-e05a-4deb-a552-5de4b8a0cf27</td>
            <td>Windows</td>
            <td>Windows</td>
            <td>10</td>
            <td></td>
            <td>0</td>
            <td>7A:79:19:5F:6A:E9</td>
            <td>1920x1080,1920x1080,1680x1050</td>
            <td></td>

        </tr>

        <!-- Collapsable -->
        <!-- End collapsable -->



        <tr class="even ">
            <td>-</td>
            <td>b8438321-63e3-4635-be72-734007722e73</td>
            <td>Windows</td>
            <td>Windows</td>
            <td>10</td>
            <td></td>
            <td>0</td>
            <td>70:8B:CD:57:E8:11</td>
            <td>1920x1080</td>
            <td></td>

        </tr>

        <!-- Collapsable -->
        <!-- End collapsable -->



        <tr class="odd ">
            <td>-</td>
            <td>6ad775d3-8eee-4a4f-b6ac-4326c86a552c</td>
            <td>Windows</td>
            <td>Windows</td>
            <td>10</td>
            <td></td>
            <td>0</td>
            <td>38:2C:4A:64:2D:C7</td>
            <td>1280x1024,1280x1024</td>
            <td></td>

        </tr>

        <!-- Collapsable -->
        <!-- End collapsable -->



        <tr class="even ">
            <td>-</td>
            <td>8cd3ada4-a40c-4652-bc3f-3e1de000490d</td>
            <td>Windows</td>
            <td>Windows</td>
            <td>10</td>
            <td></td>
            <td>0</td>
            <td>70:85:C2:0C:F7:B5</td>
            <td>1920x1080,1920x1080</td>
            <td></td>

        </tr>

        <!-- Collapsable -->
        <!-- End collapsable -->



        <tr class="odd ">
            <td>-</td>
            <td>A3053E13-6ABF-5F8C-B9FF-63EC891E5DD7</td>
            <td>mac</td>
            <td>mac</td>
            <td>10</td>
            <td></td>
            <td>0</td>
            <td>72:00:03:CE:40:30</td>
            <td>1440x900</td>
            <td></td>

        </tr>

        <!-- Collapsable -->
        <!-- End collapsable -->



        <tr class="even ">
            <td>-</td>
            <td>cd96cadc-ea3c-4bac-a4f3-7fcb0be60cb7</td>
            <td>Windows</td>
            <td>Windows</td>
            <td>10</td>
            <td></td>
            <td>0</td>
            <td>0A:00:27:00:00:05</td>
            <td>1280x1024,1280x1024</td>
            <td></td>

        </tr>

        <!-- Collapsable -->
        <!-- End collapsable -->



        <tr class="odd ">
            <td>-</td>
            <td>22e944c4-e44e-4612-9112-371ca6234261</td>
            <td>Windows</td>
            <td>Windows</td>
            <td>8</td>
            <td></td>
            <td>0</td>
            <td>00:25:22:8F:02:22</td>
            <td>1280x1024</td>
            <td></td>

        </tr>

        <!-- Collapsable -->
        <!-- End collapsable -->



        <tr class="even ">
            <td>-</td>
            <td>2b4a5d2c-3313-45a8-a8b6-b5a40cf53030</td>
            <td>Windows</td>
            <td>Windows</td>
            <td>10</td>
            <td></td>
            <td>0</td>
            <td>0A:00:27:00:00:07</td>
            <td>1280x1024</td>
            <td></td>

        </tr>

        <!-- Collapsable -->
        <!-- End collapsable -->



        <tr class="odd ">
            <td>-</td>
            <td>93dd5071-e987-44f3-bc84-a3f41ca0a311</td>
            <td>Windows</td>
            <td>Windows</td>
            <td>8</td>
            <td></td>
            <td>0</td>
            <td>00:21:70:4C:41:D3</td>
            <td>1280x1024</td>
            <td></td>

        </tr>

        <!-- Collapsable -->
        <!-- End collapsable -->



        <tr class="even ">
            <td>-</td>
            <td>2b4a5d2c-3313-45a8-a8b6-b5a40cf53030</td>
            <td>Windows</td>
            <td>Windows</td>
            <td>10</td>
            <td></td>
            <td>0</td>
            <td>0A:00:27:00:00:07</td>
            <td>1280x1024,1280x1024</td>
            <td></td>

        </tr>

        <!-- Collapsable -->
        <!-- End collapsable -->



        <tr class="odd ">
            <td>-</td>
            <td>e6c054c2-b620-4c93-b9f5-ed7f1e0ff807</td>
            <td>Windows</td>
            <td>Windows</td>
            <td>10</td>
            <td></td>
            <td>0</td>
            <td>E0:D5:5E:27:3C:E3</td>
            <td>1920x1080</td>
            <td></td>

        </tr>

        <!-- Collapsable -->
        <!-- End collapsable -->



        <tr class="even ">
            <td>-</td>
            <td>fc77e4b7-9c81-4bb9-8c04-1fb146761271</td>
            <td>Windows</td>
            <td>Windows</td>
            <td>10</td>
            <td></td>
            <td>0</td>
            <td>C8:21:58:8C:58:9E</td>
            <td>1920x1080,1920x1080</td>
            <td></td>

        </tr>

        <!-- Collapsable -->
        <!-- End collapsable -->



        <tr class="odd ">
            <td>-</td>
            <td>3b3fbaed-44a0-4eac-9d46-35ed624a50ce</td>
            <td>Windows</td>
            <td>Windows</td>
            <td>10</td>
            <td></td>
            <td>0</td>
            <td>74:D0:2B:7E:E6:69</td>
            <td>1280x1024,1280x1024</td>
            <td></td>

        </tr>

        <!-- Collapsable -->
        <!-- End collapsable -->



        <tr class="even ">
            <td>-</td>
            <td>88998793-5246-50E1-A019-14FD01C8BE23</td>
            <td>mac</td>
            <td>mac</td>
            <td>10</td>
            <td></td>
            <td>0</td>
            <td>72:00:08:91:8E:50</td>
            <td>1440x900</td>
            <td></td>

        </tr>

        <!-- Collapsable -->
        <!-- End collapsable -->



        <tr class="odd ">
            <td>-</td>
            <td>d2a01d76-8f56-4af8-a273-cbd89b1d1589</td>
            <td>Windows</td>
            <td>Windows</td>
            <td>8</td>
            <td></td>
            <td>0</td>
            <td>00:1A:92:04:21:29</td>
            <td>1280x1024,1280x1024</td>
            <td></td>

        </tr>

        <!-- Collapsable -->
        <!-- End collapsable -->



        <tr class="even ">
            <td>-</td>
            <td>353196d0-074e-4e94-b5b6-f9a86270da2d</td>
            <td>Windows</td>
            <td>Windows</td>
            <td>10</td>
            <td></td>
            <td>0</td>
            <td>00:25:11:2D:42:D0</td>
            <td>1920x1080</td>
            <td></td>

        </tr>

        <!-- Collapsable -->
        <!-- End collapsable -->



        <tr class="odd ">
            <td>-</td>
            <td>6ba93679-7969-433a-aa49-445a9ecbd496</td>
            <td>Windows</td>
            <td>Windows</td>
            <td>10</td>
            <td></td>
            <td>0</td>
            <td>A4:4C:C8:06:F1:DE</td>
            <td>1920x1080</td>
            <td></td>

        </tr>

        <!-- Collapsable -->
        <!-- End collapsable -->



        <tr class="even ">
            <td>-</td>
            <td>5e46bf61-ef23-4b62-9d8d-c5629f530a83</td>
            <td>Windows</td>
            <td>Windows</td>
            <td>8</td>
            <td></td>
            <td>0</td>
            <td>84:C9:B2:37:97:54</td>
            <td>1440x900</td>
            <td></td>

        </tr>

        <!-- Collapsable -->
        <!-- End collapsable -->



        <tr class="odd ">
            <td>-</td>
            <td>a8e55d83-5496-490b-abaf-90fdcaa7a3ef</td>
            <td>Windows</td>
            <td>Windows</td>
            <td>10</td>
            <td></td>
            <td>0</td>
            <td>D8:CB:8A:EC:46:92</td>
            <td>1920x1080,1920x1080</td>
            <td></td>

        </tr>

        <!-- Collapsable -->
        <!-- End collapsable -->



        <tr class="even ">
            <td>-</td>
            <td>bdc0fd01-998c-4153-ab68-a6d9b9c78b12</td>
            <td>Windows</td>
            <td>Windows</td>
            <td>8</td>
            <td></td>
            <td>0</td>
            <td>00:1D:60:0B:61:CD</td>
            <td>1280x1024,1280x1024</td>
            <td></td>

        </tr>

        <!-- Collapsable -->
        <!-- End collapsable -->



        <tr class="odd ">
            <td>-</td>
            <td>6ad775d3-8eee-4a4f-b6ac-4326c86a552c</td>
            <td>Windows</td>
            <td>Windows</td>
            <td>10</td>
            <td></td>
            <td>0</td>
            <td>38:2C:4A:64:2D:C7</td>
            <td>1920x1080,1280x1024</td>
            <td></td>

        </tr>

        <!-- Collapsable -->
        <!-- End collapsable -->



        <tr class="even ">
            <td>-</td>
            <td>b366073f-f495-44f0-b711-77b14dc5c083</td>
            <td>Windows</td>
            <td>Windows</td>
            <td>7</td>
            <td></td>
            <td>0</td>
            <td>0C:D2:92:6B:69:85</td>
            <td>1366x768</td>
            <td></td>

        </tr>

        <!-- Collapsable -->
        <!-- End collapsable -->



        <tr class="odd ">
            <td>-</td>
            <td>cae2379b-6869-4691-801d-c59c9f2aea55</td>
            <td>Windows</td>
            <td>Windows</td>
            <td>10</td>
            <td></td>
            <td>0</td>
            <td>10:F0:05:7F:99:C9</td>
            <td>1920x1080</td>
            <td></td>

        </tr>

        <!-- Collapsable -->
        <!-- End collapsable -->



        <tr class="even ">
            <td>-</td>
            <td>E37E899D-E9BB-5984-9F36-2EC2B7585836</td>
            <td>mac</td>
            <td>mac</td>
            <td>10</td>
            <td></td>
            <td>0</td>
            <td>B8:E8:56:2E:87:DA</td>
            <td>1280x800</td>
            <td></td>

        </tr>

        <!-- Collapsable -->
        <!-- End collapsable -->



        <tr class="odd ">
            <td>-</td>
            <td>479F74E0-BF20-565A-8989-6082A9B13A6D</td>
            <td>mac</td>
            <td>mac</td>
            <td>10</td>
            <td></td>
            <td>0</td>
            <td>3C:15:C2:D3:7B:E4</td>
            <td>1440x900</td>
            <td></td>

        </tr>

        <!-- Collapsable -->
        <!-- End collapsable -->



        <tr class="even ">
            <td>-</td>
            <td>a58ca47d-3549-43fd-a824-04a728cb4987</td>
            <td>Windows</td>
            <td>Windows</td>
            <td>10</td>
            <td></td>
            <td>0</td>
            <td>44:8A:5B:91:9A:1B</td>
            <td>1920x1080</td>
            <td></td>

        </tr>

        <!-- Collapsable -->
        <!-- End collapsable -->



        <tr class="odd ">
            <td>-</td>
            <td>398e66db-4758-441a-abd4-55f565e21db8</td>
            <td>Windows</td>
            <td>Windows</td>
            <td>10</td>
            <td></td>
            <td>0</td>
            <td>B4:B5:2F:92:2B:B2</td>
            <td>1366x768</td>
            <td></td>

        </tr>

        <!-- Collapsable -->
        <!-- End collapsable -->



        <tr class="even ">
            <td>-</td>
            <td>0839f526-2d86-424f-80e2-7dc9bd1e629b</td>
            <td>Windows</td>
            <td>Windows</td>
            <td>7</td>
            <td></td>
            <td>0</td>
            <td>00:FF:3D:79:13:9F</td>
            <td>1600x900</td>
            <td></td>

        </tr>

        <!-- Collapsable -->
        <!-- End collapsable -->



        <tr class="odd ">
            <td>-</td>
            <td>3f193b6e-53d9-4e26-8a27-b44f2c70a514</td>
            <td>Windows</td>
            <td>Windows</td>
            <td>7</td>
            <td></td>
            <td>0</td>
            <td>00:19:99:8B:D7:B3</td>
            <td>1024x768</td>
            <td></td>

        </tr>

        <!-- Collapsable -->
        <!-- End collapsable -->



        <tr class="even ">
            <td>-</td>
            <td>8cd3ada4-a40c-4652-bc3f-3e1de000490d</td>
            <td>Windows</td>
            <td>Windows</td>
            <td>10</td>
            <td></td>
            <td>0</td>
            <td>70:85:C2:0C:F7:B5</td>
            <td>1920x1080,1920x1080,1200x1600</td>
            <td></td>

        </tr>

        <!-- Collapsable -->
        <!-- End collapsable -->



        <tr class="odd ">
            <td>-</td>
            <td>20e42e7e-842f-4b9a-969a-c1a00c2f24df</td>
            <td>Windows</td>
            <td>Windows</td>
            <td>10</td>
            <td></td>
            <td>0</td>
            <td>F0:1F:AF:0C:0A:15</td>
            <td>1366x768</td>
            <td></td>

        </tr>

        <!-- Collapsable -->
        <!-- End collapsable -->



        <tr class="even ">
            <td>-</td>
            <td>b5b82977-3b37-4f8b-a259-74a24e10e70e</td>
            <td>Windows</td>
            <td>Windows</td>
            <td>10</td>
            <td></td>
            <td>0</td>
            <td>28:92:4A:53:04:6F</td>
            <td>1680x1050,1680x1050</td>
            <td></td>

        </tr>

        <!-- Collapsable -->
        <!-- End collapsable -->



        <tr class="odd ">
            <td>-</td>
            <td>9d744c8d-e9a0-49e6-bf40-5ea973a75d77</td>
            <td>Windows</td>
            <td>Windows</td>
            <td>7</td>
            <td></td>
            <td>0</td>
            <td>00:19:99:DC:B0:1D</td>
            <td>1680x1050</td>
            <td></td>

        </tr>

        <!-- Collapsable -->
        <!-- End collapsable -->



        <tr class="even ">
            <td>-</td>
            <td>05233b18-57c2-497f-b358-3bc3d2822b81</td>
            <td>Windows</td>
            <td>Windows</td>
            <td>7</td>
            <td></td>
            <td>0</td>
            <td>C0:25:E9:15:BF:FC</td>
            <td>1280x1024</td>
            <td></td>

        </tr>

        <!-- Collapsable -->
        <!-- End collapsable -->



        <tr class="odd ">
            <td>-</td>
            <td>b2cb07a3-ddc1-4397-85c7-f68b4250d4eb</td>
            <td>Windows</td>
            <td>Windows</td>
            <td>10</td>
            <td></td>
            <td>0</td>
            <td>6E:C9:D3:96:68:68</td>
            <td>1366x768</td>
            <td></td>

        </tr>

        <!-- Collapsable -->
        <!-- End collapsable -->



        <tr class="even ">
            <td>-</td>
            <td>3cae0ff6-2a46-471f-b161-9300a334ea62</td>
            <td>Windows</td>
            <td>Windows</td>
            <td>7</td>
            <td></td>
            <td>0</td>
            <td>00:FF:2C:E0:95:08</td>
            <td>1366x768</td>
            <td></td>

        </tr>

        <!-- Collapsable -->
        <!-- End collapsable -->



        <tr class="odd ">
            <td>-</td>
            <td>23a190a2-7e27-435f-9f86-678a8a9b854f</td>
            <td>Windows</td>
            <td>Windows</td>
            <td>10</td>
            <td></td>
            <td>0</td>
            <td>00:AC:75:97:55:19</td>
            <td>1920x1080</td>
            <td></td>

        </tr>

        <!-- Collapsable -->
        <!-- End collapsable -->



        <tr class="even ">
            <td>-</td>
            <td>7532e37b-bf7b-491e-9562-716a8b233070</td>
            <td>Windows</td>
            <td>Windows</td>
            <td>10</td>
            <td></td>
            <td>0</td>
            <td>2C:56:DC:96:45:5B</td>
            <td>1920x1080,1280x1024</td>
            <td></td>

        </tr>

        <!-- Collapsable -->
        <!-- End collapsable -->



        <tr class="odd ">
            <td>-</td>
            <td>07ab8d0c-ce34-4fb9-b6c6-f74afa1b0c1a</td>
            <td>Windows</td>
            <td>Windows</td>
            <td>10</td>
            <td></td>
            <td>0</td>
            <td>E4:E7:49:08:89:E3</td>
            <td>1366x768</td>
            <td></td>

        </tr>

        <!-- Collapsable -->
        <!-- End collapsable -->



        <tr class="even ">
            <td>-</td>
            <td>cb0131ff-3ccd-430c-bdee-f3ea0df5fecb</td>
            <td>Windows</td>
            <td>Windows</td>
            <td>7</td>
            <td></td>
            <td>0</td>
            <td>9C:4E:36:CE:E0:35</td>
            <td>1920x1080</td>
            <td></td>

        </tr>

        <!-- Collapsable -->
        <!-- End collapsable -->


    </table>
    <div class='rowCount'>
        <div class="row">
            <div class="col-md-3">
                Rows: 5492&ensp;|&ensp;
                <div class="limit-controls" style="display: inline-block;">
                    <div id="perpage">Per page:</div>
                    <select class="limit-links">
                        <option data-href="/webadmin/listing/player-device-list/limit/10">10</option>
                        <option data-href="/webadmin/listing/player-device-list/limit/25">25</option>
                        <option selected data-href="/webadmin/listing/player-device-list/limit/50">50</option>
                        <option data-href="/webadmin/listing/player-device-list/limit/100">100</option>
                    </select>
                </div>
            </div>
            <div class="col-md-7" style="display: flex; justify-content: center">
                <div class="paginator-controls" id="blockPaginatorControls">
                    <!-- First page link -->
                    <div class="paginator-link">
                        <span class="disabled">First</span>
                    </div>
                    <!-- Previous page link -->
                    <div class="paginator-link">
                        <span class="disabled">&lt; Previous</span>
                    </div>
                    <!-- Numbered page links -->
                    <div class="paginator-link paginator-link_border">
                        <span class="current">1</span>
                    </div>
                    <div class="paginator-link paginator-link_border">
                        <a href="/webadmin/listing/player-device-list/page/2">2</a>
                    </div>
                    <div class="paginator-link paginator-link_border">
                        <a href="/webadmin/listing/player-device-list/page/3">3</a>
                    </div>
                    <div class="paginator-link paginator-link_border">
                        <a href="/webadmin/listing/player-device-list/page/4">4</a>
                    </div>
                    <div class="paginator-link paginator-link_border">
                        <a href="/webadmin/listing/player-device-list/page/5">5</a>
                    </div>
                    <div class="paginator-link paginator-link_border">
                        <a href="/webadmin/listing/player-device-list/page/6">6</a>
                    </div>
                    <div class="paginator-link paginator-link_border">
                        <a href="/webadmin/listing/player-device-list/page/7">7</a>
                    </div>
                    <div class="paginator-link paginator-link_border">
                        <a href="/webadmin/listing/player-device-list/page/8">8</a>
                    </div>
                    <div class="paginator-link paginator-link_border">
                        <a href="/webadmin/listing/player-device-list/page/9">9</a>
                    </div>
                    <div class="paginator-link paginator-link_border">
                        <a href="/webadmin/listing/player-device-list/page/10">10</a>
                    </div>

                    <!-- Next page link -->
                    <div class="paginator-link">
                        <a href="/webadmin/listing/player-device-list/page/2">Next &gt;</a>
                    </div>
                    <!-- Last page link -->
                    <div class="paginator-link">
                        <a href="/webadmin/listing/player-device-list/page/110">Last</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="pull-right">
                    <a href="/webadmin/listing/player-device-list/_output/xlsx"><img src="img/icons/xls.svg" alt="Excel"></a>
                    <a href="/webadmin/listing/player-device-list/_output/csv"><img src="img/icons/csv.svg" alt="CSV"></a>
                    <a href="/webadmin/listing/player-device-list/_output/ods"><img src="img/icons/odt.svg" alt="OpenDocument" /></a>
                </div>
            </div>
        </div>
    </div>



</div>

