﻿
@{
    ViewBag.Title = "PlayerFinanceInsuranceReport";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h3>Player's Insurance Report</h3>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="row">
                <div class="col-md-12" style="margin-bottom: 15px; margin-top: 15px">
                    <div class="form-group" style="margin: 10px;">

                        From: <input type="text" name="Date[from]" id="Date[from]" value="" skipSelect="1" sql="f_stamp" external="1" class="filter" readonly="readonly" onclick='displayDatePicker("Date[from]", false, "ymd", "-");' /> To: <input type="text" name="Date[to]" id="Date[to]" value="" skipSelect="1" sql="f_stamp" external="1" class="filter" readonly="readonly" onclick='displayDatePicker("Date[to]", false, "ymd", "-");' />
                    </div>

                    <div class="form-group" style="margin: 10px;">
                        <a href="#" class="btn btn-default" onclick="listing.filter(); return false;">Apply Filter</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="box-body">
                <div id="dynamicContent">
                    <div class="custom-dropdown-menu" id="columnsControls">
                    </div>

                    <table id='users_insurance' class="listing-table" data-dt-not-fixed-cols="true">
                        <thead class="listHead">
                            <tr>
                                <th data-meta-skip-manage='true'>
                                    <div>
                                        <button type="button" class="btn btn-primary custom-dropdown" id="columnControlsBtn">
                                            <img src="img/icons/menu.svg" alt="+">
                                        </button>
                                    </div>
                                </th>
                                <th data-meta-key='f_player_id'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_player_id"
                                           orderType="">
                                            Unique Code
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_display_name'
                                    data-meta-visibility="true">
                                    <nobr>
                                        Display Name
                                    </nobr>
                                </th>
                                <th data-meta-key='f_money_type'
                                    data-meta-visibility="true">
                                    <nobr>
                                        Money Type
                                    </nobr>
                                </th>
                                <th data-meta-key='total_insurance_fee'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="total_insurance_fee"
                                           orderType="">
                                            Total fee
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='total_insurance_claim'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="total_insurance_claim"
                                           orderType="">
                                            Total claim
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='total_insurance_result'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="total_insurance_result"
                                           orderType="">
                                            Total result
                                        </a>
                                    </nobr>
                                </th>
                            </tr>
                            <tr class="listFilter">
                                <th>

                                    <button name="butFilter" id="butFilter" type="button">Apply Filter</button>

                                    <button name="butReset" id="butReset" type="button">Reset Filter</button>
                                </th>
                                <th>
                                    <input type="text" name="f_player_id" id="f_player_id" value="" orderable="1" filter="1" sql="p.f_id" sql_nick="p.f_nick" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <input type="text" name="f_display_name" id="f_display_name" value="" orderable="" filter="1" sql="p.f_display_name" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <select name="f_money_type" id="f_money_type" orderable="" filter="1" sql="t.f_money_type" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="82">Real Money</option>
                                        <option value="80">Play Money</option>
                                        <option value="65">cash game points</option>
                                    </select>
                                </th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>

                            </tr>
                        </thead>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>