﻿
@{
    ViewBag.Title = "Player Level List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-xs-9">
        <h3>Player Level List</h3>
    </div>
    <div class="col-xs-3 text-right btn-container">
        <a href="~/Admin/Config/PlayerLevel/Add" class="btn btn-default purple-skin-btn-lte-theme purple-btn-add">
            <span class="purple-skin-btn-plus"></span>&nbsp;Add Player Level
        </a>
        <a href="~/Admin/Config/PlayerLevel/Settings" class="btn btn-default purple-skin-btn-lte-theme">
            <i class="fa fa-gear"></i>&nbsp;Settings
        </a>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
        </div>
        <div class="box">
            <div class="box-body">
                <div id="dynamicContent">
                    <div class="custom-dropdown-menu" id="columnsControls">
                    </div>

                    <table id='playerLevelsList' class="listing-table" data-dt-not-fixed-cols="true">
                        <thead class="listHead">
                            <tr>
                                <th data-meta-skip-manage='true'>
                                    <div>
                                        <button type="button" class="btn btn-primary custom-dropdown" id="columnControlsBtn">
                                            <img src="~/Assest/img/menu.svg" />
                                        </button>
                                    </div>
                                </th>
                                <th data-meta-key='f_order'
                                    data-meta-visibility="true">
                                    <nobr>
                                        Order
                                    </nobr>
                                </th>
                                <th data-meta-key='name'
                                    data-meta-visibility="true">
                                    <nobr>
                                        Name
                                    </nobr>
                                </th>
                                <th data-meta-key='min_amount'
                                    data-meta-visibility="true">
                                    <nobr>
                                        Min. cash game points Amount
                                    </nobr>
                                </th>
                                <th data-meta-key='chat'
                                    data-meta-visibility="true">
                                    <nobr>
                                        Chat Allowed
                                    </nobr>
                                </th>
                                <th data-meta-key='chat_color'
                                    data-meta-visibility="true">
                                    <nobr>
                                        Change Chat Color Allowed
                                    </nobr>
                                </th>
                                <th data-meta-key='avatar'
                                    data-meta-visibility="true">
                                    <nobr>
                                        Change Avatar Allowed
                                    </nobr>
                                </th>
                            </tr>
                            <tr class="listFilter">
                                <th>

                                    <button name="butFilter" id="butFilter" type="button">Apply Filter</button>

                                    <button name="butReset" id="butReset" type="button">Reset Filter</button>
                                </th>
                                <th>&nbsp;</th>
                                <th>
                                    <input type="text" name="name" id="name" value="" filter="1" orderable="" sql="f_name" nonHtml="" class="filter" />
                                </th>
                                <th>&nbsp;</th>
                                <th>
                                    <select name="chat" id="chat" filter="1" orderable="" sql="f_allow_use_chat" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="1">Yes</option>
                                        <option value="0">No</option>
                                    </select>
                                </th>
                                <th>
                                    <select name="chat_color" id="chat_color" filter="1" orderable="" sql="f_allow_change_chat_color" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="1">Yes</option>
                                        <option value="0">No</option>
                                    </select>
                                </th>
                                <th>
                                    <select name="avatar" id="avatar" filter="1" orderable="" sql="f_allow_change_avatar" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="1">Yes</option>
                                        <option value="0">No</option>
                                    </select>
                                </th>

                            </tr>
                        </thead>


                        <tr class="odd ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/player-level/edit/id/0">
                                            <div class="fa fa-pencil" id="fa-fa-pencil-0"></div>Edit
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td><span style="visibility: hidden"><i class="fa fa-arrow-up"></i></span>&nbsp;<a href="/webadmin/player-level/order?id=0&d=down" onclick="listing.ajaxLink(this); return false"><i class="fa fa-arrow-down"></i></a></td>
                            <td>Player</td>
                            <td>0.00</td>
                            <td>Yes</td>
                            <td>No</td>
                            <td>Yes</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/player-level/edit/id/11">
                                            <div class="fa fa-pencil" id="fa-fa-pencil-11"></div>Edit
                                        </a>

                                        <a href="/webadmin/player-level/delete/id/11" onClick='return confirm("Are You sure?")'>
                                            <div class="fa fa-close" id="fa-fa-close-11"></div>Delete
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td><a href="/webadmin/player-level/order?id=11&d=up" onclick="listing.ajaxLink(this); return false"><i class="fa fa-arrow-up"></i></a>&nbsp;<a href="/webadmin/player-level/order?id=11&d=down" onclick="listing.ajaxLink(this); return false"><i class="fa fa-arrow-down"></i></a></td>
                            <td>Level [05]</td>
                            <td>100.00</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/player-level/edit/id/1">
                                            <div class="fa fa-pencil" id="fa-fa-pencil-1"></div>Edit
                                        </a>

                                        <a href="/webadmin/player-level/delete/id/1" onClick='return confirm("Are You sure?")'>
                                            <div class="fa fa-close" id="fa-fa-close-1"></div>Delete
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td><a href="/webadmin/player-level/order?id=1&d=up" onclick="listing.ajaxLink(this); return false"><i class="fa fa-arrow-up"></i></a>&nbsp;<a href="/webadmin/player-level/order?id=1&d=down" onclick="listing.ajaxLink(this); return false"><i class="fa fa-arrow-down"></i></a></td>
                            <td>Level [10]</td>
                            <td>0.00</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/player-level/edit/id/12">
                                            <div class="fa fa-pencil" id="fa-fa-pencil-12"></div>Edit
                                        </a>

                                        <a href="/webadmin/player-level/delete/id/12" onClick='return confirm("Are You sure?")'>
                                            <div class="fa fa-close" id="fa-fa-close-12"></div>Delete
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td><a href="/webadmin/player-level/order?id=12&d=up" onclick="listing.ajaxLink(this); return false"><i class="fa fa-arrow-up"></i></a>&nbsp;<a href="/webadmin/player-level/order?id=12&d=down" onclick="listing.ajaxLink(this); return false"><i class="fa fa-arrow-down"></i></a></td>
                            <td>Level [15]</td>
                            <td>0.00</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/player-level/edit/id/2">
                                            <div class="fa fa-pencil" id="fa-fa-pencil-2"></div>Edit
                                        </a>

                                        <a href="/webadmin/player-level/delete/id/2" onClick='return confirm("Are You sure?")'>
                                            <div class="fa fa-close" id="fa-fa-close-2"></div>Delete
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td><a href="/webadmin/player-level/order?id=2&d=up" onclick="listing.ajaxLink(this); return false"><i class="fa fa-arrow-up"></i></a>&nbsp;<a href="/webadmin/player-level/order?id=2&d=down" onclick="listing.ajaxLink(this); return false"><i class="fa fa-arrow-down"></i></a></td>
                            <td>Level [20]</td>
                            <td>0.00</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/player-level/edit/id/13">
                                            <div class="fa fa-pencil" id="fa-fa-pencil-13"></div>Edit
                                        </a>

                                        <a href="/webadmin/player-level/delete/id/13" onClick='return confirm("Are You sure?")'>
                                            <div class="fa fa-close" id="fa-fa-close-13"></div>Delete
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td><a href="/webadmin/player-level/order?id=13&d=up" onclick="listing.ajaxLink(this); return false"><i class="fa fa-arrow-up"></i></a>&nbsp;<a href="/webadmin/player-level/order?id=13&d=down" onclick="listing.ajaxLink(this); return false"><i class="fa fa-arrow-down"></i></a></td>
                            <td>Level [25]</td>
                            <td>0.00</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/player-level/edit/id/3">
                                            <div class="fa fa-pencil" id="fa-fa-pencil-3"></div>Edit
                                        </a>

                                        <a href="/webadmin/player-level/delete/id/3" onClick='return confirm("Are You sure?")'>
                                            <div class="fa fa-close" id="fa-fa-close-3"></div>Delete
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td><a href="/webadmin/player-level/order?id=3&d=up" onclick="listing.ajaxLink(this); return false"><i class="fa fa-arrow-up"></i></a>&nbsp;<a href="/webadmin/player-level/order?id=3&d=down" onclick="listing.ajaxLink(this); return false"><i class="fa fa-arrow-down"></i></a></td>
                            <td>Level [30]</td>
                            <td>0.00</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/player-level/edit/id/14">
                                            <div class="fa fa-pencil" id="fa-fa-pencil-14"></div>Edit
                                        </a>

                                        <a href="/webadmin/player-level/delete/id/14" onClick='return confirm("Are You sure?")'>
                                            <div class="fa fa-close" id="fa-fa-close-14"></div>Delete
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td><a href="/webadmin/player-level/order?id=14&d=up" onclick="listing.ajaxLink(this); return false"><i class="fa fa-arrow-up"></i></a>&nbsp;<a href="/webadmin/player-level/order?id=14&d=down" onclick="listing.ajaxLink(this); return false"><i class="fa fa-arrow-down"></i></a></td>
                            <td>Level [35]</td>
                            <td>0.00</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/player-level/edit/id/4">
                                            <div class="fa fa-pencil" id="fa-fa-pencil-4"></div>Edit
                                        </a>

                                        <a href="/webadmin/player-level/delete/id/4" onClick='return confirm("Are You sure?")'>
                                            <div class="fa fa-close" id="fa-fa-close-4"></div>Delete
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td><a href="/webadmin/player-level/order?id=4&d=up" onclick="listing.ajaxLink(this); return false"><i class="fa fa-arrow-up"></i></a>&nbsp;<a href="/webadmin/player-level/order?id=4&d=down" onclick="listing.ajaxLink(this); return false"><i class="fa fa-arrow-down"></i></a></td>
                            <td>Level [40]</td>
                            <td>0.00</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/player-level/edit/id/5">
                                            <div class="fa fa-pencil" id="fa-fa-pencil-5"></div>Edit
                                        </a>

                                        <a href="/webadmin/player-level/delete/id/5" onClick='return confirm("Are You sure?")'>
                                            <div class="fa fa-close" id="fa-fa-close-5"></div>Delete
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td><a href="/webadmin/player-level/order?id=5&d=up" onclick="listing.ajaxLink(this); return false"><i class="fa fa-arrow-up"></i></a>&nbsp;<a href="/webadmin/player-level/order?id=5&d=down" onclick="listing.ajaxLink(this); return false"><i class="fa fa-arrow-down"></i></a></td>
                            <td>Level [50]</td>
                            <td>0.00</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/player-level/edit/id/6">
                                            <div class="fa fa-pencil" id="fa-fa-pencil-6"></div>Edit
                                        </a>

                                        <a href="/webadmin/player-level/delete/id/6" onClick='return confirm("Are You sure?")'>
                                            <div class="fa fa-close" id="fa-fa-close-6"></div>Delete
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td><a href="/webadmin/player-level/order?id=6&d=up" onclick="listing.ajaxLink(this); return false"><i class="fa fa-arrow-up"></i></a>&nbsp;<a href="/webadmin/player-level/order?id=6&d=down" onclick="listing.ajaxLink(this); return false"><i class="fa fa-arrow-down"></i></a></td>
                            <td>Level [60]</td>
                            <td>0.00</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/player-level/edit/id/7">
                                            <div class="fa fa-pencil" id="fa-fa-pencil-7"></div>Edit
                                        </a>

                                        <a href="/webadmin/player-level/delete/id/7" onClick='return confirm("Are You sure?")'>
                                            <div class="fa fa-close" id="fa-fa-close-7"></div>Delete
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td><a href="/webadmin/player-level/order?id=7&d=up" onclick="listing.ajaxLink(this); return false"><i class="fa fa-arrow-up"></i></a>&nbsp;<a href="/webadmin/player-level/order?id=7&d=down" onclick="listing.ajaxLink(this); return false"><i class="fa fa-arrow-down"></i></a></td>
                            <td>Level [70]</td>
                            <td>0.00</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/player-level/edit/id/8">
                                            <div class="fa fa-pencil" id="fa-fa-pencil-8"></div>Edit
                                        </a>

                                        <a href="/webadmin/player-level/delete/id/8" onClick='return confirm("Are You sure?")'>
                                            <div class="fa fa-close" id="fa-fa-close-8"></div>Delete
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td><a href="/webadmin/player-level/order?id=8&d=up" onclick="listing.ajaxLink(this); return false"><i class="fa fa-arrow-up"></i></a>&nbsp;<a href="/webadmin/player-level/order?id=8&d=down" onclick="listing.ajaxLink(this); return false"><i class="fa fa-arrow-down"></i></a></td>
                            <td>Level [80]</td>
                            <td>0.00</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/player-level/edit/id/9">
                                            <div class="fa fa-pencil" id="fa-fa-pencil-9"></div>Edit
                                        </a>

                                        <a href="/webadmin/player-level/delete/id/9" onClick='return confirm("Are You sure?")'>
                                            <div class="fa fa-close" id="fa-fa-close-9"></div>Delete
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td><a href="/webadmin/player-level/order?id=9&d=up" onclick="listing.ajaxLink(this); return false"><i class="fa fa-arrow-up"></i></a>&nbsp;<a href="/webadmin/player-level/order?id=9&d=down" onclick="listing.ajaxLink(this); return false"><i class="fa fa-arrow-down"></i></a></td>
                            <td>Standard II</td>
                            <td>0.00</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/player-level/edit/id/10">
                                            <div class="fa fa-pencil" id="fa-fa-pencil-10"></div>Edit
                                        </a>

                                        <a href="/webadmin/player-level/delete/id/10" onClick='return confirm("Are You sure?")'>
                                            <div class="fa fa-close" id="fa-fa-close-10"></div>Delete
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td><a href="/webadmin/player-level/order?id=10&d=up" onclick="listing.ajaxLink(this); return false"><i class="fa fa-arrow-up"></i></a>&nbsp;</td>
                            <td>Standard</td>
                            <td>0.00</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->


                    </table>
                    <div class='rowCount'>
                        <div class="row">
                            <div class="col-md-3">
                                Rows: 15&ensp;|&ensp;
                                <div class="limit-controls" style="display: inline-block;">
                                    <div id="perpage">Per page:</div>
                                    <select class="limit-links">
                                        <option data-href="/webadmin/player-level/list/limit/10">10</option>
                                        <option data-href="/webadmin/player-level/list/limit/25">25</option>
                                        <option selected data-href="/webadmin/player-level/list/limit/50">50</option>
                                        <option data-href="/webadmin/player-level/list/limit/100">100</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-7" style="display: flex; justify-content: center">
                                <div class="paginator-controls" id="blockPaginatorControls">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="pull-right">
                                    <a href="/webadmin/player-level/list/_output/xlsx"><img src="~/Assest/img/xls.svg" alt="Excel"></a>
                                    <a href="/webadmin/player-level/list/_output/csv"><img src="~/Assest/img/csv.svg" alt="CSV"></a>
                                    <a href="/webadmin/player-level/list/_output/ods"><img src="~/Assest/img/odt.svg" alt="OpenDocument" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

