﻿
@{
    ViewBag.Title = "PlayerTournamentsList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Tournament List</h3>
<h4>For player <a href="/webadmin/user/info/id/132725">YMN3CZBB</a></h4>
<p>
    <a class="btn btn-primary" href="/webadmin/listing/player-tournaments">Show all</a>
</p>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
        </div>
        <div class="box">
            <div class="box-body">
                <div id="dynamicContent">
                    <div class="custom-dropdown-menu" id="columnsControls">
                    </div>

                    <table id='playerTournaments' class="listing-table" data-dt-not-fixed-cols="true">
                        <thead class="listHead">
                            <tr>
                                <th data-meta-key='f_tournament_id'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_tournament_id"
                                           orderType="">
                                            Tournament
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_out_level'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_out_level"
                                           orderType="">
                                            Out level
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_place'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_place"
                                           orderType="">
                                            Place
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_place_to'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_place_to"
                                           orderType="">
                                            Place to
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_participated'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_participated"
                                           orderType="">
                                            Participated
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_registered_stamp'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_registered_stamp"
                                           orderType="">
                                            Registered
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_money_type'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_money_type"
                                           orderType="">
                                            Money type
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_buy_in'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_buy_in"
                                           orderType="">
                                            Buy in
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_entry_fee'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_entry_fee"
                                           orderType="">
                                            Entry fee
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_prize'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_prize"
                                           orderType="">
                                            Prize
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-skip-manage='true'>
                                    <div>
                                        <button type="button" class="btn btn-primary custom-dropdown" id="columnControlsBtn">
                                            <img src="img/icons/menu.svg" alt="+">
                                        </button>
                                    </div>
                                </th>
                            </tr>
                            <tr class="listFilter">
                                <th>
                                    <input type="text" name="f_tournament_id" id="f_tournament_id" value="" filter="1" sql_name="t.f_name" orderable="1" sql="f_tournament_id" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <input type="text" name="f_out_level" id="f_out_level" value="" filter="1" orderable="1" sql="f_out_level" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <input type="text" name="f_place" id="f_place" value="" filter="1" orderable="1" sql="f_place" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <input type="text" name="f_place_to" id="f_place_to" value="" filter="1" orderable="1" sql="f_place_to" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <select name="f_participated" id="f_participated" filter="1" orderable="1" sql="f_participated" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="1">Yes</option>
                                        <option value="0">No</option>
                                    </select>
                                </th>
                                <th>
                                    <input type="text" name="f_registered_stamp" id="f_registered_stamp" value="" filter="1" sql="pt.f_registered_stamp" orderable="1" nonHtml="" class="filter" readonly="readonly" onclick='displayDatePicker("f_registered_stamp", false, "ymd", "-");' />
                                </th>
                                <th>
                                    <select name="f_money_type" id="f_money_type" filter="1" sql="t.f_money_type" orderable="1" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="82">Real Money</option>
                                        <option value="80">Play Money</option>
                                        <option value="65">cash game points</option>
                                    </select>
                                </th>
                                <th>
                                    <input type="text" name="f_buy_in" id="f_buy_in" value="" filter="1" sql="pt.f_buy_in" orderable="1" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <input type="text" name="f_entry_fee" id="f_entry_fee" value="" filter="1" sql="pt.f_entry_fee" orderable="1" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <input type="text" name="f_prize" id="f_prize" value="" filter="1" orderable="1" sql="f_prize" nonHtml="" class="filter" />
                                </th>
                                <th>

                                    <button name="butFilter" id="butFilter" type="button">Apply Filter</button>

                                    <button name="butReset" id="butReset" type="button">Reset Filter</button>
                                </th>

                            </tr>
                        </thead>

                    </table>



                </div>
            </div>
        </div>
    </div>
</div>

