﻿
@{
    ViewBag.Title = "Player Level Settings";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Edit Player Level's settings</h3>
<div class="box box-primary">
    <div enctype="application/x-www-form-urlencoded"  dojoType="dijit.form.Form">
        <div class="box-body">
            <div class="form-group" id="form-element-resetCgp">
                <div class="checkbox">
                    <label>
                        <input type="hidden" name="resetCgp" value="0" /><input type="checkbox" name="resetCgp" id="resetCgp" value="1" />Reset 'cash game points"
                    </label>
                </div>
                <span class="help-block">Reset the balance of 'cash game points' after the new level is received</span>
            </div>

            <input type="submit" name="send" id="send" value="Save" class="btn btn-primary" />
        </div>
    </div>
</div>

