﻿
@{
    ViewBag.Title = "PlayerTableList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Player Table Game List</h3>

<h4>For player <a href="/webadmin/affiliate/user/info/id/132725">YMN3CZBB</a></h4>

<div class="box">
    <div class="box-body">
        <div id="dynamicContent">

            <table id="affiliate-playersTables" class="listing-table">
                <thead class="listHead">
                    <tr>
                        <th>#</th>
                        <th>
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_table_id" orderType="">
                                    Table
                                </a>
                            </nobr>
                        </th>
                        <th>
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_tournament_id" orderType="">
                                    Tournament
                                </a>
                            </nobr>
                        </th>
                        <th>
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_money_type" orderType="">
                                    Money Type
                                </a>
                            </nobr>
                        </th>
                        <th>
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_pot_type" orderType="">
                                    Pot Type
                                </a>
                            </nobr>
                        </th>
                        <th>
                            <nobr>
                                <a class="headerLink orderLink" orderBy="gamesCount" orderType="">
                                    Games Count
                                </a>
                            </nobr>
                        </th>
                        <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    </tr>
                    <tr class="listFilter">
                        <th>

                            <button name="butFilter" id="butFilter" type="button">Apply Filter</button>

                            <button name="butReset" id="butReset" type="button">Reset Filter</button>
                        </th>
                        <th>
                            <input type="text" name="f_table_id" id="f_table_id" value="" filter="1" sql_name="t.f_name" orderable="1" sql="f_table_id" nonHtml="" class="filter" />
                        </th>
                        <th>
                            <input type="text" name="f_tournament_id" id="f_tournament_id" value="" filter="1" sql_name="tour.f_name" orderable="1" sql="f_tournament_id" nonHtml="" class="filter" />
                        </th>
                        <th>
                            <select name="f_money_type" id="f_money_type" filter="1" sql="t.f_money_type" orderable="1" nonHtml="" class="filter">
                                <option value="">-</option>
                                <option value="82">Real Money</option>
                                <option value="80">Play Money</option>
                                <option value="65">cash game points</option>
                            </select>
                        </th>
                        <th>
                            <select name="f_pot_type" id="f_pot_type" filter="1" sql="t.f_pot_type" orderable="1" nonHtml="" class="filter">
                                <option value="">-</option>
                                <option value="70">Fixed Limit</option>
                                <option value="85">No Limit</option>
                                <option value="80">Pot Limit</option>
                            </select>
                        </th>
                        <th>&nbsp;</th>

                        <th>&nbsp;</th>
                    </tr>
                </thead>


            </table>

        </div>
    </div>
</div>

