﻿
@{
    ViewBag.Title = "PredefinedAvatar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<link href="~/Assest/css/predefined-avatars.css" rel="stylesheet" />
<h3>Predefined Avatars</h3>

<script type="text/javascript">
    dojo.require('dojo.io.iframe');
    function avatarPresetUpload(form, slotId) {
        dojo.byId('preset-upload-btn-' + slotId).style.display = 'none';
        dojo.io.iframe.send({
            url: form.action,
            form: form,
            handleAs: "json",
            load: function (data) {
                if (data.success) {
                    dojo.byId('preset-wrp-' + data.slotId).innerHTML = '<img src="' + data.image + '" />';
                    dojo.byId('preset-upload-btn-' + data.slotId).style.display = 'none';
                    dojo.byId('preset-delete-btn-' + data.slotId).style.display = 'inline-block';
                } else {
                    alert(data.error || 'Some error occurred. Please try again later.');
                    dojo.byId('preset-upload-btn-' + data.slotId).style.display = 'inline-block';
                }
            },
            error: function () {
                dojo.byId('preset-upload-btn-' + slotId).style.display = 'inline-block';
            }
        });
    }
    function avatarPresetDelete(slotId) {
        if (!confirm('Are you sure? Some players can be use this picture.')) {
            return false;
        }
        dojo.byId('preset-delete-btn-' + slotId).style.display = 'none';
        dojo.xhrGet({
            url: '/webadmin/avatar-presets/delete?slotId=' + slotId,
            handleAs: 'json',
            load: function (data) {
                if (data.success) {
                    dojo.byId('preset-wrp-' + data.slotId).innerHTML = 'Slot Is Empty';
                    dojo.byId('preset-upload-btn-' + data.slotId).style.display = 'inline-block';
                    dojo.byId('preset-delete-btn-' + data.slotId).style.display = 'none';
                } else {
                    alert(data.error || 'Some error occurred. Please try again later.');
                    dojo.byId('preset-delete-btn-' + data.slotId).style.display = 'inline-block';
                }
            },
            error: function () {
                dojo.byId('preset-delete-btn-' + slotId).style.display = 'inline-block';
            }
        });
        return false;
    }
</script>

<div class="avatar-preset-item">
    <div class="avatar-preset-item-image-wrp" id="preset-wrp-0">
        <img src="https://demo-webadmin.evenbetpoker.com/files/avatars/5/5.png" alt="preset-0">
    </div>
    <div class="avatar-preset-item-actions">
        <form action="/webadmin/avatar-presets/upload"
              method="post" enctype="multipart/form-data" onsubmit="return false">
            <input type="hidden" name="format" value="json">
            <input type="hidden" name="slotId" value="0">
            <input type="file" name="image" onchange="avatarPresetUpload(this.form, 0); return false"
                   style="display: none;" id="preset-upload-0">
            <label for="preset-upload-0" class="btn"
                   id="preset-upload-btn-0" style='display:none;'>Upload</label>
        </form>
        <button class="btn btn-danger" onclick="avatarPresetDelete(0)"
                id="preset-delete-btn-0">
            Delete
        </button>
    </div>
</div>
<div class="avatar-preset-item">
    <div class="avatar-preset-item-image-wrp" id="preset-wrp-1">
        <img src="https://demo-webadmin.evenbetpoker.com/files/avatars/6/6.png" alt="preset-1">
    </div>
    <div class="avatar-preset-item-actions">
        <form action="/webadmin/avatar-presets/upload"
              method="post" enctype="multipart/form-data" onsubmit="return false">
            <input type="hidden" name="format" value="json">
            <input type="hidden" name="slotId" value="1">
            <input type="file" name="image" onchange="avatarPresetUpload(this.form, 1); return false"
                   style="display: none;" id="preset-upload-1">
            <label for="preset-upload-1" class="btn"
                   id="preset-upload-btn-1" style='display:none;'>Upload</label>
        </form>
        <button class="btn btn-danger" onclick="avatarPresetDelete(1)"
                id="preset-delete-btn-1">
            Delete
        </button>
    </div>
</div>
<div class="avatar-preset-item">
    <div class="avatar-preset-item-image-wrp" id="preset-wrp-2">
        Slot Is Empty
    </div>
    <div class="avatar-preset-item-actions">
        <form action="/webadmin/avatar-presets/upload"
              method="post" enctype="multipart/form-data" onsubmit="return false">
            <input type="hidden" name="format" value="json">
            <input type="hidden" name="slotId" value="2">
            <input type="file" name="image" onchange="avatarPresetUpload(this.form, 2); return false"
                   style="display: none;" id="preset-upload-2">
            <label for="preset-upload-2" class="btn"
                   id="preset-upload-btn-2">Upload</label>
        </form>
        <button class="btn btn-danger" onclick="avatarPresetDelete(2)"
                id="preset-delete-btn-2" style='display:none;'>
            Delete
        </button>
    </div>
</div>
<div class="avatar-preset-item">
    <div class="avatar-preset-item-image-wrp" id="preset-wrp-3">
        Slot Is Empty
    </div>
    <div class="avatar-preset-item-actions">
        <form action="/webadmin/avatar-presets/upload"
              method="post" enctype="multipart/form-data" onsubmit="return false">
            <input type="hidden" name="format" value="json">
            <input type="hidden" name="slotId" value="3">
            <input type="file" name="image" onchange="avatarPresetUpload(this.form, 3); return false"
                   style="display: none;" id="preset-upload-3">
            <label for="preset-upload-3" class="btn"
                   id="preset-upload-btn-3">Upload</label>
        </form>
        <button class="btn btn-danger" onclick="avatarPresetDelete(3)"
                id="preset-delete-btn-3" style='display:none;'>
            Delete
        </button>
    </div>
</div>
<div class="avatar-preset-item">
    <div class="avatar-preset-item-image-wrp" id="preset-wrp-4">
        Slot Is Empty
    </div>
    <div class="avatar-preset-item-actions">
        <form action="/webadmin/avatar-presets/upload"
              method="post" enctype="multipart/form-data" onsubmit="return false">
            <input type="hidden" name="format" value="json">
            <input type="hidden" name="slotId" value="4">
            <input type="file" name="image" onchange="avatarPresetUpload(this.form, 4); return false"
                   style="display: none;" id="preset-upload-4">
            <label for="preset-upload-4" class="btn"
                   id="preset-upload-btn-4">Upload</label>
        </form>
        <button class="btn btn-danger" onclick="avatarPresetDelete(4)"
                id="preset-delete-btn-4" style='display:none;'>
            Delete
        </button>
    </div>
</div>
<div class="avatar-preset-item">
    <div class="avatar-preset-item-image-wrp" id="preset-wrp-5">
        Slot Is Empty
    </div>
    <div class="avatar-preset-item-actions">
        <form action="/webadmin/avatar-presets/upload"
              method="post" enctype="multipart/form-data" onsubmit="return false">
            <input type="hidden" name="format" value="json">
            <input type="hidden" name="slotId" value="5">
            <input type="file" name="image" onchange="avatarPresetUpload(this.form, 5); return false"
                   style="display: none;" id="preset-upload-5">
            <label for="preset-upload-5" class="btn"
                   id="preset-upload-btn-5">Upload</label>
        </form>
        <button class="btn btn-danger" onclick="avatarPresetDelete(5)"
                id="preset-delete-btn-5" style='display:none;'>
            Delete
        </button>
    </div>
</div>
<div class="avatar-preset-item">
    <div class="avatar-preset-item-image-wrp" id="preset-wrp-6">
        Slot Is Empty
    </div>
    <div class="avatar-preset-item-actions">
        <form action="/webadmin/avatar-presets/upload"
              method="post" enctype="multipart/form-data" onsubmit="return false">
            <input type="hidden" name="format" value="json">
            <input type="hidden" name="slotId" value="6">
            <input type="file" name="image" onchange="avatarPresetUpload(this.form, 6); return false"
                   style="display: none;" id="preset-upload-6">
            <label for="preset-upload-6" class="btn"
                   id="preset-upload-btn-6">Upload</label>
        </form>
        <button class="btn btn-danger" onclick="avatarPresetDelete(6)"
                id="preset-delete-btn-6" style='display:none;'>
            Delete
        </button>
    </div>
</div>
<div class="avatar-preset-item">
    <div class="avatar-preset-item-image-wrp" id="preset-wrp-7">
        Slot Is Empty
    </div>
    <div class="avatar-preset-item-actions">
        <form action="/webadmin/avatar-presets/upload"
              method="post" enctype="multipart/form-data" onsubmit="return false">
            <input type="hidden" name="format" value="json">
            <input type="hidden" name="slotId" value="7">
            <input type="file" name="image" onchange="avatarPresetUpload(this.form, 7); return false"
                   style="display: none;" id="preset-upload-7">
            <label for="preset-upload-7" class="btn"
                   id="preset-upload-btn-7">Upload</label>
        </form>
        <button class="btn btn-danger" onclick="avatarPresetDelete(7)"
                id="preset-delete-btn-7" style='display:none;'>
            Delete
        </button>
    </div>
</div>
<div class="avatar-preset-item">
    <div class="avatar-preset-item-image-wrp" id="preset-wrp-8">
        Slot Is Empty
    </div>
    <div class="avatar-preset-item-actions">
        <form action="/webadmin/avatar-presets/upload"
              method="post" enctype="multipart/form-data" onsubmit="return false">
            <input type="hidden" name="format" value="json">
            <input type="hidden" name="slotId" value="8">
            <input type="file" name="image" onchange="avatarPresetUpload(this.form, 8); return false"
                   style="display: none;" id="preset-upload-8">
            <label for="preset-upload-8" class="btn"
                   id="preset-upload-btn-8">Upload</label>
        </form>
        <button class="btn btn-danger" onclick="avatarPresetDelete(8)"
                id="preset-delete-btn-8" style='display:none;'>
            Delete
        </button>
    </div>
</div>
<div class="avatar-preset-item">
    <div class="avatar-preset-item-image-wrp" id="preset-wrp-9">
        Slot Is Empty
    </div>
    <div class="avatar-preset-item-actions">
        <form action="/webadmin/avatar-presets/upload"
              method="post" enctype="multipart/form-data" onsubmit="return false">
            <input type="hidden" name="format" value="json">
            <input type="hidden" name="slotId" value="9">
            <input type="file" name="image" onchange="avatarPresetUpload(this.form, 9); return false"
                   style="display: none;" id="preset-upload-9">
            <label for="preset-upload-9" class="btn"
                   id="preset-upload-btn-9">Upload</label>
        </form>
        <button class="btn btn-danger" onclick="avatarPresetDelete(9)"
                id="preset-delete-btn-9" style='display:none;'>
            Delete
        </button>
    </div>
</div>
<div class="avatar-preset-item">
    <div class="avatar-preset-item-image-wrp" id="preset-wrp-10">
        Slot Is Empty
    </div>
    <div class="avatar-preset-item-actions">
        <form action="/webadmin/avatar-presets/upload"
              method="post" enctype="multipart/form-data" onsubmit="return false">
            <input type="hidden" name="format" value="json">
            <input type="hidden" name="slotId" value="10">
            <input type="file" name="image" onchange="avatarPresetUpload(this.form, 10); return false"
                   style="display: none;" id="preset-upload-10">
            <label for="preset-upload-10" class="btn"
                   id="preset-upload-btn-10">Upload</label>
        </form>
        <button class="btn btn-danger" onclick="avatarPresetDelete(10)"
                id="preset-delete-btn-10" style='display:none;'>
            Delete
        </button>
    </div>
</div>
<div class="avatar-preset-item">
    <div class="avatar-preset-item-image-wrp" id="preset-wrp-11">
        Slot Is Empty
    </div>
    <div class="avatar-preset-item-actions">
        <form action="/webadmin/avatar-presets/upload"
              method="post" enctype="multipart/form-data" onsubmit="return false">
            <input type="hidden" name="format" value="json">
            <input type="hidden" name="slotId" value="11">
            <input type="file" name="image" onchange="avatarPresetUpload(this.form, 11); return false"
                   style="display: none;" id="preset-upload-11">
            <label for="preset-upload-11" class="btn"
                   id="preset-upload-btn-11">Upload</label>
        </form>
        <button class="btn btn-danger" onclick="avatarPresetDelete(11)"
                id="preset-delete-btn-11" style='display:none;'>
            Delete
        </button>
    </div>
</div>
<div class="avatar-preset-item">
    <div class="avatar-preset-item-image-wrp" id="preset-wrp-12">
        Slot Is Empty
    </div>
    <div class="avatar-preset-item-actions">
        <form action="/webadmin/avatar-presets/upload"
              method="post" enctype="multipart/form-data" onsubmit="return false">
            <input type="hidden" name="format" value="json">
            <input type="hidden" name="slotId" value="12">
            <input type="file" name="image" onchange="avatarPresetUpload(this.form, 12); return false"
                   style="display: none;" id="preset-upload-12">
            <label for="preset-upload-12" class="btn"
                   id="preset-upload-btn-12">Upload</label>
        </form>
        <button class="btn btn-danger" onclick="avatarPresetDelete(12)"
                id="preset-delete-btn-12" style='display:none;'>
            Delete
        </button>
    </div>
</div>
<div class="avatar-preset-item">
    <div class="avatar-preset-item-image-wrp" id="preset-wrp-13">
        Slot Is Empty
    </div>
    <div class="avatar-preset-item-actions">
        <form action="/webadmin/avatar-presets/upload"
              method="post" enctype="multipart/form-data" onsubmit="return false">
            <input type="hidden" name="format" value="json">
            <input type="hidden" name="slotId" value="13">
            <input type="file" name="image" onchange="avatarPresetUpload(this.form, 13); return false"
                   style="display: none;" id="preset-upload-13">
            <label for="preset-upload-13" class="btn"
                   id="preset-upload-btn-13">Upload</label>
        </form>
        <button class="btn btn-danger" onclick="avatarPresetDelete(13)"
                id="preset-delete-btn-13" style='display:none;'>
            Delete
        </button>
    </div>
</div>
<div class="avatar-preset-item">
    <div class="avatar-preset-item-image-wrp" id="preset-wrp-14">
        Slot Is Empty
    </div>
    <div class="avatar-preset-item-actions">
        <form action="/webadmin/avatar-presets/upload"
              method="post" enctype="multipart/form-data" onsubmit="return false">
            <input type="hidden" name="format" value="json">
            <input type="hidden" name="slotId" value="14">
            <input type="file" name="image" onchange="avatarPresetUpload(this.form, 14); return false"
                   style="display: none;" id="preset-upload-14">
            <label for="preset-upload-14" class="btn"
                   id="preset-upload-btn-14">Upload</label>
        </form>
        <button class="btn btn-danger" onclick="avatarPresetDelete(14)"
                id="preset-delete-btn-14" style='display:none;'>
            Delete
        </button>
    </div>
</div>
<div class="avatar-preset-item">
    <div class="avatar-preset-item-image-wrp" id="preset-wrp-15">
        Slot Is Empty
    </div>
    <div class="avatar-preset-item-actions">
        <form action="/webadmin/avatar-presets/upload"
              method="post" enctype="multipart/form-data" onsubmit="return false">
            <input type="hidden" name="format" value="json">
            <input type="hidden" name="slotId" value="15">
            <input type="file" name="image" onchange="avatarPresetUpload(this.form, 15); return false"
                   style="display: none;" id="preset-upload-15">
            <label for="preset-upload-15" class="btn"
                   id="preset-upload-btn-15">Upload</label>
        </form>
        <button class="btn btn-danger" onclick="avatarPresetDelete(15)"
                id="preset-delete-btn-15" style='display:none;'>
            Delete
        </button>
    </div>
</div>
<div class="avatar-preset-item">
    <div class="avatar-preset-item-image-wrp" id="preset-wrp-16">
        Slot Is Empty
    </div>
    <div class="avatar-preset-item-actions">
        <form action="/webadmin/avatar-presets/upload"
              method="post" enctype="multipart/form-data" onsubmit="return false">
            <input type="hidden" name="format" value="json">
            <input type="hidden" name="slotId" value="16">
            <input type="file" name="image" onchange="avatarPresetUpload(this.form, 16); return false"
                   style="display: none;" id="preset-upload-16">
            <label for="preset-upload-16" class="btn"
                   id="preset-upload-btn-16">Upload</label>
        </form>
        <button class="btn btn-danger" onclick="avatarPresetDelete(16)"
                id="preset-delete-btn-16" style='display:none;'>
            Delete
        </button>
    </div>
</div>
<div class="avatar-preset-item">
    <div class="avatar-preset-item-image-wrp" id="preset-wrp-17">
        Slot Is Empty
    </div>
    <div class="avatar-preset-item-actions">
        <form action="/webadmin/avatar-presets/upload"
              method="post" enctype="multipart/form-data" onsubmit="return false">
            <input type="hidden" name="format" value="json">
            <input type="hidden" name="slotId" value="17">
            <input type="file" name="image" onchange="avatarPresetUpload(this.form, 17); return false"
                   style="display: none;" id="preset-upload-17">
            <label for="preset-upload-17" class="btn"
                   id="preset-upload-btn-17">Upload</label>
        </form>
        <button class="btn btn-danger" onclick="avatarPresetDelete(17)"
                id="preset-delete-btn-17" style='display:none;'>
            Delete
        </button>
    </div>
</div>
<div class="avatar-preset-item">
    <div class="avatar-preset-item-image-wrp" id="preset-wrp-18">
        Slot Is Empty
    </div>
    <div class="avatar-preset-item-actions">
        <form action="/webadmin/avatar-presets/upload"
              method="post" enctype="multipart/form-data" onsubmit="return false">
            <input type="hidden" name="format" value="json">
            <input type="hidden" name="slotId" value="18">
            <input type="file" name="image" onchange="avatarPresetUpload(this.form, 18); return false"
                   style="display: none;" id="preset-upload-18">
            <label for="preset-upload-18" class="btn"
                   id="preset-upload-btn-18">Upload</label>
        </form>
        <button class="btn btn-danger" onclick="avatarPresetDelete(18)"
                id="preset-delete-btn-18" style='display:none;'>
            Delete
        </button>
    </div>
</div>
<div class="avatar-preset-item">
    <div class="avatar-preset-item-image-wrp" id="preset-wrp-19">
        Slot Is Empty
    </div>
    <div class="avatar-preset-item-actions">
        <form action="/webadmin/avatar-presets/upload"
              method="post" enctype="multipart/form-data" onsubmit="return false">
            <input type="hidden" name="format" value="json">
            <input type="hidden" name="slotId" value="19">
            <input type="file" name="image" onchange="avatarPresetUpload(this.form, 19); return false"
                   style="display: none;" id="preset-upload-19">
            <label for="preset-upload-19" class="btn"
                   id="preset-upload-btn-19">Upload</label>
        </form>
        <button class="btn btn-danger" onclick="avatarPresetDelete(19)"
                id="preset-delete-btn-19" style='display:none;'>
            Delete
        </button>
    </div>
</div>
<div class="avatar-preset-item">
    <div class="avatar-preset-item-image-wrp" id="preset-wrp-20">
        Slot Is Empty
    </div>
    <div class="avatar-preset-item-actions">
        <form action="/webadmin/avatar-presets/upload"
              method="post" enctype="multipart/form-data" onsubmit="return false">
            <input type="hidden" name="format" value="json">
            <input type="hidden" name="slotId" value="20">
            <input type="file" name="image" onchange="avatarPresetUpload(this.form, 20); return false"
                   style="display: none;" id="preset-upload-20">
            <label for="preset-upload-20" class="btn"
                   id="preset-upload-btn-20">Upload</label>
        </form>
        <button class="btn btn-danger" onclick="avatarPresetDelete(20)"
                id="preset-delete-btn-20" style='display:none;'>
            Delete
        </button>
    </div>
</div>
<div class="avatar-preset-item">
    <div class="avatar-preset-item-image-wrp" id="preset-wrp-21">
        Slot Is Empty
    </div>
    <div class="avatar-preset-item-actions">
        <form action="/webadmin/avatar-presets/upload"
              method="post" enctype="multipart/form-data" onsubmit="return false">
            <input type="hidden" name="format" value="json">
            <input type="hidden" name="slotId" value="21">
            <input type="file" name="image" onchange="avatarPresetUpload(this.form, 21); return false"
                   style="display: none;" id="preset-upload-21">
            <label for="preset-upload-21" class="btn"
                   id="preset-upload-btn-21">Upload</label>
        </form>
        <button class="btn btn-danger" onclick="avatarPresetDelete(21)"
                id="preset-delete-btn-21" style='display:none;'>
            Delete
        </button>
    </div>
</div>
<div class="avatar-preset-item">
    <div class="avatar-preset-item-image-wrp" id="preset-wrp-22">
        Slot Is Empty
    </div>
    <div class="avatar-preset-item-actions">
        <form action="/webadmin/avatar-presets/upload"
              method="post" enctype="multipart/form-data" onsubmit="return false">
            <input type="hidden" name="format" value="json">
            <input type="hidden" name="slotId" value="22">
            <input type="file" name="image" onchange="avatarPresetUpload(this.form, 22); return false"
                   style="display: none;" id="preset-upload-22">
            <label for="preset-upload-22" class="btn"
                   id="preset-upload-btn-22">Upload</label>
        </form>
        <button class="btn btn-danger" onclick="avatarPresetDelete(22)"
                id="preset-delete-btn-22" style='display:none;'>
            Delete
        </button>
    </div>
</div>
<div class="avatar-preset-item">
    <div class="avatar-preset-item-image-wrp" id="preset-wrp-23">
        Slot Is Empty
    </div>
    <div class="avatar-preset-item-actions">
        <form action="/webadmin/avatar-presets/upload"
              method="post" enctype="multipart/form-data" onsubmit="return false">
            <input type="hidden" name="format" value="json">
            <input type="hidden" name="slotId" value="23">
            <input type="file" name="image" onchange="avatarPresetUpload(this.form, 23); return false"
                   style="display: none;" id="preset-upload-23">
            <label for="preset-upload-23" class="btn"
                   id="preset-upload-btn-23">Upload</label>
        </form>
        <button class="btn btn-danger" onclick="avatarPresetDelete(23)"
                id="preset-delete-btn-23" style='display:none;'>
            Delete
        </button>
    </div>
</div>
<div class="avatar-preset-item">
    <div class="avatar-preset-item-image-wrp" id="preset-wrp-24">
        Slot Is Empty
    </div>
    <div class="avatar-preset-item-actions">
        <form action="/webadmin/avatar-presets/upload"
              method="post" enctype="multipart/form-data" onsubmit="return false">
            <input type="hidden" name="format" value="json">
            <input type="hidden" name="slotId" value="24">
            <input type="file" name="image" onchange="avatarPresetUpload(this.form, 24); return false"
                   style="display: none;" id="preset-upload-24">
            <label for="preset-upload-24" class="btn"
                   id="preset-upload-btn-24">Upload</label>
        </form>
        <button class="btn btn-danger" onclick="avatarPresetDelete(24)"
                id="preset-delete-btn-24" style='display:none;'>
            Delete
        </button>
    </div>
</div>
<div class="avatar-preset-item">
    <div class="avatar-preset-item-image-wrp" id="preset-wrp-25">
        Slot Is Empty
    </div>
    <div class="avatar-preset-item-actions">
        <form action="/webadmin/avatar-presets/upload"
              method="post" enctype="multipart/form-data" onsubmit="return false">
            <input type="hidden" name="format" value="json">
            <input type="hidden" name="slotId" value="25">
            <input type="file" name="image" onchange="avatarPresetUpload(this.form, 25); return false"
                   style="display: none;" id="preset-upload-25">
            <label for="preset-upload-25" class="btn"
                   id="preset-upload-btn-25">Upload</label>
        </form>
        <button class="btn btn-danger" onclick="avatarPresetDelete(25)"
                id="preset-delete-btn-25" style='display:none;'>
            Delete
        </button>
    </div>
</div>
<div class="avatar-preset-item">
    <div class="avatar-preset-item-image-wrp" id="preset-wrp-26">
        Slot Is Empty
    </div>
    <div class="avatar-preset-item-actions">
        <form action="/webadmin/avatar-presets/upload"
              method="post" enctype="multipart/form-data" onsubmit="return false">
            <input type="hidden" name="format" value="json">
            <input type="hidden" name="slotId" value="26">
            <input type="file" name="image" onchange="avatarPresetUpload(this.form, 26); return false"
                   style="display: none;" id="preset-upload-26">
            <label for="preset-upload-26" class="btn"
                   id="preset-upload-btn-26">Upload</label>
        </form>
        <button class="btn btn-danger" onclick="avatarPresetDelete(26)"
                id="preset-delete-btn-26" style='display:none;'>
            Delete
        </button>
    </div>
</div>
<div class="avatar-preset-item">
    <div class="avatar-preset-item-image-wrp" id="preset-wrp-27">
        Slot Is Empty
    </div>
    <div class="avatar-preset-item-actions">
        <form action="/webadmin/avatar-presets/upload"
              method="post" enctype="multipart/form-data" onsubmit="return false">
            <input type="hidden" name="format" value="json">
            <input type="hidden" name="slotId" value="27">
            <input type="file" name="image" onchange="avatarPresetUpload(this.form, 27); return false"
                   style="display: none;" id="preset-upload-27">
            <label for="preset-upload-27" class="btn"
                   id="preset-upload-btn-27">Upload</label>
        </form>
        <button class="btn btn-danger" onclick="avatarPresetDelete(27)"
                id="preset-delete-btn-27" style='display:none;'>
            Delete
        </button>
    </div>
</div>
<div class="avatar-preset-item">
    <div class="avatar-preset-item-image-wrp" id="preset-wrp-28">
        Slot Is Empty
    </div>
    <div class="avatar-preset-item-actions">
        <form action="/webadmin/avatar-presets/upload"
              method="post" enctype="multipart/form-data" onsubmit="return false">
            <input type="hidden" name="format" value="json">
            <input type="hidden" name="slotId" value="28">
            <input type="file" name="image" onchange="avatarPresetUpload(this.form, 28); return false"
                   style="display: none;" id="preset-upload-28">
            <label for="preset-upload-28" class="btn"
                   id="preset-upload-btn-28">Upload</label>
        </form>
        <button class="btn btn-danger" onclick="avatarPresetDelete(28)"
                id="preset-delete-btn-28" style='display:none;'>
            Delete
        </button>
    </div>
</div>
<div class="avatar-preset-item">
    <div class="avatar-preset-item-image-wrp" id="preset-wrp-29">
        Slot Is Empty
    </div>
    <div class="avatar-preset-item-actions">
        <form action="/webadmin/avatar-presets/upload"
              method="post" enctype="multipart/form-data" onsubmit="return false">
            <input type="hidden" name="format" value="json">
            <input type="hidden" name="slotId" value="29">
            <input type="file" name="image" onchange="avatarPresetUpload(this.form, 29); return false"
                   style="display: none;" id="preset-upload-29">
            <label for="preset-upload-29" class="btn"
                   id="preset-upload-btn-29">Upload</label>
        </form>
        <button class="btn btn-danger" onclick="avatarPresetDelete(29)"
                id="preset-delete-btn-29" style='display:none;'>
            Delete
        </button>
    </div>
</div>
<div class="avatar-preset-item">
    <div class="avatar-preset-item-image-wrp" id="preset-wrp-30">
        Slot Is Empty
    </div>
    <div class="avatar-preset-item-actions">
        <form action="/webadmin/avatar-presets/upload"
              method="post" enctype="multipart/form-data" onsubmit="return false">
            <input type="hidden" name="format" value="json">
            <input type="hidden" name="slotId" value="30">
            <input type="file" name="image" onchange="avatarPresetUpload(this.form, 30); return false"
                   style="display: none;" id="preset-upload-30">
            <label for="preset-upload-30" class="btn"
                   id="preset-upload-btn-30">Upload</label>
        </form>
        <button class="btn btn-danger" onclick="avatarPresetDelete(30)"
                id="preset-delete-btn-30" style='display:none;'>
            Delete
        </button>
    </div>
</div>
<div class="avatar-preset-item">
    <div class="avatar-preset-item-image-wrp" id="preset-wrp-31">
        Slot Is Empty
    </div>
    <div class="avatar-preset-item-actions">
        <form action="/webadmin/avatar-presets/upload"
              method="post" enctype="multipart/form-data" onsubmit="return false">
            <input type="hidden" name="format" value="json">
            <input type="hidden" name="slotId" value="31">
            <input type="file" name="image" onchange="avatarPresetUpload(this.form, 31); return false"
                   style="display: none;" id="preset-upload-31">
            <label for="preset-upload-31" class="btn"
                   id="preset-upload-btn-31">Upload</label>
        </form>
        <button class="btn btn-danger" onclick="avatarPresetDelete(31)"
                id="preset-delete-btn-31" style='display:none;'>
            Delete
        </button>
    </div>
</div>
<script>
    //        $('.treeview.active').removeClass('active');
    $('ul.navigation > li').unwrap();
    //iCheck for checkbox and radio inputs
    $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
        checkboxClass: 'icheckbox_minimal-purple',
        radioClass: 'iradio_minimal-purple'
    });


</script>