﻿
@{
    ViewBag.Title = "ProcessedTransaction";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h3>Processed transactions <a href="http://docs.evenbetgaming.com/articles/Administration_Panel/Processed%20transactions.html" target="_blank"><sup><i class="fa fa-question-circle"></i></sup></a></h3>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                <div id="dynamicContent">
                    <div class="custom-dropdown-menu" id="columnsControls">
                    </div>

                    <table class="listing-table" id="processedTransactionsTable">
                        <thead class="listHead">
                            <tr>
                                <th data-dt-width="75" data-dt-fixed-left="true"><input type="checkbox" class="rowCheckbox" id="rowCheckboxAll" value="1"></th>

                                <th data-controls="true" data-meta-skip-manage='true' data-dt-fixed-left="true">
                                    <div>
                                        <button type="button" class="btn btn-primary custom-dropdown" id="columnControlsBtn">
                                            <img src="img/icons/menu.svg" alt="+">
                                        </button>
                                    </div>
                                </th>
                                <th data-meta-key='f_id' data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_id" orderType="">
                                            ID
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_player_id' data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_player_id" orderType="">
                                            Player
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_type' data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_type" orderType="">
                                            Type
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_pended' data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_pended" orderType="">
                                            State
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_stamp' data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_stamp" orderType="ASC">
                                            Date
                                            <img src="img/arrow_down.png" />
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_value' data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_value" orderType="">
                                            Value
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_pended_value' data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_pended_value" orderType="">
                                            Pended Value
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_money_type' data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_money_type" orderType="">
                                            Money type
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_param_notes' data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_param_notes" orderType="">
                                            Notes
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_external_account_id' data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_external_account_id" orderType="">
                                            Payer Account ID
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='linkedItem'>Linked Item</th>
                            </tr>
                            <tr class="listFilter">
                                <th>&nbsp;</th>
                                <th>
                                    <button name="butFilter" id="butFilter" type="button">Apply Filter</button>
                                    <button name="butReset" id="butReset" type="button">Reset Filter</button>
                                </th>
                                <th>
                                    <input type="text" name="f_id" id="f_id" value="" filter="1" controller="transaction" action="info" sql="m.f_id" orderable="1" nonHtml="" style="width:50px;" class="filter" />
                                </th>
                                <th>
                                    <input type="text" name="f_player_id" id="f_player_id" value="" filter="1" sql_nick="(SELECT f_nick FROM t_player WHERE f_id=f_player_id)" sql="m.f_player_id" orderable="1" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <select name="f_type" id="f_type" filter="1" sql="m.f_type" orderable="1" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="95">Unknown</option>
                                        <option value="84">To Table</option>
                                        <option value="70">From Table</option>
                                        <option value="72">Unclaimed Money</option>
                                        <option value="73">Internal Deposit</option>
                                        <option value="74">Internal Deposit Rev</option>
                                        <option value="68">Deposit</option>
                                        <option value="87">Withdrawal</option>
                                        <option value="76">Cancel Withdrawal</option>
                                        <option value="66">Tournament Buy In</option>
                                        <option value="67">Tournament Buy In Rev</option>
                                        <option value="69">Tournament Entry Fee</option>
                                        <option value="71">Tournament Entry Fee Rev</option>
                                        <option value="80">Tournament Prize</option>
                                        <option value="65">Affiliate Payment</option>
                                        <option value="79">To Player</option>
                                        <option value="77">From Player</option>
                                        <option value="75">Rake + Jackpot</option>
                                        <option value="85">Convert Out</option>
                                        <option value="78">Convert In</option>
                                        <option value="86">Convert Rake</option>
                                        <option value="90">Jackpot</option>
                                        <option value="82">Tournament Get Extra Chips</option>
                                        <option value="49">Tournament Refund Extra Chips</option>
                                        <option value="88">Crash Recovery Refund</option>
                                        <option value="81">Jackpot Room Fee</option>
                                        <option value="52">Transfer Fee</option>
                                        <option value="50">Custom In</option>
                                        <option value="51">Custom Out</option>
                                        <option value="500">System Player Internal Deposit</option>
                                        <option value="501">System Player Rev. Internal Deposit</option>
                                        <option value="502">System Player Custom Transaction</option>
                                        <option value="503">System Player Rev. Custom Transaction</option>
                                        <option value="504">Tournament Owner Reserve Guaranteed Prize</option>
                                        <option value="505">Tournament Owner Reserve Prize2</option>
                                        <option value="506">Tournament Owner Guaranteed Prize Remain Return</option>
                                        <option value="507">System Player Trans. Part Of Rake</option>
                                        <option value="508">System Player Balance Correction</option>
                                        <option value="510">Tournament Second Entry Fee</option>
                                        <option value="511">Tournament Second Entry Fee Rev.</option>
                                        <option value="512">External Jackpot Correction</option>
                                        <option value="513">Jackpot Auto TopUp</option>
                                        <option value="520">Ticket To Money</option>
                                        <option value="521">Ticket To Money Rev.</option>
                                        <option value="522">Emit Grant Ticket</option>
                                        <option value="523">Emit Grant Ticket Rev.</option>
                                        <option value="550">System Adjustments</option>
                                        <option value="551">System Adjustments Rev</option>
                                        <option value="560">Tournament Spin Prize Room Part</option>
                                        <option value="570">BankUp Rest Of WinAmount To SystemPlayer</option>
                                        <option value="571">BankUp Payment To Player By SystemPlayer</option>
                                        <option value="572">BankUp Take Money For Payment To Player</option>
                                        <option value="573">BankUp Take Money For Payment To SystemPlayer</option>
                                        <option value="574">BankUp Payment To SystemPlayer By Player</option>
                                        <option value="580">Tournament System Rebuy Fee</option>
                                        <option value="581">Tournament System Rebuy Fee Rev.</option>
                                        <option value="582">Tournament System Addon Fee</option>
                                        <option value="583">Tournament System Addon Fee Rev.</option>
                                        <option value="584">Tournament Rebuy Fee</option>
                                        <option value="585">Tournament Rebuy Fee Rev.</option>
                                        <option value="586">Tournament Addon Fee</option>
                                        <option value="587">Tournament Addon Fee Rev.</option>
                                        <option value="601">Unattended Pair Transaction</option>
                                        <option value="602">Declined From Player</option>
                                        <option value="603">Declined Withdrawal</option>
                                        <option value="604">Pended To Player</option>
                                        <option value="605">Pended Deposit</option>
                                        <option value="606">Pended Tournament Entry Fee</option>
                                        <option value="607">Pended Custom</option>
                                        <option value="608">Pended Custom Rev.</option>
                                        <option value="609">Pended Tournament Second Entry Fee</option>
                                        <option value="610">Pended Transfer Fee</option>
                                        <option value="611">Pended Crash Recovery Refund</option>
                                        <option value="612">Declined Tournament Owner Reserve Guaranteed Prize</option>
                                        <option value="613">Declined Tournament Owner Reserve Prize2</option>
                                        <option value="631">Declined External Wallet Return Cash</option>
                                        <option value="635">Pended External Wallet For Get Cash</option>
                                        <option value="636">External Wallet For Get Cash</option>
                                        <option value="637">Pended External Wallet For Tournament</option>
                                        <option value="638">External Wallet For Tournament</option>
                                        <option value="639">Pended External Wallet For Rebuy/Addon</option>
                                        <option value="640">External Wallet For Rebuy/Addon</option>
                                        <option value="630">External wallet return cash</option>
                                        <option value="632">External wallet reject tournament registration</option>
                                        <option value="641">External wallet for tournament spend</option>
                                        <option value="590">Bounty Tournament Entry Fee</option>
                                        <option value="591">Bounty Tournament Entry Fee Rev.</option>
                                        <option value="593">Bounty Prize From Casino</option>
                                        <option value="592">Knockout Prize</option>
                                        <option value="594">Bounty Prize</option>
                                        <option value="595">Pro Bounty Prize</option>
                                        <option value="53">Insurance comission</option>
                                        <option value="54">Insurance payment</option>
                                        <option value="55">Personalized rake</option>
                                        <option value="652">Government Fee</option>
                                    </select>
                                </th>
                                <th>
                                    <select name="f_pended" id="f_pended" filter="1" orderable="1" sql="f_pended" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="0">Accepted</option>
                                        <option value="1">Pending</option>
                                        <option value="2">Declined</option>
                                        <option value="3">Draft</option>
                                        <option value="4">Pending (Money Reserved)</option>
                                        <option value="9">Revert Declined</option>
                                        <option value="100">Error Comminted</option>
                                        <option value="101">Error Uncommited</option>
                                    </select>
                                </th>
                                <th>
                                    <input type="text" name="f_stamp" id="f_stamp" value="" filter="1" style="width: 120px" orderable="1" sql="f_stamp" nonHtml="" class="filter" readonly="readonly" onclick='displayDatePicker("f_stamp", false, "ymd", "-");' />
                                </th>
                                <th>
                                    <input type="text" name="f_value" id="f_value" value="" filter="1" orderable="1" sql="f_value" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <input type="text" name="f_pended_value" id="f_pended_value" value="" filter="1" orderable="1" sql="f_pended_value" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <select name="f_money_type" id="f_money_type" filter="1" orderable="1" sql="f_money_type" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="82">Real Money</option>
                                        <option value="80">Play Money</option>
                                        <option value="65">cash game points</option>
                                    </select>
                                </th>
                                <th>
                                    <input type="text" name="f_param_notes" id="f_param_notes" value="" filter="1" orderable="1" sql="f_param_notes" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <input type="text" name="f_external_account_id" id="f_external_account_id" value="" filter="1" sql="(SELECT f_external_id FROM webadmin_db_2.t_payment_transactions WHERE f_internal_id=m.f_id)" orderable="1" nonHtml="" class="filter" />
                                </th>

                                <th>&nbsp;</th>
                            </tr>
                        </thead>

                        <tr class="odd">
                            <td><input type="checkbox" class="rowCheckbox" value="5131902"></td>
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/5131902">
                                    5131902
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/5131823">JohnyD</a></td>
                            <td>Deposit</td>
                            <td>Accepted</td>
                            <td>2020/02/27 03:19:49</td>
                            <td>1000.00</td>
                            <td>0.00</td>
                            <td>Real Money</td>
                            <td></td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Transaction:&nbsp;<a href="/webadmin/transaction/info/id/5131901">5131901</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td><input type="checkbox" class="rowCheckbox" value="5131899"></td>
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/5131899">
                                    5131899
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/5126947">Rihana</a></td>
                            <td>Deposit</td>
                            <td>Accepted</td>
                            <td>2020/02/27 03:19:23</td>
                            <td>1000.00</td>
                            <td>0.00</td>
                            <td>Real Money</td>
                            <td></td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Transaction:&nbsp;<a href="/webadmin/transaction/info/id/5131898">5131898</a>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td><input type="checkbox" class="rowCheckbox" value="437"></td>
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/437">
                                    437
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/4544360">3406D400</a></td>
                            <td>Withdrawal</td>
                            <td>Accepted</td>
                            <td>2020/02/23 22:54:07</td>
                            <td>30.60</td>
                            <td>0.00</td>
                            <td>Real Money</td>
                            <td></td>
                            <td></td>


                            <td style="white-space: nowrap;">
                            </td>
                        </tr>
                        <tr class="even">
                            <td><input type="checkbox" class="rowCheckbox" value="361"></td>
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/361">
                                    361
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/4913136">BOT_5</a></td>
                            <td>Withdrawal</td>
                            <td>Accepted</td>
                            <td>2020/02/23 22:09:31</td>
                            <td>174.17</td>
                            <td>0.00</td>
                            <td>Real Money</td>
                            <td></td>
                            <td></td>


                            <td style="white-space: nowrap;">
                            </td>
                        </tr>
                        <tr class="odd">
                            <td><input type="checkbox" class="rowCheckbox" value="422"></td>
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/422">
                                    422
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/4605281">SLVQIN</a></td>
                            <td>Withdrawal</td>
                            <td>Accepted</td>
                            <td>2020/02/23 21:51:38</td>
                            <td>189.41</td>
                            <td>0.00</td>
                            <td>Real Money</td>
                            <td></td>
                            <td></td>


                            <td style="white-space: nowrap;">
                            </td>
                        </tr>
                        <tr class="even">
                            <td><input type="checkbox" class="rowCheckbox" value="368"></td>
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/368">
                                    368
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/4911315">P1IZJE55</a></td>
                            <td>Withdrawal</td>
                            <td>Accepted</td>
                            <td>2020/02/23 21:43:36</td>
                            <td>163.16</td>
                            <td>0.00</td>
                            <td>Real Money</td>
                            <td></td>
                            <td></td>


                            <td style="white-space: nowrap;">
                            </td>
                        </tr>
                        <tr class="odd">
                            <td><input type="checkbox" class="rowCheckbox" value="418"></td>
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/418">
                                    418
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/4613922">BDQJ6NRR</a></td>
                            <td>Withdrawal</td>
                            <td>Accepted</td>
                            <td>2020/02/23 21:19:08</td>
                            <td>52.45</td>
                            <td>0.00</td>
                            <td>Real Money</td>
                            <td></td>
                            <td></td>


                            <td style="white-space: nowrap;">
                            </td>
                        </tr>
                        <tr class="even">
                            <td><input type="checkbox" class="rowCheckbox" value="383"></td>
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/383">
                                    383
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/4788261">CICV5W99</a></td>
                            <td>Withdrawal</td>
                            <td>Accepted</td>
                            <td>2020/02/23 21:15:06</td>
                            <td>120.33</td>
                            <td>0.00</td>
                            <td>Real Money</td>
                            <td></td>
                            <td></td>


                            <td style="white-space: nowrap;">
                            </td>
                        </tr>
                        <tr class="odd">
                            <td><input type="checkbox" class="rowCheckbox" value="419"></td>
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/419">
                                    419
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/4613541">CH2UJ0FF</a></td>
                            <td>Withdrawal</td>
                            <td>Accepted</td>
                            <td>2020/02/23 20:50:53</td>
                            <td>49.03</td>
                            <td>0.00</td>
                            <td>Real Money</td>
                            <td></td>
                            <td></td>


                            <td style="white-space: nowrap;">
                            </td>
                        </tr>
                        <tr class="even">
                            <td><input type="checkbox" class="rowCheckbox" value="427"></td>
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/427">
                                    427
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/4583446">EOHIZF77</a></td>
                            <td>Withdrawal</td>
                            <td>Accepted</td>
                            <td>2020/02/23 20:41:34</td>
                            <td>70.72</td>
                            <td>0.00</td>
                            <td>Real Money</td>
                            <td></td>
                            <td></td>


                            <td style="white-space: nowrap;">
                            </td>
                        </tr>
                        <tr class="odd">
                            <td><input type="checkbox" class="rowCheckbox" value="295"></td>
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/295">
                                    295
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/4524858">51EB6BBB</a></td>
                            <td>Deposit</td>
                            <td>Accepted</td>
                            <td>2020/02/23 20:14:37</td>
                            <td>193.41</td>
                            <td>0.00</td>
                            <td>Real Money</td>
                            <td></td>
                            <td></td>


                            <td style="white-space: nowrap;">
                            </td>
                        </tr>
                        <tr class="even">
                            <td><input type="checkbox" class="rowCheckbox" value="363"></td>
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/363">
                                    363
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/4913134">blbot</a></td>
                            <td>Withdrawal</td>
                            <td>Accepted</td>
                            <td>2020/02/23 19:33:32</td>
                            <td>64.51</td>
                            <td>0.00</td>
                            <td>Real Money</td>
                            <td></td>
                            <td></td>


                            <td style="white-space: nowrap;">
                            </td>
                        </tr>
                        <tr class="odd">
                            <td><input type="checkbox" class="rowCheckbox" value="280"></td>
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/280">
                                    280
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/4576540">SMCOTMMM</a></td>
                            <td>Deposit</td>
                            <td>Accepted</td>
                            <td>2020/02/23 18:56:17</td>
                            <td>97.67</td>
                            <td>0.00</td>
                            <td>Real Money</td>
                            <td></td>
                            <td></td>


                            <td style="white-space: nowrap;">
                            </td>
                        </tr>
                        <tr class="even">
                            <td><input type="checkbox" class="rowCheckbox" value="213"></td>
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/213">
                                    213
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/4913134">blbot</a></td>
                            <td>Deposit</td>
                            <td>Accepted</td>
                            <td>2020/02/23 18:51:15</td>
                            <td>112.30</td>
                            <td>0.00</td>
                            <td>Real Money</td>
                            <td></td>
                            <td></td>


                            <td style="white-space: nowrap;">
                            </td>
                        </tr>
                        <tr class="odd">
                            <td><input type="checkbox" class="rowCheckbox" value="403"></td>
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/403">
                                    403
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/4680467">ZDZX1GWW</a></td>
                            <td>Withdrawal</td>
                            <td>Accepted</td>
                            <td>2020/02/23 18:33:06</td>
                            <td>188.28</td>
                            <td>0.00</td>
                            <td>Real Money</td>
                            <td></td>
                            <td></td>


                            <td style="white-space: nowrap;">
                            </td>
                        </tr>
                        <tr class="even">
                            <td><input type="checkbox" class="rowCheckbox" value="291"></td>
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/291">
                                    291
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/4534879">S934BONN</a></td>
                            <td>Deposit</td>
                            <td>Accepted</td>
                            <td>2020/02/23 18:26:29</td>
                            <td>14.53</td>
                            <td>0.00</td>
                            <td>Real Money</td>
                            <td></td>
                            <td></td>


                            <td style="white-space: nowrap;">
                            </td>
                        </tr>
                        <tr class="odd">
                            <td><input type="checkbox" class="rowCheckbox" value="230"></td>
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/230">
                                    230
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/4793660">12CHS00</a></td>
                            <td>Deposit</td>
                            <td>Accepted</td>
                            <td>2020/02/23 17:47:12</td>
                            <td>95.48</td>
                            <td>0.00</td>
                            <td>Real Money</td>
                            <td></td>
                            <td></td>


                            <td style="white-space: nowrap;">
                            </td>
                        </tr>
                        <tr class="even">
                            <td><input type="checkbox" class="rowCheckbox" value="218"></td>
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/218">
                                    218
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/4911315">P1IZJE55</a></td>
                            <td>Deposit</td>
                            <td>Accepted</td>
                            <td>2020/02/23 17:46:57</td>
                            <td>174.66</td>
                            <td>0.00</td>
                            <td>Real Money</td>
                            <td></td>
                            <td></td>


                            <td style="white-space: nowrap;">
                            </td>
                        </tr>
                        <tr class="odd">
                            <td><input type="checkbox" class="rowCheckbox" value="405"></td>
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/405">
                                    405
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/4674611">QNEWQZ66</a></td>
                            <td>Withdrawal</td>
                            <td>Accepted</td>
                            <td>2020/02/23 17:44:32</td>
                            <td>167.14</td>
                            <td>0.00</td>
                            <td>Real Money</td>
                            <td></td>
                            <td></td>


                            <td style="white-space: nowrap;">
                            </td>
                        </tr>
                        <tr class="even">
                            <td><input type="checkbox" class="rowCheckbox" value="206"></td>
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/206">
                                    206
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/4913149">test_pok</a></td>
                            <td>Deposit</td>
                            <td>Accepted</td>
                            <td>2020/02/23 17:17:55</td>
                            <td>176.41</td>
                            <td>0.00</td>
                            <td>Real Money</td>
                            <td></td>
                            <td></td>


                            <td style="white-space: nowrap;">
                            </td>
                        </tr>
                        <tr class="odd">
                            <td><input type="checkbox" class="rowCheckbox" value="433"></td>
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/433">
                                    433
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/4562916">2DAF1PPP</a></td>
                            <td>Withdrawal</td>
                            <td>Accepted</td>
                            <td>2020/02/23 17:17:29</td>
                            <td>67.36</td>
                            <td>0.00</td>
                            <td>Real Money</td>
                            <td></td>
                            <td></td>


                            <td style="white-space: nowrap;">
                            </td>
                        </tr>
                        <tr class="even">
                            <td><input type="checkbox" class="rowCheckbox" value="238"></td>
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/238">
                                    238
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/4778728">DTL3LXZZ</a></td>
                            <td>Deposit</td>
                            <td>Accepted</td>
                            <td>2020/02/23 17:15:45</td>
                            <td>145.72</td>
                            <td>0.00</td>
                            <td>Real Money</td>
                            <td></td>
                            <td></td>


                            <td style="white-space: nowrap;">
                            </td>
                        </tr>
                        <tr class="odd">
                            <td><input type="checkbox" class="rowCheckbox" value="219"></td>
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/219">
                                    219
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/4910776">9OJC3OO</a></td>
                            <td>Deposit</td>
                            <td>Accepted</td>
                            <td>2020/02/23 17:15:19</td>
                            <td>178.04</td>
                            <td>0.00</td>
                            <td>Real Money</td>
                            <td></td>
                            <td></td>


                            <td style="white-space: nowrap;">
                            </td>
                        </tr>
                        <tr class="even">
                            <td><input type="checkbox" class="rowCheckbox" value="398"></td>
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/398">
                                    398
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/4716726">FICSF55</a></td>
                            <td>Withdrawal</td>
                            <td>Accepted</td>
                            <td>2020/02/23 17:08:51</td>
                            <td>51.73</td>
                            <td>0.00</td>
                            <td>Real Money</td>
                            <td></td>
                            <td></td>


                            <td style="white-space: nowrap;">
                            </td>
                        </tr>
                        <tr class="odd">
                            <td><input type="checkbox" class="rowCheckbox" value="264"></td>
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/264">
                                    264
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/4630668">9B78YISS</a></td>
                            <td>Deposit</td>
                            <td>Accepted</td>
                            <td>2020/02/23 15:59:34</td>
                            <td>137.91</td>
                            <td>0.00</td>
                            <td>Real Money</td>
                            <td></td>
                            <td></td>


                            <td style="white-space: nowrap;">
                            </td>
                        </tr>
                        <tr class="even">
                            <td><input type="checkbox" class="rowCheckbox" value="356"></td>
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/356">
                                    356
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/4913149">test_pok</a></td>
                            <td>Withdrawal</td>
                            <td>Accepted</td>
                            <td>2020/02/23 15:20:22</td>
                            <td>85.68</td>
                            <td>0.00</td>
                            <td>Real Money</td>
                            <td></td>
                            <td></td>


                            <td style="white-space: nowrap;">
                            </td>
                        </tr>
                        <tr class="odd">
                            <td><input type="checkbox" class="rowCheckbox" value="396"></td>
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/396">
                                    396
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/4734100">ZDS4EQ00</a></td>
                            <td>Withdrawal</td>
                            <td>Accepted</td>
                            <td>2020/02/23 14:24:28</td>
                            <td>81.40</td>
                            <td>0.00</td>
                            <td>Real Money</td>
                            <td></td>
                            <td></td>


                            <td style="white-space: nowrap;">
                            </td>
                        </tr>
                        <tr class="even">
                            <td><input type="checkbox" class="rowCheckbox" value="246"></td>
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/246">
                                    246
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/4734100">ZDS4EQ00</a></td>
                            <td>Deposit</td>
                            <td>Accepted</td>
                            <td>2020/02/23 14:01:35</td>
                            <td>118.07</td>
                            <td>0.00</td>
                            <td>Real Money</td>
                            <td></td>
                            <td></td>


                            <td style="white-space: nowrap;">
                            </td>
                        </tr>
                        <tr class="odd">
                            <td><input type="checkbox" class="rowCheckbox" value="287"></td>
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/287">
                                    287
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/4544360">3406D400</a></td>
                            <td>Deposit</td>
                            <td>Accepted</td>
                            <td>2020/02/23 13:48:46</td>
                            <td>104.13</td>
                            <td>0.00</td>
                            <td>Real Money</td>
                            <td></td>
                            <td></td>


                            <td style="white-space: nowrap;">
                            </td>
                        </tr>
                        <tr class="even">
                            <td><input type="checkbox" class="rowCheckbox" value="441"></td>
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/441">
                                    441
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/4534879">S934BONN</a></td>
                            <td>Withdrawal</td>
                            <td>Accepted</td>
                            <td>2020/02/23 13:26:00</td>
                            <td>81.09</td>
                            <td>0.00</td>
                            <td>Real Money</td>
                            <td></td>
                            <td></td>


                            <td style="white-space: nowrap;">
                            </td>
                        </tr>
                        <tr class="odd">
                            <td><input type="checkbox" class="rowCheckbox" value="276"></td>
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/276">
                                    276
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/4583820">JGYLR388</a></td>
                            <td>Deposit</td>
                            <td>Accepted</td>
                            <td>2020/02/23 13:20:15</td>
                            <td>139.72</td>
                            <td>0.00</td>
                            <td>Real Money</td>
                            <td></td>
                            <td></td>


                            <td style="white-space: nowrap;">
                            </td>
                        </tr>
                        <tr class="even">
                            <td><input type="checkbox" class="rowCheckbox" value="211"></td>
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/211">
                                    211
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/4913136">BOT_5</a></td>
                            <td>Deposit</td>
                            <td>Accepted</td>
                            <td>2020/02/23 13:11:16</td>
                            <td>161.94</td>
                            <td>0.00</td>
                            <td>Real Money</td>
                            <td></td>
                            <td></td>


                            <td style="white-space: nowrap;">
                            </td>
                        </tr>
                        <tr class="odd">
                            <td><input type="checkbox" class="rowCheckbox" value="367"></td>
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/367">
                                    367
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/4913130">BOT_4</a></td>
                            <td>Withdrawal</td>
                            <td>Accepted</td>
                            <td>2020/02/23 13:02:15</td>
                            <td>192.62</td>
                            <td>0.00</td>
                            <td>Real Money</td>
                            <td></td>
                            <td></td>


                            <td style="white-space: nowrap;">
                            </td>
                        </tr>
                        <tr class="even">
                            <td><input type="checkbox" class="rowCheckbox" value="203"></td>
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/203">
                                    203
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/4913152">BOT_8</a></td>
                            <td>Deposit</td>
                            <td>Accepted</td>
                            <td>2020/02/23 12:59:30</td>
                            <td>170.76</td>
                            <td>0.00</td>
                            <td>Real Money</td>
                            <td></td>
                            <td></td>


                            <td style="white-space: nowrap;">
                            </td>
                        </tr>
                        <tr class="odd">
                            <td><input type="checkbox" class="rowCheckbox" value="297"></td>
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/297">
                                    297
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/4518174">MQZAMCLL</a></td>
                            <td>Deposit</td>
                            <td>Accepted</td>
                            <td>2020/02/23 12:50:20</td>
                            <td>57.99</td>
                            <td>0.00</td>
                            <td>Real Money</td>
                            <td></td>
                            <td></td>


                            <td style="white-space: nowrap;">
                            </td>
                        </tr>
                        <tr class="even">
                            <td><input type="checkbox" class="rowCheckbox" value="277"></td>
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/277">
                                    277
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/4583446">EOHIZF77</a></td>
                            <td>Deposit</td>
                            <td>Accepted</td>
                            <td>2020/02/23 10:40:36</td>
                            <td>90.22</td>
                            <td>0.00</td>
                            <td>Real Money</td>
                            <td></td>
                            <td></td>


                            <td style="white-space: nowrap;">
                            </td>
                        </tr>
                        <tr class="odd">
                            <td><input type="checkbox" class="rowCheckbox" value="208"></td>
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/208">
                                    208
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/4913143">BOT_6</a></td>
                            <td>Deposit</td>
                            <td>Accepted</td>
                            <td>2020/02/23 09:35:58</td>
                            <td>133.06</td>
                            <td>0.00</td>
                            <td>Real Money</td>
                            <td></td>
                            <td></td>


                            <td style="white-space: nowrap;">
                            </td>
                        </tr>
                        <tr class="even">
                            <td><input type="checkbox" class="rowCheckbox" value="210"></td>
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/210">
                                    210
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/4913137">BOT_3</a></td>
                            <td>Deposit</td>
                            <td>Accepted</td>
                            <td>2020/02/23 09:26:27</td>
                            <td>173.73</td>
                            <td>0.00</td>
                            <td>Real Money</td>
                            <td></td>
                            <td></td>


                            <td style="white-space: nowrap;">
                            </td>
                        </tr>
                        <tr class="odd">
                            <td><input type="checkbox" class="rowCheckbox" value="224"></td>
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/224">
                                    224
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/4825188">IGMO8RHH</a></td>
                            <td>Deposit</td>
                            <td>Accepted</td>
                            <td>2020/02/23 09:18:57</td>
                            <td>154.77</td>
                            <td>0.00</td>
                            <td>Real Money</td>
                            <td></td>
                            <td></td>


                            <td style="white-space: nowrap;">
                            </td>
                        </tr>
                        <tr class="even">
                            <td><input type="checkbox" class="rowCheckbox" value="248"></td>
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/248">
                                    248
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/4716726">FICSF55</a></td>
                            <td>Deposit</td>
                            <td>Accepted</td>
                            <td>2020/02/23 08:44:11</td>
                            <td>52.15</td>
                            <td>0.00</td>
                            <td>Real Money</td>
                            <td></td>
                            <td></td>


                            <td style="white-space: nowrap;">
                            </td>
                        </tr>
                        <tr class="odd">
                            <td><input type="checkbox" class="rowCheckbox" value="369"></td>
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/369">
                                    369
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/4910776">9OJC3OO</a></td>
                            <td>Withdrawal</td>
                            <td>Accepted</td>
                            <td>2020/02/23 08:37:01</td>
                            <td>174.11</td>
                            <td>0.00</td>
                            <td>Real Money</td>
                            <td></td>
                            <td></td>


                            <td style="white-space: nowrap;">
                            </td>
                        </tr>
                        <tr class="even">
                            <td><input type="checkbox" class="rowCheckbox" value="351"></td>
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/351">
                                    351
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/4913158">testbetlive</a></td>
                            <td>Withdrawal</td>
                            <td>Accepted</td>
                            <td>2020/02/23 08:02:12</td>
                            <td>100.94</td>
                            <td>0.00</td>
                            <td>Real Money</td>
                            <td></td>
                            <td></td>


                            <td style="white-space: nowrap;">
                            </td>
                        </tr>
                        <tr class="odd">
                            <td><input type="checkbox" class="rowCheckbox" value="253"></td>
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/253">
                                    253
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/4680467">ZDZX1GWW</a></td>
                            <td>Deposit</td>
                            <td>Accepted</td>
                            <td>2020/02/23 08:00:46</td>
                            <td>80.69</td>
                            <td>0.00</td>
                            <td>Real Money</td>
                            <td></td>
                            <td></td>


                            <td style="white-space: nowrap;">
                            </td>
                        </tr>
                        <tr class="even">
                            <td><input type="checkbox" class="rowCheckbox" value="223"></td>
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/223">
                                    223
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/4840466">XLVCTJEE</a></td>
                            <td>Deposit</td>
                            <td>Accepted</td>
                            <td>2020/02/23 07:41:27</td>
                            <td>68.72</td>
                            <td>0.00</td>
                            <td>Real Money</td>
                            <td></td>
                            <td></td>


                            <td style="white-space: nowrap;">
                            </td>
                        </tr>
                        <tr class="odd">
                            <td><input type="checkbox" class="rowCheckbox" value="380"></td>
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/380">
                                    380
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/4793660">12CHS00</a></td>
                            <td>Withdrawal</td>
                            <td>Accepted</td>
                            <td>2020/02/23 07:01:14</td>
                            <td>138.39</td>
                            <td>0.00</td>
                            <td>Real Money</td>
                            <td></td>
                            <td></td>


                            <td style="white-space: nowrap;">
                            </td>
                        </tr>
                        <tr class="even">
                            <td><input type="checkbox" class="rowCheckbox" value="352"></td>
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/352">
                                    352
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/4913153">TestBot111</a></td>
                            <td>Withdrawal</td>
                            <td>Accepted</td>
                            <td>2020/02/23 06:43:59</td>
                            <td>68.70</td>
                            <td>0.00</td>
                            <td>Real Money</td>
                            <td></td>
                            <td></td>


                            <td style="white-space: nowrap;">
                            </td>
                        </tr>
                        <tr class="odd">
                            <td><input type="checkbox" class="rowCheckbox" value="221"></td>
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/221">
                                    221
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/4843867">5KGR6B99</a></td>
                            <td>Deposit</td>
                            <td>Accepted</td>
                            <td>2020/02/23 06:02:15</td>
                            <td>117.68</td>
                            <td>0.00</td>
                            <td>Real Money</td>
                            <td></td>
                            <td></td>


                            <td style="white-space: nowrap;">
                            </td>
                        </tr>
                        <tr class="even">
                            <td><input type="checkbox" class="rowCheckbox" value="407"></td>
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/407">
                                    407
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/4669492">D42W9Q00</a></td>
                            <td>Withdrawal</td>
                            <td>Accepted</td>
                            <td>2020/02/23 05:13:13</td>
                            <td>198.86</td>
                            <td>0.00</td>
                            <td>Real Money</td>
                            <td></td>
                            <td></td>


                            <td style="white-space: nowrap;">
                            </td>
                        </tr>
                        <tr class="odd">
                            <td><input type="checkbox" class="rowCheckbox" value="448"></td>
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/448">
                                    448
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/4518017">LHS76HUU</a></td>
                            <td>Withdrawal</td>
                            <td>Accepted</td>
                            <td>2020/02/23 05:04:11</td>
                            <td>90.94</td>
                            <td>0.00</td>
                            <td>Real Money</td>
                            <td></td>
                            <td></td>


                            <td style="white-space: nowrap;">
                            </td>
                        </tr>
                        <tr class="even">
                            <td><input type="checkbox" class="rowCheckbox" value="272"></td>
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/272">
                                    272
                                </a> &nbsp;
                            </td>
                            <td><a href="/webadmin/user/info/id/4605281">SLVQIN</a></td>
                            <td>Deposit</td>
                            <td>Accepted</td>
                            <td>2020/02/23 04:47:57</td>
                            <td>132.40</td>
                            <td>0.00</td>
                            <td>Real Money</td>
                            <td></td>
                            <td></td>


                            <td style="white-space: nowrap;">
                            </td>
                        </tr>
                    </table>
                    <div class='rowCount'>
                        <div class="row">
                            <div class="col-md-3">
                                Rows: 3220&ensp;|&ensp;
                                <div class="limit-controls" style="display: inline-block;">
                                    <div id="perpage">Per page:</div>
                                    <select class="limit-links">
                                        <option data-href="/webadmin/transaction/list-pended/limit/10">10</option>
                                        <option data-href="/webadmin/transaction/list-pended/limit/25">25</option>
                                        <option selected data-href="/webadmin/transaction/list-pended/limit/50">50</option>
                                        <option data-href="/webadmin/transaction/list-pended/limit/100">100</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6" style="display: flex; justify-content: center">
                                <div class="paginator-controls" id="blockPaginatorControls">
                                    <!-- First page link -->
                                    <div class="paginator-link">
                                        <span class="disabled">First</span>
                                    </div>
                                    <!-- Previous page link -->
                                    <div class="paginator-link">
                                        <span class="disabled">&lt; Previous</span>
                                    </div>
                                    <!-- Numbered page links -->
                                    <div class="paginator-link paginator-link_border">
                                        <span class="current">1</span>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/transaction/list-pended/page/2">2</a>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/transaction/list-pended/page/3">3</a>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/transaction/list-pended/page/4">4</a>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/transaction/list-pended/page/5">5</a>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/transaction/list-pended/page/6">6</a>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/transaction/list-pended/page/7">7</a>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/transaction/list-pended/page/8">8</a>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/transaction/list-pended/page/9">9</a>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/transaction/list-pended/page/10">10</a>
                                    </div>

                                    <!-- Next page link -->
                                    <div class="paginator-link">
                                        <a href="/webadmin/transaction/list-pended/page/2">Next &gt;</a>
                                    </div>
                                    <!-- Last page link -->
                                    <div class="paginator-link">
                                        <a href="/webadmin/transaction/list-pended/page/65">Last</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="pull-right">
                                    <a href="/webadmin/transaction/list-pended/_output/xlsx"><img src="img/icons/xls.svg" alt="Excel"></a>
                                    <a href="/webadmin/transaction/list-pended/_output/csv"><img src="img/icons/csv.svg" alt="CSV"></a>
                                    <a href="/webadmin/transaction/list-pended/_output/ods"><img src="img/icons/odt.svg" alt="OpenDocument" /></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>