﻿
@{
    ViewBag.Title = "ProductList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h3>
    Product List&nbsp;
    <a href="/webadmin/in-app-purchases/product/add" class="btn btn-primary">
        <i class="fa fa-plus"></i>&nbsp;Add
    </a>
</h3>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
        </div>
        <div class="box">
            <div class="box-body">
                <div id="dynamicContent">

                    <div class="custom-dropdown-menu" id="columnsControls">
                    </div>

                    <table id='inAppProducts' class="listing-table" data-dt-not-fixed-cols="true">
                        <thead class="listHead">
                            <tr>
                                <th data-meta-skip-manage='true'>
                                    <div>
                                        <button type="button" class="btn btn-primary custom-dropdown" id="columnControlsBtn">
                                            <img src="img/icons/menu.svg" alt="+">
                                        </button>
                                    </div>
                                </th>
                                <th data-meta-key='id'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="id"
                                           orderType="">
                                            ID
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='order'
                                    data-meta-visibility="true">
                                    <nobr>
                                        Order
                                    </nobr>
                                </th>
                                <th data-meta-key='name'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="name"
                                           orderType="">
                                            Name
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='icon'
                                    data-meta-visibility="true">
                                    <nobr>
                                        Icon
                                    </nobr>
                                </th>
                                <th data-meta-key='active'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="active"
                                           orderType="">
                                            Active
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='for_clubs'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="for_clubs"
                                           orderType="">
                                            For Clubs
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='fast_purchase'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="fast_purchase"
                                           orderType="">
                                            Fast purchase
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='store'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="store"
                                           orderType="">
                                            Store
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='store_product_id'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="store_product_id"
                                           orderType="">
                                            Store Product Id
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='created_at'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="created_at"
                                           orderType="">
                                            Created At
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='type'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="type"
                                           orderType="">
                                            Type
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='price'
                                    data-meta-visibility="true">
                                    <nobr>
                                        Price
                                    </nobr>
                                </th>
                                <th data-meta-key='price_mt'
                                    data-meta-visibility="true">
                                    <nobr>
                                        Money Type
                                    </nobr>
                                </th>
                                <th data-meta-key='extra'
                                    data-meta-visibility="true">
                                    <nobr>
                                        Product Details
                                    </nobr>
                                </th>
                            </tr>
                            <tr class="listFilter">
                                <th>

                                    <button name="butFilter" id="butFilter" type="button">Apply Filter</button>

                                    <button name="butReset" id="butReset" type="button">Reset Filter</button>
                                </th>
                                <th>
                                    <input type="text" name="id" id="id" value="" filter="1" orderable="1" sql="_e.f_id" nonHtml="" style="width:50px;" class="filter" />
                                </th>
                                <th>
                                    <input type="text" name="order" id="order" value="" filter="1" orderable="" sql="_e.f_order" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <input type="text" name="name" id="name" value="" filter="1" orderable="1" sql="_e.f_name" nonHtml="" class="filter" />
                                </th>
                                <th>&nbsp;</th>
                                <th>
                                    <select name="active" id="active" filter="1" orderable="1" sql="_e.f_is_active" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="1">Yes</option>
                                        <option value="0">No</option>
                                    </select>
                                </th>
                                <th>
                                    <select name="for_clubs" id="for_clubs" filter="1" orderable="1" sql="_e.f_is_for_clubs" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="1">Yes</option>
                                        <option value="0">No</option>
                                    </select>
                                </th>
                                <th>
                                    <select name="fast_purchase" id="fast_purchase" filter="1" orderable="1" sql="_e.f_is_fast_purchase" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="1">Yes</option>
                                        <option value="0">No</option>
                                    </select>
                                </th>
                                <th>
                                    <select name="store" id="store" filter="1" orderable="1" sql="_e.f_store" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="google-play">Google Play</option>
                                        <option value="itunes">iTunes</option>
                                        <option value="enterra">Internal</option>
                                    </select>
                                </th>
                                <th>
                                    <input type="text" name="store_product_id" id="store_product_id" value="" filter="1" orderable="1" sql="_e.f_store_product_id" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <input type="text" name="created_at" id="created_at" value="" filter="1" orderale="1" sql="_e.f_created_at" orderable="1" nonHtml="" class="filter" readonly="readonly" onclick='displayDatePicker("created_at", false, "ymd", "-");' />
                                </th>
                                <th>
                                    <select name="type" id="type" filter="1" orderable="1" sql="_e.f_type" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="L">Club Level</option>
                                        <option value="E">Emoji Package</option>
                                        <option value="I">Insurance Time Bank</option>
                                        <option value="M">Money</option>
                                        <option value="C">Number Of Extra Clubs</option>
                                        <option value="R">Rabbit Hunting</option>
                                        <option value="O">Show Opponent Game Statistics</option>
                                        <option value="T">Table Play Time</option>
                                        <option value="V">Vip Card</option>
                                    </select>
                                </th>
                                <th>
                                    <input type="text" name="price" id="price" value="" filter="1" orderable="" sql="_e.f_price" fieldExt="price_mt" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <select name="price_mt" id="price_mt" filter="1" orderable="" sql="_e.f_price_money_type" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="82">Real Money</option>
                                        <option value="80">Play Money</option>
                                        <option value="65">cash game points</option>
                                    </select>
                                </th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>