﻿
@{
    ViewBag.Title = "ProductPurchaseSettings";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h3>In-App Purchases Settings</h3>
<div class="box box-solid">
    <form enctype="multipart/form-data" action="" method="post" dojoType="dijit.form.Form">
        <div class="nav-tabs-custom" id="tabs_514">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#tabs_514_iTunes" data-toggle="tab" aria-expanded="true">
                        iTunes
                    </a>
                </li>
                <li>
                    <a href="#tabs_514_GooglePlay" data-toggle="tab" aria-expanded="false">
                        Google Play
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tabs_514_iTunes">
                    <div class="box-body">
                        <div class="form-group" id="form-element-IsSandbox">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="IsSandbox" value="0" /><input type="checkbox" name="IsSandbox" id="IsSandbox" value="1" />Sandbox Mode
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="form-element-SharedSecret">
                            <label for="SharedSecret" class="optional">Shared Secret</label>

                            <input type="text" name="SharedSecret" id="SharedSecret" value="" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tabs_514_GooglePlay">
                    <div class="box-body">
                        <div class="form-group" id="form-element-ApplicationName">
                            <label for="ApplicationName" class="optional">Application Name</label>

                            <input type="text" name="ApplicationName" id="ApplicationName" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-PackageName">
                            <label for="PackageName" class="optional">Package Name</label>

                            <input type="text" name="PackageName" id="PackageName" value="" placeholder="com.example" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-AuthConfig">
                            <label for="AuthConfig" class="optional">Auth Config</label>
                            <div class="input-group">
                                <input type="hidden" name="MAX_FILE_SIZE" value="2097152" id="MAX_FILE_SIZE" />
                                <input type="file" name="AuthConfig" id="AuthConfig" class="form-control" /><i class="input-group-addon fa fa-circle-o"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="submit" name="send" id="send" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>

