﻿
@{
    ViewBag.Title = "ProductAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h3>Add Product</h3>
<div class="box box-primary">
    <form enctype="application/x-www-form-urlencoded" action="" method="post" dojoType="dijit.form.Form">
        <div class="box-body">
            <div class="form-group" id="form-element-type">
                <label for="type" class="required">Product Type</label>

                <select name="type" id="type" class="form-control select2">
                    <option value="L">Club Level</option>
                    <option value="E">Emoji Package</option>
                    <option value="I">Insurance Time Bank</option>
                    <option value="M">Money</option>
                    <option value="C">Number Of Extra Clubs</option>
                    <option value="R">Rabbit Hunting</option>
                    <option value="O">Show Opponent Game Statistics</option>
                    <option value="T">Table Play Time</option>
                    <option value="V">Vip Card</option>
                </select>
            </div>
            <div class="form-group" id="form-element-store">
                <label for="store" class="required">Store</label>

                <select name="store" id="store" class="form-control select2">
                    <option value="google-play">Google Play</option>
                    <option value="itunes">iTunes</option>
                    <option value="enterra">Internal</option>
                </select>
            </div>

            <input type="submit" name="step1" id="step1" value="Apply" class="btn btn-primary" />
        </div>
    </form>
</div>