﻿
@{
    ViewBag.Title = "ProhibitedIPList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h3>
    Prohibited IP List
    <a href="/webadmin/prohibited-users/ip/add" class="btn btn-primary">
        <i class="fa fa-plus"></i>&nbsp;Add IP
    </a>
</h3>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
        </div>
        <div class="box">
            <div class="box-body">
                <div id="dynamicContent">
                    <div class="custom-dropdown-menu" id="columnsControls">
                    </div>

                    <table id='prohibited-users-ip-list' class="listing-table" data-dt-not-fixed-cols="true">
                        <thead class="listHead">
                            <tr>
                                <th data-meta-skip-manage='true'>
                                    <div>
                                        <button type="button" class="btn btn-primary custom-dropdown" id="columnControlsBtn">
                                            <img src="img/icons/menu.svg" alt="+">
                                        </button>
                                    </div>
                                </th>
                                <th data-meta-key='f_ip_from'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_ip_from"
                                           orderType="">
                                            From IP
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_ip_to'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_ip_to"
                                           orderType="">
                                            To IP
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_country_long_name'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_country_long_name"
                                           orderType="">
                                            Country
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_login_disabled'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_login_disabled"
                                           orderType="">
                                            Login Restricted
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_registration_disabled'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_registration_disabled"
                                           orderType="">
                                            Registration Restricted
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_comment'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_comment"
                                           orderType="">
                                            Comment
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_source'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_source"
                                           orderType="">
                                            Added By
                                        </a>
                                    </nobr>
                                </th>
                            </tr>
                            <tr class="listFilter">
                                <th>

                                    <button name="butFilter" id="butFilter" type="button">Apply Filter</button>

                                    <button name="butReset" id="butReset" type="button">Reset Filter</button>
                                </th>
                                <th>
                                    <input type="text" name="f_ip_from" id="f_ip_from" value="" filter="1" orderable="1" sql="f_ip_from" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <input type="text" name="f_ip_to" id="f_ip_to" value="" filter="1" orderable="1" sql="f_ip_to" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <input type="text" name="f_country_long_name" id="f_country_long_name" value="" filter="1" sql="IFNULL(country.f_name, f_country_long_name)" orderable="1" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <select name="f_login_disabled" id="f_login_disabled" filter="1" orderable="1" sql="f_login_disabled" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="1">Yes</option>
                                        <option value="0">No</option>
                                    </select>
                                </th>
                                <th>
                                    <select name="f_registration_disabled" id="f_registration_disabled" filter="1" orderable="1" sql="f_registration_disabled" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="1">Yes</option>
                                        <option value="0">No</option>
                                    </select>
                                </th>
                                <th>
                                    <input type="text" name="f_comment" id="f_comment" value="" filter="1" orderable="1" sql="f_comment" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <select name="f_source" id="f_source" filter="1" orderable="1" sql="f_source" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="1">System</option>
                                        <option value="2">Manually</option>
                                    </select>
                                </th>

                            </tr>
                        </thead>


                        <tr class="odd ">
                            <td></td>
                            <td>0.0.0.0</td>
                            <td>0.255.255.255</td>
                            <td>Reserved</td>
                            <td>No</td>
                            <td>No</td>
                            <td></td>
                            <td>System</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td></td>
                            <td>1.0.0.0</td>
                            <td>1.0.0.255</td>
                            <td>Australia</td>
                            <td>No</td>
                            <td>No</td>
                            <td></td>
                            <td>System</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td></td>
                            <td>1.0.1.0</td>
                            <td>1.0.1.255</td>
                            <td>China</td>
                            <td>No</td>
                            <td>No</td>
                            <td></td>
                            <td>System</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td></td>
                            <td>1.0.2.0</td>
                            <td>1.0.3.255</td>
                            <td>China</td>
                            <td>No</td>
                            <td>No</td>
                            <td></td>
                            <td>System</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td></td>
                            <td>1.0.4.0</td>
                            <td>1.0.7.255</td>
                            <td>Australia</td>
                            <td>No</td>
                            <td>No</td>
                            <td></td>
                            <td>System</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td></td>
                            <td>1.0.8.0</td>
                            <td>1.0.15.255</td>
                            <td>China</td>
                            <td>No</td>
                            <td>No</td>
                            <td></td>
                            <td>System</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td></td>
                            <td>1.0.16.0</td>
                            <td>1.0.31.255</td>
                            <td>Japan</td>
                            <td>No</td>
                            <td>No</td>
                            <td></td>
                            <td>System</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td></td>
                            <td>1.0.32.0</td>
                            <td>1.0.63.255</td>
                            <td>China</td>
                            <td>No</td>
                            <td>No</td>
                            <td></td>
                            <td>System</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td></td>
                            <td>1.0.64.0</td>
                            <td>1.0.127.255</td>
                            <td>Japan</td>
                            <td>No</td>
                            <td>No</td>
                            <td></td>
                            <td>System</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td></td>
                            <td>1.0.128.0</td>
                            <td>1.0.255.255</td>
                            <td>Thailand</td>
                            <td>No</td>
                            <td>No</td>
                            <td></td>
                            <td>System</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td></td>
                            <td>1.1.0.0</td>
                            <td>1.1.0.255</td>
                            <td>China</td>
                            <td>No</td>
                            <td>No</td>
                            <td></td>
                            <td>System</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td></td>
                            <td>1.1.1.0</td>
                            <td>1.1.1.255</td>
                            <td>Australia</td>
                            <td>No</td>
                            <td>No</td>
                            <td></td>
                            <td>System</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td></td>
                            <td>1.1.2.0</td>
                            <td>1.1.3.255</td>
                            <td>China</td>
                            <td>No</td>
                            <td>No</td>
                            <td></td>
                            <td>System</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td></td>
                            <td>1.1.4.0</td>
                            <td>1.1.7.255</td>
                            <td>China</td>
                            <td>No</td>
                            <td>No</td>
                            <td></td>
                            <td>System</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td></td>
                            <td>1.1.8.0</td>
                            <td>1.1.8.255</td>
                            <td>China</td>
                            <td>No</td>
                            <td>No</td>
                            <td></td>
                            <td>System</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td></td>
                            <td>1.1.9.0</td>
                            <td>1.1.9.255</td>
                            <td>China</td>
                            <td>No</td>
                            <td>No</td>
                            <td></td>
                            <td>System</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td></td>
                            <td>1.1.10.0</td>
                            <td>1.1.11.255</td>
                            <td>China</td>
                            <td>No</td>
                            <td>No</td>
                            <td></td>
                            <td>System</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td></td>
                            <td>1.1.12.0</td>
                            <td>1.1.15.255</td>
                            <td>China</td>
                            <td>No</td>
                            <td>No</td>
                            <td></td>
                            <td>System</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td></td>
                            <td>1.1.16.0</td>
                            <td>1.1.31.255</td>
                            <td>China</td>
                            <td>No</td>
                            <td>No</td>
                            <td></td>
                            <td>System</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td></td>
                            <td>1.1.32.0</td>
                            <td>1.1.63.255</td>
                            <td>China</td>
                            <td>No</td>
                            <td>No</td>
                            <td></td>
                            <td>System</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td></td>
                            <td>1.1.64.0</td>
                            <td>1.1.127.255</td>
                            <td>Japan</td>
                            <td>No</td>
                            <td>No</td>
                            <td></td>
                            <td>System</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td></td>
                            <td>1.1.128.0</td>
                            <td>1.1.255.255</td>
                            <td>Thailand</td>
                            <td>No</td>
                            <td>No</td>
                            <td></td>
                            <td>System</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td></td>
                            <td>1.2.0.0</td>
                            <td>1.2.1.255</td>
                            <td>China</td>
                            <td>No</td>
                            <td>No</td>
                            <td></td>
                            <td>System</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td></td>
                            <td>1.2.2.0</td>
                            <td>1.2.2.255</td>
                            <td>China</td>
                            <td>No</td>
                            <td>No</td>
                            <td></td>
                            <td>System</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td></td>
                            <td>1.2.3.0</td>
                            <td>1.2.3.255</td>
                            <td>Australia</td>
                            <td>No</td>
                            <td>No</td>
                            <td></td>
                            <td>System</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td></td>
                            <td>1.2.4.0</td>
                            <td>1.2.4.255</td>
                            <td>China</td>
                            <td>No</td>
                            <td>No</td>
                            <td></td>
                            <td>System</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td></td>
                            <td>1.2.5.0</td>
                            <td>1.2.5.255</td>
                            <td>China</td>
                            <td>No</td>
                            <td>No</td>
                            <td></td>
                            <td>System</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td></td>
                            <td>1.2.6.0</td>
                            <td>1.2.7.255</td>
                            <td>China</td>
                            <td>No</td>
                            <td>No</td>
                            <td></td>
                            <td>System</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td></td>
                            <td>1.2.8.0</td>
                            <td>1.2.8.255</td>
                            <td>China</td>
                            <td>No</td>
                            <td>No</td>
                            <td></td>
                            <td>System</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td></td>
                            <td>1.2.9.0</td>
                            <td>1.2.9.255</td>
                            <td>China</td>
                            <td>No</td>
                            <td>No</td>
                            <td></td>
                            <td>System</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td></td>
                            <td>1.2.10.0</td>
                            <td>1.2.11.255</td>
                            <td>China</td>
                            <td>No</td>
                            <td>No</td>
                            <td></td>
                            <td>System</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td></td>
                            <td>1.2.12.0</td>
                            <td>1.2.15.255</td>
                            <td>China</td>
                            <td>No</td>
                            <td>No</td>
                            <td></td>
                            <td>System</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td></td>
                            <td>1.2.16.0</td>
                            <td>1.2.31.255</td>
                            <td>China</td>
                            <td>No</td>
                            <td>No</td>
                            <td></td>
                            <td>System</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td></td>
                            <td>1.2.32.0</td>
                            <td>1.2.63.255</td>
                            <td>China</td>
                            <td>No</td>
                            <td>No</td>
                            <td></td>
                            <td>System</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td></td>
                            <td>1.2.64.0</td>
                            <td>1.2.127.255</td>
                            <td>China</td>
                            <td>No</td>
                            <td>No</td>
                            <td></td>
                            <td>System</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td></td>
                            <td>1.2.128.0</td>
                            <td>1.2.255.255</td>
                            <td>Thailand</td>
                            <td>No</td>
                            <td>No</td>
                            <td></td>
                            <td>System</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td></td>
                            <td>1.3.0.0</td>
                            <td>1.3.255.255</td>
                            <td>China</td>
                            <td>No</td>
                            <td>No</td>
                            <td></td>
                            <td>System</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td></td>
                            <td>1.4.0.0</td>
                            <td>1.4.0.255</td>
                            <td>Australia</td>
                            <td>No</td>
                            <td>No</td>
                            <td></td>
                            <td>System</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td></td>
                            <td>1.4.1.0</td>
                            <td>1.4.1.255</td>
                            <td>China</td>
                            <td>No</td>
                            <td>No</td>
                            <td></td>
                            <td>System</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td></td>
                            <td>1.4.2.0</td>
                            <td>1.4.3.255</td>
                            <td>China</td>
                            <td>No</td>
                            <td>No</td>
                            <td></td>
                            <td>System</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td></td>
                            <td>1.4.4.0</td>
                            <td>1.4.4.255</td>
                            <td>China</td>
                            <td>No</td>
                            <td>No</td>
                            <td></td>
                            <td>System</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td></td>
                            <td>1.4.5.0</td>
                            <td>1.4.5.255</td>
                            <td>China</td>
                            <td>No</td>
                            <td>No</td>
                            <td></td>
                            <td>System</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td></td>
                            <td>1.4.6.0</td>
                            <td>1.4.7.255</td>
                            <td>China</td>
                            <td>No</td>
                            <td>No</td>
                            <td></td>
                            <td>System</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td></td>
                            <td>1.4.8.0</td>
                            <td>1.4.15.255</td>
                            <td>China</td>
                            <td>No</td>
                            <td>No</td>
                            <td></td>
                            <td>System</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td></td>
                            <td>1.4.16.0</td>
                            <td>1.4.31.255</td>
                            <td>China</td>
                            <td>No</td>
                            <td>No</td>
                            <td></td>
                            <td>System</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td></td>
                            <td>1.4.32.0</td>
                            <td>1.4.63.255</td>
                            <td>China</td>
                            <td>No</td>
                            <td>No</td>
                            <td></td>
                            <td>System</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td></td>
                            <td>1.4.64.0</td>
                            <td>1.4.127.255</td>
                            <td>China</td>
                            <td>No</td>
                            <td>No</td>
                            <td></td>
                            <td>System</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td></td>
                            <td>1.4.128.0</td>
                            <td>1.4.255.255</td>
                            <td>Thailand</td>
                            <td>No</td>
                            <td>No</td>
                            <td></td>
                            <td>System</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td></td>
                            <td>1.5.0.0</td>
                            <td>1.5.255.255</td>
                            <td>Japan</td>
                            <td>No</td>
                            <td>No</td>
                            <td></td>
                            <td>System</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td></td>
                            <td>1.6.0.0</td>
                            <td>1.7.255.255</td>
                            <td>India</td>
                            <td>No</td>
                            <td>No</td>
                            <td></td>
                            <td>System</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->


                    </table>
                    <div class='rowCount'>
                        <div class="row">
                            <div class="col-md-3">
                                Rows: 211740&ensp;|&ensp;
                                <div class="limit-controls" style="display: inline-block;">
                                    <div id="perpage">Per page:</div>
                                    <select class="limit-links">
                                        <option data-href="/webadmin/prohibited-users/ip/list/limit/10">10</option>
                                        <option data-href="/webadmin/prohibited-users/ip/list/limit/25">25</option>
                                        <option selected data-href="/webadmin/prohibited-users/ip/list/limit/50">50</option>
                                        <option data-href="/webadmin/prohibited-users/ip/list/limit/100">100</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-7" style="display: flex; justify-content: center">
                                <div class="paginator-controls" id="blockPaginatorControls">
                                    <!-- First page link -->
                                    <div class="paginator-link">
                                        <span class="disabled">First</span>
                                    </div>
                                    <!-- Previous page link -->
                                    <div class="paginator-link">
                                        <span class="disabled">&lt; Previous</span>
                                    </div>
                                    <!-- Numbered page links -->
                                    <div class="paginator-link paginator-link_border">
                                        <span class="current">1</span>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/prohibited-users/ip/list/page/2">2</a>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/prohibited-users/ip/list/page/3">3</a>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/prohibited-users/ip/list/page/4">4</a>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/prohibited-users/ip/list/page/5">5</a>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/prohibited-users/ip/list/page/6">6</a>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/prohibited-users/ip/list/page/7">7</a>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/prohibited-users/ip/list/page/8">8</a>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/prohibited-users/ip/list/page/9">9</a>
                                    </div>
                                    <div class="paginator-link paginator-link_border">
                                        <a href="/webadmin/prohibited-users/ip/list/page/10">10</a>
                                    </div>

                                    <!-- Next page link -->
                                    <div class="paginator-link">
                                        <a href="/webadmin/prohibited-users/ip/list/page/2">Next &gt;</a>
                                    </div>
                                    <!-- Last page link -->
                                    <div class="paginator-link">
                                        <a href="/webadmin/prohibited-users/ip/list/page/4235">Last</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="pull-right">
                                    <a href="/webadmin/prohibited-users/ip/list/_output/xlsx"><img src="img/icons/xls.svg" alt="Excel"></a>
                                    <a href="/webadmin/prohibited-users/ip/list/_output/csv"><img src="img/icons/csv.svg" alt="CSV"></a>
                                    <a href="/webadmin/prohibited-users/ip/list/_output/ods"><img src="img/icons/odt.svg" alt="OpenDocument" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>