﻿
@{
    ViewBag.Title = "ProhibitedDeviceList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h3>
    Prohibited Device List
    <a href="/webadmin/prohibited-users/device/add" class="btn btn-primary">
        <i class="fa fa-plus"></i>&nbsp;Add Device
    </a>
</h3>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
        </div>
        <div class="box">
            <div class="box-body">
                <div id="dynamicContent">
                    <div class="custom-dropdown-menu" id="columnsControls">
                    </div>

                    <table id='prohibited-users-device-list' class="listing-table" data-dt-not-fixed-cols="true">
                        <thead class="listHead">
                            <tr>
                                <th data-meta-skip-manage='true'>
                                    <div>
                                        <button type="button" class="btn btn-primary custom-dropdown" id="columnControlsBtn">
                                            <img src="img/icons/menu.svg" alt="+">
                                        </button>
                                    </div>
                                </th>
                                <th data-meta-key='f_unique_id'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_unique_id"
                                           orderType="">
                                            Device ID
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_mac_address'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_mac_address"
                                           orderType="">
                                            Mac Address
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_login_disabled'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_login_disabled"
                                           orderType="">
                                            Login Restricted
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_registration_disabled'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_registration_disabled"
                                           orderType="">
                                            Registration Restricted
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='players'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="players"
                                           orderType="">
                                            Players
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_comment'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_comment"
                                           orderType="">
                                            Comment
                                        </a>
                                    </nobr>
                                </th>
                            </tr>
                            <tr class="listFilter">
                                <th>

                                    <button name="butFilter" id="butFilter" type="button">Apply Filter</button>

                                    <button name="butReset" id="butReset" type="button">Reset Filter</button>
                                </th>
                                <th>
                                    <input type="text" name="f_unique_id" id="f_unique_id" value="" filter="1" sql="b.f_unique_id" orderable="1" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <input type="text" name="f_mac_address" id="f_mac_address" value="" filter="1" sql="b.f_mac_address" orderable="1" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <select name="f_login_disabled" id="f_login_disabled" filter="1" orderable="1" sql="f_login_disabled" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="1">Yes</option>
                                        <option value="0">No</option>
                                    </select>
                                </th>
                                <th>
                                    <select name="f_registration_disabled" id="f_registration_disabled" filter="1" orderable="1" sql="f_registration_disabled" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="1">Yes</option>
                                        <option value="0">No</option>
                                    </select>
                                </th>
                                <th>&nbsp;</th>
                                <th>
                                    <input type="text" name="f_comment" id="f_comment" value="" filter="1" orderable="1" sql="f_comment" nonHtml="" class="filter" />
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>