﻿
@{
    ViewBag.Title = "Promotions";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h3>
    Promotions
    <a href="/webadmin/promotions-management/campaigns/add"
       class="btn btn-primary">
        <i class="fa fa-plus"></i> Add Campaign
    </a>
</h3>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
        </div>
        <div class="box">
            <div class="box-body">
                <div id="dynamicContent">
                    <div class="custom-dropdown-menu" id="columnsControls">
                    </div>

                    <table id='promo_campaigns' class="listing-table" data-dt-not-fixed-cols="true">
                        <thead class="listHead">
                            <tr>
                                <th data-meta-skip-manage='true'>
                                    <div>
                                        <button type="button" class="btn btn-primary custom-dropdown" id="columnControlsBtn">
                                            <img src="img/icons/menu.svg" alt="+">
                                        </button>
                                    </div>
                                </th>
                                <th data-meta-key='f_id'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_id"
                                           orderType="DESC">
                                            ID
                                            <img src="img/arrow_up.png" />
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_name'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_name"
                                           orderType="">
                                            Name
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_state'
                                    data-meta-visibility="true">
                                    <nobr>
                                        State
                                    </nobr>
                                </th>
                                <th data-meta-key='f_schedule_start_stamp'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_schedule_start_stamp"
                                           orderType="">
                                            Schedule. Start Date
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_schedule_end_stamp'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_schedule_end_stamp"
                                           orderType="">
                                            Schedule. End Date
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_price'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_price"
                                           orderType="">
                                            Participation Fee
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_price_money_type'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_price_money_type"
                                           orderType="">
                                            Prt. Fee Money Type
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_schedule_period'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_schedule_period"
                                           orderType="">
                                            Duration
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_registration_period'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_registration_period"
                                           orderType="">
                                            Reg. Period
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_start_stamp'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_start_stamp"
                                           orderType="">
                                            Start Date
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_end_stamp'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_end_stamp"
                                           orderType="">
                                            Planned End Date
                                        </a>
                                    </nobr>
                                </th>
                            </tr>
                            <tr class="listFilter">
                                <th>

                                    <button name="butFilter" id="butFilter" type="button">Apply Filter</button>

                                    <button name="butReset" id="butReset" type="button">Reset Filter</button>
                                </th>
                                <th>
                                    <input type="text" name="f_id" id="f_id" value="" filter="1" sql="c.f_id" orderable="1" nonHtml="" style="width:50px;" class="filter" />
                                </th>
                                <th>
                                    <input type="text" name="f_name" id="f_name" value="" filter="1" sql="c.f_name" orderable="1" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <select name="f_state" id="f_state" class="filter">
                                        <option value="">-</option>
                                        <option value="0">Idle</option>
                                        <option value="1">Planned</option>
                                        <option value="2">Running</option>
                                        <option value="3">Completed</option>
                                        <option value="4">Paused</option>
                                    </select>
                                </th>
                                <th>
                                    <input type="text" name="f_schedule_start_stamp" id="f_schedule_start_stamp" value="" filter="1" sql="c.f_schedule_start_stamp" orderable="1" nonHtml="" class="filter" readonly="readonly" onclick='displayDatePicker("f_schedule_start_stamp", false, "ymd", "-");' />
                                </th>
                                <th>
                                    <input type="text" name="f_schedule_end_stamp" id="f_schedule_end_stamp" value="" filter="1" sql="c.f_schedule_end_stamp" orderable="1" nonHtml="" class="filter" readonly="readonly" onclick='displayDatePicker("f_schedule_end_stamp", false, "ymd", "-");' />
                                </th>
                                <th>
                                    <input type="text" name="f_price" id="f_price" value="" filter="1" sql="c.f_price" extField="f_price_money_type" orderable="1" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <select name="f_price_money_type" id="f_price_money_type" filter="1" sql="c.f_price_money_type" orderable="1" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="82">Real Money</option>
                                        <option value="80">Play Money</option>
                                        <option value="65">cash game points</option>
                                    </select>
                                </th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                                <th>
                                    <input type="text" name="f_start_stamp" id="f_start_stamp" value="" filter="1" sql="c.f_start_stamp" orderable="1" nonHtml="" class="filter" readonly="readonly" onclick='displayDatePicker("f_start_stamp", false, "ymd", "-");' />
                                </th>
                                <th>
                                    <input type="text" name="f_end_stamp" id="f_end_stamp" value="" filter="1" sql="c.f_end_stamp" orderable="1" nonHtml="" class="filter" readonly="readonly" onclick='displayDatePicker("f_end_stamp", false, "ymd", "-");' />
                                </th>

                            </tr>
                        </thead>

                    </table>



                </div>
            </div>
        </div>
    </div>
</div>