﻿
@{
    ViewBag.Title = "ProviderList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Casino Games Providers</h3>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
        </div>
        <div class="box">
            <div class="box-body">
                <div id="dynamicContent">
                    <div class="custom-dropdown-menu" id="columnsControls">
                    </div>

                    <table id='casinoGameProvider' class="listing-table" data-dt-not-fixed-cols="true">
                        <thead class="listHead">
                            <tr>
                                <th data-meta-skip-manage='true'>
                                    <div>
                                        <button type="button" class="btn btn-primary custom-dropdown" id="columnControlsBtn">
                                            <img src="img/icons/menu.svg" alt="+">
                                        </button>
                                    </div>
                                </th>
                                <th data-meta-key='f_name'
                                    data-meta-visibility="true">
                                    <nobr>
                                        Name
                                    </nobr>
                                </th>
                                <th data-meta-key='f_code'
                                    data-meta-visibility="true">
                                    <nobr>
                                        Code
                                    </nobr>
                                </th>
                                <th data-meta-key='f_games'
                                    data-meta-visibility="true">
                                    <nobr>
                                        Games
                                    </nobr>
                                </th>
                                <th data-meta-key='f_is_active'
                                    data-meta-visibility="true">
                                    <nobr>
                                        Active
                                    </nobr>
                                </th>
                            </tr>
                            <tr class="listFilter">
                                <th>

                                    <button name="butFilter" id="butFilter" type="button">Apply Filter</button>

                                    <button name="butReset" id="butReset" type="button">Reset Filter</button>
                                </th>
                                <th>
                                    <input type="text" name="f_name" id="f_name" value="" filter="1" orderable="" sql="p.f_name" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <input type="text" name="f_code" id="f_code" value="" filter="1" orderable="" sql="p.f_code" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <input type="text" name="f_games" id="f_games" value="" filter="1" orderable="" sql="f_games" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <select name="f_is_active" id="f_is_active" filter="1" orderable="" sql="p.f_is_active" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="1">Yes</option>
                                        <option value="0">No</option>
                                    </select>
                                </th>

                            </tr>
                        </thead>


                        <tr class="odd ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/casino/provider/activate/code/betstarters" onClick='listing.ajaxLink(this);return false;'>
                                            <div class="fa fa-toggle-on" id="fa-fa-toggle-on-betstarters"></div>Activate
                                        </a>

                                        <a href="/webadmin/casino/provider/settings/code/betstarters">
                                            <div class="fa fa-wrench" id="fa-fa-wrench-betstarters"></div>Settings
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>BetStarters</td>
                            <td>betstarters</td>
                            <td></td>
                            <td>No</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/casino/provider/activate/code/digitain" onClick='listing.ajaxLink(this);return false;'>
                                            <div class="fa fa-toggle-on" id="fa-fa-toggle-on-digitain"></div>Activate
                                        </a>

                                        <a href="/webadmin/casino/provider/settings/code/digitain">
                                            <div class="fa fa-wrench" id="fa-fa-wrench-digitain"></div>Settings
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>Digitain</td>
                            <td>digitain</td>
                            <td>2</td>
                            <td>No</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/casino/provider/activate/code/ezugi" onClick='listing.ajaxLink(this);return false;'>
                                            <div class="fa fa-toggle-on" id="fa-fa-toggle-on-ezugi"></div>Activate
                                        </a>

                                        <a href="/webadmin/casino/provider/settings/code/ezugi">
                                            <div class="fa fa-wrench" id="fa-fa-wrench-ezugi"></div>Settings
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>Ezugi</td>
                            <td>ezugi</td>
                            <td>51</td>
                            <td>No</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/casino/provider/activate/code/gameart" onClick='listing.ajaxLink(this);return false;'>
                                            <div class="fa fa-toggle-on" id="fa-fa-toggle-on-gameart"></div>Activate
                                        </a>

                                        <a href="/webadmin/casino/provider/settings/code/gameart">
                                            <div class="fa fa-wrench" id="fa-fa-wrench-gameart"></div>Settings
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>GameArt</td>
                            <td>gameart</td>
                            <td>105</td>
                            <td>No</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/casino/provider/activate/code/inbet" onClick='listing.ajaxLink(this);return false;'>
                                            <div class="fa fa-toggle-on" id="fa-fa-toggle-on-inbet"></div>Activate
                                        </a>

                                        <a href="/webadmin/casino/provider/settings/code/inbet">
                                            <div class="fa fa-wrench" id="fa-fa-wrench-inbet"></div>Settings
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>InBet</td>
                            <td>inbet</td>
                            <td>324</td>
                            <td>No</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/casino/provider/activate/code/onetouch" onClick='listing.ajaxLink(this);return false;'>
                                            <div class="fa fa-toggle-on" id="fa-fa-toggle-on-onetouch"></div>Activate
                                        </a>

                                        <a href="/webadmin/casino/provider/settings/code/onetouch">
                                            <div class="fa fa-wrench" id="fa-fa-wrench-onetouch"></div>Settings
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>OneTouch</td>
                            <td>onetouch</td>
                            <td>21</td>
                            <td>No</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/casino/provider/activate/code/playpearls" onClick='listing.ajaxLink(this);return false;'>
                                            <div class="fa fa-toggle-on" id="fa-fa-toggle-on-playpearls"></div>Activate
                                        </a>

                                        <a href="/webadmin/casino/provider/settings/code/playpearls">
                                            <div class="fa fa-wrench" id="fa-fa-wrench-playpearls"></div>Settings
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>PlayPearls</td>
                            <td>playpearls</td>
                            <td>67</td>
                            <td>No</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td>
                                <div class="dropdown text-center">
                                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                            type="button" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="dropdown-menu table-dropdown">
                                        <a href="/webadmin/casino/provider/activate/code/softswiss" onClick='listing.ajaxLink(this);return false;'>
                                            <div class="fa fa-toggle-on" id="fa-fa-toggle-on-softswiss"></div>Activate
                                        </a>

                                        <a href="/webadmin/casino/provider/settings/code/softswiss">
                                            <div class="fa fa-wrench" id="fa-fa-wrench-softswiss"></div>Settings
                                        </a>


                                    </div>
                                </div>
                            </td>
                            <td>Softswiss</td>
                            <td>softswiss</td>
                            <td>120</td>
                            <td>No</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->


                    </table>
                    <div class='rowCount'>
                        <div class="row">
                            <div class="col-md-3">
                                Rows: 8&ensp;|&ensp;
                                <div class="limit-controls" style="display: inline-block;">
                                    <div id="perpage">Per page:</div>
                                    <select class="limit-links">
                                        <option data-href="/webadmin/casino/provider/list/limit/10">10</option>
                                        <option data-href="/webadmin/casino/provider/list/limit/25">25</option>
                                        <option selected data-href="/webadmin/casino/provider/list/limit/50">50</option>
                                        <option data-href="/webadmin/casino/provider/list/limit/100">100</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-7" style="display: flex; justify-content: center">
                                <div class="paginator-controls" id="blockPaginatorControls">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="pull-right">
                                    <a href="/webadmin/casino/provider/list/_output/xlsx"><img src="img/icons/xls.svg" alt="Excel"></a>
                                    <a href="/webadmin/casino/provider/list/_output/csv"><img src="img/icons/csv.svg" alt="CSV"></a>
                                    <a href="/webadmin/casino/provider/list/_output/ods"><img src="img/icons/odt.svg" alt="OpenDocument" /></a>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>