﻿
@{
    ViewBag.Title = "PurchaseAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h3>Add Purchase</h3>
<div class="box box-primary">
    <form enctype="application/x-www-form-urlencoded" action="" method="post" dojoType="dijit.form.Form">
        <div class="box-body">
            <div class="form-group" id="form-element-product_id">
                <label for="product_id" class="required">Product</label>

                <select name="product_id" id="product_id" class="form-control select2">
                </select>
            </div>
            <div class="form-group" id="form-element-player_id">
                <label for="player_id" class="required">Player</label>

                <select name="player_id" id="player_id" class="form-control select2">
                </select>
            </div>

            <input type="submit" name="send" id="send" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>