﻿
@{
    ViewBag.Title = "PurchaseList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h3>
    Purchases List&nbsp;
    <a href="/webadmin/in-app-purchases/purchase/add" class="btn btn-primary">
        <i class="fa fa-plus"></i>&nbsp;Add
    </a>
</h3>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
        </div>
        <div class="box">
            <div class="box-body">
                <div id="dynamicContent">
                    <div class="custom-dropdown-menu" id="columnsControls">
                    </div>

                    <table id='in_app_purchases' class="listing-table" data-dt-not-fixed-cols="true">
                        <thead class="listHead">
                            <tr>
                                <th data-meta-skip-manage='true'>
                                    <div>
                                        <button type="button" class="btn btn-primary custom-dropdown" id="columnControlsBtn">
                                            <img src="img/icons/menu.svg" alt="+">
                                        </button>
                                    </div>
                                </th>
                                <th data-meta-key='id'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="id"
                                           orderType="">
                                            ID
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='product'
                                    data-meta-visibility="true">
                                    <nobr>
                                        Product
                                    </nobr>
                                </th>
                                <th data-meta-key='amount'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="amount"
                                           orderType="">
                                            Amount
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='product_type'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="product_type"
                                           orderType="">
                                            Product Type
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='player'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="player"
                                           orderType="">
                                            Player
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='state'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="state"
                                           orderType="">
                                            State
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='created_at'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="created_at"
                                           orderType="">
                                            Created At
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='confirmed_at'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="confirmed_at"
                                           orderType="">
                                            Confirmed At
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='resource'
                                    data-meta-visibility="true">
                                    <nobr>
                                        Resource
                                    </nobr>
                                </th>
                                <th data-meta-key='confirmation_errors'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="confirmation_errors"
                                           orderType="">
                                            Number Of Conf. Errors
                                        </a>
                                    </nobr>
                                </th>
                            </tr>
                            <tr class="listFilter">
                                <th>

                                    <button name="butFilter" id="butFilter" type="button">Apply Filter</button>

                                    <button name="butReset" id="butReset" type="button">Reset Filter</button>
                                </th>
                                <th>
                                    <input type="text" name="id" id="id" value="" filter="1" orderable="1" sql="_e.f_id" nonHtml="" style="width:50px;" class="filter" />
                                </th>
                                <th>&nbsp;</th>
                                <th>
                                    <input type="text" name="amount" id="amount" value="" filter="1" orderable="1" sql="_e.f_amount" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <select name="product_type" id="product_type" filter="1" orderable="1" sql="p.f_type" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="L">Club Level</option>
                                        <option value="E">Emoji Package</option>
                                        <option value="I">Insurance Time Bank</option>
                                        <option value="M">Money</option>
                                        <option value="C">Number Of Extra Clubs</option>
                                        <option value="R">Rabbit Hunting</option>
                                        <option value="O">Show Opponent Game Statistics</option>
                                        <option value="T">Table Play Time</option>
                                        <option value="V">Vip Card</option>
                                    </select>
                                </th>
                                <th>
                                    <input type="text" name="player" id="player" value="" filter="1" orderable="1" sql="_e.f_player_id" sql_nick="select f_nick from t_player where f_id = _e.f_player_id" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <select name="state" id="state" filter="1" orderable="1" sql="_e.f_state" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="0">Unconfirmed</option>
                                        <option value="1">Confirmed</option>
                                        <option value="2">Error Confirmation</option>
                                        <option value="4">Processed</option>
                                        <option value="8">Reverted</option>
                                    </select>
                                </th>
                                <th>
                                    <input type="text" name="created_at" id="created_at" value="" filter="1" orderable="1" sql="_e.f_created_at" nonHtml="" class="filter" readonly="readonly" onclick='displayDatePicker("created_at", false, "ymd", "-");' />
                                </th>
                                <th>
                                    <input type="text" name="confirmed_at" id="confirmed_at" value="" filter="1" orderable="1" sql="_e.f_confirmed_at" nonHtml="" class="filter" readonly="readonly" onclick='displayDatePicker("confirmed_at", false, "ymd", "-");' />
                                </th>
                                <th>&nbsp;</th>
                                <th>
                                    <input type="text" name="confirmation_errors" id="confirmation_errors" value="" filter="1" orderable="1" sql="_e.f_confirmation_errors_num" nonHtml="" class="filter" />
                                </th>

                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>