﻿
@{
    ViewBag.Title = "RakebackPercentConfig";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h3>Rakeback Percent Config</h3>
<div class="box box-solid">
    <form enctype="application/x-www-form-urlencoded" action="" method="post" dojoType="dijit.form.Form">
        <div class="nav-tabs-custom" id="tabs_878">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#tabs_878_82" data-toggle="tab" aria-expanded="true">
                        Real Money
                    </a>
                </li>
                <li>
                    <a href="#tabs_878_80" data-toggle="tab" aria-expanded="false">
                        Play Money
                    </a>
                </li>
                <li>
                    <a href="#tabs_878_65" data-toggle="tab" aria-expanded="false">
                        cash game points
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tabs_878_82">
                    <div class="box-body">
                        <div class="form-group" id="form-element-level_0">
                            <label for="82-level_0" class="optional">Percent for Player</label>

                            <input type="text" name="82[level_0]" id="82-level_0" value="0" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-level_11">
                            <label for="82-level_11" class="optional">Percent for Level [05]</label>

                            <input type="text" name="82[level_11]" id="82-level_11" value="5" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-level_1">
                            <label for="82-level_1" class="optional">Percent for Level [10]</label>

                            <input type="text" name="82[level_1]" id="82-level_1" value="10" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-level_12">
                            <label for="82-level_12" class="optional">Percent for Level [15]</label>

                            <input type="text" name="82[level_12]" id="82-level_12" value="15" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-level_2">
                            <label for="82-level_2" class="optional">Percent for Level [20]</label>

                            <input type="text" name="82[level_2]" id="82-level_2" value="20" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-level_13">
                            <label for="82-level_13" class="optional">Percent for Level [25]</label>

                            <input type="text" name="82[level_13]" id="82-level_13" value="25" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-level_3">
                            <label for="82-level_3" class="optional">Percent for Level [30]</label>

                            <input type="text" name="82[level_3]" id="82-level_3" value="30" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-level_14">
                            <label for="82-level_14" class="optional">Percent for Level [35]</label>

                            <input type="text" name="82[level_14]" id="82-level_14" value="35" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-level_4">
                            <label for="82-level_4" class="optional">Percent for Level [40]</label>

                            <input type="text" name="82[level_4]" id="82-level_4" value="40" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-level_5">
                            <label for="82-level_5" class="optional">Percent for Level [50]</label>

                            <input type="text" name="82[level_5]" id="82-level_5" value="50" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-level_6">
                            <label for="82-level_6" class="optional">Percent for Level [60]</label>

                            <input type="text" name="82[level_6]" id="82-level_6" value="60" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-level_7">
                            <label for="82-level_7" class="optional">Percent for Level [70]</label>

                            <input type="text" name="82[level_7]" id="82-level_7" value="70" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-level_8">
                            <label for="82-level_8" class="optional">Percent for Level [80]</label>

                            <input type="text" name="82[level_8]" id="82-level_8" value="80" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-level_9">
                            <label for="82-level_9" class="optional">Percent for Standard II</label>

                            <input type="text" name="82[level_9]" id="82-level_9" value="0" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-level_10">
                            <label for="82-level_10" class="optional">Percent for Standard</label>

                            <input type="text" name="82[level_10]" id="82-level_10" value="0" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tabs_878_80">
                    <div class="box-body">
                        <div class="form-group" id="form-element-level_0">
                            <label for="80-level_0" class="optional">Percent for Player</label>

                            <input type="text" name="80[level_0]" id="80-level_0" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-level_11">
                            <label for="80-level_11" class="optional">Percent for Level [05]</label>

                            <input type="text" name="80[level_11]" id="80-level_11" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-level_1">
                            <label for="80-level_1" class="optional">Percent for Level [10]</label>

                            <input type="text" name="80[level_1]" id="80-level_1" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-level_12">
                            <label for="80-level_12" class="optional">Percent for Level [15]</label>

                            <input type="text" name="80[level_12]" id="80-level_12" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-level_2">
                            <label for="80-level_2" class="optional">Percent for Level [20]</label>

                            <input type="text" name="80[level_2]" id="80-level_2" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-level_13">
                            <label for="80-level_13" class="optional">Percent for Level [25]</label>

                            <input type="text" name="80[level_13]" id="80-level_13" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-level_3">
                            <label for="80-level_3" class="optional">Percent for Level [30]</label>

                            <input type="text" name="80[level_3]" id="80-level_3" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-level_14">
                            <label for="80-level_14" class="optional">Percent for Level [35]</label>

                            <input type="text" name="80[level_14]" id="80-level_14" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-level_4">
                            <label for="80-level_4" class="optional">Percent for Level [40]</label>

                            <input type="text" name="80[level_4]" id="80-level_4" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-level_5">
                            <label for="80-level_5" class="optional">Percent for Level [50]</label>

                            <input type="text" name="80[level_5]" id="80-level_5" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-level_6">
                            <label for="80-level_6" class="optional">Percent for Level [60]</label>

                            <input type="text" name="80[level_6]" id="80-level_6" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-level_7">
                            <label for="80-level_7" class="optional">Percent for Level [70]</label>

                            <input type="text" name="80[level_7]" id="80-level_7" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-level_8">
                            <label for="80-level_8" class="optional">Percent for Level [80]</label>

                            <input type="text" name="80[level_8]" id="80-level_8" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-level_9">
                            <label for="80-level_9" class="optional">Percent for Standard II</label>

                            <input type="text" name="80[level_9]" id="80-level_9" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-level_10">
                            <label for="80-level_10" class="optional">Percent for Standard</label>

                            <input type="text" name="80[level_10]" id="80-level_10" value="" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tabs_878_65">
                    <div class="box-body">
                        <div class="form-group" id="form-element-level_0">
                            <label for="65-level_0" class="optional">Percent for Player</label>

                            <input type="text" name="65[level_0]" id="65-level_0" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-level_11">
                            <label for="65-level_11" class="optional">Percent for Level [05]</label>

                            <input type="text" name="65[level_11]" id="65-level_11" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-level_1">
                            <label for="65-level_1" class="optional">Percent for Level [10]</label>

                            <input type="text" name="65[level_1]" id="65-level_1" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-level_12">
                            <label for="65-level_12" class="optional">Percent for Level [15]</label>

                            <input type="text" name="65[level_12]" id="65-level_12" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-level_2">
                            <label for="65-level_2" class="optional">Percent for Level [20]</label>

                            <input type="text" name="65[level_2]" id="65-level_2" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-level_13">
                            <label for="65-level_13" class="optional">Percent for Level [25]</label>

                            <input type="text" name="65[level_13]" id="65-level_13" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-level_3">
                            <label for="65-level_3" class="optional">Percent for Level [30]</label>

                            <input type="text" name="65[level_3]" id="65-level_3" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-level_14">
                            <label for="65-level_14" class="optional">Percent for Level [35]</label>

                            <input type="text" name="65[level_14]" id="65-level_14" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-level_4">
                            <label for="65-level_4" class="optional">Percent for Level [40]</label>

                            <input type="text" name="65[level_4]" id="65-level_4" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-level_5">
                            <label for="65-level_5" class="optional">Percent for Level [50]</label>

                            <input type="text" name="65[level_5]" id="65-level_5" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-level_6">
                            <label for="65-level_6" class="optional">Percent for Level [60]</label>

                            <input type="text" name="65[level_6]" id="65-level_6" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-level_7">
                            <label for="65-level_7" class="optional">Percent for Level [70]</label>

                            <input type="text" name="65[level_7]" id="65-level_7" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-level_8">
                            <label for="65-level_8" class="optional">Percent for Level [80]</label>

                            <input type="text" name="65[level_8]" id="65-level_8" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-level_9">
                            <label for="65-level_9" class="optional">Percent for Standard II</label>

                            <input type="text" name="65[level_9]" id="65-level_9" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-level_10">
                            <label for="65-level_10" class="optional">Percent for Standard</label>

                            <input type="text" name="65[level_10]" id="65-level_10" value="" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <input type="submit" name="submit" id="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>