﻿
@{
    ViewBag.Title = "Rake";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Rake <a href="http://docs.evenbetgaming.com/articles/Administration_Panel/Rake.html" target="_blank"><sup><i class="fa fa-question-circle"></i></sup></a></h3>

<div class="box">
    <div class="box-body" style="overflow-x: auto;">
        <label for="moneyType" class="optional">Money Types</label>

        <select name="moneyType" id="moneyType">
            <option value="82" selected="selected">Real Money</option>
            <option value="80">Play Money</option>
            <option value="65">cash game points</option>
        </select>


        <table class="table table-bordered table-hover">
            <thead class="listHead">
                <tr>
                    <th>Date</th>
                    <th>Hold'em</th>
                    <th>Short Deck Hold'em</th>
                    <th>Omaha</th>
                    <th>Omaha H/L</th>
                    <th>Stud</th>
                    <th>Stud H/L</th>
                    <th>Razz</th>
                    <th>2-7 Triple Draw</th>
                    <th>Badugi</th>
                    <th>Badeucy</th>
                    <th>Badacey</th>
                    <th>Chinese</th>
                    <th>Openface Chinese</th>
                    <th>Chinese Pineapple</th>
                    <th>Chinese 2-7 Pineapple</th>
                    <th>Chinese Turbo</th>
                    <th>Chinese OF Pineapple Progressive</th>
                    <th>Omaha 5 card</th>
                    <th>Omaha 5 card H/L</th>
                    <th>Courchevel</th>
                    <th>Pineapple Poker</th>
                    <th>Mixed Games</th>
                    <th>Turkish</th>
                    <th>5 Card Draw 7-A</th>
                    <th>Points Rummy</th>
                    <th>Deals Rummy</th>
                    <th>Pool Rummy</th>
                    <th>Triton ShortDeck</th>
                    <th>Omaha 6 card</th>
                    <th>Omaha 6 card H/L</th>
                    <th>Tournament Fee</th>
                    <th>Rebuy/Addon Fee</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tr parent="" id="row-2018-01-01-year">
                <td style="white-space: nowrap"><a href="#" class="openPeriod" unpinned innerPeriod="month" date="2018-01-01"><img src="img/content/collapsed.png" border="0" />2018</a></a></td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00040</td>
                <td>0.00000</td>
                <td>0.00040</td>
            </tr>
            <tr parent="" id="row-2019-01-01-year">
                <td style="white-space: nowrap"><a href="#" class="openPeriod" unpinned innerPeriod="month" date="2019-01-01"><img src="img/content/collapsed.png" border="0" />2019</a></a></td>
                <td>4827.99000</td>
                <td>0.00000</td>
                <td>4465.51000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.02000</td>
                <td>116.03000</td>
                <td>10.34000</td>
                <td>0.00000</td>
                <td>22.90000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.97216</td>
                <td>1.21707</td>
                <td>9444.97923</td>
            </tr>
            <tr parent="" id="row-2020-01-01-year">
                <td style="white-space: nowrap"><a href="#" class="openPeriod" unpinned innerPeriod="month" date="2020-01-01"><img src="img/content/collapsed.png" border="0" />2020</a></a></td>
                <td>414.08000</td>
                <td>0.00000</td>
                <td>2382.95000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>28.68000</td>
                <td>0.35000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.00000</td>
                <td>0.59472</td>
                <td>0.53698</td>
                <td>2827.19170</td>
            </tr>

        </table>
    </div>
</div>

