﻿
@{
    ViewBag.Title = "RedeemCodeList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h3>Redeem Code List</h3>
<div id="dynamicContent">
    <table class="listing-table">
        <thead class="listHead">
            <tr>
                <th>#</th>
                <th>
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_name" orderType="">
                            Name
                        </a>
                    </nobr>
                </th>
                <th>
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_code" orderType="">
                            Code
                        </a>
                    </nobr>
                </th>
                <th>
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_is_sign_up_bonus" orderType="">
                            Sign Up Bonus
                        </a>
                    </nobr>
                </th>
                <th>
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_bonus_chips" orderType="">
                            Amount
                        </a>
                    </nobr>
                </th>
                <th>
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_money_type" orderType="">
                            Money type
                        </a>
                    </nobr>
                </th>
                <th>
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_limit" orderType="">
                            Limit
                        </a>
                    </nobr>
                </th>
                <th>
                    <nobr>
                        <a class="headerLink orderLink" orderBy="usedCount" orderType="">
                            Used count
                        </a>
                    </nobr>
                </th>
                <th>
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_expiration_date_time" orderType="">
                            Expiration Date
                        </a>
                    </nobr>
                </th>
                <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            </tr>
        </thead>
        <thead class="listFilter">
            <tr>
                <th>&nbsp;</th>
                <th>

                    <input type="text" name="f_name" id="f_name" value="" filter="1" orderable="1" sql="f_name" nonHtml="" class="filter" />
                </th>
                <th>

                    <input type="text" name="f_code" id="f_code" value="" filter="1" orderable="1" sql="f_code" nonHtml="" class="filter" />
                </th>
                <th>

                    <select name="f_is_sign_up_bonus" id="f_is_sign_up_bonus" filter="1" orderable="1" sql="f_is_sign_up_bonus" nonHtml="" class="filter">
                        <option value="">-</option>
                        <option value="1">Yes</option>
                        <option value="0">No</option>
                    </select>
                </th>
                <th>

                    <input type="text" name="f_bonus_chips" id="f_bonus_chips" value="" filter="1" orderable="1" sql="f_bonus_chips" nonHtml="" class="filter" />
                </th>
                <th>

                    <select name="f_money_type" id="f_money_type" filter="1" orderable="1" sql="f_money_type" nonHtml="" class="filter">
                        <option value="">-</option>
                        <option value="82">Real Money</option>
                        <option value="80">Play Money</option>
                        <option value="65">cash game points</option>
                    </select>
                </th>
                <th>

                    <input type="text" name="f_limit" id="f_limit" value="" filter="1" orderable="1" sql="f_limit" nonHtml="" class="filter" />
                </th>
                <th>

                    <input type="text" name="usedCount" id="usedCount" value="" filter="1" sql="count(rcu.f_id)" orderable="1" nonHtml="" class="filter" />
                </th>
                <th>

                    <input type="text" name="f_expiration_date_time" id="f_expiration_date_time" value="" filter="1" sql="IF(f_is_indefinite_expiration = 1, &quot;0000-00-00&quot;, f_expiration_date_time)" orderable="1" nonHtml="" class="filter" />
                </th>
                <th>

                    <button name="butFilter" id="butFilter" type="button">Apply Filter</button>

                    <button name="butReset" id="butReset" type="button">Reset Filter</button>
                </th>
            </tr>
        </thead>
        <tr class="navigator__no-data">
            <td colspan="10">No data to display</td>
        </tr>
    </table>

</div>