﻿
@{
    ViewBag.Title = "Registered Users";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h3>Registered Users <a href="http://docs.evenbetgaming.com/articles/Administration_Panel/Registered%20Users.html" target="_blank"><sup><i class="fa fa-question-circle"></i></sup></a></h3>
<div class="box">
    <div class="box-body">
        <table class="table table-bordered table-hover">
            <thead class="listHead">
                <tr>
                    <th>Date</th>
                    <th>Number of registered players</th>
                </tr>
            </thead>
            <tr parent="" id="row-1970-01-01-year">                
                <td><a href="#" class="openPeriod" unpinned innerPeriod="month" date="1970-01-01"><img src="~/Assest/img/collapsed.png" border="0" />1970</a></a></td>
                <td>2</td>
            </tr>
            <tr parent="" id="row-2018-01-01-year">
                <td><a href="#" class="openPeriod" unpinned innerPeriod="month" date="2018-01-01"><img src="~/Assest/img/collapsed.png" border="0" />2018</a></a></td>
                <td>100</td>
            </tr>
            <tr parent="" id="row-2019-01-01-year">
                <td><a href="#" class="openPeriod" unpinned innerPeriod="month" date="2019-01-01"><img src="~/Assest/img/collapsed.png" border="0" />2019</a></a></td>
                <td>3140</td>
            </tr>
            <tr parent="" id="row-2020-01-01-year">
                <td><a href="#" class="openPeriod" unpinned innerPeriod="month" date="2020-01-01"><img src="~/Assest/img/collapsed.png" border="0" />2020</a></a></td>
                <td>111</td>
            </tr>

        </table>
    </div>
</div>

