﻿
@{
    ViewBag.Title = "RentReport";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Rent Report</h3>
<div id="dynamicContent">
    <div class="custom-dropdown-menu" id="columnsControls">
    </div>

    <table id='Poker_TableNavigator_PokerTable_RentReport' class="listing-table" data-dt-not-fixed-cols="true">
        <thead class="listHead">
            <tr>
                <th data-meta-key='template_id'
                    data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="template_id"
                           orderType="">
                            Table
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='start_time'
                    data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="start_time"
                           orderType="">
                            Period From
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='stop_time'
                    data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="stop_time"
                           orderType="">
                            Period To
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='rake'
                    data-meta-visibility="true">
                    <nobr>
                        Rake
                    </nobr>
                </th>
                <th data-meta-key='avg_players'
                    data-meta-visibility="true">
                    <nobr>
                        Average # Of Players
                    </nobr>
                </th>
                <th data-meta-key='rent_owner'
                    data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="rent_owner"
                           orderType="">
                            Owner
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='rent_owner_rate'
                    data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="rent_owner_rate"
                           orderType="">
                            Owner's Share
                        </a>
                    </nobr>
                </th>
            </tr>
            <tr class="listFilter">
                <th>
                    <input type="text" name="template_id" id="template_id" value="" filter="1" orderable="1" sql="IFNULL(d.f_table_id, s.f_template_id)" sql_name="IFNULL(t.f_name, tt.f_name)" nonHtml="" class="filter" />
                </th>
                <th>
                    <input type="text" name="start_time" id="start_time" value="" filter="1" orderable="1" sql="IF(d.f_stop_time IS NULL, s.f_start_time, t.f_started_stamp)" nonHtml="" class="filter" readonly="readonly" onclick='displayDatePicker("start_time", false, "ymd", "-");' />
                </th>
                <th>
                    <input type="text" name="stop_time" id="stop_time" value="" filter="1" orderable="1" sql="IFNULL(d.f_stop_time, s.f_stop_time)" nonHtml="" class="filter" readonly="readonly" onclick='displayDatePicker("stop_time", false, "ymd", "-");' />
                </th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>
                    <input type="text" name="rent_owner" id="rent_owner" value="" filter="1" orderable="1" sql="s.f_rent_owner" sql_nick="p.f_nick" nonHtml="" class="filter" />
                </th>
                <th>
                    <input type="text" name="rent_owner_rate" id="rent_owner_rate" value="" filter="1" orderable="1" sql="s.f_rent_owner_rate" nonHtml="" class="filter" />
                </th>

            </tr>
        </thead>

    </table>
</div>