﻿
@{
    ViewBag.Title = "ReportList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h3>Report list</h3>
<br />
<div id="dynamicContent">
    <table id='reportGenList' class="listing-table">
        <thead class="listHead">
            <tr>
                <th data-meta-skip-manage='true'>#</th>
                <th data-meta-key='f_name' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_name" orderType="">
                            Name
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_desc' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_desc" orderType="">
                            Description
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_date_create' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_date_create" orderType="">
                            Created
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_date_update' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_date_update" orderType="">
                            Updated
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='buttons' data-meta-visibility="true">
                    <nobr>
                        Actions
                    </nobr>
                </th>
            </tr>
        </thead>
        <thead class="listFilter">
            <tr>
                <th>&nbsp;</th>
                <th>
                    <input type="text" name="f_name" id="f_name" value="" filter="1" sql="m.f_id" sql_name="m.f_name" orderable="1" nonHtml="" class="filter" />
                </th>
                <th>
                    <input type="text" name="f_desc" id="f_desc" value="" filter="1" sql="m.f_desc" orderable="1" nonHtml="" class="filter" />
                </th>
                <th>
                    <input type="text" name="f_date_create" id="f_date_create" value="" filter="1" sql="m.f_date_create" orderable="1" nonHtml="" class="filter" readonly="readonly" onclick='displayDatePicker("f_date_create", false, "ymd", "-");' />
                </th>
                <th>
                    <input type="text" name="f_date_update" id="f_date_update" value="" filter="1" sql="m.f_date_update" orderable="1" nonHtml="" class="filter" readonly="readonly" onclick='displayDatePicker("f_date_update", false, "ymd", "-");' />
                </th>
                <th>

                    <button name="butFilter" id="butFilter" type="button">Apply Filter</button>

                    <button name="butReset" id="butReset" type="button">Reset Filter</button>
                </th>

            </tr>
        </thead>

        <tr class="odd">
            <td>1</td>
            ﻿
            <td><a href="/webadmin/reportgen/index/view/id/1">UserRoles</a></td>
            <td>Shows users' roles</td>
            <td>2018/07/06 08:19:33</td>
            <td>-</td>
            <td>
                <div class="dropdown text-center">
                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                            type="button" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-bars"></i>
                    </button>
                    <div class="dropdown-menu table-dropdown">
                        <a href="/webadmin/reportgen/index/view/id/1">
                            <div class="eye" id="eye-1" title="View"></div>
                        </a>

                        <a href="/webadmin/reportgen/index/edit/id/1">
                            <div class="edit" id="edit-1" title="Edit report"></div>
                        </a>

                        <a href="/webadmin/reportgen/index/copy/id/1" class="in-dialog">
                            <div class="copy" id="copy-1" title="Clone"></div>
                        </a>

                        <a href="/webadmin/reportgen/index/to-menu/id/1" class="in-dialog">
                            <div class="to_menu" id="to_menu-1" title="To Menu"></div>
                        </a>

                        <a href="/webadmin/reportgen/index/delete/id/1">
                            <div class="del" id="del-1" onClick='return confirm("Deleting report.\nAre you sure?");' title="Delete report"></div>
                        </a>


                    </div>
                </div>
            </td>

        </tr>
        <tr class="even">
            <td>2</td>
            <td><a href="/webadmin/reportgen/index/view/id/2">CGP earned</a></td>
            <td></td>
            <td>2019/08/22 09:01:59</td>
            <td>2019/08/22 09:01:59</td>
            <td>
                <div class="dropdown text-center">
                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                            type="button" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-bars"></i>
                    </button>
                    <div class="dropdown-menu table-dropdown">
                        <a href="/webadmin/reportgen/index/view/id/2">
                            <div class="eye" id="eye-2" title="View"></div>
                        </a>

                        <a href="/webadmin/reportgen/index/edit/id/2">
                            <div class="edit" id="edit-2" title="Edit report"></div>
                        </a>

                        <a href="/webadmin/reportgen/index/copy/id/2" class="in-dialog">
                            <div class="copy" id="copy-2" title="Clone"></div>
                        </a>

                        <a href="/webadmin/reportgen/index/to-menu/id/2" class="in-dialog">
                            <div class="to_menu" id="to_menu-2" title="To Menu"></div>
                        </a>

                        <a href="/webadmin/reportgen/index/delete/id/2">
                            <div class="del" id="del-2" onClick='return confirm("Deleting report.\nAre you sure?");' title="Delete report"></div>
                        </a>


                    </div>
                </div>
            </td>

        </tr>
        <tr class="odd">
            <td>3</td>
            <td><a href="/webadmin/reportgen/index/view/id/3/status/replay">CGP earned cumulative</a></td>
            <td></td>
            <td>2019/08/30 08:23:00</td>
            <td>2019/08/30 08:23:00</td>
            <td>
                <div class="dropdown text-center">
                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                            type="button" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-bars"></i>
                    </button>
                    <div class="dropdown-menu table-dropdown">
                        <a href="/webadmin/reportgen/index/view/id/3">
                            <div class="eye" id="eye-3" title="View"></div>
                        </a>

                        <a href="/webadmin/reportgen/index/edit/id/3">
                            <div class="edit" id="edit-3" title="Edit report"></div>
                        </a>

                        <a href="/webadmin/reportgen/index/copy/id/3" class="in-dialog">
                            <div class="copy" id="copy-3" title="Clone"></div>
                        </a>

                        <a href="/webadmin/reportgen/index/to-menu/id/3" class="in-dialog">
                            <div class="to_menu" id="to_menu-3" title="To Menu"></div>
                        </a>

                        <a href="/webadmin/reportgen/index/delete/id/3">
                            <div class="del" id="del-3" onClick='return confirm("Deleting report.\nAre you sure?");' title="Delete report"></div>
                        </a>


                    </div>
                </div>
            </td>

        </tr>
        <tr class="even">
            <td>4</td>
            <td><a href="/webadmin/reportgen/index/view/id/4">test</a></td>
            <td></td>
            <td>2019/09/22 10:13:20</td>
            <td>2019/09/22 10:13:20</td>
            <td>
                <div class="dropdown text-center">
                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                            type="button" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-bars"></i>
                    </button>
                    <div class="dropdown-menu table-dropdown">
                        <a href="/webadmin/reportgen/index/view/id/4">
                            <div class="eye" id="eye-4" title="View"></div>
                        </a>

                        <a href="/webadmin/reportgen/index/edit/id/4">
                            <div class="edit" id="edit-4" title="Edit report"></div>
                        </a>

                        <a href="/webadmin/reportgen/index/copy/id/4" class="in-dialog">
                            <div class="copy" id="copy-4" title="Clone"></div>
                        </a>

                        <a href="/webadmin/reportgen/index/to-menu/id/4" class="in-dialog">
                            <div class="to_menu" id="to_menu-4" title="To Menu"></div>
                        </a>

                        <a href="/webadmin/reportgen/index/delete/id/4">
                            <div class="del" id="del-4" onClick='return confirm("Deleting report.\nAre you sure?");' title="Delete report"></div>
                        </a>


                    </div>
                </div>
            </td>

        </tr>
        <tr class="odd">
            <td>5</td>
            <td><a href="/webadmin/reportgen/index/view/id/5/status/replay">CGP</a></td>
            <td></td>
            <td>2019/12/13 18:52:54</td>
            <td>2019/12/13 18:52:54</td>
            <td>
                <div class="dropdown text-center">
                    <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                            type="button" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-bars"></i>
                    </button>
                    <div class="dropdown-menu table-dropdown">
                        <a href="/webadmin/reportgen/index/view/id/5">
                            <div class="eye" id="eye-5" title="View"></div>
                        </a>

                        <a href="/webadmin/reportgen/index/edit/id/5">
                            <div class="edit" id="edit-5" title="Edit report"></div>
                        </a>

                        <a href="/webadmin/reportgen/index/copy/id/5" class="in-dialog">
                            <div class="copy" id="copy-5" title="Clone"></div>
                        </a>

                        <a href="/webadmin/reportgen/index/to-menu/id/5" class="in-dialog">
                            <div class="to_menu" id="to_menu-5" title="To Menu"></div>
                        </a>

                        <a href="/webadmin/reportgen/index/delete/id/5">
                            <div class="del" id="del-5" onClick='return confirm("Deleting report.\nAre you sure?");' title="Delete report"></div>
                        </a>


                    </div>
                </div>
            </td>

        </tr>
    </table>
    <div class='rowCount'>
        Number of rows: 5
        &nbsp;|&nbsp;
        Export To:
        <a href="/webadmin/reportgen/index/list/_output/xlsx">Excel</a> | <a href="/webadmin/reportgen/index/list/_output/csv">CSV</a> | <a href="/webadmin/reportgen/index/list/_output/ods">OpenDocument</a>
    </div>
    <div class="paginator-controls" id="blockPaginatorControls">
    </div>
    <div class="limit-controls" style="display: inline-block;">
        <div id="perpage">Per page:</div>
        <select class="limit-links">
            <option data-href="/webadmin/reportgen/index/list/limit/10">10</option>
            <option data-href="/webadmin/reportgen/index/list/limit/25">25</option>
            <option selected data-href="/webadmin/reportgen/index/list/limit/50">50</option>
            <option data-href="/webadmin/reportgen/index/list/limit/100">100</option>
        </select>
    </div>
</div>