﻿
@{
    ViewBag.Title = "ReportView";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3> Report Name: UserRoles</h3>
<a href="/webadmin/reportgen/index/edit/id/1" class="btn">
    <img src="img/content/but_edit.png" alt="Edit" class="icon" /> Edit
</a>
<a href="/webadmin/reportgen/index/copy/id/1" class="btn in-dialog"
   title="Clone">
    <img src="img/content/but_copy.png" alt="Clone" class="icon" /> Clone
</a>
<a href="/webadmin/reportgen/index/to-menu/id/1" class="btn in-dialog"
   title="Save Current Report as Menu">
    <img src="img/content/but_add_to_tree.png" alt="To Menu" class="icon" />         Edit Menu
</a>
<a href="/webadmin/reportgen/index/delete/id/1" class="btn"
   onclick="return confirm('Are you sure?')">
    <img src="img/content/but_del.png" alt="Delete" class="icon" /> Delete
</a>
<p>
    <b>Description: </b><br />
    Shows users' roles
</p>

<div class="row">
    <div class="col-lg-12">
        <div class="box box-primary">
            <form action="" enctype="application/x-www-form-urlencoded" method="post">
                <div class="box-body">
                </div>
            </form>
        </div>
    </div>
</div>
<br />
<div id="reportTabContainer" dojoType="dijit.layout.TabContainer" class="dojoTabContainer" style="width: 100%;" doLayout="false">
    <div id="configType-1" dojoType="dijit.layout.ContentPane" class="dojoContentPane" title="Table">




        <br />
        <div id="dynamicContent">



            <table id='reportGenView' class="listing-table">
                <thead class="listHead">
                    <tr>
                        <th data-meta-skip-manage='true'>#</th>
                        <th data-meta-key='buttons' data-meta-visibility="true">
                            <nobr>
                                Actions
                            </nobr>
                        </th>
                        <th data-meta-key='f_id' data-meta-visibility="true">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_id" orderType="DESC">
                                    Player Id
                                    <img src="img/arrow_up.png" />
                                </a>
                            </nobr>
                        </th>
                        <th data-meta-key='f_nick' data-meta-visibility="true">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_nick" orderType="">
                                    Player Nick
                                </a>
                            </nobr>
                        </th>
                        <th data-meta-key='f_role' data-meta-visibility="true">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_role" orderType="">
                                    Player Role
                                </a>
                            </nobr>
                        </th>
                    </tr>
                </thead>
                <thead class="listFilter">
                    <tr>
                        <th>&nbsp;</th>
                        <th>

                            <button name="butFilter" id="butFilter" type="button">Apply Filter</button>

                            <button name="butReset" id="butReset" type="button">Reset Filter</button>
                        </th>
                        <th>
                            <input type="text" name="f_id" id="f_id" value="" orderable="1" filter="1" sql="f_id" nonHtml="" class="filter" />
                        </th>
                        <th>
                            <input type="text" name="f_nick" id="f_nick" value="" orderable="1" filter="1" sql="f_nick" nonHtml="" class="filter" />
                        </th>
                        <th>
                            <input type="text" name="f_role" id="f_role" value="" orderable="1" filter="1" sql="f_role" nonHtml="" class="filter" />
                        </th>

                    </tr>
                </thead>

                <tr class="odd">
                    <td>1</td>
                    <td></td>
                    <td>100</td>
                    <td>admin</td>
                    <td>Administrators</td>

                </tr>
                <tr class="even">
                    <td>2</td>
                    <td></td>
                    <td>300</td>
                    <td>FOLLOFF</td>
                    <td>Administrators</td>

                </tr>
                <tr class="odd">
                    <td>3</td>
                    <td></td>
                    <td>2227613</td>
                    <td>LC9HY1MM</td>
                    <td>Players</td>

                </tr>
                <tr class="even">
                    <td>4</td>
                    <td></td>
                    <td>3486546</td>
                    <td>E5G0KM55</td>
                    <td>DbRole1</td>

                </tr>
                <tr class="odd">
                    <td>5</td>
                    <td></td>
                    <td>3486546</td>
                    <td>E5G0KM55</td>
                    <td>Maintenancer</td>

                </tr>
            </table>
            <div class='rowCount'>
                Number of rows: 5
                &nbsp;|&nbsp;
                Export To:
                <a href="/webadmin/reportgen/index/view/id/1/_output/xlsx">Excel</a> | <a href="/webadmin/reportgen/index/view/id/1/_output/csv">CSV</a> | <a href="/webadmin/reportgen/index/view/id/1/_output/ods">OpenDocument</a>
            </div>
            <div class="paginator-controls" id="blockPaginatorControls">
            </div>
            <div class="limit-controls" style="display: inline-block;">
                <div id="perpage">Per page:</div>
                <select class="limit-links">
                    <option data-href="/webadmin/reportgen/index/view/id/1/limit/10">10</option>
                    <option data-href="/webadmin/reportgen/index/view/id/1/limit/25">25</option>
                    <option selected data-href="/webadmin/reportgen/index/view/id/1/limit/50">50</option>
                    <option data-href="/webadmin/reportgen/index/view/id/1/limit/100">100</option>
                </select>
            </div>
        </div>
    </div>
    <div id="configType-2" dojoType="dijit.layout.ContentPane" class="dojoContentPane" title="Graph">
        <br class='clear'>
    </div>
</div>﻿

