﻿
@{
    ViewBag.Title = "ServerAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Server Info</h3>
<p>
    Game Types: Hold'em; Omaha; Omaha H/L; Omaha 5 card; Omaha 5 card H/L; Omaha 6 card; Omaha 6 card H/L; Courchevel; Stud; Stud H/L; Razz; Chinese; Openface Chinese; Chinese Turbo; Chinese Pineapple; Chinese 2-7 Pineapple; Chinese OF Pineapple Progressive; 2-7 Triple Draw; Badugi; Badeucy; Badacey; Pineapple Poker; Short Deck Hold'em; Triton ShortDeck; Turkish; 5 Card Draw 7-A; Points Rummy; Deals Rummy; Pool Rummy
</p>
<div class="row">
    <div class="col-xs-12 col-md-8">
        <div class="box box-default">
            <div class="box-body">
                <table class="table table-bordered table-condensed table-striped">
                    <tbody>
                        <tr>
                            <th>IP:</th>
                            <td>
                                95.216.232.125

                            </td>
                        </tr>
                        <tr>
                            <th>Slot:</th>
                            <td>
                                1

                            </td>
                        </tr>
                        <tr>
                            <th>Started:</th>
                            <td>
                                2020/02/15 04:39:54

                            </td>
                        </tr>
                        <tr>
                            <th>Ended:</th>
                            <td>
                                -

                            </td>
                        </tr>
                        <tr>
                            <th>Closed:</th>
                            <td>
                                No

                            </td>
                        </tr>
                        <tr>
                            <th>Close reason:</th>
                            <td>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

