﻿
@{
    ViewBag.Title = "Server List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="uptimeData">

    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Lobby Info <a href="http://docs.evenbetgaming.com/articles/Administration_Panel/Game%20Server%20List.html" target="_blank"><sup><i class="fa fa-question-circle"></i></sup></a></h3>
        </div>
        <div class="box-body">
            <p class="">
                Lobby Address: 95.216.232.125:20000<br>
                Lobby Uptime: 12d 5h 10m 40s<br>
                Lobby Version: Evenbet.7.1.1.145093<br>
                WC Version: Evenbet.7.1.1.145093
            </p>
        </div>
    </div>

    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Game Server List <a href="http://docs.evenbetgaming.com/articles/Administration_Panel/Game%20Server%20List.html" target="_blank"><sup><i class="fa fa-question-circle"></i></sup></a></h3>
        </div>
        <div class="box-body">
            <table class="table table-bordered table-striped table-condensed table-responsive">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Slot ID</th>
                        <th>Type</th>
                        <th>Uptime</th>
                    </tr>
                </thead>
                <tr>
                    <td><a href="~/Admin/Server/Add">5027822</a></td>
                    <td>1</td>
                    <td>Hold'em; Omaha; Omaha H/L; Omaha 5 card; Omaha 5 card H/L; Omaha 6 card; Omaha 6 card H/L; Courchevel; Stud; Stud H/L; Razz; Chinese; Openface Chinese; Chinese Turbo; Chinese Pineapple; Chinese 2-7 Pineapple; Chinese OF Pineapple Progressive; 2-7 Triple Draw; Badugi; Badeucy; Badacey; Pineapple Poker; 6; Triton ShortDeck; Turkish; 5 Card Draw 7-A; Points Rummy; Deals Rummy; Pool Rummy</td>
                    <td>12d 5h 9m 41s</td>
                </tr>
            </table>
        </div>
    </div>
</div>

