﻿
@{
    ViewBag.Title = "Skin Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Add Skin</h3>
<div class="box box-primary">
    <div enctype="application/x-www-form-urlencoded" action="" dojoType="dijit.form.Form">
        <div class="box-body">
            <div class="form-group" id="form-element-key">
                <label for="key" class="required">Key</label>

                <input type="text" name="key" id="key" value="" class="form-control" />
            </div>
            <div class="form-group" id="form-element-name">
                <label for="name" class="required">Name</label>

                <input type="text" name="name" id="name" value="" class="form-control" />
            </div>
            <div class="form-group" id="form-element-affiliateId">
                <label for="affiliateId" class="optional">Affiliate</label>

                <div class="input-group">
                    <select name="affiliateId" id="affiliateId" class="form-control select2">
                    </select>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-danger" name="affiliateClearButton" id="affiliateClearButton">Remove</button>
                    </span>
                </div>
            </div>

            <input type="submit" name="send" id="send" value="Save" class="btn btn-primary" />
        </div>
    </div>
</div>

