﻿
@{
    ViewBag.Title = "Skin's Money Report";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Skin's Money Report</h3>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="row">
                <div class="col-md-12" style="margin-bottom: 15px; margin-top: 15px">
                    <div class="form-group" style="margin: 10px;">
                        From: <input type="text" name="Date[from]" id="Date[from]" value="" skipSelect="1" external="1" class="filter" readonly="readonly" onclick='displayDatePicker("Date[from]", false, "ymd", "-");' /> To: <input type="text" name="Date[to]" id="Date[to]" value="" skipSelect="1" external="1" class="filter" readonly="readonly" onclick='displayDatePicker("Date[to]", false, "ymd", "-");' />
                    </div>
                    <div class="form-group" style="margin: 10px;">
                        <a href="#" class="btn btn-default" onclick="listing.filter(); return false;">Apply Filter</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="box-body">
                <div id="dynamicContent">
                    <div class="custom-dropdown-menu" id="columnsControls">
                    </div>
                    <table id='skins_users_report' class="listing-table" data-dt-not-fixed-cols="true">
                        <thead class="listHead">
                            <tr>
                                <th data-meta-skip-manage='true'>
                                    <div>
                                        <button type="button" class="btn btn-primary custom-dropdown" id="columnControlsBtn">
                                            <img src="~/Assest/img/menu.svg" />
                                        </button>
                                    </div>
                                </th>
                                <th data-meta-key='skin'
                                    data-meta-visibility="true">
                                    <nobr>
                                        Skin
                                    </nobr>
                                </th>
                                <th data-meta-key='players'
                                    data-meta-visibility="true">
                                    <nobr>
                                        Players Num.
                                    </nobr>
                                </th>
                                <th data-meta-key='f_money_type'
                                    data-meta-visibility="true">
                                    <nobr>
                                        Money Type
                                    </nobr>
                                </th>
                                <th data-meta-key='wins'
                                    data-meta-visibility="true">
                                    <nobr>
                                        Wins
                                    </nobr>
                                </th>
                                <th data-meta-key='loss'
                                    data-meta-visibility="true">
                                    <nobr>
                                        Loss
                                    </nobr>
                                </th>
                                <th data-meta-key='rake'
                                    data-meta-visibility="true">
                                    <nobr>
                                        Rake
                                    </nobr>
                                </th>
                                <th data-meta-key='rakeback'
                                    data-meta-visibility="true">
                                    <nobr>
                                        Rakeback
                                    </nobr>
                                </th>
                                <th data-meta-key='tournament_fees'
                                    data-meta-visibility="true">
                                    <nobr>
                                        Tournament Fee
                                    </nobr>
                                </th>
                            </tr>
                            <tr class="listFilter">
                                <th>

                                    <button name="butFilter" id="butFilter" type="button">Apply Filter</button>

                                    <button name="butReset" id="butReset" type="button">Reset Filter</button>
                                </th>
                                <th>
                                    <input type="text" name="skin" id="skin" value="" filter="1" orderable="" sql="p.f_id" nonHtml="" class="filter" />
                                </th>
                                <th>&nbsp;</th>
                                <th>
                                    <select name="f_money_type" id="f_money_type" orderable="" filter="1" sql="c.f_money_type" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="82">Real Money</option>
                                        <option value="80">Play Money</option>
                                        <option value="65">cash game points</option>
                                    </select>
                                </th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>

                            </tr>
                        </thead>


                        <tr class="odd ">
                            <td></td>
                            <td>Default</td>
                            <td>1380</td>
                            <td>Real Money</td>
                            <td>7349.53</td>
                            <td>0.00</td>
                            <td>12268.85</td>
                            <td>4747.87</td>
                            <td>3321.33</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td></td>
                            <td>Default</td>
                            <td>263</td>
                            <td>Play Money</td>
                            <td>0.00</td>
                            <td>32.23</td>
                            <td>32.89</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td></td>
                            <td>Default</td>
                            <td>1006</td>
                            <td>cash game points</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->


                    </table>
                    <div class='rowCount'>
                        <div class="row">
                            <div class="col-md-3">
                                Rows: 3&ensp;|&ensp;
                                <div class="limit-controls" style="display: inline-block;">
                                    <div id="perpage">Per page:</div>
                                    <select class="limit-links">
                                        <option data-href="/webadmin/skin/money-report/limit/10">10</option>
                                        <option data-href="/webadmin/skin/money-report/limit/25">25</option>
                                        <option selected data-href="/webadmin/skin/money-report/limit/50">50</option>
                                        <option data-href="/webadmin/skin/money-report/limit/100">100</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-7" style="display: flex; justify-content: center">
                                <div class="paginator-controls" id="blockPaginatorControls">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="pull-right">
                                    <a href="/webadmin/skin/money-report/_output/xlsx"><img src="~/Assest/img/xls.svg" alt="Excel"></a>
                                    <a href="/webadmin/skin/money-report/_output/csv"><img src="~/Assest/img/csv.svg" alt="CSV"></a>
                                    <a href="/webadmin/skin/money-report/_output/ods"><img src="~/Assest/img/odt.svg" alt="OpenDocument" /></a>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>

