﻿
@{
    ViewBag.Title = "SpinList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Spin Statistics</h3>
<br />
<div id="dynamicContent">
    <table id='PokerTableNavigatorTournamentSpinReport' class="listing-table">
        <thead class="listHead">
            <tr>
                <th data-meta-skip-manage='true'>#</th>
                <th data-meta-key='f_id' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_id" orderType="">
                            Id
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_name' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_name" orderType="">
                            Name
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_start_date' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_start_date" orderType="ASC">
                            Start date
                            <img src="img/arrow_down.png" />
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='total_buy_in' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="total_buy_in" orderType="">
                            Buy-in
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='total_fee' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="total_fee" orderType="">
                            Entry fee
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='won_prize' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="won_prize" orderType="">
                            Won prize
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='buttons' data-meta-visibility="true">
                    <nobr>
                        Actions
                    </nobr>
                </th>
            </tr>
        </thead>
        <thead class="listFilter">
            <tr>
                <th>&nbsp;</th>
                <th>
                    <input type="text" name="f_id" id="f_id" value="" filter="1" sql="tournament.f_id" controller="tournament" action="info" orderable="1" nonHtml="" style="width:50px;" class="filter" />
                </th>
                <th>
                    <input type="text" name="f_name" id="f_name" value="" filter="1" orderable="1" sql="f_name" nonHtml="" class="filter" />
                </th>
                <th>
                    From: <input type="text" name="f_start_date[from]" id="f_start_date[from]" value="" filter="1" style="width: 120px" orderable="1" sql="f_start_date" nonHtml="" class="filter" readonly="readonly" onclick='displayDatePicker("f_start_date[from]", false, "ymd", "-");' /> To: <input type="text" name="f_start_date[to]" id="f_start_date[to]" value="" filter="1" style="width: 120px" orderable="1" sql="f_start_date" nonHtml="" class="filter" readonly="readonly" onclick='displayDatePicker("f_start_date[to]", false, "ymd", "-");' />
                </th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>

                    <button name="butFilter" id="butFilter" type="button">Apply Filter</button>

                    <button name="butReset" id="butReset" type="button">Reset Filter</button>
                </th>

            </tr>
        </thead>

    </table>
</div>