﻿@model DataLayer.SystemConfigList
@{
    ViewBag.Title = "System Log";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>System Log History</h3>
<br />
<div id="dynamicContent">
    <table id='actions-log' class="listing-table">
        <thead class="listHead">
            <tr>
                <th>#</th>
                <th>
                    Object Type
                </th>
                <th>
                    Old
                </th>
                <th>
                    When
                </th>
            </tr>
        </thead>
        @{ int i = 1;}
        @foreach (var item in Model.LogList)
        {
            <tr class="@(i%2==0 ? "odd":"even")">
                <td>
                    @i
                </td>
                <td>
                    @item.ConfigKey
                </td>
                <td>
                    @item.ConfigValue
                </td>
                <td>
                    @item.CreateDate
                </td>
            </tr>
            i++;
        }
    </table>   
</div>

