﻿@model DataLayer.SystemConfig
@{
    ViewBag.Title = "System";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <h3 class="section-title">
            System Configuration <a href="http://docs.evenbetgaming.com/articles/Configuring_the_Server/index.html" target="_blank"><sup><i class="fa fa-question-circle"></i></sup></a>
        </h3>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-12">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="false">Main</a></li>
                <li><a href="#tab_2" data-toggle="tab" aria-expanded="false">Custom Options</a></li>
                <li><a href="#tab_4" data-toggle="tab" aria-expanded="false">Rules</a></li>
                <li><a href="#tab_6" data-toggle="tab" aria-expanded="false">Hosts</a></li>
                <li><a href="#tab_7" data-toggle="tab" aria-expanded="false">Endpoints</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                    @using (Html.BeginForm("System_MainConfig", "Admin", FormMethod.Post, new { @id = "MainConfig", enctype = "multipart/form-data" }))
                    {
                        <div class="zend_form">
                            @Html.TextAreaFor(model => model.MainConfig, new { @class = "form-control form-group", @rows = "15" })
                            @Html.ValidationMessageFor(model => model.MainConfig, "", new { @class = "text-danger" })


                            <input type="submit" name="btnMain" id="btnMain" value="Apply &amp; Save" class="btn-primary btn" />
                            <input type="reset" name="resetMain" id="resetMain" value="Cancel" class="btn-danger btn" />
                            <button name="historyMain" id="historyMain" type="button" class="btn-info pull-right btn" style="margin-left: 3px;">History</button>
                            <input type="submit" name="revertMain" id="revertMain" value="Revert to previous version" class="btn-warning pull-right btn" />
                        </div>
                    }
                </div>
                <div class="tab-pane" id="tab_2">
                    @using (Html.BeginForm("System_CustomOptions", "Admin", FormMethod.Post, new { @id = "CustomOptions", enctype = "multipart/form-data" }))
                    {
                        <div class="zend_form">
                            @Html.TextAreaFor(model => model.CustomOptions, new { @class = "form-control form-group", @rows = "15" })
                            @Html.ValidationMessageFor(model => model.CustomOptions, "", new { @class = "text-danger" })


                            <input type="submit" name="btnCustom" id="btnCustom" value="Apply &amp; Save" class="btn-primary btn" />
                            <input type="reset" name="resetCustom" id="resetCustom" value="Cancel" class="btn-danger btn" />
                            <button name="historyCustom" id="historyCustom" type="button" class="btn-info pull-right btn" style="margin-left: 3px;">History</button>
                            <input type="submit" name="revertCustom" id="revertCustom" value="Revert to previous version" class="btn-warning pull-right btn" />
                        </div>
                    }
                </div>
                <div class="tab-pane" id="tab_4">
                    @using (Html.BeginForm("System_Rules", "Admin", FormMethod.Post, new { @id = "Rules", enctype = "multipart/form-data" }))
                    {
                        <div class="zend_form">
                            @Html.TextAreaFor(model => model.Rules, new { @class = "form-control form-group", @rows = "15" })
                            @Html.ValidationMessageFor(model => model.Rules, "", new { @class = "text-danger" })


                            <input type="submit" name="btnRules" id="btnRules" value="Apply &amp; Save" class="btn-primary btn" />
                            <input type="reset" name="resetRules" id="resetRules" value="Cancel" class="btn-danger btn" />
                            <button name="historyRules" id="historyRules" type="button" class="btn-info pull-right btn" style="margin-left: 3px;">History</button>
                            <input type="submit" name="revertRules" id="revertRules" value="Revert to previous version" class="btn-warning pull-right btn" />
                        </div>
                    }
                </div>
                <div class="tab-pane" id="tab_6">
                    @using (Html.BeginForm("System_Hosts", "Admin", FormMethod.Post, new { @id = "Hosts", enctype = "multipart/form-data" }))
                    {
                        <div class="zend_form">
                            @Html.TextAreaFor(model => model.Hosts, new { @class = "form-control form-group", @rows = "15" })
                            @Html.ValidationMessageFor(model => model.Hosts, "", new { @class = "text-danger" })


                            <input type="submit" name="btnHosts" id="btnHosts" value="Apply &amp; Save" class="btn-primary btn" />
                            <input type="reset" name="resetHosts" id="resetHosts" value="Cancel" class="btn-danger btn" />
                            <button name="historyHosts" id="historyHosts" type="button" class="btn-info pull-right btn" style="margin-left: 3px;">History</button>
                            <input type="submit" name="revertHosts" id="revertHosts" value="Revert to previous version" class="btn-warning pull-right btn" />
                        </div>
                    }                    
                </div>
                <div class="tab-pane" id="tab_7">
                     @using (Html.BeginForm("System_EndPoints", "Admin", FormMethod.Post, new { @id = "EndPoints", enctype = "multipart/form-data" }))
                    {
                        <div class="zend_form">
                            @Html.TextAreaFor(model => model.EndPoints, new { @class = "form-control form-group", @rows = "15" })
                            @Html.ValidationMessageFor(model => model.EndPoints, "", new { @class = "text-danger" })


                            <input type="submit" name="btnEndPoints" id="btnEndPoints" value="Apply &amp; Save" class="btn-primary btn" />
                            <input type="reset" name="resetEndPoints" id="resetEndPoints" value="Cancel" class="btn-danger btn" />
                            <button name="historyEndPoints" id="historyEndPoints" type="button" class="btn-info pull-right btn" style="margin-left: 3px;">History</button>
                            <input type="submit" name="revertEndPoints" id="revertEndPoints" value="Revert to previous version" class="btn-warning pull-right btn" />
                        </div>
                    }                      
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#resetMain').on('click', function () {
      $("#MainConfig").trigger('reset');
    });
     $('#resetCustom').on('click', function () {
      $("#CustomOptions").trigger('reset');
     });
     $('#resetRules').on('click', function () {
      $("#Rules").trigger('reset');
     });
     $('#resetHosts').on('click', function () {
      $("#Hosts").trigger('reset');
     });
     $('#resetEndPoints').on('click', function () {
      $("#EndPoints").trigger('reset');
    });
</script>


