﻿
@{
    ViewBag.Title = "TableHistory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>History: Table (4629786)</h3>

<br />
<div id="dynamicContent">
    <table id='actions-log' class="listing-table">
        <thead class="listHead">
            <tr>
                <th data-meta-skip-manage='true'>#</th>
                <th data-meta-key='f_manager_id' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_manager_id" orderType="">
                            User
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_action' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_action" orderType="">
                            Action
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_object_type' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_object_type" orderType="">
                            Object Type
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_object_id' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_object_id" orderType="">
                            Object
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_old_value' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_old_value" orderType="">
                            Old
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_new_value' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_new_value" orderType="">
                            New
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_datetime' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_datetime" orderType="ASC">
                            When
                            <img src="img/arrow_down.png" />
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_source' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_source" orderType="">
                            Page
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_ip' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_ip" orderType="">
                            IP
                        </a>
                    </nobr>
                </th>
            </tr>
        </thead>
        <thead class="listFilter">
            <tr>
                <th>&nbsp;</th>
                <th>
                    <input type="text" name="f_manager_id" id="f_manager_id" value="" filter="1" sql="p.f_id" sql_nick="p.f_nick" orderable="1" nonHtml="" class="filter" />
                </th>
                <th>
                    <input type="text" name="f_action" id="f_action" value="" filter="1" sql="al.f_action" orderable="1" nonHtml="" class="filter" />
                </th>
                <th>
                    <input type="text" name="f_object_type" id="f_object_type" value="" filter="1" sql="al.f_object_type" orderable="1" nonHtml="" class="filter" />
                </th>
                <th>
                    <input type="text" name="f_object_id" id="f_object_id" value="" filter="1" sql="al.f_object_id" fieldExt="f_object_type" orderable="1" nonHtml="" class="filter" />
                </th>
                <th>
                    <input type="text" name="f_old_value" id="f_old_value" value="" filter="1" sql="al.f_old_value" orderable="1" nonHtml="" class="filter" />
                </th>
                <th>
                    <input type="text" name="f_new_value" id="f_new_value" value="" filter="1" sql="al.f_new_value" orderable="1" nonHtml="" class="filter" />
                </th>
                <th>
                    <input type="text" name="f_datetime" id="f_datetime" value="" filter="1" sql="al.f_datetime" orderable="1" nonHtml="" class="filter" readonly="readonly" onclick='displayDatePicker("f_datetime", false, "ymd", "-");' />
                </th>
                <th>
                    <input type="text" name="f_source" id="f_source" value="" filter="1" sql="al.f_source" orderable="1" nonHtml="" class="filter" />
                </th>
                <th>
                    <input type="text" name="f_ip" id="f_ip" value="" filter="1" sql="al.f_ip" orderable="1" nonHtml="" class="filter" />
                </th>

            </tr>
        </thead>

        <tr class="odd">
            <td>1</td>
            <td><a href="/webadmin/user/info/type/table/id/100">admin</a></td>
            <td><span style="white-space: nowrap;">create</span></td>
            <td>table</td>
            <td><a href="/webadmin/table/info/type/table/id/4629786">Kentucky (4629786)</a> (4629786)</td>
            <td></td>
            <td>
                <span style="word-break: break-all;">
                    {
                    &quot;name&quot;: &quot;Kentucky&quot;,
                    &quot;moneyType&quot;: &quot;82&quot;,
                    &quot;gameType&quot;: &quot;79&quot;,
                    &quot;rummyCardsOnHand&quot;: &quot;13&quot;,
                    &quot;rummyNumD
                </span> <a href="#" data-toggle="modal" data-target="#viewValue5e579ba893a1d">More…</a>

                <div class="modal fade" id="viewValue5e579ba893a1d" tabindex="-1" role="dialog"
                     aria-labelledby="viewValue5e579ba893a1dLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="viewValue5e579ba893a1dLabel" style="font-size: 18px;">View Value</h4>
                            </div>
                            <div class="modal-body" style="max-height: calc(100vh - 200px); overflow-y: auto;">
                                {<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;name&quot;:&nbsp;&quot;Kentucky&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;moneyType&quot;:&nbsp;&quot;82&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;gameType&quot;:&nbsp;&quot;79&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;rummyCardsOnHand&quot;:&nbsp;&quot;13&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;rummyNumDeals&quot;:&nbsp;null,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;rummyPoolType&quot;:&nbsp;null,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;isAnteOnlyHoldem&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;mixedGameTypeName&quot;:&nbsp;null,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;smallBlind&quot;:&nbsp;&quot;2.50&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;bigBlind&quot;:&nbsp;&quot;5&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;cashTableName&quot;:&nbsp;&quot;Default&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;rakeTableName&quot;:&nbsp;&quot;RakeMidtables&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;maxPlayers&quot;:&nbsp;&quot;6&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;isRummyShowWildJoker&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;isPractice&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;rummyPoolAllowSplit&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;speed&quot;:&nbsp;&quot;5&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;potType&quot;:&nbsp;&quot;80&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;playerClassification&quot;:&nbsp;null,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;scoringMethod&quot;:&nbsp;&quot;79&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;password&quot;:&nbsp;&quot;&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;permanent&quot;:&nbsp;&quot;1&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;isUseInsurance&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;isTimeBasedTable&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;timeBasedDuration&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;tbtRakeSchema&quot;:&nbsp;69,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;autoResumeNumPlayers&quot;:&nbsp;null,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;expectingStopStamp&quot;:&nbsp;null,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;anonymous&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;balancedMode&quot;:&nbsp;&quot;78&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;isBadBeatJackpot&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;isMonteCarloJackpot&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;isSmartJackpot&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;forceDisableRake&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;straddle&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;restraddle&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;runItTwiceMode&quot;:&nbsp;&quot;80&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;allInOrFold&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;fastFoldTable&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;ffMaxEntries&quot;:&nbsp;&quot;4&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;ffOccupancy&quot;:&nbsp;&quot;50&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;ffMinPlayers&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;requirePlayerTag&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;tag&quot;:&nbsp;&quot;&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;createAnother&quot;:&nbsp;&quot;1&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;ipRestrictionMode&quot;:&nbsp;&quot;95&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;chineseContinuousPlay&quot;:&nbsp;&quot;95&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;gpsRestrictionMode&quot;:&nbsp;&quot;95&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;useFixedRake&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;fixedRakePart&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;fixedRakeCap&quot;:&nbsp;&quot;&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;rabbitHuntingAllowed&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;rabbitHuntingPrice&quot;:&nbsp;&quot;&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;markHasColor&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;markColor&quot;:&nbsp;&quot;#000000&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;markBold&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;markItalic&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;markHasBackgroundColor&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;markBackgroundColor&quot;:&nbsp;&quot;#FFFFFF&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;markHasLabel&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;markLabel&quot;:&nbsp;&quot;&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;isAnte&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;ante&quot;:&nbsp;&quot;&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;nameTranslations&quot;:&nbsp;[]<br>}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td>2020/01/12 17:50:31</td>
            <td><a href="https://backoffice02.betandbit.net/webadmin-4DJ234s/table/add" title="https://backoffice02.betandbit.net/webadmin-4DJ234s/table/add" style="white-space: nowrap;">…in-4DJ234s/table/add</a></td>
            <td>94.217.218.66</td>

        </tr>
    </table>
    <div class='rowCount'>
        Number of rows: 1
        &nbsp;|&nbsp;
        Export To:
        <a href="/webadmin/actions-log/index/history/type/table/id/4629786/_output/xlsx">Excel</a> | <a href="/webadmin/actions-log/index/history/type/table/id/4629786/_output/csv">CSV</a> | <a href="/webadmin/actions-log/index/history/type/table/id/4629786/_output/ods">OpenDocument</a>
    </div>
    <div class="paginator-controls" id="blockPaginatorControls">
    </div>
    <div class="limit-controls" style="display: inline-block;">
        <div id="perpage">Per page:</div>
        <select class="limit-links">
            <option data-href="/webadmin/actions-log/index/history/type/table/id/4629786/limit/10">10</option>
            <option data-href="/webadmin/actions-log/index/history/type/table/id/4629786/limit/25">25</option>
            <option selected data-href="/webadmin/actions-log/index/history/type/table/id/4629786/limit/50">50</option>
            <option data-href="/webadmin/actions-log/index/history/type/table/id/4629786/limit/100">100</option>
        </select>
    </div>
</div>

