﻿
@{
    ViewBag.Title = "TableChats";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Chat List</h3>
<h4>For table <a href="/webadmin/table/info/id/4629786">Kentucky (4629786)</a></a></h4>
<a href="/webadmin/listing/table-chats">Show all</a>
<br />
<div id="dynamicContent">
    <table id='tableChats' class="listing-table">
        <thead class="listHead">
            <tr>
                <th data-meta-skip-manage='true'>#</th>
                <th data-meta-key='f_id' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_id" orderType="DESC">
                            Id
                            <img src="img/arrow_up.png" />
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_stamp' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_stamp" orderType="">
                            Date
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_text' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_text" orderType="">
                            Message
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_player_id' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_player_id" orderType="">
                            Player
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='buttons' data-meta-visibility="true">
                    <nobr>
                        Actions
                    </nobr>
                </th>
            </tr>
        </thead>
        <thead class="listFilter">
            <tr>
                <th>&nbsp;</th>
                <th>
                    <input type="text" name="f_id" id="f_id" value="" filter="1" sql="cl.f_id" orderable="1" nonHtml="" class="filter" />
                </th>
                <th>
                    <input type="text" name="f_stamp" id="f_stamp" value="" filter="1" orderable="1" sql="f_stamp" nonHtml="" class="filter" readonly="readonly" onclick='displayDatePicker("f_stamp", false, "ymd", "-");' />
                </th>
                <th>
                    <input type="text" name="f_text" id="f_text" value="" filter="1" orderable="1" sql="f_text" nonHtml="" class="filter" />
                </th>
                <th>
                    <input type="text" name="f_player_id" id="f_player_id" value="" filter="1" sql_nick="p.f_nick" orderable="1" sql="f_player_id" nonHtml="" class="filter" />
                </th>
                <th>

                    <button name="butFilter" id="butFilter" type="button">Apply Filter</button>

                    <button name="butReset" id="butReset" type="button">Reset Filter</button>
                </th>

            </tr>
        </thead>

    </table>
</div>
