﻿
@{
    ViewBag.Title = "TableAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Add Table <a href="http://docs.evenbetgaming.com/articles/Administration_Panel/Add%20Table.html" target="_blank"><sup><i class="fa fa-question-circle"></i></sup></a></h3>

<div class="callout callout-info" style="display: none">
    <p id="response"></p>
</div>
<form id="tableForm" jsId="tableForm"
      encType="application/x-www-form-urlencoded" method="post">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tabMain" data-toggle="tab">Main</a></li>
            <li><a href="#tabOptions" data-toggle="tab">Options</a></li>
            <li><a href="#tabFastFold" data-toggle="tab">Fast Fold</a></li>
            <li><a href="#tabAnte" data-toggle="tab">Ante</a></li>
            <li><a href="#tabRent" data-toggle="tab">Rent</a></li>
            <li><a href="#tabTemplate" data-toggle="tab">Template</a></li>
            <li><a href="#tabStyle" data-toggle="tab">Style</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tabMain">
                <div class="row">
                    <div class="col-md-5 col-xs-12">
                        <div class="form-group">

                            <div class="form-group" id="form-element-name">
                                <label for="name" class="required">Table Name</label>

                                <input type="text" name="name" id="name" value="" maxlenght="60" class="form-control" />
                            </div>
                            <button type="button" id="nameTranslationsShowDialogBtn" class="btn btn-primary">
                                Localize
                            </button>

                            <!-- Modal -->
                            <div class="modal fade preview-popup" id="nameTranslationsModal" tabindex="-1"
                                 role="dialog" aria-labelledby="nameTranslationsModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close"
                                                    id="nameTranslationsCloseDialogBtn" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <h4 class="modal-title">Localize</h4>
                                        </div>
                                        <div class="modal-body">
                                            <table id="nameTranslations" class="table table-bordered table-striped">
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Skin</th>
                                                    <th>Language</th>
                                                    <th>Action</th>
                                                </tr>
                                            </table>

                                            <button type="button" id="nameTranslationsAddBtn" class="btn btn-primary">
                                                +
                                            </button>
                                            <button type="button" id="nameTranslationsHideDialogBtn"
                                                    class="btn btn-primary pull-right">
                                                Close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <style>
                                #nameTranslations th {
                                    font-weight: normal;
                                }

                                #nameTranslations td {
                                    padding: 0;
                                }

                                    #nameTranslations td.action-column {
                                        text-align: center;
                                        vertical-align: top;
                                        padding-top: 10px;
                                    }

                                #nameTranslations .removeTranslationBtn {
                                    background: url(img/content/but_del.png) no-repeat;
                                    width: 16px;
                                    height: 16px;
                                    padding: 0;
                                    border: none;
                                }
                            </style>

                            <script>
                                (function () {
                                    var templateStr = "<tr id=\"nameTranslations[_index_]\">\r\n    <td>\n<input type=\"text\" name=\"nameTranslations[_index_][text]\" id=\"nameTranslations-_index_-text\" value=\"\" class=\"form-control\" \/><\/td>\r\n    <td>\n<select name=\"nameTranslations[_index_][skin]\" id=\"nameTranslations-_index_-skin\" class=\"form-control\">\n    <option value=\"\">Any<\/option>\n<\/select><\/td>\r\n    <td>\n<select name=\"nameTranslations[_index_][locale]\" id=\"nameTranslations-_index_-locale\" class=\"form-control\">\n    <option value=\"\">Any<\/option>\n    <option value=\"en\">English<\/option>\n    <option value=\"cs\">Czech<\/option>\n    <option value=\"de\">German<\/option>\n    <option value=\"es\">Spanish<\/option>\n    <option value=\"it\">Italian<\/option>\n    <option value=\"ka\">Georgian<\/option>\n    <option value=\"ms\">Malay<\/option>\n    <option value=\"pt\">Portuguese<\/option>\n    <option value=\"ru\">Russian<\/option>\n    <option value=\"th\">Thai<\/option>\n    <option value=\"zh\">Chinese<\/option>\n<\/select><\/td>\r\n    <td class=\"action-column\">\r\n        <button type=\"button\" class=\"removeTranslationBtn\"><\/button>\r\n    <\/td>\r\n<\/tr>\r";
                                    var subFormName = "nameTranslations";


                                    $("#" + subFormName + "Modal").modal({
                                        backdrop: false,
                                        show: false
                                    });

                                    $("#" + subFormName + "ShowDialogBtn").click(onShowTranslationDialog);
                                    $("#" + subFormName + "HideDialogBtn").click(onHideTranslationDialog);
                                    $("#" + subFormName + "CloseDialogBtn").click(onHideTranslationDialog);
                                    $("#" + subFormName + "AddBtn").click(onAddTranslation);
                                    $("#" + subFormName + " .removeTranslationBtn").click(onRemoveTranslation);

                                    function onShowTranslationDialog(event) {
                                        $("#" + subFormName + "Modal").modal("show");
                                    }

                                    function onHideTranslationDialog(event) {
                                        clearErrorContainers();
                                        var errors = getErrors();
                                        if (!errors) {
                                            $("#" + subFormName + "Modal").modal("hide");
                                        } else {
                                            var errorMessages = {};
                                            errorMessages[subFormName] = {};
                                            errorMessages[subFormName][subFormName] = errors;
                                            commonForm.showErrors(errorMessages);
                                        }
                                    }

                                    function onAddTranslation(event) {
                                        var index = getLastTranslationIndex() + 1;
                                        var html = templateStr.replace(/_index_/g, index);
                                        $("#" + subFormName).append(html);
                                        $("#" + subFormName + " tr:last-child .removeTranslationBtn").click(onRemoveTranslation);
                                    }

                                    function onRemoveTranslation(event) {
                                        $(event.target).closest("tr").remove();
                                    }

                                    function getLastTranslationIndex() {
                                        var lastRow = $("#" + subFormName + " tr:last-child").get(0);
                                        return getRowIndex(lastRow);
                                    }

                                    function getRowIndex(row) {
                                        var matches = /\[(\d+)\]$/.exec(row.id);
                                        return matches ? Number(matches[1]) : -1;
                                    }

                                    function getErrors() {
                                        var isValid = true;
                                        var errors = {};
                                        var rows = $("#" + subFormName + " tr:not(:first-child)");
                                        for (var i = 0; i < rows.length; i++) {
                                            var row = rows[i];
                                            var rowIndex = getRowIndex(row);
                                            var rowErrors = getRowErrors(row);
                                            if (rowErrors) {
                                                isValid = false;
                                                errors[rowIndex] = rowErrors;
                                            }
                                        }
                                        return isValid ? null : errors;
                                    }

                                    function getRowErrors(row) {
                                        var isValid = true;
                                        var errors = {};
                                        var text = $(row).find("[name$='[text]']").val();
                                        var skin = $(row).find("[name$='[skin]']").val();
                                        var language = $(row).find("[name$='[locale]']").val();
                                        if (!text) {
                                            isValid = false;
                                            errors.text = { isEmpty: "Value is required and can't be empty" };
                                        }
                                        if (!skin && !language) {
                                            isValid = false;
                                            errors.skin = { callbackValue: "Skin and Language can't be both Any" };
                                        }
                                        return isValid ? null : errors;
                                    }

                                    function clearErrorContainers() {
                                        var remainingContainers = [];
                                        for (var i = 0; i < commonForm.invalidFieldContainers.length; i++) {
                                            var invalidFieldContainer = commonForm.invalidFieldContainers[i];
                                            var isSubFormContainer = new RegExp("^" + subFormName).test(invalidFieldContainer);
                                            if (isSubFormContainer) {
                                                var container = $("#" + invalidFieldContainer);
                                                container.empty();
                                                container.parent().removeClass("has-error");
                                            } else {
                                                remainingContainers.push(invalidFieldContainer);
                                            }
                                        }
                                        commonForm.invalidFieldContainers = remainingContainers;
                                    }
                                })();
                            </script>

                        </div>

                        <div class="form-group" id="form-element-gameAnteType">
                            <label for="gameAnteType" class="optional">Game Ante Type</label>

                            <select name="gameAnteType" id="gameAnteType" class="form-control select2">
                                <option value="95">No Ante</option>
                                <option value="65">Ante After Blinds</option>
                                <option value="66">Ante Before Blinds</option>
                                <option value="68">Ante Only Dealer Double</option>
                                <option value="67">Ante Without Blinds</option>
                                <option value="69">Gavi Ante</option>
                            </select>
                        </div>
                        <div class="form-group" id="form-element-gameType">
                            <label for="gameType" class="required">Game Type</label>

                            <select name="gameType" id="gameType" class="form-control select2">
                                <option value="72">Hold'em</option>
                                <option value="54">Short Deck Hold'em</option>
                                <option value="79">Omaha</option>
                                <option value="80">Omaha H/L</option>
                                <option value="83">Stud</option>
                                <option value="84">Stud H/L</option>
                                <option value="82">Razz</option>
                                <option value="68">2-7 Triple Draw</option>
                                <option value="66">Badugi</option>
                                <option value="69">Badeucy</option>
                                <option value="67">Badacey</option>
                                <option value="78">Chinese</option>
                                <option value="70">Openface Chinese</option>
                                <option value="73">Chinese Pineapple</option>
                                <option value="76">Chinese 2-7 Pineapple</option>
                                <option value="85">Chinese Turbo</option>
                                <option value="77">Chinese OF Pineapple Progressive</option>
                                <option value="88">Omaha 5 card</option>
                                <option value="71">Omaha 5 card H/L</option>
                                <option value="89">Courchevel</option>
                                <option value="74">Pineapple Poker</option>
                                <option value="35">Mixed Games</option>
                                <option value="75">Turkish</option>
                                <option value="81">5 Card Draw 7-A</option>
                                <option value="65">Points Rummy</option>
                                <option value="86">Deals Rummy</option>
                                <option value="87">Pool Rummy</option>
                                <option value="90">Triton ShortDeck</option>
                                <option value="91">Omaha 6 card</option>
                                <option value="93">Omaha 6 card H/L</option>
                            </select>
                        </div>
                        <div class="form-group" id="form-element-rummyCardsOnHand">
                            <label for="rummyCardsOnHand" class="optional">Cards On Hand</label>

                            <select name="rummyCardsOnHand" id="rummyCardsOnHand" class="form-control select2">
                                <option value="13">13</option>
                                <option value="21">21</option>
                            </select>
                        </div>
                        <div class="form-group" id="form-element-rummyNumDeals">
                            <label for="rummyNumDeals" class="optional">Num Deals</label>

                            <select name="rummyNumDeals" id="rummyNumDeals" class="form-control select2">
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="6">6</option>
                            </select>
                        </div>
                        <div class="form-group" id="form-element-rummyPoolType">
                            <label for="rummyPoolType" class="optional">Points</label>

                            <select name="rummyPoolType" id="rummyPoolType" class="form-control select2">
                                <option value="1">101</option>
                                <option value="2">201</option>
                            </select>
                        </div>
                        <div class="form-group" id="form-element-mixedGameTypeName">
                            <label for="mixedGameTypeName" class="optional">Mixed Game Type</label>

                            <select name="mixedGameTypeName" id="mixedGameTypeName" class="form-control select2">
                                <option value="HORSE">HORSE</option>
                                <option value="HOE">HOE</option>
                                <option value="OE">OE</option>
                                <option value="HA">HA</option>
                                <option value="OA">OA</option>
                                <option value="Triple Stud">Triple Stud</option>
                                <option value="8-Game">8-Game</option>
                                <option value="11-Game">11-Game</option>
                                <option value="Lowball Mix">Lowball Mix</option>
                            </select>
                        </div>
                        <div class="form-group" id="form-element-cashTableName">
                            <label for="cashTableName" class="optional">Buy-In Table</label>

                            <select name="cashTableName" id="cashTableName" class="form-control select2">
                                <option value="Default" selected="selected">Default</option>
                                <option value="Deep">Deep</option>
                            </select>
                        </div>
                        <div class="form-group" id="form-element-maxPlayers">
                            <label for="maxPlayers" class="required">Max. Players</label>

                            <select name="maxPlayers" id="maxPlayers" class="form-control select2">
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="6">6</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                            </select>
                        </div>
                        <div class="form-group" id="form-element-isRummyShowWildJoker">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="isRummyShowWildJoker" value="0" /><input type="checkbox" name="isRummyShowWildJoker" id="isRummyShowWildJoker" value="1" />Show Wild Joker
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="form-element-rummyPoolAllowSplit">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="rummyPoolAllowSplit" value="0" /><input type="checkbox" name="rummyPoolAllowSplit" id="rummyPoolAllowSplit" value="1" />Allow prize pool split
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="form-element-rakeTableName">
                            <label for="rakeTableName" class="optional">Rake Table</label>

                            <select name="rakeTableName" id="rakeTableName" class="form-control select2">
                                <option value="Default">Default</option>
                                <option value="HUTable">HUTable</option>
                                <option value="BBJ">BBJ</option>
                                <option value="OFC">OFC</option>
                            </select>
                        </div>
                        <div class="form-group" id="form-element-moneyType">
                            <label for="moneyType" class="required">Money Type</label>

                            <select name="moneyType" id="moneyType" class="form-control select2">
                                <option value="82">Real Money</option>
                                <option value="80">Play Money</option>
                                <option value="65">cash game points</option>
                            </select>
                        </div>
                        <div class="form-group" id="form-element-speed">
                            <label for="speed" class="required">Game Speed</label>

                            <select name="speed" id="speed" class="form-control select2">
                                <option value="8">Slow</option>
                                <option value="5">Normal</option>
                                <option value="3">Fast</option>
                            </select>
                        </div>
                        <div class="form-group" id="form-element-playerClassification">
                            <label for="playerClassification" class="optional">Player Classification</label>

                            <select name="playerClassification[]" id="playerClassification" multiple="multiple" class="form-control select2">
                            </select>
                        </div>

                        <div class="row group-of-two-inputs -with-column-separator">
                            <div class="col-xs-6 col-lg-4 field-column">
                                <div class="form-group" id="form-element-smallBlind">
                                    <label for="smallBlind" class="required">Stakes</label>

                                    <input type="text" name="smallBlind" id="smallBlind" value="" class="form-control" />
                                </div>
                            </div>
                            <div class="col-xs-6 col-lg-4 field-column">
                                <div class="form-group" id="form-element-bigBlind">
                                    <input type="text" name="bigBlind" id="bigBlind" value="" class="form-control" />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row table-add-cols">
                    <div class="col-md-4" id="potType">
                        <div class="panel panel-primary">
                            <div class="panel-body">
                                <div id="divPotType">
                                    <div class="form-group" id="form-element-potType">
                                        <div id="potType-label"><label class="required">Pot Type</label></div>
                                        <div class="radio">
                                            <label><input type="radio" name="potType" id="potType-70" value="70" checked="checked" />Fixed Limit</label><br /><label><input type="radio" name="potType" id="potType-85" value="85" />No Limit</label><br /><label><input type="radio" name="potType" id="potType-80" value="80" />Pot Limit</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="scoringMethod" class="col-md-4" style="display: none;">
                        <div class="panel panel-primary">
                            <div class="panel-body">
                                <div class="form-group" id="form-element-scoringMethod">
                                    <div id="scoringMethod-label"><label class="optional">Scoring Method</label></div>
                                    <div class="radio">
                                        <label><input type="radio" name="scoringMethod" id="scoringMethod-79" value="79" checked="checked" />Scoring Method 1-6</label><br /><label><input type="radio" name="scoringMethod" id="scoringMethod-84" value="84" />Scoring Method 2-4</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" id="requirePlayerTagWrapper">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Player tag</div>
                            <div class="panel-body">
                                <div class="form-group" id="form-element-requirePlayerTag">
                                    <div class="checkbox">
                                        <label>
                                            <input type="hidden" name="requirePlayerTag" value="0" /><input type="checkbox" name="requirePlayerTag" id="requirePlayerTag" value="1" />Require
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group" id="form-element-tag">
                                    <label for="tag" class="optional">Tag</label>

                                    <input type="text" name="tag" id="tag" value="" maxlength="20" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 col-xs-12">
                        <div class="form-group">
                            <input type="password" name="password" style="display: none" />
                            <div class="form-group" id="form-element-password">
                                <label for="password" class="optional">Password</label>

                                <input type="text" name="password" id="password" value="" maxlength="80" autocomplete="new-password" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group" id="form-element-createAnother">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="createAnother" value="0" /><input type="checkbox" name="createAnother" id="createAnother" value="1" />Create another
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="tab-pane" id="tabOptions">
                <div class="form-group" id="form-element-anonymous">
                    <div class="checkbox">
                        <label>
                            <input type="hidden" name="anonymous" value="0" /><input type="checkbox" name="anonymous" id="anonymous" value="1" />Anonymous Table
                        </label>
                    </div>
                </div>
                <div class="form-group" id="form-element-permanent">
                    <div class="checkbox">
                        <label>
                            <input type="hidden" name="permanent" value="0" /><input type="checkbox" name="permanent" id="permanent" value="1" checked="checked" />Permanent
                        </label>
                    </div>
                </div>
                <div class="form-group" id="form-element-expectingStopStamp">
                    <label for="expectingStopStamp" class="optional">Stop Table In (DD:HH:MM:SS)</label>

                    <input type="text" name="expectingStopStamp" id="expectingStopStamp" value="" class="form-control" />
                </div>

                <div class="form-group" id="form-element-isTimeBasedTable">
                    <div class="checkbox">
                        <label>
                            <input type="hidden" name="isTimeBasedTable" value="0" /><input type="checkbox" name="isTimeBasedTable" id="isTimeBasedTable" value="1" />Time-based
                        </label>
                    </div>
                </div>
                <div class="form-group" id="form-element-timeBasedDuration">
                    <label for="timeBasedDuration" class="optional">Duration, minutes</label>

                    <input type="text" name="timeBasedDuration" id="timeBasedDuration" value="0" readOnly="1" class="form-control" />
                </div>
                <div class="form-group" id="form-element-tbtRakeSchema">
                    <label for="tbtRakeSchema" class="optional">Rake schema</label>

                    <select name="tbtRakeSchema" id="tbtRakeSchema" class="form-control select2">
                        <option value="69" selected="selected">Each hand</option>
                        <option value="87">Winners only</option>
                    </select>
                </div>
                <div class="form-group" id="form-element-autoResumeNumPlayers">
                    <label for="autoResumeNumPlayers" class="optional">Auto-start</label>

                    <select name="autoResumeNumPlayers" id="autoResumeNumPlayers" class="form-control select2">
                        <option value="2">2</option>
                    </select>
                </div>

                <div class="form-group" id="form-element-balancedMode">
                    <label for="balancedMode" class="optional">Balanced Mode</label>

                    <select name="balancedMode" id="balancedMode" class="form-control select2">
                        <option value="95">Off</option>
                        <option value="78">Normal</option>
                        <option value="80">PlayNow</option>
                    </select>
                </div>
                <div class="form-group" id="form-element-isBadBeatJackpot">
                    <div class="checkbox">
                        <label>
                            <input type="hidden" name="isBadBeatJackpot" value="0" /><input type="checkbox" name="isBadBeatJackpot" id="isBadBeatJackpot" value="1" />Is Bad Beat Jackpot
                        </label>
                    </div>
                </div>
                <div class="form-group" id="form-element-isMonteCarloJackpot">
                    <div class="checkbox">
                        <label>
                            <input type="hidden" name="isMonteCarloJackpot" value="0" /><input type="checkbox" name="isMonteCarloJackpot" id="isMonteCarloJackpot" value="1" />Is Monte Carlo Jackpot
                        </label>
                    </div>
                </div>
                <div class="form-group" id="form-element-isSmartJackpot">
                    <div class="checkbox">
                        <label>
                            <input type="hidden" name="isSmartJackpot" value="0" /><input type="checkbox" name="isSmartJackpot" id="isSmartJackpot" value="1" />Is Smart Jackpot
                        </label>
                    </div>
                </div>
                <div class="form-group" id="form-element-forceDisableRake">
                    <div class="checkbox">
                        <label>
                            <input type="hidden" name="forceDisableRake" value="0" /><input type="checkbox" name="forceDisableRake" id="forceDisableRake" value="1" />Rake-free
                        </label>
                    </div>
                </div>
                <div class="form-group" id="form-element-straddle">
                    <div class="checkbox">
                        <label>
                            <input type="hidden" name="straddle" value="0" /><input type="checkbox" name="straddle" id="straddle" value="1" />Straddle Allowed
                        </label>
                    </div>
                </div>
                <div class="form-group" id="form-element-restraddle">
                    <div class="checkbox">
                        <label>
                            <input type="hidden" name="restraddle" value="0" /><input type="checkbox" name="restraddle" id="restraddle" value="1" />ReStraddle Allowed
                        </label>
                    </div>
                </div>
                <div class="form-group" id="form-element-runItTwiceMode">
                    <label for="runItTwiceMode" class="optional">Run It Twice Mode</label>

                    <select name="runItTwiceMode" id="runItTwiceMode" class="form-control select2">
                        <option value="95">Disabled</option>
                        <option value="80">Common RiT (players need to agree)</option>
                        <option value="65">Force RiT (players agreement is not necessary)</option>
                    </select>
                </div>
                <div class="form-group" id="form-element-allInOrFold">
                    <div class="checkbox">
                        <label>
                            <input type="hidden" name="allInOrFold" value="0" /><input type="checkbox" name="allInOrFold" id="allInOrFold" value="1" />Is All In or Fold Allowed
                        </label>
                    </div>
                </div>
                <div class="form-group" id="form-element-ipRestrictionMode">
                    <label for="ipRestrictionMode" class="required">Ip Restriction</label>

                    <select name="ipRestrictionMode" id="ipRestrictionMode" class="form-control select2">
                        <option value="95">Inherited</option>
                        <option value="69">Enable</option>
                        <option value="68">Disable</option>
                    </select>
                </div>
                <div class="form-group" id="form-element-gpsRestrictionMode">
                    <label for="gpsRestrictionMode" class="required">GPS Restriction</label>

                    <select name="gpsRestrictionMode" id="gpsRestrictionMode" class="form-control select2">
                        <option value="95">Inherited</option>
                        <option value="69">Enable</option>
                        <option value="68">Disable</option>
                    </select>
                </div>
                <div class="form-group" id="form-element-chineseContinuousPlay">
                    <label for="chineseContinuousPlay" class="required">Chinese Continuous Play</label>

                    <select name="chineseContinuousPlay" id="chineseContinuousPlay" class="form-control select2">
                        <option value="95">Inherited</option>
                        <option value="69">Enable</option>
                        <option value="68">Disable</option>
                    </select>
                </div>
                <div class="form-group" id="form-element-useFixedRake">
                    <div class="checkbox">
                        <label>
                            <input type="hidden" name="useFixedRake" value="0" /><input type="checkbox" name="useFixedRake" id="useFixedRake" value="1" />Custom Rake
                        </label>
                    </div>
                </div>
                <div class="form-group" id="form-element-fixedRakePart">
                    <label for="fixedRakePart" class="optional">Rake, in percentage</label>

                    <input type="text" name="fixedRakePart" id="fixedRakePart" value="0" class="form-control" />
                    <span class="help-block">Set in percent</span>
                </div>
                <div class="form-group" id="form-element-fixedRakeCap">
                    <label for="fixedRakeCap" class="optional">Cap, in cents</label>

                    <input type="text" name="fixedRakeCap" id="fixedRakeCap" value="" class="form-control" />
                </div>
                <div class="form-group" id="form-element-rabbitHuntingAllowed">
                    <div class="checkbox">
                        <label>
                            <input type="hidden" name="rabbitHuntingAllowed" value="0" /><input type="checkbox" name="rabbitHuntingAllowed" id="rabbitHuntingAllowed" value="1" />Rabbit Hunting
                        </label>
                    </div>
                </div>
                <div class="form-group" id="form-element-rabbitHuntingPrice">
                    <label for="rabbitHuntingPrice" class="optional">Rabbit Hunting Price</label>

                    <input type="text" name="rabbitHuntingPrice" id="rabbitHuntingPrice" value="" class="form-control" />
                </div>
                <div class="form-group" id="form-element-isPractice">
                    <div class="checkbox">
                        <label>
                            <input type="hidden" name="isPractice" value="0" /><input type="checkbox" name="isPractice" id="isPractice" value="1" />Is Practice
                        </label>
                    </div>
                </div>
                <div class="form-group" id="form-element-isUseInsurance">
                    <div class="checkbox">
                        <label>
                            <input type="hidden" name="isUseInsurance" value="0" /><input type="checkbox" name="isUseInsurance" id="isUseInsurance" value="1" />Is Insurance Allowed
                        </label>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tabClubTable">




            </div>
            <div class="tab-pane" id="tabFastFold">
                <div class="form-group" id="form-element-fastFoldTable">
                    <div class="checkbox">
                        <label>
                            <input type="hidden" name="fastFoldTable" value="0" /><input type="checkbox" name="fastFoldTable" id="fastFoldTable" value="1" />Is Fast Fold Table
                        </label>
                    </div>
                </div>
                <div id="ffTableOptions" style="display: none">
                    <div class="form-group" id="form-element-ffMaxEntries">
                        <label for="ffMaxEntries" class="optional">Max Entries</label>

                        <input type="text" name="ffMaxEntries" id="ffMaxEntries" value="4" max="10000" min="0" class="form-control" />
                    </div>
                    <div class="form-group" id="form-element-ffOccupancy">
                        <label for="ffOccupancy" class="optional">Occupancy</label>

                        <input type="text" name="ffOccupancy" id="ffOccupancy" value="50" max="100" min="0" class="form-control" />
                    </div>
                    <div class="form-group" id="form-element-ffMinPlayers">
                        <label for="ffMinPlayers" class="optional">Min Players</label>

                        <input type="text" name="ffMinPlayers" id="ffMinPlayers" value="0" max="10000" min="0" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tabAnte">
                <div class="callout callout-warning" id="ante-note" style="display: none">
                    <h4>Ante Cash Games</h4>
                    <p>To activate games with an ante, choose No Limit/Pot Limit Hold'em/Omaha/Omaha 5 Card</p>
                </div>
                <div class="form-group" id="form-element-isAnte">
                    <div class="checkbox">
                        <label>
                            <input type="hidden" name="isAnte" value="0" /><input type="checkbox" name="isAnte" id="isAnte" value="1" />Ante
                        </label>
                    </div>
                </div>
                <div class="form-group" id="form-element-ante">
                    <label for="ante" class="optional">Value</label>

                    <input type="text" name="ante" id="ante" value="" class="form-control" />
                </div>
            </div>
            <div class="tab-pane" id="tabRent">
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <div class="form-group" id="form-element-rent">
                                <div class="checkbox">
                                    <label>
                                        <input type="hidden" name="rent" value="0" /><input type="checkbox" name="rent" id="rent" value="1" />For Rent
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" id="rentBlock">
                            <div style="display: none;">
                                <dt id="relationPlayerId-label">&#160;</dt>
                                <dd id="relationPlayerId-element">
                                    <input type="hidden" name="relationPlayerId" value="" id="relationPlayerId" />
                                </dd>
                                <dt id="relationPlayerName-label">&#160;</dt>
                                <dd id="relationPlayerName-element">
                                    <input type="hidden" name="relationPlayerName" value="" id="relationPlayerName" />
                                </dd>
                            </div>
                            <div class="form-group" id="form-element-playerName">
                                <label for="playerName" class="optional">Owner</label>

                                <input type="text" name="playerName" id="playerName" value="" readOnly="1" class="form-control" />
                            </div>
                            <dd id="playerId-element">
                                <input type="hidden" name="playerId" value="" id="playerId" />
                            </dd>
                            <button id="playerSelectButton" type="button" name="playerSelectButton"
                                    class="btn btn-default"
                                    value="" data-toggle="modal" data-target="#selectUserDialog">
                                Select
                            </button>

                            <button name="playerClearButton" id="playerClearButton" type="button" class="btn btn-default">Clear parent</button>
                            <div class="form-group" id="form-element-rentOwnerRate">
                                <label for="rentOwnerRate" class="optional">Rent Owner Rate</label>

                                <input type="text" name="rentOwnerRate" id="rentOwnerRate" value="" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="tab-pane" id="tabTemplate">
                <div class="form-group">
                    <div class="form-group" id="form-element-template">
                        <div class="checkbox">
                            <label>
                                <input type="hidden" name="template" value="0" /><input type="checkbox" name="template" id="template" value="1" />Scheduled table
                            </label>
                        </div>
                    </div>
                </div>
                <div class="box-body" id="schedulePanel">
                    <div class="row">
                        <div class="col-md-5 col-xs-12">
                            <div class="form-block">
                                <div id="startAndRegDateBlock">
                                    <fieldset>
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">
                                                Start
                                            </div>
                                            <div class="panel-body">
                                                <div class="form-group" id="form-element-startDate">
                                                    <label for="startDate" class="optional">Start Date</label>

                                                    <input type="text" name="startDate" id="startDate" value="2020-02-27" max="2040-02-27 00:00:00" min="2000-02-27 00:00:00" class="form-control" />
                                                </div>
                                                <div class="form-group" id="form-element-startTime">
                                                    <label for="startTime" class="optional">Start Time</label>

                                                    <input type="text" name="startTime" id="startTime" value="10:32:26" class="form-control" />
                                                </div>
                                            </div>
                                        </div>

                                    </fieldset>
                                </div>
                                <div id="durationBlock">
                                    <div class="form-group" id="form-element-duration">
                                        <label for="duration" class="optional">Duration (DD:HH:MM:SS)</label>

                                        <input type="text" name="duration" id="duration" value="" class="form-control" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-block">
                                <div class="form-group" id="form-element-regular">
                                    <div class="checkbox">
                                        <label>
                                            <input type="hidden" name="regular" value="0" /><input type="checkbox" name="regular" id="regular" value="1" />Table is regular
                                        </label>
                                    </div>
                                </div>
                                <div id="regularBlock">
                                    <div class="form-group" id="form-element-regularPeriod">
                                        <label for="regularPeriod" class="optional">Period (DD:HH:MM:SS)</label>

                                        <input type="text" name="regularPeriod" id="regularPeriod" value="" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="tab-pane" id="tabStyle">
                <div class="row">
                    <div class="col-md-5 col-xs-12">
                        <div class="form-group" id="form-element-markHasColor">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="markHasColor" value="0" /><input type="checkbox" name="markHasColor" id="markHasColor" value="1" />Color
                                </label>
                            </div>
                        </div>
                        <div id="colorBlock">
                            <div class="form-group" id="form-element-markColor">
                                <div style="display: flex; align-items: center;">
                                    <input type="text" name="markColor" id="markColor" value="#000000" data-palette="[&quot;#FFFFFF&quot;,&quot;#FFF5EE&quot;,&quot;#FFF9DC&quot;,&quot;#FFFADC&quot;,&quot;#FFFFE0&quot;,&quot;#97FB98&quot;,&quot;#AEEEEE&quot;,&quot;#E0FFFF&quot;,&quot;#E6E6FB&quot;,&quot;#DDA0DC&quot;, &quot;#D3D3D3&quot;,&quot;#FAC0CB&quot;,&quot;#fee4c4&quot;,&quot;#fee4b4&quot;,&quot;#f0e68c&quot;,&quot;#8fee8f&quot;,&quot;#3bb2a9&quot;,&quot;#87cefa&quot;,&quot;#6495ed&quot;,&quot;#ee81ee&quot;, &quot;#c0c0c0&quot;,&quot;#f08080&quot;,&quot;#f4a460&quot;,&quot;#faa503&quot;,&quot;#eee8a9&quot;,&quot;#7efd04&quot;,&quot;#48d0cc&quot;,&quot;#86cdeb&quot;,&quot;#7a68ee&quot;,&quot;#da70d6&quot;, &quot;#808080&quot;,&quot;#f40204&quot;,&quot;#f54502&quot;,&quot;#f88c02&quot;,&quot;#fffc07&quot;,&quot;#4dcd33&quot;,&quot;#8ebb8e&quot;,&quot;#4169e1&quot;,&quot;#6a5acd&quot;,&quot;#ba55d2&quot;, &quot;#696969&quot;,&quot;#dc133d&quot;,&quot;#d2691f&quot;,&quot;#f77f50&quot;,&quot;#fed700&quot;,&quot;#318b21&quot;,&quot;#2f8a58&quot;,&quot;#0a2fff&quot;,&quot;#892ce2&quot;,&quot;#9933cc&quot;, &quot;#2f5050&quot;,&quot;#b12223&quot;,&quot;#8b4513&quot;,&quot;#a0532e&quot;,&quot;#808000&quot;,&quot;#2d8000&quot;,&quot;#2b8a8b&quot;,&quot;#0624cd&quot;,&quot;#493e8b&quot;,&quot;#8b108b&quot;, &quot;#000000&quot;,&quot;#8b0000&quot;,&quot;#800000&quot;,&quot;#a52a2a&quot;,&quot;#566b30&quot;,&quot;#216400&quot;,&quot;#191971&quot;,&quot;#03127f&quot;,&quot;#4c1182&quot;,&quot;#800e80&quot;]" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group" id="form-element-markHasBackgroundColor">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="markHasBackgroundColor" value="0" /><input type="checkbox" name="markHasBackgroundColor" id="markHasBackgroundColor" value="1" />Background Color
                                </label>
                            </div>
                        </div>
                        <div id="backgroundBlock">
                            <div class="form-group" id="form-element-markBackgroundColor">
                                <div style="display: flex; align-items: center;">
                                    <input type="text" name="markBackgroundColor" id="markBackgroundColor" value="#FFFFFF" data-palette="[&quot;#FFFFFF&quot;,&quot;#FFF5EE&quot;,&quot;#FFF9DC&quot;,&quot;#FFFADC&quot;,&quot;#FFFFE0&quot;,&quot;#97FB98&quot;,&quot;#AEEEEE&quot;,&quot;#E0FFFF&quot;,&quot;#E6E6FB&quot;,&quot;#DDA0DC&quot;, &quot;#D3D3D3&quot;,&quot;#FAC0CB&quot;,&quot;#fee4c4&quot;,&quot;#fee4b4&quot;,&quot;#f0e68c&quot;,&quot;#8fee8f&quot;,&quot;#3bb2a9&quot;,&quot;#87cefa&quot;,&quot;#6495ed&quot;,&quot;#ee81ee&quot;, &quot;#c0c0c0&quot;,&quot;#f08080&quot;,&quot;#f4a460&quot;,&quot;#faa503&quot;,&quot;#eee8a9&quot;,&quot;#7efd04&quot;,&quot;#48d0cc&quot;,&quot;#86cdeb&quot;,&quot;#7a68ee&quot;,&quot;#da70d6&quot;, &quot;#808080&quot;,&quot;#f40204&quot;,&quot;#f54502&quot;,&quot;#f88c02&quot;,&quot;#fffc07&quot;,&quot;#4dcd33&quot;,&quot;#8ebb8e&quot;,&quot;#4169e1&quot;,&quot;#6a5acd&quot;,&quot;#ba55d2&quot;, &quot;#696969&quot;,&quot;#dc133d&quot;,&quot;#d2691f&quot;,&quot;#f77f50&quot;,&quot;#fed700&quot;,&quot;#318b21&quot;,&quot;#2f8a58&quot;,&quot;#0a2fff&quot;,&quot;#892ce2&quot;,&quot;#9933cc&quot;, &quot;#2f5050&quot;,&quot;#b12223&quot;,&quot;#8b4513&quot;,&quot;#a0532e&quot;,&quot;#808000&quot;,&quot;#2d8000&quot;,&quot;#2b8a8b&quot;,&quot;#0624cd&quot;,&quot;#493e8b&quot;,&quot;#8b108b&quot;, &quot;#000000&quot;,&quot;#8b0000&quot;,&quot;#800000&quot;,&quot;#a52a2a&quot;,&quot;#566b30&quot;,&quot;#216400&quot;,&quot;#191971&quot;,&quot;#03127f&quot;,&quot;#4c1182&quot;,&quot;#800e80&quot;]" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group" id="form-element-markBold">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="markBold" value="0" /><input type="checkbox" name="markBold" id="markBold" value="1" />Bold
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="form-element-markItalic">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="markItalic" value="0" /><input type="checkbox" name="markItalic" id="markItalic" value="1" />Italic
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="form-element-markHasLabel">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="markHasLabel" value="0" /><input type="checkbox" name="markHasLabel" id="markHasLabel" value="1" />Label
                                </label>
                            </div>
                        </div>
                        <div id="labelBlock">
                            <div class="form-group" id="form-element-markLabel">
                                <input type="text" name="markLabel" id="markLabel" value="" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <input type="submit" name="submitButton" id="submitButton" value="Submit" class="btn btn-primary" />


    <button name="cancelButton" id="cancelButton" type="button" class="btn btn-default">Cancel</button>
</form>

<div id="selectUserDialog" title="Please, select player"
     class="modal" tabindex="-1" role="dialog"
     data-url="/webadmin/user/select">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div id="dynamicContent_modal"></div>
            </div>
        </div>
    </div>
    <div style="clear: both"></div>
</div>

<script>


    //----HIDE INVISIBLE ELEMENTS----------------------------------
    $('#schedulePanel').hide();
    $('#form-element-regularPeriod').hide();
    //-------------------------------------------------------------


    //----TOGGLE HIDDEN ELEMENTS-----------------------------------
    $('input#template').on('ifChanged', function () {
        $('#schedulePanel').toggle();
    });
    $('input#regular').on('ifChanged', function () {
        $('#form-element-regularPeriod').toggle();
    });
    //-------------------------------------------------------------

    //----EMIT EVENT FOR iCheck CONTROLS---------------------------
    $(document).trigger('addTableCheckboxes');
    //-------------------------------------------------------------

    //----WORKING WITH PLAYER SELECTION MODAL----------------------
    modals.init('selectUserDialog', listing.setup);
    //-------------------------------------------------------------
    formCancelButton.init('table/list', 'cancelButton');
    //----INPUTMASK---
    $(function () {
        $('#expectingStopStamp').inputmask('99:99:99:99');
    });

    var insuranceGameTypes = [];
</script>


<style>
    #form-element-name {
        display: inline-block;
        width: calc(100% - 80px);
        vertical-align: top;
    }

    #nameTranslationsShowDialogBtn {
        margin-top: 25px;
    }
</style>
