﻿
@{
    ViewBag.Title = "TableDashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>TableDashboard</h3>

<div id="tables" class="dashboard">
    <script>
    var dashboard = new Dashboard({
        elem: document.getElementById('tables'),
        options: {"positions":{"tables_b1":0},"name":"tables","type":"Dashboard","cache_time":3600}
        });
    </script>

    <div class="modal fade in dashboard-options" id="modal-default" style="padding-right: 17px;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="alert alert-success alert-dismissible" style="display: none;">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4 style="margin: 0;"><i class="icon fa fa-check"></i>Changes successfully saved</h4>
                    </div>

                    <div class="alert alert-error alert-dismissible" style="display: none;">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4 style="margin: 0;">
                            <i class="icon fa fa-check"></i>
                            <span></span>
                        </h4>
                    </div>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">Dashboard settings</h4>
                </div>
                <div class="modal-body dashboard-options-wrap">
                    <section class="col dashboard-options-section">
                        <label>Cache LifeTime</label>
                        <div class="btn-group">
                            <button type="button"
                                    data-cache_time="0"
                                    class="btn btn-default dashboard-options-btn ">
                                Off
                            </button>
                            <button type="button"
                                    data-cache_time="60"
                                    class="btn btn-default dashboard-options-btn ">
                                1 min
                            </button>
                            <button type="button"
                                    data-cache_time="3600"
                                    class="btn btn-default dashboard-options-btn active">
                                1 hour
                            </button>
                            <button type="button"
                                    data-cache_time="86400"
                                    class="btn btn-default dashboard-options-btn ">
                                1 day
                            </button>
                        </div>
                    </section>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <button type="button" id="btn_reset_dashboard" class="btn btn-default pull-left">Back to default dashboard</button>
                    <button type="button" class="btn btn-primary save-options-changes">
                        <span>Save changes</span>
                        <i class="fa fa-spinner m-auto fa-spin hidden" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="button-container">
        <button id="btn_edit_mode"
                type="button"
                title="Edit mode"
                class="btn btn-primary dashboard-edit-mode-btn">
            <i class="fa fa-pencil"></i>
        </button>

        <button type="button"
                title="Dashboard settings"
                class="btn btn-primary dashboard-settings-btn"
                data-toggle="modal"
                data-target="#modal-default">
            <i class="fa fa-gear"></i>
        </button>

    </div>

    <div class="blocks-wrapper">
        <div class="row dashboard-block connectedSortable ui-sortable" id="tables_b1">
            <div class="block-loader-bg vertical-center hidden">
                <i class="fa fa-spinner fa-4x m-auto fa-spin" aria-hidden="true"></i>
            </div>

            <div class="btn-group settings">
                <button type="button"
                        class="btn btn-primary dropdown-toggle block-settings-button"
                        data-toggle="dropdown">
                    <i class="fa fa-gear"></i>
                </button>

                <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                    <li><a href="#" class="delete-block">Remove</a></li>

                    <li class="dropdown-submenu interval">
                        <a tabindex="-1" href="#">Update interval</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#" data-interval="0"
                                   class="block-update-interval block-update-link">
                                    <i class="fa fa-check "></i>
                                    off
                                </a>
                            </li>
                            <li>
                                <a href="#" data-interval="5000"
                                   class="block-update-interval block-update-link">
                                    <i class="fa fa-check hidden"></i>
                                    5s
                                </a>
                            </li>
                            <li>
                                <a href="#" data-interval="10000"
                                   class="block-update-interval block-update-link">
                                    <i class="fa fa-check hidden"></i>
                                    10s
                                </a>
                            </li>
                            <li>
                                <a href="#" data-interval="30000"
                                   class="block-update-interval block-update-link">
                                    <i class="fa fa-check hidden"></i>
                                    30s
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu money_type">
                        <a tabindex="-1" href="#">Money type</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#" data-money_type="R"
                                   class="block-update-money_type block-update-link">
                                    <i class="fa fa-check "></i>
                                    Real Money
                                </a>
                            </li>
                            <li>
                                <a href="#" data-money_type="P"
                                   class="block-update-money_type block-update-link">
                                    <i class="fa fa-check hidden"></i>
                                    Play Money
                                </a>
                            </li>
                            <li>
                                <a href="#" data-money_type="A"
                                   class="block-update-money_type block-update-link">
                                    <i class="fa fa-check hidden"></i>
                                    cash game points
                                </a>
                            </li>
                            <li>
                                <a href="#" data-money_type="E"
                                   class="block-update-money_type block-update-link">
                                    <i class="fa fa-check hidden"></i>
                                    BTC
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown-submenu submenu-add-widget">
                        <a tabindex="-1" href="#">Add Widget</a>
                        <ul class="dropdown-menu menu-add-widget">
                            <li style="position: relative">
                                <a href="#" data-type="TotalRegistered" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    Total registered
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="Rakeback" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    Rakeback
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="ActiveTournaments" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    Active tournaments
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="Revenue" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    Revenue
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="TournamentsBEPChart" class="new-widget">
                                    <i class="fa fa-fw fa-area-chart"></i>
                                    Buy-In/Entry-Fee/Profit
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="Costs" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    Costs
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="TopTablesByHands" class="new-widget">
                                    <i class="fa fa-table" aria-hidden="true"></i>
                                    Top tables by hands
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="PlayersInTournamentsChart" class="new-widget">
                                    <i class="fa fa-fw fa-area-chart"></i>
                                    Total players in tournaments
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="Online" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    Online players
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="Deposits" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    Deposits
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="TotalRegisteredChart" class="new-widget">
                                    <i class="fa fa-fw fa-area-chart"></i>
                                    Total registered
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="AvgHandsPerUser" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    Average hands per user
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="AvgSessionTime" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    Average session time
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="AvgSessionTimeCh" class="new-widget">
                                    <i class="fa fa-fw fa-area-chart"></i>
                                    Average session time (min)
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="AvgRegisteredPerDay" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    Average registered per day
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="ActivePlayersChart" class="new-widget">
                                    <i class="fa fa-fw fa-area-chart"></i>
                                    Active players
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="Profit" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    Profit
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="TopTablesByRake" class="new-widget">
                                    <i class="fa fa-table" aria-hidden="true"></i>
                                    Top tables by rake
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="TournamentsByIn" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    Tournaments buy-in
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="NumberOfSessionsCh" class="new-widget">
                                    <i class="fa fa-fw fa-area-chart"></i>
                                    Number of sessions
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="Affiliates" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    Affiliates
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="ActivePlayers" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    Active players
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="ActiveTables" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    Active tables
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="RDCChart" class="new-widget">
                                    <i class="fa fa-fw fa-area-chart"></i>
                                    Revenue/Deposits/Cashouts
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="ARPU" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    ARPU
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="RakebackChart" class="new-widget">
                                    <i class="fa fa-fw fa-area-chart"></i>
                                    Rakeback
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="RegisteredDeposits" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    Registered / Deposits
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="DepositsCashoutsChart" class="new-widget">
                                    <i class="fa fa-fw fa-area-chart"></i>
                                    Deposits / Cashouts
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="LTV" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    LTV
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="TournamentsEntryFee" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    Tournaments entry-fee
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="UsersMoney" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    Users money
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="JackpotMonteCarlo" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    Jackpot MonteCarlo
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="Cashouts" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    Cashouts
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="JackpotSmart" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    Jackpot Smart
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="JackpotBadBeat" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    Jackpot BadBeat
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="widgets-container">
                <div class="col-lg-6 col-xs-12 widget widget-table" data-name="TopTablesByHands" id="wad4f1b92b15c524443aa9d1f57e4de73">
                    <div class="box box-success">
                        <div class="loader-bg vertical-center hidden text-light">
                            <i class="fa fa-gear fa-4x m-auto fa-spin"></i>
                        </div>

                        <div class="box-header with-border">
                            <h3 class="box-title">
                                Top tables by hands
                                <small class="badge bg-white badge-widget badge-widget cached" style="margin-left: 8px;" title="data is cached">
                                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                                </small>
                            </h3>
                            <div class="btn-group widget-settings widget-text-settings" style="display: none;">
                                <button type="button" class="btn dropdown-toggle widget-text-settings-button"
                                        data-toggle="dropdown">
                                    <i class="fa fa-gear text-dark"></i>
                                </button>

                                <ul class="dropdown-menu dropdown-menu-l multi-level" role="menu" aria-labelledby="dropdownMenu">
                                    <li><a href="#" class="widget-remove" widget="wad4f1b92b15c524443aa9d1f57e4de73">Remove</a></li>

                                    <li class="dropdown-submenu interval">
                                        <a tabindex="-1" href="#">Update interval</a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="#" data-interval="0"
                                                   class="widget-update-interval widget-update-link">
                                                    <i class="fa fa-check "></i>
                                                    off
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" data-interval="5000"
                                                   class="widget-update-interval widget-update-link">
                                                    <i class="fa fa-check hidden"></i>
                                                    5s
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" data-interval="10000"
                                                   class="widget-update-interval widget-update-link">
                                                    <i class="fa fa-check hidden"></i>
                                                    10s
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" data-interval="30000"
                                                   class="widget-update-interval widget-update-link">
                                                    <i class="fa fa-check hidden"></i>
                                                    30s
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="box-body no-padding" style="height: 380px;overflow: auto;">

                            <table class="table table-striped ">
                                <thead>
                                    <tr>
                                        <th style="width: 40px;">#</th>
                                        <th>TableName</th>
                                        <th>CountGames</th>
                                    </tr>
                                </thead>
                                <tbody class="data-container">
                                    <tr>
                                        <td>1</td>
                                        <td>Andorra la Vella</td>
                                        <td>7 225</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Bosnia and Herzegovina</td>
                                        <td>6 993</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Bosnia and Herzegovina</td>
                                        <td>6 533</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Bosnia and Herzegovina</td>
                                        <td>6 313</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>Croatia</td>
                                        <td>4 403</td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>Albania</td>
                                        <td>4 315</td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td>Sarajevo</td>
                                        <td>3 627</td>
                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td>Andorra</td>
                                        <td>3 546</td>
                                    </tr>
                                    <tr>
                                        <td>9</td>
                                        <td>Albania</td>
                                        <td>3 381</td>
                                    </tr>
                                    <tr>
                                        <td>10</td>
                                        <td>Bosnia and Herzegovina</td>
                                        <td>3 225</td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="alert no-data hidden">
                                <h4 style="margin: 0; text-align: center;">No data</h4>
                            </div>

                        </div>
                        <div class="box-footer">
                            <ul class="pagination no-margin hidden">
                                <li class="paginate_button previous"><a href="#">First</a></li>
                                <li class="paginate_button next"><a href="#">Last</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <script>
        dashboard.addWidget({
            elem: document.getElementById('wad4f1b92b15c524443aa9d1f57e4de73'),
            options: {"label":"Top tables by hands","icon":"","type":"TopTablesByHands","name":"wad4f1b92b15c524443aa9d1f57e4de73","mode":"table","interval":0,"color":"C9ADA7"},
            data: [{"TableName":"Andorra la Vella","CountGames":"7 225"},{"TableName":"Bosnia and Herzegovina","CountGames":"6 993"},{"TableName":"Bosnia and Herzegovina","CountGames":"6 533"},{"TableName":"Bosnia and Herzegovina","CountGames":"6 313"},{"TableName":"Croatia","CountGames":"4 403"},{"TableName":"Albania","CountGames":"4 315"},{"TableName":"Sarajevo","CountGames":"3 627"},{"TableName":"Andorra","CountGames":"3 546"},{"TableName":"Albania","CountGames":"3 381"},{"TableName":"Bosnia and Herzegovina","CountGames":"3 225"}]
            });
                </script>

                <div class="col-lg-6 col-xs-12 widget widget-table" data-name="TopTablesByRake" id="w94fa6a7475812acdb437104ae1190fc6">
                    <div class="box box-success">
                        <div class="loader-bg vertical-center hidden text-light">
                            <i class="fa fa-gear fa-4x m-auto fa-spin"></i>
                        </div>

                        <div class="box-header with-border">
                            <h3 class="box-title">
                                Top tables by rake
                                <small class="badge bg-white badge-widget badge-widget cached" style="margin-left: 8px;" title="data is cached">
                                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                                </small>
                            </h3>
                            <div class="btn-group widget-settings widget-text-settings" style="display: none;">
                                <button type="button" class="btn dropdown-toggle widget-text-settings-button"
                                        data-toggle="dropdown">
                                    <i class="fa fa-gear text-dark"></i>
                                </button>

                                <ul class="dropdown-menu dropdown-menu-l multi-level" role="menu" aria-labelledby="dropdownMenu">
                                    <li><a href="#" class="widget-remove" widget="w94fa6a7475812acdb437104ae1190fc6">Remove</a></li>

                                    <li class="dropdown-submenu interval">
                                        <a tabindex="-1" href="#">Update interval</a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="#" data-interval="0"
                                                   class="widget-update-interval widget-update-link">
                                                    <i class="fa fa-check "></i>
                                                    off
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" data-interval="5000"
                                                   class="widget-update-interval widget-update-link">
                                                    <i class="fa fa-check hidden"></i>
                                                    5s
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" data-interval="10000"
                                                   class="widget-update-interval widget-update-link">
                                                    <i class="fa fa-check hidden"></i>
                                                    10s
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" data-interval="30000"
                                                   class="widget-update-interval widget-update-link">
                                                    <i class="fa fa-check hidden"></i>
                                                    30s
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu money_type">
                                        <a tabindex="-1" href="#">Money type</a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="#" data-money_type="R"
                                                   class="widget-update-money_type widget-update-link">
                                                    <i class="fa fa-check "></i>
                                                    Real Money
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" data-money_type="P"
                                                   class="widget-update-money_type widget-update-link">
                                                    <i class="fa fa-check hidden"></i>
                                                    Play Money
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" data-money_type="A"
                                                   class="widget-update-money_type widget-update-link">
                                                    <i class="fa fa-check hidden"></i>
                                                    cash game points
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" data-money_type="E"
                                                   class="widget-update-money_type widget-update-link">
                                                    <i class="fa fa-check hidden"></i>
                                                    BTC
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="box-body no-padding" style="height: 380px;overflow: auto;">

                            <table class="table table-striped ">
                                <thead>
                                    <tr>
                                        <th style="width: 40px;">#</th>
                                        <th>TableName</th>
                                        <th>Rake</th>
                                    </tr>
                                </thead>
                                <tbody class="data-container">
                                    <tr>
                                        <td>1</td>
                                        <td>Indianapolis</td>
                                        <td>555.87</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Bosnia and Herzegovina</td>
                                        <td>365.09</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Croatia</td>
                                        <td>316.86</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Bosnia and Herzegovina</td>
                                        <td>269.27</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>Bosnia and Herzegovina</td>
                                        <td>265.49</td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>California</td>
                                        <td>189.14</td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td>Zagreb</td>
                                        <td>187.19</td>
                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td>Florida</td>
                                        <td>184.16</td>
                                    </tr>
                                    <tr>
                                        <td>9</td>
                                        <td>California</td>
                                        <td>170.97</td>
                                    </tr>
                                    <tr>
                                        <td>10</td>
                                        <td>California</td>
                                        <td>170.97</td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="alert no-data hidden">
                                <h4 style="margin: 0; text-align: center;">No data</h4>
                            </div>

                        </div>
                        <div class="box-footer">
                            <ul class="pagination no-margin hidden">
                                <li class="paginate_button previous"><a href="#">First</a></li>
                                <li class="paginate_button next"><a href="#">Last</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <script>
        dashboard.addWidget({
            elem: document.getElementById('w94fa6a7475812acdb437104ae1190fc6'),
            options: {"label":"Top tables by rake","icon":"","type":"TopTablesByRake","name":"w94fa6a7475812acdb437104ae1190fc6","mode":"table","interval":0,"color":"C880B7","money_type":"R"},
            data: [{"TableName":"Indianapolis","Rake":"555.87"},{"TableName":"Bosnia and Herzegovina","Rake":"365.09"},{"TableName":"Croatia","Rake":"316.86"},{"TableName":"Bosnia and Herzegovina","Rake":"269.27"},{"TableName":"Bosnia and Herzegovina","Rake":"265.49"},{"TableName":"California","Rake":"189.14"},{"TableName":"Zagreb","Rake":"187.19"},{"TableName":"Florida","Rake":"184.16"},{"TableName":"California","Rake":"170.97"},{"TableName":"California","Rake":"170.97"}]
            });
                </script>

            </div>
        </div>
        <script>
    var tables_b1 =
    new Block({
        elem: document.getElementById('tables_b1'),
        options: {"interval":0,"positions":{"wad4f1b92b15c524443aa9d1f57e4de73":1,"w94fa6a7475812acdb437104ae1190fc6":2},"name":"tables_b1","charttype":"bar","money_type":"R","period":30},
        configurableOptions: {"interval":{"label":"Update interval","values":[{"label":"off","value":"0","active":true},{"label":"5s","value":"5000"},{"label":"10s","value":"10000"},{"label":"30s","value":"30000"}]},"money_type":{"label":"Money type","values":[{"label":"Real Money","value":"R","active":true},{"label":"Play Money","value":"P"},{"label":"cash game points","value":"A"},{"label":"BTC","value":"E"}]}}
        });
        </script>

    </div>
    <button class="btn mb-2 btn-primary" style="display: none;" id="btn_add_block">Add block</button>
</div>