﻿
@{
    ViewBag.Title = "TableInfo";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Table Info</h3>

<div class="row table-info">

    <div class="col-xs-12 col-md-7">
        <div class="box box-default">
            <div class="box-body">
                <table class="table table-bordered table-condensed table-striped">

                    <tbody>
                        <tr>
                            <th>ID:</th>
                            <td>
                                4629786

                            </td>
                        </tr>
                        <tr>
                            <th>Name:</th>
                            <td>
                                Kentucky

                            </td>
                        </tr>
                        <tr>
                            <th>Tournament:</th>
                            <td>
                                <span class="notbold">-</span>

                            </td>
                        </tr>
                        <tr>
                            <th>Created By:</th>
                            <td>
                                <a href="/webadmin/user/info/id/100">admin</a>

                            </td>
                        </tr>
                        <tr>
                            <th>Started:</th>
                            <td>
                                2020/01/12 17:50:31

                            </td>
                        </tr>
                        <tr>
                            <th>Ended:</th>
                            <td>
                                2020/02/15 04:37:43

                            </td>
                        </tr>
                        <tr>
                            <th># Seats:</th>
                            <td>
                                6

                            </td>
                        </tr>
                        <tr>
                            <th>Tag:</th>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <th>Game Type:</th>
                            <td>
                                Omaha

                            </td>
                        </tr>
                        <tr>
                            <th>Points Type:</th>
                            <td>
                                none

                            </td>
                        </tr>
                        <tr>
                            <th>Game Ante Type:</th>
                            <td>
                                No Ante

                            </td>
                        </tr>
                        <tr>
                            <th>Mixed Game Type:</th>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <th>Rake Table:</th>
                            <td>
                                RakeMidtables

                            </td>
                        </tr>
                        <tr>
                            <th>Pot Type:</th>
                            <td>
                                Pot Limit

                            </td>
                        </tr>
                        <tr>
                            <th>Money Type:</th>
                            <td>
                                Real Money

                            </td>
                        </tr>
                        <tr>
                            <th>Stakes:</th>
                            <td>
                                2.50/5.00

                            </td>
                        </tr>
                        <tr>
                            <th>Permanent:</th>
                            <td>
                                Yes

                            </td>
                        </tr>
                        <tr>
                            <th>Stop Table In:</th>
                            <td>
                                -

                            </td>
                        </tr>
                        <tr>
                            <th>TimeBased:</th>
                            <td>
                                No

                            </td>
                        </tr>
                        <tr>
                            <th>Status:</th>
                            <td>
                                In progress

                            </td>
                        </tr>
                        <tr>
                            <th>Anonymous:</th>
                            <td>
                                No

                            </td>
                        </tr>
                        <tr>
                            <th>Balanced Mode:</th>
                            <td>
                                Normal

                            </td>
                        </tr>
                        <tr>
                            <th>Run It Twice:</th>
                            <td>
                                Common RiT (players need to agree)

                            </td>
                        </tr>
                        <tr>
                            <th>Is Bad Beat Jackpot:</th>
                            <td>
                                No

                            </td>
                        </tr>
                        <tr>
                            <th>Is Monte Carlo Jackpot:</th>
                            <td>
                                No

                            </td>
                        </tr>
                        <tr>
                            <th>Is Smart Jackpot:</th>
                            <td>
                                No

                            </td>
                        </tr>
                        <tr>
                            <th>Rake-free:</th>
                            <td>
                                No

                            </td>
                        </tr>
                        <tr>
                            <th>Fast Fold:</th>
                            <td>
                                No

                            </td>
                        </tr>
                        <tr>
                            <th>Straddle Allowed:</th>
                            <td>
                                No

                            </td>
                        </tr>
                        <tr>
                            <th>ReStraddle Allowed:</th>
                            <td>
                                No

                            </td>
                        </tr>
                        <tr>
                            <th>Manual Template:</th>
                            <td>
                                No

                            </td>
                        </tr>
                        <tr>
                            <th>Ante:</th>
                            <td>
                                0.00

                            </td>
                        </tr>
                        <tr>
                            <th>Classification:</th>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <th>Is All In or Fold Allowed:</th>
                            <td>
                                No

                            </td>
                        </tr>
                        <tr>
                            <th>IP restriction:</th>
                            <td>
                                Inherited

                            </td>
                        </tr>
                        <tr>
                            <th>GPS restriction:</th>
                            <td>
                                Inherited

                            </td>
                        </tr>
                        <tr>
                            <th>Custom rake in percent:</th>
                            <td>
                                0.00

                            </td>
                        </tr>
                        <tr>
                            <th>Custom rake cap in cents:</th>
                            <td>
                                0

                            </td>
                        </tr>
                        <tr>
                            <th>Rabbit hunting:</th>
                            <td>
                                No

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-5" style="margin-bottom: 20px;">

        <div class="btn-group-vertical">
            <a href="/webadmin/listing/table-games/id/4629786"
               class="options__view-games btn btn-default">View Games</a>
            <a href="/webadmin/listing/table-chats/id/4629786"
               class="options__view-chat btn btn-default">View Chat</a>
            <a href="/webadmin/actions-log/index/history/type/table/id/4629786"
               class="options__view-history btn btn-default">View History</a>
        </div>
    </div>
    <div class="col-xs-12 col-md-5">
        <div class="box box-default">
            <div class="box-header">
                Rent
            </div>
            <div class="box-body">
                <table class="table table-bordered table-condensed table-striped" width="100%">
                    <tr>
                        <th width="50%">Rent</th>
                        <td width="50%">No</td>
                    </tr>
                    </td></tr>
                    <tr>
                        <th>Owner</th>
                        <td>
                            <a href="/webadmin/user/info"
                               target="_blank"></a>
                        </td>
                    </tr>
                    <tr>
                        <th>Owner's Rate</th>
                        <td></td>
                    </tr>
                </table>
                <br />
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-5">

        <div class="box box-default">
            <div class="box-header">
                Schedule
            </div>
            <div class="box-body">
                <table class="table table-bordered table-condensed table-striped" width="100%">
                    <tr>
                        <th width="50%">Start</th>
                        <td width="50%"></td>
                    </tr>
                    <tr>
                        <th>Duration</th>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Regular</th>
                        <td>No</td>
                    </tr>
                    <tr>
                        <th>Period</th>
                        <td></td>
                    </tr>
                </table>
                <br />
            </div>
        </div>
    </div>
</div>
