﻿
@{
    ViewBag.Title = "TableRake";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h3>Table's Rake</h3>

<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="row">
                        <div class="col-md-12" style="margin-bottom: 15px; margin-top: 15px">
                            <div class="form-group" style="margin: 10px;">

                                From: <input type="text" name="Date[from]" id="Date[from]" value="" sql="mt.f_stamp" skipSelect="" external="1" class="filter" readonly="readonly" onclick='displayDatePicker("Date[from]", false, "ymd", "-");' /> To: <input type="text" name="Date[to]" id="Date[to]" value="" sql="mt.f_stamp" skipSelect="" external="1" class="filter" readonly="readonly" onclick='displayDatePicker("Date[to]", false, "ymd", "-");' />
                            </div>
                            <div class="form-group" style="margin: 10px;">
                                <div>
                                    <label for="MoneyType" class="optional">Money Type</label>

                                    <select name="MoneyType" id="MoneyType" useLabel="1" sql="t.f_money_type" skipSelect="" external="1" class="filter">
                                        <option value="">-</option>
                                        <option value="82">Real Money</option>
                                        <option value="80">Play Money</option>
                                        <option value="65">cash game points</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group" style="margin: 10px;">
                                <a href="#" class="btn btn-default" onclick="listing.filter(); return false;">Apply Filter</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="box-body">
                        <div id="dynamicContent">

                            <div class="custom-dropdown-menu" id="columnsControls">
                            </div>

                            <table id='tables-rake' class="listing-table" data-dt-not-fixed-cols="true">
                                <thead class="listHead">
                                    <tr>
                                        <th data-meta-key='f_id'
                                            data-meta-visibility="true">
                                            <nobr>
                                                <a class="headerLink orderLink" orderBy="f_id"
                                                   orderType="DESC">
                                                    Table
                                                    <img src="img/arrow_up.png" />
                                                </a>
                                            </nobr>
                                        </th>
                                        <th data-meta-key='f_game_type'
                                            data-meta-visibility="true">
                                            <nobr>
                                                <a class="headerLink orderLink" orderBy="f_game_type"
                                                   orderType="">
                                                    Game Type
                                                </a>
                                            </nobr>
                                        </th>
                                        <th data-meta-key='f_rake_sum'
                                            data-meta-visibility="true">
                                            <nobr>
                                                <a class="headerLink orderLink" orderBy="f_rake_sum"
                                                   orderType="">
                                                    Rake
                                                </a>
                                            </nobr>
                                        </th>
                                    </tr>
                                    <tr class="listFilter">
                                        <th>
                                            <input type="text" name="f_id" id="f_id" value="" filter="1" sql="t.f_id" sql_name="t.f_name" orderable="1" nonHtml="" class="filter" />
                                        </th>
                                        <th>
                                            <select name="f_game_type" id="f_game_type" filter="1" orderable="1" sql="f_game_type" nonHtml="" class="filter">
                                                <option value="">-</option>
                                                <option value="72">Hold'em</option>
                                                <option value="54">Short Deck Hold'em</option>
                                                <option value="79">Omaha</option>
                                                <option value="80">Omaha H/L</option>
                                                <option value="83">Stud</option>
                                                <option value="84">Stud H/L</option>
                                                <option value="82">Razz</option>
                                                <option value="68">2-7 Triple Draw</option>
                                                <option value="66">Badugi</option>
                                                <option value="69">Badeucy</option>
                                                <option value="67">Badacey</option>
                                                <option value="78">Chinese</option>
                                                <option value="70">Openface Chinese</option>
                                                <option value="73">Chinese Pineapple</option>
                                                <option value="76">Chinese 2-7 Pineapple</option>
                                                <option value="85">Chinese Turbo</option>
                                                <option value="77">Chinese OF Pineapple Progressive</option>
                                                <option value="88">Omaha 5 card</option>
                                                <option value="71">Omaha 5 card H/L</option>
                                                <option value="89">Courchevel</option>
                                                <option value="74">Pineapple Poker</option>
                                                <option value="35">Mixed Games</option>
                                                <option value="75">Turkish</option>
                                                <option value="81">5 Card Draw 7-A</option>
                                                <option value="65">Points Rummy</option>
                                                <option value="86">Deals Rummy</option>
                                                <option value="87">Pool Rummy</option>
                                                <option value="90">Triton ShortDeck</option>
                                                <option value="91">Omaha 6 card</option>
                                                <option value="93">Omaha 6 card H/L</option>
                                            </select>
                                        </th>
                                        <th>&nbsp;</th>

                                    </tr>
                                </thead>


                                <tr class="odd ">
                                    <td><a href="/webadmin/table/info/id/4846699">200 GTD Satellite [R/A] (4846699)</a></td>
                                    <td>Hold'em</td>
                                    <td>2.27</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="even ">
                                    <td><a href="/webadmin/table/info/id/4815807">200 GTD Satellite [R/A] (4815807)</a></td>
                                    <td>Hold'em</td>
                                    <td>1.42</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="odd ">
                                    <td><a href="/webadmin/table/info/id/2118035">Alabama (2118035)</a></td>
                                    <td>Omaha</td>
                                    <td>9.16</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="even ">
                                    <td><a href="/webadmin/table/info/id/4628602">Alabama (4628602)</a></td>
                                    <td>Omaha</td>
                                    <td>0.61</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="odd ">
                                    <td><a href="/webadmin/table/info/id/4668789">Alabama #1 (4668789)</a></td>
                                    <td>Omaha</td>
                                    <td>0.08</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="even ">
                                    <td><a href="/webadmin/table/info/id/4628610">Alabama #1 (4628610)</a></td>
                                    <td>Omaha</td>
                                    <td>0.32</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="odd ">
                                    <td><a href="/webadmin/table/info/id/4845702">Alabama #2 (4845702)</a></td>
                                    <td>Omaha</td>
                                    <td>0.30</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="even ">
                                    <td><a href="/webadmin/table/info/id/4812833">Alabama #2 (4812833)</a></td>
                                    <td>Omaha</td>
                                    <td>0.57</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="odd ">
                                    <td><a href="/webadmin/table/info/id/4896029">Alabama #2 (4896029)</a></td>
                                    <td>Omaha</td>
                                    <td>2.80</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="even ">
                                    <td><a href="/webadmin/table/info/id/4810438">Alabama #2 (4810438)</a></td>
                                    <td>Omaha</td>
                                    <td>1.70</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="odd ">
                                    <td><a href="/webadmin/table/info/id/4628603">Alaska (4628603)</a></td>
                                    <td>Omaha</td>
                                    <td>8.50</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="even ">
                                    <td><a href="/webadmin/table/info/id/2118040">Alaska (2118040)</a></td>
                                    <td>Omaha</td>
                                    <td>61.24</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="odd ">
                                    <td><a href="/webadmin/table/info/id/4628611">Alaska #1 (4628611)</a></td>
                                    <td>Omaha</td>
                                    <td>2.89</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="even ">
                                    <td><a href="/webadmin/table/info/id/4845624">Alaska #2 (4845624)</a></td>
                                    <td>Omaha</td>
                                    <td>2.78</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="odd ">
                                    <td><a href="/webadmin/table/info/id/4824299">Alaska #2 (4824299)</a></td>
                                    <td>Omaha</td>
                                    <td>0.11</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="even ">
                                    <td><a href="/webadmin/table/info/id/4842922">Alaska #2 (4842922)</a></td>
                                    <td>Omaha</td>
                                    <td>2.69</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="odd ">
                                    <td><a href="/webadmin/table/info/id/2116724">Albania (2116724)</a></td>
                                    <td>Hold'em</td>
                                    <td>130.92</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="even ">
                                    <td><a href="/webadmin/table/info/id/4549786">Albania (4549786)</a></td>
                                    <td>Hold'em</td>
                                    <td>5.14</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="odd ">
                                    <td><a href="/webadmin/table/info/id/4549821">Albania #1 (4549821)</a></td>
                                    <td>Hold'em</td>
                                    <td>0.48</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="even ">
                                    <td><a href="/webadmin/table/info/id/4909177">Albania #2 (4909177)</a></td>
                                    <td>Hold'em</td>
                                    <td>2.62</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="odd ">
                                    <td><a href="/webadmin/table/info/id/2116733">Andorra (2116733)</a></td>
                                    <td>Hold'em</td>
                                    <td>181.46</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="even ">
                                    <td><a href="/webadmin/table/info/id/4550166">Andorra (4550166)</a></td>
                                    <td>Hold'em</td>
                                    <td>4.52</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="odd ">
                                    <td><a href="/webadmin/table/info/id/4586257">Andorra #1 (4586257)</a></td>
                                    <td>Hold'em</td>
                                    <td>2.08</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="even ">
                                    <td><a href="/webadmin/table/info/id/4816212">Andorra #2 (4816212)</a></td>
                                    <td>Hold'em</td>
                                    <td>0.13</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="odd ">
                                    <td><a href="/webadmin/table/info/id/4909182">Andorra #2 (4909182)</a></td>
                                    <td>Hold'em</td>
                                    <td>1.48</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="even ">
                                    <td><a href="/webadmin/table/info/id/2116790">Andorra la Vella (2116790)</a></td>
                                    <td>Hold'em</td>
                                    <td>226.68</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="odd ">
                                    <td><a href="/webadmin/table/info/id/4550741">Andorra la Vella #1 (4550741)</a></td>
                                    <td>Hold'em</td>
                                    <td>0.64</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="even ">
                                    <td><a href="/webadmin/table/info/id/2118054">Arizona (2118054)</a></td>
                                    <td>Omaha</td>
                                    <td>110.75</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="odd ">
                                    <td><a href="/webadmin/table/info/id/4628604">Arizona (4628604)</a></td>
                                    <td>Omaha</td>
                                    <td>20.62</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="even ">
                                    <td><a href="/webadmin/table/info/id/4628612">Arizona #1 (4628612)</a></td>
                                    <td>Omaha</td>
                                    <td>16.05</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="odd ">
                                    <td><a href="/webadmin/table/info/id/4819633">Arizona #2 (4819633)</a></td>
                                    <td>Omaha</td>
                                    <td>0.22</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="even ">
                                    <td><a href="/webadmin/table/info/id/4816087">Arizona #2 (4816087)</a></td>
                                    <td>Omaha</td>
                                    <td>0.35</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="odd ">
                                    <td><a href="/webadmin/table/info/id/4825831">Arizona #2 (4825831)</a></td>
                                    <td>Omaha</td>
                                    <td>1.62</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="even ">
                                    <td><a href="/webadmin/table/info/id/4824949">Arizona #2 (4824949)</a></td>
                                    <td>Omaha</td>
                                    <td>2.25</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="odd ">
                                    <td><a href="/webadmin/table/info/id/4816214">Arizona #2 (4816214)</a></td>
                                    <td>Omaha</td>
                                    <td>0.36</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="even ">
                                    <td><a href="/webadmin/table/info/id/4820518">Arizona #2 (4820518)</a></td>
                                    <td>Omaha</td>
                                    <td>2.14</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="odd ">
                                    <td><a href="/webadmin/table/info/id/2118056">Arkansas (2118056)</a></td>
                                    <td>Omaha</td>
                                    <td>43.51</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="even ">
                                    <td><a href="/webadmin/table/info/id/4628605">Arkansas (4628605)</a></td>
                                    <td>Omaha</td>
                                    <td>3.28</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="odd ">
                                    <td><a href="/webadmin/table/info/id/2118112">Atlanta (2118112)</a></td>
                                    <td>Omaha</td>
                                    <td>7.85</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="even ">
                                    <td><a href="/webadmin/table/info/id/4552080">Atlanta (4552080)</a></td>
                                    <td>Omaha</td>
                                    <td>39.96</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="odd ">
                                    <td><a href="/webadmin/table/info/id/4552084">Atlanta #1 (4552084)</a></td>
                                    <td>Omaha</td>
                                    <td>21.86</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="even ">
                                    <td><a href="/webadmin/table/info/id/4832012">Atlanta #2 (4832012)</a></td>
                                    <td>Omaha</td>
                                    <td>2.09</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="odd ">
                                    <td><a href="/webadmin/table/info/id/3636360">Atlanta Falcons (3636360)</a></td>
                                    <td>Chinese Pineapple</td>
                                    <td>92.07</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="even ">
                                    <td><a href="/webadmin/table/info/id/2116734">Austria (2116734)</a></td>
                                    <td>Hold'em</td>
                                    <td>160.18</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="odd ">
                                    <td><a href="/webadmin/table/info/id/4586258">Austria #1 (4586258)</a></td>
                                    <td>Hold'em</td>
                                    <td>0.45</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="even ">
                                    <td><a href="/webadmin/table/info/id/4816213">Austria #2 (4816213)</a></td>
                                    <td>Hold'em</td>
                                    <td>2.74</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="odd ">
                                    <td><a href="/webadmin/table/info/id/4807106">Austria #2 (4807106)</a></td>
                                    <td>Hold'em</td>
                                    <td>0.70</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="even ">
                                    <td><a href="/webadmin/table/info/id/3636530">Baltimore Ravens (3636530)</a></td>
                                    <td>Chinese 2-7 Pineapple</td>
                                    <td>7.00</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="odd ">
                                    <td><a href="/webadmin/table/info/id/2116735">Belgium (2116735)</a></td>
                                    <td>Hold'em</td>
                                    <td>77.81</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="even ">
                                    <td><a href="/webadmin/table/info/id/4550191">Belgium #1 (4550191)</a></td>
                                    <td>Hold'em</td>
                                    <td>0.25</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->



                                <tr class="odd ">
                                    <td><span class="notbold">- (0)</span></td>
                                    <td></td>
                                    <td>1267.70</td>

                                </tr>

                                <!-- Collapsable -->
                                <!-- End collapsable -->


                            </table>
                            <div class='rowCount'>
                                <div class="row">
                                    <div class="col-md-3">
                                        Rows: 355&ensp;|&ensp;
                                        <div class="limit-controls" style="display: inline-block;">
                                            <div id="perpage">Per page:</div>
                                            <select class="limit-links">
                                                <option data-href="/webadmin/transaction/table-rake/limit/10">10</option>
                                                <option data-href="/webadmin/transaction/table-rake/limit/25">25</option>
                                                <option selected data-href="/webadmin/transaction/table-rake/limit/50">50</option>
                                                <option data-href="/webadmin/transaction/table-rake/limit/100">100</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-7" style="display: flex; justify-content: center">
                                        <div class="paginator-controls" id="blockPaginatorControls">
                                            <!-- First page link -->
                                            <div class="paginator-link">
                                                <span class="disabled">First</span>
                                            </div>
                                            <!-- Previous page link -->
                                            <div class="paginator-link">
                                                <span class="disabled">&lt; Previous</span>
                                            </div>
                                            <!-- Numbered page links -->
                                            <div class="paginator-link paginator-link_border">
                                                <span class="current">1</span>
                                            </div>
                                            <div class="paginator-link paginator-link_border">
                                                <a href="/webadmin/transaction/table-rake/page/2">2</a>
                                            </div>
                                            <div class="paginator-link paginator-link_border">
                                                <a href="/webadmin/transaction/table-rake/page/3">3</a>
                                            </div>
                                            <div class="paginator-link paginator-link_border">
                                                <a href="/webadmin/transaction/table-rake/page/4">4</a>
                                            </div>
                                            <div class="paginator-link paginator-link_border">
                                                <a href="/webadmin/transaction/table-rake/page/5">5</a>
                                            </div>
                                            <div class="paginator-link paginator-link_border">
                                                <a href="/webadmin/transaction/table-rake/page/6">6</a>
                                            </div>
                                            <div class="paginator-link paginator-link_border">
                                                <a href="/webadmin/transaction/table-rake/page/7">7</a>
                                            </div>
                                            <div class="paginator-link paginator-link_border">
                                                <a href="/webadmin/transaction/table-rake/page/8">8</a>
                                            </div>

                                            <!-- Next page link -->
                                            <div class="paginator-link">
                                                <a href="/webadmin/transaction/table-rake/page/2">Next &gt;</a>
                                            </div>
                                            <!-- Last page link -->
                                            <div class="paginator-link">
                                                <a href="/webadmin/transaction/table-rake/page/8">Last</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="pull-right">
                                            <a href="/webadmin/transaction/table-rake/_output/xlsx"><img src="img/icons/xls.svg" alt="Excel"></a>
                                            <a href="/webadmin/transaction/table-rake/_output/csv"><img src="img/icons/csv.svg" alt="CSV"></a>
                                            <a href="/webadmin/transaction/table-rake/_output/ods"><img src="img/icons/odt.svg" alt="OpenDocument" /></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>