﻿
@{
    ViewBag.Title = "TeamBlockList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    #createTeamBlock {
        margin-top: 10px;
    }
</style>
<div class="row">
    <div class="col-xs-9">
        <h3>Team Block List <a href="http://docs.evenbetgaming.com/articles/Administration_Panel/Team%20Block%20List.html" target="_blank"><sup><i class="fa fa-question-circle"></i></sup></a></h3>
    </div>
    <div class="col-xs-3 text-right btn-container">
        <button id='createTeamBlock' class="btn btn-default purple-skin-btn-lte-theme" style="margin-top: 0;">Create Team Block</button>
        <button id='submitAllBlocks' class="btn btn-default purple-skin-btn-lte-theme">Save All Blocks</button>

    </div>
</div>
<br>
<div class="box">
    <div class="box-body">
        <div id="dynamicContent">
            <div class="custom-dropdown-menu" id="columnsControls">
            </div>

            <table id='UserList' class="listing-table">
                <thead class="listHead">
                    <tr>
                        <th data-controls="true" data-meta-skip-manage='true'>
                            <div>
                                <button type="button" class="btn btn-primary custom-dropdown" id="columnControlsBtn">
                                    <img src="img/icons/menu.svg" alt="+">
                                </button>
                            </div>
                        </th>
                        <th data-meta-key='f_player1_id' data-meta-visibility="true">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_player1_id" orderType="">
                                    Player #1
                                </a>
                            </nobr>
                        </th>
                        <th data-meta-key='f_player2_id' data-meta-visibility="true">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_player2_id" orderType="">
                                    Player #2
                                </a>
                            </nobr>
                        </th>
                        <th data-meta-key='f_block_cash' data-meta-visibility="true">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_block_cash" orderType="">
                                    Ring
                                </a>
                            </nobr>
                        </th>
                        <th data-meta-key='f_block_sng' data-meta-visibility="true">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_block_sng" orderType="">
                                    SnG
                                </a>
                            </nobr>
                        </th>
                        <th data-meta-key='f_block_mtt' data-meta-visibility="true">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_block_mtt" orderType="">
                                    MTT
                                </a>
                            </nobr>
                        </th>
                        <th data-meta-key='f_block_transfer' data-meta-visibility="true">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_block_transfer" orderType="">
                                    International Transfer
                                </a>
                            </nobr>
                        </th>
                    </tr>
                    <tr class="listFilter">
                        <th>

                            <button name="butFilter" id="butFilter" type="button">Apply Filter</button>

                            <button name="butReset" id="butReset" type="button">Reset Filter</button>
                        </th>
                        <th>

                            <input type="text" name="f_player1_id" id="f_player1_id" value="" filter="1" sql_nick="firstPlayer.f_nick" orderable="1" sql="f_player1_id" nonHtml="" class="filter" />
                        </th>
                        <th>

                            <input type="text" name="f_player2_id" id="f_player2_id" value="" filter="1" sql_nick="secondPlayer.f_nick" orderable="1" sql="f_player2_id" nonHtml="" class="filter" />
                        </th>
                        <th>

                            <select name="f_block_cash" id="f_block_cash" filter="1" orderable="1" sql="f_block_cash" nonHtml="" class="filter">
                                <option value="">-</option>
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </th>
                        <th>

                            <select name="f_block_sng" id="f_block_sng" filter="1" orderable="1" sql="f_block_sng" nonHtml="" class="filter">
                                <option value="">-</option>
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </th>
                        <th>

                            <select name="f_block_mtt" id="f_block_mtt" filter="1" orderable="1" sql="f_block_mtt" nonHtml="" class="filter">
                                <option value="">-</option>
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </th>
                        <th>

                            <select name="f_block_transfer" id="f_block_transfer" filter="1" orderable="1" sql="f_block_transfer" nonHtml="" class="filter">
                                <option value="">-</option>
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </th>
                    </tr>
                </thead>
            </table>

        </div>

        <div class="modal fade" id="blockDialog" tabindex="-1" role="dialog" aria-labelledby="blockDialogLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="blockDialogLabel">Create Team Block</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input type='text' id='add-block-playerId' class="form-control" style='display: none' />
                            <input type='text' id='add-block-opponentId' class="form-control" style='display: none' />
                        </div>
                        <div class="form-group">
                            <label for='add-block-playerName'>Player Name</label>
                            <input type='text' id='add-block-playerName' class="form-control" disabled='disabled' /><br />
                            <button id='add-block-selectPlayer' class="btn btn-success">Select Player</button><br />
                        </div>
                        <div class="form-group">
                            <label for='add-block-opponentName'>Opponent Name</label>
                            <input type='text' id='add-block-opponentName' class="form-control" disabled='disabled' /><br />
                            <button id='add-block-selectOpponent' class="btn btn-success">Select Opponent</button><br />
                        </div>
                        <div class="checkbox">
                            <label for='add-block-ring'>
                                <input type="checkbox" id="add-block-ring" />
                                Block Ring
                            </label>
                        </div>
                        <div class="checkbox">
                            <label for='add-block-sng'>
                                <input type="checkbox" id="add-block-sng" />
                                Block SnG
                            </label>
                        </div>
                        <div class="checkbox">
                            <label for='add-block-mtt'>
                                <input type="checkbox" id="add-block-mtt" />
                                Block MTT
                            </label>
                        </div>
                        <div class="checkbox">
                            <label for='add-block-it'>
                                <input type="checkbox" id="add-block-it" />
                                Block IT
                            </label>
                        </div>
                        <div class="form-group">
                            <button id='submitTeamBlock' class="btn btn-primary">Add team block</button>
                            <button id='cancelTeamBlock' class="btn btn-primary">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="selectTeamPlayerDialog" tabindex="-1" role="dialog" aria-labelledby="selectTeamPlayerLabel" data-url="/webadmin/user/select">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="selectTeamPlayerLabel">Please, select player</h4>
                    </div>
                    <div class="modal-body">
                        <div id="dynamicContent_modal">

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    $('input:checkbox').iCheck({
        checkboxClass: 'icheckbox_minimal-purple',
        radioClass: 'iradio_minimal-purple'
    });
    window.onUserSelected = function () { };
    modals.init('selectTeamPlayerDialog');
    $('#blockDialog').on('hidden.bs.modal', function () {
        $(this).find('input').each(function () {
            $(this).val('');
        })
    });
    $(document).on('listingSetup', function () {
        $('input:checkbox').iCheck({
            checkboxClass: 'icheckbox_minimal-purple',
            radioClass: 'iradio_minimal-purple'
        });
    });
</script>