﻿
@{
    ViewBag.Title = "TournamentInfo";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h3>Tournament Info</h3>
<input type="hidden" id="tournamentId" value="3488029">
<input type="hidden" id="tournamentIsRunning" value="">
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" style="margin-bottom: 15px;">
            <a class="options__view-games btn btn-default" href="/webadmin/listing/tournament-games/id/3488029">
                <img src="img/games.png" alt="" class="icon" /> View Games
            </a>
            <a class="options__view-tables btn btn-default" href="/webadmin/listing/tournament-tables/id/3488029">
                <img src="img/tournaments.png" alt="" class="icon" /> View Tables
            </a>
            <a class="btn btn-default" href="/webadmin/actions-log/index/history/type/tournament/id/3488029">View History</a>
            <a class="btn btn-default" href="/webadmin/tournament/events-csv/id/3488029">Export Events as CSV</a>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="box box-default">
            <div class="box-body" style="overflow-x: auto;">
                <table class="table table-bordered table-condensed table-striped">

                    <tbody>
                        <tr>
                            <th>ID:</th>
                            <td>
                                3488029

                            </td>
                        </tr>
                        <tr>
                            <th>Name:</th>
                            <td>
                                The 1.10 Super Turbo

                            </td>
                        </tr>
                        <tr>
                            <th>State:</th>
                            <td>
                                Template

                            </td>
                        </tr>
                        <tr>
                            <th>Use for balance:</th>
                            <td>
                                Yes

                            </td>
                        </tr>
                        <tr>
                            <th>Created:</th>
                            <td>
                                2019/10/12 01:57:34

                            </td>
                        </tr>
                        <tr>
                            <th>Started:</th>
                            <td>
                                -

                            </td>
                        </tr>
                        <tr>
                            <th>Ended:</th>
                            <td>
                                -

                            </td>
                        </tr>
                        <tr>
                            <th># of players:</th>
                            <td>
                                0

                            </td>
                        </tr>
                        <tr>
                            <th>Engager:</th>
                            <td>
                                0

                            </td>
                        </tr>
                        <tr>
                            <th>Creator:</th>
                            <td>
                                <a href="/webadmin/user/info/id/3486546">E5G0KM55</a>

                            </td>
                        </tr>
                        <tr>
                            <th>Server:</th>
                            <td>
                                <span class="notbold">-</span>

                            </td>
                        </tr>
                        <tr>
                            <th>Tournament type:</th>
                            <td>
                                Sit&Go

                            </td>
                        </tr>
                        <tr>
                            <th>Max Players:</th>
                            <td>
                                6

                            </td>
                        </tr>
                        <tr>
                            <th>Min Players:</th>
                            <td>
                                2

                            </td>
                        </tr>
                        <tr>
                            <th>Number of Prizes:</th>
                            <td>
                                1

                            </td>
                        </tr>
                        <tr>
                            <th>Prize distribution:</th>
                            <td>
                                Table

                            </td>
                        </tr>
                        <tr>
                            <th>Prize Table:</th>
                            <td>
                                Default

                            </td>
                        </tr>
                        <tr>
                            <th>Level Table:</th>
                            <td>
                                Default

                            </td>
                        </tr>
                        <tr>
                            <th>Shootout Tournament:</th>
                            <td>
                                No

                            </td>
                        </tr>
                        <tr>
                            <th>Is lucky one hand:</th>
                            <td>
                                No

                            </td>
                        </tr>
                        <tr>
                            <th>Tables seats:</th>
                            <td>
                                6

                            </td>
                        </tr>
                        <tr>
                            <th>Game type:</th>
                            <td>
                                Hold'em

                            </td>
                        </tr>
                        <tr>
                            <th>Game Ante Type:</th>
                            <td>
                                No Ante

                            </td>
                        </tr>
                        <tr>
                            <th>Mixed Game Type:</th>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <th>Speed:</th>
                            <td>
                                Normal

                            </td>
                        </tr>
                        <tr>
                            <th>Initial funds:</th>
                            <td>
                                1000

                            </td>
                        </tr>
                        <tr>
                            <th>Pot type:</th>
                            <td>
                                No Limit

                            </td>
                        </tr>
                        <tr>
                            <th>Money type:</th>
                            <td>
                                Real Money

                            </td>
                        </tr>
                        <tr>
                            <th>Buy in:</th>
                            <td>
                                1.00

                            </td>
                        </tr>
                        <tr>
                            <th>Entry fee:</th>
                            <td>
                                0.10

                            </td>
                        </tr>
                        <tr>
                            <th>Guaranteed prize:</th>
                            <td>
                                0.00

                            </td>
                        </tr>
                        <tr>
                            <th>Special prize:</th>
                            <td>
                                No

                            </td>
                        </tr>
                        <tr>
                            <th>Total prize:</th>
                            <td>
                                0.00

                            </td>
                        </tr>
                        <tr>
                            <th>Share prize type:</th>
                            <td>
                                Disabled

                            </td>
                        </tr>
                        <tr>
                            <th>Second prize:</th>
                            <td>
                                No

                            </td>
                        </tr>
                        <tr>
                            <th>Start:</th>
                            <td>
                                -

                            </td>
                        </tr>
                        <tr>
                            <th>Registration:</th>
                            <td>
                                -

                            </td>
                        </tr>
                        <tr>
                            <th>Seating time:</th>
                            <td>
                                1m 30s

                            </td>
                        </tr>
                        <tr>
                            <th>Level time:</th>
                            <td>
                                3m

                            </td>
                        </tr>
                        <tr>
                            <th>Play time:</th>
                            <td>
                                15h

                            </td>
                        </tr>
                        <tr>
                            <th>Break time:</th>
                            <td>
                                5m

                            </td>
                        </tr>
                        <tr>
                            <th>Playing timeout prize type:</th>
                            <td>
                                Prize table

                            </td>
                        </tr>
                        <tr>
                            <th>Playing time limit:</th>
                            <td>
                                -

                            </td>
                        </tr>
                        <tr>
                            <th>Require player tag:</th>
                            <td>
                                No

                            </td>
                        </tr>
                        <tr>
                            <th>Min player level:</th>
                            <td>
                                Player

                            </td>
                        </tr>
                        <tr>
                            <th>Hide Tournament For Lower Level Player:</th>
                            <td>
                                No

                            </td>
                        </tr>
                        <tr>
                            <th>Late registration time limit:</th>
                            <td>
                                -

                            </td>
                        </tr>
                        <tr>
                            <th>Finish late registration after 1st player left tournament:</th>
                            <td>
                                No

                            </td>
                        </tr>
                        <tr>
                            <th>Finish late registration after prize zone achieved:</th>
                            <td>
                                No

                            </td>
                        </tr>
                        <tr>
                            <th>Comment:</th>
                            <td>
                                Welcome to the 1.10 Super Turbo. Blind levels of 3 minutes

                            </td>
                        </tr>
                        <tr>
                            <th>IP restriction:</th>
                            <td>
                                Inherited

                            </td>
                        </tr>
                        <tr>
                            <th>GPS restriction:</th>
                            <td>
                                Inherited

                            </td>
                        </tr>
                        <tr>
                            <th>Private:</th>
                            <td>
                                No

                            </td>
                        </tr>
                        <tr>
                            <th>Satellite:</th>
                            <td>
                                No

                            </td>
                        </tr>
                        <tr>
                            <th>Rebuy allowed:</th>
                            <td>
                                No

                            </td>
                        </tr>
                        <tr>
                            <th>Re-entry:</th>
                            <td>
                                No

                            </td>
                        </tr>
                        <tr>
                            <th>Multi-entry:</th>
                            <td>
                                No

                            </td>
                        </tr>
                        <tr>
                            <th>Rapid poker:</th>
                            <td>
                                No

                            </td>
                        </tr>
                        <tr>
                            <th>Activity:</th>
                            <td>
                                -

                            </td>
                        </tr>
                        <tr>
                            <th>Tables:</th>
                            <td>
                                -

                            </td>
                        </tr>
                        <tr>
                            <th>Players:</th>
                            <td>
                                -

                            </td>
                        </tr>
                        <tr>
                            <th>Sattelites:</th>
                            <td>
                                -

                            </td>
                        </tr>
                        <tr>
                            <th>Prize distribution:</th>
                            <td>
                                <table class="table table-bordered table-striped table-condensed table-inner" id="Prize distribution">
                                    <thead>
                                        <tr>
                                            <th>Place</th>
                                            <th>Place to</th>
                                            <th>Prize</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr>
                                            <td>
                                                1
                                            </td>
                                            <td>
                                                1
                                            </td>
                                            <td>
                                                3.90
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                2
                                            </td>
                                            <td>
                                                2
                                            </td>
                                            <td>
                                                2.10
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>



                            </td>
                        </tr>
                        <tr>
                            <th>Rebuy count:</th>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <th>Addon count:</th>
                            <td>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="box box-default">
            <div class="box-body" style="overflow-x: auto;">
                <fieldset style="vertical-align: top;">
                    <legend>Tournament Announcements</legend>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="box box-primary">
                                <form action="" enctype="multipart/form-data" method="post" id="send-table-announcement-message">
                                    <div class="box-body">

                                        <div id="form-element-announcementMessage" class="form-element">
                                            <label for="announcementMessage" class="required">Message text</label>
                                            <textarea id="announcementMessage"
                                                      name="announcementMessage"
                                                      dojoType="dijit.form.Textarea"
                                                      trim="true"
                                                      required="true"></textarea>
                                            <ul class="errors" id="announcementMessageErrors">
                                            </ul>
                                        </div>

                                        <div id="form-element-announcementLifeTime" class="form-element">
                                            <label for="announcementLifeTime" class="required">Message lifetime</label>

                                            <input id="announcementLifeTime"
                                                   type="text"
                                                   name="announcementLifeTime"
                                                   value="30"
                                                   smallDelta="1"
                                                   dojoType="dijit.form.NumberSpinner"
                                                   required="true" constraints="{min: 0,places: 0 }" />
                                            <ul class="errors" id="announcementLifeTimeErrors">
                                            </ul>
                                        </div>

                                        <button id=submitAnnouncementMsg dojoType="dijit.form.Button" type="button"
                                                name="submitAnnouncementMsg" value="">
                                            Send
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <textarea id="tournamentAnnounce" rows="6" cols="50"></textarea><br />
                </fieldset><br />
            </div>
        </div>
    </div>
</div>