﻿
@{
    ViewBag.Title = "TournamentTables";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Tournament Table List  <a href="http://docs.evenbetgaming.com/articles/Administration_Panel/Tournament%20Table%20List.html" target="_blank"><sup><i class="fa fa-question-circle"></i></sup></a></h3>
<br />
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                <div id="dynamicContent">
                    <div class="custom-dropdown-menu" id="columnsControls">
                    </div>

                    <table id='tables' class="listing-table">
                        <thead class="listHead">
                            <tr>
                                <th data-meta-skip-manage='true'>
                                    <div>
                                        <button type="button" class="btn btn-primary custom-dropdown" id="columnControlsBtn">
                                            <img src="img/icons/menu.svg" alt="+">
                                        </button>
                                    </div>
                                </th>
                                <th data-meta-key='f_id' data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_id" orderType="DESC">
                                            Id
                                            <img src="img/arrow_up.png" />
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_name' data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_name" orderType="">
                                            Name
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_started_stamp' data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_started_stamp" orderType="">
                                            Started
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_ended_stamp' data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_ended_stamp" orderType="">
                                            Ended
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_num_seats' data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_num_seats" orderType="">
                                            # Seats
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_game_type' data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_game_type" orderType="">
                                            Game Type
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_pot_type' data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_pot_type" orderType="">
                                            Pot Type
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_money_type' data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_money_type" orderType="">
                                            Money Type
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_closed' data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_closed" orderType="">
                                            Closed
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_balanced_mode' data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_balanced_mode" orderType="">
                                            Balanced Mode
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_stakes' data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_stakes" orderType="">
                                            Stakes
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_is_manual_template' data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_is_manual_template" orderType="">
                                            Is Template
                                        </a>
                                    </nobr>
                                </th>
                            </tr>
                            <tr class="listFilter">
                                <th>

                                    <button name="butFilter" id="butFilter" type="button">Apply Filter</button>

                                    <button name="butReset" id="butReset" type="button">Reset Filter</button>
                                </th>
                                <th>
                                    <input type="text" name="f_id" id="f_id" value="" controller="table" action="info" filter="1" sql="t.f_id" orderable="1" nonHtml="" style="width:50px;" class="filter" />
                                </th>
                                <th>
                                    <input type="text" name="f_name" id="f_name" value="" filter="1" sql="CONCAT(t.f_name,IF(STRCMP(t.f_is_bad_beat_jackpot = 1 OR t.f_is_monte_carlo_jackpot = 1 OR t.f_is_smart_jackpot = 1,'1'),'','[jackpot]'))" orderable="1" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <input type="text" name="f_started_stamp" id="f_started_stamp" value="" filter="1" sql="t.f_started_stamp" style="width: 120px" orderable="1" nonHtml="" class="filter" readonly="readonly" onclick='displayDatePicker("f_started_stamp", false, "ymd", "-");' />
                                </th>
                                <th>
                                    <input type="text" name="f_ended_stamp" id="f_ended_stamp" value="" filter="1" sql="t.f_ended_stamp" style="width: 120px;" orderable="1" nonHtml="" class="filter" readonly="readonly" onclick='displayDatePicker("f_ended_stamp", false, "ymd", "-");' />
                                </th>
                                <th>
                                    <input type="text" name="f_num_seats" id="f_num_seats" value="" filter="1" style="width: 40px" orderable="1" sql="f_num_seats" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <select name="f_game_type" id="f_game_type" filter="1" sql="t.f_game_type" orderable="1" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="72">Hold'em</option>
                                        <option value="54">Short Deck Hold'em</option>
                                        <option value="79">Omaha</option>
                                        <option value="80">Omaha H/L</option>
                                        <option value="83">Stud</option>
                                        <option value="84">Stud H/L</option>
                                        <option value="82">Razz</option>
                                        <option value="68">2-7 Triple Draw</option>
                                        <option value="66">Badugi</option>
                                        <option value="69">Badeucy</option>
                                        <option value="67">Badacey</option>
                                        <option value="78">Chinese</option>
                                        <option value="70">Openface Chinese</option>
                                        <option value="73">Chinese Pineapple</option>
                                        <option value="76">Chinese 2-7 Pineapple</option>
                                        <option value="85">Chinese Turbo</option>
                                        <option value="77">Chinese OF Pineapple Progressive</option>
                                        <option value="88">Omaha 5 card</option>
                                        <option value="71">Omaha 5 card H/L</option>
                                        <option value="89">Courchevel</option>
                                        <option value="74">Pineapple Poker</option>
                                        <option value="35">Mixed Games</option>
                                        <option value="75">Turkish</option>
                                        <option value="81">5 Card Draw 7-A</option>
                                        <option value="65">Points Rummy</option>
                                        <option value="86">Deals Rummy</option>
                                        <option value="87">Pool Rummy</option>
                                        <option value="90">Triton ShortDeck</option>
                                        <option value="91">Omaha 6 card</option>
                                        <option value="93">Omaha 6 card H/L</option>
                                    </select>
                                </th>
                                <th>
                                    <select name="f_pot_type" id="f_pot_type" filter="1" sql="t.f_pot_type" orderable="1" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="70">Fixed Limit</option>
                                        <option value="85">No Limit</option>
                                        <option value="80">Pot Limit</option>
                                    </select>
                                </th>
                                <th>
                                    <select name="f_money_type" id="f_money_type" filter="1" sql="to.f_money_type" orderable="1" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="82">Real Money</option>
                                        <option value="80">Play Money</option>
                                        <option value="65">cash game points</option>
                                    </select>
                                </th>
                                <th>
                                    <select name="f_closed" id="f_closed" filter="1" orderable="1" sql="f_closed" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="1">Yes</option>
                                        <option value="0">No</option>
                                    </select>
                                </th>
                                <th>
                                    <select name="f_balanced_mode" id="f_balanced_mode" class="filter">
                                        <option value="">-</option>
                                        <option value="95">Off</option>
                                        <option value="78">Normal</option>
                                        <option value="80">PlayNow</option>
                                    </select>
                                </th>
                                <th>
                                    <input type="text" name="f_stakes" id="f_stakes" value="" style="width: 80px" filter="1" sql="CONCAT(f_small_blind, '/', t.f_big_blind)" orderable="1" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <select name="f_is_manual_template" id="f_is_manual_template" filter="1" sql="t.f_is_manual_template" orderable="1" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="1">Yes</option>
                                        <option value="0">No</option>
                                    </select>
                                </th>

                            </tr>
                        </thead>

                    </table>



                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade preview-popup" id="tableInfoModal" tabindex="-1"
     role="dialog" aria-labelledby="tableInfoModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>
<link href="~/Assest/css/TournamentTables.css" rel="stylesheet" />
<script>
    $('.preview-popup').modal({
        backdrop: false,
        show: false
    });
</script>