﻿
@{
    ViewBag.Title = "TournamentGames";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Game List</h3>
<h4>For tournament <a href="/webadmin/tournament/info/id/3488029">The 1.10 Super Turbo (3488029)</a></h4>
<a href="/webadmin/listing/tournament-games">Show all</a>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
        </div>
        <div class="box">
            <div class="box-body">
                <div id="dynamicContent">
                    <div class="custom-dropdown-menu" id="columnsControls">
                    </div>

                    <table id='tournamentGames' class="listing-table" data-dt-not-fixed-cols="true">
                        <thead class="listHead">
                            <tr>
                                <th data-meta-key='f_id'
                                    data-dt-width="40" data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_id"
                                           orderType="DESC">
                                            Id
                                            <img src="img/arrow_up.png" />
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_table_id'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_table_id"
                                           orderType="">
                                            Table
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_started_stamp'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_started_stamp"
                                           orderType="">
                                            Started Stamp
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_ended_stamp'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_ended_stamp"
                                           orderType="">
                                            Ended Stamp
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-skip-manage='true'>
                                    <div>
                                        <button type="button" class="btn btn-primary custom-dropdown" id="columnControlsBtn">
                                            <img src="img/icons/menu.svg" alt="+">
                                        </button>
                                    </div>
                                </th>
                            </tr>
                            <tr class="listFilter">
                                <th>
                                    <input type="text" name="f_id" id="f_id" value="" sql="g.f_id" controller="game" action="view" filter="1" data_dt_width="40" orderable="1" nonHtml="" style="width:50px;" class="filter" />
                                </th>
                                <th>
                                    <input type="text" name="f_table_id" id="f_table_id" value="" filter="1" sql_name="ta.f_name" orderable="1" sql="f_table_id" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <input type="text" name="f_started_stamp" id="f_started_stamp" value="" sql="g.f_started_stamp" filter="1" orderable="1" nonHtml="" class="filter" readonly="readonly" onclick='displayDatePicker("f_started_stamp", false, "ymd", "-");' />
                                </th>
                                <th>
                                    <input type="text" name="f_ended_stamp" id="f_ended_stamp" value="" sql="g.f_ended_stamp" filter="1" orderable="1" nonHtml="" class="filter" readonly="readonly" onclick='displayDatePicker("f_ended_stamp", false, "ymd", "-");' />
                                </th>
                                <th>

                                    <button name="butFilter" id="butFilter" type="button">Apply Filter</button>

                                    <button name="butReset" id="butReset" type="button">Reset Filter</button>
                                </th>

                            </tr>
                        </thead>

                    </table>



                </div>
            </div>
        </div>
    </div>
</div>