﻿
@{
    ViewBag.Title = "TournamentDashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Tournaments Dashboard</h3>
<div id="tournaments" class="dashboard">
    <script>
        var dashboard = new Dashboard({
            elem: document.getElementById('tournaments'),
            options: { "positions": { "tournaments_b1": 0, "tournaments_b2": 1 }, "name": "tournaments", "type": "Dashboard", "cache_time": 3600 }
        });
    </script>

    <div class="modal fade in dashboard-options" id="modal-default" style="padding-right: 17px;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="alert alert-success alert-dismissible" style="display: none;">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4 style="margin: 0;"><i class="icon fa fa-check"></i>Changes successfully saved</h4>
                    </div>

                    <div class="alert alert-error alert-dismissible" style="display: none;">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4 style="margin: 0;">
                            <i class="icon fa fa-check"></i>
                            <span></span>
                        </h4>
                    </div>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">Dashboard settings</h4>
                </div>
                <div class="modal-body dashboard-options-wrap">
                    <section class="col dashboard-options-section">
                        <label>Cache LifeTime</label>
                        <div class="btn-group">
                            <button type="button"
                                    data-cache_time="0"
                                    class="btn btn-default dashboard-options-btn ">
                                Off
                            </button>
                            <button type="button"
                                    data-cache_time="60"
                                    class="btn btn-default dashboard-options-btn ">
                                1 min
                            </button>
                            <button type="button"
                                    data-cache_time="3600"
                                    class="btn btn-default dashboard-options-btn active">
                                1 hour
                            </button>
                            <button type="button"
                                    data-cache_time="86400"
                                    class="btn btn-default dashboard-options-btn ">
                                1 day
                            </button>
                        </div>
                    </section>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <button type="button" id="btn_reset_dashboard" class="btn btn-default pull-left">Back to default dashboard</button>
                    <button type="button" class="btn btn-primary save-options-changes">
                        <span>Save changes</span>
                        <i class="fa fa-spinner m-auto fa-spin hidden" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="button-container">
        <button id="btn_edit_mode"
                type="button"
                title="Edit mode"
                class="btn btn-primary dashboard-edit-mode-btn">
            <i class="fa fa-pencil"></i>
        </button>

        <button type="button"
                title="Dashboard settings"
                class="btn btn-primary dashboard-settings-btn"
                data-toggle="modal"
                data-target="#modal-default">
            <i class="fa fa-gear"></i>
        </button>

    </div>

    <div class="blocks-wrapper">
        <div class="row dashboard-block connectedSortable ui-sortable" id="tournaments_b1">
            <div class="block-loader-bg vertical-center hidden">
                <i class="fa fa-spinner fa-4x m-auto fa-spin" aria-hidden="true"></i>
            </div>

            <div class="btn-group settings">
                <button type="button"
                        class="btn btn-primary dropdown-toggle block-settings-button"
                        data-toggle="dropdown">
                    <i class="fa fa-gear"></i>
                </button>

                <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                    <li><a href="#" class="delete-block">Remove</a></li>

                    <li class="dropdown-submenu interval">
                        <a tabindex="-1" href="#">Update interval</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#" data-interval="0"
                                   class="block-update-interval block-update-link">
                                    <i class="fa fa-check "></i>
                                    off
                                </a>
                            </li>
                            <li>
                                <a href="#" data-interval="5000"
                                   class="block-update-interval block-update-link">
                                    <i class="fa fa-check hidden"></i>
                                    5s
                                </a>
                            </li>
                            <li>
                                <a href="#" data-interval="10000"
                                   class="block-update-interval block-update-link">
                                    <i class="fa fa-check hidden"></i>
                                    10s
                                </a>
                            </li>
                            <li>
                                <a href="#" data-interval="30000"
                                   class="block-update-interval block-update-link">
                                    <i class="fa fa-check hidden"></i>
                                    30s
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu money_type">
                        <a tabindex="-1" href="#">Money type</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#" data-money_type="R"
                                   class="block-update-money_type block-update-link">
                                    <i class="fa fa-check "></i>
                                    Real Money
                                </a>
                            </li>
                            <li>
                                <a href="#" data-money_type="P"
                                   class="block-update-money_type block-update-link">
                                    <i class="fa fa-check hidden"></i>
                                    Play Money
                                </a>
                            </li>
                            <li>
                                <a href="#" data-money_type="A"
                                   class="block-update-money_type block-update-link">
                                    <i class="fa fa-check hidden"></i>
                                    cash game points
                                </a>
                            </li>
                            <li>
                                <a href="#" data-money_type="E"
                                   class="block-update-money_type block-update-link">
                                    <i class="fa fa-check hidden"></i>
                                    BTC
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown-submenu submenu-add-widget">
                        <a tabindex="-1" href="#">Add Widget</a>
                        <ul class="dropdown-menu menu-add-widget">
                            <li style="position: relative">
                                <a href="#" data-type="TotalRegistered" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    Total registered
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="Rakeback" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    Rakeback
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="ActiveTournaments" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    Active tournaments
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="Revenue" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    Revenue
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="TournamentsBEPChart" class="new-widget">
                                    <i class="fa fa-fw fa-area-chart"></i>
                                    Buy-In/Entry-Fee/Profit
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="Costs" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    Costs
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="TopTablesByHands" class="new-widget">
                                    <i class="fa fa-table" aria-hidden="true"></i>
                                    Top tables by hands
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="PlayersInTournamentsChart" class="new-widget">
                                    <i class="fa fa-fw fa-area-chart"></i>
                                    Total players in tournaments
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="Online" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    Online players
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="Deposits" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    Deposits
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="TotalRegisteredChart" class="new-widget">
                                    <i class="fa fa-fw fa-area-chart"></i>
                                    Total registered
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="AvgHandsPerUser" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    Average hands per user
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="AvgSessionTime" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    Average session time
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="AvgSessionTimeCh" class="new-widget">
                                    <i class="fa fa-fw fa-area-chart"></i>
                                    Average session time (min)
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="AvgRegisteredPerDay" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    Average registered per day
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="ActivePlayersChart" class="new-widget">
                                    <i class="fa fa-fw fa-area-chart"></i>
                                    Active players
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="Profit" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    Profit
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="TopTablesByRake" class="new-widget">
                                    <i class="fa fa-table" aria-hidden="true"></i>
                                    Top tables by rake
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="TournamentsByIn" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    Tournaments buy-in
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="NumberOfSessionsCh" class="new-widget">
                                    <i class="fa fa-fw fa-area-chart"></i>
                                    Number of sessions
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="Affiliates" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    Affiliates
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="ActivePlayers" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    Active players
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="ActiveTables" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    Active tables
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="RDCChart" class="new-widget">
                                    <i class="fa fa-fw fa-area-chart"></i>
                                    Revenue/Deposits/Cashouts
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="ARPU" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    ARPU
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="RakebackChart" class="new-widget">
                                    <i class="fa fa-fw fa-area-chart"></i>
                                    Rakeback
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="RegisteredDeposits" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    Registered / Deposits
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="DepositsCashoutsChart" class="new-widget">
                                    <i class="fa fa-fw fa-area-chart"></i>
                                    Deposits / Cashouts
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="LTV" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    LTV
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="TournamentsEntryFee" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    Tournaments entry-fee
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="UsersMoney" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    Users money
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="JackpotMonteCarlo" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    Jackpot MonteCarlo
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="Cashouts" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    Cashouts
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="JackpotSmart" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    Jackpot Smart
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="JackpotBadBeat" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    Jackpot BadBeat
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="widgets-container">
                <div class="col-lg-3 col-xs-6 widget widget-text" data-name="TournamentsByIn" id="wb1f5e09ea19191341f766debcf579f87">
                    <div class="small-box bg-aqua" style="background-color: #DD4B39 !important;">
                        <div class="btn-group widget-settings widget-text-settings" style="display: none;">
                            <button type="button" class="btn dropdown-toggle widget-text-settings-button"
                                    data-toggle="dropdown">
                                <i class="fa fa-gear"></i>
                            </button>

                            <ul class="dropdown-menu dropdown-menu-l multi-level" role="menu" aria-labelledby="dropdownMenu">
                                <li><a href="#" class="widget-remove" widget="wb1f5e09ea19191341f766debcf579f87">Remove</a></li>

                                <li class="dropdown-submenu color">
                                    <a tabindex="-1" href="#">Widget colors</a>
                                    <ul class="dropdown-menu color-list">
                                        <li>
                                            <div style="padding: 5px;">
                                                <a href="#" data-color="DD4B39"
                                                   class="widget-update-color widget-update-link color-item"
                                                   style="background-color: #DD4B39">
                                                </a>
                                                <a href="#" data-color="473B88"
                                                   class="widget-update-color widget-update-link color-item"
                                                   style="background-color: #473B88">
                                                </a>
                                                <a href="#" data-color="F012BE"
                                                   class="widget-update-color widget-update-link color-item"
                                                   style="background-color: #F012BE">
                                                </a>
                                                <a href="#" data-color="001F3F"
                                                   class="widget-update-color widget-update-link color-item"
                                                   style="background-color: #001F3F">
                                                </a>
                                                <a href="#" data-color="0073B7"
                                                   class="widget-update-color widget-update-link color-item"
                                                   style="background-color: #0073B7">
                                                </a>
                                                <a href="#" data-color="00C0EF"
                                                   class="widget-update-color widget-update-link color-item"
                                                   style="background-color: #00C0EF">
                                                </a>
                                                <a href="#" data-color="F39C12"
                                                   class="widget-update-color widget-update-link color-item"
                                                   style="background-color: #F39C12">
                                                </a>
                                                <a href="#" data-color="00A65A"
                                                   class="widget-update-color widget-update-link color-item"
                                                   style="background-color: #00A65A">
                                                </a>
                                                <a href="#" data-color="D48166"
                                                   class="widget-update-color widget-update-link color-item"
                                                   style="background-color: #D48166">
                                                </a>
                                                <a href="#" data-color="5A7670"
                                                   class="widget-update-color widget-update-link color-item"
                                                   style="background-color: #5A7670">
                                                </a>
                                                <a href="#" data-color="C19434"
                                                   class="widget-update-color widget-update-link color-item"
                                                   style="background-color: #C19434">
                                                </a>
                                                <a href="#" data-color="C880B7"
                                                   class="widget-update-color widget-update-link color-item"
                                                   style="background-color: #C880B7">
                                                </a>
                                                <a href="#" data-color="BDE4A7"
                                                   class="widget-update-color widget-update-link color-item"
                                                   style="background-color: #BDE4A7">
                                                </a>
                                                <a href="#" data-color="B3D2B2"
                                                   class="widget-update-color widget-update-link color-item"
                                                   style="background-color: #B3D2B2">
                                                </a>
                                                <a href="#" data-color="9FBBCC"
                                                   class="widget-update-color widget-update-link color-item"
                                                   style="background-color: #9FBBCC">
                                                </a>
                                                <a href="#" data-color="7A9CC6"
                                                   class="widget-update-color widget-update-link color-item"
                                                   style="background-color: #7A9CC6">
                                                </a>
                                                <a href="#" data-color="4A001F"
                                                   class="widget-update-color widget-update-link color-item"
                                                   style="background-color: #4A001F">
                                                </a>
                                                <a href="#" data-color="6A0F49"
                                                   class="widget-update-color widget-update-link color-item"
                                                   style="background-color: #6A0F49">
                                                </a>
                                                <a href="#" data-color="A7C4C2"
                                                   class="widget-update-color widget-update-link color-item"
                                                   style="background-color: #A7C4C2">
                                                </a>
                                                <a href="#" data-color="4A4E69"
                                                   class="widget-update-color widget-update-link color-item"
                                                   style="background-color: #4A4E69">
                                                </a>
                                                <a href="#" data-color="9A8C98"
                                                   class="widget-update-color widget-update-link color-item"
                                                   style="background-color: #9A8C98">
                                                </a>
                                                <a href="#" data-color="C9ADA7"
                                                   class="widget-update-color widget-update-link color-item"
                                                   style="background-color: #C9ADA7">
                                                </a>
                                                <a href="#" data-color="607466"
                                                   class="widget-update-color widget-update-link color-item"
                                                   style="background-color: #607466">
                                                </a>
                                                <a href="#" data-color="7BD389"
                                                   class="widget-update-color widget-update-link color-item"
                                                   style="background-color: #7BD389">
                                                </a>
                                                <a href="#" data-color="38E4AE"
                                                   class="widget-update-color widget-update-link color-item"
                                                   style="background-color: #38E4AE">
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>

                                <li class="dropdown-submenu interval">
                                    <a tabindex="-1" href="#">Update interval</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="#" data-interval="0" class="widget-update-interval widget-update-link">
                                                <i class="fa fa-check "></i>
                                                off
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" data-interval="5000" class="widget-update-interval widget-update-link">
                                                <i class="fa fa-check hidden"></i>
                                                5s
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" data-interval="10000" class="widget-update-interval widget-update-link">
                                                <i class="fa fa-check hidden"></i>
                                                10s
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" data-interval="30000" class="widget-update-interval widget-update-link">
                                                <i class="fa fa-check hidden"></i>
                                                30s
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu money_type">
                                    <a tabindex="-1" href="#">Money type</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="#" data-money_type="R" class="widget-update-money_type widget-update-link">
                                                <i class="fa fa-check "></i>
                                                Real Money
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" data-money_type="P" class="widget-update-money_type widget-update-link">
                                                <i class="fa fa-check hidden"></i>
                                                Play Money
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" data-money_type="A" class="widget-update-money_type widget-update-link">
                                                <i class="fa fa-check hidden"></i>
                                                cash game points
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" data-money_type="E" class="widget-update-money_type widget-update-link">
                                                <i class="fa fa-check hidden"></i>
                                                BTC
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>

                        </div>

                        <div class="inner">
                            <small class="badge bg-white badge-widget badge-widget-text cached" style="margin-left: 8px;" title="data is cached">
                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                            </small>
                            <h3>
                                <span class="data-wrapper">
                                    16189.16
                                </span>
                            </h3>
                            <p>
                                Tournaments buy-in
                            </p>
                        </div>
                        <span class="small-box-footer">&nbsp;</span>
                    </div>
                </div>
                <script>
                    dashboard.addWidget({
                        elem: document.getElementById('wb1f5e09ea19191341f766debcf579f87'),
                        options: { "label": "Tournaments buy-in", "icon": "", "type": "TournamentsByIn", "name": "wb1f5e09ea19191341f766debcf579f87", "mode": "text", "interval": 0, "color": "DD4B39", "money_type": "R" },
                        data: '16189.16'
                    });
                </script>

                <div class="col-lg-3 col-xs-6 widget widget-text" data-name="TournamentsEntryFee" id="we6eea2470a34eb430057e9af2691a3a7">
                    <div class="small-box bg-aqua" style="background-color: #473B88 !important;">
                        <div class="btn-group widget-settings widget-text-settings" style="display: none;">
                            <button type="button" class="btn dropdown-toggle widget-text-settings-button"
                                    data-toggle="dropdown">
                                <i class="fa fa-gear"></i>
                            </button>

                            <ul class="dropdown-menu dropdown-menu-l multi-level" role="menu" aria-labelledby="dropdownMenu">
                                <li><a href="#" class="widget-remove" widget="we6eea2470a34eb430057e9af2691a3a7">Remove</a></li>

                                <li class="dropdown-submenu color">
                                    <a tabindex="-1" href="#">Widget colors</a>
                                    <ul class="dropdown-menu color-list">
                                        <li>
                                            <div style="padding: 5px;">
                                                <a href="#" data-color="DD4B39"
                                                   class="widget-update-color widget-update-link color-item"
                                                   style="background-color: #DD4B39">
                                                </a>
                                                <a href="#" data-color="473B88"
                                                   class="widget-update-color widget-update-link color-item"
                                                   style="background-color: #473B88">
                                                </a>
                                                <a href="#" data-color="F012BE"
                                                   class="widget-update-color widget-update-link color-item"
                                                   style="background-color: #F012BE">
                                                </a>
                                                <a href="#" data-color="001F3F"
                                                   class="widget-update-color widget-update-link color-item"
                                                   style="background-color: #001F3F">
                                                </a>
                                                <a href="#" data-color="0073B7"
                                                   class="widget-update-color widget-update-link color-item"
                                                   style="background-color: #0073B7">
                                                </a>
                                                <a href="#" data-color="00C0EF"
                                                   class="widget-update-color widget-update-link color-item"
                                                   style="background-color: #00C0EF">
                                                </a>
                                                <a href="#" data-color="F39C12"
                                                   class="widget-update-color widget-update-link color-item"
                                                   style="background-color: #F39C12">
                                                </a>
                                                <a href="#" data-color="00A65A"
                                                   class="widget-update-color widget-update-link color-item"
                                                   style="background-color: #00A65A">
                                                </a>
                                                <a href="#" data-color="D48166"
                                                   class="widget-update-color widget-update-link color-item"
                                                   style="background-color: #D48166">
                                                </a>
                                                <a href="#" data-color="5A7670"
                                                   class="widget-update-color widget-update-link color-item"
                                                   style="background-color: #5A7670">
                                                </a>
                                                <a href="#" data-color="C19434"
                                                   class="widget-update-color widget-update-link color-item"
                                                   style="background-color: #C19434">
                                                </a>
                                                <a href="#" data-color="C880B7"
                                                   class="widget-update-color widget-update-link color-item"
                                                   style="background-color: #C880B7">
                                                </a>
                                                <a href="#" data-color="BDE4A7"
                                                   class="widget-update-color widget-update-link color-item"
                                                   style="background-color: #BDE4A7">
                                                </a>
                                                <a href="#" data-color="B3D2B2"
                                                   class="widget-update-color widget-update-link color-item"
                                                   style="background-color: #B3D2B2">
                                                </a>
                                                <a href="#" data-color="9FBBCC"
                                                   class="widget-update-color widget-update-link color-item"
                                                   style="background-color: #9FBBCC">
                                                </a>
                                                <a href="#" data-color="7A9CC6"
                                                   class="widget-update-color widget-update-link color-item"
                                                   style="background-color: #7A9CC6">
                                                </a>
                                                <a href="#" data-color="4A001F"
                                                   class="widget-update-color widget-update-link color-item"
                                                   style="background-color: #4A001F">
                                                </a>
                                                <a href="#" data-color="6A0F49"
                                                   class="widget-update-color widget-update-link color-item"
                                                   style="background-color: #6A0F49">
                                                </a>
                                                <a href="#" data-color="A7C4C2"
                                                   class="widget-update-color widget-update-link color-item"
                                                   style="background-color: #A7C4C2">
                                                </a>
                                                <a href="#" data-color="4A4E69"
                                                   class="widget-update-color widget-update-link color-item"
                                                   style="background-color: #4A4E69">
                                                </a>
                                                <a href="#" data-color="9A8C98"
                                                   class="widget-update-color widget-update-link color-item"
                                                   style="background-color: #9A8C98">
                                                </a>
                                                <a href="#" data-color="C9ADA7"
                                                   class="widget-update-color widget-update-link color-item"
                                                   style="background-color: #C9ADA7">
                                                </a>
                                                <a href="#" data-color="607466"
                                                   class="widget-update-color widget-update-link color-item"
                                                   style="background-color: #607466">
                                                </a>
                                                <a href="#" data-color="7BD389"
                                                   class="widget-update-color widget-update-link color-item"
                                                   style="background-color: #7BD389">
                                                </a>
                                                <a href="#" data-color="38E4AE"
                                                   class="widget-update-color widget-update-link color-item"
                                                   style="background-color: #38E4AE">
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>

                                <li class="dropdown-submenu interval">
                                    <a tabindex="-1" href="#">Update interval</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="#" data-interval="0" class="widget-update-interval widget-update-link">
                                                <i class="fa fa-check "></i>
                                                off
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" data-interval="5000" class="widget-update-interval widget-update-link">
                                                <i class="fa fa-check hidden"></i>
                                                5s
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" data-interval="10000" class="widget-update-interval widget-update-link">
                                                <i class="fa fa-check hidden"></i>
                                                10s
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" data-interval="30000" class="widget-update-interval widget-update-link">
                                                <i class="fa fa-check hidden"></i>
                                                30s
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu money_type">
                                    <a tabindex="-1" href="#">Money type</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="#" data-money_type="R" class="widget-update-money_type widget-update-link">
                                                <i class="fa fa-check "></i>
                                                Real Money
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" data-money_type="P" class="widget-update-money_type widget-update-link">
                                                <i class="fa fa-check hidden"></i>
                                                Play Money
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" data-money_type="A" class="widget-update-money_type widget-update-link">
                                                <i class="fa fa-check hidden"></i>
                                                cash game points
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" data-money_type="E" class="widget-update-money_type widget-update-link">
                                                <i class="fa fa-check hidden"></i>
                                                BTC
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>

                        </div>

                        <div class="inner">
                            <small class="badge bg-white badge-widget badge-widget-text cached" style="margin-left: 8px;" title="data is cached">
                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                            </small>
                            <h3>
                                <span class="data-wrapper">
                                    1874.56
                                </span>
                            </h3>
                            <p>
                                Tournaments entry-fee
                            </p>
                        </div>
                        <span class="small-box-footer">&nbsp;</span>
                    </div>
                </div>
                <script>
                    dashboard.addWidget({
                        elem: document.getElementById('we6eea2470a34eb430057e9af2691a3a7'),
                        options: { "label": "Tournaments entry-fee", "icon": "", "type": "TournamentsEntryFee", "name": "we6eea2470a34eb430057e9af2691a3a7", "mode": "text", "interval": 0, "color": "473B88", "money_type": "R" },
                        data: '1874.56'
                    });
                </script>

            </div>
        </div>
        <script>
            var tournaments_b1 =
                new Block({
                    elem: document.getElementById('tournaments_b1'),
                    options: { "interval": 0, "positions": { "wb1f5e09ea19191341f766debcf579f87": 1, "we6eea2470a34eb430057e9af2691a3a7": 2 }, "name": "tournaments_b1", "charttype": "bar", "money_type": "R", "period": 30 },
                    configurableOptions: { "interval": { "label": "Update interval", "values": [{ "label": "off", "value": "0", "active": true }, { "label": "5s", "value": "5000" }, { "label": "10s", "value": "10000" }, { "label": "30s", "value": "30000" }] }, "money_type": { "label": "Money type", "values": [{ "label": "Real Money", "value": "R", "active": true }, { "label": "Play Money", "value": "P" }, { "label": "cash game points", "value": "A" }, { "label": "BTC", "value": "E" }] } }
                });
        </script>

        <div class="row dashboard-block connectedSortable ui-sortable" id="tournaments_b2">
            <div class="block-loader-bg vertical-center hidden">
                <i class="fa fa-spinner fa-4x m-auto fa-spin" aria-hidden="true"></i>
            </div>

            <div class="btn-group settings">
                <button type="button"
                        class="btn btn-primary dropdown-toggle block-settings-button"
                        data-toggle="dropdown">
                    <i class="fa fa-gear"></i>
                </button>

                <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                    <li><a href="#" class="delete-block">Remove</a></li>

                    <li class="dropdown-submenu interval">
                        <a tabindex="-1" href="#">Update interval</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#" data-interval="0"
                                   class="block-update-interval block-update-link">
                                    <i class="fa fa-check "></i>
                                    off
                                </a>
                            </li>
                            <li>
                                <a href="#" data-interval="5000"
                                   class="block-update-interval block-update-link">
                                    <i class="fa fa-check hidden"></i>
                                    5s
                                </a>
                            </li>
                            <li>
                                <a href="#" data-interval="10000"
                                   class="block-update-interval block-update-link">
                                    <i class="fa fa-check hidden"></i>
                                    10s
                                </a>
                            </li>
                            <li>
                                <a href="#" data-interval="30000"
                                   class="block-update-interval block-update-link">
                                    <i class="fa fa-check hidden"></i>
                                    30s
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu period">
                        <a tabindex="-1" href="#">Chart time period</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#" data-period="1"
                                   class="block-update-period block-update-link">
                                    <i class="fa fa-check hidden"></i>
                                    1 day
                                </a>
                            </li>
                            <li>
                                <a href="#" data-period="7"
                                   class="block-update-period block-update-link">
                                    <i class="fa fa-check hidden"></i>
                                    week
                                </a>
                            </li>
                            <li>
                                <a href="#" data-period="30"
                                   class="block-update-period block-update-link">
                                    <i class="fa fa-check "></i>
                                    30 days
                                </a>
                            </li>
                            <li>
                                <a href="#" data-period="60"
                                   class="block-update-period block-update-link">
                                    <i class="fa fa-check hidden"></i>
                                    60 days
                                </a>
                            </li>
                            <li>
                                <a href="#" data-period="90"
                                   class="block-update-period block-update-link">
                                    <i class="fa fa-check hidden"></i>
                                    90 days
                                </a>
                            </li>
                            <li>
                                <a href="#" data-period="365"
                                   class="block-update-period block-update-link">
                                    <i class="fa fa-check hidden"></i>
                                    1 year
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu charttype">
                        <a tabindex="-1" href="#">Chart type</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#" data-charttype="bar"
                                   class="block-update-charttype block-update-link">
                                    <i class="fa fa-check "></i>
                                    bar
                                </a>
                            </li>
                            <li>
                                <a href="#" data-charttype="bubble"
                                   class="block-update-charttype block-update-link">
                                    <i class="fa fa-check hidden"></i>
                                    bubble
                                </a>
                            </li>
                            <li>
                                <a href="#" data-charttype="line"
                                   class="block-update-charttype block-update-link">
                                    <i class="fa fa-check hidden"></i>
                                    line
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu money_type">
                        <a tabindex="-1" href="#">Money type</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#" data-money_type="R"
                                   class="block-update-money_type block-update-link">
                                    <i class="fa fa-check "></i>
                                    Real Money
                                </a>
                            </li>
                            <li>
                                <a href="#" data-money_type="P"
                                   class="block-update-money_type block-update-link">
                                    <i class="fa fa-check hidden"></i>
                                    Play Money
                                </a>
                            </li>
                            <li>
                                <a href="#" data-money_type="A"
                                   class="block-update-money_type block-update-link">
                                    <i class="fa fa-check hidden"></i>
                                    cash game points
                                </a>
                            </li>
                            <li>
                                <a href="#" data-money_type="E"
                                   class="block-update-money_type block-update-link">
                                    <i class="fa fa-check hidden"></i>
                                    BTC
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown-submenu submenu-add-widget">
                        <a tabindex="-1" href="#">Add Widget</a>
                        <ul class="dropdown-menu menu-add-widget">
                            <li style="position: relative">
                                <a href="#" data-type="TotalRegistered" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    Total registered
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="Rakeback" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    Rakeback
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="ActiveTournaments" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    Active tournaments
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="Revenue" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    Revenue
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="TournamentsBEPChart" class="new-widget">
                                    <i class="fa fa-fw fa-area-chart"></i>
                                    Buy-In/Entry-Fee/Profit
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="Costs" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    Costs
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="TopTablesByHands" class="new-widget">
                                    <i class="fa fa-table" aria-hidden="true"></i>
                                    Top tables by hands
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="PlayersInTournamentsChart" class="new-widget">
                                    <i class="fa fa-fw fa-area-chart"></i>
                                    Total players in tournaments
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="Online" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    Online players
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="Deposits" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    Deposits
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="TotalRegisteredChart" class="new-widget">
                                    <i class="fa fa-fw fa-area-chart"></i>
                                    Total registered
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="AvgHandsPerUser" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    Average hands per user
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="AvgSessionTime" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    Average session time
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="AvgSessionTimeCh" class="new-widget">
                                    <i class="fa fa-fw fa-area-chart"></i>
                                    Average session time (min)
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="AvgRegisteredPerDay" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    Average registered per day
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="ActivePlayersChart" class="new-widget">
                                    <i class="fa fa-fw fa-area-chart"></i>
                                    Active players
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="Profit" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    Profit
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="TopTablesByRake" class="new-widget">
                                    <i class="fa fa-table" aria-hidden="true"></i>
                                    Top tables by rake
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="TournamentsByIn" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    Tournaments buy-in
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="NumberOfSessionsCh" class="new-widget">
                                    <i class="fa fa-fw fa-area-chart"></i>
                                    Number of sessions
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="Affiliates" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    Affiliates
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="ActivePlayers" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    Active players
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="ActiveTables" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    Active tables
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="RDCChart" class="new-widget">
                                    <i class="fa fa-fw fa-area-chart"></i>
                                    Revenue/Deposits/Cashouts
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="ARPU" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    ARPU
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="RakebackChart" class="new-widget">
                                    <i class="fa fa-fw fa-area-chart"></i>
                                    Rakeback
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="RegisteredDeposits" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    Registered / Deposits
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="DepositsCashoutsChart" class="new-widget">
                                    <i class="fa fa-fw fa-area-chart"></i>
                                    Deposits / Cashouts
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="LTV" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    LTV
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="TournamentsEntryFee" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    Tournaments entry-fee
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="UsersMoney" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    Users money
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="JackpotMonteCarlo" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    Jackpot MonteCarlo
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="Cashouts" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    Cashouts
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="JackpotSmart" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    Jackpot Smart
                                </a>
                            </li>
                            <li style="position: relative">
                                <a href="#" data-type="JackpotBadBeat" class="new-widget">
                                    <i class="fa fa-fw fa-info"></i>
                                    Jackpot BadBeat
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="widgets-container">
                <div class="col-lg-6 col-xs-12 widget widget-chart" data-name="TournamentsBEPChart" id="we8fb1eb44feb3db1e21e2968caa06b50">
                    <div class="box box-info">
                        <div class="loader-bg vertical-center hidden text-light">
                            <i class="fa fa-gear fa-4x m-auto fa-spin"></i>
                        </div>

                        <div class="box-header with-border">
                            <h3 class="box-title">
                                Buy-In/Entry-Fee/Profit
                                <small class="badge bg-white badge-widget badge-widget cached" style="margin-left: 8px;" title="data is cached">
                                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                                </small>
                            </h3>
                            <div class="btn-group widget-settings widget-text-settings" style="display: none;">
                                <button type="button" class="btn dropdown-toggle widget-text-settings-button"
                                        data-toggle="dropdown">
                                    <i class="fa fa-gear text-dark"></i>
                                </button>

                                <ul class="dropdown-menu dropdown-menu-l multi-level shadow" role="menu" aria-labelledby="dropdownMenu">
                                    <li><a href="#" class="widget-remove" widget="we8fb1eb44feb3db1e21e2968caa06b50">Remove</a></li>
                                    <li class="dropdown-submenu interval">
                                        <a tabindex="-1" href="#">Update interval</a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="#" data-interval="0" class="widget-update-interval widget-update-link">
                                                    <i class="fa fa-check "></i>
                                                    off
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" data-interval="5000" class="widget-update-interval widget-update-link">
                                                    <i class="fa fa-check hidden"></i>
                                                    5s
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" data-interval="10000" class="widget-update-interval widget-update-link">
                                                    <i class="fa fa-check hidden"></i>
                                                    10s
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" data-interval="30000" class="widget-update-interval widget-update-link">
                                                    <i class="fa fa-check hidden"></i>
                                                    30s
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu period">
                                        <a tabindex="-1" href="#">Chart time period</a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="#" data-period="1" class="widget-update-period widget-update-link">
                                                    <i class="fa fa-check hidden"></i>
                                                    1 day
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" data-period="7" class="widget-update-period widget-update-link">
                                                    <i class="fa fa-check hidden"></i>
                                                    week
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" data-period="30" class="widget-update-period widget-update-link">
                                                    <i class="fa fa-check "></i>
                                                    30 days
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" data-period="60" class="widget-update-period widget-update-link">
                                                    <i class="fa fa-check hidden"></i>
                                                    60 days
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" data-period="90" class="widget-update-period widget-update-link">
                                                    <i class="fa fa-check hidden"></i>
                                                    90 days
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" data-period="365" class="widget-update-period widget-update-link">
                                                    <i class="fa fa-check hidden"></i>
                                                    1 year
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu charttype">
                                        <a tabindex="-1" href="#">Chart type</a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="#" data-charttype="bar" class="widget-update-charttype widget-update-link">
                                                    <i class="fa fa-check "></i>
                                                    bar
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" data-charttype="bubble" class="widget-update-charttype widget-update-link">
                                                    <i class="fa fa-check hidden"></i>
                                                    bubble
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" data-charttype="line" class="widget-update-charttype widget-update-link">
                                                    <i class="fa fa-check hidden"></i>
                                                    line
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu money_type">
                                        <a tabindex="-1" href="#">Money type</a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="#" data-money_type="R" class="widget-update-money_type widget-update-link">
                                                    <i class="fa fa-check "></i>
                                                    Real Money
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" data-money_type="P" class="widget-update-money_type widget-update-link">
                                                    <i class="fa fa-check hidden"></i>
                                                    Play Money
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" data-money_type="A" class="widget-update-money_type widget-update-link">
                                                    <i class="fa fa-check hidden"></i>
                                                    cash game points
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" data-money_type="E" class="widget-update-money_type widget-update-link">
                                                    <i class="fa fa-check hidden"></i>
                                                    BTC
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="box-body no-padding">
                            <div class="chart-container" style="width: 100%; height: 380px;">
                                <canvas id="chart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    dashboard.addWidget({
                        elem: document.getElementById('we8fb1eb44feb3db1e21e2968caa06b50'),
                        options: { "label": "Buy-In\/Entry-Fee\/Profit", "icon": "", "type": "TournamentsBEPChart", "name": "we8fb1eb44feb3db1e21e2968caa06b50", "mode": "chart", "interval": 0, "color": "00A65A", "charttype": "bar", "description": "Buy-In\/Entry-Fee\/Profit in tournaments", "period": 30, "money_type": "R" },
                        data: { "data": [{ "label": "buy-in", "data": [{ "t": "2020-01-28", "y": "80.91" }, { "t": "2020-01-29", "y": "98.84" }, { "t": "2020-01-30", "y": "139.45" }, { "t": "2020-01-31", "y": "116.14" }, { "t": "2020-02-01", "y": "173.46" }, { "t": "2020-02-03", "y": "13.50" }, { "t": "2020-02-05", "y": "3.00" }] }, { "label": "entry-fee", "data": [{ "t": "2020-01-28", "y": "8.34" }, { "t": "2020-01-29", "y": "9.86" }, { "t": "2020-01-30", "y": "14.20" }, { "t": "2020-01-31", "y": "11.86" }, { "t": "2020-02-01", "y": "17.34" }, { "t": "2020-02-03", "y": "1.50" }, { "t": "2020-02-05", "y": "0.30" }] }], "options": { "format": "%1", "precision": 2 } }
                    });
                </script>

                <div class="col-lg-6 col-xs-12 widget widget-chart" data-name="PlayersInTournamentsChart" id="wd093569e2be6e71c52c380a654772d69">
                    <div class="box box-info">
                        <div class="loader-bg vertical-center hidden text-light">
                            <i class="fa fa-gear fa-4x m-auto fa-spin"></i>
                        </div>

                        <div class="box-header with-border">
                            <h3 class="box-title">
                                Total players in tournaments
                                <small class="badge bg-white badge-widget badge-widget cached" style="margin-left: 8px;" title="data is cached">
                                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                                </small>
                            </h3>
                            <div class="btn-group widget-settings widget-text-settings" style="display: none;">
                                <button type="button" class="btn dropdown-toggle widget-text-settings-button"
                                        data-toggle="dropdown">
                                    <i class="fa fa-gear text-dark"></i>
                                </button>

                                <ul class="dropdown-menu dropdown-menu-l multi-level shadow" role="menu" aria-labelledby="dropdownMenu">
                                    <li><a href="#" class="widget-remove" widget="wd093569e2be6e71c52c380a654772d69">Remove</a></li>
                                    <li class="dropdown-submenu interval">
                                        <a tabindex="-1" href="#">Update interval</a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="#" data-interval="0" class="widget-update-interval widget-update-link">
                                                    <i class="fa fa-check "></i>
                                                    off
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" data-interval="5000" class="widget-update-interval widget-update-link">
                                                    <i class="fa fa-check hidden"></i>
                                                    5s
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" data-interval="10000" class="widget-update-interval widget-update-link">
                                                    <i class="fa fa-check hidden"></i>
                                                    10s
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" data-interval="30000" class="widget-update-interval widget-update-link">
                                                    <i class="fa fa-check hidden"></i>
                                                    30s
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu period">
                                        <a tabindex="-1" href="#">Chart time period</a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="#" data-period="1" class="widget-update-period widget-update-link">
                                                    <i class="fa fa-check hidden"></i>
                                                    1 day
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" data-period="7" class="widget-update-period widget-update-link">
                                                    <i class="fa fa-check hidden"></i>
                                                    week
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" data-period="30" class="widget-update-period widget-update-link">
                                                    <i class="fa fa-check "></i>
                                                    30 days
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" data-period="60" class="widget-update-period widget-update-link">
                                                    <i class="fa fa-check hidden"></i>
                                                    60 days
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" data-period="90" class="widget-update-period widget-update-link">
                                                    <i class="fa fa-check hidden"></i>
                                                    90 days
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" data-period="365" class="widget-update-period widget-update-link">
                                                    <i class="fa fa-check hidden"></i>
                                                    1 year
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu charttype">
                                        <a tabindex="-1" href="#">Chart type</a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="#" data-charttype="bar" class="widget-update-charttype widget-update-link">
                                                    <i class="fa fa-check "></i>
                                                    bar
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" data-charttype="bubble" class="widget-update-charttype widget-update-link">
                                                    <i class="fa fa-check hidden"></i>
                                                    bubble
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" data-charttype="line" class="widget-update-charttype widget-update-link">
                                                    <i class="fa fa-check hidden"></i>
                                                    line
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="box-body no-padding">
                            <div class="chart-container" style="width: 100%; height: 380px;">
                                <canvas id="chart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    dashboard.addWidget({
                        elem: document.getElementById('wd093569e2be6e71c52c380a654772d69'),
                        options: { "label": "Total players in tournaments", "icon": "", "type": "PlayersInTournamentsChart", "name": "wd093569e2be6e71c52c380a654772d69", "mode": "chart", "interval": 0, "color": "607466", "charttype": "bar", "period": 30 },
                        data: { "data": [{ "label": "players", "data": [{ "t": "2020-01-28", "y": "190" }, { "t": "2020-01-29", "y": "198" }, { "t": "2020-01-30", "y": "235" }, { "t": "2020-01-31", "y": "199" }, { "t": "2020-02-01", "y": "78" }] }], "options": { "format": "%1", "precision": 0 } }
                    });
                </script>

            </div>
        </div>
        <script>
            var tournaments_b2 =
                new Block({
                    elem: document.getElementById('tournaments_b2'),
                    options: { "interval": 0, "positions": { "we8fb1eb44feb3db1e21e2968caa06b50": 1, "wd093569e2be6e71c52c380a654772d69": 2 }, "name": "tournaments_b2", "charttype": "bar", "money_type": "R", "period": 30 },
                    configurableOptions: { "interval": { "label": "Update interval", "values": [{ "label": "off", "value": "0", "active": true }, { "label": "5s", "value": "5000" }, { "label": "10s", "value": "10000" }, { "label": "30s", "value": "30000" }] }, "period": { "label": "Chart time period", "values": [{ "label": "1 day", "value": "1" }, { "label": "week", "value": "7" }, { "label": "30 days", "value": "30", "active": true }, { "label": "60 days", "value": "60" }, { "label": "90 days", "value": "90" }, { "label": "1 year", "value": "365" }] }, "charttype": { "label": "Chart type", "values": [{ "label": "bar", "value": "bar", "active": true }, { "label": "bubble", "value": "bubble" }, { "label": "line", "value": "line" }] }, "money_type": { "label": "Money type", "values": [{ "label": "Real Money", "value": "R", "active": true }, { "label": "Play Money", "value": "P" }, { "label": "cash game points", "value": "A" }, { "label": "BTC", "value": "E" }] } }
                });
        </script>

    </div>
    <button class="btn mb-2 btn-primary" style="display: none;" id="btn_add_block">Add block</button>
</div>