﻿
@{
    ViewBag.Title = "TournamentsChipDumping";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>

    input[name="Date[from]"] {
        margin-right: 10px;
        margin-bottom: 10px;
    }

    input[name="TournamentCount"] {
        margin-bottom: 10px;
    }
</style>


<h3>Tournaments Chip Dumping</h3></br>
<div id="dynamicContent">

    From: <input type="text" name="Date[from]" id="Date[from]" value="2020-02-27" sql="f_start_date" skipSelect="" external="1" class="filter" readonly="readonly" onclick='displayDatePicker("Date[from]", false, "ymd", "-");' /> To: <input type="text" name="Date[to]" id="Date[to]" value="2020-02-27" sql="f_start_date" skipSelect="" external="1" class="filter" readonly="readonly" onclick='displayDatePicker("Date[to]", false, "ymd", "-");' />
    <div>
        <label for="TournamentCount" class="optional">Tournament Count:</label>

        <input type="text" name="TournamentCount" id="TournamentCount" value="10" useLabel="1" skipSelect="1" sql="cnt" external="1" class="filter" />
    </div>
    <div>
        <label for="ROI" class="optional">ROI:</label>

        <input type="text" name="ROI" id="ROI" value="100" useLabel="1" skipSelect="1" sql="roi" external="1" class="filter" />
    </div>
    <p>
        <a href="#" class="btn btn-small" onclick="listing.filter(); return false;">Request Report</a>
    </p>
    <table class="listing-table">
        <thead class="listHead">
            <tr>
                <th>#</th>
                <th>
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_player_id" orderType="">
                            Player
                        </a>
                    </nobr>
                </th>
                <th>
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_trusted_level" orderType="">
                            Player Trusted Level
                        </a>
                    </nobr>
                </th>
                <th>
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_notes" orderType="">
                            Player Notes
                        </a>
                    </nobr>
                </th>
                <th>
                    <nobr>
                        <a class="headerLink orderLink" orderBy="cnt" orderType="">
                            Tournament Count
                        </a>
                    </nobr>
                </th>
                <th>
                    <nobr>
                        <a class="headerLink orderLink" orderBy="roi" orderType="ASC">
                            ROI
                            <img src="img/arrow_down.png" />
                        </a>
                    </nobr>
                </th>
            </tr>
        </thead>
        <thead class="listFilter">
            <tr>
                <th>&nbsp;</th>
                <th>
                    <input type="text" name="f_player_id" id="f_player_id" value="" filter="1" sql="player_tournaments.f_player_id" sql_nick="player.f_nick" orderable="1" nonHtml="" class="filter" />
                </th>
                <th>
                    <select name="f_trusted_level" id="f_trusted_level" filter="1" sql="IFNULL(f_trusted_level, 0)" orderable="1" nonHtml="" class="filter">
                        <option value="">-</option>
                        <option value="0">Unknown</option>
                        <option value="1">Trusted</option>
                        <option value="2">Suspicious</option>
                        <option value="3">Cheater</option>
                    </select>
                </th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>

            </tr>
        </thead>

        <tr class="navigator__no-data">
            <td colspan="6">No data to display</td>
        </tr>
    </table>

</div>