﻿
@{
    ViewBag.Title = "TournamentTickets";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script>
    var emitDialog;

    showSelectUserDialog = function (btn) {
        var match = btn.children[0].id.match(/.*-(\d+)$/);
        if (!match) {
            return;
        }
        document.getElementById('templateId').value = parseInt(match[1]);
        emitDialog.modal('show');
    };
    processTicketExpire = function (btn) {
        if (confirm('Are You Sure?')) {
            var xhrArgs = {
                url: btn.href,
                handleAs: 'json',
                load: function (response) {
                    if (response.error)
                        alert(response.error);
                    else
                        btn.parentNode.removeChild(btn);
                },
                error: function (error) {
                    alert('Some error occurred. Please try again later');
                }
            };
            throbeProcess.xhrPost(xhrArgs);
        }
        return false;
    };

    document.addEventListener('DOMContentLoaded', function () {
        function markAsExpired() {
            var checked = document.querySelectorAll('.rowCheckbox:checked'),
                ids = [];
            if (checked.length == 0 || !confirm('Are you sure?')) {
                return;
            }
            checked.forEach(function (selectedTag) {
                ids.push(selectedTag.value);
            });
            throbeProcess.xhrPost({
                url: "/webadmin/tournament-tickets/expire-bulk",
                handleAs: "json",
                content: { 'ids[]': ids },
                load: function (data) {
                    if (!data.success) {
                        alert(data.errors);
                    }
                    $('#throberContainer').modal('hide');
                    setTimeout(listing.refresh, 500);
                }
            });
        }
        emitDialog = $('#emitTicketDialog');
        document.getElementById('expireButton').addEventListener('click', markAsExpired);

    });
</script>

<h3>Tickets <a href="http://docs.evenbetgaming.com/articles/Administration_Panel/Ticket%20List.html" target="_blank"><sup><i class="fa fa-question-circle"></i></sup></a></h3>
<div class="box">
    <div class="box-body">
        <div id="dynamicContent">
            <div class="custom-dropdown-menu" id="columnsControls">
            </div>

            <table id='tournamentTickets' class="listing-table" data-dt-not-fixed-cols="true">
                <thead class="listHead">
                    <tr>
                        <th><input type="checkbox" class="rowCheckbox" id="rowCheckboxAll" value="1"></th>

                        <th data-meta-skip-manage='true'>
                            <div>
                                <button type="button" class="btn btn-primary custom-dropdown" id="columnControlsBtn">
                                    <img src="img/icons/menu.svg" alt="+">
                                </button>
                            </div>
                        </th>
                        <th data-meta-key='f_id'
                            data-meta-visibility="true">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_id"
                                   orderType="DESC">
                                    ID
                                    <img src="img/arrow_up.png" />
                                </a>
                            </nobr>
                        </th>
                        <th data-meta-key='f_name'
                            data-meta-visibility="true">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_name"
                                   orderType="">
                                    Name
                                </a>
                            </nobr>
                        </th>
                        <th data-meta-key='f_status'
                            data-meta-visibility="true">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_status"
                                   orderType="">
                                    Status
                                </a>
                            </nobr>
                        </th>
                        <th data-meta-key='f_amount'
                            data-meta-visibility="true">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_amount"
                                   orderType="">
                                    Amount
                                </a>
                            </nobr>
                        </th>
                        <th data-meta-key='f_money_type'
                            data-meta-visibility="true">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_money_type"
                                   orderType="">
                                    Money Type
                                </a>
                            </nobr>
                        </th>
                        <th data-meta-key='f_expiration_date'
                            data-meta-visibility="true">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_expiration_date"
                                   orderType="">
                                    Expiration Date
                                </a>
                            </nobr>
                        </th>
                        <th data-meta-key='f_ticket_ttl_in_hours'
                            data-meta-visibility="true">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_ticket_ttl_in_hours"
                                   orderType="">
                                    Lifetime, h
                                </a>
                            </nobr>
                        </th>
                        <th data-meta-key='f_issue_date'
                            data-meta-visibility="true">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_issue_date"
                                   orderType="">
                                    Issued At
                                </a>
                            </nobr>
                        </th>
                        <th data-meta-key='f_issue_reason'
                            data-meta-visibility="true">
                            <nobr>
                                Issue Reason
                            </nobr>
                        </th>
                        <th data-meta-key='f_obtain_tournament_id'
                            data-meta-visibility="true">
                            <nobr>
                                Won In Tourney
                            </nobr>
                        </th>
                        <th data-meta-key='f_is_template'
                            data-meta-visibility="true">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_is_template"
                                   orderType="">
                                    Template
                                </a>
                            </nobr>
                        </th>
                        <th data-meta-key='f_spend_tournament_id'
                            data-meta-visibility="true">
                            <nobr>
                                Spent For
                            </nobr>
                        </th>
                        <th data-meta-key='f_player_id'
                            data-meta-visibility="true">
                            <nobr>
                                <a class="headerLink orderLink" orderBy="f_player_id"
                                   orderType="">
                                    Player
                                </a>
                            </nobr>
                        </th>
                    </tr>
                    <tr class="listFilter">
                        <th>&nbsp;</th>
                        <th>

                            <button name="butFilter" id="butFilter" type="button">Apply Filter</button>

                            <button name="butReset" id="butReset" type="button">Reset Filter</button>
                        </th>
                        <th>
                            <input type="text" name="f_id" id="f_id" value="" filter="1" sql="t_ticket.f_id" orderable="1" nonHtml="" style="width:50px;" class="filter" />
                        </th>
                        <th>
                            <input type="text" name="f_name" id="f_name" value="" filter="1" sql="t_ticket.f_name" orderable="1" nonHtml="" class="filter" />
                        </th>
                        <th>
                            <select name="f_status" id="f_status" filter="1" orderable="1" sql="f_status" nonHtml="" class="filter">
                                <option value="">-</option>
                                <option value="95">Unknown</option>
                                <option value="84">Template</option>
                                <option value="65">Active</option>
                                <option value="67">Consumed In Tournament</option>
                                <option value="77">Converted To Money</option>
                                <option value="69">Expired</option>
                            </select>
                        </th>
                        <th>
                            <input type="text" name="f_amount" id="f_amount" value="" filter="1" orderable="1" sql="f_amount" nonHtml="" class="filter" />
                        </th>
                        <th>
                            <select name="f_money_type" id="f_money_type" filter="1" orderable="1" sql="f_money_type" nonHtml="" class="filter">
                                <option value="">-</option>
                                <option value="82">Real Money</option>
                                <option value="80">Play Money</option>
                                <option value="65">cash game points</option>
                            </select>
                        </th>
                        <th>
                            <input type="text" name="f_expiration_date" id="f_expiration_date" value="" filter="1" orderable="1" sql="f_expiration_date" nonHtml="" class="filter" readonly="readonly" onclick='displayDatePicker("f_expiration_date", false, "ymd", "-");' />
                        </th>
                        <th>
                            <input type="text" name="f_ticket_ttl_in_hours" id="f_ticket_ttl_in_hours" value="" filter="1" orderable="1" sql="f_ticket_ttl_in_hours" nonHtml="" class="filter" />
                        </th>
                        <th>
                            <input type="text" name="f_issue_date" id="f_issue_date" value="" filter="1" orderable="1" sql="f_issue_date" nonHtml="" class="filter" readonly="readonly" onclick='displayDatePicker("f_issue_date", false, "ymd", "-");' />
                        </th>
                        <th>
                            <select name="f_issue_reason" id="f_issue_reason" class="filter">
                                <option value="">-</option>
                                <option value="_">Unknown</option>
                                <option value="A">Admin</option>
                                <option value="T">Tournament Prize</option>
                                <option value="R">Registration</option>
                            </select>
                        </th>
                        <th>
                            <input type="text" name="f_obtain_tournament_id" id="f_obtain_tournament_id" value="" filter="1" orderable="" sql="f_obtain_tournament_id" nonHtml="" class="filter" />
                        </th>
                        <th>
                            <select name="f_is_template" id="f_is_template" filter="1" orderable="1" sql="f_is_template" nonHtml="" class="filter">
                                <option value="">-</option>
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </th>
                        <th>
                            <input type="text" name="f_spend_tournament_id" id="f_spend_tournament_id" value="" filter="1" orderable="" sql="f_spend_tournament_id" nonHtml="" class="filter" />
                        </th>
                        <th>
                            <input type="text" name="f_player_id" id="f_player_id" value="" filter="1" sql_nick="p.f_nick" orderable="1" sql="f_player_id" nonHtml="" class="filter" />
                        </th>

                    </tr>
                </thead>


                <tr class="odd ">
                    <td><input type="checkbox" class="rowCheckbox" value="2"></td>
                    <td></td>
                    <td>2</td>
                    <td>New Player Registration Ticket - onetime</td>
                    <td>Expired</td>
                    <td>0.00</td>
                    <td>Play Money</td>
                    <td>2019/08/06 11:00:36</td>
                    <td>0</td>
                    <td>-</td>
                    <td>Unknown</td>
                    <td><span class="notbold">-</span></td>
                    <td>No</td>
                    <td><span class="notbold">-</span></td>
                    <td><a href="/webadmin/user/info/id/2236455">885TME88</a></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="even ">
                    <td><input type="checkbox" class="rowCheckbox" value="3"></td>
                    <td></td>
                    <td>3</td>
                    <td>New Player Registration Ticket - onetime</td>
                    <td>Expired</td>
                    <td>0.00</td>
                    <td>Play Money</td>
                    <td>2019/08/01 13:28:34</td>
                    <td>0</td>
                    <td>-</td>
                    <td>Unknown</td>
                    <td><span class="notbold">-</span></td>
                    <td>No</td>
                    <td><span class="notbold">-</span></td>
                    <td><a href="/webadmin/user/info/id/2191517">BN84OFBB</a></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="odd ">
                    <td><input type="checkbox" class="rowCheckbox" value="4"></td>
                    <td></td>
                    <td>4</td>
                    <td>New Player Registration Ticket - onetime</td>
                    <td>Expired</td>
                    <td>0.00</td>
                    <td>Real Money</td>
                    <td>2019/08/01 13:29:02</td>
                    <td>0</td>
                    <td>-</td>
                    <td>Unknown</td>
                    <td><span class="notbold">-</span></td>
                    <td>No</td>
                    <td><span class="notbold">-</span></td>
                    <td><a href="/webadmin/user/info/id/2236455">885TME88</a></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="even ">
                    <td><input type="checkbox" class="rowCheckbox" value="5"></td>
                    <td></td>
                    <td>5</td>
                    <td>New Player Registration Ticket - onetime</td>
                    <td>Expired</td>
                    <td>0.00</td>
                    <td>Real Money</td>
                    <td>2019/08/01 13:29:04</td>
                    <td>0</td>
                    <td>-</td>
                    <td>Unknown</td>
                    <td><span class="notbold">-</span></td>
                    <td>No</td>
                    <td><span class="notbold">-</span></td>
                    <td><a href="/webadmin/user/info/id/2191517">BN84OFBB</a></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="odd ">
                    <td><input type="checkbox" class="rowCheckbox" value="6"></td>
                    <td></td>
                    <td>6</td>
                    <td>New Player Registration Ticket - onetime</td>
                    <td>Expired</td>
                    <td>0.00</td>
                    <td>Real Money</td>
                    <td>2019/08/01 13:30:21</td>
                    <td>0</td>
                    <td>-</td>
                    <td>Unknown</td>
                    <td><span class="notbold">-</span></td>
                    <td>No</td>
                    <td><span class="notbold">-</span></td>
                    <td><a href="/webadmin/user/info/id/2236455">885TME88</a></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="even ">
                    <td><input type="checkbox" class="rowCheckbox" value="7"></td>
                    <td></td>
                    <td>7</td>
                    <td>New Player Registration Ticket - onetime</td>
                    <td>Expired</td>
                    <td>0.00</td>
                    <td>Real Money</td>
                    <td>2019/08/06 08:52:22</td>
                    <td>0</td>
                    <td>-</td>
                    <td>Unknown</td>
                    <td><span class="notbold">-</span></td>
                    <td>No</td>
                    <td><span class="notbold">-</span></td>
                    <td><a href="/webadmin/user/info/id/2236455">885TME88</a></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="odd ">
                    <td><input type="checkbox" class="rowCheckbox" value="8"></td>
                    <td></td>
                    <td>8</td>
                    <td>New Player Registration Ticket - onetime</td>
                    <td>Expired</td>
                    <td>0.00</td>
                    <td>Real Money</td>
                    <td>2019/08/06 08:52:25</td>
                    <td>0</td>
                    <td>-</td>
                    <td>Unknown</td>
                    <td><span class="notbold">-</span></td>
                    <td>No</td>
                    <td><span class="notbold">-</span></td>
                    <td><a href="/webadmin/user/info/id/2191517">BN84OFBB</a></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="even ">
                    <td><input type="checkbox" class="rowCheckbox" value="10"></td>
                    <td></td>
                    <td>10</td>
                    <td>Compensation Ticket</td>
                    <td>Expired</td>
                    <td>2.20</td>
                    <td>Real Money</td>
                    <td>2019/08/03 13:26:30</td>
                    <td>0</td>
                    <td>-</td>
                    <td>Unknown</td>
                    <td><span class="notbold">-</span></td>
                    <td>No</td>
                    <td><span class="notbold">-</span></td>
                    <td><a href="/webadmin/user/info/id/2236455">885TME88</a></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="odd ">
                    <td><input type="checkbox" class="rowCheckbox" value="11"></td>
                    <td></td>
                    <td>11</td>
                    <td>Compensation Ticket</td>
                    <td>Expired</td>
                    <td>2.20</td>
                    <td>Real Money</td>
                    <td>2019/08/03 13:31:05</td>
                    <td>0</td>
                    <td>-</td>
                    <td>Unknown</td>
                    <td><span class="notbold">-</span></td>
                    <td>No</td>
                    <td><span class="notbold">-</span></td>
                    <td><a href="/webadmin/user/info/id/2236455">885TME88</a></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="even ">
                    <td><input type="checkbox" class="rowCheckbox" value="12"></td>
                    <td></td>
                    <td>12</td>
                    <td>Compensation Ticket</td>
                    <td>Consumed In Tournament</td>
                    <td>2.20</td>
                    <td>Real Money</td>
                    <td>2019/08/04 13:31:17</td>
                    <td>0</td>
                    <td>-</td>
                    <td>Unknown</td>
                    <td><span class="notbold">-</span></td>
                    <td>No</td>
                    <td><span class="notbold">-</span></td>
                    <td><a href="/webadmin/user/info/id/2218660">25VD6V</a></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="odd ">
                    <td><input type="checkbox" class="rowCheckbox" value="14"></td>
                    <td></td>
                    <td>14</td>
                    <td>Sat. twitch.tv/flopnothing Kick-off!</td>
                    <td>Expired</td>
                    <td>2.20</td>
                    <td>Real Money</td>
                    <td>2019/08/03 21:07:58</td>
                    <td>0</td>
                    <td>-</td>
                    <td>Unknown</td>
                    <td><span class="notbold">-</span></td>
                    <td>No</td>
                    <td><span class="notbold">-</span></td>
                    <td><a href="/webadmin/user/info/id/2236455">885TME88</a></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="even ">
                    <td><input type="checkbox" class="rowCheckbox" value="16"></td>
                    <td></td>
                    <td>16</td>
                    <td>0.55 chips Ticket</td>
                    <td>Expired</td>
                    <td>0.55</td>
                    <td>Play Money</td>
                    <td>2019/08/06 09:03:57</td>
                    <td>0</td>
                    <td>-</td>
                    <td>Unknown</td>
                    <td><span class="notbold">-</span></td>
                    <td>No</td>
                    <td><span class="notbold">-</span></td>
                    <td><a href="/webadmin/user/info/id/2236455">885TME88</a></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="odd ">
                    <td><input type="checkbox" class="rowCheckbox" value="17"></td>
                    <td></td>
                    <td>17</td>
                    <td>0.55 chips Ticket</td>
                    <td>Expired</td>
                    <td>0.55</td>
                    <td>Play Money</td>
                    <td>2019/08/06 10:24:41</td>
                    <td>0</td>
                    <td>-</td>
                    <td>Unknown</td>
                    <td><span class="notbold">-</span></td>
                    <td>No</td>
                    <td><span class="notbold">-</span></td>
                    <td><a href="/webadmin/user/info/id/2236455">885TME88</a></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="even ">
                    <td><input type="checkbox" class="rowCheckbox" value="18"></td>
                    <td>
                        <div class="dropdown text-center">
                            <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                    type="button" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-bars"></i>
                            </button>
                            <div class="dropdown-menu table-dropdown">
                                <a href="/webadmin/tournament-tickets/edit/id/18">
                                    <div class="edit" id="edit-18"></div>Edit
                                </a>

                                <a href="/webadmin/tournament-tickets/id/18" onClick='showSelectUserDialog(this); return false;'>
                                    <div class="copy" id="copy-18"></div>Emit a ticket
                                </a>


                            </div>
                        </div>
                    </td>
                    <td>18</td>
                    <td>0.10 chips ticket</td>
                    <td>Active</td>
                    <td>0.10</td>
                    <td>Real Money</td>
                    <td>2020/12/31 12:30:45</td>
                    <td>12313</td>
                    <td>-</td>
                    <td>Unknown</td>
                    <td><span class="notbold">-</span></td>
                    <td>Yes</td>
                    <td><span class="notbold">-</span></td>
                    <td>-</td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="odd ">
                    <td><input type="checkbox" class="rowCheckbox" value="19"></td>
                    <td>
                        <div class="dropdown text-center">
                            <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                    type="button" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-bars"></i>
                            </button>
                            <div class="dropdown-menu table-dropdown">
                                <a href="/webadmin/tournament-tickets/edit/id/19">
                                    <div class="edit" id="edit-19"></div>Edit
                                </a>

                                <a href="/webadmin/tournament-tickets/id/19" onClick='showSelectUserDialog(this); return false;'>
                                    <div class="copy" id="copy-19"></div>Emit a ticket
                                </a>


                            </div>
                        </div>
                    </td>
                    <td>19</td>
                    <td>0.25 chips ticket</td>
                    <td>Active</td>
                    <td>0.25</td>
                    <td>Real Money</td>
                    <td>2020/12/31 12:45:00</td>
                    <td>12313</td>
                    <td>-</td>
                    <td>Unknown</td>
                    <td><span class="notbold">-</span></td>
                    <td>Yes</td>
                    <td><span class="notbold">-</span></td>
                    <td>-</td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="even ">
                    <td><input type="checkbox" class="rowCheckbox" value="20"></td>
                    <td>
                        <div class="dropdown text-center">
                            <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                    type="button" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-bars"></i>
                            </button>
                            <div class="dropdown-menu table-dropdown">
                                <a href="/webadmin/tournament-tickets/edit/id/20">
                                    <div class="edit" id="edit-20"></div>Edit
                                </a>

                                <a href="/webadmin/tournament-tickets/id/20" onClick='showSelectUserDialog(this); return false;'>
                                    <div class="copy" id="copy-20"></div>Emit a ticket
                                </a>


                            </div>
                        </div>
                    </td>
                    <td>20</td>
                    <td>0.33 chips ticket</td>
                    <td>Active</td>
                    <td>0.33</td>
                    <td>Real Money</td>
                    <td>2020/12/31 12:45:30</td>
                    <td>12313</td>
                    <td>-</td>
                    <td>Unknown</td>
                    <td><span class="notbold">-</span></td>
                    <td>Yes</td>
                    <td><span class="notbold">-</span></td>
                    <td>-</td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="odd ">
                    <td><input type="checkbox" class="rowCheckbox" value="21"></td>
                    <td>
                        <div class="dropdown text-center">
                            <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                    type="button" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-bars"></i>
                            </button>
                            <div class="dropdown-menu table-dropdown">
                                <a href="/webadmin/tournament-tickets/edit/id/21">
                                    <div class="edit" id="edit-21"></div>Edit
                                </a>

                                <a href="/webadmin/tournament-tickets/id/21" onClick='showSelectUserDialog(this); return false;'>
                                    <div class="copy" id="copy-21"></div>Emit a ticket
                                </a>


                            </div>
                        </div>
                    </td>
                    <td>21</td>
                    <td>0.40 + 0.04 chips ticket</td>
                    <td>Expired</td>
                    <td>0.44</td>
                    <td>Real Money</td>
                    <td>2019/11/04 13:53:31</td>
                    <td>12313</td>
                    <td>-</td>
                    <td>Unknown</td>
                    <td><span class="notbold">-</span></td>
                    <td>Yes</td>
                    <td><span class="notbold">-</span></td>
                    <td>-</td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="even ">
                    <td><input type="checkbox" class="rowCheckbox" value="22"></td>
                    <td>
                        <div class="dropdown text-center">
                            <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                    type="button" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-bars"></i>
                            </button>
                            <div class="dropdown-menu table-dropdown">
                                <a href="/webadmin/tournament-tickets/edit/id/22">
                                    <div class="edit" id="edit-22"></div>Edit
                                </a>

                                <a href="/webadmin/tournament-tickets/id/22" onClick='showSelectUserDialog(this); return false;'>
                                    <div class="copy" id="copy-22"></div>Emit a ticket
                                </a>


                            </div>
                        </div>
                    </td>
                    <td>22</td>
                    <td>0.55 chips ticket</td>
                    <td>Active</td>
                    <td>0.55</td>
                    <td>Real Money</td>
                    <td>2020/12/31 13:00:15</td>
                    <td>12313</td>
                    <td>-</td>
                    <td>Unknown</td>
                    <td><span class="notbold">-</span></td>
                    <td>Yes</td>
                    <td><span class="notbold">-</span></td>
                    <td>-</td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="odd ">
                    <td><input type="checkbox" class="rowCheckbox" value="23"></td>
                    <td>
                        <div class="dropdown text-center">
                            <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                    type="button" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-bars"></i>
                            </button>
                            <div class="dropdown-menu table-dropdown">
                                <a href="/webadmin/tournament-tickets/edit/id/23">
                                    <div class="edit" id="edit-23"></div>Edit
                                </a>

                                <a href="/webadmin/tournament-tickets/id/23" onClick='showSelectUserDialog(this); return false;'>
                                    <div class="copy" id="copy-23"></div>Emit a ticket
                                </a>


                            </div>
                        </div>
                    </td>
                    <td>23</td>
                    <td>0.77 chips ticket</td>
                    <td>Active</td>
                    <td>0.77</td>
                    <td>Real Money</td>
                    <td>2019/11/04 13:54:38</td>
                    <td>12313</td>
                    <td>-</td>
                    <td>Unknown</td>
                    <td><span class="notbold">-</span></td>
                    <td>Yes</td>
                    <td><span class="notbold">-</span></td>
                    <td>-</td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="even ">
                    <td><input type="checkbox" class="rowCheckbox" value="24"></td>
                    <td>
                        <div class="dropdown text-center">
                            <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                    type="button" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-bars"></i>
                            </button>
                            <div class="dropdown-menu table-dropdown">
                                <a href="/webadmin/tournament-tickets/expire/id/24" onClick='processTicketExpire(this); return false;'>
                                    <div class="expire" id="expire-24"></div>Mark as expired
                                </a>


                            </div>
                        </div>
                    </td>
                    <td>24</td>
                    <td>0.20 + 0.02 chips ticket</td>
                    <td>Active</td>
                    <td>0.22</td>
                    <td>Real Money</td>
                    <td>2020/12/31 12:25:14</td>
                    <td>0</td>
                    <td>-</td>
                    <td>Unknown</td>
                    <td><span class="notbold">-</span></td>
                    <td>No</td>
                    <td><span class="notbold">-</span></td>
                    <td><a href="/webadmin/user/info/id/2236455">885TME88</a></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="odd ">
                    <td><input type="checkbox" class="rowCheckbox" value="25"></td>
                    <td></td>
                    <td>25</td>
                    <td>0.50 + 0.05 chips ticket</td>
                    <td>Consumed In Tournament</td>
                    <td>0.55</td>
                    <td>Real Money</td>
                    <td>2020/12/31 12:27:40</td>
                    <td>0</td>
                    <td>-</td>
                    <td>Unknown</td>
                    <td><span class="notbold">-</span></td>
                    <td>No</td>
                    <td><span class="notbold">-</span></td>
                    <td><a href="/webadmin/user/info/id/2236455">885TME88</a></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="even ">
                    <td><input type="checkbox" class="rowCheckbox" value="26"></td>
                    <td>
                        <div class="dropdown text-center">
                            <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                    type="button" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-bars"></i>
                            </button>
                            <div class="dropdown-menu table-dropdown">
                                <a href="/webadmin/tournament-tickets/edit/id/26">
                                    <div class="edit" id="edit-26"></div>Edit
                                </a>

                                <a href="/webadmin/tournament-tickets/id/26" onClick='showSelectUserDialog(this); return false;'>
                                    <div class="copy" id="copy-26"></div>Emit a ticket
                                </a>


                            </div>
                        </div>
                    </td>
                    <td>26</td>
                    <td>1.10 chips ticket</td>
                    <td>Active</td>
                    <td>1.10</td>
                    <td>Real Money</td>
                    <td>2020/12/31 13:45:45</td>
                    <td>12314</td>
                    <td>-</td>
                    <td>Unknown</td>
                    <td><span class="notbold">-</span></td>
                    <td>Yes</td>
                    <td><span class="notbold">-</span></td>
                    <td>-</td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="odd ">
                    <td><input type="checkbox" class="rowCheckbox" value="27"></td>
                    <td>
                        <div class="dropdown text-center">
                            <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                    type="button" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-bars"></i>
                            </button>
                            <div class="dropdown-menu table-dropdown">
                                <a href="/webadmin/tournament-tickets/edit/id/27">
                                    <div class="edit" id="edit-27"></div>Edit
                                </a>

                                <a href="/webadmin/tournament-tickets/id/27" onClick='showSelectUserDialog(this); return false;'>
                                    <div class="copy" id="copy-27"></div>Emit a ticket
                                </a>


                            </div>
                        </div>
                    </td>
                    <td>27</td>
                    <td>2.20 chips ticket</td>
                    <td>Active</td>
                    <td>2.20</td>
                    <td>Real Money</td>
                    <td>2020/12/31 13:45:30</td>
                    <td>12313</td>
                    <td>-</td>
                    <td>Unknown</td>
                    <td><span class="notbold">-</span></td>
                    <td>Yes</td>
                    <td><span class="notbold">-</span></td>
                    <td>-</td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="even ">
                    <td><input type="checkbox" class="rowCheckbox" value="28"></td>
                    <td></td>
                    <td>28</td>
                    <td>0.10 + 0.01 chips ticket</td>
                    <td>Consumed In Tournament</td>
                    <td>0.11</td>
                    <td>Real Money</td>
                    <td>2020/12/31 12:30:45</td>
                    <td>0</td>
                    <td>-</td>
                    <td>Unknown</td>
                    <td><span class="notbold">-</span></td>
                    <td>No</td>
                    <td><span class="notbold">-</span></td>
                    <td><a href="/webadmin/user/info/id/2236455">885TME88</a></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="odd ">
                    <td><input type="checkbox" class="rowCheckbox" value="29"></td>
                    <td></td>
                    <td>29</td>
                    <td>0.10 + 0.01 chips ticket</td>
                    <td>Consumed In Tournament</td>
                    <td>0.11</td>
                    <td>Real Money</td>
                    <td>2020/12/31 12:30:45</td>
                    <td>0</td>
                    <td>-</td>
                    <td>Unknown</td>
                    <td><span class="notbold">-</span></td>
                    <td>No</td>
                    <td><span class="notbold">-</span></td>
                    <td><a href="/webadmin/user/info/id/2236455">885TME88</a></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="even ">
                    <td><input type="checkbox" class="rowCheckbox" value="30"></td>
                    <td></td>
                    <td>30</td>
                    <td>0.10 + 0.01 chips ticket</td>
                    <td>Consumed In Tournament</td>
                    <td>0.11</td>
                    <td>Real Money</td>
                    <td>2020/12/31 12:30:45</td>
                    <td>0</td>
                    <td>-</td>
                    <td>Unknown</td>
                    <td><span class="notbold">-</span></td>
                    <td>No</td>
                    <td><span class="notbold">-</span></td>
                    <td><a href="/webadmin/user/info/id/2236455">885TME88</a></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="odd ">
                    <td><input type="checkbox" class="rowCheckbox" value="31"></td>
                    <td>
                        <div class="dropdown text-center">
                            <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                    type="button" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-bars"></i>
                            </button>
                            <div class="dropdown-menu table-dropdown">
                                <a href="/webadmin/tournament-tickets/expire/id/31" onClick='processTicketExpire(this); return false;'>
                                    <div class="expire" id="expire-31"></div>Mark as expired
                                </a>


                            </div>
                        </div>
                    </td>
                    <td>31</td>
                    <td>0.10 + 0.01 chips ticket</td>
                    <td>Active</td>
                    <td>0.11</td>
                    <td>Real Money</td>
                    <td>2020/12/31 12:30:45</td>
                    <td>0</td>
                    <td>-</td>
                    <td>Unknown</td>
                    <td><span class="notbold">-</span></td>
                    <td>No</td>
                    <td><span class="notbold">-</span></td>
                    <td><a href="/webadmin/user/info/id/2236455">885TME88</a></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="even ">
                    <td><input type="checkbox" class="rowCheckbox" value="32"></td>
                    <td>
                        <div class="dropdown text-center">
                            <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                    type="button" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-bars"></i>
                            </button>
                            <div class="dropdown-menu table-dropdown">
                                <a href="/webadmin/tournament-tickets/edit/id/32">
                                    <div class="edit" id="edit-32"></div>Edit
                                </a>

                                <a href="/webadmin/tournament-tickets/id/32" onClick='showSelectUserDialog(this); return false;'>
                                    <div class="copy" id="copy-32"></div>Emit a ticket
                                </a>


                            </div>
                        </div>
                    </td>
                    <td>32</td>
                    <td>3.30 chips ticket</td>
                    <td>Active</td>
                    <td>3.30</td>
                    <td>Real Money</td>
                    <td>2020/12/31 13:45:45</td>
                    <td>12313</td>
                    <td>-</td>
                    <td>Unknown</td>
                    <td><span class="notbold">-</span></td>
                    <td>Yes</td>
                    <td><span class="notbold">-</span></td>
                    <td>-</td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="odd ">
                    <td><input type="checkbox" class="rowCheckbox" value="33"></td>
                    <td>
                        <div class="dropdown text-center">
                            <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                    type="button" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-bars"></i>
                            </button>
                            <div class="dropdown-menu table-dropdown">
                                <a href="/webadmin/tournament-tickets/edit/id/33">
                                    <div class="edit" id="edit-33"></div>Edit
                                </a>

                                <a href="/webadmin/tournament-tickets/id/33" onClick='showSelectUserDialog(this); return false;'>
                                    <div class="copy" id="copy-33"></div>Emit a ticket
                                </a>


                            </div>
                        </div>
                    </td>
                    <td>33</td>
                    <td>4.00 + 0.40 chips ticket</td>
                    <td>Expired</td>
                    <td>4.40</td>
                    <td>Real Money</td>
                    <td>2019/11/04 13:56:46</td>
                    <td>12313</td>
                    <td>-</td>
                    <td>Unknown</td>
                    <td><span class="notbold">-</span></td>
                    <td>Yes</td>
                    <td><span class="notbold">-</span></td>
                    <td>-</td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="even ">
                    <td><input type="checkbox" class="rowCheckbox" value="34"></td>
                    <td>
                        <div class="dropdown text-center">
                            <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                    type="button" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-bars"></i>
                            </button>
                            <div class="dropdown-menu table-dropdown">
                                <a href="/webadmin/tournament-tickets/edit/id/34">
                                    <div class="edit" id="edit-34"></div>Edit
                                </a>

                                <a href="/webadmin/tournament-tickets/id/34" onClick='showSelectUserDialog(this); return false;'>
                                    <div class="copy" id="copy-34"></div>Emit a ticket
                                </a>


                            </div>
                        </div>
                    </td>
                    <td>34</td>
                    <td>5.50 chips ticket</td>
                    <td>Active</td>
                    <td>5.50</td>
                    <td>Real Money</td>
                    <td>2020/12/31 13:45:00</td>
                    <td>12313</td>
                    <td>-</td>
                    <td>Unknown</td>
                    <td><span class="notbold">-</span></td>
                    <td>Yes</td>
                    <td><span class="notbold">-</span></td>
                    <td>-</td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="odd ">
                    <td><input type="checkbox" class="rowCheckbox" value="35"></td>
                    <td>
                        <div class="dropdown text-center">
                            <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                    type="button" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-bars"></i>
                            </button>
                            <div class="dropdown-menu table-dropdown">
                                <a href="/webadmin/tournament-tickets/edit/id/35">
                                    <div class="edit" id="edit-35"></div>Edit
                                </a>

                                <a href="/webadmin/tournament-tickets/id/35" onClick='showSelectUserDialog(this); return false;'>
                                    <div class="copy" id="copy-35"></div>Emit a ticket
                                </a>


                            </div>
                        </div>
                    </td>
                    <td>35</td>
                    <td>The Cashgame Promotion Ticket</td>
                    <td>Active</td>
                    <td>0.00</td>
                    <td>Real Money</td>
                    <td>2020/12/31 14:00:00</td>
                    <td>12313</td>
                    <td>-</td>
                    <td>Unknown</td>
                    <td><span class="notbold">-</span></td>
                    <td>Yes</td>
                    <td><span class="notbold">-</span></td>
                    <td>-</td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="even ">
                    <td><input type="checkbox" class="rowCheckbox" value="36"></td>
                    <td>
                        <div class="dropdown text-center">
                            <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                    type="button" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-bars"></i>
                            </button>
                            <div class="dropdown-menu table-dropdown">
                                <a href="/webadmin/tournament-tickets/edit/id/36">
                                    <div class="edit" id="edit-36"></div>Edit
                                </a>

                                <a href="/webadmin/tournament-tickets/id/36" onClick='showSelectUserDialog(this); return false;'>
                                    <div class="copy" id="copy-36"></div>Emit a ticket
                                </a>


                            </div>
                        </div>
                    </td>
                    <td>36</td>
                    <td>11 chips ticket</td>
                    <td>Active</td>
                    <td>11.00</td>
                    <td>Real Money</td>
                    <td>2020/12/31 14:00:30</td>
                    <td>12313</td>
                    <td>-</td>
                    <td>Unknown</td>
                    <td><span class="notbold">-</span></td>
                    <td>Yes</td>
                    <td><span class="notbold">-</span></td>
                    <td>-</td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="odd ">
                    <td><input type="checkbox" class="rowCheckbox" value="37"></td>
                    <td>
                        <div class="dropdown text-center">
                            <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                    type="button" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-bars"></i>
                            </button>
                            <div class="dropdown-menu table-dropdown">
                                <a href="/webadmin/tournament-tickets/edit/id/37">
                                    <div class="edit" id="edit-37"></div>Edit
                                </a>

                                <a href="/webadmin/tournament-tickets/id/37" onClick='showSelectUserDialog(this); return false;'>
                                    <div class="copy" id="copy-37"></div>Emit a ticket
                                </a>


                            </div>
                        </div>
                    </td>
                    <td>37</td>
                    <td>15.00 + 1.50 chips ticket</td>
                    <td>Active</td>
                    <td>16.50</td>
                    <td>Real Money</td>
                    <td>2020/12/31 14:00:00</td>
                    <td>12313</td>
                    <td>-</td>
                    <td>Unknown</td>
                    <td><span class="notbold">-</span></td>
                    <td>Yes</td>
                    <td><span class="notbold">-</span></td>
                    <td>-</td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="even ">
                    <td><input type="checkbox" class="rowCheckbox" value="38"></td>
                    <td>
                        <div class="dropdown text-center">
                            <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                    type="button" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-bars"></i>
                            </button>
                            <div class="dropdown-menu table-dropdown">
                                <a href="/webadmin/tournament-tickets/edit/id/38">
                                    <div class="edit" id="edit-38"></div>Edit
                                </a>

                                <a href="/webadmin/tournament-tickets/id/38" onClick='showSelectUserDialog(this); return false;'>
                                    <div class="copy" id="copy-38"></div>Emit a ticket
                                </a>


                            </div>
                        </div>
                    </td>
                    <td>38</td>
                    <td>22 chips ticket</td>
                    <td>Active</td>
                    <td>22.00</td>
                    <td>Real Money</td>
                    <td>2020/12/31 14:00:15</td>
                    <td>12313</td>
                    <td>-</td>
                    <td>Unknown</td>
                    <td><span class="notbold">-</span></td>
                    <td>Yes</td>
                    <td><span class="notbold">-</span></td>
                    <td>-</td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="odd ">
                    <td><input type="checkbox" class="rowCheckbox" value="39"></td>
                    <td>
                        <div class="dropdown text-center">
                            <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                    type="button" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-bars"></i>
                            </button>
                            <div class="dropdown-menu table-dropdown">
                                <a href="/webadmin/tournament-tickets/edit/id/39">
                                    <div class="edit" id="edit-39"></div>Edit
                                </a>

                                <a href="/webadmin/tournament-tickets/id/39" onClick='showSelectUserDialog(this); return false;'>
                                    <div class="copy" id="copy-39"></div>Emit a ticket
                                </a>


                            </div>
                        </div>
                    </td>
                    <td>39</td>
                    <td>30.00 + 3.00 chips ticket</td>
                    <td>Active</td>
                    <td>33.00</td>
                    <td>Real Money</td>
                    <td>2020/12/31 14:00:15</td>
                    <td>12313</td>
                    <td>-</td>
                    <td>Unknown</td>
                    <td><span class="notbold">-</span></td>
                    <td>Yes</td>
                    <td><span class="notbold">-</span></td>
                    <td>-</td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="even ">
                    <td><input type="checkbox" class="rowCheckbox" value="40"></td>
                    <td>
                        <div class="dropdown text-center">
                            <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                    type="button" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-bars"></i>
                            </button>
                            <div class="dropdown-menu table-dropdown">
                                <a href="/webadmin/tournament-tickets/edit/id/40">
                                    <div class="edit" id="edit-40"></div>Edit
                                </a>

                                <a href="/webadmin/tournament-tickets/id/40" onClick='showSelectUserDialog(this); return false;'>
                                    <div class="copy" id="copy-40"></div>Emit a ticket
                                </a>


                            </div>
                        </div>
                    </td>
                    <td>40</td>
                    <td>50.00 + 5.00 chips ticket</td>
                    <td>Active</td>
                    <td>55.00</td>
                    <td>Real Money</td>
                    <td>2020/12/31 14:00:00</td>
                    <td>12313</td>
                    <td>-</td>
                    <td>Unknown</td>
                    <td><span class="notbold">-</span></td>
                    <td>Yes</td>
                    <td><span class="notbold">-</span></td>
                    <td>-</td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="odd ">
                    <td><input type="checkbox" class="rowCheckbox" value="41"></td>
                    <td>
                        <div class="dropdown text-center">
                            <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                    type="button" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-bars"></i>
                            </button>
                            <div class="dropdown-menu table-dropdown">
                                <a href="/webadmin/tournament-tickets/edit/id/41">
                                    <div class="edit" id="edit-41"></div>Edit
                                </a>

                                <a href="/webadmin/tournament-tickets/id/41" onClick='showSelectUserDialog(this); return false;'>
                                    <div class="copy" id="copy-41"></div>Emit a ticket
                                </a>


                            </div>
                        </div>
                    </td>
                    <td>41</td>
                    <td>100.00 + 9.00 chips ticket</td>
                    <td>Active</td>
                    <td>109.00</td>
                    <td>Real Money</td>
                    <td>2020/12/31 14:00:45</td>
                    <td>12313</td>
                    <td>-</td>
                    <td>Unknown</td>
                    <td><span class="notbold">-</span></td>
                    <td>Yes</td>
                    <td><span class="notbold">-</span></td>
                    <td>-</td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="even ">
                    <td><input type="checkbox" class="rowCheckbox" value="42"></td>
                    <td>
                        <div class="dropdown text-center">
                            <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                    type="button" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-bars"></i>
                            </button>
                            <div class="dropdown-menu table-dropdown">
                                <a href="/webadmin/tournament-tickets/edit/id/42">
                                    <div class="edit" id="edit-42"></div>Edit
                                </a>

                                <a href="/webadmin/tournament-tickets/id/42" onClick='showSelectUserDialog(this); return false;'>
                                    <div class="copy" id="copy-42"></div>Emit a ticket
                                </a>


                            </div>
                        </div>
                    </td>
                    <td>42</td>
                    <td>200.00 + 15.00 chips ticket</td>
                    <td>Active</td>
                    <td>215.00</td>
                    <td>Real Money</td>
                    <td>2020/12/31 14:00:45</td>
                    <td>12313</td>
                    <td>-</td>
                    <td>Unknown</td>
                    <td><span class="notbold">-</span></td>
                    <td>Yes</td>
                    <td><span class="notbold">-</span></td>
                    <td>-</td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="odd ">
                    <td><input type="checkbox" class="rowCheckbox" value="43"></td>
                    <td>
                        <div class="dropdown text-center">
                            <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                    type="button" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-bars"></i>
                            </button>
                            <div class="dropdown-menu table-dropdown">
                                <a href="/webadmin/tournament-tickets/edit/id/43">
                                    <div class="edit" id="edit-43"></div>Edit
                                </a>

                                <a href="/webadmin/tournament-tickets/id/43" onClick='showSelectUserDialog(this); return false;'>
                                    <div class="copy" id="copy-43"></div>Emit a ticket
                                </a>


                            </div>
                        </div>
                    </td>
                    <td>43</td>
                    <td>New Player Ticket - OT+CCAT</td>
                    <td>Expired</td>
                    <td>0.00</td>
                    <td>Real Money</td>
                    <td>2019/11/04 13:54:38</td>
                    <td>12313</td>
                    <td>-</td>
                    <td>Unknown</td>
                    <td><span class="notbold">-</span></td>
                    <td>Yes</td>
                    <td><span class="notbold">-</span></td>
                    <td>-</td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="even ">
                    <td><input type="checkbox" class="rowCheckbox" value="44"></td>
                    <td>
                        <div class="dropdown text-center">
                            <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                    type="button" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-bars"></i>
                            </button>
                            <div class="dropdown-menu table-dropdown">
                                <a href="/webadmin/tournament-tickets/expire/id/44" onClick='processTicketExpire(this); return false;'>
                                    <div class="expire" id="expire-44"></div>Mark as expired
                                </a>


                            </div>
                        </div>
                    </td>
                    <td>44</td>
                    <td>0.20 + 0.02 chips ticket</td>
                    <td>Active</td>
                    <td>0.22</td>
                    <td>Real Money</td>
                    <td>2020/12/31 12:45:00</td>
                    <td>0</td>
                    <td>-</td>
                    <td>Unknown</td>
                    <td><span class="notbold">-</span></td>
                    <td>No</td>
                    <td><span class="notbold">-</span></td>
                    <td><a href="/webadmin/user/info/id/2236455">885TME88</a></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="odd ">
                    <td><input type="checkbox" class="rowCheckbox" value="45"></td>
                    <td></td>
                    <td>45</td>
                    <td>0.30 + 0.03 chips ticket</td>
                    <td>Consumed In Tournament</td>
                    <td>0.33</td>
                    <td>Real Money</td>
                    <td>2020/12/31 12:45:30</td>
                    <td>0</td>
                    <td>-</td>
                    <td>Unknown</td>
                    <td><span class="notbold">-</span></td>
                    <td>No</td>
                    <td><span class="notbold">-</span></td>
                    <td><a href="/webadmin/user/info/id/2236455">885TME88</a></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="even ">
                    <td><input type="checkbox" class="rowCheckbox" value="46"></td>
                    <td></td>
                    <td>46</td>
                    <td>0.60 + 0.06 chips ticket</td>
                    <td>Consumed In Tournament</td>
                    <td>0.66</td>
                    <td>Real Money</td>
                    <td>2020/12/31 13:00:00</td>
                    <td>0</td>
                    <td>-</td>
                    <td>Unknown</td>
                    <td><span class="notbold">-</span></td>
                    <td>No</td>
                    <td><span class="notbold">-</span></td>
                    <td><a href="/webadmin/user/info/id/2236455">885TME88</a></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="odd ">
                    <td><input type="checkbox" class="rowCheckbox" value="47"></td>
                    <td></td>
                    <td>47</td>
                    <td>0.40 + 0.04 chips ticket</td>
                    <td>Consumed In Tournament</td>
                    <td>0.44</td>
                    <td>Real Money</td>
                    <td>2020/12/31 12:45:15</td>
                    <td>0</td>
                    <td>-</td>
                    <td>Unknown</td>
                    <td><span class="notbold">-</span></td>
                    <td>No</td>
                    <td><span class="notbold">-</span></td>
                    <td><a href="/webadmin/user/info/id/2236455">885TME88</a></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="even ">
                    <td><input type="checkbox" class="rowCheckbox" value="48"></td>
                    <td></td>
                    <td>48</td>
                    <td>0.50 + 0.05 chips ticket</td>
                    <td>Consumed In Tournament</td>
                    <td>0.55</td>
                    <td>Real Money</td>
                    <td>2020/12/31 13:00:15</td>
                    <td>0</td>
                    <td>-</td>
                    <td>Unknown</td>
                    <td><span class="notbold">-</span></td>
                    <td>No</td>
                    <td><a href="/webadmin/tournament/info/id/3757394">THTS2k19 #22 [R/A] (3757394)</a></td>
                    <td><a href="/webadmin/user/info/id/2236455">885TME88</a></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="odd ">
                    <td><input type="checkbox" class="rowCheckbox" value="49"></td>
                    <td></td>
                    <td>49</td>
                    <td>1.00 + 0.01 chips ticket</td>
                    <td>Consumed In Tournament</td>
                    <td>1.10</td>
                    <td>Real Money</td>
                    <td>2020/12/31 13:45:45</td>
                    <td>0</td>
                    <td>-</td>
                    <td>Unknown</td>
                    <td><span class="notbold">-</span></td>
                    <td>No</td>
                    <td><a href="/webadmin/tournament/info/id/3655551">The Daily  25 GTD R/A (3655551)</a></td>
                    <td><a href="/webadmin/user/info/id/2236455">885TME88</a></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="even ">
                    <td><input type="checkbox" class="rowCheckbox" value="50"></td>
                    <td></td>
                    <td>50</td>
                    <td>2.00 + 0.20 chips ticket</td>
                    <td>Consumed In Tournament</td>
                    <td>2.20</td>
                    <td>Real Money</td>
                    <td>2020/12/31 13:45:30</td>
                    <td>0</td>
                    <td>-</td>
                    <td>Unknown</td>
                    <td><span class="notbold">-</span></td>
                    <td>No</td>
                    <td><a href="/webadmin/tournament/info/id/3719406">THTS2k19 #19 [R/A] (3719406)</a></td>
                    <td><a href="/webadmin/user/info/id/2236455">885TME88</a></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="odd ">
                    <td><input type="checkbox" class="rowCheckbox" value="51"></td>
                    <td></td>
                    <td>51</td>
                    <td>3.00 + 0.30 chips ticket</td>
                    <td>Consumed In Tournament</td>
                    <td>3.30</td>
                    <td>Real Money</td>
                    <td>2020/12/31 13:45:45</td>
                    <td>0</td>
                    <td>-</td>
                    <td>Unknown</td>
                    <td><span class="notbold">-</span></td>
                    <td>No</td>
                    <td><a href="/webadmin/tournament/info/id/3757540">THTS2k19 #23 [Freezeout] (3757540)</a></td>
                    <td><a href="/webadmin/user/info/id/2236455">885TME88</a></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="even ">
                    <td><input type="checkbox" class="rowCheckbox" value="52"></td>
                    <td></td>
                    <td>52</td>
                    <td>4.00 + 0.40 chips ticket</td>
                    <td>Consumed In Tournament</td>
                    <td>4.40</td>
                    <td>Real Money</td>
                    <td>2020/12/31 13:45:15</td>
                    <td>0</td>
                    <td>-</td>
                    <td>Unknown</td>
                    <td><span class="notbold">-</span></td>
                    <td>No</td>
                    <td><span class="notbold">-</span></td>
                    <td><a href="/webadmin/user/info/id/2236455">885TME88</a></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="odd ">
                    <td><input type="checkbox" class="rowCheckbox" value="53"></td>
                    <td></td>
                    <td>53</td>
                    <td>5.00 + 0.50 chips ticket</td>
                    <td>Consumed In Tournament</td>
                    <td>5.50</td>
                    <td>Real Money</td>
                    <td>2020/12/31 13:45:00</td>
                    <td>0</td>
                    <td>-</td>
                    <td>Unknown</td>
                    <td><span class="notbold">-</span></td>
                    <td>No</td>
                    <td><a href="/webadmin/tournament/info/id/3618462">THTS2k19 #04 [Freezeout] (3618462)</a></td>
                    <td><a href="/webadmin/user/info/id/2236455">885TME88</a></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->



                <tr class="even ">
                    <td><input type="checkbox" class="rowCheckbox" value="54"></td>
                    <td>
                        <div class="dropdown text-center">
                            <button class="btn btn-transparent no-border no-padding dropdown-toggle"
                                    type="button" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-bars"></i>
                            </button>
                            <div class="dropdown-menu table-dropdown">
                                <a href="/webadmin/tournament-tickets/expire/id/54" onClick='processTicketExpire(this); return false;'>
                                    <div class="expire" id="expire-54"></div>Mark as expired
                                </a>


                            </div>
                        </div>
                    </td>
                    <td>54</td>
                    <td>6.00 + 0.60 chips ticket</td>
                    <td>Active</td>
                    <td>6.60</td>
                    <td>Real Money</td>
                    <td>2020/12/31 13:57:06</td>
                    <td>0</td>
                    <td>-</td>
                    <td>Unknown</td>
                    <td><span class="notbold">-</span></td>
                    <td>No</td>
                    <td><span class="notbold">-</span></td>
                    <td><a href="/webadmin/user/info/id/2236455">885TME88</a></td>

                </tr>

                <!-- Collapsable -->
                <!-- End collapsable -->


            </table>
            <div class='rowCount'>
                <div class="row">
                    <div class="col-md-3">
                        Rows: 5725&ensp;|&ensp;
                        <div class="limit-controls" style="display: inline-block;">
                            <div id="perpage">Per page:</div>
                            <select class="limit-links">
                                <option data-href="/webadmin/tournament-tickets/index/limit/10">10</option>
                                <option data-href="/webadmin/tournament-tickets/index/limit/25">25</option>
                                <option selected data-href="/webadmin/tournament-tickets/index/limit/50">50</option>
                                <option data-href="/webadmin/tournament-tickets/index/limit/100">100</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-7" style="display: flex; justify-content: center">
                        <div class="paginator-controls" id="blockPaginatorControls">
                            <!-- First page link -->
                            <div class="paginator-link">
                                <span class="disabled">First</span>
                            </div>
                            <!-- Previous page link -->
                            <div class="paginator-link">
                                <span class="disabled">&lt; Previous</span>
                            </div>
                            <!-- Numbered page links -->
                            <div class="paginator-link paginator-link_border">
                                <span class="current">1</span>
                            </div>
                            <div class="paginator-link paginator-link_border">
                                <a href="/webadmin/tournament-tickets/index/page/2">2</a>
                            </div>
                            <div class="paginator-link paginator-link_border">
                                <a href="/webadmin/tournament-tickets/index/page/3">3</a>
                            </div>
                            <div class="paginator-link paginator-link_border">
                                <a href="/webadmin/tournament-tickets/index/page/4">4</a>
                            </div>
                            <div class="paginator-link paginator-link_border">
                                <a href="/webadmin/tournament-tickets/index/page/5">5</a>
                            </div>
                            <div class="paginator-link paginator-link_border">
                                <a href="/webadmin/tournament-tickets/index/page/6">6</a>
                            </div>
                            <div class="paginator-link paginator-link_border">
                                <a href="/webadmin/tournament-tickets/index/page/7">7</a>
                            </div>
                            <div class="paginator-link paginator-link_border">
                                <a href="/webadmin/tournament-tickets/index/page/8">8</a>
                            </div>
                            <div class="paginator-link paginator-link_border">
                                <a href="/webadmin/tournament-tickets/index/page/9">9</a>
                            </div>
                            <div class="paginator-link paginator-link_border">
                                <a href="/webadmin/tournament-tickets/index/page/10">10</a>
                            </div>

                            <!-- Next page link -->
                            <div class="paginator-link">
                                <a href="/webadmin/tournament-tickets/index/page/2">Next &gt;</a>
                            </div>
                            <!-- Last page link -->
                            <div class="paginator-link">
                                <a href="/webadmin/tournament-tickets/index/page/115">Last</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="pull-right">
                            <a href="/webadmin/tournament-tickets/index/_output/xlsx"><img src="img/icons/xls.svg" alt="Excel"></a>
                            <a href="/webadmin/tournament-tickets/index/_output/csv"><img src="img/icons/csv.svg" alt="CSV"></a>
                            <a href="/webadmin/tournament-tickets/index/_output/ods"><img src="img/icons/odt.svg" alt="OpenDocument" /></a>
                        </div>
                    </div>
                </div>
            </div>



        </div>
        <br>
        <button id="expireButton" class="btn btn-primary">Mark As Expired</button>
    </div>
</div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="emitTicketDialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Emit Ticket</h4>
            </div>
            <div class="modal-body">
                <div class="box box-primary">
                    <form enctype="multipart/form-data" action="/webadmin/tournament-tickets/emit" method="post" dojoType="dijit.form.Form">
                        <div class="box-body">
                            <dt id="templateId-label">&#160;</dt>
                            <dd id="templateId-element">
                                <input type="hidden" name="templateId" value="" id="templateId" />
                            </dd>
                            <div class="form-group" id="form-element-playerId">
                                <label for="playerId" class="optional">Players</label>

                                <select name="playerId[]" id="playerId" multiple="multiple" class="form-control select2">
                                </select>
                            </div>
                            <div class="form-group" id="form-element-playerIdFile">
                                <label for="playerIdFile" class="optional">Player Ids</label>

                                <input type="hidden" name="MAX_FILE_SIZE" value="524288" id="MAX_FILE_SIZE" />
                                <input type="file" name="playerIdFile" id="playerIdFile" class="form-control" />
                            </div>

                            <input type="submit" name="emit" id="emit" value="Emit" class="btn btn-primary" />
                        </div>
                    </form>
                </div>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->