﻿
@{
    ViewBag.Title = "TournamentHistory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h3>History: Tournament (3488029)</h3>
<br />
<div id="dynamicContent">
    <table id='actions-log' class="listing-table">
        <thead class="listHead">
            <tr>
                <th data-meta-skip-manage='true'>#</th>
                <th data-meta-key='f_manager_id' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_manager_id" orderType="">
                            User
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_action' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_action" orderType="">
                            Action
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_object_type' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_object_type" orderType="">
                            Object Type
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_object_id' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_object_id" orderType="">
                            Object
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_old_value' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_old_value" orderType="">
                            Old
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_new_value' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_new_value" orderType="">
                            New
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_datetime' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_datetime" orderType="ASC">
                            When
                            <img src="img/arrow_down.png" />
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_source' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_source" orderType="">
                            Page
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_ip' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_ip" orderType="">
                            IP
                        </a>
                    </nobr>
                </th>
            </tr>
        </thead>
        <thead class="listFilter">
            <tr>
                <th>&nbsp;</th>
                <th>
                    <input type="text" name="f_manager_id" id="f_manager_id" value="" filter="1" sql="p.f_id" sql_nick="p.f_nick" orderable="1" nonHtml="" class="filter" />
                </th>
                <th>
                    <input type="text" name="f_action" id="f_action" value="" filter="1" sql="al.f_action" orderable="1" nonHtml="" class="filter" />
                </th>
                <th>
                    <input type="text" name="f_object_type" id="f_object_type" value="" filter="1" sql="al.f_object_type" orderable="1" nonHtml="" class="filter" />
                </th>
                <th>
                    <input type="text" name="f_object_id" id="f_object_id" value="" filter="1" sql="al.f_object_id" fieldExt="f_object_type" orderable="1" nonHtml="" class="filter" />
                </th>
                <th>
                    <input type="text" name="f_old_value" id="f_old_value" value="" filter="1" sql="al.f_old_value" orderable="1" nonHtml="" class="filter" />
                </th>
                <th>
                    <input type="text" name="f_new_value" id="f_new_value" value="" filter="1" sql="al.f_new_value" orderable="1" nonHtml="" class="filter" />
                </th>
                <th>
                    <input type="text" name="f_datetime" id="f_datetime" value="" filter="1" sql="al.f_datetime" orderable="1" nonHtml="" class="filter" readonly="readonly" onclick='displayDatePicker("f_datetime", false, "ymd", "-");' />
                </th>
                <th>
                    <input type="text" name="f_source" id="f_source" value="" filter="1" sql="al.f_source" orderable="1" nonHtml="" class="filter" />
                </th>
                <th>
                    <input type="text" name="f_ip" id="f_ip" value="" filter="1" sql="al.f_ip" orderable="1" nonHtml="" class="filter" />
                </th>

            </tr>
        </thead>

        <tr class="odd">
            <td>1</td>
            <td><a href="/webadmin/user/info/type/tournament/id/3486546">E5G0KM55</a></td>
            <td><span style="white-space: nowrap;">update</span></td>
            <td>tournament</td>
            <td><a href="/webadmin/tournament/info/type/tournament/id/3488029">The 1.10 Super Turbo (3488029)</a> (3488029)</td>
            <td>
                <span style="word-break: break-all;">
                    {
                    &quot;id&quot;: &quot;3488029&quot;,
                    &quot;name&quot;: &quot;The 1.10 SNG&quot;,
                    &quot;state&quot;: &quot;G&quot;,
                    &quot;buyIn&quot;: &quot;100&quot;,
                    &quot;startDate&quot;: &quo
                </span> <a href="#" data-toggle="modal" data-target="#viewValue5e579d0f3c5b8">More…</a>

                <div class="modal fade" id="viewValue5e579d0f3c5b8" tabindex="-1" role="dialog"
                     aria-labelledby="viewValue5e579d0f3c5b8Label">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="viewValue5e579d0f3c5b8Label" style="font-size: 18px;">View Value</h4>
                            </div>
                            <div class="modal-body" style="max-height: calc(100vh - 200px); overflow-y: auto;">
                                {<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;id&quot;:&nbsp;&quot;3488029&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;name&quot;:&nbsp;&quot;The&nbsp;1.10&nbsp;SNG&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;state&quot;:&nbsp;&quot;G&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;buyIn&quot;:&nbsp;&quot;100&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;startDate&quot;:&nbsp;&quot;0000-00-00&nbsp;00:00:00&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;gameType&quot;:&nbsp;&quot;72&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;moneyType&quot;:&nbsp;&quot;R&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;speed&quot;:&nbsp;&quot;5&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;levelTime&quot;:&nbsp;&quot;420&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;breakTime&quot;:&nbsp;&quot;300&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;breakPeriod&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;numPlayers&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;engagerId&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;potType&quot;:&nbsp;&quot;U&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;tournamentType&quot;:&nbsp;&quot;G&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;maxPlayers&quot;:&nbsp;&quot;6&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;createdStamp&quot;:&nbsp;&quot;2019-10-12&nbsp;01:57:34&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;creatorId&quot;:&nbsp;&quot;3486546&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;startedStamp&quot;:&nbsp;&quot;0000-00-00&nbsp;00:00:00&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;endedStamp&quot;:&nbsp;&quot;0000-00-00&nbsp;00:00:00&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;regular&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;regularPeriod&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;serverId&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;entryFee&quot;:&nbsp;&quot;10&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;tablesSeats&quot;:&nbsp;&quot;6&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;initialFunds&quot;:&nbsp;&quot;2000&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;registrationDate&quot;:&nbsp;&quot;0000-00-00&nbsp;00:00:00&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;listingBeginDate&quot;:&nbsp;&quot;0000-00-00&nbsp;00:00:00&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;listingEndTime&quot;:&nbsp;&quot;82800&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;listingCancelTime&quot;:&nbsp;&quot;360&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;minPlayers&quot;:&nbsp;&quot;2&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;playTime&quot;:&nbsp;&quot;86100&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;seatingTime&quot;:&nbsp;&quot;90&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;private&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;useForBalance&quot;:&nbsp;&quot;1&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;adminCancel&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;guaranteedPrize&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;protectionPassword&quot;:&nbsp;&quot;&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;playingTimeLimit&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;parentTournamentId&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;numSelectedPlayers&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;minPlayerLevel&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;prize2MoneyType&quot;:&nbsp;&quot;R&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;prize2Amount&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;prize2Players&quot;:&nbsp;&quot;1&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;comment&quot;:&nbsp;&quot;quot;Welcome&nbsp;to&nbsp;the&nbsp;1.10&nbsp;SNG,&nbsp;Top&nbsp;2&nbsp;pay.&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;prize2Distribution&quot;:&nbsp;&quot;S&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;specialPrize&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;tag&quot;:&nbsp;&quot;&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;requirePlayerTag&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;startingBlindAmount&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;blindIncreaseCoeff&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;prizeDistribution&quot;:&nbsp;&quot;T&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;rebuyAllowed&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;rebuy2xAllowed&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;numRebuyAllowed&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;numRebuyTimeLimit&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;numRebuyHiThreshold&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;numRebuyChipsAmount&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;numRebuyChipsCost&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;numAddonAllowed&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;numAddonTimeLimit&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;numAddonChipsAmount&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;numAddonChipsCost&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;numPlayersWithTickets&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;lateRegistrationTimeLimit&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;ticketDistribution&quot;:&nbsp;&quot;&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;finishLateRegistrationAfterFirstPlayerLeftTournament&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;finishLateRegistrationAfterBubble&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;shootout&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;prizeTableName&quot;:&nbsp;&quot;Default&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;specialPrizeDescription&quot;:&nbsp;&quot;&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;ownerId&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;entryMethod&quot;:&nbsp;&quot;M&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;ticketTemplateId&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;colorMark&quot;:&nbsp;&quot;0#318b21&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;useMinPlayerLevelForHide&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;rebuyFee&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;addonFee&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;useGroupActivityFilter&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;levelTableName&quot;:&nbsp;&quot;Default&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;style&quot;:&nbsp;&quot;{\&quot;text-color\&quot;:\&quot;#318b21\&quot;,\&quot;background-color\&quot;:\&quot;#FFFFFF\&quot;}&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;bntyUseKnockout&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;bntyKnockoutValue&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;bntyUseBounty&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;bntyBountyValue&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;bntyUseBountyPro&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;bntyBountyProValue&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;bntyMoneyType&quot;:&nbsp;&quot;R&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;maxEntries&quot;:&nbsp;&quot;1&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;fastFold&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;reEntry&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;ffOccupancy&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;ffMinPlayers&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;ffFinalStageNumPlayers&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;entryUnionNumPlayers&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;sitdownWithoutConfirm&quot;:&nbsp;&quot;1&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;mixedGameTypeName&quot;:&nbsp;&quot;&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;sharedPrizeType&quot;:&nbsp;&quot;_&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;playingTimeoutPrizeType&quot;:&nbsp;&quot;_&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;ipRestrictionMode&quot;:&nbsp;&quot;_&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;gpsRestrictionMode&quot;:&nbsp;&quot;_&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;chineseContinuousPlay&quot;:&nbsp;&quot;_&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;bntyUseProgressiveKnockout&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;bntyProgressiveKnockoutPart&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;isAnteOnlyHoldem&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;rummyCardsOnHand&quot;:&nbsp;&quot;13&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;rummyNumDeals&quot;:&nbsp;&quot;3&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;numDecks&quot;:&nbsp;&quot;1&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;activities&quot;:&nbsp;[]<br>}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td></td>
            <td>2020/01/11 16:27:53</td>
            <td><a href="https://backoffice02.betandbit.net/webadmin-4DJ234s/tournament/edit/id/3488029" title="https://backoffice02.betandbit.net/webadmin-4DJ234s/tournament/edit/id/3488029" style="white-space: nowrap;">…ment/edit/id/3488029</a></td>
            <td>172.58.142.136</td>

        </tr>
        <tr class="even">
            <td>2</td>
            <td><a href="/webadmin/user/info/type/tournament/id/3486546">E5G0KM55</a></td>
            <td><span style="white-space: nowrap;">update</span></td>
            <td>tournament</td>
            <td><a href="/webadmin/tournament/info/type/tournament/id/3488029">The 1.10 Super Turbo (3488029)</a> (3488029)</td>
            <td>
                <span style="word-break: break-all;">
                    {
                    &quot;id&quot;: &quot;3488029&quot;,
                    &quot;name&quot;: &quot;The 1.10 SNG&quot;,
                    &quot;state&quot;: &quot;G&quot;,
                    &quot;buyIn&quot;: &quot;100&quot;,
                    &quot;startDate&quot;: &quo
                </span> <a href="#" data-toggle="modal" data-target="#viewValue5e579d0f3d56e">More…</a>

                <div class="modal fade" id="viewValue5e579d0f3d56e" tabindex="-1" role="dialog"
                     aria-labelledby="viewValue5e579d0f3d56eLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="viewValue5e579d0f3d56eLabel" style="font-size: 18px;">View Value</h4>
                            </div>
                            <div class="modal-body" style="max-height: calc(100vh - 200px); overflow-y: auto;">
                                {<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;id&quot;:&nbsp;&quot;3488029&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;name&quot;:&nbsp;&quot;The&nbsp;1.10&nbsp;SNG&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;state&quot;:&nbsp;&quot;G&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;buyIn&quot;:&nbsp;&quot;100&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;startDate&quot;:&nbsp;&quot;0000-00-00&nbsp;00:00:00&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;gameType&quot;:&nbsp;&quot;72&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;moneyType&quot;:&nbsp;&quot;R&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;speed&quot;:&nbsp;&quot;5&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;levelTime&quot;:&nbsp;&quot;420&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;breakTime&quot;:&nbsp;&quot;300&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;breakPeriod&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;numPlayers&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;engagerId&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;potType&quot;:&nbsp;&quot;U&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;tournamentType&quot;:&nbsp;&quot;G&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;maxPlayers&quot;:&nbsp;&quot;6&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;createdStamp&quot;:&nbsp;&quot;2019-10-12&nbsp;01:57:34&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;creatorId&quot;:&nbsp;&quot;3486546&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;startedStamp&quot;:&nbsp;&quot;0000-00-00&nbsp;00:00:00&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;endedStamp&quot;:&nbsp;&quot;0000-00-00&nbsp;00:00:00&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;regular&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;regularPeriod&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;serverId&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;entryFee&quot;:&nbsp;&quot;10&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;tablesSeats&quot;:&nbsp;&quot;6&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;initialFunds&quot;:&nbsp;&quot;2000&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;registrationDate&quot;:&nbsp;&quot;0000-00-00&nbsp;00:00:00&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;listingBeginDate&quot;:&nbsp;&quot;0000-00-00&nbsp;00:00:00&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;listingEndTime&quot;:&nbsp;&quot;82800&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;listingCancelTime&quot;:&nbsp;&quot;360&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;minPlayers&quot;:&nbsp;&quot;2&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;playTime&quot;:&nbsp;&quot;86100&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;seatingTime&quot;:&nbsp;&quot;90&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;private&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;useForBalance&quot;:&nbsp;&quot;1&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;adminCancel&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;guaranteedPrize&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;protectionPassword&quot;:&nbsp;&quot;&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;playingTimeLimit&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;parentTournamentId&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;numSelectedPlayers&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;minPlayerLevel&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;prize2MoneyType&quot;:&nbsp;&quot;R&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;prize2Amount&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;prize2Players&quot;:&nbsp;&quot;1&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;comment&quot;:&nbsp;&quot;Welcome&nbsp;to&nbsp;the&nbsp;1.10&nbsp;SNG,&nbsp;Top&nbsp;2&nbsp;pay.&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;prize2Distribution&quot;:&nbsp;&quot;S&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;specialPrize&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;tag&quot;:&nbsp;&quot;&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;requirePlayerTag&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;startingBlindAmount&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;blindIncreaseCoeff&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;prizeDistribution&quot;:&nbsp;&quot;T&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;rebuyAllowed&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;rebuy2xAllowed&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;numRebuyAllowed&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;numRebuyTimeLimit&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;numRebuyHiThreshold&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;numRebuyChipsAmount&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;numRebuyChipsCost&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;numAddonAllowed&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;numAddonTimeLimit&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;numAddonChipsAmount&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;numAddonChipsCost&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;numPlayersWithTickets&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;lateRegistrationTimeLimit&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;ticketDistribution&quot;:&nbsp;&quot;&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;finishLateRegistrationAfterFirstPlayerLeftTournament&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;finishLateRegistrationAfterBubble&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;shootout&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;prizeTableName&quot;:&nbsp;&quot;Default&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;specialPrizeDescription&quot;:&nbsp;&quot;&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;ownerId&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;entryMethod&quot;:&nbsp;&quot;M&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;ticketTemplateId&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;colorMark&quot;:&nbsp;&quot;0#318b21&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;useMinPlayerLevelForHide&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;rebuyFee&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;addonFee&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;useGroupActivityFilter&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;levelTableName&quot;:&nbsp;&quot;Default&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;style&quot;:&nbsp;&quot;{\&quot;text-color\&quot;:\&quot;#318b21\&quot;}&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;bntyUseKnockout&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;bntyKnockoutValue&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;bntyUseBounty&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;bntyBountyValue&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;bntyUseBountyPro&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;bntyBountyProValue&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;bntyMoneyType&quot;:&nbsp;&quot;R&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;maxEntries&quot;:&nbsp;&quot;1&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;fastFold&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;reEntry&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;ffOccupancy&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;ffMinPlayers&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;ffFinalStageNumPlayers&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;entryUnionNumPlayers&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;sitdownWithoutConfirm&quot;:&nbsp;&quot;1&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;mixedGameTypeName&quot;:&nbsp;&quot;&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;sharedPrizeType&quot;:&nbsp;&quot;_&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;playingTimeoutPrizeType&quot;:&nbsp;&quot;_&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;ipRestrictionMode&quot;:&nbsp;&quot;_&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;gpsRestrictionMode&quot;:&nbsp;&quot;_&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;chineseContinuousPlay&quot;:&nbsp;&quot;_&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;bntyUseProgressiveKnockout&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;bntyProgressiveKnockoutPart&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;isAnteOnlyHoldem&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;rummyCardsOnHand&quot;:&nbsp;&quot;13&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;rummyNumDeals&quot;:&nbsp;&quot;3&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;numDecks&quot;:&nbsp;&quot;1&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;activities&quot;:&nbsp;[]<br>}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td></td>
            <td>2019/10/20 02:03:37</td>
            <td><a href="https://backoffice02.betandbit.net/webadmin-4DJ234s/tournament/edit/id/3488029" title="https://backoffice02.betandbit.net/webadmin-4DJ234s/tournament/edit/id/3488029" style="white-space: nowrap;">…ment/edit/id/3488029</a></td>
            <td>172.58.142.186</td>

        </tr>
        <tr class="odd">
            <td>3</td>
            <td><a href="/webadmin/user/info/type/tournament/id/3486546">E5G0KM55</a></td>
            <td><span style="white-space: nowrap;">update</span></td>
            <td>tournament</td>
            <td><a href="/webadmin/tournament/info/type/tournament/id/3488029">The 1.10 Super Turbo (3488029)</a> (3488029)</td>
            <td>
                <span style="word-break: break-all;">
                    {
                    &quot;id&quot;: &quot;3488029&quot;,
                    &quot;name&quot;: &quot;The 1.10 Double Up&quot;,
                    &quot;state&quot;: &quot;G&quot;,
                    &quot;buyIn&quot;: &quot;100&quot;,
                    &quot;startDate&quot;
                </span> <a href="#" data-toggle="modal" data-target="#viewValue5e579d0f3e382">More…</a>

                <div class="modal fade" id="viewValue5e579d0f3e382" tabindex="-1" role="dialog"
                     aria-labelledby="viewValue5e579d0f3e382Label">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="viewValue5e579d0f3e382Label" style="font-size: 18px;">View Value</h4>
                            </div>
                            <div class="modal-body" style="max-height: calc(100vh - 200px); overflow-y: auto;">
                                {<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;id&quot;:&nbsp;&quot;3488029&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;name&quot;:&nbsp;&quot;The&nbsp;1.10&nbsp;Double&nbsp;Up&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;state&quot;:&nbsp;&quot;G&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;buyIn&quot;:&nbsp;&quot;100&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;startDate&quot;:&nbsp;&quot;0000-00-00&nbsp;00:00:00&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;gameType&quot;:&nbsp;&quot;72&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;moneyType&quot;:&nbsp;&quot;R&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;speed&quot;:&nbsp;&quot;5&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;levelTime&quot;:&nbsp;&quot;420&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;breakTime&quot;:&nbsp;&quot;300&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;breakPeriod&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;numPlayers&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;engagerId&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;potType&quot;:&nbsp;&quot;U&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;tournamentType&quot;:&nbsp;&quot;G&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;maxPlayers&quot;:&nbsp;&quot;6&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;createdStamp&quot;:&nbsp;&quot;2019-10-12&nbsp;01:57:34&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;creatorId&quot;:&nbsp;&quot;3486546&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;startedStamp&quot;:&nbsp;&quot;0000-00-00&nbsp;00:00:00&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;endedStamp&quot;:&nbsp;&quot;0000-00-00&nbsp;00:00:00&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;regular&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;regularPeriod&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;serverId&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;entryFee&quot;:&nbsp;&quot;10&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;tablesSeats&quot;:&nbsp;&quot;6&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;initialFunds&quot;:&nbsp;&quot;2000&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;registrationDate&quot;:&nbsp;&quot;0000-00-00&nbsp;00:00:00&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;listingBeginDate&quot;:&nbsp;&quot;0000-00-00&nbsp;00:00:00&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;listingEndTime&quot;:&nbsp;&quot;82800&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;listingCancelTime&quot;:&nbsp;&quot;360&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;minPlayers&quot;:&nbsp;&quot;2&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;playTime&quot;:&nbsp;&quot;86100&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;seatingTime&quot;:&nbsp;&quot;90&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;private&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;useForBalance&quot;:&nbsp;&quot;1&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;adminCancel&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;guaranteedPrize&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;protectionPassword&quot;:&nbsp;&quot;&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;playingTimeLimit&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;parentTournamentId&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;numSelectedPlayers&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;minPlayerLevel&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;prize2MoneyType&quot;:&nbsp;&quot;R&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;prize2Amount&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;prize2Players&quot;:&nbsp;&quot;1&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;comment&quot;:&nbsp;&quot;Top&nbsp;3&nbsp;Double&nbsp;up&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;prize2Distribution&quot;:&nbsp;&quot;S&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;specialPrize&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;tag&quot;:&nbsp;&quot;&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;requirePlayerTag&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;startingBlindAmount&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;blindIncreaseCoeff&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;prizeDistribution&quot;:&nbsp;&quot;T&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;rebuyAllowed&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;rebuy2xAllowed&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;numRebuyAllowed&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;numRebuyTimeLimit&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;numRebuyHiThreshold&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;numRebuyChipsAmount&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;numRebuyChipsCost&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;numAddonAllowed&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;numAddonTimeLimit&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;numAddonChipsAmount&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;numAddonChipsCost&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;numPlayersWithTickets&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;lateRegistrationTimeLimit&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;ticketDistribution&quot;:&nbsp;&quot;&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;finishLateRegistrationAfterFirstPlayerLeftTournament&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;finishLateRegistrationAfterBubble&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;shootout&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;prizeTableName&quot;:&nbsp;&quot;Default&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;specialPrizeDescription&quot;:&nbsp;&quot;&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;ownerId&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;entryMethod&quot;:&nbsp;&quot;M&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;ticketTemplateId&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;colorMark&quot;:&nbsp;&quot;0#318b21&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;useMinPlayerLevelForHide&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;rebuyFee&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;addonFee&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;useGroupActivityFilter&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;levelTableName&quot;:&nbsp;&quot;Default&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;style&quot;:&nbsp;&quot;{\&quot;text-color\&quot;:\&quot;#318b21\&quot;}&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;bntyUseKnockout&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;bntyKnockoutValue&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;bntyUseBounty&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;bntyBountyValue&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;bntyUseBountyPro&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;bntyBountyProValue&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;bntyMoneyType&quot;:&nbsp;&quot;R&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;maxEntries&quot;:&nbsp;&quot;1&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;fastFold&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;reEntry&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;ffOccupancy&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;ffMinPlayers&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;ffFinalStageNumPlayers&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;entryUnionNumPlayers&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;sitdownWithoutConfirm&quot;:&nbsp;&quot;1&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;mixedGameTypeName&quot;:&nbsp;&quot;&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;sharedPrizeType&quot;:&nbsp;&quot;_&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;playingTimeoutPrizeType&quot;:&nbsp;&quot;_&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;ipRestrictionMode&quot;:&nbsp;&quot;_&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;gpsRestrictionMode&quot;:&nbsp;&quot;_&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;chineseContinuousPlay&quot;:&nbsp;&quot;_&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;bntyUseProgressiveKnockout&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;bntyProgressiveKnockoutPart&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;isAnteOnlyHoldem&quot;:&nbsp;&quot;0&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;rummyCardsOnHand&quot;:&nbsp;&quot;13&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;rummyNumDeals&quot;:&nbsp;&quot;3&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;numDecks&quot;:&nbsp;&quot;1&quot;,<br>&nbsp;&nbsp;&nbsp;&nbsp;&quot;activities&quot;:&nbsp;[]<br>}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td></td>
            <td>2019/10/12 01:59:02</td>
            <td><a href="https://backoffice02.betandbit.net/webadmin-4DJ234s/tournament/edit/id/3488029" title="https://backoffice02.betandbit.net/webadmin-4DJ234s/tournament/edit/id/3488029" style="white-space: nowrap;">…ment/edit/id/3488029</a></td>
            <td>24.106.126.138</td>

        </tr>
        <tr class="even">
            <td>4</td>
            <td><a href="/webadmin/user/info/type/tournament/id/3486546">E5G0KM55</a></td>
            <td><span style="white-space: nowrap;">create</span></td>
            <td>tournament</td>
            <td><a href="/webadmin/tournament/info/type/tournament/id/3488029">The 1.10 Super Turbo (3488029)</a> (3488029)</td>
            <td></td>
            <td></td>
            <td>2019/10/12 01:57:34</td>
            <td><a href="https://backoffice02.betandbit.net/webadmin-4DJ234s/tournament/add" title="https://backoffice02.betandbit.net/webadmin-4DJ234s/tournament/add" style="white-space: nowrap;">…J234s/tournament/add</a></td>
            <td>24.106.126.138</td>

        </tr>
    </table>
    <div class='rowCount'>
        Number of rows: 4
        &nbsp;|&nbsp;
        Export To:
        <a href="/webadmin/actions-log/index/history/type/tournament/id/3488029/_output/xlsx">Excel</a> | <a href="/webadmin/actions-log/index/history/type/tournament/id/3488029/_output/csv">CSV</a> | <a href="/webadmin/actions-log/index/history/type/tournament/id/3488029/_output/ods">OpenDocument</a>
    </div>
    <div class="paginator-controls" id="blockPaginatorControls">
    </div>
    <div class="limit-controls" style="display: inline-block;">
        <div id="perpage">Per page:</div>
        <select class="limit-links">
            <option data-href="/webadmin/actions-log/index/history/type/tournament/id/3488029/limit/10">10</option>
            <option data-href="/webadmin/actions-log/index/history/type/tournament/id/3488029/limit/25">25</option>
            <option selected data-href="/webadmin/actions-log/index/history/type/tournament/id/3488029/limit/50">50</option>
            <option data-href="/webadmin/actions-log/index/history/type/tournament/id/3488029/limit/100">100</option>
        </select>
    </div>
</div>