﻿
@{
    ViewBag.Title = "TransactionInfo";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Transaction Info</h3>
<div class="row">
    <div class="col-xs-12 col-md-8">
        <div class="box box-default">
            <div class="box-body">
                <table class="table table-bordered table-condensed table-striped">

                    <tbody>
                        <tr>
                            <th>ID:</th>
                            <td>
                                4911101

                            </td>
                        </tr>
                        <tr>
                            <th>Player:</th>
                            <td>
                                <a href="/webadmin/user/info/id/3878471">8E5IIZ66</a>

                            </td>
                        </tr>
                        <tr>
                            <th>Type:</th>
                            <td>
                                Withdrawal

                            </td>
                        </tr>
                        <tr>
                            <th>Sub type:</th>
                            <td>
                                Default

                            </td>
                        </tr>
                        <tr>
                            <th>State:</th>
                            <td>
                                Pending (Money Reserved)

                            </td>
                        </tr>
                        <tr>
                            <th>Date:</th>
                            <td>
                                2020/02/01 11:55:38

                            </td>
                        </tr>
                        <tr>
                            <th>Value:</th>
                            <td>
                                -65.00

                            </td>
                        </tr>
                        <tr>
                            <th>Money type:</th>
                            <td>
                                Real Money

                            </td>
                        </tr>
                        <tr>
                            <th>Linked notes:</th>
                            <td>
                                Bitcoin address: 3Lv25F8WACKGsj2w3tuUoRykbwXJ4jYCiQ

                            </td>
                        </tr>
                        <tr>
                            <th>Linked server:</th>
                            <td>
                                <a href="/webadmin/server/info/id/4899882">4899882</a>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>