﻿
@{
    ViewBag.Title = "UnionList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h3>Unions List</h3>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
        </div>
        <div class="box">
            <div class="box-body">
                <div id="dynamicContent">
                    <div class="custom-dropdown-menu" id="columnsControls">
                    </div>

                    <table id='poker_clubs' class="listing-table" data-dt-not-fixed-cols="true">
                        <thead class="listHead">
                            <tr>
                                <th data-meta-skip-manage='true'>
                                    <div>
                                        <button type="button" class="btn btn-primary custom-dropdown" id="columnControlsBtn">
                                            <img src="img/icons/menu.svg" alt="+">
                                        </button>
                                    </div>
                                </th>
                                <th data-meta-key='id'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="id"
                                           orderType="">
                                            ID
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='name'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="name"
                                           orderType="">
                                            Name
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='owner'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="owner"
                                           orderType="">
                                            Owner
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='members'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="members"
                                           orderType="">
                                            Number of members
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='number_of_active_games'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="number_of_active_games"
                                           orderType="">
                                            Number of Active Games
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='creation_date'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="creation_date"
                                           orderType="">
                                            Creation Date
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='deleted'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="deleted"
                                           orderType="">
                                            Deleted
                                        </a>
                                    </nobr>
                                </th>
                            </tr>
                            <tr class="listFilter">
                                <th>

                                    <button name="butFilter" id="butFilter" type="button">Apply Filter</button>

                                    <button name="butReset" id="butReset" type="button">Reset Filter</button>
                                </th>
                                <th>
                                    <input type="text" name="id" id="id" value="" filter="1" orderable="1" sql="_e.f_search_id" nonHtml="" style="width:50px;" class="filter" />
                                </th>
                                <th>
                                    <input type="text" name="name" id="name" value="" filter="1" orderable="1" sql="_e.f_name" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <input type="text" name="owner" id="owner" value="" filter="1" orderable="1" sql="c.f_owner_player_id" sql_nick="o.f_nick" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <input type="text" name="members" id="members" value="" filter="1" orderable="1" sql="sq.f_members" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <input type="text" name="number_of_active_games" id="number_of_active_games" value="" filter="1" orderable="1" sql="_e.f_id" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <input type="text" name="creation_date" id="creation_date" value="" filter="1" orderable="1" sql="_e.f_created_stamp" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <select name="deleted" id="deleted" filter="1" orderable="1" sql="_e.f_archived" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="1">Yes</option>
                                        <option value="0" selected="selected">No</option>
                                    </select>
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>