﻿
@{
    ViewBag.Title = "UserRole";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Report Name: UserRoles</h3>
<small>Shows users' roles</small>
<br>
<br>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
        </div>
        <div class="box">
            <div class="box-body">
                <div id="dynamicContent">

                    <div class="custom-dropdown-menu" id="columnsControls">
                    </div>

                    <table id='reportGenView-1' class="listing-table" data-dt-not-fixed-cols="true">
                        <thead class="listHead">
                            <tr>
                                <th data-meta-skip-manage='true'>
                                    <div>
                                        <button type="button" class="btn btn-primary custom-dropdown" id="columnControlsBtn">
                                            <img src="img/icons/menu.svg" alt="+">
                                        </button>
                                    </div>
                                </th>
                                <th data-meta-key='f_id'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_id"
                                           orderType="DESC">
                                            Player Id
                                            <img src="img/arrow_up.png" />
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_nick'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_nick"
                                           orderType="">
                                            Player Nick
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_role'
                                    data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_role"
                                           orderType="">
                                            Player Role
                                        </a>
                                    </nobr>
                                </th>
                            </tr>
                            <tr class="listFilter">
                                <th>

                                    <button name="butFilter" id="butFilter" type="button">Apply Filter</button>

                                    <button name="butReset" id="butReset" type="button">Reset Filter</button>
                                </th>
                                <th>
                                    <input type="text" name="f_id" id="f_id" value="" orderable="1" filter="1" sql="f_id" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <input type="text" name="f_nick" id="f_nick" value="" orderable="1" filter="1" sql="f_nick" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <input type="text" name="f_role" id="f_role" value="" orderable="1" filter="1" sql="f_role" nonHtml="" class="filter" />
                                </th>

                            </tr>
                        </thead>


                        <tr class="odd ">
                            <td></td>
                            <td>100</td>
                            <td>admin</td>
                            <td>Administrators</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td></td>
                            <td>300</td>
                            <td>FOLLOFF</td>
                            <td>Administrators</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td></td>
                            <td>2227613</td>
                            <td>LC9HY1MM</td>
                            <td>Players</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="even ">
                            <td></td>
                            <td>3486546</td>
                            <td>E5G0KM55</td>
                            <td>DbRole1</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->



                        <tr class="odd ">
                            <td></td>
                            <td>3486546</td>
                            <td>E5G0KM55</td>
                            <td>Maintenancer</td>

                        </tr>

                        <!-- Collapsable -->
                        <!-- End collapsable -->


                    </table>
                    <div class='rowCount'>
                        <div class="row">
                            <div class="col-md-3">
                                Rows: 5&ensp;|&ensp;
                                <div class="limit-controls" style="display: inline-block;">
                                    <div id="perpage">Per page:</div>
                                    <select class="limit-links">
                                        <option data-href="/webadmin/reportgen/index/viewing/id/1/limit/10">10</option>
                                        <option data-href="/webadmin/reportgen/index/viewing/id/1/limit/25">25</option>
                                        <option selected data-href="/webadmin/reportgen/index/viewing/id/1/limit/50">50</option>
                                        <option data-href="/webadmin/reportgen/index/viewing/id/1/limit/100">100</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-7" style="display: flex; justify-content: center">
                                <div class="paginator-controls" id="blockPaginatorControls">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="pull-right">
                                    <a href="/webadmin/reportgen/index/viewing/id/1/_output/xlsx"><img src="img/icons/xls.svg" alt="Excel"></a>
                                    <a href="/webadmin/reportgen/index/viewing/id/1/_output/csv"><img src="img/icons/csv.svg" alt="CSV"></a>
                                    <a href="/webadmin/reportgen/index/viewing/id/1/_output/ods"><img src="img/icons/odt.svg" alt="OpenDocument" /></a>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>﻿

