﻿
@{
    ViewBag.Title = "UserPlayerTournamentList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Tournament List</h3>
<h4>For player <a href="/webadmin/user/info/id/197341">8G0L62CC</a></h4>
<a href="/webadmin/listing/player-tournaments">Show all</a>
<br />
<div id="dynamicContent">
    <table id='playerTournaments' class="listing-table">
        <thead class="listHead">
            <tr>
                <th data-meta-skip-manage='true'>#</th>
                <th data-meta-key='f_tournament_id' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_tournament_id" orderType="">
                            Tournament
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_out_level' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_out_level" orderType="">
                            Out level
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_place' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_place" orderType="">
                            Place
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_place_to' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_place_to" orderType="">
                            Place to
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_participated' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_participated" orderType="">
                            Participated
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_registered_stamp' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_registered_stamp" orderType="">
                            Registered
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_money_type' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_money_type" orderType="">
                            Money type
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_buy_in' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_buy_in" orderType="">
                            Buy in
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_entry_fee' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_entry_fee" orderType="">
                            Entry fee
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_prize' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_prize" orderType="">
                            Prize
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='buttons' data-meta-visibility="true">
                    <nobr>
                        Actions
                    </nobr>
                </th>
            </tr>
        </thead>
        <thead class="listFilter">
            <tr>
                <th>&nbsp;</th>
                <th>
                    <input type="text" name="f_tournament_id" id="f_tournament_id" value="" filter="1" sql_name="t.f_name" orderable="1" sql="f_tournament_id" nonHtml="" class="filter" />
                </th>
                <th>
                    <input type="text" name="f_out_level" id="f_out_level" value="" filter="1" orderable="1" sql="f_out_level" nonHtml="" class="filter" />
                </th>
                <th>
                    <input type="text" name="f_place" id="f_place" value="" filter="1" orderable="1" sql="f_place" nonHtml="" class="filter" />
                </th>
                <th>
                    <input type="text" name="f_place_to" id="f_place_to" value="" filter="1" orderable="1" sql="f_place_to" nonHtml="" class="filter" />
                </th>
                <th>
                    <select name="f_participated" id="f_participated" filter="1" orderable="1" sql="f_participated" nonHtml="" class="filter">
                        <option value="">-</option>
                        <option value="1">Yes</option>
                        <option value="0">No</option>
                    </select>
                </th>
                <th>
                    <input type="text" name="f_registered_stamp" id="f_registered_stamp" value="" filter="1" sql="pt.f_registered_stamp" orderable="1" nonHtml="" class="filter" readonly="readonly" onclick='displayDatePicker("f_registered_stamp", false, "ymd", "-");' />
                </th>
                <th>
                    <select name="f_money_type" id="f_money_type" filter="1" sql="t.f_money_type" orderable="1" nonHtml="" class="filter">
                        <option value="">-</option>
                        <option value="82">Real Money</option>
                        <option value="80">Play Money</option>
                        <option value="65">cash game points</option>
                    </select>
                </th>
                <th>
                    <input type="text" name="f_buy_in" id="f_buy_in" value="" filter="1" sql="pt.f_buy_in" orderable="1" nonHtml="" class="filter" />
                </th>
                <th>
                    <input type="text" name="f_entry_fee" id="f_entry_fee" value="" filter="1" sql="pt.f_entry_fee" orderable="1" nonHtml="" class="filter" />
                </th>
                <th>
                    <input type="text" name="f_prize" id="f_prize" value="" filter="1" orderable="1" sql="f_prize" nonHtml="" class="filter" />
                </th>
                <th>

                    <button name="butFilter" id="butFilter" type="button">Apply Filter</button>

                    <button name="butReset" id="butReset" type="button">Reset Filter</button>
                </th>

            </tr>
        </thead>

        <tr class="odd">
            <td>1</td>
            <td><a href="/webadmin/tournament/info/id/198820">testopen1z (198820)</a></td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>Yes</td>
            <td>2018/08/08 06:12:14</td>
            <td>Play Money</td>
            <td>2.00</td>
            <td>0.00</td>
            <td>4.00</td>
            <td></td>

        </tr>
    </table>
    <div class='rowCount'>
        Number of rows: 1
        &nbsp;|&nbsp;
        Export To:
        <a href="/webadmin/listing/player-tournaments/id/197341/_output/xlsx">Excel</a> | <a href="/webadmin/listing/player-tournaments/id/197341/_output/csv">CSV</a> | <a href="/webadmin/listing/player-tournaments/id/197341/_output/ods">OpenDocument</a>
    </div>
    <div class="paginator-controls" id="blockPaginatorControls">
    </div>
    <div class="limit-controls" style="display: inline-block;">
        <div id="perpage">Per page:</div>
        <select class="limit-links">
            <option data-href="/webadmin/listing/player-tournaments/id/197341/limit/10">10</option>
            <option data-href="/webadmin/listing/player-tournaments/id/197341/limit/25">25</option>
            <option selected data-href="/webadmin/listing/player-tournaments/id/197341/limit/50">50</option>
            <option data-href="/webadmin/listing/player-tournaments/id/197341/limit/100">100</option>
        </select>
    </div>
</div>

