﻿
@{
    ViewBag.Title = "UserAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Add User <a href="http://docs.evenbetgaming.com/articles/Administration_Panel/Add%20User.html" target="_blank"><sup><i class="fa fa-question-circle"></i></sup></a></h3>
<div class="callout callout-info" style="display: none">
    <p id="response"></p>
</div>
<form id="userForm" jsId="userForm"
      encType="multipart/form-data" method="post" class="center_content">
    <dt id="entityId-label">&#160;</dt>
    <dd id="entityId-element">
        <input type="hidden" name="entityId" value="0" id="entityId" />
    </dd>

    <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
    <div class="panel box box-primary">
        <div class="box-header with-border">
            <h4 class="box-title">
                <a data-toggle="collapse" href="#collapseAccount" class="btn btn-box-tool"><i class="fa fa-minus"></i></a>
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseAccount">Account</a>
                <a href="http://docs.evenbetgaming.com/articles/Administration_Panel/Add%20User.html#account" target="_blank"><sup><i class="fa fa-question-circle"></i></sup></a>
            </h4>
        </div>
        <div id="collapseAccount" class="panel-collapse collapse in">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group" id="form-element-nick">
                            <label for="nick" class="required">Login</label>

                            <input type="text" name="nick" id="nick" value="" maxlength="12" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-password">
                            <label for="password" class="required">Password</label>

                            <input type="password" name="password" id="password" value="" autocomplete="new-password" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-passwordConfirm">
                            <label for="passwordConfirm" class="required">Password Confirmation</label>

                            <input type="password" name="passwordConfirm" id="passwordConfirm" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-verified">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="verified" value="0" /><input type="checkbox" name="verified" id="verified" value="1" />Verified
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="form-element-passwordValidityExpired">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="passwordValidityExpired" value="0" /><input type="checkbox" name="passwordValidityExpired" id="passwordValidityExpired" value="1" />Reset Password
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="form-element-testUser">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="testUser" value="0" /><input type="checkbox" name="testUser" id="testUser" value="1" />Test User
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="form-element-mail">
                            <label for="mail" class="required">Email Address</label>

                            <input type="text" name="mail" id="mail" value="" maxlength="255" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-playerLevel">
                            <label for="playerLevel" class="optional">User Level</label>

                            <select name="playerLevel" id="playerLevel" class="form-control select2">
                                <option value="0" selected="selected">Player</option>
                                <option value="11">Level [05]</option>
                                <option value="1">Level [10]</option>
                                <option value="12">Level [15]</option>
                                <option value="2">Level [20]</option>
                                <option value="13">Level [25]</option>
                                <option value="3">Level [30]</option>
                                <option value="14">Level [35]</option>
                                <option value="4">Level [40]</option>
                                <option value="5">Level [50]</option>
                                <option value="6">Level [60]</option>
                                <option value="7">Level [70]</option>
                                <option value="8">Level [80]</option>
                                <option value="9">Standard II</option>
                                <option value="10">Standard</option>
                            </select>
                        </div>
                        <div class="form-group" id="form-element-roles">
                            <label for="roles" class="optional">Roles</label>

                            <select name="roles[]" id="roles" multiple="multiple" class="form-control select2">
                                <option value="Administrators">Administrator</option>
                                <option value="Players">Players</option>
                                <option value="Financier">Financier</option>
                                <option value="Support">Support</option>
                                <option value="Support_Adm">Support Adm</option>
                                <option value="Content_Manager">Content Manager</option>
                                <option value="Maintenancer">Maintenancer</option>
                                <option value="DbRole1">Tournament Manager</option>
                            </select>
                        </div>
                        <div class="form-group" id="form-element-classification">
                            <label for="classification" class="optional">Classification</label>

                            <select name="classification[]" id="classification" multiple="multiple" class="form-control select2">
                            </select>
                        </div>
                        <div class="form-group" id="form-element-skinId">
                            <label for="skinId" class="required">Skin</label>

                            <select name="skinId" id="skinId" class="form-control select2">
                                <option value="0">Base</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="row">
                        </div>
                        <div class="row">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel box box-primary">
        <div class="box-header with-border">
            <h4 class="box-title">
                <a data-toggle="collapse" href="#collapsePersonalInfoMain" class="btn btn-box-tool"><i class="fa fa-minus"></i></a>
                <a data-toggle="collapse" data-parent="#accordion" href="#collapsePersonalInfoMain">Main</a>
                <a href="http://docs.evenbetgaming.com/articles/Administration_Panel/Add%20User.html#main" target="_blank"><sup><i class="fa fa-question-circle"></i></sup></a>
            </h4>
        </div>
        <div id="collapsePersonalInfoMain" class="panel-collapse collapse in">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-5 col-xs-12">
                        <div class="form-group" id="form-element-name">
                            <label for="name" class="optional">First Name</label>

                            <input type="text" name="name" id="name" value="" maxlength="255" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-familyName">
                            <label for="familyName" class="optional">Last Name</label>

                            <input type="text" name="familyName" id="familyName" value="" maxlength="255" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-middleName">
                            <label for="middleName" class="optional">Middle Name</label>

                            <input type="text" name="middleName" id="middleName" value="" maxlength="255" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-displayName">
                            <label for="displayName" class="optional">Display Name</label>

                            <input type="text" name="displayName" id="displayName" value="" maxlength="255" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-pre">
                            <label for="pre" class="optional">Pre</label>

                            <input type="text" name="pre" id="pre" value="" maxlength="255" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-dob">
                            <label for="dob" class="optional">Date of Birth</label>

                            <input type="text" name="dob" id="dob" value="" max="2020-02-27 09:58:32" min="1920-02-27 00:00:00" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-xs-12">
                        <div class="panel panel-primary">
                            <div class="panel-body">
                                <div class="form-group" id="form-element-gender">
                                    <div id="gender-label"><label class="optional">Gender</label></div>
                                    <div class="radio">
                                        <label><input type="radio" name="gender" id="gender-77" value="77" />Male</label><br /><label><input type="radio" name="gender" id="gender-70" value="70" />Female</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 col-xs-12">
                        <div class="form-group" id="form-element-phoneNumber">
                            <label for="phoneNumber" class="optional">Phone Number</label>

                            <input type="text" name="phoneNumber" id="phoneNumber" value="" maxlength="20" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-phoneNumberVerified">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="phoneNumberVerified" value="0" /><input type="checkbox" name="phoneNumberVerified" id="phoneNumberVerified" value="1" />Phone Number Verified
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel box box-primary">
        <div class="box-header with-border">
            <h4 class="box-title">
                <a data-toggle="collapse" href="#collapseMailingAddress" class="btn btn-box-tool"><i class="fa fa-minus"></i></a>
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseMailingAddress">Mailing Address</a>
                <a href="http://docs.evenbetgaming.com/articles/Administration_Panel/Add%20User.html#mailing-address" target="_blank"><sup><i class="fa fa-question-circle"></i></sup></a>
            </h4>
        </div>
        <div id="collapseMailingAddress" class="panel-collapse collapse in">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-5 col-xs-12">
                        <div class="form-group" id="form-element-countryId">
                            <label for="countryId" class="optional">Country</label>

                            <select name="countryId" id="countryId" maxlength="255" class="form-control select2">
                                <option value="">Select country</option>
                                <option value="1">Abkhazia</option>
                                <option value="2">Australia</option>
                                <option value="3">Austria</option>
                                <option value="4">Azerbaijan</option>
                                <option value="5">Albania</option>
                                <option value="6">Algeria</option>
                                <option value="7">American Samoa</option>
                                <option value="8">Anguilla</option>
                                <option value="9">Angola</option>
                                <option value="10">Andorra</option>
                                <option value="11">Antarctica</option>
                                <option value="12">Antigua and Barbuda</option>
                                <option value="13">Argentina</option>
                                <option value="14">Armenia</option>
                                <option value="15">Aruba</option>
                                <option value="16">Afghanistan</option>
                                <option value="17">Bahamas</option>
                                <option value="18">Bangladesh</option>
                                <option value="19">Barbados</option>
                                <option value="20">Bahrain</option>
                                <option value="21">Belarus</option>
                                <option value="22">Belize</option>
                                <option value="23">Belgium</option>
                                <option value="24">Benin</option>
                                <option value="25">Bermuda</option>
                                <option value="26">Bulgaria</option>
                                <option value="27">Bolivia</option>
                                <option value="28">Bonaire, Sint Eustatius and Saba</option>
                                <option value="29">Bosnia and Herzegovina</option>
                                <option value="30">Botswana</option>
                                <option value="31">Brazil</option>
                                <option value="32">British Indian Ocean Territory</option>
                                <option value="33">Brunei</option>
                                <option value="34">Burkina Faso</option>
                                <option value="35">Burundi</option>
                                <option value="36">Bhutan</option>
                                <option value="37">Vanuatu</option>
                                <option value="38">Hungary</option>
                                <option value="39">Venezuela</option>
                                <option value="40">Virgin Islands, British</option>
                                <option value="41">Virgin Islands, U.S.</option>
                                <option value="42">Vietnam</option>
                                <option value="43">Gabon</option>
                                <option value="44">Haiti</option>
                                <option value="45">Guyana</option>
                                <option value="46">Gambia</option>
                                <option value="47">Ghana</option>
                                <option value="48">Guadeloupe</option>
                                <option value="49">Guatemala</option>
                                <option value="50">Guinea</option>
                                <option value="51">Guinea-Bissau</option>
                                <option value="52">Germany</option>
                                <option value="53">Guernsey</option>
                                <option value="54">Gibraltar</option>
                                <option value="55">Honduras</option>
                                <option value="56">Hong Kong</option>
                                <option value="57">Grenada</option>
                                <option value="58">Greenland</option>
                                <option value="59">Greece</option>
                                <option value="60">Georgia</option>
                                <option value="61">Guam</option>
                                <option value="62">Denmark</option>
                                <option value="63">Jersey</option>
                                <option value="64">Djibouti</option>
                                <option value="65">Dominica</option>
                                <option value="66">Dominican Republic</option>
                                <option value="67">Egypt</option>
                                <option value="68">Zambia</option>
                                <option value="69">Western Sahara</option>
                                <option value="70">Zimbabwe</option>
                                <option value="71">Israel</option>
                                <option value="72">India</option>
                                <option value="73">Indonesia</option>
                                <option value="74">Jordan</option>
                                <option value="75">Iraq</option>
                                <option value="76">Iran</option>
                                <option value="77">Ireland</option>
                                <option value="78">Iceland</option>
                                <option value="79">Spain</option>
                                <option value="80">Italy</option>
                                <option value="81">Yemen</option>
                                <option value="82">Cape Verde</option>
                                <option value="83">Kazakhstan</option>
                                <option value="84">Cambodia</option>
                                <option value="85">Cameroon</option>
                                <option value="86">Canada</option>
                                <option value="87">Qatar</option>
                                <option value="88">Kenya</option>
                                <option value="89">Cyprus</option>
                                <option value="90">Kyrgyzstan</option>
                                <option value="91">Kiribati</option>
                                <option value="92">China</option>
                                <option value="93">Cocos (Keeling) Islands</option>
                                <option value="94">Colombia</option>
                                <option value="95">Comoros</option>
                                <option value="96">Congo</option>
                                <option value="97">Congo, Democratic Republic of the</option>
                                <option value="98">North Korea</option>
                                <option value="99">Korea, Republic of</option>
                                <option value="100">Costa Rica</option>
                                <option value="101">Ivory Coast</option>
                                <option value="102">Cuba</option>
                                <option value="103">Kuwait</option>
                                <option value="104">Curacao</option>
                                <option value="105">Laos</option>
                                <option value="106">Latvia</option>
                                <option value="107">Lesotho</option>
                                <option value="108">Lebanon</option>
                                <option value="109">Libyan Arab Jamahiriya</option>
                                <option value="110">Liberia</option>
                                <option value="111">Liechtenstein</option>
                                <option value="112">Lithuania</option>
                                <option value="113">Luxembourg</option>
                                <option value="114">Mauritius</option>
                                <option value="115">Mauritania</option>
                                <option value="116">Madagascar</option>
                                <option value="117">Mayotte</option>
                                <option value="118">Macao</option>
                                <option value="119">Malawi</option>
                                <option value="120">Malaysia</option>
                                <option value="121">Mali</option>
                                <option value="122">United States Minor Outlying Islands</option>
                                <option value="123">Maldives</option>
                                <option value="124">Malta</option>
                                <option value="125">Morocco</option>
                                <option value="126">Martinique</option>
                                <option value="127">Marshall Islands</option>
                                <option value="128">Mexico</option>
                                <option value="129">Micronesia, Federated States of</option>
                                <option value="130">Mozambique</option>
                                <option value="131">Moldova</option>
                                <option value="132">Monaco</option>
                                <option value="133">Mongolia</option>
                                <option value="134">Montserrat</option>
                                <option value="135">Burma</option>
                                <option value="136">Namibia</option>
                                <option value="137">Nauru</option>
                                <option value="138">Nepal</option>
                                <option value="139">Niger</option>
                                <option value="140">Nigeria</option>
                                <option value="141">Netherlands</option>
                                <option value="142">Nicaragua</option>
                                <option value="143">Niue</option>
                                <option value="144">New Zealand</option>
                                <option value="145">New Caledonia</option>
                                <option value="146">Norway</option>
                                <option value="147">United Arab Emirates</option>
                                <option value="148">Oman</option>
                                <option value="149">Bouvet Island</option>
                                <option value="150">Isle of Man</option>
                                <option value="151">Norfolk Island</option>
                                <option value="152">Christmas Island</option>
                                <option value="153">Heard Island and McDonald Islands</option>
                                <option value="154">Cayman Islands</option>
                                <option value="155">Cook Islands</option>
                                <option value="156">Turks and Caicos Islands</option>
                                <option value="157">Pakistan</option>
                                <option value="158">Palau</option>
                                <option value="159">Palestinian Territory, Occupied</option>
                                <option value="160">Panama</option>
                                <option value="161">Holy See (Vatican City State)</option>
                                <option value="162">Papua New Guinea</option>
                                <option value="163">Paraguay</option>
                                <option value="164">Peru</option>
                                <option value="165">Pitcairn</option>
                                <option value="166">Poland</option>
                                <option value="167">Portugal</option>
                                <option value="168">Puerto Rico</option>
                                <option value="169">Macedonia</option>
                                <option value="170">Reunion</option>
                                <option value="171">Russia</option>
                                <option value="172">Rwanda</option>
                                <option value="173">Romania</option>
                                <option value="174">Samoa</option>
                                <option value="175">San Marino</option>
                                <option value="176">Sao Tome and Principe</option>
                                <option value="177">Saudi Arabia</option>
                                <option value="178">Swaziland</option>
                                <option value="179">Saint Helena, Ascension And Tristan Da Cunha</option>
                                <option value="180">Northern Mariana Islands</option>
                                <option value="181">Saint Barthelemy</option>
                                <option value="182">Saint Martin (French Part)</option>
                                <option value="183">Senegal</option>
                                <option value="184">Saint Vincent and the Grenadines</option>
                                <option value="185">Saint Kitts and Nevis</option>
                                <option value="186">Saint Lucia</option>
                                <option value="187">Saint Pierre and Miquelon</option>
                                <option value="188">Serbia</option>
                                <option value="189">Seychelles</option>
                                <option value="190">Singapore</option>
                                <option value="191">Sint Maarten</option>
                                <option value="192">Syrian Arab Republic</option>
                                <option value="193">Slovakia</option>
                                <option value="194">Slovenia</option>
                                <option value="195">United Kingdom</option>
                                <option value="196">United States</option>
                                <option value="197">Solomon Islands</option>
                                <option value="198">Somalia</option>
                                <option value="199">Sudan</option>
                                <option value="200">Suriname</option>
                                <option value="201">Sierra Leone</option>
                                <option value="202">Tajikistan</option>
                                <option value="203">Thailand</option>
                                <option value="204">Taiwan, Province of China</option>
                                <option value="205">Tanzania, United Republic Of</option>
                                <option value="206">Timor-Leste</option>
                                <option value="207">Togo</option>
                                <option value="208">Tokelau</option>
                                <option value="209">Tonga</option>
                                <option value="210">Trinidad and Tobago</option>
                                <option value="211">Tuvalu</option>
                                <option value="212">Tunisia</option>
                                <option value="213">Turkmenistan</option>
                                <option value="214">Turkey</option>
                                <option value="215">Uganda</option>
                                <option value="216">Uzbekistan</option>
                                <option value="217">Ukraine</option>
                                <option value="218">Wallis and Futuna</option>
                                <option value="219">Uruguay</option>
                                <option value="220">Faroe Islands</option>
                                <option value="221">Fiji</option>
                                <option value="222">Philippines</option>
                                <option value="223">Finland</option>
                                <option value="224">Falkland Islands (Malvinas)</option>
                                <option value="225">France</option>
                                <option value="226">French Guiana</option>
                                <option value="227">French Polynesia</option>
                                <option value="228">French Southern Territories</option>
                                <option value="229">Croatia</option>
                                <option value="230">Central African Republic</option>
                                <option value="231">Chad</option>
                                <option value="232">Montenegro</option>
                                <option value="233">Czech Republic</option>
                                <option value="234">Chile</option>
                                <option value="235">Switzerland</option>
                                <option value="236">Sweden</option>
                                <option value="237">Svalbard and Jan Mayen</option>
                                <option value="238">Sri Lanka</option>
                                <option value="239">Ecuador</option>
                                <option value="240">Equatorial Guinea</option>
                                <option value="241">Aland Islands</option>
                                <option value="242">El Salvador</option>
                                <option value="243">Eritrea</option>
                                <option value="244">Estonia</option>
                                <option value="245">Ethiopia</option>
                                <option value="246">South Africa</option>
                                <option value="247">South Georgia and the South Sandwich Islands</option>
                                <option value="248">South Ossetia</option>
                                <option value="249">South Sudan</option>
                                <option value="250">Jamaica</option>
                                <option value="251">Japan</option>
                            </select>
                        </div>
                        <div class="form-group" id="form-element-city">
                            <label for="city" class="optional">City</label>

                            <input type="text" name="city" id="city" value="" maxlength="127" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-state">
                            <label for="state" class="optional">State</label>

                            <input type="text" name="state" id="state" value="" maxlength="255" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-address">
                            <label for="address" class="optional">Street Address</label>

                            <input type="text" name="address" id="address" value="" maxlength="255" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-zip">
                            <label for="zip" class="optional">Zip/Post Code</label>

                            <input type="text" name="zip" id="zip" value="" maxlength="255" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel box box-primary">
        <div class="box-header with-border">
            <h4 class="box-title">
                <a data-toggle="collapse" href="#collapsePartnerInfo" class="btn btn-box-tool"><i class="fa fa-minus"></i></a>
                <a data-toggle="collapse" data-parent="#accordion" href="#collapsePartnerInfo">Partnership</a>
                <a href="http://docs.evenbetgaming.com/articles/Administration_Panel/Add%20User.html#partnership" target="_blank"><sup><i class="fa fa-question-circle"></i></sup></a>
            </h4>
        </div>
        <div id="collapsePartnerInfo" class="panel-collapse collapse in">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-5 col-xs-12">
                        <div class="form-group" id="form-element-bonusCode">
                            <label for="bonusCode" class="optional">Bonus Code</label>

                            <input type="text" name="bonusCode" id="bonusCode" value="" maxlength="30" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-referredBy">
                            <label for="referredBy" class="optional">Referred By</label>

                            <input type="text" name="referredBy" id="referredBy" value="" maxlength="100" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-externalSystem">
                            <label for="externalSystem" class="optional">External System</label>

                            <select name="externalSystem" id="externalSystem" class="form-control select2">
                                <option value="default" selected="selected">default</option>
                                <option value="facebook">facebook</option>
                                <option value="google">google</option>
                            </select>
                        </div>
                        <div class="form-group" id="form-element-externalId">
                            <label for="externalId" class="optional">External ID</label>

                            <input type="text" name="externalId" id="externalId" value="" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="panel box box-primary">
        <div class="box-header with-border">
            <h4 class="box-title">
                <a data-toggle="collapse" href="#collapseAdvanced" class="btn btn-box-tool"><i class="fa fa-minus"></i></a>
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseAdvanced">Advanced</a>
                <a href="http://docs.evenbetgaming.com/articles/Administration_Panel/Add%20User.html#advanced" target="_blank"><sup><i class="fa fa-question-circle"></i></sup></a>
            </h4>
        </div>
        <div id="collapseAdvanced" class="panel-collapse collapse in">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-5 col-xs-12">
                        <div class="form-group" id="form-element-tag">
                            <label for="tag" class="optional">Tag</label>

                            <input type="text" name="tag" id="tag" value="" maxlength="255" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-tag2">
                            <label for="tag2" class="optional">Tag2</label>

                            <input type="text" name="tag2" id="tag2" value="" maxlength="255" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-notificationLang">
                            <label for="notificationLang" class="optional">Notification Language</label>

                            <input type="text" name="notificationLang" id="notificationLang" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-sendInfoNotifications">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="sendInfoNotifications" value="0" /><input type="checkbox" name="sendInfoNotifications" id="sendInfoNotifications" value="1" />Send Info Notification
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="form-element-sendSystemNotifications">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="sendSystemNotifications" value="0" /><input type="checkbox" name="sendSystemNotifications" id="sendSystemNotifications" value="1" />Send System Notification
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="form-element-pro">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="pro" value="0" /><input type="checkbox" name="pro" id="pro" value="1" />Pro player
                                </label>
                            </div>
                        </div>
                        <div id="proBlock">
                            <div class="form-group" id="form-element-proColor">
                                <label for="proColor" class="optional">Player color</label>
                                <div style="display: flex; align-items: center;">
                                    <input type="text" name="proColor" id="proColor" value="#000000" data-palette="[&quot;#FFFFFF&quot;,&quot;#FFF5EE&quot;,&quot;#FFF9DC&quot;,&quot;#FFFADC&quot;,&quot;#FFFFE0&quot;,&quot;#97FB98&quot;,&quot;#AEEEEE&quot;,&quot;#E0FFFF&quot;,&quot;#E6E6FB&quot;,&quot;#DDA0DC&quot;, &quot;#D3D3D3&quot;,&quot;#FAC0CB&quot;,&quot;#fee4c4&quot;,&quot;#fee4b4&quot;,&quot;#f0e68c&quot;,&quot;#8fee8f&quot;,&quot;#3bb2a9&quot;,&quot;#87cefa&quot;,&quot;#6495ed&quot;,&quot;#ee81ee&quot;, &quot;#c0c0c0&quot;,&quot;#f08080&quot;,&quot;#f4a460&quot;,&quot;#faa503&quot;,&quot;#eee8a9&quot;,&quot;#7efd04&quot;,&quot;#48d0cc&quot;,&quot;#86cdeb&quot;,&quot;#7a68ee&quot;,&quot;#da70d6&quot;, &quot;#808080&quot;,&quot;#f40204&quot;,&quot;#f54502&quot;,&quot;#f88c02&quot;,&quot;#fffc07&quot;,&quot;#4dcd33&quot;,&quot;#8ebb8e&quot;,&quot;#4169e1&quot;,&quot;#6a5acd&quot;,&quot;#ba55d2&quot;, &quot;#696969&quot;,&quot;#dc133d&quot;,&quot;#d2691f&quot;,&quot;#f77f50&quot;,&quot;#fed700&quot;,&quot;#318b21&quot;,&quot;#2f8a58&quot;,&quot;#0a2fff&quot;,&quot;#892ce2&quot;,&quot;#9933cc&quot;, &quot;#2f5050&quot;,&quot;#b12223&quot;,&quot;#8b4513&quot;,&quot;#a0532e&quot;,&quot;#808000&quot;,&quot;#2d8000&quot;,&quot;#2b8a8b&quot;,&quot;#0624cd&quot;,&quot;#493e8b&quot;,&quot;#8b108b&quot;, &quot;#000000&quot;,&quot;#8b0000&quot;,&quot;#800000&quot;,&quot;#a52a2a&quot;,&quot;#566b30&quot;,&quot;#216400&quot;,&quot;#191971&quot;,&quot;#03127f&quot;,&quot;#4c1182&quot;,&quot;#800e80&quot;]" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group" id="form-element-trustedLevel">
                            <label for="trustedLevel" class="optional">Trusted Level</label>

                            <select name="trustedLevel" id="trustedLevel" class="form-control select2">
                                <option value="0">Unknown</option>
                                <option value="1">Trusted</option>
                                <option value="2">Suspicious</option>
                                <option value="3">Cheater</option>
                            </select>
                        </div>
                        <div class="form-group" id="form-element-preferedCurrencyId">
                            <label for="preferedCurrencyId" class="required">Prefered Currency</label>

                            <select name="preferedCurrencyId" id="preferedCurrencyId" class="form-control select2">
                                <option value="0">None</option>
                                <option value="1">Real Money</option>
                                <option value="17">Play Money</option>
                                <option value="18">CGP</option>
                                <option value="22">BTC</option>
                            </select>
                        </div>
                        <div class="form-group" id="form-element-notes">
                            <label for="notes" class="optional">Notes</label>

<textarea name="notes" id="notes" rows="4" class="form-control" cols="80"></textarea>
                        </div>
                        <div class="form-group" id="form-element-privatePlayerRateFloorLevel">
                            <label for="privatePlayerRateFloorLevel" class="optional">Private Player Floor Rate</label>

                            <select name="privatePlayerRateFloorLevel" id="privatePlayerRateFloorLevel" class="form-control select2">
                                <option value="0">None</option>
                                <option value="1">DefaultRateName1</option>
                                <option value="2">Bronze</option>
                                <option value="3">Silver</option>
                                <option value="4">Gold</option>
                                <option value="5">Platinum</option>
                            </select>
                        </div>
                        <div class="form-group" id="form-element-privatePlayerRateFloorExpirationStamp">
                            <label for="privatePlayerRateFloorExpirationStamp" class="optional">Private Player Floor Rate Expiration Date</label>

                            <input type="text" name="privatePlayerRateFloorExpirationStamp" id="privatePlayerRateFloorExpirationStamp" value="" class="form-control" />
                        </div>
                        <div class="form-group" id="form-element-playMoneyBonusBlock">
                            <div class="checkbox">
                                <label>
                                    <input type="hidden" name="playMoneyBonusBlock" value="0" /><input type="checkbox" name="playMoneyBonusBlock" id="playMoneyBonusBlock" value="1" />Play Money Bonus Blocking
                                </label>
                            </div>
                        </div>

                        <div class="modal fade" id="increaseCreditAmountDialog" tabindex="-1" role="dialog"
                             aria-labelledby="viewValueLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title" id="viewValueLabel" style="font-size: 18px;">View Value</h4>
                                    </div>
                                    <div class="modal-body" style="max-height: calc(100vh - 200px); overflow-y: auto;">
                                        <label for='increaseCreditAmount'>
                                            Credit Amount: <input type='text'
                                                                  id='increaseCreditAmount' />
                                        </label><br /><br />
                                        <button id='submit-credit-amount' style='margin: 0 auto;display: block;'>Add</button>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="addonDialog" tabindex="-1" role="dialog"
                             aria-labelledby="viewValueLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body" style="max-height: calc(100vh - 200px); overflow-y: auto;">
                                        <label for='addon'>Add-On: <input type='text' class="form-control" id='addon' /></label><br /><br />
                                        <button id='submit-addon' class="btn btn-default">Add</button>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- /.box-body -->
    <div class=>

        <input type="submit" name="submit" id="submit" value="Add" class="btn btn-primary" />

        <button name="cancelButton" id="cancelButton" type="button" class="btn btn-default">Cancel</button>
    </div>
    <script>
        formCancelButton.init('user/list', 'cancelButton');
    </script>
</form>


<script>
    useractivation.init();
</script>


