﻿
@{
    ViewBag.Title = "UserPlayerTableList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Player Table Game List</h3>
<h4>For player <a href="/webadmin/user/info/id/197341">8G0L62CC</a></h4>
<a href="/webadmin/listing/player-tables">Show all</a>
<br />
<br />

<div id="dynamicContent">
    <table class="listing-table">
        <thead class="listHead">
            <tr>
                <th>#</th>
                <th>
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_table_id" orderType="">
                            Table
                        </a>
                    </nobr>
                </th>
                <th>
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_tournament_id" orderType="">
                            Tournament
                        </a>
                    </nobr>
                </th>
                <th>
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_money_type" orderType="">
                            Money Type
                        </a>
                    </nobr>
                </th>
                <th>
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_pot_type" orderType="">
                            Pot Type
                        </a>
                    </nobr>
                </th>
                <th>
                    <nobr>
                        <a class="headerLink orderLink" orderBy="gamesCount" orderType="">
                            Games Count
                        </a>
                    </nobr>
                </th>
                <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            </tr>
        </thead>
        <thead class="listFilter">
            <tr>
                <th>&nbsp;</th>
                <th>
                    <input type="text" name="f_table_id" id="f_table_id" value="" filter="1" sql_name="t.f_name" orderable="1" sql="f_table_id" nonHtml="" class="filter" />
                </th>
                <th>
                    <input type="text" name="f_tournament_id" id="f_tournament_id" value="" filter="1" sql_name="tour.f_name" orderable="1" sql="f_tournament_id" nonHtml="" class="filter" />
                </th>
                <th>
                    <select name="f_money_type" id="f_money_type" filter="1" sql="t.f_money_type" orderable="1" nonHtml="" class="filter">
                        <option value="">-</option>
                        <option value="82">Real Money</option>
                        <option value="80">Play Money</option>
                        <option value="65">cash game points</option>
                    </select>
                </th>
                <th>
                    <select name="f_pot_type" id="f_pot_type" filter="1" sql="t.f_pot_type" orderable="1" nonHtml="" class="filter">
                        <option value="">-</option>
                        <option value="70">Fixed Limit</option>
                        <option value="85">No Limit</option>
                        <option value="80">Pot Limit</option>
                    </select>
                </th>
                <th>&nbsp;</th>

                <th>

                    <button name="butFilter" id="butFilter" type="button">Apply Filter</button>

                    <button name="butReset" id="butReset" type="button">Reset Filter</button>
                </th>
            </tr>
        </thead>

        <tr class="odd">
            <td>1</td>
            <td><span class="notbold">- (187377)</span></td>
            <td></td>
            <td></td>
            <td></td>
            <td>2</td>

            <td>
                <a href="/webadmin/listing/player-games/id/197341/tableId/187377"><div>View games</div></a>
            </td>
        </tr>
        <tr class="even">
            <td>2</td>
            <td><span class="notbold">- (197412)</span></td>
            <td></td>
            <td></td>
            <td></td>
            <td>8</td>

            <td>
                <a href="/webadmin/listing/player-games/id/197341/tableId/197412"><div>View games</div></a>
            </td>
        </tr>
        <tr class="odd">
            <td>3</td>
            <td><span class="notbold">- (197417)</span></td>
            <td></td>
            <td></td>
            <td></td>
            <td>3</td>

            <td>
                <a href="/webadmin/listing/player-games/id/197341/tableId/197417"><div>View games</div></a>
            </td>
        </tr>
        <tr class="even">
            <td>4</td>
            <td><span class="notbold">- (197421)</span></td>
            <td></td>
            <td></td>
            <td></td>
            <td>6</td>

            <td>
                <a href="/webadmin/listing/player-games/id/197341/tableId/197421"><div>View games</div></a>
            </td>
        </tr>
        <tr class="odd">
            <td>5</td>
            <td><span class="notbold">- (197594)</span></td>
            <td></td>
            <td></td>
            <td></td>
            <td>3</td>

            <td>
                <a href="/webadmin/listing/player-games/id/197341/tableId/197594"><div>View games</div></a>
            </td>
        </tr>
    </table>
    <div class='rowCount'>
        Number of rows: 5
        &nbsp;|&nbsp;
        Export To:
        <a href="/webadmin/listing/player-tables/id/197341/_output/xlsx">Excel</a> | <a href="/webadmin/listing/player-tables/id/197341/_output/csv">CSV</a> | <a href="/webadmin/listing/player-tables/id/197341/_output/ods">OpenDocument</a>
    </div>
    <div class="paginator-controls" id="blockPaginatorControls">
    </div>
    <div class="limit-controls" style="display: inline-block;">
        <div id="perpage">Per page:</div>
        <select class="limit-links">
            <option data-href="/webadmin/listing/player-tables/id/197341/limit/10">10</option>
            <option data-href="/webadmin/listing/player-tables/id/197341/limit/25">25</option>
            <option selected data-href="/webadmin/listing/player-tables/id/197341/limit/50">50</option>
            <option data-href="/webadmin/listing/player-tables/id/197341/limit/100">100</option>
        </select>
    </div>

</div>

