﻿
@{
    ViewBag.Title = "UserPlayerTransactionList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Transaction List <a href="http://docs.evenbetgaming.com/articles/Administration_Panel/Transactions%20List.html" target="_blank"><sup><i class="fa fa-question-circle"></i></sup></a></h3>

<h4>For player <a href="/webadmin/user/info/id/197341">8G0L62CC</a></h4>
<p>
    <a class="btn btn-primary"
       href="/webadmin/listing/player-transactions">Show all</a>
</p>




<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                <div id="dynamicContent">





                    <div class="custom-dropdown-menu" id="columnsControls">
                    </div>

                    <table class="listing-table" id="processedTransactionsTable">
                        <thead class="listHead">
                            <tr>
                                <th data-controls="true" data-meta-skip-manage='true' data-dt-fixed-left="true">
                                    <div>
                                        <button type="button" class="btn btn-primary custom-dropdown" id="columnControlsBtn">
                                            <img src="img/icons/menu.svg" alt="+">
                                        </button>
                                    </div>
                                </th>
                                <th data-meta-key='f_id' data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_id" orderType="">
                                            Id
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_type' data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_type" orderType="">
                                            Type
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_subtype' data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_subtype" orderType="">
                                            Sub type
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_pended' data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_pended" orderType="">
                                            State
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_stamp' data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_stamp" orderType="ASC">
                                            Date
                                            <img src="img/arrow_down.png" />
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_value' data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_value" orderType="">
                                            Value
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_balance_after' data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_balance_after" orderType="">
                                            Balance
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_money_type' data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_money_type" orderType="">
                                            Money type
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='f_param_notes' data-meta-visibility="true">
                                    <nobr>
                                        <a class="headerLink orderLink" orderBy="f_param_notes" orderType="">
                                            Notes
                                        </a>
                                    </nobr>
                                </th>
                                <th data-meta-key='linkedItem'>Linked Item</th>
                            </tr>
                            <tr class="listFilter">
                                <th>
                                    <button name="butFilter" id="butFilter" type="button">Apply Filter</button>
                                    <button name="butReset" id="butReset" type="button">Reset Filter</button>
                                </th>
                                <th>
                                    <input type="text" name="f_id" id="f_id" value="" filter="1" controller="transaction" action="info" sql="mt.f_id" orderable="1" nonHtml="" style="width:50px;" class="filter" />
                                </th>
                                <th>
                                    <select name="f_type" id="f_type" filter="1" orderable="1" sql="f_type" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="95">Unknown</option>
                                        <option value="84">To Table</option>
                                        <option value="70">From Table</option>
                                        <option value="72">Unclaimed Money</option>
                                        <option value="73">Internal Deposit</option>
                                        <option value="74">Internal Deposit Rev</option>
                                        <option value="68">Deposit</option>
                                        <option value="87">Withdrawal</option>
                                        <option value="76">Cancel Withdrawal</option>
                                        <option value="66">Tournament Buy In</option>
                                        <option value="67">Tournament Buy In Rev</option>
                                        <option value="69">Tournament Entry Fee</option>
                                        <option value="71">Tournament Entry Fee Rev</option>
                                        <option value="80">Tournament Prize</option>
                                        <option value="65">Affiliate Payment</option>
                                        <option value="79">To Player</option>
                                        <option value="77">From Player</option>
                                        <option value="75">Rake + Jackpot</option>
                                        <option value="85">Convert Out</option>
                                        <option value="78">Convert In</option>
                                        <option value="86">Convert Rake</option>
                                        <option value="90">Jackpot</option>
                                        <option value="82">Tournament Get Extra Chips</option>
                                        <option value="49">Tournament Refund Extra Chips</option>
                                        <option value="88">Crash Recovery Refund</option>
                                        <option value="81">Jackpot Room Fee</option>
                                        <option value="52">Transfer Fee</option>
                                        <option value="50">Custom In</option>
                                        <option value="51">Custom Out</option>
                                        <option value="500">System Player Internal Deposit</option>
                                        <option value="501">System Player Rev. Internal Deposit</option>
                                        <option value="502">System Player Custom Transaction</option>
                                        <option value="503">System Player Rev. Custom Transaction</option>
                                        <option value="504">Tournament Owner Reserve Guaranteed Prize</option>
                                        <option value="505">Tournament Owner Reserve Prize2</option>
                                        <option value="506">Tournament Owner Guaranteed Prize Remain Return</option>
                                        <option value="507">System Player Trans. Part Of Rake</option>
                                        <option value="508">System Player Balance Correction</option>
                                        <option value="510">Tournament Second Entry Fee</option>
                                        <option value="511">Tournament Second Entry Fee Rev.</option>
                                        <option value="512">External Jackpot Correction</option>
                                        <option value="513">Jackpot Auto TopUp</option>
                                        <option value="520">Ticket To Money</option>
                                        <option value="521">Ticket To Money Rev.</option>
                                        <option value="522">Emit Grant Ticket</option>
                                        <option value="523">Emit Grant Ticket Rev.</option>
                                        <option value="550">System Adjustments</option>
                                        <option value="551">System Adjustments Rev</option>
                                        <option value="560">Tournament Spin Prize Room Part</option>
                                        <option value="570">BankUp Rest Of WinAmount To SystemPlayer</option>
                                        <option value="571">BankUp Payment To Player By SystemPlayer</option>
                                        <option value="572">BankUp Take Money For Payment To Player</option>
                                        <option value="573">BankUp Take Money For Payment To SystemPlayer</option>
                                        <option value="574">BankUp Payment To SystemPlayer By Player</option>
                                        <option value="580">Tournament System Rebuy Fee</option>
                                        <option value="581">Tournament System Rebuy Fee Rev.</option>
                                        <option value="582">Tournament System Addon Fee</option>
                                        <option value="583">Tournament System Addon Fee Rev.</option>
                                        <option value="584">Tournament Rebuy Fee</option>
                                        <option value="585">Tournament Rebuy Fee Rev.</option>
                                        <option value="586">Tournament Addon Fee</option>
                                        <option value="587">Tournament Addon Fee Rev.</option>
                                        <option value="601">Unattended Pair Transaction</option>
                                        <option value="602">Declined From Player</option>
                                        <option value="603">Declined Withdrawal</option>
                                        <option value="604">Pended To Player</option>
                                        <option value="605">Pended Deposit</option>
                                        <option value="606">Pended Tournament Entry Fee</option>
                                        <option value="607">Pended Custom</option>
                                        <option value="608">Pended Custom Rev.</option>
                                        <option value="609">Pended Tournament Second Entry Fee</option>
                                        <option value="610">Pended Transfer Fee</option>
                                        <option value="611">Pended Crash Recovery Refund</option>
                                        <option value="612">Declined Tournament Owner Reserve Guaranteed Prize</option>
                                        <option value="613">Declined Tournament Owner Reserve Prize2</option>
                                        <option value="631">Declined External Wallet Return Cash</option>
                                        <option value="635">Pended External Wallet For Get Cash</option>
                                        <option value="636">External Wallet For Get Cash</option>
                                        <option value="637">Pended External Wallet For Tournament</option>
                                        <option value="638">External Wallet For Tournament</option>
                                        <option value="639">Pended External Wallet For Rebuy/Addon</option>
                                        <option value="640">External Wallet For Rebuy/Addon</option>
                                        <option value="630">External wallet return cash</option>
                                        <option value="632">External wallet reject tournament registration</option>
                                        <option value="641">External wallet for tournament spend</option>
                                        <option value="590">Bounty Tournament Entry Fee</option>
                                        <option value="591">Bounty Tournament Entry Fee Rev.</option>
                                        <option value="593">Bounty Prize From Casino</option>
                                        <option value="592">Knockout Prize</option>
                                        <option value="594">Bounty Prize</option>
                                        <option value="595">Pro Bounty Prize</option>
                                        <option value="53">Insurance comission</option>
                                        <option value="54">Insurance payment</option>
                                        <option value="55">Personalized rake</option>
                                        <option value="652">Government Fee</option>
                                    </select>
                                </th>
                                <th>
                                    <select name="f_subtype" id="f_subtype" filter="1" orderable="1" sql="f_subtype" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="0">Default</option>
                                        <option value="400">CGP Buying</option>
                                        <option value="248">NE Bonus</option>
                                        <option value="249">NE Transfer</option>
                                        <option value="247">Play Money Bonus</option>
                                        <option value="246">Play Money Bonus Compensation</option>
                                        <option value="251">Bonus Battle Prize</option>
                                        <option value="392">Daily Auto Top Up</option>
                                        <option value="2001">Bonus</option>
                                        <option value="2002">Bonus Rev</option>
                                        <option value="2003">Test Bonus</option>
                                        <option value="2004">Test Bonus Rev</option>
                                        <option value="2006">System Balance Adjustments</option>
                                        <option value="2008">Lottery Prize (bonus)</option>
                                        <option value="2009">Lottery Prize (bonus) Rev.</option>
                                        <option value="2010">Affiliate Benefit (bonus)</option>
                                        <option value="2011">Affiliate Benefit (bonus) Rev.</option>
                                        <option value="2012">Player Rakeback (bonus)</option>
                                        <option value="2013">Player Rakeback (bonus) Rev.</option>
                                        <option value="2110">Rental Table. Owner Rake</option>
                                        <option value="2014">Casino debit</option>
                                        <option value="2015">Casino credit</option>
                                        <option value="2016">Casino rollback</option>
                                        <option value="98">Bounty prize</option>
                                        <option value="105">Table buy in commission</option>
                                        <option value="106">Tournament buy in commission</option>
                                        <option value="107">Tournament buy in commission revert</option>
                                        <option value="112">PRO Bounty Prize</option>
                                        <option value="113">RabbitHunting</option>
                                        <option value="1301">Promo. Reward Money</option>
                                        <option value="1302">Promo. Participation Fee</option>
                                        <option value="1101">Rakeback</option>
                                        <option value="10">Redeem Code</option>
                                        <option value="1">Bonus Deposit</option>
                                        <option value="903">Affiliate Profit</option>
                                        <option value="904">Affiliate Profit Rev</option>
                                        <option value="700">Affiliate Insurance Distribution</option>
                                    </select>
                                </th>
                                <th>
                                    <select name="f_pended" id="f_pended" filter="1" orderable="1" sql="f_pended" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="0">Accepted</option>
                                        <option value="1">Pending</option>
                                        <option value="2">Declined</option>
                                        <option value="3">Draft</option>
                                        <option value="4">Pending (Money Reserved)</option>
                                        <option value="9">Revert Declined</option>
                                        <option value="100">Error Comminted</option>
                                        <option value="101">Error Uncommited</option>
                                    </select>
                                </th>
                                <th>
                                    From: <input type="text" name="f_stamp[from]" id="f_stamp[from]" value="" filter="1" style="width: 120px" orderable="1" sql="f_stamp" nonHtml="" class="filter" readonly="readonly" onclick='displayDatePicker("f_stamp[from]", false, "ymd", "-");' /> To: <input type="text" name="f_stamp[to]" id="f_stamp[to]" value="" filter="1" style="width: 120px" orderable="1" sql="f_stamp" nonHtml="" class="filter" readonly="readonly" onclick='displayDatePicker("f_stamp[to]", false, "ymd", "-");' />
                                </th>
                                <th>
                                    <input type="text" name="f_value" id="f_value" value="" filter="1" orderable="1" sql="f_value" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <input type="text" name="f_balance_after" id="f_balance_after" value="" filter="1" orderable="1" sql="f_balance_after" nonHtml="" class="filter" />
                                </th>
                                <th>
                                    <select name="f_money_type" id="f_money_type" filter="1" sql="mt.f_money_type" orderable="1" nonHtml="" class="filter">
                                        <option value="">-</option>
                                        <option value="82">Real Money</option>
                                        <option value="80">Play Money</option>
                                        <option value="65">cash game points</option>
                                    </select>
                                </th>
                                <th>
                                    <input type="text" name="f_param_notes" id="f_param_notes" value="" filter="1" orderable="1" sql="f_param_notes" nonHtml="" class="filter" />
                                </th>

                                <th>&nbsp;</th>
                            </tr>
                        </thead>

                        <tr class="odd">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/198848">
                                    198848
                                </a> &nbsp;
                            </td>
                            <td>Tournament Prize</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2018/08/08 06:16:45</td>
                            <td>4.00</td>
                            <td>5501.46</td>
                            <td>Play Money</td>
                            <td>place: 1</td>


                            <td style="white-space: nowrap;">
                                Tournament:&nbsp;<a href="/webadmin/tournament/info/id/198820">testopen1z (198820)</a>
                            </td>
                        </tr>
                        <tr class="even">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/198826">
                                    198826
                                </a> &nbsp;
                            </td>
                            <td>Tournament Buy In</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2018/08/08 06:12:14</td>
                            <td>-2.00</td>
                            <td>5497.46</td>
                            <td>Play Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Tournament:&nbsp;<a href="/webadmin/tournament/info/id/198820">testopen1z (198820)</a>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/198712">
                                    198712
                                </a> &nbsp;
                            </td>
                            <td>From Table</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2018/08/08 05:48:29</td>
                            <td>0.32</td>
                            <td>5499.46</td>
                            <td>Play Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Table:&nbsp;<span class="notbold">- (197417)</span>
                            </td>
                        </tr>
                        <tr class="even">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/198711">
                                    198711
                                </a> &nbsp;
                            </td>
                            <td>From Table</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2018/08/08 05:48:25</td>
                            <td>0.15</td>
                            <td>5499.14</td>
                            <td>Play Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Table:&nbsp;<span class="notbold">- (197412)</span>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/198709">
                                    198709
                                </a> &nbsp;
                            </td>
                            <td>From Table</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2018/08/08 05:48:17</td>
                            <td>0.14</td>
                            <td>5498.99</td>
                            <td>Play Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Table:&nbsp;<span class="notbold">- (197421)</span>
                            </td>
                        </tr>
                        <tr class="even">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/198705">
                                    198705
                                </a> &nbsp;
                            </td>
                            <td>To Table</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2018/08/08 05:47:18</td>
                            <td>-0.20</td>
                            <td>5498.85</td>
                            <td>Play Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Table:&nbsp;<span class="notbold">- (197421)</span>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/198703">
                                    198703
                                </a> &nbsp;
                            </td>
                            <td>To Table</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2018/08/08 05:47:06</td>
                            <td>-0.40</td>
                            <td>5499.05</td>
                            <td>Play Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Table:&nbsp;<span class="notbold">- (197417)</span>
                            </td>
                        </tr>
                        <tr class="even">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/198697">
                                    198697
                                </a> &nbsp;
                            </td>
                            <td>To Table</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2018/08/08 05:46:56</td>
                            <td>-0.20</td>
                            <td>5499.45</td>
                            <td>Play Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Table:&nbsp;<span class="notbold">- (197412)</span>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/198689">
                                    198689
                                </a> &nbsp;
                            </td>
                            <td>From Table</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2018/08/08 05:46:01</td>
                            <td>0.20</td>
                            <td>5499.65</td>
                            <td>Play Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Table:&nbsp;<span class="notbold">- (197421)</span>
                            </td>
                        </tr>
                        <tr class="even">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/198687">
                                    198687
                                </a> &nbsp;
                            </td>
                            <td>To Table</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2018/08/08 05:45:59</td>
                            <td>-0.20</td>
                            <td>5499.45</td>
                            <td>Play Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Table:&nbsp;<span class="notbold">- (197421)</span>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/198652">
                                    198652
                                </a> &nbsp;
                            </td>
                            <td>To Table</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2018/08/08 05:38:10</td>
                            <td>-0.20</td>
                            <td>5499.65</td>
                            <td>Play Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Table:&nbsp;<span class="notbold">- (197421)</span>
                            </td>
                        </tr>
                        <tr class="even">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/198647">
                                    198647
                                </a> &nbsp;
                            </td>
                            <td>From Table</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2018/08/08 05:37:44</td>
                            <td>3500.00</td>
                            <td>5499.85</td>
                            <td>Play Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Table:&nbsp;<span class="notbold">- (197594)</span>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/198633">
                                    198633
                                </a> &nbsp;
                            </td>
                            <td>To Table</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2018/08/08 05:34:35</td>
                            <td>-4000.00</td>
                            <td>1999.85</td>
                            <td>Play Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Table:&nbsp;<span class="notbold">- (197594)</span>
                            </td>
                        </tr>
                        <tr class="even">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/197605">
                                    197605
                                </a> &nbsp;
                            </td>
                            <td>Deposit</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2018/08/08 05:34:06</td>
                            <td>4000.00</td>
                            <td>5999.85</td>
                            <td>Play Money</td>
                            <td>
                                ;
                            </td>


                            <td style="white-space: nowrap;">
                                Transaction:&nbsp;<a href="/webadmin/transaction/info/id/197604">197604</a>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/197604">
                                    197604
                                </a> &nbsp;
                            </td>
                            <td>Pended Deposit</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2018/08/08 05:34:06</td>
                            <td>0.00</td>
                            <td>1999.85</td>
                            <td>Play Money</td>
                            <td>
                                ;
                            </td>


                            <td style="white-space: nowrap;">
                            </td>
                        </tr>
                        <tr class="even">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/197506">
                                    197506
                                </a> &nbsp;
                            </td>
                            <td>From Table</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2018/08/08 05:12:42</td>
                            <td>0.05</td>
                            <td>1999.85</td>
                            <td>Play Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Table:&nbsp;<span class="notbold">- (197412)</span>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/197462">
                                    197462
                                </a> &nbsp;
                            </td>
                            <td>To Table</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2018/08/08 05:02:57</td>
                            <td>-0.20</td>
                            <td>1999.80</td>
                            <td>Play Money</td>
                            <td></td>


                            <td style="white-space: nowrap;">
                                Table:&nbsp;<span class="notbold">- (197412)</span>
                            </td>
                        </tr>
                        <tr class="even">
                            <td></td>
                            <td>
                                <a href="/webadmin/transaction/info/id/197344">
                                    197344
                                </a> &nbsp;
                            </td>
                            <td>Internal Deposit</td>
                            <td>Default</td>
                            <td>Accepted</td>
                            <td>2018/08/08 04:39:46</td>
                            <td>2000.00</td>
                            <td>2000.00</td>
                            <td>Play Money</td>
                            <td>registration</td>


                            <td style="white-space: nowrap;">
                                Transaction:&nbsp;<a href="/webadmin/transaction/info/id/197342">197342</a>
                            </td>
                        </tr>
                    </table>
                    <div class='rowCount'>
                        <div class="row">
                            <div class="col-md-3">
                                Rows: 18&ensp;|&ensp;
                                <div class="limit-controls" style="display: inline-block;">
                                    <div id="perpage">Per page:</div>
                                    <select class="limit-links">
                                        <option data-href="/webadmin/listing/player-transactions/id/197341/limit/10">10</option>
                                        <option data-href="/webadmin/listing/player-transactions/id/197341/limit/25">25</option>
                                        <option selected data-href="/webadmin/listing/player-transactions/id/197341/limit/50">50</option>
                                        <option data-href="/webadmin/listing/player-transactions/id/197341/limit/100">100</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6" style="display: flex; justify-content: center">
                                <div class="paginator-controls" id="blockPaginatorControls">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="pull-right">
                                    <a href="/webadmin/listing/player-transactions/id/197341/_output/xlsx"><img src="img/icons/xls.svg" alt="Excel"></a>
                                    <a href="/webadmin/listing/player-transactions/id/197341/_output/csv"><img src="img/icons/csv.svg" alt="CSV"></a>
                                    <a href="/webadmin/listing/player-transactions/id/197341/_output/ods"><img src="img/icons/odt.svg" alt="OpenDocument" /></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

