﻿
@{
    ViewBag.Title = "UserPlayerDeviceList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Player Device List</h3>
<h4>For player <a href="/webadmin/user/info/id/100">admin</a></h4>
<a href="/webadmin/listing/player-device-list">Show all</a>
<br />
<br />
<div id="dynamicContent">


    <div class="custom-dropdown-menu" id="columnsControls">
    </div>

    <table id='Poker\TableNavigator\Player\DeviceList' class="listing-table" data-dt-not-fixed-cols="true">
        <thead class="listHead">
            <tr>
                <th data-meta-key='f_unique_id'
                    data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_unique_id"
                           orderType="">
                            Unique ID
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_platform'
                    data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_platform"
                           orderType="">
                            Platform
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_os'
                    data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_os"
                           orderType="">
                            OS
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_os_version'
                    data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_os_version"
                           orderType="">
                            OS Version
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_browser'
                    data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_browser"
                           orderType="">
                            Browser
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_browser_version'
                    data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_browser_version"
                           orderType="">
                            Browser Version
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_mac_address'
                    data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_mac_address"
                           orderType="">
                            Mac Address
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_resolution'
                    data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_resolution"
                           orderType="">
                            Resolution
                        </a>
                    </nobr>
                </th>
                <th data-meta-skip-manage='true'>
                    <div>
                        <button type="button" class="btn btn-primary custom-dropdown" id="columnControlsBtn">
                            <img src="img/icons/menu.svg" alt="+">
                        </button>
                    </div>
                </th>
            </tr>
            <tr class="listFilter">
                <th>
                    <input type="text" name="f_unique_id" id="f_unique_id" value="" filter="1" orderable="1" sql="f_unique_id" nonHtml="" class="filter" />
                </th>
                <th>
                    <select name="f_platform" id="f_platform" filter="1" orderable="1" sql="f_platform" nonHtml="" class="filter">
                        <option value="">-</option>
                        <option value="W">Windows</option>
                        <option value="A">Android</option>
                        <option value="I">iOS</option>
                        <option value="M">mac</option>
                        <option value="H">html5</option>
                    </select>
                </th>
                <th>
                    <select name="f_os" id="f_os" filter="1" orderable="1" sql="f_os" nonHtml="" class="filter">
                        <option value="">-</option>
                        <option value="W">Windows</option>
                        <option value="A">Android</option>
                        <option value="I">iOS</option>
                        <option value="M">mac</option>
                        <option value="L">Linux</option>
                    </select>
                </th>
                <th>
                    <input type="text" name="f_os_version" id="f_os_version" value="" filter="1" style="width: 75px" orderable="1" sql="f_os_version" nonHtml="" class="filter" />
                </th>
                <th>
                    <input type="text" name="f_browser" id="f_browser" value="" filter="1" orderable="1" sql="f_browser" nonHtml="" class="filter" />
                </th>
                <th>
                    <input type="text" name="f_browser_version" id="f_browser_version" value="" filter="1" style="width: 125px" orderable="1" sql="f_browser_version" nonHtml="" class="filter" />
                </th>
                <th>
                    <input type="text" name="f_mac_address" id="f_mac_address" value="" filter="1" orderable="1" sql="f_mac_address" nonHtml="" class="filter" />
                </th>
                <th>
                    <input type="text" name="f_resolution" id="f_resolution" value="" filter="1" orderable="1" sql="f_resolution" nonHtml="" class="filter" />
                </th>
                <th>

                    <button name="butFilter" id="butFilter" type="button">Apply Filter</button>

                    <button name="butReset" id="butReset" type="button">Reset Filter</button>
                </th>

            </tr>
        </thead>


        <tr class="odd ">
            <td>7dc9b83e-f949-4638-8d01-d26a6ed71813</td>
            <td>Windows</td>
            <td>Windows</td>
            <td>10</td>
            <td></td>
            <td>0</td>
            <td>10:F0:05:7F:99:C9</td>
            <td>1920x1080</td>
            <td></td>

        </tr>

        <!-- Collapsable -->
        <!-- End collapsable -->



        <tr class="even ">
            <td>84d6241d9b61c170b8e467245b969b49</td>
            <td>html5</td>
            <td>Windows</td>
            <td>10.0</td>
            <td>C</td>
            <td>77.0.3865.120</td>
            <td></td>
            <td>1920x1080</td>
            <td></td>

        </tr>

        <!-- Collapsable -->
        <!-- End collapsable -->



        <tr class="odd ">
            <td>076ffb072852041886b15e15c4923d07</td>
            <td>html5</td>
            <td>Windows</td>
            <td>10.0</td>
            <td>C</td>
            <td>78.0.3904.70</td>
            <td></td>
            <td>1920x1080</td>
            <td></td>

        </tr>

        <!-- Collapsable -->
        <!-- End collapsable -->



        <tr class="even ">
            <td>076ffb072852041886b15e15c4923d07</td>
            <td>html5</td>
            <td>Windows</td>
            <td>10.0</td>
            <td>C</td>
            <td>78.0.3904.87</td>
            <td></td>
            <td>1920x1080</td>
            <td></td>

        </tr>

        <!-- Collapsable -->
        <!-- End collapsable -->



        <tr class="odd ">
            <td>8324ee783cbd19f5a8177e41d750f72a</td>
            <td>html5</td>
            <td>Android</td>
            <td>9</td>
            <td>C</td>
            <td>78.0.3904.96</td>
            <td></td>
            <td>740x360</td>
            <td></td>

        </tr>

        <!-- Collapsable -->
        <!-- End collapsable -->



        <tr class="even ">
            <td>076ffb072852041886b15e15c4923d07</td>
            <td>html5</td>
            <td>Windows</td>
            <td>10.0</td>
            <td>C</td>
            <td>78.0.3904.97</td>
            <td></td>
            <td>1920x1080</td>
            <td></td>

        </tr>

        <!-- Collapsable -->
        <!-- End collapsable -->



        <tr class="odd ">
            <td>076ffb072852041886b15e15c4923d07</td>
            <td>html5</td>
            <td>Windows</td>
            <td>10.0</td>
            <td>C</td>
            <td>78.0.3904.108</td>
            <td></td>
            <td>1920x1080</td>
            <td></td>

        </tr>

        <!-- Collapsable -->
        <!-- End collapsable -->



        <tr class="even ">
            <td>076ffb072852041886b15e15c4923d07</td>
            <td>html5</td>
            <td>Windows</td>
            <td>10.0</td>
            <td>C</td>
            <td>79.0.3945.117</td>
            <td></td>
            <td>1920x1080</td>
            <td></td>

        </tr>

        <!-- Collapsable -->
        <!-- End collapsable -->



        <tr class="odd ">
            <td>642b35f098fb28cadfa79189c6293b3b</td>
            <td>html5</td>
            <td>mac</td>
            <td>10.14.6</td>
            <td>C</td>
            <td>78.0.3904.97</td>
            <td></td>
            <td>1680x1050</td>
            <td></td>

        </tr>

        <!-- Collapsable -->
        <!-- End collapsable -->



        <tr class="even ">
            <td>1f072df414d47c2c79fed805c74749d9</td>
            <td>html5</td>
            <td>mac</td>
            <td>10.13.6</td>
            <td>S</td>
            <td>11.1.2</td>
            <td></td>
            <td>900x1440</td>
            <td></td>

        </tr>

        <!-- Collapsable -->
        <!-- End collapsable -->



        <tr class="odd ">
            <td>32790e74880d9d4b1346b9ae81390a2f</td>
            <td>html5</td>
            <td>mac</td>
            <td>10.13.6</td>
            <td>S</td>
            <td>11.1.2</td>
            <td></td>
            <td>900x1440</td>
            <td></td>

        </tr>

        <!-- Collapsable -->
        <!-- End collapsable -->



        <tr class="even ">
            <td>cf3297959ce3410b4e3363efcdf9eb58</td>
            <td>html5</td>
            <td>Windows</td>
            <td>10.0</td>
            <td>C</td>
            <td>80.0.3987.116</td>
            <td></td>
            <td>768x1366</td>
            <td></td>

        </tr>

        <!-- Collapsable -->
        <!-- End collapsable -->



        <tr class="odd ">
            <td>ef4f7338599addc12f941df86b0a5fd8</td>
            <td>html5</td>
            <td>mac</td>
            <td>10.13.6</td>
            <td>S</td>
            <td>11.1.2</td>
            <td></td>
            <td>900x1440</td>
            <td></td>

        </tr>

        <!-- Collapsable -->
        <!-- End collapsable -->


    </table>
    <div class='rowCount'>
        <div class="row">
            <div class="col-md-3">
                Rows: 13&ensp;|&ensp;
                <div class="limit-controls" style="display: inline-block;">
                    <div id="perpage">Per page:</div>
                    <select class="limit-links">
                        <option data-href="/webadmin/listing/player-device-list/id/100/limit/10">10</option>
                        <option data-href="/webadmin/listing/player-device-list/id/100/limit/25">25</option>
                        <option selected data-href="/webadmin/listing/player-device-list/id/100/limit/50">50</option>
                        <option data-href="/webadmin/listing/player-device-list/id/100/limit/100">100</option>
                    </select>
                </div>
            </div>
            <div class="col-md-7" style="display: flex; justify-content: center">
                <div class="paginator-controls" id="blockPaginatorControls">
                </div>
            </div>
            <div class="col-md-2">
                <div class="pull-right">
                    <a href="/webadmin/listing/player-device-list/id/100/_output/xlsx"><img src="img/icons/xls.svg" alt="Excel"></a>
                    <a href="/webadmin/listing/player-device-list/id/100/_output/csv"><img src="img/icons/csv.svg" alt="CSV"></a>
                    <a href="/webadmin/listing/player-device-list/id/100/_output/ods"><img src="img/icons/odt.svg" alt="OpenDocument" /></a>
                </div>
            </div>
        </div>
    </div>



</div>
