﻿
@{
    ViewBag.Title = "UserPlayerSessionList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Session List</h3>
<h4>For player <a href="/webadmin/user/info/id/197341">8G0L62CC</a></h4>
<a href="/webadmin/listing/player-sessions">Show all</a>




<br />
<div id="dynamicContent">




    From: <input type="text" name="Start[from]" id="Start[from]" value="" sql="sl.f_start_stamp" skipSelect="" external="1" class="filter" readonly="readonly" onclick='displayDatePicker("Start[from]", false, "ymd", "-");' /> To: <input type="text" name="Start[to]" id="Start[to]" value="" sql="sl.f_start_stamp" skipSelect="" external="1" class="filter" readonly="readonly" onclick='displayDatePicker("Start[to]", false, "ymd", "-");' />
    <p>
        <a href="#" class="btn btn-small" onclick="listing.filter(); return false;">Apply Filter</a>
    </p>
    <table id='playerSessions' class="listing-table">
        <thead class="listHead">
            <tr>
                <th data-meta-skip-manage='true'>#</th>
                <th data-meta-key='f_id' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_id" orderType="DESC">
                            Id
                            <img src="img/arrow_up.png" />
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_ip' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_ip" orderType="">
                            IP
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_int_ip' data-meta-visibility="true">
                    <nobr>
                        Country
                    </nobr>
                </th>
                <th data-meta-key='f_unique_id' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_unique_id" orderType="">
                            Unique Device ID
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_platform' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_platform" orderType="">
                            Device Platform
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_os' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_os" orderType="">
                            Device OS
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_os_version' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_os_version" orderType="">
                            Device OS Version
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_browser' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_browser" orderType="">
                            Device Browser
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_browser_version' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_browser_version" orderType="">
                            Device Browser Version
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_mac_address' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_mac_address" orderType="">
                            Device Mac Address
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_resolution' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_resolution" orderType="">
                            Device Resolution
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_start_stamp' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_start_stamp" orderType="">
                            Start
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_end_stamp' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_end_stamp" orderType="">
                            End
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='duration' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="duration" orderType="">
                            Session Duration
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='f_regular_close' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="f_regular_close" orderType="">
                            Is Regular Closing
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='hands_played' data-meta-visibility="true">
                    <nobr>
                        Hands Played
                    </nobr>
                </th>
                <th data-meta-key='tournaments_played' data-meta-visibility="true">
                    <nobr>
                        Tournaments Played
                    </nobr>
                </th>
                <th data-meta-key='locations' data-meta-visibility="true">
                    <nobr>
                        <a class="headerLink orderLink" orderBy="locations" orderType="">
                            GPS Location
                        </a>
                    </nobr>
                </th>
                <th data-meta-key='buttons' data-meta-visibility="true">
                    <nobr>
                        Actions
                    </nobr>
                </th>
            </tr>
        </thead>
        <thead class="listFilter">
            <tr>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>
                    <input type="text" name="f_ip" id="f_ip" value="" filter="1" sql_ip="sl.f_ip" orderable="1" sql="f_ip" nonHtml="" class="filter" />
                </th>
                <th>&nbsp;</th>
                <th>
                    <input type="text" name="f_unique_id" id="f_unique_id" value="" filter="1" sql="playerDevice.f_unique_id" orderable="1" nonHtml="" class="filter" />
                </th>
                <th>
                    <select name="f_platform" id="f_platform" filter="1" sql="playerDevice.f_platform" orderable="1" nonHtml="" class="filter">
                        <option value="">-</option>
                        <option value="W">Windows</option>
                        <option value="A">Android</option>
                        <option value="I">iOS</option>
                        <option value="M">mac</option>
                        <option value="H">html5</option>
                    </select>
                </th>
                <th>
                    <select name="f_os" id="f_os" filter="1" sql="playerDevice.f_os" orderable="1" nonHtml="" class="filter">
                        <option value="">-</option>
                        <option value="W">Windows</option>
                        <option value="A">Android</option>
                        <option value="I">iOS</option>
                        <option value="M">mac</option>
                        <option value="L">Linux</option>
                    </select>
                </th>
                <th>
                    <input type="text" name="f_os_version" id="f_os_version" value="" filter="1" sql="playerDevice.f_os_version" orderable="1" nonHtml="" class="filter" />
                </th>
                <th>
                    <input type="text" name="f_browser" id="f_browser" value="" filter="1" sql="playerDevice.f_browser" orderable="1" nonHtml="" class="filter" />
                </th>
                <th>
                    <input type="text" name="f_browser_version" id="f_browser_version" value="" filter="1" sql="playerDevice.f_browser_version" orderable="1" nonHtml="" class="filter" />
                </th>
                <th>
                    <input type="text" name="f_mac_address" id="f_mac_address" value="" filter="1" sql="playerDevice.f_mac_address" orderable="1" nonHtml="" class="filter" />
                </th>
                <th>
                    <input type="text" name="f_resolution" id="f_resolution" value="" filter="1" sql="playerDevice.f_resolution" orderable="1" nonHtml="" class="filter" />
                </th>
                <th>
                    <input type="text" name="f_start_stamp" id="f_start_stamp" value="" filter="1" orderable="1" sql="f_start_stamp" nonHtml="" class="filter" readonly="readonly" onclick='displayDatePicker("f_start_stamp", false, "ymd", "-");' />
                </th>
                <th>
                    <input type="text" name="f_end_stamp" id="f_end_stamp" value="" filter="1" orderable="1" sql="f_end_stamp" nonHtml="" class="filter" readonly="readonly" onclick='displayDatePicker("f_end_stamp", false, "ymd", "-");' />
                </th>
                <th>&nbsp;</th>
                <th>
                    <select name="f_regular_close" id="f_regular_close" filter="1" orderable="1" sql="f_regular_close" nonHtml="" class="filter">
                        <option value="">-</option>
                        <option value="1">Yes</option>
                        <option value="0">No</option>
                    </select>
                </th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>

                    <button name="butFilter" id="butFilter" type="button">Apply Filter</button>

                    <button name="butReset" id="butReset" type="button">Reset Filter</button>
                </th>

            </tr>
        </thead>

        <tr class="odd">
            <td>1</td>
            <td>127</td>
            <td>78.109.139.161</td>
            <td>Russian Federation</td>
            <td>22e944c4-e44e-4612-9112-371ca6234261</td>
            <td>Windows</td>
            <td>Windows</td>
            <td>8</td>
            <td></td>
            <td>0</td>
            <td>00:25:22:8F:02:22</td>
            <td>1280x1024</td>
            <td>2018/08/08 04:44:04</td>
            <td>2018/08/08 07:09:48</td>
            <td>2h 25m 44s</td>
            <td>Yes</td>
            <td>22</td>
            <td>1</td>
            <td></td>
            <td></td>

        </tr>
    </table>
    <div class='rowCount'>
        Number of rows: 1
        &nbsp;|&nbsp;
        Export To:
        <a href="/webadmin/listing/player-sessions/id/197341/_output/xlsx">Excel</a> | <a href="/webadmin/listing/player-sessions/id/197341/_output/csv">CSV</a> | <a href="/webadmin/listing/player-sessions/id/197341/_output/ods">OpenDocument</a>
    </div>
    <div class="paginator-controls" id="blockPaginatorControls">
    </div>
    <div class="limit-controls" style="display: inline-block;">
        <div id="perpage">Per page:</div>
        <select class="limit-links">
            <option data-href="/webadmin/listing/player-sessions/id/197341/limit/10">10</option>
            <option data-href="/webadmin/listing/player-sessions/id/197341/limit/25">25</option>
            <option selected data-href="/webadmin/listing/player-sessions/id/197341/limit/50">50</option>
            <option data-href="/webadmin/listing/player-sessions/id/197341/limit/100">100</option>
        </select>
    </div>
</div>

